﻿
@{
    Layout = null;
    //Model.rememberme = Model.rememberme ?? false;
}
 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Meeting</title>
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/assets/img/favicon.png")">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css?v=1.2")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/bootstrap-toggle.min.css?v=1.2")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/font-awesome.min.css?v=1.2")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/alertify.min.css?v=1.2")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/alertify-bootstrap-3.min.css?v=1.2")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/style.min.css?v=1.2")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/admin.min.css?v=1.2")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/responsive.min.css?v=1.2")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/login.min.css?v=1.2")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/site.min.css?v=1.2")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/Dashboard.min.css?v=1.2")">
    <style>
        .app-logo-inner {
            margin-bottom: -12px !important;
            margin-top: 37px !important;
        }
    </style>
</head>
<body style="" cz-shortcut-listen="true">
    <main id="wrapper" class="wrapper">
        <div class="container jumbo-container">
            <div class="row">
                <div class="col-md-1 col-lg-1">
                </div>
                <div class="col-md-10 col-lg-10">
                    <div class="app-logo-inner text-center">
                        <a href="https://taskayak.com/" class="maincolor fnt300">
                            <img src="@Url.Content("~/Content/Images/logo1.png")" />
                        </a>
                    </div>
                    <div class="">
                        <div class="panel-heading"> 
                        </div>
                        <div class="panel-body">
                            <div class="meetings-iframe-container" data-src="https://meetings.hubspot.com/contact1022?embed=true"></div>
                            <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>
                        </div>
                    </div> 
                </div>
                <div class="col-md-1 col-lg-1">
                </div>
            </div>
        </div>
    </main>
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.slimscroll.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-toggle.min.js")"></script>
    <script src="@Url.Content("~/Scripts/alertify.min.js?v=1.2")"></script>
    <script src="@Url.Content("~/Scripts/scripts.min.js?v=1.2")"></script>
    @Scripts.Render("~/bundles/jqueryval")
 
</body>
</html>
