﻿<!DOCTYPE html>
<html lang="en" class="no-mobile no-mac">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/assets/img/favicon.png")">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    @Styles.Render("~/Content/css")
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">
    <script src="@Url.Content("~/Scripts/moment.min.js")"></script>
    <script>
        $(document).ready(function () {
            $(".has-sub>a").on("click", function () {
                if ($(".has-sub").hasClass("sub-open")) {
                    $(".slimScrollBar").css("display", "block");
                } else {
                    $(".slimScrollBar").css("display", "none");
                }
            });
        });
    </script>
    <style>
        .multiselect-container > li > a > label {
            padding: 9px 19px 17px 27px !important;
        }
        .flleft {
            float: left !important;
        }
            .multiselect-container > li > a > label > input[type=checkbox] {
                margin-top: 3px !important;
                margin-right: 10px !important;
                margin-left: -20px !important;
                height: 12px !important;
            }
    </style>
</head>
<body class="has-left-bar has-top-bar new-bar-open" style="" cz-shortcut-listen="true">
    <div class="backdrop" id="backdrop"></div>
    <nav id="left-nav" class="left-nav-bar">
        <div class="nav-top-sec">
            <div class="app-logo">
                <a href="https://taskayak.com/" class="maincolorlayout layoutfnt300"><img src="@Url.Content("~/Content/Images/logo.png")" /></a>
            </div>
            <a href="#" id="bar-setting" class="bar-setting"><i class="fa fa-bars"></i></a>
        </div>
        <div class="nav-bottom-sec">
            <ul class="left-navigation" id="left-navigation">
                <li><a href="/home/index?v=123"><span class="menu-text">Dashboard</span> <span class="menu-thumb"><i class="fas fa-tachometer-alt"></i></span></a></li>
                <li class="has-sub ">
                    <a href="#">
                        <span class="menu-text companymenu">Company</span>
                        <span class="arrow  fa fa-angle-down"></span>
                        <span class="menu-thumb">
                            <i class="fas fa-building"></i>
                        </span>
                    </a>
                    <ul class="sub">
                        <li><a href="/client/index?v=1"><span class="menu-text clientmenu">Client</span><span class="menu-thumb"><i class="fas fa-handshake fn15"></i></span></a></li>
                        <li><a href="/partners/index?v=1"><span class="menu-text partnermenu">Partner</span><span class="menu-thumb"><i class="fas fa-people-arrows fn15"></i></span></a></li>
                        <li><a href="/Contractor/index?v=1"><span class="menu-text itcmnymeny">Contractor</span><span class="menu-thumb"><i class="fa fa-user-plus fn15"></i></span></a></li>
                    </ul>
                </li>
                <li><a href="/users/index?v=1"><span class="menu-text usermenu">User</span> <span class="menu-thumb"><i class="fa fa-users"></i></span></a></li>
                <li><a href="/project/index?v=1"><span class="menu-text projectmenu">Project</span> <span class="menu-thumb"><i class="fas fa-tasks"></i></span></a></li>
                <li><a href="/offer/index?v=1"><span class="menu-text offermenu">Offer</span> <span class="menu-thumb"><i class="ft-19 fas fa-hand-holding-usd"></i></span></a></li>
                <li><a href="/jobs/index?v=1"><span class="menu-text jobmenu">Job</span> <span class="menu-thumb"><i class="fa fa-suitcase"></i></span></a></li>
                <li><a href="/pay/index?v=1"><span class="menu-text paymenu">Pay</span> <span class="menu-thumb"><i class="ft-19 fas fa-dollar-sign"></i></span></a></li>
                <li><a href="/notice_board/index?v=1"><span class="menu-text mesgmenu">Message</span> <span class="menu-thumb"><i class="fa fa-sticky-note"></i></span></a></li>
                <li class="has-sub ">
                    <a href="#"><span class="menu-text settingmenu">Setting</span> <span class="arrow fa fa-angle-down"></span><span class="menu-thumb"><i class="fa fa-cogs"></i></span></a>
                    <ul class="sub">
                        <li><a href="/Permission/index?v=1"><span class="menu-text rolesmenu">Permission</span><span class="menu-thumb"><i class="fa fa-user-secret fn15"></i></span></a></li>
                        <li><a href="/skills/index?v=1"><span class="menu-text skillmenu">Skill </span><span class="menu-thumb"><i class="fa fa-graduation-cap fn15"></i></span></a></li>
                        <li><a href="/template/index?v=1"><span class="menu-text  templatemenu">Template</span><span class="menu-thumb"><i class="fas fa-file-signature fn15"></i></span></a></li>
                        <li><a href="/tools/index?v=1"><span class="menu-text toolsmenu">Tool</span><span class="menu-thumb"><i class="fa fa-wrench fn15"></i></span></a></li>
                        <li><a href="/tool_type/index?v=1"><span class="menu-text tooltypemenu">Tool-Type</span> <span class="menu-thumb"><i class="fa fa-gavel fn15"></i></span></a></li>
                        <li><a href="/document/index?v=1"><span class="menu-text doctypemenu">Doc-Type</span> <span class="menu-thumb"><i class="fa fa-clipboard fn15"></i></span></a></li>
                        <li><a href="/reminder/index?v=1"><span class="menu-text remindermenu">Reminder</span> <span class="menu-thumb"><i class="fa fa-bell fn15"></i></span></a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </nav>
    <main id="wrapper" class="wrapper">
        <div class="top-bar clearfix">
            <div class="navbar-right">
                <div class="clearfix">
                    @Html.Action("getprofile", "home")
                </div>
            </div>
        </div>
        <section class="wrapper-bottom-sec">
            @RenderBody()
        </section>
    </main>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)

</body>
</html>
