﻿

@{
    Layout = null;
    //Model.rememberme = Model.rememberme ?? false;
}
@model hrm.Models.loginmodal
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Convo-404</title>
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/assets/img/favicon.png")">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/bootstrap-toggle.min.css")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/font-awesome.min.css")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/alertify.css")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/alertify-bootstrap-3.css")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/style.css")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/admin.css")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/responsive.css")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/login.css")">
    
</head>
<body style="" cz-shortcut-listen="true">
    <main id="wrapper" class="wrapper">
        @*<a href="https://hrm.coderpixel.com/apply-job" class="btn btn-success pull-right m-30">Apply Job</a>*@
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body p-none">
                            <div class="col-md-12" style="text-align: center;font-size: 17px;">
                                <h2 style="font-size: 255px;color: #D9AE7E;">
                                    404
                                </h2><p style="padding: 40px;padding-bottom: 30px;text-align:justify;padding-top:5px;">
                                         <b>The page you are seeking cannot be found:</b><br />
    The page you are looking for might have been removed, had its name<br />
    changed, or is temporarily unavailable.<br />
    Please try the following:<br />
    * If you typed the page address in the Address bar, make sure that it is spelled correctly.<br />
    * Open the <a href="https://www.taskayak.com">www.taskayak.com</a> , and then look for links to the information you want.<br />
    * Click the Back button to try another link.<br />



</p>
                            </div>
                        </div>
                    </div>
                 
                </div>
            </div>
        </div>
    </main>

    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>

    <script src="@Url.Content("~/Scripts/jquery.slimscroll.min.js")"></script>

    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>

    <script src="@Url.Content("~/Scripts/bootstrap-toggle.min.js")"></script>

    <script src="@Url.Content("~/Scripts/alertify.js")"></script>

    <script src="@Url.Content("~/Scripts/scripts.js")"></script>
    @Scripts.Render("~/bundles/jqueryval")
    
   
</body>
</html>