﻿
@{
    ViewBag.Title = "404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="p-10">
    @*<h2 class="page-title">Job List</h2>*@
</div>
<div class="p-30 p-t-none p-b-none">


    <div class="row">
        <div class="col-lg-12">
            <div class="panel">
                <div class="panel-body p-none">
                    <div class="col-md-12" style="text-align: center;font-size: 17px;">
                        <h2 style="font-size: 255px;color: #D9AE7E;">
                            404
                        </h2><p style="padding: 40px;padding-bottom:50px;padding-top:0px;">
                            <b>The page you are seeking cannot be found:</b><br />
                            The page you are looking for might have been removed, had its name<br />
                            changed, or is temporarily unavailable.<br />
                            <a href="https://www.taskayak.com/home/index">click the following</a> link to redirect to Dashboard

                        </p>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

