﻿
@{
    ViewBag.Title = "401";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="p-10">
    @*<h2 class="page-title">Job List</h2>*@
</div>
<div class="p-30 p-t-none p-b-none">


    <div class="row">
        <div class="col-lg-12">
            <div class="panel">
                <div class="panel-body p-none">
                    <div class="col-md-12" style="text-align: center;font-size: 21px;">
                        <h2 style="font-size: 255px;color: #D9AE7E;">
                            401
                        </h2><p style="padding: 40px;padding-bottom: 90px;">
                            You have attempted to access a page for which you are not authorized.<br>
                            <a href="https://www.taskayak.com/home/index">click the following</a> link to redirect to Dashboard
                           
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

