﻿
@{
    ViewBag.Title = "Create New Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int t = 0;
    int s = 0;
}
<link href="@Url.Content("~/Content/project/project_add.min.css?v=1.4")" rel="stylesheet" />
@model hrm.Models.ProjectModal
<div class="p-10">
</div>
<div class="p-30 p-t-none p-b-none">
    @if (!string.IsNullOrEmpty(Model.error_text))
    {
        <span id="alert" style="display:none;" data-class="@Model.alertclass" data-text="@Model.error_text"></span>
    }
    <div class="row">
        <div class="col-lg-8">
            <div class="panel">
                <div class="panel-heading formpanel-heading">
                    <div class="col-md-6 col-sm-6">
                        <h3 class="panel-title" style="padding-left:20px;">
                            Create New Project
                        </h3>
                    </div>
                    <div class="col-md-6 col-sm-6 topbuttondiv" style="padding-right: 27px;">
                        <a class="btn btn-success btn-sm pull-right" href="@Url.Action("index","project",new { v=1215})">
                            <i class="fa fa-arrow-left"></i> Project List
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("add", "project", FormMethod.Post, new { @id = "frmproject" }))
                    {
                        <div id="toolAdd" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Select Tool</h4>
                                    </div>
                                    <div class="modal-body " style="overflow-y: scroll;">
                                        @foreach (var item in Model._tools)
                                        {<div class="form-group col-md-2 round">

                                                <input type="checkbox" name="tools" id="t_@item.ToolId" value="@item.ToolId" />
                                                <span data-toggle="tooltip" data-placement="top" title="@item.Name">@(item.Name.Count() > 10 ? item.Name.Substring(0, 9) + ".." : item.Name)</span>
                                                <label for="checkbox" class="cuschk" data-id="t_@item.ToolId"></label>
                                            </div>
                                            t = t + 1;
                                            if (t >= 6)
                                            {<div class="clearfix"></div>
                                                t = 0;
                                            }
                                        }
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-success" onclick="AddToolscloseModal()"><i class="fa fa-save"></i> Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="skillAdd" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Select Skill</h4>
                                    </div>
                                    <div class="modal-body " style="overflow-y: scroll;">
                                        @foreach (var item in Model._skills)
                                        {<div class="form-group col-md-2 round">
                                                <input type="checkbox" name="skills" id="s_@item.SkillId" value="@item.SkillId" />
                                                <span data-toggle="tooltip" data-placement="top" title="@item.Name">@(item.Name.Count() > 10 ? item.Name.Substring(0, 9) + ".." : item.Name)</span>
                                                <label for="checkbox" class="cuschk" data-id="s_@item.SkillId"></label>
                                            </div>
                                            s = s + 1;
                                            if (s >= 6)
                                            {<div class="clearfix"></div>
                                                s = 0;
                                            }
                                        }
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-success" onclick="AddskillscloseModal()"><i class="fa fa-save"></i> Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="screeningAdd" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog modal-dialogsml" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Select Screening</h4>
                                    </div>
                                    <div class="modal-body ">
                                        <div class="form-group col-md-6 round">
                                            <input type="checkbox" name="screening" id="s1" value="background" />
                                            Background
                                            <label for="checkbox" class="cuschk" data-id="s1"></label>
                                        </div>
                                        <div class="form-group col-md-6 round">
                                            <input type="checkbox" name="screening" id="s2" value="drug" />Drug
                                            <label for="checkbox" class="cuschk" data-id="s2"></label>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-success" onclick="AddscreeningcloseModal()"><i class="fa fa-save"></i> Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Project ID</label>
                            @Html.TextBoxFor(a => a.ProjectId, new { @class = "form-control capitalize", @maxlength = "4", @readonly = "readonly" })
                            @Html.ValidationMessageFor(a => a.ProjectId)
                        </div>
                        <div class="form-group col-md-8">
                            <label>Title</label>
                            @Html.TextBoxFor(a => a.title, new { @class = "form-control capitalize" })
                            @Html.ValidationMessageFor(a => a.title)
                        </div>
                        <div class="form-group col-md-4">
                            <label>Client</label>
                            <select class="  form-control width100" data-live-search="true" id="clientId" name="clientId">
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Client Manager</label>
                            <select class="  form-control width100" data-live-search="true" id="client_manager" name="clientManagerId">
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Project Manager</label>
                            <select class="  form-control width100" data-live-search="true" id="Project_managers" name="projectManagerId">
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="el3">Email</label>
                            @Html.TextBoxFor(a => a.email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.email)
                        </div>
                        <div class="form-group col-md-6">
                            <label>Status </label>
                            <select class="selectpicker width100 form-control" name="status">
                                <option value="1">Open</option>
                                <option value="2">Close</option>
                            </select>
                        </div>
                        <div class="form-group col-md-12" style="margin-top: 14px;">
                            <label style="width:100%;">Required Items </label>
                            <a href="#" onclick="Tooladd()" class="btn btn-action brd0"><i class="fa fa-plus pdr-10"></i>Tools ( <span class="dg" id="toolspan">0</span> )</a>
                            <a href="#" class="btn btn-action brd0" onclick="Skilladd()"><i class="fa fa-plus  pdr-10"></i>Skills  ( <span class="dg" id="skillspan">0</span> )</a>
                            <select class="form-control brd0 " name="Screening" id="Screening" multiple="multiple">
                                <option value="1">Background</option>
                                <option value="2">Drug</option>
                            </select>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="el3">Description</label>
                            @Html.TextAreaFor(a => a.description, new { @class = "textarea-wysihtml5 form-control", @rows = "6" })
                        </div>
                        <div class="form-group col-md-12">
                            <label for="el3">Special Instructions</label>
                            @Html.TextAreaFor(a => a.specialInstruction, new { @class = "textarea-wysihtml5 form-control", @rows = "6" })
                        </div>
                        <div class="form-group col-md-12">
                            <button type="submit" class="btn btn-success btn-sm pull-right"><i class="fa fa-save"></i> Save </button>
                        </div>}
                </div>
            </div>
        </div>
    </div>
</div> 
<script src="@Url.Content("~/Content/project/project_add.min.js?v=1.2")"></script>