﻿
@{
    ViewBag.Title = "Project List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model hrm.Models.ProjectModal
<link href="@Url.Content("~/Content/Project/index.min.css?v=1.0")" rel="stylesheet" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.css" />
<div class="p-10">
</div>
 
<div class="p-30 p-t-none p-b-none">
    @if (!string.IsNullOrEmpty(Model.error_text))
    {
        <span id="alert" style="display:none;" data-class="@Model.alertclass" data-text="@Model.error_text"></span>
    }
    <div id="mdlstatus" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Status</h4>
                </div>
                @using (Html.BeginForm("update_pay", "pay", FormMethod.Post, new { @id = "frmpaystatus" }))
                {<div class="modal-body">

                        <div class="form-group">
                            <input type="hidden" name="mid" id="mid" />
                            <input type="hidden" id="jobcount" />
                            <input type="hidden" id="offercount" />
                            <label>Project status</label>
                            <select class="selectpicker form-control " data-live-search="true" name="mstatusid" id="mstatusid">
                                <option value="0">Status</option>
                                <option value="1">Open</option>
                                <option value="2">Close</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" onclick="updatestatus()" class="btn btn-success"><i class="fa fa-save"></i> Update</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-times-circle"></i> Close</button>
                    </div>
                }
            </div>
        </div>
    </div> 
    <div class="row">
        <div class="box mainbox customheight" style="display: none;" id="FilterSlide">
            @using (Html.BeginForm("offer", "import", FormMethod.Post, new { @id = "frmimport", @enctype = "multipart/form-data" }))
            {
            <div class="box-inner">
                <div class="col-md-12">
                    <h3 class="pull-left panel-title" style="padding-left: 14px !important;    padding-top: 10px;">Open filters</h3>
                    <button type="button" class="close closebox" aria-label="Close" autocomplete="random"><span aria-hidden="true">×</span></button>
                </div>
                <div class="clearfix"></div>
                <hr class="mt9" />
                <div class="clearfix"></div>
                <div class="col-md-12" id="Filter_date_div" style="display:@(!string.IsNullOrEmpty(Model.f_date)?"block":"none")">
                    <div class="col-md-9">
                        <div class="form-group">
                            <input type="text" name="date" id="date" value="@Model.f_date" class="form-control dateRangePicker" style="width:200px;" placeholder="Date range" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <button type="button" class="close  " onclick="ClearText('date','date',true)" aria-label="Close" autocomplete="random"><span aria-hidden="true">×</span></button>
                        </div>
                    </div>
                </div> <div class="clearfix"></div>
                <div class="col-md-12" id="Filter_pmanager_div" style="display:@(Model.f_pmanager!=0?"block":"none")">
                    <div class="col-md-9">
                        <select class="selectpicker form-control FilterSelect" onchange="TriggerFilter()" data-live-search="true" id="Project_managers" name="projectManagerId" data-width="fit">
                            <option value="0">Project manager</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="close  " onclick="ClearSingleDropDown('pmanager','Project_managers',true)" aria-label="Close" autocomplete="random"><span aria-hidden="true">×</span></button>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12" id="Filter_screening_div" style="display:@(Model.f_Screening!=0?"block":"none")">
                    <div class="col-md-9">
                        <select class="selectpicker form-control FilterSelect" onchange="TriggerFilter()" id="screening" data-width="fit">
                            <option @(Model.f_Screening == 0 ? "selected" : "") value="0">Screening</option>
                            <option @(Model.f_Screening == 1 ? "selected" : "") value="1">Background</option>
                            <option @(Model.f_Screening == 2 ? "selected" : "") value="2">Drug</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="close  " onclick="ClearSingleDropDown('screening','screening',true)" aria-label="Close" autocomplete="random"><span aria-hidden="true">×</span></button>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12 pdtb-1520">
                    <div class="col-md-6 pull-left">
                        <button class="btn btn-default" type="button" onclick="FilterTable()">Save view</button>
                    </div>
                    <div class="col-md-6 pull-right">
                        <a href="#" onclick="ClearFilter()" class="btn btn-default pull-right">Clear search</a>
                    </div>
                </div>
                <div class="clearfix"></div>

                <hr class="mt9" />
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <h3 class="pull-left panel-title" style="padding-left: 14px !important;padding-bottom: 25px;padding-top:15px;">Available filters</h3>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12 sendoffer">
                    <div class="col-md-12 round ">
                        <input class="inputbox3" name="messagetype" @(!string.IsNullOrEmpty(Model.f_date) ? "checked" : "") value="1" type="checkbox" id="chk_date" /> Date range
                        <label for="checkbox" class="@(!string.IsNullOrEmpty(Model.f_date)?"bck":"") FilterCheck" id="bck_chk_date" data-element="date" data-div="Filter_date_div" data-type="1" data-id="chk_date"></label>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12 sendoffer">
                    <div class="col-md-12 round ">
                        <input class="inputbox3" name="messagetype" @(Model.f_pmanager != 0 ? "checked" : "") value="1" type="checkbox" id="chk_pmanager" /> Project Manager
                        <label for="checkbox" class="@(Model.f_pmanager!=0?"bck":"")  FilterCheck" data-id="chk_pmanager" id="bck_chk_pmanager" data-element="Project_managers" data-div="Filter_pmanager_div" data-type="2"></label>
                    </div>
                </div>
                <div class="clearfix"></div><div class="col-md-12 sendoffer">
                    <div class="col-md-12 round ">
                        <input class="inputbox3" name="messagetype" @(Model.f_Screening != 0 ? "checked" : "") value="1" type="checkbox" id="chk_screening" /> Screening
                        <label for="checkbox" class=" FilterCheck   @(Model.f_Screening!=0?"bck":"")" id="bck_chk_screening" data-id="chk_screening" data-element="screening" data-div="Filter_screening_div" data-type="2"></label>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            }
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="col-md-6 col-sm-6">
                        <h3 class="panel-title pdleft7 flleft">
                           Projects
                        </h3>
                        <span style="display: @(Model.f_isActiveFilter == true?"block":"none");margin-left: 8px;" id="filterpopup" class="flleft badge badge-success alert-success"> <i class="fa fa-check" aria-hidden="true"></i> Filter </span>
                    </div>
                    <div class="col-md-6 col-sm-6 topbuttondiv">
                        <a class="btn btn-success btn-sm pull-right" href="@Url.Action("add", "project")">
                            <i class="fa fa-plus"></i> Add project
                        </a>
                    </div>
                </div>
                <div class="panel-body p-none">
                    <div class="custom-col-md-12" id="filter_div" style="display:none;">
                        @using (Html.BeginForm("index", "jobs", FormMethod.Post, new { @class = "form-some-up", @id = "frmsendsms" }))
                        {
                            <table class="table table-hover filter_table_user filter_table nowrap no-footer table-ultra-responsive-custome">
                                <tbody>
                                    <tr>
                                        <td>
                                            <select onchange="TriggerFilter()" class="form-control filter FilterSelect CustomHeight" data-live-search="true" name="cclient" id="cclient"   data-height="79" data-width="fit">
                                                <option value="0">Client</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select onchange="TriggerFilter()" class="form-control filter FilterSelect selectpicker" data-width="fit" data-live-search="true" id="client_manager" name="clientManagerId">
                                                <option value="0">Client manager</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select onchange="TriggerFilter()" class="selectpicker filter form-control FilterSelect" id="Status" data-width="fit">
                                                <option @(Model.f_Status == 0 ? "selected" : "") value="0">Status</option>
                                                <option @(Model.f_Status == 1 ? "selected" : "") value="1">Open</option>
                                                <option @(Model.f_Status == 2 ? "selected" : "") value="2">Close</option>
                                            </select>
                                        </td>
                                        <td class="MoreFilter" style="padding-top:16px !important;">
                                            <a href="#" onclick="FilterOpen()">More filter</a>
                                        </td>
                                        <td>
                                            <button class="btn btn-default" type="button" onclick="FilterTable()">Save view</button>
                                        </td>
                                        <td>
                                            <a href="#" onclick="ClearFilter()" class="btn btn-default pull-right">Clear Search</a>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        }
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="panel-body p-none">
                    <div class="table-ultra-responsive custompadding-table">
                        <table class="table table-condensed nowrap data-table table-hover dataTable no-footer" id="table">
                            <thead>
                                <tr role="row">
                                    <th>ID</th>
                                    <th>Title</th>
                                    <th style="text-align:center">Offer | Job</th>
                                    <th>Client</th>
                                    <th>Client manager</th>
                                    <th>Project manager</th>
                                    <th style="text-align:center">Reminder</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var pageSize = '@Model.f_length';
    var otable;
    var searchtype = 0;
    var viewpermission = '@Model.PERMISSIONS.Contains(5126).ToString().ToUpper()';
    var editpermission = '@Model.PERMISSIONS.Contains(5127).ToString().ToUpper()';
    var deletepermission = '@Model.PERMISSIONS.Contains(5128).ToString().ToUpper()';
    var client = '@Model.f_cclient';
    var f_pmanager = '@Model.f_pmanager';
    var cmanager = '@Model.f_cmanager';
</script>
<script src="@Url.Content("~/Content/Project/index.min.js?v=2.9")"></script>
<script> 
     @*get_Manager_selectbyid('Manager', 'cProjectManager', '@PmanagerId', 'PM');*@ 
</script>
 