﻿
@{
    ViewBag.Title = Model.title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    int techreminder = 1, techreminderli = 1, disreminder = 1, disreminderli = 1;
    string _class = "active";
    int userType = Model.f_userType;
    int techTabId = userType == 1 ? Model.f_reminderId : 0;
    int dispatcherTabId = userType == 2 ? Model.f_reminderId : 0;
}
@model hrm.Models.ProjectModal
<link href="@Url.Content("~/Content/project/project_view.min.css?v=1.3")" rel="stylesheet" />
<div class="p-10">
</div>
<div class="p-30 p-t-none p-b-100">
    @if (!string.IsNullOrEmpty(Model.error_text))
    {
        <span id="alert" style="display:none;" data-class="@Model.alertclass" data-text="@Model.error_text"></span>
    }
    <div class="row">
        <div class="col-lg-4" style="padding-right:0px;">
            <div class="panel">
                <div class="panel-heading formpanel-heading">
                    <div class="col-md-6 col-sm-6">
                        <h3 class="panel-title">
                            Information
                        </h3>
                    </div>
                    <div class="col-md-6 col-sm-6 topbuttondiv">
                        <a class="btn btn-success btn-sm pull-right" href="@Url.Action("edit","project",new {token=Model.token })">
                            <i class="fa fa-edit"></i> Edit Project
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("view", "project", FormMethod.Post, new { @id = "frmInfo" }))
                    {
                        <div class="form-group">
                            <label>Title</label>
                            @Html.TextBoxFor(a => a.title, new { @class = "form-control capitalize" })
                            @Html.ValidationMessageFor(a => a.title)
                            @Html.HiddenFor(a => a.token)
                        </div>
                        <div class="form-group">
                            <label>Client</label>
                            <select class="  form-control" data-live-search="true" id="clientId" name="clientId">
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Client Manager</label>
                            <select class="  form-control" data-live-search="true" id="client_manager" name="clientManagerId">
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Project Manager</label>
                            <select class="  form-control" data-live-search="true" id="Project_managers" name="projectManagerId">
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Screening </label>
                            <select class="form-control" name="Screening" id="Screening" multiple="multiple">
                                <option @(Model.Screening != null ? Model.Screening.Contains(1) ? "selected" : "" : "") value="1">Background</option>
                                <option @(Model.Screening != null ? Model.Screening.Contains(2) ? "selected" : "" : "") value="2">Drug</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="el3">Email</label>
                            @Html.TextBoxFor(a => a.email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.email)
                        </div>
                        <div class="form-group">
                            <label>Status </label>
                            <select class="selectpicker form-control" name="status">
                                <option @(Model.status == 1 ? "selected" : "") value="1">Open</option>
                                <option @(Model.status == 2 ? "selected" : "") value="2">Close</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-success btn-sm pull-right"><i class="fa fa-save"></i> Save </button>
                    }
                </div>
            </div>
        </div>
        <div class="box mainbox" style="display: none;" id="uploadslide">
            @using (Html.BeginForm("reminder", "project", FormMethod.Post, new { @id = "reminderForm", @enctype = "multipart/form-data" }))
            {<input type="hidden" id="usertype" name="usertype" value="1" />
                @Html.HiddenFor(a => a.token, new { @id = "remindertoken" })
                <div class="box-inner">
                    <div class="col-md-12">
                        <h3 class="pull-left panel-title" style="padding-left: 0px !important;    padding-top: 10px;">Add <span id="spanremindertype"></span> Reminder</h3>
                        <button type="button" class="close closebox" aria-label="Close" autocomplete="random"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="clearfix"></div>
                    <hr class="mt9" />
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <select class="form-control selectpicker" name="repeattype">
                                <option value="1">Does not repeat </option>
                                <option value="2">Repeat</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <select class="form-control selectpicker" name="reapetdays">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <select class="form-control selectpicker" name="repeatid" id="repeatid">
                                <option value="0">Calender setting</option>
                                <option value="1">Hour</option>
                                <option value="2">Day</option>
                                <option value="3">Week</option>
                                <option value="4">Month</option>
                            </select>
                        </div>
                    </div>
                    <div class="clearfix"></div>             <div class="col-md-12">
                        <div class="form-group">
                            <select class="form-control  customdropdown Attachment" multiple="multiple" name="Attachment" id="Attachment">
                                <option value="1">Nav Link</option>
                                <option value="2">Document</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <select class="form-control   info" multiple="multiple" name="info" id="info">
                                <option value="1">ID</option>
                                <option value="2">Title</option>
                                <option value="3">Date/Time</option>
                                <option value="4">Address</option>
                                <option value="5">Tools</option>
                                <option value="6">Contact</option>
                                <option value="7">Phone</option>
                                <option value="8">Instruction</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <select class="form-control   type" multiple="multiple" name="type" id="type">
                                <option value="1">Email</option>
                                <option value="2">Text</option>
                            </select>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="form-group round">
                            <input class="inputbox3 Confirmation" type="checkbox" checked id="Confirmation" value="1" name="Confirmation" /> Confirmation
                            <label for="checkbox" class="cuschk Confirmation bck" data-id="Confirmation"></label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12" style="position:relative;margin-top:20%;">
                    </div>
                    <div class="clearfix"></div>
                    <hr />
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <button type="submit" id="submit-file" class="btn btn-success"><i class="fas fa-save"></i> Save</button>
                    </div>
                </div>
            }
        </div>
        <div class="col-lg-8" style="padding-left: 7px;">
            <div class="panel">
                <div class="panel-heading formpanel-heading">
                    <div class="col-md-6 col-sm-6">
                        <h3 class="panel-title">
                            Project Management
                        </h3>
                    </div>
                    <div class="col-md-6 col-sm-6 topbuttondiv">
                        <a class="btn btn-success btn-sm pull-right" href="@Url.Action("index","project",new {type="" })">
                            <i class="fa fa-arrow-left"></i> Project List
                        </a>
                    </div>
                </div>
                <div class="p-30 p-t-none p-b-none">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="@( Model.f_tabid==0?"active":"")"><a href="#task_details" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">Detail</a></li>
                                <li role="presentation" class="@( Model.f_tabid==1?"active":"")"><a href="#task_discussion" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">Message </a></li>
                                <li role="presentation" class="@( Model.f_tabid==2?"active":"")"><a href="#task_files" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false">Document</a></li>
                                <li role="presentation" class="@( Model.f_tabid==3?"active":"")"><a href="#task_Tool" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false">Tool</a></li>
                                <li role="presentation" class="@( Model.f_tabid==4?"active":"")"><a href="#task_Skill" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false">Skill</a></li>
                                <li role="presentation" class="@( Model.f_tabid==5?"active":"")"><a href="#task_Reminder" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false">Reminder</a></li>
                                <li role="presentation" class="@( Model.f_tabid==6?"active":"")"><a href="#task_joboffers" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false">Job/Offer</a></li>
                            </ul>
                            <div class="tab-content p-20">
                                <div role="tabpanel" class="tab-pane @( Model.f_tabid==0?"active":"")" id="task_details">
                                    <div class="form-group">
                                        <label class="detaillabel" style="text-transform:none;">Description</label>
                                        <p class="graytext">@Html.Raw(Model.description)</p>
                                    </div>
                                    <div class="form-group">
                                        <label class="detaillabel">Special Instruction</label>
                                        <p class="graytext">@Html.Raw(Model.specialInstruction)</p>
                                    </div>
                                    <br />
                                    <hr />
                                    <div class="form-group col-md-2">
                                        <label class="detaillabel">Project Manager</label>
                                        <p class="graytext">@Model._projectManager</p>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label class="detaillabel">Client</label>
                                        <p class="graytext"> @Model._client</p>
                                    </div> <div class="form-group col-md-2">
                                        <label class="detaillabel">Client Manager</label>
                                        <p class="graytext"> @Model._clientManager</p>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane @( Model.f_tabid==1?"active":"")" id="task_discussion">
                                    @using (Html.BeginForm("comment", "project", FormMethod.Post, new { @id = "commentForm" }))
                                    {
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="detaillabel">Leave Comment</label>
                                                <textarea class="textarea-wysihtml5 form-control" rows="7" required="required" name="comment"></textarea>
                                                @Html.HiddenFor(a => a.token, new { @id = "commenttoken" })
                                            </div>
                                            <div class="col-md-12">
                                                <button type="submit" value="Post" class="btn btn-success pull-right"><i class="fa fa-send"></i> Post</button>
                                            </div>
                                        </div>
                                    }
                                    <br>
                                    <hr>
                                    <table class="table data-table table-hover table-ultra-responsive dataTable no-footer dt3" id="dtcommet">
                                        <thead>
                                            <tr>
                                                <th style="width: 25%;">User</th>
                                                <th style="width: 55%;">Comment</th>
                                                <th style="width: 20%;">Last Update</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model._commnts)
                                            {
                                                <tr>
                                                    <td nowrap style="width: 25%;">@item.createdby</td>
                                                    <td style="width: 55%;">@Html.Raw(item.Comment)</td>
                                                    <td nowrap style="width: 20%;">@item.CreatedDate</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div role="tabpanel" class="tab-pane @( Model.f_tabid==2?"active":"")" id="task_files">

                                    @using (Html.BeginForm("file", "project", FormMethod.Post, new { @id = "fileform", @enctype = "multipart/form-data" }))
                                    {
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="detaillabel">File Title</label>
                                                <input type="text" required name="file_title" class="form-control">
                                                @Html.HiddenFor(a => a.token, new { @id = "filetoken" })
                                            </div>
                                            <div class="form-group">
                                                <label class="detaillabel">Select File</label>
                                                <div class="input-group input-group-file">
                                                    <span class="input-group-btn">
                                                        <span class="btn btn-primary btn-file">
                                                            Browse <input type="file" class="form-control" required name="file">
                                                        </span>
                                                    </span>
                                                    <input type="text" class="form-control" readonly="">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <button type="submit" class="btn btn-success pull-right"> <i class="fas fa-file-import"></i> Upload</button>

                                            </div>
                                        </div>
                                    }
                                    <br>
                                    <hr>
                                    <table class="table data-table table-hover nowrap table-ultra-responsive dataTable no-footer">
                                        <thead>
                                            <tr>
                                                <th style="width: 20%;">File</th>
                                                <th style="width: 10%;">Size</th>
                                                <th style="width: 20%;">Date</th>
                                                <th style="width: 20%;">Upload By</th>
                                                <th style="width: 30%;">Download</th>
                                                <th style="width: 30%;">Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model._files)
                                            {
                                                <tr>
                                                    <td style="width: 25%;">@item.FileTitle</td>
                                                    <td style="width: 15%;">@item.Size</td>
                                                    <td style="width: 20%;">@item.CreatedDate</td>
                                                    <td style="width: 25%;">@item.CreatedBy</td>
                                                    <td style="width: 40%;">
                                                        <a href="@item.Url" download target="_blank" class="btn btn-success btn-xs pull-left">
                                                            <i class="fa fa-download"></i>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="#" class="btn btn-danger btn-xs tFileDelete" data-jobid="@Model.token" id="@item.FileToken"><i class="fa fa-trash"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div role="tabpanel" class="tab-pane @( Model.f_tabid==3?"active":"")" id="task_Tool">
                                    @using (Html.BeginForm("edit_tools", "project", FormMethod.Post, new
                                    {
                                        @id = "toolsform",
                                        @enctype = "multipart/form-data"
                                    }))
                                    {
                                        int cnt = 1;
                                        @Html.HiddenFor(a => a.token, new { @id = "toolsteken" })
                                        <div class="col-md-12" style="max-height: 700px;overflow-y: auto;">
                                            @foreach (var item in Model._tools)
                                            {<div class="form-group col-md-3 round">
                                                    @if (Model.tools != null && Model.tools.Contains(item.ToolId))
                                                    {
                                                        <input type="checkbox" checked="checked" name="tools" id="t_@item.ToolId" value="@item.ToolId" />
                                                        <span data-toggle="tooltip" data-placement="right" title="@item.Name">@(item.Name.Count() > 10 ? item.Name.Substring(0, 9) + ".." : item.Name)</span>
                                                        <label for="checkbox" class="cuschk bck" data-id="t_@item.ToolId"></label>
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" name="tools" id="t_@item.ToolId" value="@item.ToolId" />
                                                        <span data-toggle="tooltip" data-placement="right" title="@item.Name">@(item.Name.Count() > 10 ? item.Name.Substring(0, 9) + ".." : item.Name)</span>
                                                        <label for="checkbox" class="cuschk" data-id="t_@item.ToolId"></label>
                                                    }
                                                </div>

                                                if (cnt >= 4)
                                                {<div class="clearfix"></div>
                                                    cnt = 0;
                                                }
                                                cnt = cnt + 1;
                                            }
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="col-md-12" style="margin-top:20px;margin-bottom:20px;">
                                            <hr />
                                            <button type="submit" class="btn btn-success btn-sm pull-right">
                                                <i class="fa fa-save"></i> Update
                                            </button>
                                        </div>
                                        <div class="clearfix"></div>
                                    }
                                </div>
                                <div role="tabpanel" class="tab-pane @( Model.f_tabid==4?"active":"")" id="task_Skill">
                                    @using (Html.BeginForm("edit_skills", "project", FormMethod.Post, new
                                    {
                                        @id = "skillform",
                                        @enctype = "multipart/form-data"
                                    }))
                                    {
                                        @Html.HiddenFor(a => a.token, new { @id = "skilltoeken" })
                                        int cnt = 1;
                                        <div class="col-md-12" style="max-height: 700px;overflow-y: auto;">
                                            @foreach (var item in Model._skills)
                                            {<div class="form-group col-md-3 round">
                                                    @if (Model.skills != null && Model.skills.Contains(item.SkillId))
                                                    {
                                                        <input type="checkbox" checked="checked" name="skills" id="s_@item.SkillId" value="@item.SkillId" />
                                                        <span data-toggle="tooltip" data-placement="right" title="@item.Name">@(item.Name.Count() > 10 ? item.Name.Substring(0, 9) + ".." : item.Name)</span>
                                                        <label for="checkbox" class="cuschk bck" data-id="s_@item.SkillId"></label>
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" name="skills" id="s_@item.SkillId" value="@item.SkillId" />
                                                        <span data-toggle="tooltip" data-placement="right" title="@item.Name">@(item.Name.Count() > 10 ? item.Name.Substring(0, 9) + ".." : item.Name)</span>
                                                        <label for="checkbox" class="cuschk" data-id="s_@item.SkillId"></label>
                                                    }
                                                </div>
                                                if (cnt >= 4)
                                                {<div class="clearfix"></div>
                                                    cnt = 0;
                                                }
                                                cnt = cnt + 1;
                                            }
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="col-md-12" style="margin-top:20px;margin-bottom:20px;">
                                            <hr />
                                            <button type="submit" class="btn btn-success btn-sm pull-right">
                                                <i class="fa fa-save"></i> Update
                                            </button>
                                        </div>
                                        <div class="clearfix"></div>
                                    }
                                </div>
                                <div role="tabpanel" class="tab-pane @( Model.f_tabid==5?"active":"")" id="task_Reminder">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h3 class="panel-title pnl1">
                                                Technician
                                                <button type="submit" onclick="addReminder('1')" class="btn btn-default btn-sm pull-right">
                                                    <i class="fa fa-plus"></i> Add Reminder
                                                </button>
                                            </h3>
                                        </div>
                                        <div class="col-lg-12" style="margin-top:@(Model.techreminder.Count==0?"200px":"")">
                                            <ul class="nav nav-tabs" role="tablist">
                                                @foreach (var item in Model.techreminder)
                                                {

                                                    if (techreminderli == 1 && techTabId == 0)
                                                    {
                                                        _class = "active";
                                                    }
                                                    else if (techTabId != 0 && techTabId == item._reminderId)
                                                    {
                                                        _class = "active";
                                                    }
                                                    else
                                                    {
                                                        _class = "";
                                                    }
                                                    <li role="presentation" class="@_class"><a href="#reminder_@techreminderli" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">@("Reminder "+ techreminderli)</a></li>
                                                    techreminderli = techreminderli + 1;
                                                }
                                            </ul>
                                            <div class="tab-content p-20">
                                                @foreach (var item in Model.techreminder)
                                                {

                                                    if (techreminder == 1 && techTabId == 0)
                                                    {
                                                        _class = "active";
                                                    }
                                                    else if (techTabId != 0 && techTabId == item._reminderId)
                                                    {
                                                        _class = "active";
                                                    }
                                                    else
                                                    {
                                                        _class = "";
                                                    }
                                                    <div role="tabpanel" class="tab-pane @_class reminders" id="reminder_@techreminder">
                                                        @using (Html.BeginForm("editreminder", "project", FormMethod.Post))
                                                        {
                                                            <input type="hidden" name="token" value="@item.token" />
                                                            <input type="hidden" name="usertype" value="1" />
                                                            <input type="hidden" name="projecttoken" value="@Model.token" />
                                                            <div class="row">
                                                                <div class="col-md-1">
                                                                    <select class="form-control selectpicker" name="repeattype">
                                                                        <option value="1" @(item.repeattype == 1 ? "selected" : "")>Does not repeat </option>
                                                                        <option value="2" @(item.repeattype == 2 ? "selected" : "")>Repeat</option>

                                                                    </select>
                                                                </div>
                                                                <div class="col-md-1">
                                                                    <select class="form-control selectpicker" name="reapetdays">
                                                                        <option value="1" @(item.reapetdays == 1 ? "selected" : "")>1</option>
                                                                        <option value="2" @(item.reapetdays == 2 ? "selected" : "")>2</option>
                                                                        <option value="3" @(item.reapetdays == 3 ? "selected" : "")>3</option>
                                                                        <option value="4" @(item.reapetdays == 4 ? "selected" : "")>4</option>
                                                                        <option value="5" @(item.reapetdays == 5 ? "selected" : "")>5</option>
                                                                        <option value="6" @(item.reapetdays == 6 ? "selected" : "")>6</option>
                                                                        <option value="7" @(item.reapetdays == 7 ? "selected" : "")>7</option>
                                                                        <option value="8" @(item.reapetdays == 8 ? "selected" : "")>8</option>
                                                                        <option value="9" @(item.reapetdays == 9 ? "selected" : "")>9</option>
                                                                        <option value="10" @(item.reapetdays == 10 ? "selected" : "")>10</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-md-1">
                                                                    <select class="form-control selectpicker" name="repeatid">
                                                                        <option>Calender setting </option>
                                                                        <option value="1" @(item.repeatid == 1 ? "selected" : "")>Hour</option>
                                                                        <option value="2" @(item.repeatid == 2 ? "selected" : "")>Day</option>
                                                                        <option value="3" @(item.repeatid == 3 ? "selected" : "")>Week</option>
                                                                        <option value="4" @(item.repeatid == 4 ? "selected" : "")>Month</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <div class="row mt16">
                                                                <div class="col-md-1">
                                                                    <select class="form-control  customdropdown Attachment" multiple="multiple" name="Attachment">
                                                                        <option @(item.Attachment.Contains(1) ? "selected" : "") value="1">Nav Link</option>
                                                                        <option @(item.Attachment.Contains(2) ? "selected" : "") value="2">Document</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-md-1">
                                                                    <select class="form-control info" multiple="multiple" name="info">
                                                                        <option @(item.info.Contains(1) ? "selected" : "") value="1">ID</option>
                                                                        <option @(item.info.Contains(2) ? "selected" : "") value="2">Title</option>
                                                                        <option @(item.info.Contains(3) ? "selected" : "") value="3">Date/Time</option>
                                                                        <option @(item.info.Contains(4) ? "selected" : "") value="4">Address</option>
                                                                        <option @(item.info.Contains(5) ? "selected" : "") value="5">Tools</option>
                                                                        <option @(item.info.Contains(6) ? "selected" : "") value="6">Contact</option>
                                                                        <option @(item.info.Contains(7) ? "selected" : "") value="7">Phone</option>
                                                                        <option @(item.info.Contains(8) ? "selected" : "") value="8">Instruction</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-md-1">
                                                                    <select class="form-control   type" multiple="multiple" name="type">
                                                                        <option @(item.type.Contains(1) ? "selected" : "") value="1">Email</option>
                                                                        <option @(item.type.Contains(2) ? "selected" : "") value="2">Text</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group round Confirmationbox" style="margin-top:20px;">
                                                                        <input class="inputbox3 Confirmation" type="checkbox" @(item.Confirmation == 1 ? "checked" : "") id="TConfirmation_@techreminder" value="@item.Confirmation" name="Confirmation" /> Confirmation
                                                                        <label for="checkbox" class="cuschk Confirmation @(item.Confirmation==1 ? "bck" : "") " data-id="TConfirmation_@techreminder"></label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <hr />
                                                            <div class="clearfix"></div>
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <button type="button" onclick="deleteReminder('@Model.token','@item.token')" name="button" value="delete" class="btn btn-danger btn-sm pull-left ">
                                                                        <i class="fa fa-recycle"></i> Delete
                                                                    </button>
                                                                    <button type="submit" name="button" value="update" id="button" class="btn btn-primary btn-sm pull-left ml16">
                                                                        <i class="fa fa-save"></i> Update
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        }
                                                    </div>
                                                    techreminder = techreminder + 1;
                                                }
                                            </div>
                                        </div>
                                        <hr />
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="clearfix"></div>
                                            <hr />
                                            <div class="clearfix"></div>
                                            <h3 class="panel-title pnl1">
                                                Dispatcher
                                                <button type="submit" onclick="addReminder('2')" class="btn btn-default btn-sm pull-right">
                                                    <i class="fa fa-plus"></i> Add Reminder
                                                </button>
                                            </h3>
                                        </div>
                                        <div class="col-lg-12">
                                            <ul class="nav nav-tabs" role="tablist">
                                                @foreach (var item in Model.dispatcherreminder)
                                                {
                                                    if (disreminderli == 1 && dispatcherTabId == 0)
                                                    {
                                                        _class = "active";
                                                    }
                                                    else if (dispatcherTabId != 0 && dispatcherTabId == item._reminderId)
                                                    {
                                                        _class = "active";
                                                    }
                                                    else
                                                    {
                                                        _class = "";
                                                    }

                                                    <li role="presentation" class="@_class"><a href="#dreminder_@disreminderli" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">@("Reminder "+ disreminderli)</a></li>
                                                    disreminderli = disreminderli + 1;
                                                }
                                            </ul>
                                            <div class="tab-content p-20 p-13">
                                                @foreach (var item in Model.dispatcherreminder)
                                                {

                                                    if (disreminder == 1 && dispatcherTabId == 0)
                                                    {
                                                        _class = "active";
                                                    }
                                                    else if (dispatcherTabId != 0 && dispatcherTabId == item._reminderId)
                                                    {
                                                        _class = "active";
                                                    }
                                                    else
                                                    {
                                                        _class = "";
                                                    }
                                                    <div role="tabpanel" class="tab-pane @_class reminders" id="dreminder_@disreminder">
                                                        @using (Html.BeginForm("editreminder", "project", FormMethod.Post))
                                                        {
                                                            <input type="hidden" name="token" value="@item.token" />
                                                            <input type="hidden" name="usertype" value="2" />
                                                            <input type="hidden" name="projecttoken" value="@Model.token" />
                                                            <div class="row">
                                                                <div class="col-md-1">
                                                                    <select class="form-control selectpicker" name="repeattype">
                                                                        <option value="1" @(item.repeattype == 1 ? "selected" : "")>Does not repeat </option>
                                                                        <option value="2" @(item.repeattype == 2 ? "selected" : "")>Repeat</option>

                                                                    </select>
                                                                </div>
                                                                <div class="col-md-1">
                                                                    <select class="form-control selectpicker" name="reapetdays">
                                                                        <option value="1" @(item.reapetdays == 1 ? "selected" : "")>1</option>
                                                                        <option value="2" @(item.reapetdays == 2 ? "selected" : "")>2</option>
                                                                        <option value="3" @(item.reapetdays == 3 ? "selected" : "")>3</option>
                                                                        <option value="4" @(item.reapetdays == 4 ? "selected" : "")>4</option>
                                                                        <option value="5" @(item.reapetdays == 5 ? "selected" : "")>5</option>
                                                                        <option value="6" @(item.reapetdays == 6 ? "selected" : "")>6</option>
                                                                        <option value="7" @(item.reapetdays == 7 ? "selected" : "")>7</option>
                                                                        <option value="8" @(item.reapetdays == 8 ? "selected" : "")>8</option>
                                                                        <option value="9" @(item.reapetdays == 9 ? "selected" : "")>9</option>
                                                                        <option value="10" @(item.reapetdays == 10 ? "selected" : "")>10</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-md-1">
                                                                    <select class="form-control selectpicker" name="repeatid">
                                                                        <option>Calender setting </option>
                                                                        <option value="1" @(item.repeatid == 1 ? "selected" : "")>Hour</option>
                                                                        <option value="2" @(item.repeatid == 2 ? "selected" : "")>Day</option>
                                                                        <option value="3" @(item.repeatid == 3 ? "selected" : "")>Week</option>
                                                                        <option value="4" @(item.repeatid == 4 ? "selected" : "")>Month</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <div class="row mt16">
                                                                <div class="col-md-1">
                                                                    <select class="form-control  customdropdown Attachment" multiple="multiple" name="Attachment">
                                                                        <option @(item.Attachment.Contains(1) ? "selected" : "") value="1">Nav Link</option>
                                                                        <option @(item.Attachment.Contains(2) ? "selected" : "") value="2">Document</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-md-1">
                                                                    <select class="form-control dinfo" multiple="multiple" name="info">
                                                                        <option @(item.info.Contains(1) ? "selected" : "") value="1">ID</option>
                                                                        <option @(item.info.Contains(2) ? "selected" : "") value="2">Title</option>
                                                                        <option @(item.info.Contains(3) ? "selected" : "") value="3">Date/Time</option>
                                                                        <option @(item.info.Contains(4) ? "selected" : "") value="4">Address</option>
                                                                        <option @(item.info.Contains(5) ? "selected" : "") value="5">Tools</option>
                                                                        <option @(item.info.Contains(6) ? "selected" : "") value="6">Contact</option>
                                                                        <option @(item.info.Contains(7) ? "selected" : "") value="7">Phone</option>
                                                                        <option @(item.info.Contains(8) ? "selected" : "") value="8">Instruction</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-md-1">
                                                                    <select class="form-control   type" multiple="multiple" name="type">
                                                                        <option @(item.type.Contains(1) ? "selected" : "") value="1">Email</option>
                                                                        <option @(item.type.Contains(2) ? "selected" : "") value="2">Text</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group round Confirmationbox" style="margin-top:20px;">
                                                                        <input class="inputbox3 Confirmation" type="checkbox" @(item.Confirmation == 1 ? "checked" : "") id="DConfirmation_@disreminder" value="@item.Confirmation" name="Confirmation" /> Confirmation
                                                                        <label for="checkbox" class="cuschk Confirmation @(item.Confirmation==1 ? "bck" : "") " data-id="DConfirmation_@disreminder"></label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <hr />
                                                            <div class="clearfix"></div>
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <button type="button" onclick="deleteReminder('@Model.token','@item.token')" name="button" value="delete" class="btn btn-danger btn-sm pull-left ">
                                                                        <i class="fa fa-recycle"></i> Delete
                                                                    </button>
                                                                    <button type="submit" name="button" value="update" id="button" class="btn btn-primary btn-sm pull-left ml16">
                                                                        <i class="fa fa-save"></i> Update
                                                                    </button>
                                                                </div>
                                                            </div>

                                                            <div class="clearfix"></div>
                                                        }
                                                    </div>
                                                    disreminder = disreminder + 1;
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane @( Model.f_tabid==6?"active":"")" id="task_joboffers">
                                    <div class="col-md-1">
                                        <div class="form-group">

                                            <label class="detaillabel">Type</label>
                                            <select class="form-control selectpicker" id="filtertype">
                                                <option value="">All</option>
                                                <option value="Job">Job</option>
                                                <option value="offer">Offer</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group">
                                            <label class="detaillabel">Technician</label>
                                            <select class="form-control selectpicker" data-live-search="true" id="filtertech">
                                                <option value="">All</option>
                                                @foreach (var item in Model.technicians)
                                                {
                                                    <option value="@item">@item</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group">
                                            <label class="detaillabel">Dispatcher</label>
                                            <select class="form-control selectpicker" data-live-search="true" id="filterdispatcher">
                                                <option value="">All</option>
                                                @foreach (var item in Model.dispatchers)
                                                {
                                                    <option value="@item">@item</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <table class="table data-table table-hover table-ultra-responsive dataTable no-footer dt2" id="dt2">
                                        <thead>
                                            <tr>
                                                <th style="width: 10px;">ID</th>
                                                <th style="width: 15px;">Title</th>
                                                <th style="width: 15px;">Date</th>
                                                <th style="width: 15px;">Type</th>
                                                <th style="width: 15px;">Location</th>
                                                <th style="width: 15px;">Technician</th>
                                                <th style="width: 15px;">Dispatcher</th>
                                                <th style="width:15px;">View</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.jobOffer)
                                            {
                                                <tr>
                                                    <td style="width:10px;"><a href="/@(item.Type=="Job"?"jobs":"offer")/view?token=@(item.token+"&projectToken="+Model.token)">@item.JobId</a></td>
                                                    <td style="width:15px;"><a href="/@(item.Type=="Job"?"jobs":"offer")/view?token=@(item.token+"&projectToken="+Model.token)">@item.title</a></td>
                                                    <td style="width:15px;">@(Convert.ToDateTime(item.date).ToString("yyyy-MM-dd"))</td>
                                                    <td style="width:15px;">@item.Type</td>
                                                    <td style="width:15px;">@item.Location</td>
                                                    <td style="width:15px;">@item.tech</td>
                                                    <td style="width:15px;">@item.dispatcher</td>
                                                    <td style="width:15px;">
                                                        <a href="/@(item.Type=="Job"?"jobs":"offer")/view?token=@(item.token+"&projectToken="+Model.token)" class="btn btn-success btn-xs"><i class="fa fa-search"></i></a>
                                                    </td>
                                                </tr>

                                            }
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
       var clientId = '@Model.clientId';
    var clientManagerId = '@Model.clientManagerId';
    var projectManagerId = '@Model.projectManagerId';
</script>
<script src="@Url.Content("~/Content/project/project_view.min.js?v=1.9")"></script> 