﻿


@model hrm.Models.cmplt
    @{ 
        string mes = (string)ViewBag.mes;
    }


@*<link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/style.css?v=2.3")">*@
<style>
    .btn-default:hover {
        background-color: var(--blue)!important;
        color: white !important;
        border-bottom: 2px solid var(--blue)!important;
    }

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        text-align: right;
        opacity: 0;
        filter: alpha(opacity=0);
        opacity: 0;
        background: none repeat scroll 0 0 transparent;
        cursor: inherit;
        display: block;
    }
</style>
<div class="row" style="margin-top:117px;margin-bottom:10px;">

    <div class="clearfix"></div>
    @if (mes == "C")
    {
        <h3 style="font-size: 29px;margin-bottom: 36px;">
            Congratulation!
        </h3>
        <p>
            Your application with Convo Technologies is complete.  Your documents
            and information will be reviewed by the onboarding team.
        </p>
        <p>
            Now that you are an active technician you need to improve you profile by completing your skills, criminal background and list all your tool in the systems.

        </p>
        <p>
            Someone from the onboarding team will email you the result within 48 hours.

        </p>

    }
    else
    {
        if (Model.isddcomple)
        {
            <script>
                $(".4h4").removeClass("active");

            </script>
        }
        else
        {
            <script>
                $(".4h4").addClass("active");

            </script>
        }
        if (Model.ismailcomple)
        {
            <script>
                $(".1h4").removeClass("active");

            </script>
        }
        else
        {
            <script>
                $(".1h4").addClass("active");

            </script>
        }
        if (Model.isrtwcomple)
        {
            <script>
                $(".2h4").removeClass("active");

            </script>
        }
        else
        {
            <script>
                $(".2h4").addClass("active");

            </script>
        }

        if (Model.isw9compl)
        {
            <script>
                $(".3h4").removeClass("active");
             
            </script>
        }
        else
        {
            <script>
                $(".3h4").addClass("active");

            </script>
        }
        <h3 style="font-size: 29px;margin-bottom: 36px;">
            Incomplete application!

        </h3>
        <p>
            Your application with Convo Technologies is incomplete.  You must fully
            complete your application before you can start receiving offers.

        </p>

    }

</div>


<div class="row" style="padding-top: 60px;">
    <div class="col-md-6  text-left">
    </div>
    <div class="col-md-6  text-right">
              <a class="btn btn-success btn-sm" style="padding: .375rem .75rem!important;background-color:var(--blue)!important;" href="#" onclick="fnsmain()">FINISH </a>
    </div>
</div>
<script>
    $(".5h4").removeClass("active");

    $("#1h4").click(function () { getmailing(); });
    $("#4h4").click(function () { dd(); });
    $("#3h4").click(function () { w9f(); });
    $("#2h4").click(function(){ rtw(); });
</script>
<script src="@Url.Content("~/Scripts/scripts.js?v=1.4")"></script>
<script src="@Url.Content("~/Scripts/form-elements-page.js?v=1.3")"></script>
