﻿
@model hrm.Models.dd
<style>
    #divForm {
        height: 752px;
    }
    #pleftform,#maindiv {
    height: 89vh;
}
    #left_form {
        padding-top: 148px !important;
    }
    hr{
            border-bottom: 1px solid #eee;
    }
    .round {
        position: relative;
    }
        /*#left_form {

        min-height: 103vh !important;
    }*/
        .round label {
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 50%;
            cursor: pointer;
            height: 21px;
            left: 0;
            position: absolute;
            top: 0;
            width: 21px;
        }

            .round label:after {
                border: 2px solid #fff;
                border-top: none;
                border-right: none;
                content: "";
                height: 6px;
                left: 4px;
                opacity: 0;
                position: absolute;
                top: 5px;
                transform: rotate(-45deg);
                width: 12px;
            }

        .round input[type="checkbox"] {
            visibility: hidden;
        }

            .round input[type="checkbox"]:checked + label {
                background-color: var(--blue);
                border-color: var(--blue);
            }

    .bck {
        background-color: var(--blue)!important;
        border-color: var(--blue)!important;
    }

        .bck:after {
            border: 2px solid #fff !important;
            border-top: none !important;
            border-right: none !important;
            content: "" !important;
            height: 6px !important;
            left: 4px !important;
            opacity: 1 !important;
            position: absolute !important;
            top: 5px !important;
            transform: rotate(-45deg) !important;
            width: 12px !important;
        }

    .round input[type="checkbox"]:checked + label:after {
        opacity: 1;
    }

    .btn-default:hover {
        background-color: var(--blue)!important;
        color: white !important;
        border-bottom: 2px solid var(--blue)!important;
    }
</style>
<div class="row" style="margin-top:76px;">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="main_question wizard-header"> Direct deposit authorization form </h3>
        <p>This form authorizes Convo Technologies, LLC (the company) to send direct deposit payment entries (and appropriate debit or credit adjustment entries), electronically or by any other commercially accepted method, to my (our) account (s) indicated below and toother account to post all such entries. </p>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="form-group 1">
            @Html.TextBoxFor(a => a.Typeofaccount, new { @placeholder = "Type of account (e.g. checking or saving) ", @class = "form-control" })
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="form-group 4">
            @Html.TextBoxFor(a => a.account_name, new { @placeholder = "Full name in account", @class = "form-control" })
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="form-group 1">
            @Html.TextBoxFor(a => a.bankname, new { @placeholder = "Name of bank", @class = "form-control" })
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="form-group 4">
            @Html.TextBoxFor(a => a.Accountcitystate, new { @placeholder = "Account city and state", @class = "form-control" })
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="form-group 1">
            @Html.TextBoxFor(a => a.routingnumber, new { @placeholder = "Routing number", @class = "form-control" })
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="form-group 4">
            @Html.TextBoxFor(a => a.account_number, new { @placeholder = "Account number", @class = "form-control" })
        </div>
    </div>
    <div class="clearfix"></div>
   
    <div class="clearfix"></div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group round">
            <input @(Model.bank_authorization ? "checked" : "") id="bank_authorization" name="bank_authorization" type="checkbox" style="width: 29px;" /> By check this box authorization will be in effect until the company or subcontractor receives a written termination notice from myself and has a reasonable opportunity to act on it.
            <label id="lblbank_authorization" data-id="bank_authorization" class="lbwdth cuschk2 @(Model.bank_authorization?"bck":"")"></label>
        </div>
    </div>

</div>


<div class="row">
    <div class="col-md-6  text-left">
        <a class="btn btn-default btn-sm" style="padding: .375rem .75rem!important;background-color:#E4EDF2; color:black;border:2px solid #E4EDF2 ;" href="#" onclick="pp()">SKIP </a>
    </div>
    <div class="col-md-6  text-right">
        @if (!Model.isw9compl)
        {
            <a class="btn btn-default btn-sm" style="margin-right: 16px;padding: .375rem .75rem!important;background-color:#E4EDF2; color:black;border:2px solid #E4EDF2 ;" href="#" onclick="w9f()">  BACK </a>
        }
        else if (!Model.isrtwcomple)
        {
            <a class="btn btn-default btn-sm" style="margin-right: 16px;padding: .375rem .75rem!important;background-color:#E4EDF2; color:black;border:2px solid #E4EDF2 ;" href="#" onclick="rtw()">  BACK </a>
        }
        else if (!Model.ismailing)
        {
        <a class="btn btn-default btn-sm" style="margin-right: 16px;padding: .375rem .75rem!important;background-color:#E4EDF2; color:black;border:2px solid #E4EDF2 ;" href="#" onclick="getmailing()">  BACK </a>
        }
        <a class="btn btn-success btn-sm" style="padding: .375rem .75rem!important;background-color:var(--blue)!important;" href="#" onclick="submitdd()">NEXT </a>
    </div>
</div>
<script>
    $(".cuschk2").on("click", function () {
        var id = $(this).data("id");
        if ($(this).hasClass("bck")) {
            $("#" + id).attr("checked", false);
            $(this).removeClass("bck");
        } else {
            $("#" + id).attr("checked", true);
            $(this).addClass("bck");
        }

    });</script>


