﻿
@{
    ViewBag.Title = "ID: " + Model.UserId;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.tab = ViewBag.tab == null ? 1 : ViewBag.tab;
    int tab = (int)ViewBag.tab;
    int typeid = 1;
    bool allowaddTools = (bool)ViewBag.allowTools;
    var dct = Model.ToolLists.GroupBy(a => a.TypeName).ToDictionary(a => a.Key, a => a.ToList());
    var filedct = Model.DocumentList.OrderBy(a => a.MainOrder).GroupBy(a => a.FileTypeName).ToDictionary(a => a.Key, a => a.ToList());
    bool istech = (bool)ViewBag.istech;

}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
@model hrm.Models.UserModel

<style>
    img#loading-image {
        position: absolute;
        top: 30%;
        left: 32%;
        z-index: 100;
    }

    .panel {
        margin-bottom: 0px !important;
    }

    div#loading {
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0;
        position: fixed;
        display: block;
        opacity: 0.8;
        background-color: #fff;
        z-index: 99;
        text-align: center;
    }

    .form-grouppop .inner {
        height: 32vh;
    }

    #left_form {
        padding-top: 128px !important;
        padding-right: 32px;
        padding-left: 36px;
    }

    .feelable {
        margin-top: -1px;
        /* font-weight: 300!important; */
        margin-bottom: 30px;
        width: 100%;
        font-weight: 500;
        font-size: 13px;
        letter-spacing: .5px;
    }
    /*.wrapper-bottom-sec {
            background: white !important;
        }*/

    .pb-13 {
        margin-bottom: 20px !important;
    }

    .cuschk {
        cursor: pointer;
    }

    .lbwdth {
        width: 100%;
    }

    .active a {
        font-weight: 700;
    }


    #pleftform {
        background: var(--blue);
        color: white;
        height: 607px;
    }

    h3.main_question {
        margin: 0 0 20px;
        padding: 0;
        font-weight: 400;
        font-size: 26px;
    }

    #left_form h4 a {
        color: white !important;
    }

    #divForm {
        height: 630px;
        width: 1000px;
    }

    #maindiv {
        background: white;
        height: 607px;
        padding: 58px;
    }

    .nav-tabs .active a {
        font-weight: 400;
    }

    .round label {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 50%;
        cursor: pointer;
        height: 17px;
        left: 1px;
        position: absolute;
        top: 5px;
        width: 17px;
    }

    .round {
        position: relative;
        padding-bottom: 17px;
    }



        .round label:after {
            border: 2px solid #fff;
            border-top: none;
            border-right: none;
            content: "";
            height: 6px;
            left: 4px;
            opacity: 0;
            position: absolute;
            top: 5px;
            transform: rotate(-45deg);
            width: 12px;
        }

    .bcklabel {
        font-size: 14px !important;
        padding-top: 0px;
    }

    .hdr {
        background: #F7F8FA;
        color: black;
        margin-bottom: 10px;
        border: 1px solid rgba(230, 230, 230, 0.7);
    }

    .tab-content .p-20 {
        padding-left: 0px !important;
    }

    .round input[type="checkbox"] {
        visibility: hidden;
    }

        .round input[type="checkbox"]:checked + label {
            background-color: var(--blue);
            border-color: var(--blue);
        }

    .bck {
        background-color: var(--blue) !important;
        border-color: var(--blue) !important;
    }

        .bck:after {
            border: 2px solid #fff !important;
            border-top: none !important;
            border-right: none !important;
            content: "" !important;
            height: 6px !important;
            left: 3px !important;
            opacity: 1 !important;
            position: absolute !important;
            top: 3px !important;
            transform: rotate(-45deg) !important;
            width: 10px !important;
        }

    .round input[type="checkbox"]:checked + label:after {
        opacity: 1;
    }



    #amount:hover {
        background-color: #F1F9FF;
    }

    /*.panel-heading {
            padding-bottom: 12px !important;
        }*/

    .table.table-hover tbody tr:hover > td > #amount {
        background-color: #F1F9FF;
    }

    .dropdown-toggle, .multiselect-clear-filter {
        height: 42px !important;
    }

    .dropdown-toggle, .btn-group {
        width: 100% !important;
        text-align: left !important;
    }

    .btnn {
        padding-top: 212px !important;
        padding-right: 38px !important;
    }

    #left_form h4 {
        font-size: 17px !important;
    }

    .dropdown-menu {
        min-width: 212px;
    }

    .f11 {
        font-weight: 500;
        font-size: 12px;
        letter-spacing: .5px;
        margin-bottom: 0px !important;
    }

    .headingtool {
        margin-bottom: 6px !important;
        margin-top: 10px;
    }

    .btn-group > .dropdown-toggle, .btn-group > .dropdown-toggle:hover {
        background-color: white !important;
        color: black !important;
    }
    /*.btn-default.active, .btn-default:active, .btn-default.active:focus, .btn-default:active:focus, .btn-default.active:hover, .btn-

    default:active:hover, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover, .open > .dropdown-toggle.btn-

    default.focus {
            background-color: white !Important;
            border-color: grey !important;
            color: #626262 !important;
            height: 42px;
        }*/
    .tdupper {
        font-weight: 600 !important;
        font-size: 15px !important;
        background: #f7f8fa !important;
    }

    .btn-circle {
        padding: 0px;
        border-radius: 50px;
        padding-left: 7px;
        padding-right: 7px;
    }

    .mrgtop0 {
        margin-top: 0px;
    }

    .btmhr {
        border-bottom: 1px solid #eee;
    }

    .text-gray {
        color: gray !important
    }

    #termsForm {
        height: 424px;
        width: 881px;
        background: white !important;
        padding: 60px !important;
        padding-top: 57px !important;
        font-size: 23px;
    }

        #termsForm a {
            font-weight: 300;
        }

    .mr-60 {
        margin-bottom: 24px;
    }

        .mr-60 > label {
            font-size: 15px;
            padding-top: 70px;
        }
</style>
<div class="p-10">
</div>
<div class="p-30 p-t-none p-b-none">
    @if (!string.IsNullOrEmpty(Model.error_text))
    {
        <span id="alert" style="display:none;" data-class="@Model.alertclass" data-text="@Model.error_text"></span>
    }

    <div id="compnaymodel" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Create Contractor</h4>
                </div>
                @using (Html.BeginForm("addcompany", "account", FormMethod.Post, new { @id = "companyfrm" }))
                {<div class="modal-body">
                        <div class="form-group  col-lg-6 col-md-6  col-sm-6  col-xs-12">
                            <label>Contractor Name</label>
                            <input type="text" name="name" id="cname" class="form-control capitalize" required />
                            <input type="hidden" id="cuserid" value="@Model.UserTableId" name="cuserid" />
                        </div>
                        <div class="form-group col-lg-6 col-md-6  col-sm-6  col-xs-12">
                            <label>Primary Contact</label>
                            <input type="text" name="primarycontactname" id="cprimarycontactname" class="form-control capitalize" required />
                        </div>
                        <div class="clearfix"></div>

                        <div class="form-group col-lg-6 col-md-6  col-sm-6  col-xs-12">
                            <label>Website</label>
                            <input type="text" name="website" id="cwebsite" class="form-control" required />
                        </div>
                        <div class="form-group col-lg-6 col-md-6  col-sm-6  col-xs-12">
                            <label>Rate</label>
                            <span class="help">e.g. "10"</span>
                            <input type="text" name="rate" id="crate" class="form-control ratetext" />
                        </div>

                        <div class="clearfix"></div>
                        <div class="form-group col-lg-6 col-md-6  col-sm-6  col-xs-12">
                            <label>Email Address</label>
                            <input type="email" name="email" id="cemail" class="form-control" required />
                        </div>
                        <div class="form-group col-lg-6 col-md-6  col-sm-6  col-xs-12">
                            <label>Phone</label>
                            <input type="text" name="phone" id="cphone" class="form-control phonenumber" required maxlength="12" />
                        </div>


                        <div class="clearfix"></div>
                        <div class="form-group col-lg-6 col-md-6  col-sm-6  col-xs-12">
                            <label for="el3">City</label>

                            <input type="text" name="city" id="companycity_id" class="form-control" />
                        </div>
                        <div class="form-group col-lg-6 col-md-6  col-sm-6  col-xs-12">
                            <label>State</label>
                            <select id="companystate_id" data-live-search="true" name="state_id" class="selectpicker form-control">
                            </select>
                        </div>

                        <div class="clearfix"></div>
                        <div class="form-group col-lg-6 col-md-6  col-sm-6  col-xs-12">
                            <label>Address</label>
                            <input type="text" name="address" id="caddress" class="form-control" />
                        </div>
                        <div class="form-group col-lg-6 col-md-6  col-sm-6  col-xs-12">
                            <label>Zip Code</label>
                            <input type="text" name="zipcode" id="czipcode" class="form-control" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Create</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                }
            </div>
        </div>

    </div>

    <div id="mdlupdate" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Reset Password</h4>
                </div>
                @using (Html.BeginForm("password_update", "account", FormMethod.Post, new { @id = "passwordfrm" }))
                {<div class="modal-body">
                        <div class="form-group">
                            <label>New Password</label>
                            <input type="hidden" name="curpass" value="@Model.Password" />
                            <input type="text" class="form-control" required="" id="newpass" name="newpass" placeholder="******">

                        </div>
                        <div class="form-group">
                            <label>Confirm Password</label>

                            <input type="text" class="form-control" required="" id="oldpass" name="oldpass" placeholder="******">

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Update</button>
                    </div>
                }
            </div>
        </div>

    </div>
    <div id="toolupdate" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add Tool</h4>
                </div>
                @using (Html.BeginForm("add_tools", "account", FormMethod.Post, new { @id = "toolfrm" }))
                {<div class="modal-body">
                        <div class="form-group">
                            <label>Tool Type</label>
                            <input type="hidden" name="tooltype1" id="tooltype1" />
                            <input type="text" class="form-control" id="_tooltype1" readonly="readonly">

                        </div>
                        <div class="form-group">
                            <label>Tool</label>
                            <input type="text" class="form-control" required="" id="toolname1" name="toolname1" placeholder="Enter tool name">

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Add</button>
                    </div>
                }
            </div>
        </div>

    </div>

    <div id="docupdate" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add New Document</h4>
                </div>
                @using (Html.BeginForm("edit_doc", "account", FormMethod.Post, new { @id = "docsendsms", @enctype = "multipart/form-data" }))
                {<div class="modal-body">
                        @Html.HiddenFor(a => a.UserTableId, new { @id = "docuserid" })
                        <div class="form-group">
                            <label>Document Type</label>  <select class="selectpicker form-control" name="_dctype">
                                <option value="0">Document type</option>
                                @foreach (var item in Model.DocumentTypeList)
                                {
                                    <option value="@item.DocumentTypeId">@item.DocumentName</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Document Title</label>
                            <span class="help">e.g. "Resume, Joining Letter,Certification etc"</span>
                            <input type="text" class="form-control" required="" name="doc">
                        </div>
                        <div class="form-group">
                            <label>Select Document</label>
                            <div class="input-group input-group-file">
                                <span class="input-group-btn">
                                    <span class="btn btn-success btn-file">
                                        Browse <input required type="file" class="form-control" name="file">
                                    </span>
                                </span>
                                <input type="text" class="form-control" readonly="">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success"> <i class="fa fa-plus"></i>Add</button>
                    </div>
                }


            </div>
        </div>

    </div>
    <div id="mdlupdate1" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Update Photo</h4>
                </div>
                @using (Html.BeginForm("edit_image", "account", FormMethod.Post, new
                {
                    @id = "imgsendsms",
                    @enctype = "multipart/form-data"

                }))
                {<div class="modal-body" style="height:300px;">
                        <div class="col-md-12">
                            <div style="height:200px;width:200px;background-color:lightgray;">
                                <img id="output" style="width:200px;height:200px;" src="@Url.Content("~/content/images/default.webp")" />
                            </div>

                        </div>
                        <div class="col-md-7" style="margin-top:10px;">
                            <div class="form-group input-group input-group-file">
                                <span class="input-group-btn">
                                    <span class="btn btn-success btn-file" style="padding-bottom: 7px;">
                                        Browse <input type="file" class="form-control" required name="file" accept="image/*"
                                                      onchange="loadFile(event)">
                                    </span>
                                </span>
                                <input type="text" class="form-control" readonly="">
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success"> <i class="fa fa-save"></i> Update</button>
                    </div>
                }
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel">
                <div class="panel-body p-t-20" style="background: white;padding-right: 0px;">
                    <div class="col-md-12">
                        <h3 class="panel-title" style="margin-bottom: 24px;padding-left: 17px;">
                            ID: @Model.UserId
                        </h3>
                    </div>
                    <div class="clearfix"></div>
                    @using (Html.BeginForm("edit", "account", FormMethod.Post, new { @id = "frmsendsms" }))
                    {
                        <div class="col-md-5">
                            <div class="pull-left col-md-5">
                                <div class="thumbnail m-b-none">
                                    <img src="@(Model.ImageUrl == "default" ? Url.Content("~/content/images/default.webp") : Url.Content(Model.ImageUrl))" alt="Profile Page" style="width:200px;height:200px">
                                </div>

                            </div>

                            <div class="pull-left col-md-7">
                                <div class="form-group">
                                    <h3 class="bold font-color-1">@(Model.FirstName + ' ' + Model.LastName)</h3>
                                </div>
                                <div class="form-group">
                                    <span>User Name: @Model.EmailAddress</span>
                                </div>
                                <div class="form-group">
                                    <span>Password: xxxxxx</span>
                                </div>
                                <div class="form-group">
                                    <a href="#" onclick="reset()">Reset Password</a>
                                </div>

                            </div>
                            <div class="clearfix" style="margin-bottom:20px;"></div>
                            <div class="pull-left col-md-12">
                                <a href="#" onclick="resetphoto()">Update Photo</a>
                            </div>

                            <div class="clearfix" style="margin-bottom:20px;"></div>
                            <div class="form-group col-md-6">
                                <label>First name</label>
                                @Html.TextBoxFor(a => a.FirstName, new { @class = "form-control capitalize", @placeholder = "First Name" })
                                @Html.ValidationMessageFor(a => a.FirstName)
                                @Html.HiddenFor(a => a.UserTableId, new { @id = "mainuserid" })
                            </div>
                            <div class="form-group col-md-6">
                                <label>Last name</label>
                                @Html.TextBoxFor(a => a.LastName, new { @class = "form-control capitalize", @placeholder = "Last Name" })
                                @Html.ValidationMessageFor(a => a.LastName)
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-md-6">
                                <label>Contractor</label>
                                @Html.TextBoxFor(a => a.CompanyName, new { @class = "form-control", @placeholder = "Contractor" })
                                @if (Model.CompanyId == 0 && istech)
                                {
                                    <a href="#" id="compnaymodelopen"> Register Your Contractor </a>
                                }
                            </div>
                            <div class="form-group col-md-6">
                                <label>Email address</label>
                                @Html.TextBoxFor(a => a.EmailAddress, new { @type = "email", @class = "form-control", @placeholder = "Email" })
                                @Html.ValidationMessageFor(a => a.EmailAddress)
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-md-6">
                                <label>Phone</label>
                                @Html.TextBoxFor(a => a.PhoneNumber, new { @class = "form-control phonenumber", @placeholder = "Phone Number" })

                            </div>
                            <div class="form-group col-md-6">
                                <label>Alternative phone</label>
                                @Html.TextBoxFor(a => a.AlertnativePhoneNumber, new
                                {
                                    @class = "form-control phonenumber",
                                    @placeholder = "Alternative Phone"
                                })

                            </div>
                            <div class="form-group col-md-6">
                                <label>Hourly rate</label>
                                @Html.TextBoxFor(a => a.HourlyRate, new { @class = "form-control ratetext" })
                            </div>

                            <div class="form-group col-md-6">
                                <label>Background</label>
                                <select class="selectpicker form-control" data-live-search="false" name="Background">
                                    <option @(Model.Background == "" ? "selected" : "") value="">Background</option>
                                    <option @(Model.Background == "Yes" ? "selected" : "") value="Yes">Yes</option>
                                    <option @(Model.Background == "No" ? "selected" : "") value="No">No</option>
                                    <option @(Model.Background == "Pending" ? "selected" : "") value="Pending">Pending</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Overtime rate</label>
                                @Html.TextBoxFor(a => a.Tax, new { @class = "form-control ratetext" })
                            </div>
                            <div class="form-group col-md-6">
                                <label>
                                    Drug tested
                                </label>
                                <select class="selectpicker form-control" data-live-search="false" name="DrugTested">
                                    <option @(Model.DrugTested == "" ? "selected" : "") value="">
                                        Drug tested
                                    </option>

                                    <option @(Model.DrugTested == "Yes" ? "selected" : "") value="Yes">Yes</option>
                                    <option @(Model.DrugTested == "No" ? "selected" : "") value="No">No</option>
                                    <option @(Model.DrugTested == "Pending" ? "selected" : "") value="Pending">Pending</option>

                                </select>
                            </div>


                            <div class="form-group col-md-12">
                                <label>Address</label>
                                @Html.TextBoxFor(a => a.MapValidateAddress, new { @placeholder = "Address", @class = "form-control" })
                                @Html.ValidationMessageFor(a => a.MapValidateAddress)
                            </div>
                            <div class="form-group col-md-6">
                                <label>Suite / Apt. #</label>
                                @Html.TextBoxFor(a => a.SuiteNumber, new
                           {
                               @placeholder = "Suite / Apt. #",
                               @class = "form-control",
                               @id = "Suite"
                           })
                            </div>
                            <div class="form-group col-md-6">
                                <label>Driving Distance</label>
                                @Html.TextBoxFor(a => a.DrivingDistance, new { @class = "form-control", @placeholder = "Driving distance" })
                                <input type="hidden" value="0" id="Validatecity" />
                                <input type="hidden" value="0" id="Validateadd" />
                                <input type="hidden" value="0" id="Validatezip" />
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success btn-sm pull-left">
                                        <i class="fa fa-save"></i> Update
                                    </button>
                                </div>
                            </div>

                        </div>
                    }
                    <div class="col-md-7">

                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="@(tab == 1 ? "active" : "")">
                                <a href="#document" aria-controls="messages"
                                   role="tab" data-toggle="tab" aria-expanded="false">Document</a>
                            </li>
                            <li role="presentation" class="@(tab == 2 ? "active" : "")">
                                <a href="#personal_details" aria-controls="home"
                                   role="tab" data-toggle="tab" aria-expanded="true">Skill</a>
                            </li>
                            <li role="presentation" class="@(tab == 3 ? "active" : "")">
                                <a href="#bank_information" aria-controls="profile"
                                   role="tab" data-toggle="tab" aria-expanded="false">Tool</a>
                            </li>

                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane @(tab == 1 ? "active" : "")" id="document">
                                <div class="panel">
                                    <div class="panel-heading" style="padding-left:20px;padding-bottom: 73px;padding-top: 24px">
                                        <h3 class="panel-title">
                                            <a class="btn btn-success btn-sm pull-right" style="font-weight:500;" href="#" onclick="adddoc()">
                                                <i class="fa fa-plus"></i> Add New Document
                                            </a>
                                        </h3>
                                    </div>
                                    <div class="panel-body p-none">


                                        <table class="table data-table table-hover nowrap table-ultra-responsive dataTable no-footer"
                                               id="tabel">
                                            <thead>
                                                <tr>
                                                    <th>Title</th>
                                                    <th>Download</th>
                                                    <th>Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item1 in filedct)
                                                {
                                                    <tr>
                                                        <td class="tdupper" colspan="3">@item1.Key</td>
                                                        <td style="display:none;"></td>
                                                        <td style="display:none;"></td>
                                                    </tr>
                                                    foreach (var item in filedct[item1.Key].Where(a => a.FileTitle != "").OrderBy(a => a.FileTypeName))
                                                    {
                                                        <tr>
                                                            <td>@item.FileTitle</td>
                                                            <td>
                                                                <a href="@item.Url.Replace("App_Data", "formfiles")" download target="_blank"
                                                                   class="btn btn-success btn-xs pull-left">
                                                                    <i class="fa fa-download"></i>
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <a href="#" class="btn btn-danger btn-xs tFileDelete" data-
                                                                   memberid="@Model.UserTableId" id="@item.FileToken"><i class="fa fa-trash"></i></a>

                                                            </td>
                                                        </tr>

                                                    }

                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane p-20 @(tab == 2 ? "active" : "")" id="personal_details">
                                @using (Html.BeginForm("edit_skills", "account", FormMethod.Post, new
                                {
                                    @id = "skillsendsms",
                                    @enctype = "multipart/form-data"
                                }))
                                {
                                    int cnt = 1;
                                    <div class="col-md-12" style="max-height: 700px;overflow-y: auto;">
                                        @foreach (var item in Model.SkillList)
                                        {
                                            if (Model.Skills != null && Model.Skills.Contains(item.SkillId))
                                            {
                                                <div class="col-md-4 round f11 col-sm-6 col-xs-6">

                                                    <input type="checkbox" name="skills" id="s_@item.SkillId" value="@item.SkillId" checked="checked" /> @item.Name
                                                    <label for="checkbox" class="cuschk bck" data-id="s_@item.SkillId"></label>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-md-4 round col-sm-6 col-xs-6 f11">

                                                    <input type="checkbox" name="skills" id="s_@item.SkillId" value="@item.SkillId" /> @item.Name
                                                    <label for="checkbox" class="cuschk" data-id="s_@item.SkillId"></label>
                                                </div>
                                            }
                                            cnt = cnt + 1;
                                            if (cnt > 3)
                                            {
                                                cnt = 1;
                                                <div class="clearfix"></div>
                                            }
                                        }
                                        <div class="clearfix"></div>

                                    </div>
                                    <div class="col-md-12" style="margin-top:20px;">
                                        <hr />
                                        @Html.HiddenFor(a => a.UserTableId, new { @id = "skillserid" })
                                        <button type="submit" class="btn btn-success btn-sm pull-right">
                                            <i class="fa fa-save"></i> Update

                                        </button>

                                    </div>
                                    <div class="clearfix"></div>
                                }
                            </div>
                            <div role="tabpanel" class="tab-pane  p-20 @(tab == 3 ? "active" : "")" id="bank_information"
                                 style="height:100vh;">
                                @using (Html.BeginForm("edit_tools", "account", FormMethod.Post, new
                                {
                                    @id = "toolssendsms",
                                    @enctype = "multipart/form-data"
                                }))
                                {
                                    <div class="col-md-12" style="max-height: 700px;overflow-y: auto;">

                                        @foreach (var item in dct)
                                        {
                                            typeid = 0;
                                            <div class="clearfix"></div>
                                            <div class="col-md-12 hdr">
                                                <div class="form-group headingtool">
                                                    <label>@item.Key</label>
                                                    @if (allowaddTools)
                                                    {
                                                        <a href="#" class="text-gray pull-right" onclick="gettoolwindow('@item.Key')">
                                                            <i class="fa fa-plus"></i>
                                                        </a>
                                                    }
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="row">
                                                @foreach (var item1 in dct[item.Key].Where(a => a.Name != "").OrderBy(a => a.Name))
                                                {
                                                    <div class="col-md-3 col-sm-6 col-xs-6">
                                                        <div class="form-group round f11">

                                                            @if (Model.Tools != null && Model.Tools.Contains(item1.ToolId))
                                                            {
                                                                <input style="width:20px;" type="checkbox" name="tools" id="t_@item1.ToolId"
                                                                       value="@item1.ToolId" checked="checked" /> <span data-placement="right" data-toggle="tooltip" title="@item1.Name">
                                                                    @(item1.Name.Count() > 15 ? item1.Name.Substring

(0, 13) + ".." : item1.Name)
                                                                </span>
                                                                <label for="checkbox" class="cuschk bck" data-id="t_@item1.ToolId"></label>

                                                            }
                                                            else
                                                            {
                                                                <input style="width:20px;" type="checkbox" name="tools" id="t_@item1.ToolId"
                                                                       value="@item1.ToolId" /> <span data-toggle="tooltip" data-placement="right" title="@item1.Name">
                                                                    @(item1.Name.Count() > 15 ? item1.Name.Substring(0, 13) + ".." :

item1.Name)
                                                                </span>
                                                                <label for="checkbox" class="cuschk" data-id="t_@item1.ToolId"></label>
                                                            }
                                                        </div>
                                                    </div>
                                                    typeid = typeid + 1;
                                                    if (typeid > 3)
                                                    {
                                                        typeid = 0;
                                                        <div class="clearfix"></div>
                                                    }
                                                }

                                            </div>
                                        }


                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-12" style="margin-top:34px;">
                                        <hr />
                                        <div class="clearfix"></div>
                                        @Html.HiddenFor(a => a.UserTableId, new { @id = "toolsuserid" })
                                        <button type="submit" class="btn btn-success btn-sm pull-right">
                                            <i class="fa fa-save"></i> Update

                                        </button>
                                    </div>
                                    <div class="clearfix"></div>
                                }
                            </div>

                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>




<script>
    $("#compnaymodelopen").on("click", function () {
          $("#cname").val('');
        $("#cprimarycontactname").val('');
        $("#cemail").val('');
        $("#cphone").val('');
        $("#companystate_id").val(0).selectpicker('refresh');
        $("#companycity_id").val('');
        $("#crate").val('');
        $("#caddress").val('');
        var cmpnyname = $("#company").val();
        var fname = $("#FirstName").val();
        var lname = $("#lastname").val();
        var email = $("#email").val();
        var phone = $("#phone").val();
        var zip = $("#mainzip").val();
        var stateid = $("#state_id").val();
        var crate = $("#hourlyrate").val();
          var caddress = $("#mainaddress").val();
          $("#caddress").val(caddress);
        $("#cname").val(cmpnyname);
        $("#cprimarycontactname").val(fname+' '+lname);
        $("#cemail").val(email);
        $("#cphone").val(phone);
        $("#czipcode").val(zip);
        $("#companystate_id").val(stateid).selectpicker('refresh');
       var cvalue= $("#city").val();
        $("#companycity_id").val(cvalue);
        $("#crate").val(crate);
        $("#compnaymodel").modal("show");
    });
    function reset() {
         $("#mdlupdate").modal("show");
    }
    function adddoc()
    {$("#docupdate").modal("show");

    }
    function resetphoto() {
         $("#mdlupdate1").modal("show");
    }
    $(".elink").on("click", function () {
        var bankid = $(this).data('bankid');
        $("#bankid").val(bankid);
        var pan = $(this).data('pan');
        $("#pan_number").val(pan);
        var ifsccode = $(this).data('ifsc');
        $("#ifsc_code").val(ifsccode);
        var acnumber = $(this).data('acnumber');
        $("#account_number").val(acnumber);
        var acc_name = $(this).data('acc_name');
        $("#account_name").val(acc_name);
        var brnchname = $(this).data('brnchname');
        $("#branch_name").val(brnchname);
        var bname = $(this).data('bname');
        $("#bank_name").val(bname);
        $("#mdlupdate").modal("show");
    });
    var email_exist = "False";
    var memberid_exist =  "False";
    var username_exist =  "False";
    $("#email").on("change", function () {
        var _val = $("#email").val();
        if (_val != '') {
            var _url = "@Url.Action("validate","member")";
            $.post(_url, { 'type': 1, 'value': _val }, function (data) {
                email_exist = data;
            });
        }
    });
    $("#member_id").on("change", function () {
        var _val = $("#member_id").val();
        if (_val != '') {
            var _url = "@Url.Action("validate","member")";
            $.post(_url, { 'type': 2, 'value': _val }, function (data) {
                memberid_exist = data;
            });
        }
    });
    $('#passwordfrm').submit(function (e) {
        var oldpass = $("#oldpass").val();
        var newpass =$("#newpass").val();
        if (oldpass != newpass) {
            alertify.log("Password and confirm password mustmatch", 'error', 5000);
            return false;
        }
        else {
                return true;
            }

        });
    $(document).ready(function () {
        $(".tFileDelete").click(function (e) {
            e.preventDefault();
            var id = this.id;
            var client_id = $(this).data('memberid');
            bootbox.confirm("Are you sure?", function (result) {
                if (result) {
                    var _url = "@Url.Action("delete_doc","account")";
                    window.location.href = _url + "?memberid=0&id=" + id;
                }
            });
        });
        $(".tbankDelete").click(function (e) {
            e.preventDefault();
            var id = this.id;
            var client_id = $(this).data('memberid');
            bootbox.confirm("Are you sure?", function (result) {
                if (result) {
                    var _url = "@Url.Action("delete_bank","member")";
                    window.location.href = _url + "?mtoken=" + client_id + "&token=" + id;
                }
            });
        });
        $("#skills").multiselect({
            enableCaseInsensitiveFiltering: true, enableFiltering: true, buttonText: function (options, select) {
                return 'Skills';
            },
        });
        $('.data-table').DataTable({ 'bSort': false, "pageLength": 25, "bFilter": true, "bLengthChange": true,"oLanguage": { "sSearch": "", 'sLengthMenu': "Show _MENU_" } });
        $(".dataTables_length").parent().addClass("pull-right");
        $(".dataTables_filter").parent().addClass("pull-left");
        $(".dataTables_length>label").addClass("pull-right");
        $(".dataTables_filter>label").addClass("pull-left");
        $(".dataTables_filter input").attr("placeholder", "Search");
        $(".dataTables_length select[name='table_length']").removeClass("form-control").addClass("Selectpicker");
        $(".dataTables_length select[name='table_length']").removeClass("form-control").addClass("Selectpicker"); 
    });

      get_Manager_selectbyid('@Model.ManagerId');
      function get_Manager_selectbyid(id) {
            var dataString = 'optvalue=Manager&memberid='+id;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_member","default")',
                            data: dataString,
                            cache: false,
                            success: function (e) {
                                $("#Managerid").removeClass("selectpicker").append($.parseHTML(e)).addClass("selectpicker").selectpicker('refresh').removeAttr('disabled');
                                $(".selectpicker").selectpicker('refresh')
                            }
                        });

        }
      get_state('@Model.StateId', 'state_id');
      get_state('0','companystate_id');

      function get_state(state_id,id) {
            var dataString = 'ismulti=0&stateid='+state_id;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_state","default")',
                            data: dataString,
                            cache: false,
                            success: function (e) {
                                $("#" + id).removeClass("selectpicker").append($.parseHTML(e)).addClass("selectpicker").selectpicker('refresh').removeAttr('disabled');
                                $(".selectpicker").selectpicker('refresh')
                            }
                        });

        }



    $(".cuschk").on("click", function () {
        var id = $(this).data("id");
         if ($(this).hasClass("bck")) {
             $("#" + id).attr("checked", false);
             $(this).removeClass("bck");
  } else {
             $("#" + id).attr("checked", true);
             $(this).addClass("bck");
  }

    });

</script>
<style>
    .-content {
        background: #fff;
        display: inline-block;
        margin: 0;
        max-width: 1000px !important;
        overflow: hidden !important;
        -webkit-overflow-scrolling: touch;
        padding: 12px !important;
        position: relative;
        text-align: left;
        vertical-align: middle;
        background: #E4EDF2 !important;
    }

    .btn-default {
        background-color: #E4EDF2 !important;
        color: black !important;
    }

    .dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
        color: #8F9098 !important;
    }

    .inner > .selected > a {
        color: #495057 !important;
    }

    .modal-body .inner > .selected > a {
        color: #8F9098 !important;
    }
</style>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&region=US&key=AIzaSyA1LyE18eEmk5UdDLezPmcOPF47Diugxls" type="text/javascript"></script>
<script type="text/javascript">

    $("#Formbutton").on("click", function () {
        $(".alertify-logs").html('');
        if ($("form").valid()) {
            validateAddress("");
        }
    });
    function validateAddress(address) {
        $(".alertify-logs").html('');
        address = $("#MapValidateAddress").val();
        var _url = "https://maps.googleapis.com/maps/api/geocode/json?address=" + address + "&sensor=false&key=AIzaSyA1LyE18eEmk5UdDLezPmcOPF47Diugxls";
        $.get(_url, function (data) {
            if (data.results.length > 0) {
                var _newAddress3 = data.results[0].formatted_address.replace(", USA", "");
                if (_newAddress3 == address) {
                    $(".alertify-logs").html('');
                    if ($("form").valid()) {
                        $("form").submit();
                    }
                }
                else {
                    $(".alertify-logs").html('');
                    alertify.log('Google map cannot validate your address', 'error', 30000);
                }
            } else {

                $(".alertify-logs").html('');
                alertify.log('Google map cannot validate your address', 'error', 30000);
            }
        });
    }

    function initialize() {
        $(".alertify-logs").html('');
        var defaultBounds = new google.maps.LatLngBounds(
            new google.maps.LatLng(-33.8902, 151.1759)
        );

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                (position) => {
                    const pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude,
                    };
                    defaultBounds = new google.maps.LatLngBounds
                        (new google.maps.LatLng(pos.lat, pos.lng));
                }
            );
        }

        var options1 = {
            types: ['geocode'], bounds: defaultBounds,
            componentRestrictions: { country: "us" }
        };


        var input1 = document.getElementById('MapValidateAddress');
        //var input3 = document.getElementById('Zipcode');


        var autocomplete1 = new google.maps.places.Autocomplete(input1, options1);
        //var autocomplete3 = new google.maps.places.Autocomplete(input3, option3);

        google.maps.event.addListener(autocomplete1, 'place_changed', function () {
            var place = autocomplete1.getPlace();
            var _newAddress = place.formatted_address.replace(", USA", "");
            input1.value = _newAddress;
        });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
    document.addEventListener('DOMNodeInserted', function (event) {
        var target = $(event.target);
        if (target.hasClass('pac-item')) {
            target.html(target.html().replace(/, USA<\/span>$/, "</span>"));
        }
        $('.pac-target-input').attr('autocomplete', 'random');
    });
</script>







