﻿
@{
    Layout = null;
    //Model.rememberme = Model.rememberme ?? false;
}
@model hrm.Models.LoginModel
<!DOCTYPE html>


<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Convo-Login</title>
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/assets/img/favicon.png")">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/bootstrap-toggle.min.css")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/font-awesome.min.css")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/alertify.css")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/alertify-bootstrap-3.css")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/style.css")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/admin.css")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/responsive.css")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/login.css")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/site.css?v=2.3")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/Dashboard.css?v=2.1")">
    <style>
        .jumbo-container {
            padding-top: 109px !important;
            padding-bottom: 80px !important;
        }

        .panel-other-acction a {
            border: 0px !important;
        }

        input:-internal-autofill-selected {
            background-color: white !important;
            color: #495057 !important;
        }

        .panel {
            margin-bottom: 40px !important;
        }

        a, button {
            outline: none !important;
        }

        a {
            text-decoration: none !important;
        }

        .panel-title {
            color: var(--blue) !important;
            text-transform: none !important;
            font-size: 13px !important;
        }

        .app-logo-inner {
            margin-bottom: 25px !important;
        }

            .app-logo-inner a img {
                width: 200px;
            }

        .bar-logo {
            width: 93px !important;
        }

        .maincolor {
            color: var(--blue) !important;
        }

        .mainbgcolor {
            background-color: var(--blue) !important;
        }

        .fnt300 {
            font-weight: 400 !important;
            font-size: 24px !important;
        }

        .form-control {
            min-height: 30px !important;
            height: 36px !important;
            font-weight: 400 !important;
            line-height: 1.5 !important;
            color: #495057 !important;
            background-color: #fff !important;
            background-clip: padding-box !important;
            border: 1px solid #ced4da !important;
            border-radius: .25rem !important;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
        }

        .btn {
            padding: 8px 33px !important;
        }

        .TopBox {
            border-radius: .25rem;
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
            -webkit-box-shadow: 0 0 0px 1000px white inset !important;
        }
    </style>
</head>
<body style="" cz-shortcut-listen="true">
    <main id="wrapper" class="wrapper">
        <div class="container jumbo-container">
            <div class="row">
                <div class="col-md-4 col-lg-4"></div>
                <div class="col-md-4 col-lg-4">
                    <div class="app-logo-inner text-center">
                        <a href="https://taskayak.com/" class="maincolor fnt300">

                            <img src="@Url.Content("~/Content/Images/logo1.png")" />
                        </a>
                    </div>
                    <div class="panel panel-14 TopBox">
                        <div class="panel-heading">
                            <h3 class="panel-title">Recover your Taskayak account password</h3>
                        </div>
                        <div class="panel-body">
                            @using (Html.BeginForm("forgot_password", "account", FormMethod.Post, new { @id = "frmsendsms" }))
                            {
                                <div class="form-group  required">
                                    <label for="el1">Email</label>
                                    @Html.TextBoxFor(a => a.UserName, new { @class = "form-control", @maxlength = "100", @placeholder = "Enter email" })
                                    @Html.ValidationMessageFor(a => a.UserName)
                                </div>
                                <div class="form-group text-right">
                                    <input type="submit" class="btn btn-success btn-md" value="Reset">
                                </div>

                            }
                            <br>
                            @if (!string.IsNullOrEmpty(Model.error_text))
                            {
                                <div class="alert alert-@Model.alertclass alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    @Model.error_text
                                </div>

                            }
                        </div>
                    </div>

                    <div class="panel-other-acction">
                        <div class="text-center">
                            Go back to <a href="/account/login" class="text-blue font-weight-medium">Login</a>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 col-lg-4"></div>
            </div>
            </div>
    </main>

    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>

    <script src="@Url.Content("~/Scripts/jquery.slimscroll.min.js")"></script>

    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>

    <script src="@Url.Content("~/Scripts/bootstrap-toggle.min.js")"></script>

    <script src="@Url.Content("~/Scripts/alertify.js")"></script>

    <script src="@Url.Content("~/Scripts/scripts.js")"></script>
    @Scripts.Render("~/bundles/jqueryval")
    @*<div style="display:none">
            <a href="https://kasma.net/" title="instagram web view">instagram web view</a>
            <a href="https://kasma.net/" title="instagram online viewer">instagram online viewer</a>
            <a href="https://kiminbu.com/" title="whois">whois</a>
            <a href="https://kiminbu.com/" title="domain sorgulama">domain sorgulama</a>
        </div>*@
    <script>

        $(document).ready(function () {
            $('.coder-checkbox').click(function () {
                if ($("#co-check-ui").prop("checked") == true) {
                    $("#co-check-ui").attr("value", true);
                }
                else {
                    $("#co-check-ui").attr("value", false);
                }
            });
        });
    </script>
</body>
</html>