﻿@model hrm.Models.getmailing
<style>
    .btn-default:hover {
        background-color: var(--blue)!important;
        color: white !important;
    }

    .btnn-117 {
        padding-top: 117px !important;
    }
</style>
<div class="row" style="margin-top: 67px;">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="main_question wizard-header">Mailing Address</h3>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group">
            @Html.TextBoxFor(a => a.address, new { @class = "form-control required", @placeholder = "Address" })
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="form-group form-grouppop">

            <select class="selectpicker form-control" data-live-search="true" name="state_id" id="stateid">
            </select>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="form-group form-grouppop">

            <select class="selectpicker form-control" disabled="disabled" data-live-search="true" name="city_id" id="cityid">
            </select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="form-group">
            @Html.TextBoxFor(a => a.zipcode, new { @class = "form-control required", @placeholder = "Zip Code" })

        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="form-group">
            @Html.TextBoxFor(a => a.travldistance, new { @class = "form-control required", @placeholder = "Travel distance (in miles)" })
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="form-group">
            @Html.TextBoxFor(a => a.hrlyrate, new { @class = "form-control required ratetext", @placeholder = "Hourly rate" })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 btnn text-left btnn-117">
        @if (!Model.isrtwcomple)
        {
            <a class="btn btn-default btn-sm" style="padding: .375rem .75rem!important;background-color:#E4EDF2; color:black;border:2px solid #E4EDF2;" href="#" onclick="rtw()">SKIP </a>

        }
        else if (!Model.isw9compl)
        {
            <a class="btn btn-default btn-sm" style="padding: .375rem .75rem!important;background-color:#E4EDF2; color:black;border:2px solid #E4EDF2;" href="#" onclick="w9f()">SKIP </a>

        }
        else if (!Model.isddcomple)
        {
            <a class="btn btn-default btn-sm" style="padding: .375rem .75rem!important;background-color:#E4EDF2; color:black;border:2px solid #E4EDF2;" href="#" onclick="dd()">SKIP </a>
        }
        else
        { <a class="btn btn-default btn-sm" style="padding: .375rem .75rem!important;background-color:#E4EDF2; color:black;border:2px solid #E4EDF2;" href="#" onclick="pp()">SKIP </a>
        }
    </div>
    <div class="col-md-6 btnn btnn-117 text-right">
        <a class="btn btn-success btn-sm" style="padding: .375rem .75rem!important;background-color:var(--blue)!important;" href="#" onclick="submitgottortw()">NEXT </a>
    </div>
</div>
<script>
       $(".ratetext").on("change", function () {
                var _val = $(this).val();
                var res = $.trim(_val).replace(/\$/g, "");
                if (res != '') {
                    var isnumeric = $.isNumeric(res);
                    if (isnumeric == false) {
                      alert('Rate must be numeric', 'error', 5000);
                        $(this).val("");
                        $(this).focus();
                    } else {
                        var value = parseFloat(res).toFixed(2);
                        $(this).val("$" + value);
                        // $(".phonenumber").focus();
                    }
                }
       });
          get_state1('@Model.stateid','stateid');
    get_city1('@Model.cityid', '@Model.stateid', 'cityid');
     $("#stateid").change(function () {
                var id = $(this).val();
            if (id != 0) {
               // $("#city_id").html('');
                    var dataString = 'id=' + id+"&ismulti=0";
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_city_by_stateid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#cityid").html(data).removeAttr('disabled').selectpicker('refresh');

                            }
                        });
            } else {
               $("#cityid").html('<option value="0">City</option>').attr('disabled',true);
                }
            });
         function get_state1(state_id,id) {
            var dataString = 'ismulti=0&stateid='+state_id;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_state","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#"+id).html(data).removeAttr('disabled').selectpicker('refresh');
                            }
                        });

        }
        function get_city1(city_id,state_id,id) {
             var dataString = 'id=' + state_id+"&cityid="+city_id;
                    $.ajax
                        ({
                            type: "POST",
                             url: '@Url.Action("get_all_city_by_stateid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#"+id).html(data).removeAttr('disabled').selectpicker('refresh');
                            }
                        });

    }



</script>