﻿
@{
    ViewBag.Title = "Professional";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model hrm.Models.RegisterModel
<link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/Dashboard.css?v=2.1")">
<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        margin-top: 12px;
        margin-bottom: 20px;
        top: -6px;
        left: -2px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 6px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }

    .btn-default, .btn-default:hover, .btn-default:active {
        background-color: white !important;
        border-color: var(--blue) !important;
        color: var(--blue) !important;
        border: 1px solid var(--blue) !important;
    }

    .btn {
        border-radius: 10px;
    }

    ul.listli > li {
        color: #495057 !important;
        text-align: left;
        padding-bottom: 14px;
    }

    ul.listli {
        padding-top: 35px;
        padding-left: 72px;
    }

    .btnmargin {
        margin-top: 21px !important;
    }

    .greentext {
        color: var(--success);
    }

    .headertext {
        font-size: 21px;
        font-weight: 300;
    }
</style>
<div class="row">
    <div class="col-md-12 col-sm-12">
        @if (!string.IsNullOrEmpty(Model.error_text))
        {
            <div class="alert alert-@Model.alertclass alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                @Model.error_text
            </div>

        }
    </div>

    <div class="col-md-2 col-lg-2">

    </div>

    <div class="col-sm-12 col-xs-12 col-md-8 col-lg-8">
        <div class="panel panel-14 TopBox">
            <div class="panel-heading">
                <h3 class="panel-title">Get your Professional Taskayak account now</h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("getprofessional", "account", FormMethod.Post, new { @id = "frmsendsms", @autocomplete = "off" }))
                {
                    <div class="form-group col-md-6 pd-0">
                        <label for="el1" style="text-transform:none;">Company name</label>
                        @Html.TextBoxFor(a => a.CompanyName, new { @class = "form-control", @maxlength = "50", @placeholder = "Company name" })
                        @Html.ValidationMessageFor(a => a.CompanyName)
                        @Html.HiddenFor(a => a.PlanId)
                    </div>
                    <div class="form-group col-md-6 pd-0">
                        <label for="el1" style="text-transform:none;">Website address</label>
                        <input type="text" name="website" class="form-control" placeholder="https://example.com" />
                    </div>
                    <div class="form-group  col-md-6 pd-0">
                        <label for="el4" style="text-transform:none;">Email address</label>
                        @Html.TextBoxFor(a => a.Email, new { @class = "form-control", @placeholder = "Email address", @type = "email" })
                        @Html.ValidationMessageFor(a => a.Email)
                    </div>
                    <div class="form-group col-md-6 pd-0">
                        <label for="el1" style="text-transform:none;">Telephone</label>
                        @Html.TextBoxFor(a => a.PhoneNumber, new { @class = "form-control", @maxlength = "12", @placeholder = "Phone number" })
                        @Html.ValidationMessageFor(a => a.PhoneNumber)
                        @Html.HiddenFor(a => a.PlanId)
                    </div>
                    <div class="form-group  col-md-6 pd-0">
                        <label for="el4" style="text-transform:none;">Contact name</label>
                        @Html.TextBoxFor(a => a.ContactName, new { @class = "form-control", @placeholder = "Contact name" })
                        @Html.ValidationMessageFor(a => a.ContactName)
                    </div>


                    <div class="form-group  col-md-6 pd-0">
                        <label for="el4" style="text-transform:none;">No of employees</label>
                        <input type="text" value="1" name="employees" required class="form-control" />
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <label for="el4" style="text-transform:none;">Message</label>
                        <textarea id="message" style="height: 78px !important" name="message" rows="5" class="form-control" placeholder="Please enter message"></textarea>
                    </div>

                    <div class="form-group col-md-12 pd-0 pd-r0">
                        <div class="g-recaptcha" data-sitekey="6LfFi7sUAAAAABkLhzcJaKGfGYjwCJST2A0TdBYg"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-md-6 pd-0">
                        <input type="submit" class="btn btn-success btn-md" value="Send Enquiry">
                    </div>
                    <div class="form-group col-md-6 pd-0">
                        <a class="btn btn-success btn-md" href="@Url.Action("pricing","account")">Pricing & features</a>
                        
                    </div>
                }
                <br>



            </div>
        </div>
    </div>


    <div class="col-md-2 col-lg-2">

    </div>
</div>

<script>
    //
    //
    $('#chkAdvantage').click(function () {
        if ($(this).is(':checked')) {
            $("#Advantagemonth").html("$65/mo");
            $("#Advantagetottal").html("$780/yr");
        } else {
            $("#Advantagemonth").html("$75/mo");
            $("#Advantagetottal").html("$900/yr");
        }
    });

    $('#chkProfessional').click(function () {
        if ($(this).is(':checked')) {
            $("#Professionalmonth").html("$175/mo");
            $("#Professionaltottal").html("$2,100/yr");
        } else {
            $("#Professionalmonth").html("$195/mo");
            $("#Professionaltottal").html("$2,340/yr");
        }
    });







</script>
