﻿@model hrm.Models.rtw
@{
    bool iscomplete = Model.iscomplete;
}
<style>
    .btn-default:hover {
        background-color: var(--blue)!important;
        color: white !important;
        border: 2px solid var(--blue)!important;
    }

    input[type="radio"]:before {
        content: "";
        display: block;
        position: relative;
        top: 2px;
        left: 4px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: white;
    }

    input[type="radio"]:checked:before {
        content: "";
        display: block;
        position: relative;
        top: 2px;
        left: 5px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: var(--blue);
    }

    .radio_input {
        margin-top: -7px !important;
    }

    .lbwdth, .rdiolbel {
        text-transform: unset !important;
    }

    #maindiv .form-group label:not(.error) {
        font-size: 13px !important;
    }
</style>
<div class="row" style="margin-top:67px;">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="main_question wizard-header">Right to work</h3>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="form-group radio_input">
            <label class="lbwdth" style="color:black">
                Are you a citizen of the United States?
            </label>
            <label class="rdiolbel">
                <input name="citizen" @((Model.citizen & iscomplete) ? "checked" : "") style="width: 25px;height: 19px;vertical-align: sub;" value="true" type="radio" /> Yes
            </label>
            <label class="rdiolbel">
                <input name="citizen" @((!Model.citizen & iscomplete) ? "checked" : "") style="width: 25px;height: 19px;vertical-align: sub;" value="false" type="radio" />  No
            </label>

        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="form-group radio_input">
            <label class="lbwdth" style="color:black">
                Are you over the age of 18?
            </label>
            <label class="rdiolbel">
                <input name="age" @((Model.age & iscomplete) ? "checked" : "") style="width: 25px;height: 19px;vertical-align: sub;" value="true" type="radio" /> Yes
            </label>
            <label class="rdiolbel">
                <input name="age" @((!Model.age & iscomplete) ? "checked" : "") style="width: 25px;height: 19px;vertical-align: sub;" value="false" type="radio" />  No
            </label>

        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12 col-sm-12 col-xs-12" style="display:none;" id="authorizeddiv">
        <div class="form-group radio_input">
            <label class="lbwdth" style="color:black">
                If you are not, are you authorized to work in the U.S.?
            </label>
            <label class="rdiolbel">
                <input name="authorized" @((Model.auth & iscomplete) ? "checked" : "") style="width: 25px;height: 19px;vertical-align: sub;" value="true" type="radio" /> Yes
            </label>
            <label class="rdiolbel">
                <input name="authorized" @((!Model.auth & iscomplete) ? "checked" : "") style="width: 25px;height: 19px;vertical-align: sub;" value="false" type="radio" />  No
            </label>

        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group radio_input">
            <hr style="border-bottom: 1px solid lightgray !important;margin:15px 0 32px !important;" />
        </div>
        <div class="form-group radio_input">
            <label class="lbwdth" style="color:black">
                Have you ever been convicted of a felony?
            </label>
            <label class="rdiolbel">
                <input name="felony" @((Model.fealony & iscomplete) ? "checked" : "") style="width: 25px;height: 19px;vertical-align: sub;" value="true" type="radio" /> Yes
            </label>
            <label class="rdiolbel">
                <input name="felony" @((!Model.fealony & iscomplete) ? "checked" : "") style="width: 25px;height: 19px;vertical-align: sub;" value="false" type="radio" />  No
            </label>

        </div>
        <div class="form-group radio_input">
            <label class="lbwdth" style="color:black">
                If yes explain
            </label>
            @Html.TextBoxFor(a => a.explainfelony, new { @class = "form-control required", @placeholder = "" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6  text-left">      
        @if (!Model.isw9compl)
        {
        <a class="btn btn-default btn-sm" style="padding: .375rem .75rem!important;background-color:#E4EDF2; color:black;border:2px solid #E4EDF2;" href="#" onclick="w9f()">SKIP </a>

        }
        else if (!Model.isddcomple)
        {
        <a class="btn btn-default btn-sm" style="padding: .375rem .75rem!important;background-color:#E4EDF2; color:black;border:2px solid #E4EDF2;" href="#" onclick="dd()">SKIP </a>
        }
        else
        { <a class="btn btn-default btn-sm" style="padding: .375rem .75rem!important;background-color:#E4EDF2; color:black;border:2px solid #E4EDF2;" href="#" onclick="pp()">SKIP </a>
        }
    </div>
    <div class="col-md-6  text-right">
        @if (!Model.ismailing)
        {
            <a class="btn btn-default btn-sm" style="margin-right: 16px;padding: .375rem .75rem!important;background-color:#E4EDF2; color:black;border:2px solid #E4EDF2;" href="#" onclick="getmailing()">  BACK </a>
        }
        <a class="btn btn-success btn-sm" style="padding: .375rem .75rem!important;background-color:var(--blue)!important;" href="#" onclick="submotrtw()">NEXT </a>
    </div>
</div>
<script>
  
    $(document).ready(function () {
    $(document).on('change', 'input[name="citizen"]', function (e) {
        var val = $(this).val();
        if (val == "true") {
            $("#authorizeddiv").css("display", "none");
        } else {
            $("#authorizeddiv").css("display", "block");
        }
    });
});
</script>
