﻿
@{
    Layout = null;
    //Model.rememberme = Model.rememberme ?? false;
}
@model hrm.Models.LoginModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Login</title>
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/assets/img/favicon.png")">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css?v=1.2")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/bootstrap-toggle.min.css?v=1.2")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/font-awesome.min.css?v=1.2")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/alertify.min.css?v=1.2")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/alertify-bootstrap-3.min.css?v=1.2")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/style.min.css?v=1.2")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/admin.min.css?v=1.2")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/responsive.min.css?v=1.2")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/login.min.css?v=1.2")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/site.min.css?v=1.2")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/Dashboard.min.css?v=1.2")"> 
</head>
<body style="" cz-shortcut-listen="true">
    <main id="wrapper" class="wrapper">
        <div class="container jumbo-container">
            <div class="row">
                <div class="col-md-4 col-lg-4">
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="app-logo-inner text-center">
                        <a href="https://taskayak.com/" class="maincolor fnt300">
                            <img src="@Url.Content("~/Content/Images/logo1.png")" />
                        </a>
                    </div>
                    <div class="panel panel-14 TopBox">
                        <div class="panel-heading">
                            <h3 class="panel-title">Sign in to your Taskayak account</h3>
                        </div>
                        <div class="panel-body">
                            @using (Html.BeginForm("login", "account", FormMethod.Post, new { @id = "frmsendsms", @autocomplete = "off" }))
                            {<div class="form-group">
                                    <label for="el1" style="text-transform:none;">Workspace name</label>
                                    @Html.TextBoxFor(a => a.Workspace, new { @class = "form-control", @maxlength = "30", @placeholder = "Workspace name" })
                                    @Html.ValidationMessageFor(a => a.Workspace)
                                    <span class="netpst">.taskayak.com</span>
                                </div>

                                <div class="form-group">
                                    <label for="el1">Email</label>
                                    @Html.TextBoxFor(a => a.UserName, new { @class = "form-control", @maxlength = "50", @placeholder = "Enter email" })
                                    @Html.ValidationMessageFor(a => a.UserName)
                                </div>

                                <div class="form-group">
                                    <label for="el4">Password</label>
                                    @Html.TextBoxFor(a => a.Password, new { @class = "form-control", @type = "password", @maxlength = "55", @placeholder = "Enter password" })
                                    @Html.ValidationMessageFor(a => a.Password)
                                    @Html.HiddenFor(a => a.ReturnUrl)
                                    <input type="hidden" name="setcookie" value="false" id="setcookie" />
                                </div>
                                <div class="form-group m-t-20 m-b-20 round ">
                                    <input type="checkbox" @(Model.RememberMe == true ? "checked" : "") id="rememberme" name="rememberme" value='@(Model.RememberMe)' class="chk" />
                                    <label for="checkbox" data-val="@(Model.RememberMe)" class="cuschk" data-id="rememberme"> </label><span style="margin-left:10px;" class="remeberspan">Remember me</span>
                                </div>
                                <input type="submit" class="btn btn-success btn-md btn-block" value="Log In"> 
                            }
                            <br>
                            @if (!string.IsNullOrEmpty(Model.error_text))
                            {
                                <div class="alert alert-@Model.alertclass alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    @Model.error_text
                                </div>

                            }
                            <div class="form-group text-center">
                                <a href="@Url.Action("forgot_password","account")" class="text-muted"><i class="fa fa-lock"></i>  Forgot your password?</a>
                            </div>

                        </div>
                    </div>

                    <div class="panel-other-acction">
                        <div class="text-center">
                            Don't have an account ? <a href="/account/register" class="text-blue font-weight-medium">Register</a>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 col-lg-4">
                </div>
            </div>
        </div>
    </main> 
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script> 
    <script src="@Url.Content("~/Scripts/jquery.slimscroll.min.js")"></script> 
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script> 
    <script src="@Url.Content("~/Scripts/bootstrap-toggle.min.js")"></script> 
    <script src="@Url.Content("~/Scripts/alertify.min.js?v=1.2")"></script> 
    <script src="@Url.Content("~/Scripts/scripts.min.js?v=1.2")"></script>
    @Scripts.Render("~/bundles/jqueryval") 
    <script> 
        $(document).ready(function () { 
            $(".cuschk").on("click", function () {
                var id = $(this).data("id");
                if ($(this).hasClass("bck")) {
                    $("#" + id).attr("checked", false);
                    $(this).removeClass("bck");
                    $("#setcookie").val("false");
                } else {
                    $("#" + id).attr("checked", true);
                    $(this).addClass("bck");
                       $("#setcookie").val("true");
                }
            }); 
            $('.coder-checkbox').click(function () {
                if ($("#co-check-ui").prop("checked") == true) {
                    $("#co-check-ui").attr("value", true);
                }
                else {
                    $("#co-check-ui").attr("value", false);
                }
            });
        });
    </script>
</body>
</html>