﻿
@{
    ViewBag.Title = "Register";
    Layout = null;
}
@model hrm.Models.RegisterModel

@helper GetPackageLoad(int planid)
{
    switch (planid)
    {
        case 1:
            <li><span>Starter $65/mo</span></li>
            <li><span>Billed at $780/yr</span></li>
            break;
        case 2:
            <li><span>Advantage $175/mo</span></li>
            <li><span>Billed at $2,100/yr</span></li>
            break;
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Convo-Login</title>
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/assets/img/favicon.png")">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css?v=2.1")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/bootstrap-toggle.min.css?v=2.1")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/font-awesome.min.css?v=2.1")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/alertify.css?v=2.1")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/alertify-bootstrap-3.css?v=2.1")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/style.css?v=2.1")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/admin.css?v=2.1")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/responsive.css?v=2.1")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/login.css?v=2.1")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/site.css?v=4.5")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/Dashboard.css?v=2.5")">
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <style>
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
            margin-top: 12px;
            margin-bottom: 20px;
            top: -6px;
            left: -2px;
            background: lightgray;
            border-radius: 20px;
        }

            .switch input {
                opacity: 0;
                width: 0;
                height: 0;
            }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

            .slider:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 6px;
                background-color: var(--blue);
                -webkit-transition: .4s;
                transition: .4s;
            }

        input:checked + .slider {
            background-color: #2196F3;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

            .slider.round:before {
                border-radius: 50%;
            }

        .jumbo-container {
            padding-top: 28px !important;
            padding-bottom: 80px !important;
        }

        .panel-other-acction a {
            border: 0px !important;
        }

        input:-internal-autofill-selected {
            background-color: white !important;
            color: #495057 !important;
        }

        .panel {
            margin-bottom: 40px !important;
        }

        a, button {
            outline: none !important;
        }

        a {
            text-decoration: none !important;
        }

        .panel-title {
            color: var(--blue) !important;
            text-transform: none !important;
            font-size: 13px !important;
        }
        
        .app-logo-inner {
            margin-bottom: 25px !important;
            margin-top: 25px !important;
        }

            .app-logo-inner a img {
                width: 200px;
            }

        .bar-logo {
            width: 93px !important;
        }

        .maincolor {
            color: var(--blue) !important;
        }

        .mainbgcolor {
            background-color: var(--blue) !important;
        }

        .fnt300 {
            font-weight: 400 !important;
            font-size: 24px !important;
        }

        .form-control {
            min-height: 30px !important;
            height: 36px !important;
            font-weight: 400 !important;
            line-height: 1.5 !important;
            color: #495057 !important;
            background-color: #fff !important;
            background-clip: padding-box !important;
            border: 1px solid #ced4da !important;
            border-radius: .25rem !important;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
        }

        .btn {
            padding: 8px 12px !important;
        }

        .TopBox {
            border-radius: .25rem;
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
            -webkit-box-shadow: 0 0 0px 1000px white inset !important;
        }

        .round input[type="checkbox"] {
            visibility: hidden;
        }

            .round input[type="checkbox"]:checked + label {
                background-color: var(--blue);
                border-color: var(--blue);
            }

        .bck {
            background-color: var(--blue) !important;
            border-color: var(--blue) !important;
        }

            .bck:after {
                border: 2px solid #fff !important;
                border-top: none !important;
                border-right: none !important;
                content: "" !important;
                height: 4px !important;
                left: 3px !important;
                opacity: 1 !important;
                position: absolute !important;
                top: 4px !important;
                transform: rotate(-45deg) !important;
                width: 10px !important;
            }

        .round input[type="checkbox"]:checked + label:after {
            opacity: 1;
        }

        .pd0 {
            padding-bottom: 0px !important;
        }

        .cuschk {
            cursor: pointer;
        }

        .bcklabel {
            font-size: 14px !important;
            padding-top: 0px;
        }

        .round label {
            background-color: #fff;
            border: 1px solid #ccc;
            cursor: pointer;
            height: 17px;
            left: 0px;
            position: absolute;
            top: 4px;
            width: 16px;
            border-radius: 3px;
        }

        .round {
            position: relative;
            padding-bottom: 17px;
        }

            .round label:after {
                border: 2px solid #fff;
                border-top: none;
                border-right: none;
                content: "";
                height: 6px;
                left: 3px;
                opacity: 0;
                position: absolute;
                top: 3px;
                transform: rotate(-45deg);
                width: 12px;
            }

        .StripeElement {
            box-sizing: border-box;
            height: 40px;
            padding: 10px 12px;
            border: 1px solid transparent;
            border-radius: 4px;
            background-color: white;
            box-shadow: 0 1px 3px 0 #e6ebf1;
            -webkit-transition: box-shadow 150ms ease;
            transition: box-shadow 150ms ease;
        }

        .StripeElement--focus {
            box-shadow: 0 1px 3px 0 #cfd7df;
        }

        .StripeElement--invalid {
            border-color: #fa755a;
        }

        .StripeElement--webkit-autofill {
            background-color: #fefde5 !important;
        }

        @@media screen and (max-width: 767px) {

            .netpst {
                left: 225px !important;
                top: -49px !important;
            }
}
       
    </style>
</head>
<body style="" cz-shortcut-listen="true">
    <main id="wrapper" class="wrapper">
        <div class="container jumbo-container">
            <div class="row">
                <div class="col-md-3 col-lg-3">
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="app-logo-inner text-center">
                        <a href="https://taskayak.com/" class="maincolor fnt300">
                            <img src="@Url.Content("~/Content/Images/logo1.png")" />
                        </a>
                    </div>
                    <div class="panel panel-14 TopBox">
                        <div class="panel-heading">
                            <h3 class="panel-title">Get your free Taskayak account now</h3>
                        </div>
                        <div class="panel-body">
                            @using (Html.BeginForm("register", "account", FormMethod.Post, new { @id = "frmsendsms", @autocomplete = "off" }))
                            {
                                <div class="form-group col-md-6 pd-0">
                                    <label for="el1" style="text-transform:none;">First name</label>
                                    @Html.TextBoxFor(a => a.FirstName, new { @class = "form-control", @maxlength = "30", @placeholder = "First name" })
                                    @Html.ValidationMessageFor(a => a.FirstName)
                                    @Html.HiddenFor(a => a.PlanId)

                                </div>
                                <div class="form-group col-md-6 pd-0 pd-r0">
                                    <label for="el4" style="text-transform:none;">Last name</label>
                                    @Html.TextBoxFor(a => a.LastName, new { @class = "form-control", @maxlength = "30", @placeholder = "Last name" })
                                    @Html.ValidationMessageFor(a => a.LastName)
                                </div> <div class="clearfix"></div>
                                <div class="form-group">
                                    <label for="el4" style="text-transform:none;">Workspace name</label>
                                    @Html.TextBoxFor(a => a.Workspace, new { @class = "form-control", @maxlength = "30", @placeholder = "Workspace name" })
                                    @Html.ValidationMessageFor(a => a.Workspace)
                                </div> <div class="clearfix"></div>
                                <div class="form-group">
                                    <label for="el4" style="text-transform:none;">Domain name</label>
                                    <input type="text" value="@Model.Workspace" id="domainid" class="form-control" placeholder="Domain name" />
                                    <span class="text-muted">You can change domain name anytime</span>
                                    <span class="netpst">.taskayak.com</span>
                                </div> <div class="clearfix"></div>
                                <div class="form-group">
                                    <label for="el4" style="text-transform:none;">Email address</label>
                                    @Html.TextBoxFor(a => a.Email, new { @class = "form-control", @placeholder = "Email address" })
                                    @Html.ValidationMessageFor(a => a.Email)
                                </div> <div class="clearfix"></div>
                                <div class="form-group col-md-6 pd-0">
                                    <label for="el4" style="text-transform:none;">Password</label>
                                    @Html.TextBoxFor(a => a.Password, new { @class = "form-control", @type = "password", @placeholder = "Password" })
                                    @Html.ValidationMessageFor(a => a.Password)
                                </div>
                                <div class="form-group col-md-6 pd-0 pd-r0">
                                    <label for="el4" style="text-transform:none;">Repeat password</label>
                                    @Html.TextBoxFor(a => a.ConfirmPassword, new { @class = "form-control", @type = "password", @placeholder = "Repeat password" })
                                    @Html.ValidationMessageFor(a => a.ConfirmPassword)
                                </div> <div class="clearfix"></div>
                                <div class="form-group">
                                    <label for="el4" style="text-transform:none;">Token</label>
                                    @Html.TextBoxFor(a => a.Token, new { @class = "form-control", @placeholder = "Auth Token" })
                                    @Html.ValidationMessageFor(a => a.Token)
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group col-md-6 pd-0 pd-r0 mb-0">
                                    <label for="el4" style="text-transform:none;width:100%">Package</label>
                                    <span style="color: #495057">Monthly </span>  <label class="switch">
                                        <input type="checkbox" checked data-id="@Model.PlanId" id="chkpackage">
                                        <span class="slider round"></span>
                                    </label><span style="color: #495057">Yearly </span>
                                </div>
                                <div class="form-group col-md-6 pd-0 pd-r0 mb-0">
                                    <label for="el4" style="text-transform:none;width:100%;color:white;">Package</label>
                                    <input type="hidden" name="plantype" value="1" id="plantype" />
                                    <ul id="switcherul">
                                        @GetPackageLoad(Model.PlanId)
                                    </ul>
                                </div>
                                <div class="clearfix"></div>

                                <div class="form-group">
                                    <label for="card-element">
                                        Credit or debit card
                                    </label>
                                    <div id="card-element">
                                        <!-- A Stripe Element will be inserted here. -->
                                    </div>
                                    <div id="card-errors" role="alert"></div>
                                </div>
                                <div class="form-group col-md-12 pd-0 pd-r0">
                                    <div class="g-recaptcha" data-sitekey="6LfFi7sUAAAAABkLhzcJaKGfGYjwCJST2A0TdBYg"></div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-success btn-md btn-block" value="Register">
                                </div>
                            }
                            <br>
                            @if (!string.IsNullOrEmpty(Model.error_text))
                            {
                                <div class="alert alert-@Model.alertclass alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    @Model.error_text
                                </div>

                            }
                            <div class="form-group text-center">
                                By registering you agree to the Taskayak  <a target="_blank" href="https://taskayak.com/legal/index/" class="text-blue font-weight-medium">Terms of Use</a>
                            </div>

                        </div>
                    </div>

                    <div class="panel-other-acction">
                        <div class="text-center">
                            Already have an account ?  <a href="/account/login" class="text-blue font-weight-medium">Login</a>
                        </div>
                    </div>

                </div>
                <div class="col-md-3 col-lg-3">
                </div>
            </div>
        </div>
    </main>

    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js?v=2.1")"></script>

    <script src="@Url.Content("~/Scripts/jquery.slimscroll.min.js?v=2.1")"></script>

    <script src="@Url.Content("~/Scripts/bootstrap.min.js?v=2.1")"></script>

    <script src="@Url.Content("~/Scripts/bootstrap-toggle.min.js?v=2.1")"></script>

    <script src="@Url.Content("~/Scripts/alertify.js?v=2.1")"></script>

    <script src="@Url.Content("~/Scripts/scripts.js?v=2.1")"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $('#chkpackage').click(function () {
            var planid = $(this).data('id');
            var body = "";

            if ($(this).is(':checked')) {
                $("#plantype").val("1");
                if (planid == 1) {
                    body = '<li><span>Starter $65/mo</span></li><li><span>Billed at $780/yr</span></li>';
                } else {
                    body = '<li><span>Advantage $175/mo</span></li><li><span>Billed at $2,100/yr</span></li>';
                }

            } else {
                $("#plantype").val("2");
                if (planid == 1) {

                    body = '<li><span>Starter $75/mo</span></li>';
                } else {
                    body = '<li><span>Advantage $195/mo</span></li>';
                }

            }
            $("#switcherul").html(body);
        });


        $(document).ready(function () {
            $("#Workspace").on("change", function () {
                var _val = $(this).val();
                $("#domainid").val(_val);
            });
            $("form").on("submit", function () {
                if ($("form").valid()) {
                    var _val = $("#g-recaptcha-response").val();
                    if ($.trim(_val) == '') {
                        alertify.log('Please validate recaptcha', 'error', 5000);
                        return false;
                    }
                }
            }); 
            $('.coder-checkbox').click(function () {
                if ($("#co-check-ui").prop("checked") == true) {
                    $("#co-check-ui").attr("value", true);
                }
                else {
                    $("#co-check-ui").attr("value", false);
                }
            });
        });


    </script>
    <script>
        var stripe = Stripe('pk_test_s1vfMK6DkrCW2u0N1rZvkkCx');

        // Create an instance of Elements.
        var elements = stripe.elements();

        // Custom styling can be passed to options when creating an Element.
        // (Note that this demo uses a wider set of styles than the guide below.)
        var style = {
            base: {
                color: '#32325d',
                fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                fontSmoothing: 'antialiased',
                fontSize: '16px',
                '::placeholder': {
                    color: '#aab7c4'
                }
            },
            invalid: {
                color: '#fa755a',
                iconColor: '#fa755a'
            }
        };

        // Create an instance of the card Element.
        var card = elements.create('card', { style: style });

        // Add an instance of the card Element into the `card-element` <div>.
        card.mount('#card-element');

        // Handle real-time validation errors from the card Element.
        card.on('change', function (event) {
            var displayError = document.getElementById('card-errors');
            if (event.error) {
                displayError.textContent = event.error.message;
            } else {
                displayError.textContent = '';
            }
        });

        // Handle form submission.
        var form = document.getElementById('payment-form');
        form.addEventListener('submit', function (event) {
            event.preventDefault();

            stripe.createToken(card).then(function (result) {
                if (result.error) {
                    // Inform the user if there was an error.
                    var errorElement = document.getElementById('card-errors');
                    errorElement.textContent = result.error.message;
                } else {
                    // Send the token to your server.
                    stripeTokenHandler(result.token);
                }
            });
        });

        // Submit the form with the token ID.
        function stripeTokenHandler(token) {
            // Insert the token ID into the form so it gets submitted to the server
            var form = document.getElementById('payment-form');
            var hiddenInput = document.createElement('input');
            hiddenInput.setAttribute('type', 'hidden');
            hiddenInput.setAttribute('name', 'stripeToken');
            hiddenInput.setAttribute('value', token.id);
            form.appendChild(hiddenInput);
            // alert("a");
            // Submit the form
            form.submit();
        }
    </script>
</body>
</html>