﻿
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model hrm.Models.ChangePassword
<div class="p-10">
    @*<h2 class="page-title">Change Password</h2>*@
</div>
<div class="p-30 p-t-none p-b-none">
    @if (!string.IsNullOrEmpty(Model.error_text))
    {
        <div class="alert alert-@Model.alertclass alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            @Model.error_text
        </div>
    }
    <div class="row">

        <div class="col-lg-6">
            <div class="panel">
                <div class="panel-body">
                    @using (Html.BeginForm("password", "account", FormMethod.Post, new { @id = "frmsendsms", @enctype = "multipart/form-data" }))
                    {
                        <div class="panel-heading">
                            <h3 class="panel-title"> Change Password</h3>
                        </div>

                        <div class="form-group">
                            <label>Current Password</label>
                            @Html.TextBoxFor(a => a.CurrentPassword, new { @class = "form-control",@type="password" })
                            @Html.ValidationMessageFor(a => a.CurrentPassword)
                        </div>

                        <div class="form-group">
                            <label>New Password</label>
                            @Html.TextBoxFor(a => a.Password, new { @class = "form-control",@type="password" })
                            @Html.ValidationMessageFor(a => a.Password)
                        </div>

                        <div class="form-group">
                            <label>Confirm Password</label>
                            @Html.TextBoxFor(a => a.ConfirmPassword, new { @class = "form-control",@type="password" })
                            @Html.ValidationMessageFor(a => a.ConfirmPassword)
                        </div>
                        <button type="submit" class="btn btn-success btn-sm pull-right"><i class="fa fa-save"></i> Update </button>
                    }
                </div>
            </div>
        </div>

    </div>

</div>


