﻿

@model hrm.Models.pp


@*<link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/style.css?v=2.3")">*@
<style>
    .btn-default:hover {
        background-color: var(--blue)!important;
        color: white !important;
        border-bottom: 2px solid var(--blue)!important;
    }

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        text-align: right;
        opacity: 0;
        filter: alpha(opacity=0);
        opacity: 0;
        background: none repeat scroll 0 0 transparent;
        cursor: inherit;
        display: block;
    }
</style>
<div class="row" style="margin-top:63px;margin-bottom:10px;">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="main_question wizard-header">Profile picture</h3>
    </div>
    <div class="clearfix"></div>

    <div class="col-md-3 col-sm-3 col-xs-12">
        <div style="height:200px;width:200px;background-color:lightgray;">
            <img id="output1" style="width:200px;height:200px;" src="@Model.imageurl" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-5 col-sm-5 col-xs-12">
        <form id="upload_form" enctype="multipart/form-data">
            <div class="form-group input-group input-group-file">
                <span class="input-group-btn">
                    <span class="btn btn-success btn-file" style="background:var(--blue)!important;border: 2px var(--blue)solid !important;padding:5px 17px !important">
                        Browse <input type="file" class="form-control" id="ppfile" required name="file" accept="image/*" onchange="loadFile1(event)">
                    </span>
                </span>
                <input type="text" class="form-control" readonly="">
            </div>
        </form>
    </div>
</div>

<div class="row" style="padding-top: 60px;">
    <div class="col-md-6  text-left">
    </div>
    <div class="col-md-6  text-right">
        @if (!Model.isddcomple)
        {
            <a class="btn btn-default btn-sm" style="margin-right: 16px;padding: .375rem .75rem!important;background-color:#E4EDF2; color:black;border:2px solid #E4EDF2 ;" href="#" onclick="dd()">  BACK </a>
        }
        else if (!Model.isw9compl)
        {
            <a class="btn btn-default btn-sm" style="margin-right: 16px;padding: .375rem .75rem!important;background-color:#E4EDF2; color:black;border:2px solid #E4EDF2 ;" href="#" onclick="w9f()">  BACK </a>
        }
        else if (!Model.isrtwcomple)
        {
            <a class="btn btn-default btn-sm" style="margin-right: 16px;padding: .375rem .75rem!important;background-color:#E4EDF2; color:black;border:2px solid #E4EDF2 ;" href="#" onclick="rtw()">  BACK </a>
        }
        else if (!Model.ismailcomple)
        {
            <a class="btn btn-default btn-sm" style="margin-right: 16px;padding: .375rem .75rem!important;background-color:#E4EDF2; color:black;border:2px solid #E4EDF2 ;" href="#" onclick="getmailing()">  BACK </a>
        }
        <a class="btn btn-success btn-sm" style="padding: .375rem .75rem!important;background-color:var(--blue)!important;" href="#" onclick="fns()">SUBMIT </a>
    </div>
</div>
<script>
    var loadFile1 = function (event) {
        var output = document.getElementById('output1');
        output.src = URL.createObjectURL(event.target.files[0]);
    };
</script>
<script src="@Url.Content("~/Scripts/scripts.js?v=1.4")"></script>
<script src="@Url.Content("~/Scripts/form-elements-page.js?v=1.3")"></script>
