﻿
@{
    ViewBag.Title = "pricing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model hrm.Models.RegisterModel
<link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/Dashboard.css?v=2.1")">
<style>
    .panel-title12 {
        font-size: 15px !important;
        font-weight: 400 !important;
        text-transform: none !important;
        color: #333333 !important;
    }

    .dc_line {
        -webkit-text-decoration-line: line-through; /* Safari */
        text-decoration-line: line-through;
    }


    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        margin-top: 12px;
        margin-bottom: 20px;
        top: -6px;
        left: -2px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 6px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }

    .btn-default, .btn-default:hover, .btn-default:active {
        background-color: white !important;
        border-color: var(--blue) !important;
        color: var(--blue) !important;
        border: 1px solid var(--blue) !important;
    }

    .btn {
        border-radius: 10px;
    }

    ul.listli > li {
        color: #495057 !important;
        text-align: left;
        padding-bottom: 14px;
    }

    ul.listli {
        padding-top: 35px;
        padding-left: 72px;
    }

    .btnmargin {
        margin-top: 21px !important;
    }

    .greentext {
        color: var(--success);
    }

    .headertext {
        font-size: 21px;
        font-weight: 300;
    }

    .labelbox {
        display: block;
        padding-left: 15px;
        text-indent: -15px;
    }


    .closebox {
        float: right;
        font-size: 26px;
        font-weight: 500;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        filter: alpha(opacity=20);
        opacity: 0.6;
        border-radius: 29px;
        width: 35px;
        padding: 1px !important;
        border: 1px solid #FFFFFF !important;
    }

    .box-inner > div > .form-group > label > span {
        text-transform: none !important;
    }

    .box-inner {
        width: 570px;
        padding: 10px;
    }

    .box {
        float: right;
        overflow: hidden;
        background: white;
    }

    .mainbox {
        position: absolute;
        top: 62px;
        z-index: 99999999;
        right: 1px;
        box-shadow: 1px 11px 13px slategrey;
        height: 93vh;
    }

    .inputbox, .inputbox2 {
        width: 24px;
        height: 13px;
        padding: 0;
        margin: 0;
        vertical-align: bottom;
        position: relative;
        top: -1px;
        *overflow: hidden;
    }

    .closebox:hover {
        color: #626262 !important;
        background-color: #FFFFFF !important;
        border: 1px solid #EEE !important;
    }
</style>
<script src="https://js.stripe.com/v3/"></script>
<script src="~/stripe/stripesubmit.js"></script>
<link href="~/stripe/paymentform2.css?v=1.1" rel="stylesheet" />
<div class="row">

    <div class="box mainbox" style="display: none;" id="box1">
        <div class="box-inner">
            <div class="col-md-12">
                <h3 class="pull-left panel-title" style="padding-left: 0px !important;padding-top: 10px;" id="dataname">Starter</h3>
                <button type="button" class="close closebox" aria-label="Close" autocomplete="random"><span aria-hidden="true">×</span></button>
            </div>
            <div class="clearfix"></div>
            <hr class="mt9" />

            <div class="clearfix"></div>
            <div class="clearfix"></div>
            <div class="cell example example2" id="example-2">
                @using (Html.BeginForm("buy", "account", FormMethod.Post, new { @id = "frmexample2", @autocomplete = "off" }))
                {

                    <div class="row">
                        <div class="field">
                            <div id="example2-card-number" class="input empty"></div>
                            <label for="example2-card-number" data-tid="elements_examples.form.card_number_label">Card number</label>
                            <div class="baseline"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="field half-width">
                            <div id="example2-card-expiry" class="input empty"></div>
                            <label for="example2-card-expiry" data-tid="elements_examples.form.card_expiry_label">Expiration</label>
                            <div class="baseline"></div>
                        </div>
                        <div class="field half-width">
                            <div id="example2-card-cvc" class="input empty"></div>
                            <label for="example2-card-cvc" data-tid="elements_examples.form.card_cvc_label">CVC</label>
                            <div class="baseline"></div>
                        </div>
                    </div>
                    <div data-locale-reversible>

                        <div class="row" data-locale-reversible>

                            <div class="field quarter-width">
                                <input id="example2-zip" data-tid="elements_examples.form.postal_code_placeholder" class="input empty" type="text" placeholder="94107" required="" autocomplete="postal-code">
                                <label for="example2-zip" data-tid="elements_examples.form.postal_code_label">ZIP</label>
                                <div class="baseline"></div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" data-tid="elements_examples.form.pay_button">Pay <span id="dataamount2"></span></button>
                    <div class="error" role="alert">

                        <span class="message"></span>
                    </div>
                    <input type="hidden" name="stripeToken" class="stripeToken" />
                }


                </div>
        </div>
    </div>
</div>
<div class="row">

    <div class="box mainbox" style="display: none;" id="box2">
        <div class="box-inner">
            <div class="col-md-12">
                <h3 class="pull-left panel-title panel-title12 " style="padding-left: 0px !important;padding-top: 10px;">Get your professional Taskayak account now</h3>
                <button type="button" class="close closebox" aria-label="Close" autocomplete="random"><span aria-hidden="true">×</span></button>
            </div>
            <div class="clearfix"></div>
            <hr class="mt9" />

            @using (Html.BeginForm("register_professional", "account", FormMethod.Post, new { @id = "frmsendsms", @autocomplete = "off",@style= "padding-left: 15px;" }))
            {
                <div class="form-group col-md-12 pd-0">
                    <label for="el1" style="text-transform:none;">Company name</label>
                    @Html.TextBoxFor(a => a.CompanyName, new { @class = "form-control", @maxlength = "50", @placeholder = "Company name" })
                    @Html.ValidationMessageFor(a => a.CompanyName)
                    @Html.HiddenFor(a => a.PlanId)
                </div>
                <div class="form-group col-md-12 pd-0">
                    <label for="el1" style="text-transform:none;">Website address</label>
                    <input type="text" name="website" class="form-control" placeholder="https://example.com" />
                </div>
                <div class="form-group  col-md-12 pd-0">
                    <label for="el4" style="text-transform:none;">Email address</label>
                    @Html.TextBoxFor(a => a.Email, new { @class = "form-control", @placeholder = "Email address", @type = "email" })
                    @Html.ValidationMessageFor(a => a.Email)
                </div>
                <div class="form-group col-md-12 pd-0">
                    <label for="el1" style="text-transform:none;">Telephone</label>
                    @Html.TextBoxFor(a => a.PhoneNumber, new { @class = "form-control", @maxlength = "12", @placeholder = "Phone number" })
                    @Html.ValidationMessageFor(a => a.PhoneNumber)
                    @Html.HiddenFor(a => a.PlanId)
                </div>
                <div class="form-group  col-md-12 pd-0">
                    <label for="el4" style="text-transform:none;">Contact name</label>
                    @Html.TextBoxFor(a => a.ContactName, new { @class = "form-control", @placeholder = "Contact name" })
                    @Html.ValidationMessageFor(a => a.ContactName)
                </div>


                <div class="form-group  col-md-12 pd-0">
                    <label for="el4" style="text-transform:none;">No of employees</label>
                    <input type="text" value="1" name="employees" required class="form-control" />
                </div>
                <div class="clearfix"></div>
                <div class="form-group col-md-12 pd-0">
                    <label for="el4" style="text-transform:none;">Message</label>
                    <textarea id="message" style="height: 78px !important" name="message" rows="5" class="form-control" placeholder="Please enter message"></textarea>
                </div>


                <div class="clearfix"></div>
                <div class="form-group col-md-12 pd-0">
                    <input type="submit" class="btn btn-success btn-md btn-block" value="Send Enquiry">
                </div>
            }


        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-lg-12">
        @if (!string.IsNullOrEmpty(Model.error_text))
        {
            <div class="alert alert-@Model.alertclass alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                @Model.error_text
            </div>

        }
    </div>
    <div class="col-md-1 col-lg-1">

    </div>

    <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
        <div class="TopBox">
            <div class="text-white p-15 clearfix">
                <div class="pull-left" style="width:100%;">
                    <p class="text-muted  pull-left col-md-12 headertext">Starter <span class="pull-right greentext" id="Startermonth">$65/mo</span></p>
                    <p class="text-muted  pull-left col-md-12 font-weight-medium"> <span id="StarterBilled" class="pull-right">Billed at <span class="dc_line"> $900 </span> <span id="Startertotal"> $780/yr</span></span></p>
                </div>
                <div class="text-center" style="width:100%;">
                    <span style="color: #495057">Monthly </span>  <label class="switch">
                        <input type="checkbox" checked data-id="Starter" id="chkStarter">
                        <span class="slider round"></span>
                    </label><span style="color: #495057">Yearly </span>
                </div>
                <div class="pull-left" style="width:100%;">
                    <a class="btn btn-primary  btn-block slide-toggle1" href="#">Buy now</a>
                    <input type="button" class="btn btn-default  btn-block btnmargin" value="Talk to sales" />
                </div>
                <div class="pull-left" style="width:100%;">
                    <ul class="listli">
                        <li>Unlimited User</li>
                        <li>Unlimited Client</li>
                        <li>Subcontractor Management</li>
                        <li>Unlimited Jobs</li>
                        <li>Unlimited offers</li>
                        <li>Pay Management</li>
                        <li>Pre set Email / SMS Template</li>
                        <li>2,500 SMS Monthly</li>
                        <li>10000 Email Monthly</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
        <div class="TopBox">
            <div class="text-white p-15 clearfix">
                <div class="pull-left" style="width:100%;">
                    <p class="text-muted headertext pull-left col-md-12">Advantage <span class="pull-right greentext" id="Advantagemonth">$175/mo</span></p>
                    <p class="text-muted  pull-left col-md-12 font-weight-medium"> <span id="AdvantageBilled" class="pull-right">Billed at <span class="dc_line"> $2,340 </span> <span id="Advantagetotal"> $2,100/yr</span></span></p>

                </div>
                <div class="text-center" style="width:100%;">
                    <span style="color: #495057">Monthly </span>  <label class="switch">
                        <input type="checkbox" data-id="Advantage" checked id="chkAdvantage">
                        <span class="slider round"></span>
                    </label><span style="color: #495057">Yearly </span>
                </div>
                <div class="pull-left" style="width:100%;">

                    <a class="btn btn-primary  btn-block slide-toggle2" href="#">Buy now</a>

                    <input type="button" class="btn btn-default  btn-block btnmargin" value="Talk to sales" />
                </div>
                <div class="pull-left" style="width:100%;">
                    <ul class="listli">
                        <li>Unlimited User</li>
                        <li>Unlimited Client</li>
                        <li>Subcontractor Management</li>
                        <li>Unlimited Jobs</li>
                        <li>Unlimited offers</li>
                        <li>Pay Management</li>
                        <li>Pre set Email / SMS Template</li>
                        <li>10,000  SMS Monthly</li>
                        <li>40,000  Email Monthly</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
        <div class="TopBox">
            <div class="text-white p-15 clearfix">
                <div class="pull-left" style="width:100%;">
                    <p class="text-muted headertext pull-left col-md-12">Professional <span class="pull-right greentext" id="checkprfspan">$995/mo</span></p>
                    <p class="text-muted  pull-left col-md-12 font-weight-medium"> <span class="pull-right">Starting Price</span></p>

                </div>
                <div class="text-center" style="width:100%;">
                    <span style="color: #495057">Monthly </span>  <label class="switch">
                        <input type="checkbox" id="checkprf">
                        <span class="slider round"></span>
                    </label><span style="color: #495057">Yearly </span>
                </div>
                <div class="pull-left" style="width:100%;">
                    <a class="btn btn-primary slide-toggle3  btn-block" href="#">Buy now</a>

                    <input type="button" class="btn  btn-default btn-block btnmargin" value="Talk to sales" />
                </div>
                <div class="pull-left" style="width:100%;">
                    <ul class="listli">
                        <li>Customer Installation</li>
                        <li>Branded application</li>
                        <li>Custom integartion</li>
                        <li>Mobile applications</li>
                        <li>Additional Faetures</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1 col-lg-1">

    </div>
</div>

<script>
    //
    //
    $('#chkStarter').click(function () {
        if ($(this).is(':checked')) {
            $("#Startermonth").html("$65/mo");
            $("#StarterBilled").html("Billed at <span class='dc_line'>$900 </span> <span id='Startertotal'> $780/yr</span>");
        } else {
            $("#Startermonth").html("$75/mo");
            $("#Startertotal").html("");
            $("#StarterBilled").html("<span class=''> </span> <span id='Advantagetotal'></span>");
        }
    });

    $('#chkAdvantage').click(function () {
        if ($(this).is(':checked')) {
            $("#Advantagemonth").html("$175/mo");
            $("#AdvantageBilled").html("Billed at <span class='dc_line'>$2,340 </span> <span id='Advantagetotal'> $2,100/yr</span>");
        } else {
            $("#Advantagemonth").html("$195/mo");
            $("#AdvantageBilled").html("<span class=''> </span> <span id='Advantagetotal'></span>");
        }
    });
    $('#checkprf').click(function () {
        if ($(this).is(':checked')) {
            $("#checkprfspan").html("$850/mo");

        } else {
            $("#checkprfspan").html("$995/mo");

        }
    });
    $(document).ready(function () {
        $(".closebox").on("click", function (e) {
            $(".box").animate({
                width: "hide"
            });
            $("#backdrop").css("display", "none");
        });
        $(".slide-toggle1").on("click", function (e) {
            $("#backdrop").css("display", "block");
            if ($("#chkStarter").is(':checked')) {
                // $("#Advantagemonth1").html("$65/mo");
                $("#dataamount2").html("$780");

            } else {
                $("#dataamount2").html("$75");
            }
            $("#dataname").html("Starter");
            $("#box2").animate({
                width: "hide"
            });
            $("#box1").animate({
                width: "hide"
            });
            $("#box1").animate({
                width: "show"
            });

        });
        $(".slide-toggle2").on("click", function (e) {
            $("#dataname").html("Advantage");
            if ($("#chkAdvantage").is(':checked')) {
                $("#dataamount2").html("$2,100");
            } else {

                $("#dataamount2").html("$195");
            }
            $("#backdrop").css("display", "block");
            $("#box2").animate({
                width: "hide"
            });
            $("#box1").animate({
                width: "hide"
            });
            $("#box1").animate({
                width: "show"
            });

        });
    });
    $(".slide-toggle3").on("click", function (e) {
        $("#backdrop").css("display", "block");
        $("#box1").animate({
            width: "hide"
        });
        getbilling();
        $("#box2").animate({
            width: "hide"
        });
        $("#box2").animate({
            width: "show"
        });


    });


    function getbilling() {
        var _url = "@Url.Action("getbilling","account")";
        $.post(_url, function (data) {
            var email = data.Email;
            $("#email").val(email);
            var name = data.Name;
            $("#CompanyName").val(name);
            var primarycontact = data.Primarycontact;
            $("#ContactName").val(primarycontact);
            var telephone = data.Telephone;
            $("#PhoneNumber").val(telephone);
        });
    };

</script>

<script src="~/stripe/strippaymentform2.js"></script>