﻿
@{
    ViewBag.Title = "Register";
    Layout = null;
}
@model hrm.Models.RegisterModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>SignUp</title>
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/assets/img/favicon.png")">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css?v=2.1")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/bootstrap-toggle.min.css?v=2.1")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/font-awesome.min.css?v=2.1")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/alertify.css?v=2.1")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/alertify-bootstrap-3.css?v=2.1")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/style.css?v=2.1")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/admin.css?v=2.1")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/responsive.css?v=2.1")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/login.css?v=2.1")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/site.css?v=2.1")">
    <link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/Dashboard.css?v=2.2")">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <style>
        .jumbo-container {
            padding-top: 28px !important;
            padding-bottom: 80px !important;
        }

        .panel-other-acction a {
            border: 0px !important;
        }

        input:-internal-autofill-selected {
            background-color: white !important;
            color: #495057 !important;
        }

        .panel {
            margin-bottom: 40px !important;
        }

        a, button {
            outline: none !important;
        }

        a {
            text-decoration: none !important;
        }

        .panel-title {
            color: var(--blue) !important;
            text-transform: none !important;
            font-size: 13px !important;
        }

        .app-logo-inner {
            margin-bottom: 25px !important;
            margin-top: 25px !important;
        }

            .app-logo-inner a img {
                width: 200px;
            }

        .bar-logo {
            width: 93px !important;
        }

        .maincolor {
            color: var(--blue) !important;
        }

        .mainbgcolor {
            background-color: var(--blue) !important;
        }

        .fnt300 {
            font-weight: 400 !important;
            font-size: 24px !important;
        }

        .form-control {
            min-height: 30px !important;
            height: 36px !important;
            font-weight: 400 !important;
            line-height: 1.5 !important;
            color: #495057 !important;
            background-color: #fff !important;
            background-clip: padding-box !important;
            border: 1px solid #ced4da !important;
            border-radius: .25rem !important;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
        }

        .btn {
            padding: 8px 12px !important;
        }

        .TopBox {
            border-radius: .25rem;
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
            -webkit-box-shadow: 0 0 0px 1000px white inset !important;
        }
    </style>
</head>
<body style="" cz-shortcut-listen="true">
    <main id="wrapper" class="wrapper">
        <div class="container jumbo-container">
            <div class="row">
                <div class="col-md-3 col-lg-3">
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="app-logo-inner text-center">
                        <a href="https://taskayak.com/" class="maincolor fnt300">

                            <img src="@Url.Content("~/Content/Images/logo1.png")" />
                        </a>
                    </div>
                    <div class="panel panel-14 TopBox">
                        <div class="panel-heading">
                            <h3 class="panel-title">Get your free Taskayak account now</h3>
                        </div>
                        <div class="panel-body">
                            @using (Html.BeginForm("register", "account", FormMethod.Post, new { @id = "frmsendsms", @autocomplete = "off" }))
                            {

                                <div class="form-group">
                                    <label for="el4" style="text-transform:none;">Workspace name</label>
                                    @Html.TextBoxFor(a => a.Workspace, new { @class = "form-control", @maxlength = "30", @placeholder = "Workspace name" })
                                    @Html.ValidationMessageFor(a => a.Workspace)
                                </div>
                                <div class="form-group">
                                    <label for="el4" style="text-transform:none;">Domain name</label>
                                    <input type="text" value="@Model.Workspace" id="domainid" class="form-control" placeholder="Domain name" />
                                    <span class="text-muted">You can change domain name anytime</span>
                                    <span class="netpst">.taskayak.com</span>
                                </div><div class="form-group col-md-6 pd-0">
                                    <label for="el1" style="text-transform:none;">First name</label>
                                    @Html.TextBoxFor(a => a.FirstName, new { @class = "form-control", @maxlength = "30", @placeholder = "First name" })
                                    @Html.ValidationMessageFor(a => a.FirstName)
                                    @Html.HiddenFor(a => a.PlanId)

                                </div>
                                <div class="form-group col-md-6 pd-0 pd-r0">
                                    <label for="el4" style="text-transform:none;">Last name</label>
                                    @Html.TextBoxFor(a => a.LastName, new { @class = "form-control", @maxlength = "30", @placeholder = "Last name" })
                                    @Html.ValidationMessageFor(a => a.LastName)
                                </div>
                                <div class="form-group col-md-6 pd-0">
                                    <label for="el4" style="text-transform:none;">Email address</label>
                                    @Html.TextBoxFor(a => a.Email, new { @class = "form-control", @placeholder = "Email address" })
                                    @Html.ValidationMessageFor(a => a.Email)
                                </div>
                                <div class="form-group col-md-6 pd-0 pd-r0">
                                    <label for="el4" style="text-transform:none;">Telephone</label>
                                    @Html.TextBoxFor(a => a.PhoneNumber, new { @class = "form-control", @placeholder = "Phone number" })
                                    @Html.ValidationMessageFor(a => a.PhoneNumber)
                                </div>
                                <div class="form-group col-md-12 pd-0 pd-r0">
                                    <label for="el4" style="text-transform:none;">Token</label>
                                    @Html.TextBoxFor(a => a.Token, new { @class = "form-control", @placeholder = "Auth Token" })
                                    @Html.ValidationMessageFor(a => a.Token)
                                </div>
                                <div class="form-group col-md-12 pd-0 pd-r0">
                                    <div class="g-recaptcha" data-sitekey="6LfFi7sUAAAAABkLhzcJaKGfGYjwCJST2A0TdBYg"></div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-success btn-md btn-block" value="Register">
                                </div>
                            }
                            <br>
                            @if (!string.IsNullOrEmpty(Model.error_text))
                            {
                                <div class="alert alert-@Model.alertclass alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    @Model.error_text
                                </div>

                            }
                            <div class="form-group text-center">
                                By registering you agree to the Taskayak  <a target="_blank" href="https://taskayak.com/legal/index/" class="text-blue font-weight-medium">Terms of Use</a>
                            </div>

                        </div>
                    </div>

                    <div class="panel-other-acction">
                        <div class="text-center">
                            Already have an account ?  <a href="/account/login" class="text-blue font-weight-medium">Login</a>
                        </div>
                    </div>

                </div>
                <div class="col-md-3 col-lg-3">
                </div>
            </div>
        </div>
    </main>

    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js?v=2.1")"></script>

    <script src="@Url.Content("~/Scripts/jquery.slimscroll.min.js?v=2.1")"></script>

    <script src="@Url.Content("~/Scripts/bootstrap.min.js?v=2.1")"></script>

    <script src="@Url.Content("~/Scripts/bootstrap-toggle.min.js?v=2.1")"></script>

    <script src="@Url.Content("~/Scripts/alertify.js?v=2.1")"></script>

    <script src="@Url.Content("~/Scripts/scripts.js?v=2.1")"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $("#Workspace").on("change", function () {
                var _val = $(this).val();
                $("#domainid").val(_val);
            }); 
            $("form").on("submit", function () { 
                if ($("form").valid()) {
                    var _val = $("#g-recaptcha-response").val();
                    if ($.trim(_val) == '') {
                        alertify.log('Please validate recaptcha', 'error', 5000);
                        return false;
                    }
                }
            }); 
            $('.coder-checkbox').click(function () {
                if ($("#co-check-ui").prop("checked") == true) {
                    $("#co-check-ui").attr("value", true);
                }
                else {
                    $("#co-check-ui").attr("value", false);
                }
            });
        });
    </script>
</body>
</html>