﻿
@{
    ViewBag.Title = "Resources & Tutorials";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int tab = 1;
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<style>
    #fdiv {
        padding-top: 23px;
        padding-bottom: 12px;
        border: 2px solid #e0dddd;
        padding-left: 0px;
        margin-left: 0px;
        margin-bottom: 10px;
    }

    .btn-default, .btn-default:hover, .btn-default:active {
        border-color: var(--green) !important;
        color: var(--green) !important;
    }

    .col-md-2 > a>img {
        width: 103px;
    }

    label {
        width: 57% !important;
        text-align: center !important;
    }
</style>
<div class="p-10">
</div>
<div class="p-30 p-t-none p-b-none">

    <div class="row">
        <div class="col-lg-12">
            <div class="panel">
                <div class="panel-body p-t-20" style="background: white;padding-right: 0px;">
                    <div class="col-md-12">
                        <h3 class="panel-title" style="margin-bottom: 24px;padding-left: 0px;">
                            Resources & Tutorials
                        </h3>
                    </div>

                    <div class="col-md-12">

                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="@(tab == 1 ? "active" : "")">
                                <a href="#document" aria-controls="messages"
                                   role="tab" data-toggle="tab" aria-expanded="false">How to technicians</a>
                            </li>
                            <li role="presentation" class="@(tab == 2 ? "active" : "")">
                                <a href="#personal_details" aria-controls="home"
                                   role="tab" data-toggle="tab" aria-expanded="true">How to dispatcher</a>
                            </li>

                            <li role="presentation" class="@(tab == 3 ? "active" : "")">
                                <a href="#personal_details1" aria-controls="home"
                                   role="tab" data-toggle="tab" aria-expanded="true">How to admin</a>
                            </li>

                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane p-20 @(tab == 1 ? "active" : "")" id="document">
                                    <div class="panel-body p-none" style="margin-top:20px;">
                                        <div class="col-md-2">
                                            <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                        </div>
                                        <div class="col-md-2">
                                            <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                        </div>
                                        <div class="col-md-2">
                                            <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                        </div>
                                        <div class="col-md-2">
                                            <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                        </div>
                                        <div class="col-md-2">
                                            <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                        </div>
                                        <div class="col-md-2">
                                            <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                        </div>
                                        <div class="clearfix"></div>
                                        <hr />
                                        <div class="col-md-2">
                                            <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                        </div>
                                        <div class="col-md-2">
                                            <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                        </div>
                                        <div class="col-md-2">
                                            <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                        </div>
                                        <div class="col-md-2">
                                            <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                        </div>
                                        <div class="col-md-2">
                                            <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                        </div>
                                        <div class="col-md-2">
                                            <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                        </div>

                                        <div class="clearfix"></div>
                                        <hr />
                                        <div class="col-md-2">
                                            <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                        </div>
                                        <div class="col-md-2">
                                            <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                        </div>
                                        <div class="col-md-2">
                                            <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                        </div>
                                        <div class="col-md-2">
                                            <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                        </div>
                                        <div class="col-md-2">
                                            <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                        </div>
                                        <div class="col-md-2">
                                            <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                        </div>
                                    </div>
                                
                            </div>
                            <div role="tabpanel" class="tab-pane p-20 @(tab == 2 ? "active" : "")" id="personal_details">

                                <div class="panel-body p-none" style="margin-top:20px;">
                                    <div class="col-md-2">
                                        <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                    </div>
                                    <div class="col-md-2">
                                        <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                    </div>
                                    <div class="col-md-2">
                                        <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                    </div>
                                    <div class="col-md-2">
                                        <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                    </div>
                                    <div class="col-md-2">
                                        <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                    </div>
                                    <div class="col-md-2">
                                        <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                    </div>
                                    <div class="clearfix"></div>
                                    <hr />
                                    <div class="col-md-2">
                                        <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                    </div>
                                    <div class="col-md-2">
                                        <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                    </div>
                                    <div class="col-md-2">
                                        <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                    </div>
                                    <div class="col-md-2">
                                        <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                    </div>
                                    <div class="col-md-2">
                                        <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                    </div>
                                    <div class="col-md-2">
                                        <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                    </div>

                                    <div class="clearfix"></div>
                                    <hr />
                                    <div class="col-md-2">
                                        <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                    </div>
                                    <div class="col-md-2">
                                        <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                    </div>
                                    <div class="col-md-2">
                                        <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                    </div>
                                    <div class="col-md-2">
                                        <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                    </div>
                                    <div class="col-md-2">
                                        <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                    </div>
                                    <div class="col-md-2">
                                        <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane p-20 @(tab == 3 ? "active" : "")" id="personal_details1">

                                <div class="panel-body p-none" style="margin-top:20px;">
                                    <div class="col-md-2">
                                        <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                    </div>
                                    <div class="col-md-2">
                                        <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                    </div>
                                    <div class="col-md-2">
                                        <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                    </div>
                                    <div class="col-md-2">
                                        <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                    </div>
                                    <div class="col-md-2">
                                        <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                    </div>
                                    <div class="col-md-2">
                                        <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                    </div>
                                    <div class="clearfix"></div>
                                    <hr />
                                    <div class="col-md-2">
                                        <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                    </div>
                                    <div class="col-md-2">
                                        <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                    </div>
                                    <div class="col-md-2">
                                        <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                    </div>
                                    <div class="col-md-2">
                                        <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                    </div>
                                    <div class="col-md-2">
                                        <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                    </div>
                                    <div class="col-md-2">
                                        <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                    </div>

                                    <div class="clearfix"></div>
                                    <hr />
                                    <div class="col-md-2">
                                        <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                    </div>
                                    <div class="col-md-2">
                                        <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                    </div>
                                    <div class="col-md-2">
                                        <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                    </div>
                                    <div class="col-md-2">
                                        <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                    </div>
                                    <div class="col-md-2">
                                        <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                    </div>
                                    <div class="col-md-2">
                                        <label> <a class="various fancybox" data-fancybox-type="iframe" href="https://www.youtube.com/embed/jid2A7ldc_8?autoplay=1">Video title</a></label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
    $(".various").fancybox({
            maxWidth    : 500,
            maxHeight   : 500,
            fitToView   : false,
            width       : '50%',
            height      : '50%',
            autoSize    : false,
            closeClick  : false,
            openEffect  : 'none',
            closeEffect : 'none'
        });
})
</script>