﻿
@{
    ViewBag.Title = "Starter Upgrade";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model hrm.Models.RegisterModel
<link media="all" type="text/css" rel="stylesheet" href="@Url.Content("~/Content/Dashboard.css?v=2.1")">
<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        margin-top: 12px;
        margin-bottom: 20px;
        top: -6px;
        left: -2px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 6px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }

    .btn-default, .btn-default:hover, .btn-default:active {
        background-color: white !important;
        border-color: var(--blue) !important;
        color: var(--blue) !important;
        border: 1px solid var(--blue) !important;
    }

    .btn {
        border-radius: 10px;
    }

    ul.listli > li {
        color: #495057 !important;
        text-align: left;
        padding-bottom: 14px;
    }

    ul.listli {
        padding-top: 35px;
        padding-left: 72px;
    }

    .btnmargin {
        margin-top: 21px !important;
    }

    .greentext {
        color: var(--success);
    }

    .headertext {
        font-size: 21px;
        font-weight: 300;
    }

    .StripeElement {
        box-sizing: border-box;
        height: 40px;
        padding: 10px 12px;
        border: 1px solid transparent;
        border-radius: 4px;
        background-color: white;
        box-shadow: 0 1px 3px 0 #e6ebf1;
        -webkit-transition: box-shadow 150ms ease;
        transition: box-shadow 150ms ease;
    }

    .StripeElement--focus {
        box-shadow: 0 1px 3px 0 #cfd7df;
    }

    .StripeElement--invalid {
        border-color: #fa755a;
    }

    .StripeElement--webkit-autofill {
        background-color: #fefde5 !important;
    }
</style>
<script src="https://js.stripe.com/v3/"></script>
<div class="row">
    <div class="col-md-3 col-lg-3">

    </div>

    <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">
        <div class="TopBox">
            <div class="text-white p-15 clearfix">
                <div class="form-group">
                    <h3 class="panel-title">Get your Starter Taskayak account now</h3>

                </div>
                <div class="clearfix"></div>
                <hr />
                <div class="clearfix"></div>
                <div class="pull-left" style="width:100%;">
                    <p class="text-muted  pull-left col-md-12 headertext">Starter <span class="pull-right greentext" id="Advantagemonth">$65/mo</span></p>
                    <p class="text-muted  pull-left col-md-12 font-weight-medium"> <span class="pull-right">Billed at <span id="Advantagetottal">$780/yr</span></span></p>
                </div>
                <div class="text-center" style="width:100%;">
                    <span style="color: #495057">Monthly </span>  <label class="switch">
                        <input type="checkbox" checked data-id="Advantage" id="chkAdvantage">
                        <span class="slider round"></span>
                    </label><span style="color: #495057">Yearly </span>
                </div>
                @using (Html.BeginForm("upgrade", "account", FormMethod.Post, new { @id = "payment-form", @autocomplete = "off" }))
                {
                    <div class="form-group">
                        <label for="card-element">
                            Credit or debit card
                        </label>
                        <div id="card-element">
                            <!-- A Stripe Element will be inserted here. -->
                        </div>
                        <div id="card-errors" role="alert"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-md-6 pd-0">
                        @Html.HiddenFor(a => a.PlanId)
                        <input type="hidden" name="plantype" value="1" id="plantype" />
                        <input type="submit" class="btn btn-success btn-md" value="Upgrade">
                    </div>
                    <div class="form-group col-md-6 pd-0">
                        <a class="btn btn-success btn-md" href="@Url.Action("pricing","account")">Pricing & features</a>

                    </div>
                }
            </div>
        </div>
    </div>




    <div class="col-md-3 col-lg-3">

    </div>
</div>

<script>
    //
    //
    $('#chkAdvantage').click(function () {
        if ($(this).is(':checked')) {
            $("#plantype").val("1");
            $("#Advantagemonth").html("$65/mo");
            $("#Advantagetottal").html("$780/yr");
        } else {
             $("#plantype").val("2");
            $("#Advantagemonth").html("$75/mo");
            $("#Advantagetottal").html("$900/yr");
        }
    });

    $('#chkProfessional').click(function () {
        if ($(this).is(':checked')) {
            $("#Professionalmonth").html("$175/mo");
            $("#Professionaltottal").html("$2,100/yr");
        } else {
            $("#Professionalmonth").html("$195/mo");
            $("#Professionaltottal").html("$2,340/yr");
        }
    });
    $('#checkprf').click(function () {
        if ($(this).is(':checked')) {
            $("#checkprfspan").html("$850/mo");

        } else {
            $("#checkprfspan").html("$995/mo");

        }
    });

    var stripe = Stripe('pk_test_s1vfMK6DkrCW2u0N1rZvkkCx');

    // Create an instance of Elements.
    var elements = stripe.elements();

    // Custom styling can be passed to options when creating an Element.
    // (Note that this demo uses a wider set of styles than the guide below.)
    var style = {
        base: {
            color: '#32325d',
            fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
            fontSmoothing: 'antialiased',
            fontSize: '16px',
            '::placeholder': {
                color: '#aab7c4'
            }
        },
        invalid: {
            color: '#fa755a',
            iconColor: '#fa755a'
        }
    };

    // Create an instance of the card Element.
    var card = elements.create('card', { style: style });

    // Add an instance of the card Element into the `card-element` <div>.
    card.mount('#card-element');

    // Handle real-time validation errors from the card Element.
    card.on('change', function (event) {
        var displayError = document.getElementById('card-errors');
        if (event.error) {
            displayError.textContent = event.error.message;
        } else {
            displayError.textContent = '';
        }
    });

    // Handle form submission.
    var form = document.getElementById('payment-form');
    form.addEventListener('submit', function (event) {
        event.preventDefault();

        stripe.createToken(card).then(function (result) {
            if (result.error) {
                // Inform the user if there was an error.
                var errorElement = document.getElementById('card-errors');
                errorElement.textContent = result.error.message;
            } else {
                // Send the token to your server.
                stripeTokenHandler(result.token);
            }
        });
    });

    // Submit the form with the token ID.
    function stripeTokenHandler(token) {
        // Insert the token ID into the form so it gets submitted to the server
        var form = document.getElementById('payment-form');
        var hiddenInput = document.createElement('input');
        hiddenInput.setAttribute('type', 'hidden');
        hiddenInput.setAttribute('name', 'stripeToken');
        hiddenInput.setAttribute('value', token.id);
        form.appendChild(hiddenInput);
        // alert("a");
        // Submit the form
        form.submit();
    }






</script>
