﻿
@model hrm.Models.w9
<style>
    .btn-default:hover {
        background-color: var(--blue)!important;
        color: white !important;
        border-bottom: 2px solid var(--blue)!important;
    }

    #divForm {
        height: 801px !important;
    }

    #pleftform {
        height: 780px;
    }

    #maindiv {
        height: 780px;
    }

    #left_form {
        padding-top: 153px !important;
    }

    .hde {
        display: none;
    }
    .mainrowdiv{
            margin-top: 80px;
    max-height: 557px;
    overflow-y: auto;
    }


    .panel-heading {
        padding: 20px !important;
        padding-left: 13px !important;
        padding-bottom: 36px !important;
    }
</style>
<div class="row mainrowdiv" >
    <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="main_question wizard-header">W9 form</h3>
    </div>


    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="form-group">
            <select class="selectpicker form-control" data-live-search="true" name="entity" id="entity">
                <option value="0">Tax entity type</option>
                <option @(Model.entity == 1 ? "selected" : "") value="1">Individual/Sole Proprietor/Single Member</option>
                <option @(Model.entity == 2 ? "selected" : "") value="2">C Corporation </option>
                <option @(Model.entity == 3 ? "selected" : "") value="3">S Corporation </option>
                <option @(Model.entity == 4 ? "selected" : "") value="4">Limited Liability Company</option>
            </select>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="form-group 1 hde">
            @Html.TextBoxFor(a => a.EIN1, new { @placeholder = "Social Security Number (SSN)", @class = "form-control" })
        </div>
        <div class="form-group 2 hde">

            @Html.TextBoxFor(a => a.EIN2, new { @placeholder = "Employer Identification Number (EIN)", @class = "form-control" })
        </div>

        <div class="form-group 3 hde">
            @Html.TextBoxFor(a => a.EIN3, new { @placeholder = "Employer Identification Number (EIN)", @class = "form-control" })
        </div>
        <div class="form-group 4  hde">
            @Html.TextBoxFor(a => a.EIN4, new { @placeholder = "Employer Identification Number (EIN)", @class = "form-control" })
        </div>
    </div>
    <div class="clearfix">  </div>
    <div class="col-md-6 col-sm-6 col-xs-12  4 hde">
        <div class="form-group">

            <select id="SSN5" name="SSN5" class="selectpicker form-control" data-live-search="true">
                <option value="">Tax Classification of LLC</option>
                <option @(Model.SSN5=="c"?"selected":"") value="c">C corporation</option>
                <option @(Model.SSN5=="s"?"selected":"") value="s">S corporation</option>
                <option @(Model.SSN5=="p"?"selected":"") value="p">Partnership</option>
            </select>        </div>
    </div>
    <div class="clearfix">  </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="form-group 1 hde">
            @Html.TextBoxFor(a => a.SSN1, new { @placeholder = "Full name associated with SSN", @class = "form-control" })
        </div>
        <div class="form-group 2  hde">
            @Html.TextBoxFor(a => a.SSN2, new { @placeholder = "Company name", @class = "form-control" })
        </div>

        <div class="form-group 3 hde">
            @Html.TextBoxFor(a => a.SSN3, new { @placeholder = "Company name", @class = "form-control" })
        </div>
        <div class="form-group 4 hde">
            @Html.TextBoxFor(a => a.SSN4, new { @placeholder = "Company name", @class = "form-control" })
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="form-group 1 hde">
            @Html.TextBoxFor(a => a.Business1, new { @placeholder = "Doing Business As - Optional", @class = "form-control" })

            <span class="help">
                Disregard entity name from IRS form W-9
            </span>
        </div>
        <div class="form-group 2 hde">

            @Html.TextBoxFor(a => a.Business2, new { @placeholder = "Doing Business As - Optional", @class = "form-control" })
            <span class="help">
                Disregard entity name from IRS form W-9
            </span>
        </div>

        <div class="form-group 3 hde">
            @Html.TextBoxFor(a => a.Business3, new { @placeholder = "Doing Business As - Optional", @class = "form-control" })
            <span class="help">
                Disregard entity name from IRS form W-9
            </span>
        </div>
        <div class="form-group 4 hde">
            @Html.TextBoxFor(a => a.Business4, new { @placeholder = "Doing Business As - Optional", @class = "form-control" })
            <span class="help">
                Disregard entity name from IRS form W-9
            </span>
        </div>


    </div>
    <div class="clearfix">  </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="form-group">
            @Html.TextBoxFor(a => a.Address1, new { @placeholder = "Address Line 1", @class = "form-control" })


        </div>


    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="form-group ">

            @Html.TextBoxFor(a => a.Address2, new { @placeholder = "Address Line 2", @class = "form-control" })


        </div>

    </div>
    <div class="clearfix">  </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="form-group">
            @Html.TextBoxFor(a => a.state, new { @placeholder = "State", @class = "form-control", @id = "ppstate" })
        </div>

    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="form-group">
            @Html.TextBoxFor(a => a.city, new { @placeholder = "City", @class = "form-control", @id = "ppcity" })
        </div>


    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="form-group ">
            @Html.TextBoxFor(a => a.zip, new { @placeholder = "Zip code", @class = "form-control" })
        </div>

    </div>

    <div class="clearfix">  </div>
    <hr />
    <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 5px;margin-bottom: 65px; max-height: 140px;
    overflow-y: scroll;">
        <p style="padding: 13px;">
            Under penalties of perjury, I certify that:
            <br />  1. The number shown on this form is my correct taxpayer identification number (or I am waiting for a number to be issued to me); and
            <br />    2. I am not subject to backup withholding because: (a) I am exempt from backup withholding, or (b) I have not been notified by the Internal Revenue
            <br />    Service (IRS) that I am subject to backup withholding as a result of a failure to report all interest or dividends, or (c) the IRS has notified me that I am
            <br />    no longer subject to backup withholding; and
            <br />     3. I am a U.S. citizen or other U.S. person (defined below); and
            <br />     4. The FATCA code(s) entered on this form (if any) indicating that I am exempt from FATCA reporting is correct.
            <br /> <br />
            <br />     Certification instructions. You must cross out item 2 above if you have been notified by the IRS that you are currently subject to backup withholding because
            <br />   you have failed to report all interest and dividends on your tax return. For real estate transactions, item 2 does not apply. For mortgage interest paid,
            <br />    acquisition or abandonment of secured property, cancellation of debt, contributions to an individual retirement arrangement (IRA), and generally, payments
            <br />    other than interest and dividends, you are not required to sign the certification, but you must provide your correct TIN. See the instructions for Part II, later
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-6  text-left">
        @if (!Model.isddcomple)
        {
        <a class="btn btn-default btn-sm" style="padding: .375rem .75rem!important;background-color:#E4EDF2; color:black;border:2px solid #E4EDF2;" href="#" onclick="dd()">SKIP </a>
        }
        else
        { <a class="btn btn-default btn-sm" style="padding: .375rem .75rem!important;background-color:#E4EDF2; color:black;border:2px solid #E4EDF2;" href="#" onclick="pp()">SKIP </a>
        }
    </div>
    <div class="col-md-6  text-right">
        @if (!Model.isrtwcompl)
        {
            <a class="btn btn-default btn-sm" style="padding: .375rem .75rem!important;margin-right: 16px;background-color:#E4EDF2;color:black;border:2px solid #E4EDF2 ;" href="#" onclick="rtw()"> BACK </a>
        }
        else if (!Model.ismailing)
        { 
            <a class="btn btn-default btn-sm" style="padding: .375rem .75rem!important;margin-right: 16px;background-color:#E4EDF2;color:black;border:2px solid #E4EDF2 ;" href="#" onclick="getmailing()"> BACK </a>
        }
        <a class="btn btn-success btn-sm" style="padding: .375rem .75rem!important;background-color:var(--blue)!important;" href="#" onclick="submitw9()">NEXT </a>
    </div>
</div>
<script>
    $("#entity").selectpicker('refresh');
    $("#SSN5").selectpicker('refresh');
    
      $(".@(Model.entity==0?1:Model.entity)").show("slow");
    $("#entity").on("change", function () {
        $(".1").hide("slow");
        $(".2").hide("slow");
        $(".3").hide("slow");
        $(".4").hide("slow");
        var id = $(this).val();
         $("."+id).show("slow");
    });
</script>
