﻿.table.table-condensed tbody tr td > lable {
    font-weight: 300 !important;
}

.overflwx {
    overflow-x: scroll !important;
}

.fnt22 {
    font-size: 22px;
}

#amount:hover {
    background-color: #f1f9ff;
}

.table.table-hover tbody tr:hover > td > #amount {
    background-color: #f1f9ff;
}

.dropdown-toggle,
.multiselect-clear-filter {
    height: 42px !important;
}

.dropdown-menu {
    min-width: 212px;
}

.btn-default.active,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active,
.btn-default:active:focus,
.btn-default:active:hover,
.open > .dropdown-toggle.btn-default.focus,
.open > .dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default:hover {
    background-color: #fff !important;
    border-color: grey !important;
    color: #626262 !important;
    height: 42px;
}

.techdiv {
    overflow-y: scroll;
    max-height: 250px;
    height: 250px;
}

.mt9 {
    margin-top: 9px !important;
}

.labelbox {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}

.closebox {
    float: right;
    font-size: 26px;
    font-weight: 500;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.6;
    border-radius: 29px;
    width: 45px;
    padding: 5px !important;
    border: 1px solid #fff !important;
}

.box-inner > div > .form-group > label > span {
    text-transform: none !important;
}

.box-inner {
    width: 570px;
    padding: 10px;
}

.box {
    float: right;
    overflow: hidden;
    background: #fff;
}

.mainbox {
    position: absolute;
    top: 62px;
    z-index: 99999999;
    right: 1px;
    box-shadow: 1px 11px 13px #708090;
    height: 93vh;
}

.inputbox,
.inputbox2 {
    width: 24px;
    height: 13px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
}

.closebox:hover {
    color: #626262 !important;
    background-color: #fff !important;
    border: 1px solid #eee !important;
}

.multi > .btn-group,
.multi > .btn-group > .multiselect {
    width: 100%;
    text-align: left;
}

    .multi > .btn-group > .multiselect-container {
        max-height: calc(90vh - 26vh) !important;
        overflow-y: auto !important;
    }

.bcklabel {
    font-size: 14px !important;
    padding-top: 0;
}

.round input[type="checkbox"] {
    visibility: hidden;
}

    .round input[type="checkbox"]:checked + label {
        background-color: var(--blue);
        border-color: var(--blue);
    }

.bck {
    background-color: var(--blue) !important;
    border-color: var(--blue) !important;
}

    .bck:after {
        border: 2px solid #fff !important;
        border-top: none !important;
        border-right: none !important;
        content: "" !important;
        height: 6px !important;
        left: 4px !important;
        opacity: 1 !important;
        position: absolute !important;
        top: 4px !important;
        transform: rotate(-45deg) !important;
        width: 10px !important;
    }

.round input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

.pd0 {
    padding-bottom: 0 !important;
}

.cuschk {
    cursor: pointer;
}

.round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 20px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 20px;
}

.round {
    position: relative;
    padding-bottom: 17px;
}

    .round label:after {
        border: 2px solid #fff;
        border-top: none;
        border-right: none;
        content: "";
        height: 6px;
        left: 3px;
        opacity: 0;
        position: absolute;
        top: 3px;
        transform: rotate(-45deg);
        width: 12px;
    }
.mt9 {
    margin-top: 9px !important;
}

.pac-container {
    z-index: 10000 !important;
}

.labelbox {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}

.closebox {
    float: right;
    font-size: 26px;
    font-weight: 500;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.6;
    border-radius: 29px;
    width: 44px;
    padding: 5px !important;
    border: 1px solid #fff !important;
}

.box-inner > div > .form-group > label > span {
    text-transform: none !important;
}


.box-inner {
    width: 757px !important;
    padding: 10px;
}

.box {
    float: right;
    overflow: hidden;
    background: #fff;
}

.mainbox {
    position: absolute;
    top: 62px;
    z-index: 99999999;
    right: 1px;
    box-shadow: 1px 11px 13px #708090;
    height: 93vh;
}

.closebox:hover {
    color: #626262 !important;
    background-color: #fff !important;
    border: 1px solid #eee !important;
}

#amount:hover {
    background-color: #F1F9FF;
}

@@media (min-width: 768px) {
    .modal-dialog {
        width: 870px;
        margin: 30px auto;
    }
}

.table.table-hover tbody tr:hover > td > #amount {
    background-color: #F1F9FF;
}

.dropdown-toggle, .multiselect-clear-filter {
    height: 42px !important;
}

.dropdown-menu {
    min-width: 212px;
}

.btn-default.active, .btn-default:active, .btn-default.active:focus, .btn-default:active:focus, .btn-default.active:hover, .btn-default:active:hover, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover, .open > .dropdown-toggle.btn-default.focus {
    background-color: white !Important;
    border-color: grey !important;
    color: #626262 !important;
    height: 42px;
}

.datePicker, .timePicker {
    position: relative;
    z-index: 1000;
}

.daterangepicker.opensleft:after, .daterangepicker.opensleft:before {
    left: 264px !important;
    right: unset !important;
}

.labelbox {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}

.techdiv {
    overflow-y: scroll;
    max-height: 250px;
    height: 250px;
}

.inputbox {
    width: 24px;
    height: 17px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

.tablmodal-dialog {
    width: 990px !important;
}

.filter_table_job .bootstrap-select, .filter_table_job .dropdown-toggle {
    width: 163px !important;
    text-align: left;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 904px;
        margin: 30px auto;
    }
}

.amount .btn, .screening .btn, #Distance {
    width: 308px;
}

.Skills .dropdown-toggle, .Tool .dropdown-toggle {
    width: 308px;
}
/*    .Skills .multiselect-item, .Tool .multiselect-item {
        width: 289px !important;
        min-width: 289px !important;
    }*/
.Skills .multiselect-container {
    max-height: calc(90vh - 30vh) !important;
    overflow-y: auto !important;
}

.Tool .multiselect-container {
    max-height: calc(90vh - 38vh) !important;
    overflow-y: auto !important;
}

.Skills .input-group .form-control, .Tool .input-group .form-control {
    width: 193px !important;
}

.Skills .dropdown-menu, .Tool .dropdown-menu, .amount .dropdown-menu, .screening .dropdown-menu {
    max-width: 307px !important;
    min-width: 307px !important;
}

.box-inner .bootstrap-select .dropdown-menu {
    min-width: 309px !important;
}

.box-inner hr {
    margin-top: 8px;
    margin-bottom: 22px;
    border: 0;
    border-top: 1px solid #eee;
}