﻿#amount:hover {
    background-color: #F1F9FF;
}

.table.table-hover tbody tr:hover > td > #amount {
    background-color: #F1F9FF;
}

.dropdown-toggle, .multiselect-clear-filter {
    height: 42px !important;
}

.dropdown-toggle, .btn-group {
    width: 100% !important;
    text-align: left !important;
}

.dropdown-menu {
    min-width: 212px;
}

.btn-default.active, .btn-default:active, .btn-default.active:focus, .btn-default:active:focus, .btn-default.active:hover, .btn-default:active:hover, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover, .open > .dropdown-toggle.btn-default.focus {
    background-color: white !Important;
    border-color: grey !important;
    color: #626262 !important;
    height: 42px;
}
