﻿@{
    ViewBag.Title = "Tools";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var permission = Model.PERMISSIONS;
}
@model hrm.Models.tools
<div class="p-10">
</div>
<div class="p-30 p-t-none p-b-none">
    @if (!string.IsNullOrEmpty(Model.error_text))
    {
        <span id="alert" style="display:none;" data-class="@Model.alertclass" data-text="@Model.error_text"></span>
    }
    <div id="mdlupdate" class="modal fade" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Tool</h4>
                </div>
                <div class="modal-body">
                        <div class="form-group">
                            <label>Type  </label>
                            <select class="form-control" data-live-search="true" id="UpdateTypeId" name="typeid">
                                <option>...Loading</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Tool Name </label>
                            <input type="text" class="form-control" required="" id="toolname" name="name">
                            <input type="hidden" name="toolid" id="toolid" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" onclick="UpdateTool()" class="btn btn-success"><i class="fa fa-save"></i> Update</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-times-circle"></i> Close</button>
                    </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="panel">
                <div class="panel-body">
                    @using (Html.BeginForm("index", "tools", FormMethod.Post, new { @id = "frmaddtool" }))
                    {
                        <div class="panel-heading">
                            <h3 class="panel-title pd-0"> Create New Tool</h3>
                        </div>
                        <div class="form-group">
                            <label>Type</label>
                            <select class="selectpicker form-control" data-live-search="true" id="AddTypeId" name="typeid">
                                <option>...Loading</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Tool Name</label>
                            @Html.TextBoxFor(a => a.name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.name)
                        </div>
                        <button type="button" onclick="AddTool('@permission.Contains(5110).ToString()','You are not authorized to add new tool')" class="btn btn-success btn-sm pull-right"><i class="fa fa-save"></i> Save </button>
                        
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="panel">
                <div class="panel-heading pd-12">
                    <h3 class="panel-title ">
                        All Tools
                    </h3>
                </div>
                <div class="panel-body p-none">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table data-table table-hover table-ultra-responsive dataTable no-footer" id="table" >
                                <thead>
                                    <tr>
                                        <th>Tool</th>
                                        <th>Type</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script> 
  var pageSize = 25;
    var otable;
    var editpermission = '@permission.Contains(5107).ToString().ToUpper()';
    var deletepermission ='@permission.Contains(5108).ToString().ToUpper()'; 
</script>
<script src="@Url.Content("~/Content/tools/index.min.js?v=2.5")"></script>