﻿@using (Html.BeginForm("client", "import", FormMethod.Post, new { @id = "frmimport", @enctype = "multipart/form-data" }))
{
    <div class="box-inner">
        <div class="col-md-12">
            <h3 class="pull-left panel-title box-pannel-title">Upload Clients</h3>
            <button type="button" class="close closebox" aria-label="Close" autocomplete="random"><span aria-hidden="true">×</span></button>
        </div>
        <div class="clearfix"></div>
        <hr class="mt9" />
        <div class="clearfix"></div>
        <div class="col-md-12">
            <div class="form-group">
                <label class="notcapital wdt100">Upload a CSV Formatted File</label>
                <div class="input-group input-group-file">
                    <span class="input-group-btn">
                        <span class="btn btn-primary btn-file">
                            Browse <input required type="file" id="files" accept=".csv" class="form-control" name="file">
                        </span>
                    </span>
                    <input type="text" class="form-control" readonly="">
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">
            <div class="form-group">
                <label class="wdt100">Download Template</label>
                <a href="@Url.Content("~/csvfiles/client.csv")" download="">
                    <img src="@Url.Content("~/Content/Images/csv.webp?v=1.2")" class="wdt100px" />
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12 extraspace">
        </div>
        <div class="clearfix"></div>
        <hr />
        <div class="clearfix"></div>
        <div class="col-md-12">
            <button type="submit" id="submit-file" class="btn btn-success"><i class="fas fa-cloud-upload-alt"></i> Import</button>
        </div>
    </div>
}
