﻿
@{
    ViewBag.Title = "Add New Client";
    Layout = "~/Views/Shared/_Layout.cshtml";
 
}
@model hrm.Models.clientmodal_item
<div class="p-10">
</div>
<div class="p-30 p-t-none p-b-none">
    @if (!string.IsNullOrEmpty(Model.error_text))
    {
        <span id="alert" style="display:none;" data-class="@Model.alertclass" data-text="@Model.error_text"></span>
    }
    <div class="row">
        <div class="col-lg-8">
            <div class="panel">
                <div class="panel-heading formpanel-heading">
                    <div class="col-md-6 col-sm-6">
                        <h3 class="panel-title" style="padding-left:6px;">
                            Add client
                        </h3>
                    </div>
                    <div class="col-md-6 col-sm-6 topbuttondiv">
                        <a class="btn btn-success btn-sm pull-right" href="@Url.Action("index","client",new { v=1215})">
                            <i class="fa fa-arrow-left"></i> Client list
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("add", "client", FormMethod.Post, new { @id = "ClientAddForm" }))
                    {
                        <div class="form-group">
                            <label>Client name</label>
                            @Html.TextBoxFor(a => a.name, new { @class = "form-control capitalize" })
                            @Html.ValidationMessageFor(a => a.name)
                        </div>
                        <div class="form-group">
                            <label>Primary contact</label>
                            @Html.TextBoxFor(a => a.primarycontactname, new { @class = "form-control capitalize" })
                            @Html.ValidationMessageFor(a => a.primarycontactname)
                        </div>
                        <div class="form-group">
                            <label>Email address</label>
                            @Html.TextBoxFor(a => a.email, new { @class = "form-control", @type = "email" })
                            @Html.ValidationMessageFor(a => a.email)
                        </div>
                        <div class="form-group">
                            <label>Phone</label>
                            @Html.TextBoxFor(a => a.phone, new { @class = "form-control phonenumber", @maxlength = "12" })
                            @Html.ValidationMessageFor(a => a.phone)
                        </div>
                        <div class="form-group">
                            <label>Rate</label>
                            <span class="help">e.g. "10"</span>
                            @Html.TextBoxFor(a => a.rate, new { @class = "form-control ratetext" })
                            @Html.ValidationMessageFor(a => a.rate)
                        </div>
                        <div class="form-group">
                            <label>Address</label>
                            @Html.TextBoxFor(a => a.MapValidateAddress, new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.MapValidateAddress)
                        </div>
                        <div class="form-group">
                            <label>Suite / Apt. #</label>
                            @Html.TextBoxFor(a => a.suite, new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.suite)
                            <input type="hidden" value="1" id="Validateadd" />
                        </div>
                        <button type="button" id="ClientAddFormbutton" class="btn btn-success btn-sm pull-right"><i class="fa fa-save"></i> Save </button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&region=US&key=AIzaSyA1LyE18eEmk5UdDLezPmcOPF47Diugxls" type="text/javascript"></script>
<script type="text/javascript">
   
    $("#ClientAddFormbutton").on("click", function () {
        $(".alertify-logs").html('');
        if ($("#ClientAddForm").valid()) {
            validateAddress(""); 
        }
    });
    function validateAddress(address) {
        $(".alertify-logs").html('');
        address = $("#MapValidateAddress").val();  
        var _url = "https://maps.googleapis.com/maps/api/geocode/json?address=" + address + "&sensor=false&key=AIzaSyA1LyE18eEmk5UdDLezPmcOPF47Diugxls";
        $.get(_url, function (data) {
            if (data.results.length > 0) { 
                debugger;
                var _newAddress3 = data.results[0].formatted_address.replace(", USA", ""); 
                if (_newAddress3 == address) {
                    $(".alertify-logs").html('');
                    if ($("#ClientAddForm").valid()) {
                        $("#ClientAddForm").submit();
                    } 
                }
                  else { 
                    $(".alertify-logs").html('');
                    alertify.log('Google map cannot validate your address', 'error', 30000);
                } 
            } else {
              
                $(".alertify-logs").html('');
                alertify.log('Google map cannot validate your address', 'error', 30000);
            }
        });
    }
   
    function initialize() {
        $(".alertify-logs").html('');
        var defaultBounds = new google.maps.LatLngBounds(
            new google.maps.LatLng(-33.8902, 151.1759)
        );

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                (position) => {
                    const pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude,
                    };
                    defaultBounds = new google.maps.LatLngBounds
                        (new google.maps.LatLng(pos.lat, pos.lng));
                }
            );
        }
        
        var options1 = {
            types: ['geocode'], bounds: defaultBounds,
            componentRestrictions: { country: "us" }
        };
       
     
        var input1 = document.getElementById('MapValidateAddress');
        //var input3 = document.getElementById('Zipcode');

       
        var autocomplete1 = new google.maps.places.Autocomplete(input1, options1);
        //var autocomplete3 = new google.maps.places.Autocomplete(input3, option3);
         
        google.maps.event.addListener(autocomplete1, 'place_changed', function () {
            var place = autocomplete1.getPlace(); 
            var _newAddress = place.formatted_address.replace(", USA", "");
            input1.value = _newAddress;
        });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
    document.addEventListener('DOMNodeInserted', function (event) {
        var target = $(event.target);
        if (target.hasClass('pac-item')) {
            target.html(target.html().replace(/, USA<\/span>$/, "</span>"));
        }
        $('.pac-target-input').attr('autocomplete', 'random');
    });
</script>
