﻿@{
    ViewBag.Title = "Clients";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}
<link href="@Url.Content("~/Content/client/ClientIndex.min.css?v=1.0")" rel="stylesheet" /> 
@model hrm.Models.clientmodal
<div class="p-10">
</div>
<div class="p-30 p-t-none p-b-none">
    @if (!string.IsNullOrEmpty(Model.error_text))
    {
        <span id="alert" style="display:none;" data-class="@Model.alertclass" data-text="@Model.error_text"></span>
    }
    <div class="box mainbox" id="uploadslide">
        @using (Html.BeginForm("client", "import", FormMethod.Post, new { @id = "frmimport", @enctype = "multipart/form-data" }))
        {
            <div class="box-inner">
                <div class="col-md-12">
                    <h3 class="pull-left panel-title box-pannel-title">Upload clients</h3>
                    <button type="button" class="close closebox" aria-label="Close" autocomplete="random"><span aria-hidden="true">×</span></button>
                </div>
                <div class="clearfix"></div>
                <hr class="mt9" />
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="notcapital wdt100">Upload a csv formatted file</label>
                        <div class="input-group input-group-file">
                            <span class="input-group-btn">
                                <span class="btn btn-primary btn-file">
                                    Browse <input required type="file" id="files" accept=".csv" class="form-control" name="file">
                                </span>
                            </span>
                            <input type="text" class="form-control" readonly="">
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="wdt100 notcapital">Download template</label>
                        <a href="@Url.Content("~/csvfiles/client.csv")" download="">
                            <img src="@Url.Content("~/Content/Images/csv.webp?v=1.2")" class="wdt100px" />
                        </a>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12 extraspace">
                </div>
                <div class="clearfix"></div>
                <hr />
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <button type="submit" id="submit-file" class="btn btn-success"><i class="fas fa-cloud-upload-alt"></i> Import</button>
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="col-md-6 col-sm-6">
                        <h3 class="panel-title pdleft7">
                           Clients
                        </h3>
                    </div>
                    <div class="col-md-6 col-sm-6 topbuttondiv">
                        <a class="btn btn-success btn-sm pull-right" href="@Url.Action("add", "client")">
                            <i class="fa fa-plus"></i> Add client
                        </a>
                        @if (Model.Workspaceid == 11)
                        {
                            <a class="btn btn-success btn-sm pull-right" style="margin-right:8px;" href="@Url.Action("Account", "users")">
                                <i class="fas fa-users"></i> Account list
                            </a>
                        }
                        @if (Model.PERMISSIONS.Contains(10))
                        {
                            <a class="btn btn-success btn-sm pull-right m-r-8" onclick="Uploadfile()" href="#">
                                <i class="fas fa-cloud-upload-alt"></i> Upload
                            </a>
                        }
                        else
                        {
                            <a class="btn btn-success btn-sm pull-right m-r-8  disabledbtn" data-msg="You are not authorized to Upload clients" href="#">
                                <i class="fas fa-cloud-upload-alt"></i> Upload
                            </a>
                        }
                    </div>
                </div>
                <div class="panel-body p-none">
                    <div class="table-ultra-responsive custompadding-table">
                        <table class="table table-condensed nowrap data-table table-hover dataTable no-footer" id="table">
                            <thead>
                                <tr role="row">
                                    <th>Client ID</th>
                                    <th>Name</th>
                                    <th>Primary contact</th>
                                    <th>Rate</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var pageSize = 25;
    var otable;
    var viewpermission = '@Model.PERMISSIONS.Contains(13).ToString().ToUpper()';
    var editpermission = '@Model.PERMISSIONS.Contains(12).ToString().ToUpper()';
    var deletepermission ='@Model.PERMISSIONS.Contains(14).ToString().ToUpper()'; 
</script>
<script src="@Url.Content("~/Content/client/clientindex.min.js?v=2.3")"></script>