﻿@{
    ViewBag.Title = "Partners";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var permission = Model.PERMISSIONS;
}
<link href="@Url.Content("~/Content/partners/index.min.css?v=1.0")" rel="stylesheet" />
@model hrm.Models.partnermodal
<div class="p-10">
</div>
<div class="p-30 p-t-none p-b-none">
    @if (!string.IsNullOrEmpty(Model.error_text))
    {
        <span id="alert" style="display:none;" data-class="@Model.alertclass" data-text="@Model.error_text"></span>
    }
    <div class="box mainbox" style="display: none;" id="uploadslide">
        @using (Html.BeginForm("partner", "import", FormMethod.Post, new { @id = "frmsendsms", @enctype = "multipart/form-data" }))
        {
            <div class="box-inner">
                <div class="col-md-12">
                    <h3 class="pull-left panel-title" style="padding-left: 0px !important;    padding-top: 10px;">Upload Partners</h3>
                    <button type="button" class="close closebox" aria-label="Close" autocomplete="random"><span aria-hidden="true">×</span></button>
                </div>
                <div class="clearfix"></div>
                <hr class="mt9" />
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label style="width:100%" class="notcapital">Upload a csv formatted file</label>
                        <div class="input-group input-group-file">
                            <span class="input-group-btn">
                                <span class="btn btn-primary btn-file">
                                    Browse <input required type="file" id="files" accept=".csv" class="form-control" name="file">
                                </span>
                            </span>
                            <input type="text" class="form-control" readonly="">
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="notcapital" style="width:100%">Download template</label>
                        <a href="@Url.Content("~/csvfiles/Partners.csv")" download="">  <img src="@Url.Content("~/Content/Images/csv.webp")" style="width:100px;" /></a>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12" style="position:relative;margin-top:20%;">
                </div>
                <div class="clearfix"></div>
                <hr />
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <button type="submit" id="submit-file" class="btn btn-success"><i class="fas fa-cloud-upload-alt"></i> Import</button>
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="col-md-6 col-sm-6">
                        <h3 class="panel-title" style="padding-left:7px;">
                           Partners
                        </h3>
                    </div>
                    <div class="col-md-6 col-sm-6 topbuttondiv">
                        <a class="btn btn-success btn-sm pull-right" href="@Url.Action("add", "partners")">
                            <i class="fa fa-plus"></i> Add partner
                        </a>
                        @if (permission.Contains(5094))
                        {
                            <a class="btn btn-success btn-sm pull-right m-r-8" onclick="Uploadfile()" href="#">
                                <i class="fas fa-cloud-upload-alt"></i> Upload
                            </a>
                        } 
                    </div>
                </div>
                <div class="panel-body p-none">
                    <div class="table-ultra-responsive custompadding-table">
                        <table class="table table-condensed nowrap data-table table-hover dataTable no-footer" id="table">
                            <thead>
                                <tr role="row">
                                    <th>Name</th>
                                    <th>Primary contact</th>
                                    <th>Rate</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var pageSize = 25;
    var otable;
    var viewpermission = '@permission.Contains(5097).ToString().ToUpper()';
    var editpermission = '@permission.Contains(5096).ToString().ToUpper()';
    var deletepermission = '@permission.Contains(5098).ToString().ToUpper()';

</script>
<script src="@Url.Content("~/Content/partners/index.min.js?v=1.3")"></script>