﻿
@{
    ViewBag.Title = @Model.partners.name;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var permission = Model.PERMISSIONS;
 
}
@model hrm.Models.partnerviewmodal
<link href="@Url.Content("~/Content/partners/view_style.min.css?v=1.3")" rel="stylesheet" />
<div class="p-head-4">
</div> 
<div class="p-30 p-t-none p-b-none">
    @if (!string.IsNullOrEmpty(Model.error_text))
    {
        <span id="alert" style="display:none;" data-class="@Model.alertclass" data-text="@Model.error_text"></span>
    }
    <div class="box mainbox" style="display: none;" id="uploadslide">
        @using (Html.BeginForm("pmanager", "import", FormMethod.Post, new { @id = "pmanagerImport", @enctype = "multipart/form-data" }))
        {
            <div class="box-inner">
                <div class="col-md-12">
                    <h3 class="pull-left panel-title" style="padding-left: 0px !important;    padding-top: 10px;">Upload project manager</h3>
                    <button type="button" class="close closebox" aria-label="Close" autocomplete="random"><span aria-hidden="true">×</span></button>
                </div>
                <div class="clearfix"></div>
                <hr class="mt9" />
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="notcapital wdth100">Upload a csv formatted file </label>
                        <div class="input-group input-group-file">
                            <span class="input-group-btn">
                                <span class="btn btn-primary btn-file">
                                    Browse <input required type="file" id="files" accept=".csv" class="form-control" name="file">
                                </span>
                            </span>
                            <input type="text" class="form-control" readonly="">
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="notcapital" style="width:100%">Download template </label>
                        <a href="@Url.Content("~/csvfiles/manager.csv")" download="">  <img src="@Url.Content("~/Content/Images/csv.webp?v=1.2")" class="wdth100" /></a>
                        <input type="hidden" value="@Model.partnerid" name="partnerid" />
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12" style="position:relative;margin-top:20%;">
                </div>
                <div class="clearfix"></div>
                <hr />
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <button type="submit" id="submit-file" class="btn btn-success"><i class="fas fa-cloud-upload-alt"></i> Import</button>
                </div>
            </div>
        }
    </div>
    <div class="modal fade" id="add-new-manager" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add new manager</h4>
                </div>
                @using (Html.BeginForm("add_manager", "partners", FormMethod.Post, new { @class = "form-some-up", @id = "addmgrfrm" }))
                {<div class="modal-body">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" name="name" class="form-control capitalize" required />
                            <input type="hidden" name="partnerid" id="partnerid" />
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" name="email" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Phone</label>
                            <input type="text" maxlength="12" name="phone" class="form-control phonenumber" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-times-circle"></i> Close</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="modal fade" id="update-manager" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit manager</h4>
                </div>
                @using (Html.BeginForm("update_manager", "partners", FormMethod.Post, new { @class = "form-some-up", @id = "updtmgrfrm" }))
                {<div class="modal-body">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" id="name" name="name" class="form-control capitalize" required />
                            <input type="hidden" name="prjmanagerid" id="prjmanagerid" />
                            <input type="hidden" name="partnerid" value="@Model.partnerid" />
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" name="email" id="email" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Phone</label>
                            <input type="text" maxlength="12" name="phone" id="phone" class="form-control phonenumber" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Update</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-times-circle"></i> Close</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="panel">
                <div class="panel-heading formpanel-heading">
                    <div class="col-md-6 col-sm-6">
                        <h3 class="panel-title" style="padding-left: 5px">
                            Partner detail 
                        </h3>
                    </div>
                    <div class="col-md-6 col-sm-6 topbuttondiv">
                        <a class="btn btn-success btn-sm pull-right" href="@Url.Action("index","Partners",new { v=1234})">
                            <i class="fa fa-arrow-left"></i> Partner list
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label>Name:</label>
                        <span>@Model.partners.name</span>
                    </div>
                    <div class="form-group">
                        <label>Primary contact:</label>
                        <span>@Model.partners.primarycontactname</span>
                    </div>
                    <div class="form-group">
                        <label>Partner rate:</label>
                        <span>@Model.partners.rate</span>
                    </div>
                    <div class="form-group">
                        <label>Email:</label>
                        <span>@Model.partners.email</span>
                    </div>
                    <div class="form-group">
                        <label>Phone:</label>
                        <span>@Model.partners.phone</span>
                    </div>
                    <div class="form-group">
                        <label>Address:</label>
                        <span>@Model.partners.MapValidateAddress</span>
                    </div>
                    <div class="form-group">
                        <label>Suite / Apt. #:</label>
                        <span>@Model.partners.suite</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="panel">
                <div class="panel-heading formpanel-heading">
                    <div class="col-md-6 col-sm-6 ">
                        <h3 class="panel-title pd-21 ">
                            Project manager
                        </h3>
                    </div>
                    <div class="col-md-6 col-sm-6 topbuttondiv mr-15-btn">
                        @if (permission.Contains(5102))
                        {
                            <a class="btn btn-success btn-sm pull-right" href="#" data-backdrop="static" onclick="add_new('@Model.partnerid')">
                                <i class="fa fa-plus"></i> Add new manager
                            </a>
                        } 
                        @if (permission.Contains(5099))
                        {
                            <a href="#" class="btn btn-success btn-sm pull-right" style="margin-right:8px;" data-backdrop="static" onclick="Uploadfile()">
                                <i class="fas fa-cloud-upload-alt"></i> Upload
                            </a>
                        } 
                    </div>
                </div>
                <div class="panel-body p-none">
                    <div class="col-md-12">
                        <div class="table-ultra-responsive responsivecustom">

                            <table class="table table-condensed nowrap data-table table-hover dataTable no-footer" id="table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var pageSize = 25;
    var otable;
   var editpermission = '@permission.Contains(5100).ToString().ToUpper()';
    var deletepermission = '@permission.Contains(5101).ToString().ToUpper()';
    var _ajaxUrl = "@Url.Action("Fetchmanagers", "partners",new {partnerid= Model.partnerid })";
   
</script><script src="@Url.Content("~/Content/partners/view.min.js?v=1.2")"></script>