﻿.mt9 {
    margin-top: 9px !important;
}

.labelbox {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}

.closebox {
    float: right;
    font-size: 26px;
    font-weight: 500;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.6;
    border-radius: 29px;
    width: 44px;
    padding: 5px !important;
    border: 1px solid #fff !important;
}

.box-inner > div > .form-group > label > span {
    text-transform: none !important;
}

.box-inner {
    width: 570px;
    padding: 10px;
}
.box-pannel-title {
    padding-left: 0px !important;
    padding-top: 10px !important;
}
.wdt100{
    width:100% !important;
}
.wdt100px {
    width: 100px !important;
}
.extraspace {
    position: relative !important;
    margin-top: 20% !important;
}
.pdleft7 {
    padding-left: 7px;
}
.box {
    float: right;
    overflow: hidden;
    background: #fff;
    display:none;
}

.mainbox {
    position: absolute;
    top: 62px;
    z-index: 99999999;
    right: 1px;
    box-shadow: 1px 11px 13px #708090;
    height: 93vh;
}

.closebox:hover {
    color: #626262 !important;
    background-color: #fff !important;
    border: 1px solid #eee !important;
}
