﻿.panel-body label {
    font-size: 14px !important;
}

.col-lg-4, .col-md-4 {
    padding-right: 0px !important;
    padding-left: 18px !important;
}

.col-lg-8, .col-md-8 {
    padding-right: 17px !important;
    padding-left: 9px !important;
}

@media only screen and (max-width: 768px) {
    .col-lg-4, .col-md-4 {
        padding-right: 17px !important;
        padding-left: 18px !important;
    }

    .col-lg-8, .col-md-8 {
        padding-right: 17px !important;
        padding-left: 19px !important;
    }
}

.wdth100 {
    width: 100%;
}

.pdl-5 {
    padding-left: 5px;
}
.mt9 {
    margin-top: 9px !important;
}

.labelbox {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}

.closebox {
    float: right;
    font-size: 26px;
    font-weight: 500;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.6;
    border-radius: 29px;
    width: 44px;
    padding: 5px !important;
    border: 1px solid #fff !important;
}

.box-inner > div > .form-group > label > span {
    text-transform: none !important;
}

.box-inner {
    width: 570px;
    padding: 10px;
}

.box {
    float: right;
    overflow: hidden;
    background: #fff;
}

.mainbox {
    position: absolute;
    top: 62px;
    z-index: 99999999;
    right: 1px;
    box-shadow: 1px 11px 13px #708090;
    height: 93vh;
}

.closebox:hover {
    color: #626262 !important;
    background-color: #fff !important;
    border: 1px solid #eee !important;
}