﻿
@{
    ViewBag.Title = "Skill";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int _count = 0;
    var permission = (List<int>)ViewBag.permissions;
}

<style>

    .col-lg-8 {
        padding-left: 0px !important;
    }

    .col-lg-4 {
        padding-right: 8px !important;
    }

    .pac-container {
        z-index: 10000 !important;
    }

    .mt9 {
        margin-top: 9px !important;
    }

    .labelbox {
        display: block;
        padding-left: 15px;
        text-indent: -15px;
    }

    .closebox {
        float: right;
        font-size: 26px;
        font-weight: 500;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        opacity: 0.6;
        border-radius: 29px;
        width: 44px;
        padding: 5px !important;
        border: 1px solid #fff !important;
    }

    .box-inner > div > .form-group > label > span {
        text-transform: none !important;
    }

    .box-inner {
        width: 400px;
        padding: 10px;
    }

    .box {
        float: right;
        overflow: hidden;
        background: #fff;
    }

    .mainbox {
        position: absolute;
        top: 62px;
        z-index: 99999999;
        right: 1px;
        box-shadow: 1px 11px 13px #708090;
        height: 93vh;
    }

    .closebox:hover {
        color: #626262 !important;
        background-color: #fff !important;
        border: 1px solid #eee !important;
    }
    .mt-10 {
        margin-top: 27px !important;
    }
</style>
@model hrm.Models.skill
<div class="p-10">
</div>
<div class="p-30 p-t-none p-b-none">
    @if (!string.IsNullOrEmpty(Model.error_text))
    {
        <span id="alert" style="display:none;" data-class="@Model.alertclass" data-text="@Model.error_text"></span>
    }

<div class="box mainbox" style="display: none;" id="upload">
    @using (Html.BeginForm("skill", "import", FormMethod.Post, new { @id = "frmupload", @enctype = "multipart/form-data", @class = "form-inline" }))
    {

        <div class="box-inner">
            <div class="col-md-12">
                <h3 class="pull-left panel-title" style="padding-left: 0px !important;    padding-top: 10px;">Upload Skills</h3>
                <button type="button" class="close closebox" aria-label="Close" autocomplete="random"><span aria-hidden="true">×</span></button>
            </div>
            <div class="clearfix"></div>
            <hr class="mt9" />  <div class="clearfix"></div> 
            <div class="col-md-12">
                                                                 <div class="form-group">
                                                                     <label style="width:100%" class="notcapital">Upload a CSV Formatted File </label>
                                                                     <div class="input-group input-group-file"  style="width:100%">
                                                                         <span class="input-group-btn"  >
                                                                             <span class="btn btn-primary btn-file"  style="width:100%">
                                                                                 Browse <input required type="file" id="files" accept=".csv" class="form-control"
                                                                                               name="file">
                                                                             </span>
                                                                         </span>
                                                                         <input type="text" class="form-control" readonly="">
                                                                     </div>
                                                                 </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12 mt-10">
                <div class="form-group">
                    <label class="notcapital" style="width:100%">Download Template </label>
                    <a href="@Url.Content("~/csvfiles/job.csv")" download="">  <img src="@Url.Content("~/Content/Images/csv.webp")" style="width:100px;" /></a>
                </div>
            </div>
             
            <div class="clearfix"></div>
            <div class="col-md-12" style="position:relative;margin-top:20%;">
            </div>
            <div class="clearfix"></div>
            <hr />
            <div class="clearfix"></div>
            <div class="col-md-12">
                <button type="submit" id="submit-file" class="btn btn-success"><i class="fas fa-cloud-upload-alt"></i> Import</button>
            </div>
        </div>
    }
</div>

   
   
    <div id="mdlupdate" class="modal fade" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Edit Skill</h4>
                </div>
                @using (Html.BeginForm("update", "Skills", FormMethod.Post, new { @id = "frmseditskill" }))
                {<div class="modal-body">
                        <div class="form-group">
                            <label>Skill Name  </label>
                            <input type="text" class="form-control" required="" id="skill" name="skill">
                            <input type="hidden" name="skillid" id="skillid" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Update</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <i class="fas fa-times-circle"></i>

                            Close
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="panel">
                <div class="panel-body">
                    @using (Html.BeginForm("index", "Skills", FormMethod.Post, new { @id = "frmaddskill" }))
                    {
                        <div class="panel-heading">
                            <h3 class="panel-title pd-0"> Create New Skill</h3>
                        </div>
                        <div class="form-group">
                            <label>Skill Name</label>
                            @Html.TextBoxFor(a => a.skill_name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.skill_name)
                        </div>
                        if (permission.Contains(30))
                        {
                            <button type="submit" class="btn btn-success btn-sm pull-right">
                                <i class="fa fa-save"></i> Save

                            </button>
                        }
                        else
                        { <a href="#" class="btn btn-success btn-sm pull-right disabledbtn" data-msg="You are not authorized to add new skill"><i class="fa fa-plus"></i> Add </a>

                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="panel">
                <div class="panel-heading" style="padding-left:12px;">
                    <h3 class="panel-title">
                       Skills
                        @if (permission.Contains(29))
                        {
                            <a class="btn btn-success btn-sm pull-right" style="margin-right:13px;" onclick="Uploadfile()"
                               href="#">
                                <i class="fas fa-cloud-upload-alt"></i> Upload
                            </a>
                        }
                        else
                        {
                            <a href="#" class="disabledbtn btn btn-success btn-sm pull-right" style="margin-right:13px;" data-
                               msg="you are not authorized to upload skills"><i class="fas fa-cloud-upload-alt"></i> Upload</a>
                        }
                    </h3>
                </div>
                <div class="panel-body p-none">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table data-table table-hover table-ultra-responsive dataTable no-footer" id="table">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Skill Name</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model._skill)
                                    {
                                        _count = _count + 1;
                                        <tr role="row" class="odd">
                                            <td>@_count</td>
                                            <td>
                                                @if (permission.Contains(27))
                                                {
                                                    <a href="#" onclick="update('@item.SkillId','@item.Name')">@item.Name</a>
                                                }
                                                else
                                                { <a href="#" class="disabledbtn" data-msg="You are not authorized to edit selected skill">@item.Name</a>}
                                            </td>
                                            <td>
                                                <div class="btn-group pos-static">
                                                    <a class="customedropdown" data-toggle="customedropdown" aria-haspopup="true"
                                                       aria-expanded="false">
                                                        <i class="fa fa-ellipsis-v fn21"></i>
                                                    </a>
                                                    <div class="dropdown-menu customdropdown-menu" x-placement="bottom-start"
                                                         style="top: 0px; transform: translate3d(-38px, 10px, 0px); will-change: transform; position: absolute; left: 0px;">
                                                        @if (permission.Contains(27))
                                                        {
                                                            <a class="btn btn-success btn-xs" onclick="update('@item.SkillId','@item.Name')"><i class="fa fa-edit"></i> Edit</a>
                                                        }
                                                        else
                                                        {
                                                            <a href="#" class="btn btn-success btn-xs disabledbtn" data-msg="You are not authorized to edit selected skill"><i class="fa fa-edit"></i> Edit</a>
                                                        }
                                                        @if (permission.Contains(28))
                                                        {
                                                            <a href="#" class="btn btn-danger btn-xs cdelete"
                                                               id="@item.SkillId"><i class="fa fa-trash"></i> Delete</a>
                                                        }
                                                        else
                                                        {
                                                            <a href="#" class="btn btn-danger btn-xs disabledbtn" data-msg="You are not authorized to delete selected skill"><i class="fa fa-trash"></i> Delete</a>
                                                        }
                                                        <a class="btn btn-info btn-xs">
                                                            <i class="fa fa-window-close"></i>

                                                            Close
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.data-table').DataTable({"bSort" : false, "pageLength": 25, "oLanguage": { "sSearch": "", 'sLengthMenu': "Show _MENU_" },});
        $(".cdelete").click(function (e) {
            e.preventDefault();
            var id = this.id;
            bootbox.confirm("Are you sure?", function (result) {
                if (result) {
                    var _url = "@Url.Action("delete","Skills")";
                    window.location.href = _url + "?skillid=" + id;
                }
            });
        });
    });
     function update(skillid, skillname) {
            $('#mdlupdate').modal('show');
         $("#skill").val(skillname);
         $("#skillid").val(skillid);
    }
    
     function Uploadfile() {
        $("#backdrop").css("display", "block");
          $(".box").animate({
              width: "hide"
          });
         $("#upload").animate({
              width: "show"
          });
    }
    $(".closebox").on("click", function (e) {
        $("#upload").animate({
            width: "hide"
        });
        $("#backdrop").css("display", "none");
    });

</script>