﻿
@{
    ViewBag.Title = "Add New Pay";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@model hrm.Models.attandanceadmin_items

<div class="p-10">
    @*<h2 class="page-title">
            Add Attandance

        </h2>*@

</div>
<div class="p-30 p-t-none p-b-none">
    @if (!string.IsNullOrEmpty(Model.error_text))
    {
        <span id="alert" style="display:none;" data-class="@Model.alertclass" data-text="@Model.error_text"></span>
    }
    <div class="row">
        <div class="col-lg-8">
            <div class="panel">
                <div class="panel-heading formpanel-heading">
                    <div class="col-md-6 col-sm-6">
                        <h3 class="panel-title">
                            Add Pay

                        </h3>
                    </div>
                    <div class="col-md-6 col-sm-6 topbuttondiv">
                        <a class="btn btn-success btn-sm pull-right" href="@Url.Action("index","pay")">
                            <i class="fa fa-arrow-left"></i> Pay List
                        </a>
                    </div>

                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("add", "pay", FormMethod.Post, new { @id = "frmsendsms", @enctype = "multipart/form-data" }))
                    {
                        <div class="form-group">
                            <label>Technician</label>
                            <select class=" width100 form-control " data-live-search="true" name="memberid" onchange="getrate()" id="memberid">
                                <option value="0">Technician</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Job</label>
                            <select class="width100 form-control " data-live-search="true" name="jobid" id="jobid">
                                <option value="0">Job</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Date</label>
                            @Html.TextBoxFor(a => a.startdate, new { @class = "form-control datePicker" })
                            @Html.ValidationMessageFor(a => a.startdate)
                        </div>
                        <div class="form-group">
                            <label>Start time</label>
                            @Html.TextBoxFor(a => a.starttime, new { @class = "form-control timePicker" })
                            @Html.ValidationMessageFor(a => a.starttime)
                        </div>
                        <div class="form-group">
                            <label>End time</label>
                            @Html.TextBoxFor(a => a.endtime, new { @class = "form-control timePicker" })
                            @Html.ValidationMessageFor(a => a.endtime)
                        </div>
                        <div class="form-group">
                            <label>Hourly rate</label>
                            @Html.TextBoxFor(a => a._memberrate, new { @class = "form-control ratetext", @id = "_memberrate" })
                            @Html.ValidationMessageFor(a => a._memberrate)
                        </div>
                        <div class="form-group">
                            <label>Expense</label>
                            @Html.TextBoxFor(a => a.expnse, new { @class = "form-control ratetext", @id = "_expense" })
                        </div>
                        <div class="form-group">
                            <label>upload Document</label>
                        </div>
                        <div class="form-group input-group input-group-file">
                            <span class="input-group-btn">
                                <span class="btn btn-primary btn-file">
                                    Browse <input type="file" class="form-control" name="file">
                                </span>
                            </span>
                            <input type="text" class="form-control" readonly="">
                        </div>
                        <div class="form-group">
                            <label>Comment</label>
                            @Html.TextAreaFor(a => a.comment, new { @class = "textarea-wysihtml5 form-control", @rows = "6" })
                        </div>
                        <button type="submit" class="btn btn-success btn-sm pull-right"><i class="fa fa-save"></i> Save </button>
                    }
                </div>
            </div>
        </div>


    </div>

</div>
<script>
    $("form").on("submit", function (e) {
        var memberid = $("#memberid").val();
        if (memberid == 0) {
              alertify.log('Please select Technician', 'error', 5000);
              $("#memberid").focus();
            e.preventDefault();
        }
        var jobid = $("#jobid").val();
        if (jobid == 0) {
              alertify.log('Please select Job', 'error', 5000);
              $("#jobid").focus();
            e.preventDefault();
        }
    });

    function getrate() {
        var memberid = $("#memberid").val();
        if (memberid != 0) {
            var _url = "@Url.Action("get_member_rate","users")"+"?id="+memberid;
            $.get(_url, function (data) {
                $("#_memberrate").val(data);
            });
        } else {
            $("#_memberrate").val("$1");
        }
    }

   

    function getjobdetail(jobid) {
            var _url = "@Url.Action("getjob","jobs")"+"?id="+jobid;
            $.get(_url, function (data) {
                $("#startdate").val(data.sdate);
                $("#starttime").val(data.stime);
                $("#endtime").val(data.etime);
                $("#_expense").val(data.Expense);
            });
    }
     get_Manager_selectbyid('memberid', 'Technician','T');
    //get_jobs('jobid','Job');
         function get_Manager_selectbyid(cntrl,_val,type) {
            var dataString = 'optvalue='+_val+"&type="+type;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_member","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#" + cntrl).removeClass("selectpicker").html($.parseHTML(data)).addClass("selectpicker").selectpicker('refresh').removeAttr('disabled');
                            }
                        });

    }
    $("#memberid").on("change", function () {
        var _mbrid = $("#memberid").val();
        get_jobs('jobid', 'Job',_mbrid);
    });

    $("#jobid").on("change", function () {
        var _jobid = $("#jobid").val();
        getjobdetail(_jobid);
    });

    function get_jobs(cntrl,_val,memberid) {
            var dataString = 'optvalue='+_val+'&memberid='+memberid+"&forpay=True";
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_assigned_jobs","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#" + cntrl).removeClass("selectpicker").html($.parseHTML(data)).addClass("selectpicker").selectpicker('refresh').removeAttr('disabled');
                            }
                        });

        }
</script>
