﻿@{
    ViewBag.Title = "Pay";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var state = (Dictionary<int, string>)ViewBag.select;
    var permission = (List<int>)ViewBag.permissions;
    bool _isadmin = (bool)ViewBag.isadmin;
    int memberId = (int)ViewBag.memberId;
    int[] jobstatus = (int[])ViewBag.jobstatus;
    int paymentstatus = (int)ViewBag.paymentstatus;
    string Location = (string)ViewBag.Location;
    bool isactivefilter = (bool)ViewBag.isfilter;
    int ProjectId = (int)ViewBag.ProjectId;
    int ManagerId = (int)ViewBag.ManagerId;
}

@if (!_isadmin)
{
    <style>
        .btn .caret {
            margin-top: 2% !important;
        }
    </style>
}
@model hrm.Models.attandanceadmin
<style>
    .multiselect-container {
        max-height: 100vh !important; 
    } 
</style>
<div class="p-10"> 
</div>
<div class="p-30 p-t-none p-b-none">
    @if (!string.IsNullOrEmpty(Model.error_text))
    {
        <span id="alert" style="display:none;" data-class="@Model.alertclass" data-text="@Model.error_text"></span>
    } 
    <div id="mdlupdate" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Update Pay</h4>
                </div>
                @using (Html.BeginForm("update_pay", "pay", FormMethod.Post, new { @id = "frmupdate_pay1" }))
                {<div class="modal-body">
                        <div class="form-group">
                            <label>Pay </label>
                            <input type="text" class="form-control ratetext" required="" id="Payname" name="Payname">
                            <input type="hidden" name="Payid" id="Payid" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Update</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-times-circle"></i> Close</button>
                    </div>
                }
            </div>
        </div>
    </div>

    <div id="mdlstatus" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Pay Status</h4>
                </div>
                @using (Html.BeginForm("update_pay", "pay", FormMethod.Post, new { @id = "frmupdate_pay" }))
                {<div class="modal-body">
                        <div class="form-group">

                            <select id="psid" name="psid" class="selectpicker form-control width100">
                                <option value="0">Pay status</option>
                                <option value="1">Pending</option>
                                <option value="3">Approved</option>
                                <option value="1002">Paid </option>
                            </select>
                            <input type="hidden" name="pid" id="pid" />
                        </div>
                    </div>
                    <div class="modal-footer">

                        <button type="button" onclick="updatestatus()" class="btn btn-success"><i class="fa fa-save"></i> Update</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-times-circle"></i> Close</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box mainbox customheight" style="display: none;" id="FilterSlide">
            @using (Html.BeginForm("offer", "import", FormMethod.Post, new { @id = "frmimport", @enctype = "multipart/form-data" }))
            {
                <div class="box-inner">
                    <div class="col-md-12">
                        <h3 class="pull-left panel-title" style="padding-left: 14px !important;    padding-top: 10px;">Open filters</h3>
                        <button type="button" class="close closebox" aria-label="Close" autocomplete="random"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="clearfix"></div>
                    <hr class="mt9" />
                    <div class="clearfix"></div>
                    <div class="col-md-12" id="Filter_Location_div" style="display:@(!string.IsNullOrEmpty(Location)?"block":"none")">
                        <div class="col-md-9">
                            <div class="form-group">
                                <input type="text" class="form-control filter" value="@Location" style="width:294px;" id="Filter_Location" name="Location" placeholder="Search by location...." />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <button type="button" class="close" onclick="ClearText('Location','Filter_Location',true)" aria-label="Close" autocomplete="random"><span aria-hidden="true">×</span></button>
                            </div>
                        </div>
                    </div> <div class="clearfix"></div>
                    <div class="col-md-12" id="Filter_Project_div" style="display:@(ProjectId!=0?"block":"none")">
                        <div class="col-md-9">
                            <select onchange="TriggerFilter()" data-width="fit" class="selectpicker form-control FilterSelect" id="ProjectList">
                                <option value="0">Project</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="close" onclick="ClearSingleDropDown('Project','ProjectList',true)" aria-label="Close" autocomplete="random"><span aria-hidden="true">×</span></button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12" id="Filter_Manager_div" style="display:@(ManagerId!=0?"block":"none")">
                        <div class="col-md-9">
                            <select onchange="TriggerFilter()" data-width="fit" class="selectpicker form-control FilterSelect" id="Manager">
                                <option value="0">Manager</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="close" onclick="ClearSingleDropDown('Manager','Manager',true)" aria-label="Close" autocomplete="random"><span aria-hidden="true">×</span></button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12 pdtb-1520">
                        <div class="col-md-6 pull-left">
                            <button class="btn btn-default" type="button" onclick="FilterTable()">Save view</button>
                        </div>
                        <div class="col-md-6 pull-right">
                            <a href="#" onclick="ClearFilter()" class="btn btn-default pull-right">Clear search</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <hr class="mt9" />
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <h3 class="pull-left panel-title" style="padding-left: 14px !important;padding-bottom: 25px;padding-top:15px;">Available filters</h3>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12 sendoffer">
                        <div class="col-md-6 round ">
                            <input class="inputbox3" name="messagetype" @(!string.IsNullOrEmpty(Location) ? "checked" : "") value="1" type="checkbox" id="chk_Location" /> Location
                            <label for="checkbox" class="FilterCheck @(!string.IsNullOrEmpty(Location)?"bck":"")" data-element="Filter_Location" data-div="Filter_Location_div" data-type="1" id="bck_chk_Location" data-id="chk_Location"></label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12 sendoffer">
                        <div class="col-md-6 round ">
                            <input class="inputbox3" name="messagetype" value="1" style="display:@(ProjectId!=0?"checked":"")" type="checkbox" id="chk_Project" /> Project
                            <label for="checkbox" class="FilterCheck @(ProjectId!=0?"bck":"")" id="bck_chk_Project" data-id="chk_Project" data-element="ProjectList" data-div="Filter_Project_div" data-type="2"></label>
                        </div>
                    </div>
                    <div class="clearfix"></div><div class="col-md-12 sendoffer">
                        <div class="col-md-6 round ">
                            <input class="inputbox3" name="messagetype" value="1" style="display:@(ManagerId!=0?"checked":"")" type="checkbox" id="chk_Manager" /> Manager
                            <label for="checkbox" class="FilterCheck @(ManagerId!=0?"bck":"")" id="bck_chk_Manager" data-id="chk_Manager" data-element="Manager" data-div="Filter_Manager_div" data-type="2"></label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            }
        </div>
        <div class="clearfix"></div>
        <div class="col-lg-12">
            <div class="panel">
                <div class="panel-heading panel-heading-0">
                    <div class="col-md-6 col-sm-6">
                        <h3 class="panel-title flleft">
                            Pay List
                        </h3>
                        <span style="display: @(isactivefilter == true?"block":"none");margin-left: 8px;" id="filterpopup" class="flleft badge badge-success alert-success"><i class="fa fa-check" aria-hidden="true"></i> Filter</span>
                    </div>
                    <div class="col-md-6 col-sm-6 topbuttondiv">
                        <a class="btn btn-success btn-sm pull-right m-l-10" href="@Url.Action("add", "pay")">
                            <i class="fa fa-plus"></i> Add Pay
                        </a>
                        @if (permission.Contains(1063) || permission.Contains(2061))
                        {
                            <a onclick="Download()" class="btn btn-success btn-sm pull-right" href="#">
                                <i class="fa fa-download"></i> Download
                            </a>
                        }
                    </div>
                </div>
                <div class="clearfix"></div>
                @if (permission.Contains(59))
                {
                    <div class="panel-body p-none" style="display:none;" id="filter_div">
                        @using (Html.BeginForm("index", "pay", FormMethod.Post, new { @id = "frmfilter" }))
                        {<div class="custom-col-md-12">
                                <table class="table table-hover filter_table_pay filter_table nowrap no-footer table-ultra-responsive-custome">

                                    <tbody>
                                        <tr>
                                            @if (_isadmin)
                                            {
                                                <td>
                                                    <select onchange="TriggerFilter()" class="  form-control FilterSelect" data-live-search="true" name="memberId" id="memberid">
                                                        <option value="0">User</option>
                                                    </select>
                                                </td> 
                                            }
                                            <td>
                                                <select onchange="TriggerFilter()" name="jobstatus" multiple id="jobstatus" class="form-control filter FilterSelect" data-width="fit">
                                                    <option @(jobstatus.Contains(1) ? "selected" : "") value="1">New</option>
                                                    <option @(jobstatus.Contains(2) ? "selected" : "") value="2">Dispatched</option>
                                                    <option @(jobstatus.Contains(3) ? "selected" : "") value="3">In progress</option>
                                                    <option @(jobstatus.Contains(4) ? "selected" : "") value="4">Completed</option>
                                                    <option @(jobstatus.Contains(6) ? "selected" : "") value="6">Under review</option>
                                                    <option @(jobstatus.Contains(5) ? "selected" : "") value="5">Approved</option>
                                                    <option @(jobstatus.Contains(7) ? "selected" : "") value="7">Rescheduled</option>
                                                    <option @(jobstatus.Contains(8) ? "selected" : "") value="8">Cancelled</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select onchange="TriggerFilter()" id="status_id" name="paymentstatus" data-width="fit" class="selectpicker form-control filter FilterSelect">
                                                    <option @(paymentstatus == 0 ? "Selected" : "") value="0">Pay Status</option>
                                                    <option @(paymentstatus == 1 ? "Selected" : "") value="1">Pending</option>
                                                    <option @(paymentstatus == 3 ? "Selected" : "") value="3">Approved</option>
                                                    <option @(paymentstatus == 1002 ? "Selected" : "") value="1002">Paid </option>
                                                </select>
                                                <input type="hidden" value="0" id="print" name="print" />
                                            </td>
                                            <td class="MoreFilter" style="padding-top:16px !important;">
                                                <a href="#" onclick="FilterOpen()">More filter</a>
                                            </td>
                                            <td>
                                                <button type="button" onclick="FilterTable()" class="btn btn-default pull-right">Save view</button>
                                            </td>
                                            <td>
                                                <a href="#" onclick="ClearFilter()" class="btn btn-default pull-right">Clear search</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        }

                    </div>
                }
                <div class="clearfix"></div>
                <div class="panel-body p-none">
                    <div class="table-ultra-responsive">
                        <table class="table table-condensed nowrap data-table table-hover dataTable no-footer" id="table">
                            <thead>
                                <tr>
                                    <th>User Id</th>
                                    <th>Name</th>
                                    <th>Job Id</th>
                                    <th>Client</th>
                                    <th>Rate</th>
                                    <th>Hours</th>
                                    <th>Pay</th>
                                    <th>Expense</th>
                                    <th>Job Status</th>
                                    <th>Pay Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>

<script>

    var pageSize = '@ViewBag.length';
    var otable;
    var priceupdatepermission = '@permission.Contains(50).ToString().ToUpper()';
    var editpermission = '@permission.Contains(48).ToString().ToUpper()';
    var editPaidpermission = '@permission.Contains(3062).ToString().ToUpper()';
    var deletepermission ='@permission.Contains(49).ToString().ToUpper()';
    var statuspermission ='@permission.Contains(5119).ToString().ToUpper()';
    var jobSelected = "";
    var searchtype = 0;
    var tech = '@memberId';
   var Location = "@Location";
    var PayStatus = '@paymentstatus';
    var ProjectId = '@ProjectId';
    var ManagerId = '@ManagerId';

    function ClearFilter() {
        pageSize = 25;
      $('#jobstatus').multiselect('deselectAll', false);
        jobSelected = "";
        searchtype = 2;
       $("#memberid").val("0");
        $("#status_id").val("0");
        $("#ProjectList").val("0");
        $("#Manager").val("0");
        $('.selectpicker').selectpicker('refresh');
         $("#filterpopup").css("display", "none");
        $('input[type=search]').val('');
        $("#Filter_Location").val(''); 
        var tech = '0';
   var Location = "";
    var PayStatus = '0';
    var ProjectId = '0';
    var ManagerId = '0'; 
        ClearSingleDropDown('Manager', 'Manager', false);
        ClearSingleDropDown('Project','ProjectList', false);
        ClearText('Location', 'Filter_Location', false);
        otable.page.len(pageSize).draw(true);
    }

    function FilterTable() {
    jobSelected = "";
    searchtype = 1;
     var _jobSelected = $("#jobstatus").find("option:selected");
    _jobSelected.each(function(){
       jobSelected=jobSelected+$(this).val()+",";
    });
        $("#filterpopup").css("display", "block"); 
          tech = $("#memberid").val();
          Location = $("#Filter_Location").val();
          PayStatus = $("#status_id").val();
          ProjectId = $("#ProjectList").val();
          ManagerId = $("#Manager").val(); 
        otable.page.len(pageSize).draw(true);
    }

    $(document).ready(function () {
     var _jobSelected = $("#jobstatus").find("option:selected");
    _jobSelected.each(function(){
       jobSelected=jobSelected+$(this).val()+",";
    });
        otable = $('.data-table').DataTable({
            "processing": true,
            "serverSide": true,
            'language': {
            'loadingRecords': '&nbsp;',
            'processing': "<img src='@Url.Content("~/Content/Images/loader.gif")'> Loading..."
            },  "drawCallback": function (settings) {
                settings._iDisplayLength = pageSize;
            }, "oLanguage": { "sSearch": "", 'sLengthMenu': "Show _MENU_" } ,
            "iDisplayLength": pageSize,
            "order": [],
            "bSort": false,
            "bFilter": true,
            "autoWidth": false,
            "ajax": {
                "url": "@Url.Action("FetchAdminPayment", "pay")",
                  "data": function (d) {
                      d.tech = tech;
                      d.Location = Location;
                      d.PayStatus = PayStatus;
                      d.jobstatus = jobSelected + "0";
                      d.searchtype = searchtype;
                      d.ProjectId = ProjectId;
                      d.ManagerId = ManagerId;
                    }
            },
            "aoColumns": [
                 { mData: "MemberID" },
                 {
                    bSortable: false,
                     mRender: function (data, type, full) {
                         var status_td = "";
                         if (full.Paymentstatus == "Paid") {
                             if (editPaidpermission == "TRUE") {
                            status_td='<a href="/pay/edit?token=' + full.token + '">' + full.Name+'</a>';
                        }
                        else {
                           status_td='<p>'+ full.Name+'</p>';
                         }
                         } else {
                             if (editpermission == "TRUE") {
                            status_td='<a href="/pay/edit?token=' + full.token + '">' + full.Name+'</a>';
                        }
                        else {
                           status_td='<p>'+ full.Name+'</p>';
                         }
                         }
                         return status_td;

                    }
                }, { mData: "JobID" },
                { mData: "Client" },
                { mData: "Memberrate" },
                { mData: "Hoursworked" },
                            {
                    bSortable: false,
                    mRender: function (data, type, full) {
                        var price_td = "";
                     if (full.Paymentstatus == "Paid") {
                             if (editPaidpermission == "TRUE") {
                            price_td='<a class="btn btn-default btn-xs updatepay" href="#" data-payid="'+full.attandanceid+'" data-amount="'+ full.Pay+'" >' + full.Pay+' <i class="fa fa-edit"></i></a>';
                        }
                        else {
                           price_td='<p>'+ full.Pay+'</p>';
                         }
                         } else {
                             if (priceupdatepermission == "TRUE") {
                             price_td='<a class="btn btn-default btn-xs updatepay" href="#" data-payid="'+full.attandanceid+'" data-amount="'+ full.Pay+'" >' + full.Pay+' <i class="fa fa-edit"></i></a>';
                        }
                        else {
                           price_td='<p>'+ full.Pay+'</p>';
                         }
                         }
                        return price_td;
                    }
                },
                            { mData: "Expense" },
                { mData: "Jobstatus" },
                  {
                    bSortable: false,
                    mRender: function (data, type, full) {
                       var pstatus_td = "";
                       pstatus_td='<span class="pstatus '+full.Paymentstatus.replace(" ", "").replace("-", "").toLowerCase()+'" data-psid="'+full.paymentstatusid+'" data-pid="'+full.attandanceid+'" id="lbl_'+full.attandanceid+'" class="btn btn-primary btn-xs updatepay" href="#" data-payid="'+full.attandanceid+'" data-amount="'+ full.Pay+'" >' + full.Paymentstatus+'</span>';
                       return pstatus_td;
                    }
                },

                {
                    bSortable: false,
                    mRender: function (data, type, full) {
                        var tbl = '<div class="btn-group pos-static"><a class="customedropdown" data-toggle="customedropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-v fn21"></i> </a><div class="dropdown-menu customdropdown-menu" x-placement="bottom-start" style="top: 0px; transform: translate3d(-96px, -18px, 0px);will-change: transform;position: absolute;left: 0px; display: none;">';
                        if (full.Paymentstatus == "Paid") {

                            if (editPaidpermission == "TRUE") {
                            tbl=tbl+ '<a class="btn btn-success btn-xs" href="/pay/edit?token=' + full.token + '"><i class="fa fa-edit"></i> Edit</a>';

                        }
                        else {
                            tbl=tbl+ '<a href="#" class="disabledbtn btn btn-success btn-xs" data-msg="You are not authorized to edit paid Pay"><i class="fa fa-edit"></i> Edit</a>';
                        }
                        if (editPaidpermission == "TRUE") {
                            tbl=tbl+ '<a class="btn btn-danger btn-xs cdelete" href="#" id="'+full.token+'"><i class="fa fa-trash"></i> Delete</a>';

                        }
                        else {
                            tbl=tbl+ '<a href="#" class="btn btn-danger btn-xs disabledbtn" data-msg="You are not authorized to delete paid pay" id=""><i class="fa fa-trash"></i> Delete</a>';
                        }
                        }
                        else {
                               if (editpermission == "TRUE") {
                            tbl=tbl+ '<a class="btn btn-success btn-xs" href="/pay/edit?token=' + full.token + '"><i class="fa fa-edit"></i> Edit</a>';

                        }
                        else {
                            tbl=tbl+ '<a href="#" class="disabledbtn btn btn-success btn-xs" data-msg="You are not authorized to edit Pay"><i class="fa fa-edit"></i> Edit</a>';
                        }
                        if (deletepermission == "TRUE") {
                            tbl=tbl+ '<a class="btn btn-danger btn-xs cdelete" href="#" id="'+full.token+'"><i class="fa fa-trash"></i> Delete</a>';

                        }
                        else {
                            tbl=tbl+ '<a href="#" class="btn btn-danger btn-xs disabledbtn" data-msg="You are not authorized to delete pay" id=""><i class="fa fa-trash"></i> Delete</a>';
                        }
                        }

                        tbl = tbl + '</div></div>';
                        return tbl;
                    }
                }

            ]
        });

        otable.on('length.dt', function (e, settings, len) {
            pageSize = len;
        });
    });

    function TriggerFilter() {
        var IsFilterActive = true;
        searchtype = 0;
        tech = $("#memberid").val();
        Location = $("#Filter_Location").val();
        PayStatus = $("#status_id").val();
        ProjectId = $("#ProjectList").val();
        ManagerId = $("#Manager").val(); 
        jobSelected = "";
        var _jobSelected = $("#jobstatus").find("option:selected");
        _jobSelected.each(function () {
            jobSelected = jobSelected + $(this).val() + ",";
        });
        if (tech == "0" && jobSelected == "" && Location == "" && PayStatus == "0" && ProjectId == "0" && ManagerId == "0") {
            IsFilterActive = false;
        }
        if (IsFilterActive) {
            $("#filterpopup").css("display", "block");
        } else {
            $("#filterpopup").css("display", "none");
        }
        otable.page.len(pageSize).draw(true);
    } 

function getOpenProjetList(id) {
        var dataString = 'id='+@ProjectId+'&name=Project';
        $.ajax
            ({
                type: "POST",
                url: '/default/getallopenproject',
                data: dataString,
                cache: false,
                success: function (e) {
                    $("#" + id).removeClass("selectpicker").html($.parseHTML(e)).addClass("selectpicker").selectpicker('refresh').removeAttr('disabled');
                    $(".selectpicker").selectpicker('refresh');

                }
            });
    }


    function Download() {
         $("#print").val('1');
        $("#frmfilter").submit();
        $("#print").val('0');
    }
    $(document).ready(function () {
          //$(".responsive").floatingScroll();
        //$(".cuschk").on("click", function () {
        //    var id = $(this).data("id");
        //    if ($(this).hasClass("bck")) {
        //        $("#" + id).attr("checked", false);
        //        $(this).removeClass("bck");
        //    } else {
        //        $("#" + id).attr("checked", true);
        //        $(this).addClass("bck");
        //    }
        //});
        $("#jobstatus").multiselect({
            enableCaseInsensitiveFiltering: false,enableFiltering: false,buttonText: function(options, select) {
                return 'Job Status';
            },});

         $("#table").on("click", ".cdelete", function(e){
           e.preventDefault();
            var id = this.id;
            bootbox.confirm("Are you sure?", function (result) {
                if (result) {
                    var _url = "@Url.Action("index","pay")";
                    window.location.href = _url + "?token=" + id;
                }
            });
         });

        $("#table").on("click", ".pstatus", function (e) {
            e.preventDefault();
            if (statuspermission != "TRUE") {
                alertify.log('you are not authorized to update status', 'error', 5000);
                return false;
            } else {
                var pid = $(this).data("pid");
                var psid = $(this).data("psid");
                $('#mdlstatus').modal('show');
                $("#pid").val(pid);
                $("#psid").val(psid);
                $('#psid').selectpicker('refresh');

            }


    });
    //" href="#" data-="'+full.attandanceid+'" data-
         $("#table").on("click", ".updatepay", function(e){
             e.preventDefault();
             var payid = $(this).data("payid");
             var amount =$(this).data("amount");
               $("#Payname").val(amount);
             $("#Payid").val(payid);
              $('#mdlupdate').modal('show');
    });

         function get_city(city_id,state_id) {
             var dataString = 'id=' + state_id+"&ismulti=1&city="+city_id;
                    $.ajax
                        ({
                            type: "POST",
                             url: '@Url.Action("get_all_city_by_stateid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $('#city_filter_id').multiselect('destroy');
                                  $("#city_filter_id").html('');
                                $("#city_filter_id").html(data).removeAttr('disabled');
                                  $("#city_filter_id").removeClass('selectpicker').multiselect({ enableCaseInsensitiveFiltering:true,enableFiltering: true,buttonText: function(options, select) {
                return 'City';
            },});

                            }
                        });

        }

      $("#state_filter_id").change(function () {
                var id = $(this).val();
            if (id != 0) {
               // $("#city_id").html('');
                    var dataString = 'id=' + id+"&ismulti=1";
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_city_by_stateid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $('#city_filter_id').multiselect('destroy');
                                  $("#city_filter_id").html('');
                                $("#city_filter_id").attr("multiple","multiple").html(data).removeClass('selectpicker').removeAttr('disabled').multiselect({ enableCaseInsensitiveFiltering:true,enableFiltering: true,buttonText: function(options, select) {
                return 'City';
            },});
     }
                        });
            } else {
                $('#city_filter_id').multiselect('destroy');
                $("#city_filter_id").html('');
                 $("#city_filter_id").removeClass('selectpicker').attr("multiple","multiple").multiselect({ enableCaseInsensitiveFiltering:true,enableFiltering: true,buttonText: function(options, select) {
                return 'City';
            },});
              //  $("#city_id").html('<option value="0">Select city</option>').attr('disabled',true);
          }

      });
        });
     function update( deptname,deptid) {
            $('#mdlupdate').modal('show');
            $("#Payname").val(deptname);
            $("#Payid").val(deptid);
    }

    function updatestatus() {
        var pid = $("#pid").val();
        var psid = $("#psid").val();
        if (psid == 0) {
            alertify.log('Please select Pay status', 'error', 5000);
            return false;
        }
        var _url = "@Url.Action("update_pay_status","pay")";
        $.get(_url, { 'payid': pid, 'statusid': psid }, function () {
            var _txt = $("#psid").find("option:selected").text();
              $('#mdlstatus').modal('hide');
            $("#lbl_" + pid).html(_txt);
            var cls = $.trim(_txt.replace("-", "").replace(" ", ""));
            $("#lbl_" + pid).removeClass("pending").removeClass("accepted").removeClass("declined").removeClass("underreview").removeClass("approved").removeClass("denied").removeClass("paid").addClass(cls.toLowerCase());
            $("#lbl_" + pid).attr('data-psid', psid);
            alertify.log('Pay status updated succesfully', 'success', 5000);

        });
    }
      $(window).load(function () {
          setTimeout(function () { $("#filter_div").css("display", "block"); getOpenProjetList("ProjectList");   }, 1500);
      });
    get_Manager_selectbyid('@memberId', 'T', 'Technician', 'memberid');
    get_Manager_selectbyid('@ManagerId', 'PM', 'Project manager','Manager');
           function get_Manager_selectbyid(memberid, type, Technician,id) {
               var dataString = 'optvalue=' + Technician+'&memberid='+memberid+"&type="+type;
                    $.ajax
                        ({
                    type: "POST",
                            url: '@Url.Action("get_all_member","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#" + id).html('').removeClass("selectpicker").append($.parseHTML(data)).addClass("selectpicker").selectpicker('refresh').removeAttr('disabled');

                            }
                    });
             }
</script>

<script src="https://maps.googleapis.com/maps/api/js?libraries=places&region=US&key=AIzaSyA1LyE18eEmk5UdDLezPmcOPF47Diugxls" type="text/javascript"></script>
<script type="text/javascript">


    function initialize() {
        $(".alertify-logs").html('');
        var defaultBounds = new google.maps.LatLngBounds(
            new google.maps.LatLng(-33.8902, 151.1759)
        );

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                (position) => {
                    const pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude,
                    };
                    defaultBounds = new google.maps.LatLngBounds
                        (new google.maps.LatLng(pos.lat, pos.lng));
                }
            );
        }

        var options1 = {
            types: ['geocode'], bounds: defaultBounds,
            componentRestrictions: { country: "us" }
        };
        //var input3 = document.getElementById('Zipcode');
        var input2 = document.getElementById('Filter_Location');
        var autocomplete2 = new google.maps.places.Autocomplete(input2, options1);
        //var autocomplete3 = new google.maps.places.Autocomplete(input3, option3);

        google.maps.event.addListener(autocomplete2, 'place_changed', function () {
            var place = autocomplete2.getPlace();
            var type = place.address_components[0].types;
            var _newAddress = "";
            if (type.indexOf("administrative_area_level_1") != -1) {
                _newAddress = place.address_components[0].short_name;
            } else {
                _newAddress = place.formatted_address.replace(", USA", "");
            }
            input2.value = _newAddress;
            TriggerFilter();
        });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
    document.addEventListener('DOMNodeInserted', function (event) {
        var target = $(event.target);
        if (target.hasClass('pac-item')) {
            target.html(target.html().replace(/, USA<\/span>$/, "</span>"));
        }
        $('.pac-target-input').attr('autocomplete', 'random');
    });
</script>
<style>
    .MoreFilter {
        width: 100% !important;
        font-weight: 500;
    }

    .filter_table td .dropdown-toggle {
        padding-left: 0px !important;
    }

    .sendoffer {
        padding-left: 25px !important;
    }
</style>