﻿
@{
    ViewBag.Title = "Pay";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int userid = (int)ViewBag.userid;
    int tab = ViewBag.tab==null?4:(int)ViewBag.tab;
}
@model hrm.Models.attandanceadmin_items

    <style>
        .col-lg-8 {
            padding-left: 0px !important;
        }

        .col-lg-4 {
            padding-right: 8px !important;
        }
    </style>
<div class="p-10">
</div>
<div class="p-30 p-t-none p-b-none">
    @if (!string.IsNullOrEmpty(Model.error_text))
    {
        <span id="alert" style="display:none;" data-class="@Model.alertclass" data-text="@Model.error_text"></span>
    }
    <div class="row">

        <div class="col-lg-4">
            <div class="panel">
                <div class="panel-heading formpanel-heading">
                    <div class="col-md-12 col-sm-12">
                        <h3 class="panel-title">
                            Pay Information
                        </h3>
                    </div>

                </div>
                <div class="panel-body">

                    @using (Html.BeginForm("update", "pay", FormMethod.Post, new { @id = "frmsendsms" }))
                    {<div class="form-group">
                            <label>Technician</label>
                            <select class="selectpicker form-control " data-live-search="true" name="memberid" id="memberid">
                                <option value="0">Technician</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Job</label>
                            <select class="selectpicker form-control " data-live-search="true" name="jobid" id="jobid">
                                <option value="0">Job</option>
                            </select>
                        </div>



                        <div class="form-group">
                            <label>Date</label>
                            @Html.TextBoxFor(a => a.startdate, new { @class = "form-control datePicker" })
                            @Html.ValidationMessageFor(a => a.startdate)
                            @Html.HiddenFor(a => a.payid)
                            <input type="hidden" name="type" value="4" />
                        </div>
                        <div class="form-group">
                            <label>Start time</label>
                            @Html.TextBoxFor(a => a.starttime, new { @class = "form-control timePicker" })
                            @Html.ValidationMessageFor(a => a.starttime)
                        </div>
                        <div class="form-group">
                            <label>End time</label>
                            @Html.TextBoxFor(a => a.endtime, new { @class = "form-control timePicker" })
                            @Html.ValidationMessageFor(a => a.endtime)
                        </div>

                        <div class="form-group">
                            <label>Hourly Rate</label>
                            @Html.TextBoxFor(a => a._memberrate, new { @class = "form-control ratetext", @id = "_memberrate" })
                            @Html.ValidationMessageFor(a => a._memberrate)
                        </div>
                        <div class="form-group">
                            <label>Expense</label>
                            @Html.TextBoxFor(a => a.expnse, new { @class = "form-control ratetext", @id = "_memberrate" })

                        </div>


                        <div class="form-group" style="display:none;">
                            <label>Pay Status</label>
                            <select id="pay_filter_id" data-live-search="true" name="statusid" class="selectpicker form-control">
                                <option value="0">Pay Status</option>
                                <option @(Model.statusid == 1 ? "Selected" : "") value="1">Pending</option>
                                <option @(Model.statusid == 2 ? "Selected" : "") value="2">Under review</option>
                                <option @(Model.statusid == 1003 ? "Selected" : "") value="1003">Accepted</option>
                                <option @(Model.statusid == 3 ? "Selected" : "") value="3">Approved</option>
                                <option @(Model.statusid == 1004 ? "Selected" : "") value="1004">Declined</option>
                                <option @(Model.statusid == 4 ? "Selected" : "") value="4">Denied </option>
                                <option @(Model.statusid == 1002 ? "Selected" : "") value="1002">Paid </option>

                            </select>
                        </div>
                        <br>

                        <button type="submit" class="btn btn-success btn-sm pull-right"><i class="fa fa-save"></i> Update</button>

                    }
                </div>
            </div>
        </div>

        <div class="col-lg-8">

            <div class="panel">
                <div class="panel-heading formpanel-heading">
                    <div class="col-md-6 col-sm-6">
                        <h3 class="panel-title">
                            Pay Management
                        </h3>
                    </div>
                    <div class="col-md-6 col-sm-6 topbuttondiv">
                        <a class="btn btn-success btn-sm pull-right" href="@Url.Action("index","pay")">
                            <i class="fa fa-arrow-left"></i> Pay List
                        </a>
                    </div>
                </div>
                <div class="p-30 p-t-none p-b-none">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="@(tab==4?"active":"")"><a href="#task_details" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">Details</a></li>
                                <li role="presentation" class="@(tab==2?"active":"")"><a href="#task_discussion" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">Discussion</a></li>
                                <li role="presentation" class="@(tab==3?"active":"")"><a href="#task_files" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false">Documents</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content p-20">
                                <div role="tabpanel" class="tab-pane @(tab==4?"active":"")" id="task_details">

                                    <div class="form-group">
                                        <label>Job Title</label><br />
                                        <a target="_blank" href="@Url.Action("view","jobs",new {token=Model._jobtoken })" class="label label-success">@Model.jobtitle</a>

                                    </div>
                                    <div class="form-group">
                                        <label>Job Status</label>
                                        <p> @Model.jobstatus</p>
                                    </div>
                                    <div class="form-group">
                                        <label>Rate</label>
                                        <p> @Model._memberrate</p>
                                    </div>
                                    <div class="form-group">
                                        <label>Hour worked</label>
                                        <p> @Model.hourworked</p>
                                    </div>
                                    <div class="form-group">
                                        <label>Expense</label>
                                        <p>@Model.expnse</p>
                                    </div>
                                    <div class="form-group">
                                        <label>Pay</label>
                                        <p>@Model.payamount</p>
                                    </div>
                                    <div class="form-group">
                                        <label>Assigned Dispatcher</label>
                                        @if (Model.dispatcherid != 0)
                                        {
                                            <p>@Model.dispatchername</p>
                                        }
                                    </div>
                                    <div class="form-group">
                                        <label>Payment Status</label>
                                        @if (Model.statusid == 1)
                                        {<p>Pending</p>

                                        }
                                        else if (Model.statusid == 2)
                                        {
                                            <p>Under Review</p>
                                        }
                                        else if (Model.statusid == 3)
                                        {
                                            <p>Approved</p>
                                        }
                                        else if (Model.statusid == 1002)
                                        {
                                            <p>Paid</p>
                                        }
                                        else if (Model.statusid == 1003)
                                        {
                                            <p>Accepted</p>
                                        }
                                        else if (Model.statusid == 1004)
                                        {
                                            <p>Declined</p>
                                        }
                                        else
                                        {
                                            <p>Denied</p>
                                        }
                                    </div>

                                </div>

                                <div role="tabpanel" class="tab-pane @(tab==2?"active":"")" id="task_discussion">
                                    @using (Html.BeginForm("update", "pay", FormMethod.Post, new { @id = "frmsendsms" }))
                                    {
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label>Leave Comment</label>
                                                @Html.TextAreaFor(a => a.comment, new { @class = "textarea-wysihtml5 form-control", @required = "required", @rows = "7" })
                                                <input type="hidden" name="type" value="2" />
                                                @Html.HiddenFor(a => a.payid)
                                            </div>
                                            <div class="col-md-12">
                                                <button type="submit" class="btn btn-success pull-right"><i class="fa fa-reply"></i> Reply</button>
                                            </div>
                                        </div>
                                    }
                                    <br>
                                    <hr>
                                    <table class="table data-table table-condensed table-hover table-ultra-responsive dataTable no-footer">
                                        <thead>
                                            <tr>
                                                <th style="width: 25%;">User</th>
                                                <th style="width: 55%;">Comment</th>
                                                <th style="width: 20%;">Last Update</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model._Comments)
                                            {
                                                <tr>
                                                    <td nowrap style="width: 25%;">@item.createdby</td>
                                                    <td style="width: 55%;">@Html.Raw(item.Comment)</td>
                                                    <td nowrap style="width: 20%;">@item.CreatedDate</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                </div>

                                <div role="tabpanel" class="tab-pane @(tab==3?"active":"")" id="task_files">

                                    @using (Html.BeginForm("update", "pay", FormMethod.Post, new { @id = "frmsendsms", @enctype = "multipart/form-data" }))
                                    {
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label>File Title</label>
                                                <input type="text" required name="file_title" class="form-control">
                                                <input type="hidden" name="type" value="3" />
                                                @Html.HiddenFor(a => a.payid)
                                            </div>

                                            <div class="form-group">

                                                <label>Select File</label>
                                                <div class="input-group input-group-file">
                                                    <span class="input-group-btn">
                                                        <span class="btn btn-primary btn-file">
                                                            Browse <input type="file" class="form-control" required name="file">
                                                        </span>
                                                    </span>
                                                    <input type="text" class="form-control" readonly="">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <button type="submit" class="btn btn-success pull-right"><i class="fas fa-cloud-upload-alt"></i> Upload</button>


                                            </div>
                                        </div>

                                    }
                                    <br>
                                    <hr>

                                    <table class="table data-table table-condensed table-hover nowrap table-ultra-responsive dataTable no-footer">
                                        <thead>
                                            <tr>
                                                <th style="width: 20%;">Files</th>
                                                <th style="width: 20%;">Date</th>
                                                <th style="width: 20%;">Upload By</th>
                                                <th style="width: 30%;">Download</th>
                                                <th style="width: 30%;">Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model._files)
                                            {
                                                <tr>
                                                    <td style="width: 25%;">@item.FileTitle</td>
                                                    <td style="width: 20%;">@item.CreatedDate</td>
                                                    <td style="width: 25%;">@item.CreatedBy</td>
                                                    <td style="width: 40%;">
                                                        <a href="@item.Url" download target="_blank" class="btn btn-success btn-xs pull-left">
                                                            <i class="fa fa-download"></i>
                                                        </a>
                                                    </td>
                                                    <td style="width: 40%;">
                                                        <a href="#" class="btn btn-danger btn-xs tFileDelete" data-payid="@Model._token" id="@item.FileToken"><i class="fa fa-trash"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<script>
     $(document).ready(function () {
    $('.data-table').DataTable({ 'bSort': false, "pageLength": 25 , "oLanguage": { "sSearch": "", 'sLengthMenu': "Show _MENU_" },});
        $(".tFileDelete").click(function (e) {
            e.preventDefault();
            var id = this.id;
              var payid = $(this).data('payid');
            bootbox.confirm("Are you sure?", function (result) {
                if (result) {
                    var _url = "@Url.Action("edit","pay")";
                    window.location.href = _url + "?doctoken=" + id+"&token="+payid+"&tab=3";
                }
            });
        });
    });
    get_Manager_selectbyid('memberid', 'Technician','@Model.memberid');
    get_jobs('jobid','Job','@Model.jobid','@Model.memberid');
         function get_Manager_selectbyid(cntrl,_val,memberid) {
            var dataString = 'optvalue='+_val+"&memberid="+memberid+"&type=T";
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_selcted_member","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#"+cntrl).removeClass("selectpicker").html($.parseHTML(data)).addClass("selectpicker").selectpicker('refresh').removeAttr('disabled');
                            }
                        });

    }


    function get_jobs(cntrl,_val,jobid,memberid) {
            var dataString = 'optvalue='+_val+"&jobid="+jobid+"&memberid="+memberid;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_assigned_jobs","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#"+cntrl).removeClass("selectpicker").html($.parseHTML(data)).addClass("selectpicker").selectpicker('refresh').removeAttr('disabled');
                            }
                        });

        }
</script>

