﻿
@{
    ViewBag.Title = "Pay";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int tab = ViewBag.tab == null ? 1 : (int)ViewBag.tab;
}
@model hrm.Models.attandanceadmin_items


<style>
    .col-lg-8 {
        padding-left: 0px !important;
    }

    .col-lg-4 {
        padding-right: 8px !important;
    }
</style>
<div class="p-10">
    
</div>
<div class="p-30 p-t-none p-b-none">
    @if (!string.IsNullOrEmpty(Model.error_text))
    {
        <span id="alert" style="display:none;" data-class="@Model.alertclass" data-text="@Model.error_text"></span>
    }
    <div class="row">

        <div class="col-lg-4">
            <div class="panel">
                <div class="panel-heading formpanel-heading">
                    <div class="col-md-12 col-sm-12">
                        <h3 class="panel-title">
                            Pay Information
                        </h3>
                    </div>

                </div>

                <div class="panel-body">

                    @using (Html.BeginForm("update", "pay", FormMethod.Post, new { @id = "formmain" }))
                    {<div class="form-group">
                            <label>Technician</label>
                            <select autofocus class="width100 form-control " data-live-search="true" name="memberid" id="memberid" onchange="getrate()">
                                <option value="0">Technician</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Select Job</label>

                            <select class="width100 form-control " data-live-search="true" name="jobid" id="jobid">
                                <option value="0">Job</option>
                            </select>
                        </div>


                        <div class="form-group">
                            <label>Date</label>
                            @Html.TextBoxFor(a => a.startdate, new { @class = "form-control datePicker" })
                            @Html.ValidationMessageFor(a => a.startdate)
                            @Html.HiddenFor(a => a.payid)
                            <input type="hidden" name="type" value="1" />
                        </div>

                        <div class="form-group">
                            <label>Start time</label>
                            @Html.TextBoxFor(a => a.starttime, new { @class = "form-control timePicker" })
                            @Html.ValidationMessageFor(a => a.starttime)
                        </div>
                        <div class="form-group">
                            <label>End time</label>
                            @Html.TextBoxFor(a => a.endtime, new { @class = "form-control timePicker" })
                            @Html.ValidationMessageFor(a => a.endtime)
                        </div>

                        <div class="form-group">
                            <label>Hourly Rate</label>
                            @Html.TextBoxFor(a => a._memberrate, new { @class = "form-control ratetext", @id = "_memberrate" })
                            @Html.ValidationMessageFor(a => a._memberrate)
                        </div>
                        <div class="form-group">
                            <label>Expense</label>
                            @Html.TextBoxFor(a => a.expnse, new { @class = "form-control ratetext", @id = "_memberrate" })

                        </div>

                        <div class="form-group">
                            <label>Pay Status</label>
                            <select id="pay_filter_id" name="statusid" class="selectpicker form-control width100">
                                <option value="0">Pay Status</option>
                                <option @(Model.statusid == 1 ? "Selected" : "") value="1">Pending</option>
                                <option @(Model.statusid == 3 ? "Selected" : "") value="3">Approved</option>
                                <option @(Model.statusid == 1002 ? "Selected" : "") value="1002">Paid </option>
                            </select>
                        </div>
                        <br>

                        <button type="submit" class="btn btn-success btn-sm pull-right"><i class="fa fa-save"></i> Update</button>

                    }
                </div>
            </div>
        </div>

        <div class="col-lg-8">

            <div class="panel">
                <div class="panel-heading formpanel-heading">
                    <div class="col-md-6 col-sm-6">
                        <h3 class="panel-title">
                            Pay Management
                        </h3>
                    </div>
                    <div class="col-md-6 col-sm-6 topbuttondiv">
                        <a class="btn btn-success btn-sm pull-right" href="@Url.Action("index","pay")">
                            <i class="fa fa-arrow-left"></i> Pay List
                        </a>
                    </div>
                </div>


                <div class="p-30 p-t-none p-b-none">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="@(tab==1?"active":"")"><a href="#task_details" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">Detail</a></li>
                                <li role="presentation" class="@(tab==2?"active":"")"><a href="#task_discussion" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">Discussion</a></li>
                                <li role="presentation" class="@(tab==3?"active":"")"><a href="#task_files" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false">Document</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content p-20">
                                <div role="tabpanel" class="tab-pane @(tab==1?"active":"")" id="task_details">
                                    <table class="table table-condensed-slim">
                                        <thead>
                                            <tr>
                                                <th>Job Title</th>
                                                <th>Job Status</th>
                                                <th>Dispatcher</th>
                                                <th>Rate</th>
                                                <th>Pay</th>
                                                <th>Expense</th>
                                                <th>Hour worked</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>@(Model.jobtitle.Count()>20? Model.jobtitle.Substring(0,19)+"...": Model.jobtitle)</td>
                                                <td>@Model.jobstatus</td>
                                                <td>@Model.dispatchername</td>
                                                <td>@Model._memberrate</td>
                                                <td>@Model.hourworked</td>
                                                <td>@Model.expnse</td>
                                                <td>@Model.payamount</td>
                                            </tr>
                                        </tbody>

                                    </table>

                                </div>

                                <div role="tabpanel" class="tab-pane @(tab==2?"active":"")" id="task_discussion">
                                    @using (Html.BeginForm("update", "pay", FormMethod.Post, new { @id = "frmsendsms" }))
                                    {
                                        <div class="col-md-12">
                                            <div class="form-group col-md-12">
                                                <label>Leave Comment</label>
                                                @Html.TextAreaFor(a => a.comment, new { @class = "textarea-wysihtml5 form-control", @rows = "7" })
                                                <input type="hidden" name="type" value="2" />
                                                @Html.HiddenFor(a => a.payid)
                                            </div>


                                            <div class="col-md-12">
                                                <button type="submit" class="btn btn-success pull-right"><i class="fa fa-reply"></i> Reply</button>


                                            </div>
                                        </div>

                                    }
                                    <br>
                                    <hr>

                                    <table class="table data-table table-condensed table-hover table-ultra-responsive dataTable no-footer">
                                        <thead>
                                            <tr>
                                                <th style="width: 25%;">User</th>
                                                <th style="width: 55%;">Comment</th>
                                                <th style="width: 20%;">Last Update</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model._Comments)
                                            {
                                                <tr>
                                                    <td nowrap style="width: 25%;">@item.createdby</td>
                                                    <td style="width: 55%;">@Html.Raw(item.Comment)</td>
                                                    <td nowrap style="width: 20%;">@item.CreatedDate</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                </div>

                                <div role="tabpanel" class="tab-pane @(tab==3?"active":"")" id="task_files">

                                    @using (Html.BeginForm("update", "pay", FormMethod.Post, new { @id = "frmsendsms", @enctype = "multipart/form-data" }))
                                    {
                                        <div class="col-md-12">
                                            <div class="form-group col-md-12">
                                                <label>File Title</label>
                                                <input type="text" required name="file_title" class="form-control">
                                                <input type="hidden" name="type" value="3" />
                                                @Html.HiddenFor(a => a.payid)
                                            </div>

                                            <div class="form-group col-md-12">

                                                <label>Select File</label>
                                                <div class="input-group input-group-file">
                                                    <span class="input-group-btn">
                                                        <span class="btn btn-primary btn-file">
                                                            Browse <input type="file" class="form-control" required name="file">
                                                        </span>
                                                    </span>
                                                    <input type="text" class="form-control" readonly="">
                                                </div>
                                            </div>


                                            <div class="col-md-12">

                                                <button type="submit" class="btn btn-success pull-right"><i class="fas fa-cloud-upload-alt"></i> Upload</button>


                                            </div>
                                        </div>

                                    }
                                    <br>
                                    <hr>

                                    <table class="table data-table table-condensed table-hover nowrap table-ultra-responsive dataTable no-footer">
                                        <thead>
                                            <tr>
                                                <th style="width: 20%;">Files</th>
                                                <th style="width: 20%;">Date</th>
                                                <th style="width: 20%;">Upload By</th>
                                                <th style="width: 30%;">Download</th>
                                                <th style="width: 30%;">Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model._files)
                                            {
                                                <tr>
                                                    <td style="width: 25%;">@item.FileTitle</td>
                                                    <td style="width: 20%;">@item.CreatedDate</td>
                                                    <td style="width: 25%;">@item.CreatedBy</td>
                                                    <td style="width: 40%;">
                                                        <a href="@(item.Url.Contains("~")?item.Url.Replace("~",""):item.Url)" download target="_blank" class="btn btn-success btn-xs pull-left">
                                                            <i class="fa fa-download"></i>
                                                        </a>
                                                    </td>
                                                    <td style="width: 40%;">
                                                        <a href="#" class="btn btn-danger btn-xs tFileDelete" data-payid="@Model._token" id="@item.FileToken"><i class="fa fa-trash"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<script>
    $("#formmain").on("submit", function (e) {
        var memberid = $("#memberid").val();
        if (memberid == 0) {
              alertify.log('Please select technician', 'error', 5000);
              $("#memberid").focus();
            e.preventDefault();
        }
        var jobid = $("#jobid").val();
        if (jobid == 0) {
              alertify.log('Please select job', 'error', 5000);
              $("#jobid").focus();
            e.preventDefault();
        }
    });
     $(document).ready(function () {
         $('.data-table').DataTable({ 'bSort': false, "pageLength": 25, "oLanguage": { "sSearch": "", 'sLengthMenu': "Show _MENU_" }, });
        $(".tFileDelete").click(function (e) {
            e.preventDefault();
            var id = this.id;
              var payid = $(this).data('payid');
            bootbox.confirm("Are you sure?", function (result) {
                if (result) {
                    var _url = "@Url.Action("edit","pay")";
                    window.location.href = _url + "?doctoken=" + id+"&token="+payid+"&tab=3";
                }
            });
        });
    });

    get_Manager_selectbyid('memberid', 'Technician','@Model.memberid','T');
    get_jobs('jobid','Job','@Model.jobid');
         function get_Manager_selectbyid(cntrl,_val,memberid,type) {
            var dataString = 'optvalue='+_val+"&memberid="+memberid+"&type="+type;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_member","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#" + cntrl).removeClass("selectpicker").html($.parseHTML(data)).addClass("selectpicker").selectpicker('refresh').removeAttr('disabled');
                            }
                        });

    }

      $("#memberid").on("change", function () {
        var _mbrid = $("#memberid").val();
        get_jobsbymember('jobid', 'Job',_mbrid);
      });
      function get_jobsbymember(cntrl,_val,_mbrid) {
            var dataString = 'optvalue='+_val+"&jobid="+jobid+'&memberid='+_mbrid;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_assigned_jobs","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#" + cntrl).removeClass("selectpicker").html($.parseHTML(data)).addClass("selectpicker").selectpicker('refresh').removeAttr('disabled');
                            }
                        });

    }

    function get_jobs(cntrl,_val,jobid) {
            var dataString = 'optvalue='+_val+"&jobid="+jobid+'&memberid=@Model.memberid';
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_assigned_jobs","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#" + cntrl).removeClass("selectpicker").html($.parseHTML(data)).addClass("selectpicker").selectpicker('refresh').removeAttr('disabled');
                            }
                        });

    }


     function getrate() {
        var memberid = $("#memberid").val();
        if (memberid != 0) {
            var _url = "@Url.Action("get_member_rate","users")"+"?id="+memberid;
            $.get(_url, function (data) {
                $("#_memberrate").val(data);
            });
        } else {
            $("#_memberrate").val("$1");
        }
    }
</script>

