﻿@{
    ViewBag.Title = "Pay";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var state = (Dictionary<int, string>)ViewBag.select;
    var permission = (List<int>)ViewBag.permissions;
    bool _isadmin = (bool)ViewBag.isadmin;
    int memberId = (int)ViewBag.memberId;
    int stateid = (int)ViewBag.stateid;
    int[] jobstatus = (int[])ViewBag.jobstatus;
    int paymentstatus = (int)ViewBag.paymentstatus;
    string city = (string)ViewBag.city;
}
<style>
    #amount:hover {
        background-color: #F1F9FF;
    }

    .table.table-hover tbody tr:hover > td > #amount {
        background-color: #F1F9FF;
    }

    .dropdown-toggle, .multiselect-clear-filter {
        height: 42px !important;
    }

    .dropdown-menu {
        min-width: 212px;
    }

    .btn .caret {
        /*margin-left: 0;
        float: right;
        vertical-align: middle;
        margin-top: 5%;*/
    }

    .btn-group, .dropdown-toggle {
        width: 100%;
        text-align: left;
    }

    .btn-default.active, .btn-default:active, .btn-default.active:focus, .btn-default:active:focus, .btn-default.active:hover, .btn-default:active:hover, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover, .open > .dropdown-toggle.btn-default.focus {
        background-color: white !Important;
        border-color: grey !important;
        color: #626262 !important;
        height: 42px;
    }
</style>
@if (!_isadmin)
{
    <style>
        .btn .caret {
            margin-top: 2% !important;
        }
    </style>
}
@model hrm.Models.attandanceadmin

<div class="p-10">
    @*<h2 class="page-title">
            All Leads

        </h2>*@

</div>
<div class="p-30 p-t-none p-b-none">
    @if (!string.IsNullOrEmpty(Model.error_text))
    {
        <div id="alert" class="alert alert-@Model.alertclass alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            @Model.error_text
        </div>
    }
    <div id="mdlupdate" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Update Pay</h4>
                </div>
                @using (Html.BeginForm("update_pay", "pay", FormMethod.Post, new { @id = "frmsendsms" }))
                {<div class="modal-body">
                        <div class="form-group">
                            <label>Pay:</label>
                            <input type="text" class="form-control ratetext" required="" id="Payname" name="Payname">
                            <input type="hidden" name="Payid" id="Payid" />
                        </div>
                    </div>
                    <div class="modal-footer">

                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Update</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-times-circle"></i> Close</button>
                    </div>
                }
            </div>
        </div>
    </div>

    <div id="mdlstatus" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Pay Status</h4>
                </div>
                @using (Html.BeginForm("update_pay", "pay", FormMethod.Post, new { @id = "frmsendsms" }))
                {<div class="modal-body">
                        <div class="form-group">

                            <select id="psid" data-live-search="true" name="psid" class="selectpicker form-control">
                                <option value="">Payment Status</option>
                                <option value="1">Pending</option>
                                <option value="2">Under review</option>
                                <option value="3">Approved</option>
                                <option value="4">Denied </option>
                                <option value="1002">Paid </option>
                            </select>
                            <input type="hidden" name="pid" id="pid" />
                        </div>
                    </div>
                    <div class="modal-footer">

                        <button type="button" onclick="updatestatus()" class="btn btn-primary"><i class="fa fa-save"></i> Update</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-times-circle"></i> Close</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel">
                <div class="panel-heading panel-heading-0">
                    <div class="col-md-6 col-sm-6">
                        <h3 class="panel-title">
                            Pay List
                        </h3>
                    </div>
                    <div class="col-md-6 col-sm-6 topbuttondiv">
                        @if (permission.Contains(47))
                        {
                            <a class="btn btn-success btn-sm pull-right m-l-10" href="@Url.Action("add", "pay")">
                                <i class="fa fa-plus"></i> Add Pay
                            </a>
                        }
                        @if (permission.Contains(1063) || permission.Contains(2061))
                        {
                            <a onclick="Download()" class="btn btn-success btn-sm pull-right" href="#">
                                <i class="fa fa-download"></i> Download
                            </a>
                        }
                    </div>
                </div>
                <div class="clearfix"></div>
                @if (permission.Contains(59))
                {
                    <div class="panel-body p-none">
                        @using (Html.BeginForm("index", "pay", FormMethod.Post, new { @id = "frmfilter" }))
                        {<div class="custom-col-md-12">
                                <table class="table table-hover filter_table_pay filter_table nowrap no-footer table-ultra-responsive-custome" >

                                    <tbody>
                                        <tr>
                                            @if (_isadmin)
                                            {
                                                <td>

                                                    <select class="selectpicker form-control" data-live-search="true" name="memberId" id="memberid">
                                                        <option value="">User</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="state_filter_id" data-live-search="true" name="stateid" class="selectpicker form-control">
                                                        <option value="">State</option>
                                                        @foreach (var item in state)
                                                        {
                                                            if (stateid == item.Key)
                                                            {
                                                                <option selected value="@item.Key">@item.Value</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@item.Key">@item.Value</option>

                                                            }

                                                        }
                                                    </select>
                                                </td>
                                                <td>
                                                    <select class="form-control" disabled name="cityId" id="city_filter_id" multiple>
                                                        <option value="">City</option>
                                                    </select>
                                                </td>
                                            }
                                            <td>
                                                <select name="jobstatus" multiple id="jobstatus" class="form-control">
                                                    <option @(jobstatus.Contains(1) ? "selected" : "") value="1">New</option>
                                                    <option @(jobstatus.Contains(2) ? "selected" : "") value="2">Dispatched</option>
                                                    <option @(jobstatus.Contains(3) ? "selected" : "") value="3">In progress</option>
                                                    <option @(jobstatus.Contains(4) ? "selected" : "") value="4">Completed</option>
                                                    <option @(jobstatus.Contains(5) ? "selected" : "") value="5">Approved</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select id="status_id" data-live-search="true" name="paymentstatus" class="selectpicker form-control">
                                                    <option @(paymentstatus == 0 ? "Selected" : "") value="">Pay Status</option>
                                                    <option @(paymentstatus == 1 ? "Selected" : "") value="1">Pending</option>
                                                    <option @(paymentstatus == 2 ? "Selected" : "") value="2">Under review</option>
                                                    <option @(paymentstatus == 3 ? "Selected" : "") value="3">Approved</option>
                                                    <option @(paymentstatus == 4 ? "Selected" : "") value="4">Denied </option>
                                                    <option @(paymentstatus == 1002 ? "Selected" : "") value="1002">Paid </option>
                                                </select>
                                                <input type="hidden" value="0" id="print" name="print" />
                                            </td>
                                            <td>
                                                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>


                                            </td>
                                            <td>

                                                <a href="@Url.Action("index","pay")" class="btn btn-default pull-right">Clear Search</a>

                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        }

                    </div>
                }
                <div class="clearfix"></div>
                <div class="panel-body p-none">
                    <div class="table-ultra-responsive">
                        <table class="table table-condensed nowrap data-table table-hover dataTable no-footer" id="table">
                            <thead>
                                <tr>
                                    <th>User Id</th>
                                    <th>Name</th>
                                    <th>Job Id</th>
                                    @if (_isadmin)
                                    {
                                        <th>Client</th>
                                    }
                                    <th>Rate</th>
                                    <th>Hours</th>
                                    <th>Pay</th>
                                    <th>Expense</th>
                                    <th>Job Status</th>
                                    <th>Payment Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model._attandance)
                                {
                                    <tr>
                                        <td><p>@item.MemberID</p></td>
                                        <td>

                                            @if (item.Paymentstatus == "Paid")
                                            {
                                                if (permission.Contains(3062))
                                                {
                                                    <a href="@Url.Action("edit", "pay", new { id = item.attandanceid })">@item.Name</a>
                                                }
                                                else
                                                {
                                                    <p>@item.Name</p>
                                                }
                                            }
                                            else
                                            {
                                                if (permission.Contains(48))
                                                {
                                                    <a href="@Url.Action("edit", "pay", new { id = item.attandanceid })">@item.Name</a>
                                                }
                                                else
                                                {
                                                    <p>@item.Name</p>
                                                }
                                            }

                                        </td>
                                        <td><p>@item.JobID</p></td>
                                        @if (_isadmin)
                                        {
                                            <td><p>@item.Client</p></td>
                                        }
                                        <td><p>@item.Memberrate</p></td>
                                        <td><p>@item.Hoursworked</p></td>
                                        <td>

                                            @if (item.Paymentstatus == "Paid")
                                            {
                                                if (permission.Contains(3062))
                                                {
                                                    <a class="btn btn-primary btn-xs" href="#" onclick="update('@(item.Pay.Contains("$") ? item.Pay : "$" + item.Pay)','@item.attandanceid')">@(item.Pay.Contains("$") ? item.Pay : "$" + item.Pay) <i class="fa fa-edit"></i></a>
                                                }
                                                else
                                                {
                                                    <p>@(item.Pay.Contains("$") ? item.Pay : "$" + item.Pay)</p>
                                                }
                                            }
                                            else
                                            {
                                                if (permission.Contains(50))
                                                {
                                                    <a class="btn btn-primary btn-xs" href="#" onclick="update('@(item.Pay.Contains("$") ? item.Pay : "$" + item.Pay)','@item.attandanceid')">@(item.Pay.Contains("$") ? item.Pay : "$" + item.Pay) <i class="fa fa-edit"></i></a>
                                                }
                                                else
                                                {
                                                    <p>@(item.Pay.Contains("$") ? item.Pay : "$" + item.Pay)</p>
                                                }
                                            }
                                        </td>
                                        <td><p>@item.Expense</p></td>
                                        <td><p>@item.Jobstatus</p></td>
                                        <td>
                                            @if (permission.Contains(50))
                                            {
                                                <span id="lbl_@item.attandanceid" data-pid="@item.attandanceid" data-psid="@item.paymentstatusid" class="pstatus @(item.Paymentstatus.ToLower().Replace("-", "").Replace(" ", "").Trim())">@item.Paymentstatus</span>
                                            }
                                            else
                                            {
                                                <span class="@(item.Paymentstatus.ToLower().Replace("-", ""))">@item.Paymentstatus</span>
                                            }
                                        </td>
                                        <td>

                                            <div class="btn-group pos-static">
                                                <a class="customedropdown" data-toggle="customedropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa fa-ellipsis-v fn21"></i>
                                                </a>
                                                <div class="dropdown-menu customdropdown-menu"  x-placement="bottom-start" style="top: 0px; transform: translate3d(-36px, 14px, 0px);will-change: transform;position: absolute;left: 0px;">
                                                    @if (item.Paymentstatus == "Paid")
                                                    {
                                                        if (permission.Contains(3062))
                                                        {
                                                            <a class="btn btn-success btn-xs" href="@Url.Action("edit", "pay", new { id = item.attandanceid })"><i class="fa fa-edit"></i> Edit</a>
                                                        }
                                                        else
                                                        {
                                                            <a class="btn btn-success btn-xs disabledbtn" data-msg="You are not authorized to edit paid Pay" href="#"><i class="fa fa-edit"></i> Edit</a>
                                                        }
                                                        if (permission.Contains(3062))
                                                        {
                                                            <a href="#" class="btn btn-danger btn-xs cdelete" id="@item.attandanceid"><i class="fa fa-trash"></i> Delete</a>
                                                        }
                                                        else
                                                        { <a href="#" class="btn btn-danger btn-xs disabledbtn" data-msg="You are not authorized to delete paid pay" id=""><i class="fa fa-trash"></i> Delete</a>

                                                        }

                                                    }
                                                    else
                                                    {
                                                        if (permission.Contains(48))
                                                        {
                                                            <a class="btn btn-success btn-xs" href="@Url.Action("edit", "pay", new { id = item.attandanceid })"><i class="fa fa-edit"></i> Edit</a>
                                                        }
                                                        else
                                                        {
                                                            <a class="btn btn-success btn-xs disabledbtn" data-msg="You are not authorized to edit" href="#"><i class="fa fa-edit"></i> Edit</a>
                                                        }
                                                        if (permission.Contains(49))
                                                        {
                                                            <a href="#" class="btn btn-danger btn-xs cdelete" id="@item.attandanceid"><i class="fa fa-trash"></i> Delete</a>
                                                        }
                                                        else
                                                        { <a href="#" class="btn btn-danger btn-xs disabledbtn" data-msg="You are not authorized to delete" id=""><i class="fa fa-trash"></i> Delete</a>

                                                        }

                                                    }
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>
<script>
    function Download() {
         $("#print").val('1');
        $("#frmfilter").submit();
        $("#print").val('0');
    }
    $(document).ready(function () {
          //$(".responsive").floatingScroll();
        $('#table').DataTable({ 'bSort': false, "pageLength": 25, "oLanguage": { "sSearch": "", 'sLengthMenu': "Show _MENU_" } });
         $("#jobstatus").multiselect({enableCaseInsensitiveFiltering:true,enableFiltering: true,buttonText: function(options, select) {
                return 'Job Status';
            },});
    /*For Delete Department*/
         $("#table").on("click", ".cdelete", function(e){
           e.preventDefault();
            var id = this.id;
            bootbox.confirm("Are you sure?", function (result) {
                if (result) {
                    var _url = "@Url.Action("index","pay")";
                    window.location.href = _url + "?id=" + id;
                }
            });
         });
         $("#table").on("click", ".pstatus", function(e){
             e.preventDefault();
             var pid = $(this).data("pid");
             var psid =$(this).data("psid");
             $('#mdlstatus').modal('show');
            $("#pid").val(pid);
            $("#psid").val(psid);
             $('#psid').selectpicker('refresh');
    });


        get_city("@city",'@stateid');
         function get_city(city_id,state_id) {
             var dataString = 'id=' + state_id+"&ismulti=1&city="+city_id;
                    $.ajax
                        ({
                            type: "POST",
                             url: '@Url.Action("get_all_city_by_stateid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $('#city_filter_id').multiselect('destroy');
                                  $("#city_filter_id").html('');
                                $("#city_filter_id").html(data).removeAttr('disabled');
                                  $("#city_filter_id").removeClass('selectpicker').multiselect({ enableCaseInsensitiveFiltering:true,enableFiltering: true,buttonText: function(options, select) {
                return 'City';
            },});

                            }
                        });

        }

      $("#state_filter_id").change(function () {
                var id = $(this).val();
            if (id != 0) {
               // $("#city_id").html('');
                    var dataString = 'id=' + id+"&ismulti=1";
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_city_by_stateid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $('#city_filter_id').multiselect('destroy');
                                  $("#city_filter_id").html('');
                                $("#city_filter_id").attr("multiple","multiple").html(data).removeClass('selectpicker').removeAttr('disabled').multiselect({ enableCaseInsensitiveFiltering:true,enableFiltering: true,buttonText: function(options, select) {
                return 'City';
            },});
     }
                        });
            } else {
                $('#city_filter_id').multiselect('destroy');
                $("#city_filter_id").html('');
                 $("#city_filter_id").removeClass('selectpicker').attr("multiple","multiple").multiselect({ enableCaseInsensitiveFiltering:true,enableFiltering: true,buttonText: function(options, select) {
                return 'City';
            },});
              //  $("#city_id").html('<option value="0">Select city</option>').attr('disabled',true);
                }
      });
        });
     function update( deptname,deptid) {
            $('#mdlupdate').modal('show');
            $("#Payname").val(deptname);
            $("#Payid").val(deptid);
    }

    function updatestatus() {
        var pid = $("#pid").val();
        var psid = $("#psid").val();
        var _url = "@Url.Action("update_pay_status","pay")";
        $.get(_url, { 'payid': pid, 'statusid': psid }, function () {
            var _txt = $("#psid").find("option:selected").text();
              $('#mdlstatus').modal('hide');
            $("#lbl_" + pid).html(_txt);
            var cls = $.trim(_txt.replace("-", "").replace(" ", ""));
            $("#lbl_" + pid).removeClass("pending").removeClass("underreview").removeClass("approved").removeClass("denied").removeClass("paid").addClass(cls.toLowerCase());
           $("#lbl_" + pid).attr('data-psid', psid);
        });
    }
</script>
@if (_isadmin)
{
    <script>
       $(document).ready(function () {
        get_Manager_selectbyid('@memberId','T');
        function get_Manager_selectbyid(memberid,type) {
                    var dataString = 'optvalue=Technician&memberid='+memberid+"&type="+type;
                    $.ajax
                        ({
                    type: "POST",
                            url: '@Url.Action("get_all_member","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#memberid").html(data).removeAttr('disabled').selectpicker('refresh');
                        }
                    });
             }
             });
    </script>
}