﻿.filter_table_job .bootstrap-select, .filter_table_job .dropdown-toggle {
    width: 171px !important;
    text-align: left;
}

.sopen {
    color: #34c38f;
}

.sclose {
    color: #f46a6a;
}

.centertext {
    text-align: center !important;
}

.offerbutton {
    width: 50%;
    border: 0px;
    text-align: right;
    padding-right: 4px;
    background-color: transparent;
    cursor: default !important;
}

.jobbutton {
    width: 50%;
    border: 0px;
    text-align: left;
    padding-left: 4px;
    background-color: transparent;
    cursor: default !important;
}
