﻿.col-lg-8 {
    padding-left: 0px !important;
}

.col-lg-4 {
    padding-right: 8px !important;
}

img#loading-image {
    position: absolute;
    top: 30%;
    left: 32%;
    z-index: 100;
}

.panel {
    margin-bottom: 0px !important;
}

.mt9 {
    margin-top: 9px !important;
}

.pac-container {
    z-index: 10000 !important;
}

.labelbox {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}

.closebox {
    float: right;
    font-size: 26px;
    font-weight: 500;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.6;
    border-radius: 29px;
    width: 44px;
    padding: 5px !important;
    border: 1px solid #fff !important;
}

.box-inner > div > .form-group > label > span {
    text-transform: none !important;
}


.box-inner {
    width: 400px;
    padding: 10px;
}

.box {
    float: right;
    overflow: hidden;
    background: #fff;
}

.mainbox {
    position: absolute;
    top: 62px;
    z-index: 99999999;
    right: 1px;
    box-shadow: 1px 11px 13px #708090;
    height: 93vh;
}

.closebox:hover {
    color: #626262 !important;
    background-color: #fff !important;
    border: 1px solid #eee !important;
}

div#loading {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.8;
    background-color: #fff;
    z-index: 99;
    text-align: center;
}

.form-grouppop .inner {
    height: 32vh;
}

#left_form {
    padding-top: 128px !important;
    padding-right: 32px;
    padding-left: 36px;
}

.feelable {
    margin-top: -1px;
    /* font-weight: 300!important; */
    margin-bottom: 30px;
    width: 100%;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: .5px;
}
/*.wrapper-bottom-sec {
            background: white !important;
        }*/

.pb-13 {
    margin-bottom: 20px !important;
}

.cuschk {
    cursor: pointer;
}

.lbwdth {
    width: 100%;
}




#pleftform {
    background: var(--blue);
    color: white;
    height: 607px;
}

h3.main_question {
    margin: 0 0 20px;
    padding: 0;
    font-weight: 400;
    font-size: 26px;
}

#left_form h4 a {
    color: white !important;
}

#divForm {
    height: 630px;
    width: 1000px;
}

#maindiv {
    background: white;
    height: 607px;
    padding: 58px;
}

.nav-tabs .active a {
    font-weight: 400;
}

.round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 17px;
    left: 1px;
    position: absolute;
    top: 5px;
    width: 17px;
}

.round {
    position: relative;
    padding-bottom: 17px;
    padding-top: 2px;
}



    .round label:after {
        border: 2px solid #fff;
        border-top: none;
        border-right: none;
        content: "";
        height: 6px;
        left: 4px;
        opacity: 0;
        position: absolute;
        top: 5px;
        transform: rotate(-45deg);
        width: 12px;
    }

.bcklabel {
    font-size: 14px !important;
    padding-top: 0px;
}

.hdr {
    background: #F7F8FA;
    color: black;
    margin-bottom: 10px;
    border: 1px solid rgba(230, 230, 230, 0.7);
}

.tab-content .p-20 {
    padding-left: 0px !important;
}

.round input[type="checkbox"] {
    visibility: hidden;
}

    .round input[type="checkbox"]:checked + label {
        background-color: var(--blue);
        border-color: var(--blue);
    }

.bck {
    background-color: var(--blue) !important;
    border-color: var(--blue) !important;
}

    .bck:after {
        border: 2px solid #fff !important;
        border-top: none !important;
        border-right: none !important;
        content: "" !important;
        height: 6px !important;
        left: 3px !important;
        opacity: 1 !important;
        position: absolute !important;
        top: 3px !important;
        transform: rotate(-45deg) !important;
        width: 10px !important;
    }

.round input[type="checkbox"]:checked + label:after {
    opacity: 1;
}



#amount:hover {
    background-color: #F1F9FF;
}

/*.panel-heading {
            padding-bottom: 12px !important;
        }*/

.table.table-hover tbody tr:hover > td > #amount {
    background-color: #F1F9FF;
}

.dropdown-toggle, .multiselect-clear-filter {
    height: 42px !important;
}

.dropdown-toggle, .btn-group {
    width: 100% !important;
    text-align: left !important;
}

.btnn {
    padding-top: 212px !important;
    padding-right: 38px !important;
}

#left_form h4 {
    font-size: 17px !important;
}

.dropdown-menu {
    min-width: 212px;
}

.f11 {
    font-weight: 500;
    font-size: 12px;
    letter-spacing: .5px;
    margin-bottom: 0px !important;
}

.headingtool {
    margin-bottom: 6px !important;
    margin-top: 10px;
}

.btn-group > .dropdown-toggle, .btn-group > .dropdown-toggle:hover {
    background-color: white !important;
    color: #443 !important;
}
/*.btn-default.active, .btn-default:active, .btn-default.active:focus, .btn-default:active:focus, .btn-default.active:hover, .btn-

    default:active:hover, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover, .open > .dropdown-toggle.btn-

    default.focus {
            background-color: white !Important;
            border-color: grey !important;
            color: #626262 !important;
            height: 42px;
        }*/
.tdupper {
    font-weight: 600 !important;
    font-size: 15px !important;
    background: #f7f8fa !important;
}

.btn-circle {
    padding: 0px;
    border-radius: 50px;
    padding-left: 7px;
    padding-right: 7px;
}

.mrgtop0 {
    margin-top: 0px;
}

.btmhr {
    border-bottom: 1px solid #eee;
}

.text-gray {
    color: gray !important
}

#termsForm {
    height: 424px;
    width: 881px;
    background: white !important;
    padding: 60px !important;
    padding-top: 57px !important;
    font-size: 23px;
}

    #termsForm a {
        font-weight: 300;
    }

.mr-60 {
    margin-bottom: 24px;
}

    .mr-60 > label {
        font-size: 15px;
        padding-top: 70px;
    }

input[type=checkbox] {
    margin: 18px 8px 0 !important;
    line-height: normal !important;
    height: 12px !important;
    width: 18px !important;
    /* margin-top: 20px !important; */
}

@media (min-width: 992px) {
    .dt {
        width: 10.333333% !important;
    }
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 200 !important;
}

.pnl1 {
    padding-bottom: 10px !important;
    background: #f5f5f5 !important;
    padding-top: 10px !important;
    margin-bottom: 11px !important;
    font-weight: 100 !important;
    font-size: 14px !important;
}

    .pnl1 .btn {
        background: transparent !important;
        border: 0px !important;
        line-height: 12px !important;
    }

.box-inner input[type=checkbox] {
    margin: 0px 8px 0 !important;
}

.mt16 {
    margin-top: 16px !important;
}

.reminders .form-control .dropdown-toggle, .reminders .btn-group .dropdown-toggle {
    width: 160px !important;
}



.btn-group .multiselect {
    padding-left: 10px !important;
    text-align: left;
    padding-bottom: 8px;
    padding-top: 10px;
}

.multiselect-container > li > a > label {
    padding: 10px 15px 18px 40px !important;
}

.multiselect .caret {
    right: 11px !important;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    font-weight: 500 !important;
}


.ml16 {
    margin-left: 16px !important;
}

.col-md-1 {
    margin-right: 75px !important;
}

.left-bar-open .col-md-1 {
    margin-right: 86px !important;
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
    right: 12px !important;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    color: #495057 !important;
}

.multiselect-container > li > a > label > input[type=checkbox] {
    margin-top: 3px !important;
    margin-right: 10px !important;
    margin-left: -27px !important;
    height: 11px !important;
}

.attchment .dropdown-menu {
    min-width: 159px !important;
}

.information .dropdown-menu {
    min-width: 159px !important;
}

.dinformation .multiselect-container {
    max-height: calc(92vh - 61vh) !important;
    overflow-y: auto !important;
    min-width: 159px !important;
}

.multiselect-container {
    max-height: calc(90vh - 33vh) !important;
    overflow-y: auto !important;
}

.type .dropdown-menu {
    min-width: 159px !important;
}

.box-inner .form-control .dropdown-menu, .box-inner .information .dropdown-menu, .box-inner .dinformation .multiselect-container, .box-inner .type .dropdown-menu, .box-inner .attchment .dropdown-menu {
    min-width: 100% !important;
}


.form-control .dropdown-menu li {
    margin-top: 12px !important;
    margin-bottom: 12px !important;
}

.form-control .dropdown-menu {
    min-width: 158px !important;
}

.box-inner .form-control .dropdown-toggle, .box-inner .btn-group .dropdown-toggle, .box-inner .btn-group {
    width: 100% !important;
}

.p-20 {
    padding-bottom: 0px !important;
}

#formInfo .form-control .dropdown-toggle, #formInfo .btn-group .dropdown-toggle {
    width: 100% !important;
}

#frmInfo .open {
    width: 100% !important;
}

.frmInfo .multiselect-container {
    max-height: calc(92vh - 61vh) !important;
    overflow-y: auto !important;
    min-width: 159px !important;
    width: 100% !important;
}

#task_joboffers .form-control .dropdown-toggle, #task_joboffers .btn-group .dropdown-toggle {
    width: 160px !important;
}

.round input[type=checkbox], input[type=radio] {
    margin: 4px 0 0 !important;
}

.p-13 {
    padding-bottom: 18px !important;
}

.box-inner .round input[type=checkbox], input[type=radio], .Confirmationbox input[type=checkbox], input[type=radio] {
    margin: 4px 4px 0 !important;
}
