﻿@media (min-width: 768px) {
    .modal-dialog {
        width: 1009px;
        margin: 30px auto;
    }
}

.dg {
    color: darkgray;
}

img#loading-image {
    position: absolute;
    top: 30%;
    left: 32%;
    z-index: 100;
}

@media (min-width: 768px) {
    .modal-dialogsml {
        width: 430px !important;
        margin: 30px auto;
    }
}

.panel {
    margin-bottom: 0px !important;
}

div#loading {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.8;
    background-color: #fff;
    z-index: 99;
    text-align: center;
}

.form-grouppop .inner {
    height: 32vh;
}

.pdr-10 {
    padding-right: 10px;
}

#left_form {
    padding-top: 128px !important;
    padding-right: 32px;
    padding-left: 36px;
}

.feelable {
    margin-top: -1px;
    /* font-weight: 300!important; */
    margin-bottom: 30px;
    width: 100%;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: .5px;
}
/*.wrapper-bottom-sec {
            background: white !important;
        }*/

.pb-13 {
    margin-bottom: 20px !important;
}

.cuschk {
    cursor: pointer;
}

.lbwdth {
    width: 100%;
}


.active a {
    font-weight: 700;
}


#pleftform {
    background: var(--blue);
    color: white;
    height: 607px;
}

h3.main_question {
    margin: 0 0 20px;
    padding: 0;
    font-weight: 400;
    font-size: 26px;
}

#left_form h4 a {
    color: white !important;
}

#divForm {
    height: 630px;
    width: 1000px;
}

#maindiv {
    background: white;
    height: 607px;
    padding: 58px;
}

.nav-tabs .active a {
    font-weight: 400;
}

.round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 17px;
    left: 1px;
    position: absolute;
    top: 5px;
    width: 17px;
}

.round {
    position: relative;
    padding-bottom: 17px;
}



    .round label:after {
        border: 2px solid #fff;
        border-top: none;
        border-right: none;
        content: "";
        height: 6px;
        left: 4px;
        opacity: 0;
        position: absolute;
        top: 5px;
        transform: rotate(-45deg);
        width: 12px;
    }

.bcklabel {
    font-size: 14px !important;
    padding-top: 0px;
}

.hdr {
    background: #F7F8FA;
    color: black;
    margin-bottom: 10px;
    border: 1px solid rgba(230, 230, 230, 0.7);
}

.tab-content .p-20 {
    padding-left: 0px !important;
}

.round input[type="checkbox"] {
    visibility: hidden;
}

    .round input[type="checkbox"]:checked + label {
        background-color: var(--blue);
        border-color: var(--blue);
    }

.bck {
    background-color: var(--blue) !important;
    border-color: var(--blue) !important;
}

    .bck:after {
        border: 2px solid #fff !important;
        border-top: none !important;
        border-right: none !important;
        content: "" !important;
        height: 6px !important;
        left: 3px !important;
        opacity: 1 !important;
        position: absolute !important;
        top: 3px !important;
        transform: rotate(-45deg) !important;
        width: 10px !important;
    }

.round input[type="checkbox"]:checked + label:after {
    opacity: 1;
}



#amount:hover {
    background-color: #F1F9FF;
}

/*.panel-heading {
            padding-bottom: 12px !important;
        }*/

.table.table-hover tbody tr:hover > td > #amount {
    background-color: #F1F9FF;
}

.dropdown-toggle, .multiselect-clear-filter {
    height: 42px !important;
}

.dropdown-toggle, .btn-group {
    width: 100% !important;
    text-align: left !important;
}

.customwidth {
    width: 34% !important;
    height: 35px !important;
}

    .customwidth .dropdown-toggle, .customwidth .multiselect-clear-filter {
        height: 36px !important;
    }

.btnn {
    padding-top: 212px !important;
    padding-right: 38px !important;
}

#left_form h4 {
    font-size: 17px !important;
}

.dropdown-menu {
    min-width: 212px;
}

.f11 {
    font-weight: 500;
    font-size: 12px;
    letter-spacing: .5px;
    margin-bottom: 0px !important;
}

.headingtool {
    margin-bottom: 6px !important;
    margin-top: 10px;
}

.btn-group > .dropdown-toggle, .btn-group > .dropdown-toggle:hover {
    background-color: white !important;
}
/*.btn-default.active, .btn-default:active, .btn-default.active:focus, .btn-default:active:focus, .btn-default.active:hover, .btn-

    default:active:hover, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover, .open > .dropdown-toggle.btn-

    default.focus {
            background-color: white !Important;
            border-color: grey !important;
            color: #626262 !important;
            height: 42px;
        }*/
.tdupper {
    font-weight: 600 !important;
    font-size: 15px !important;
    background: #f7f8fa !important;
}

.btn-circle {
    padding: 0px;
    border-radius: 50px;
    padding-left: 7px;
    padding-right: 7px;
}

.mrgtop0 {
    margin-top: 0px;
}

.btmhr {
    border-bottom: 1px solid #eee;
}

.text-gray {
    color: gray !important
}

#termsForm {
    height: 424px;
    width: 881px;
    background: white !important;
    padding: 60px !important;
    padding-top: 57px !important;
    font-size: 23px;
}

    #termsForm a {
        font-weight: 300;
    }

.mr-60 {
    margin-bottom: 24px;
}

    .mr-60 > label {
        font-size: 15px;
        padding-top: 70px;
    }

.customheading {
    padding-left: 9px !important;
    padding-right: 23px !important;
}

.customwidth {
    width: 24% !important;
    height: 35px !important;
}
    .customwidth .dropdown-menu {
        min-width: 244px !important;
    }

    .customwidth .dropdown-toggle, .customwidth .multiselect-clear-filter {
        height: 36px !important;
        padding-top: 6px !important;
    }

.brd0, .brd0 .multiselect {
    border: 0px !important;
}

.btn-group > .dropdown-toggle, .btn-group > .dropdown-toggle:hover {
    background-color: white !important;
    color: #626262 !important;
}
