﻿@charset "UTF-8";
/**
* Bootstrap 3 Look and Feel
* Based on Alertify Bootstrap theme.
* @author İsmail Demirbilek
* http://github.com/dbtek/alertify-bootstrap-3
*/
.alertify,
.alertify-show,
.alertify-log {
  -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */ }

.alertify-hide {
  -webkit-transition: all 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
          transition: all 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  /* easeInBack */ }

.alertify-log-hide {
  -webkit-transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
          transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  /* easeInBack */ }

.alertify-cover {
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;  
    filter: alpha(opacity=0);
    background-color: #949090 !important;
    opacity: 0.8 !important;
}

.alertify-cover-hidden {
  display: none; }

.alertify {
  position: fixed;
  z-index: 99999;
  top: 80px;
  left: 50%;
  width: 550px;
  margin-left: -275px;
  opacity: 1; }

.alertify-hidden {
  opacity: 0;
  display: none; }

/* overwrite display: none; for everything except IE6-8 */
:root * > .alertify-hidden {
  display: block;
  visibility: hidden; }

.alertify-logs {
  position: fixed;
  z-index: 5000;
  /*bottom: 10px;*/
  right: 10px;
  width: 300px; }

.alertify-logs-hidden {
  display: none; }

.alertify-log {
  display: block;
  margin-top: 10px;
  position: relative;
  right: -300px;
  opacity: 0; }

.alertify-log-show {
  right: 0;
  opacity: 1; }

.alertify-log-hide {
  -webkit-transform: translate(300px, 0);
      -ms-transform: translate(300px, 0);
          transform: translate(300px, 0);
  opacity: 0; }

.alertify-dialog {
  padding: 25px; }

.alertify-resetFocus {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.alertify-inner {
  text-align: center; }

.alertify-text {
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  font-size: 100%; }

.alertify-button,
.alertify-button:hover,
.alertify-button:active,
.alertify-button:visited {
  background: none;
  text-decoration: none;
  border: none;
  /* line-height and font-size for input button */
  line-height: 1.5;
  font-size: 100%;
  display: inline-block;
  cursor: pointer;
  margin-left: 5px; }

@media only screen and (max-width: 680px) {
  .alertify,
  .alertify-logs {
    width: 90%;
    box-sizing: border-box; }
  .alertify {
    left: 5%;
    margin: 0; } }

.alertify {
  background: #FFF;
  border: 1px solid #8E8E8E;
  /* browsers that don't support rgba */
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  /* Safari 4? Chrome 6? */
  /* Firefox 3.6 */
  background-clip: padding-box;
  /* Firefox 4, Safari 5, Opera 10, IE 9 */ }

.alertify-dialog {
  padding: 0; }

.alertify-inner {
  text-align: left;
  margin-top: 15px; }

.alertify-message {
  padding: 15px;
  margin: 0; }

.alertify-text-wrapper {
  padding: 0 15px; }

.alertify-text {
  color: #555;
  border-radius: 4px;
  padding: 8px;
  background-color: #FFF;
  border: 1px solid #CCC;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

.alertify-text:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); }

.alertify-buttons {
  margin: 0px 15px;
  padding: 14px 0px 15px;
  border-top: 1px solid #DDD;
  border-radius: 0 0 6px 6px;
  box-shadow: inset 0 1px 0 #FFF;
  text-align: right; }

.alertify-button,
.alertify-button:hover,
.alertify-button:focus,
.alertify-button:active {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

.alertify-button:focus {
  outline: none;
  box-shadow: 0 0 5px #2B72D5; }

.alertify-button:active {
  position: relative;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); }

.alertify-button-cancel,
.alertify-button-cancel:hover,
.alertify-button-cancel:focus,
.alertify-button-cancel:active {
    color: #fff;
    background-color: var(--blue);
    border-color: var(--blue);
}

    .alertify-button-cancel:hover,
    .alertify-button-cancel:focus,
    .alertify-button-cancel:active {
        color: #ffffff;
        background-color: var(--blue);
        border-color: var(--blue);
    }

.alertify-subscriptionalert .alertify-button-cancel:hover,
.alertify-subscriptionalert .alertify-button-cancel:focus,
.alertify-subscriptionalert .alertify-button-cancel:active,
.alertify-subscriptionalert .alertify-button-cancel,
.alertify-subscriptionalert .alertify-button-cancel:hover,
.alertify-subscriptionalert .alertify-button-cancel:focus,
.alertify-subscriptionalert .alertify-button-cancel:active {
    color: #ffffff;
    background-color: #34c38f !important;
    border-color: #fff !important;
}



.alertify-button-ok,
.alertify-button-ok:hover,
.alertify-button-ok:focus,
.alertify-button-ok:active {
    color: #fff;
    background-color: var(--blue);
    border-color: var(--blue);
}

    .alertify-button-ok:hover,
    .alertify-button-ok:focus,
    .alertify-button-ok:active {
        color: #ffffff;
        background-color: var(--blue);
        border-color: var(--blue);
    }

.alertify-subscriptionalert .alertify-button-ok,
.alertify-subscriptionalert .alertify-button-ok:hover,
.alertify-subscriptionalert .alertify-button-ok:focus,
.alertify-subscriptionalert .alertify-button-ok:active {
    color: #ffffff;
    background-color: #34c38f !important;
    border-color: #fff !important;
}


.alertify-subscriptionalert .alertify-button-ok:hover,
.alertify-subscriptionalert .alertify-button-ok:focus,
.alertify-subscriptionalert .alertify-button-ok:active {
    color: #ffffff;
    background-color: #34c38f !important;
    border-color: #fff !important;
}


.alertify-log {
    background: #3276b1;
    padding: 15px 14px 15px;
    border-radius: 4px;
    color: #D9EDF7;
    border: 1px solid #285e8e;
}

.alertify-log-error {
  color: #ecf0f1;
  background: #e74c3c;
  border: 1px solid #c0392b; }

.alertify-log-success {
  color: #ecf0f1;
  background: #27ae60;
  border: 1px solid #2ecc71; }

.alertify-header {
    color: #000;
    font-weight: 700;
    background: #fafafa;
    border-bottom: #eee 1px solid;
    border-radius: 8px 7px 0 0;
    /* margin: -24px; */
    margin-bottom: 0;
    padding: 15px;
}
.alertify-subscriptionalert, .alertify-subscriptionalert .alertify-header {
    background: #34c38f !important;
    color: #FFF !important;
}

