﻿.TopBox {
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid #f6f6f6;
    border-radius: .25rem;
    box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03);
}

.font-weight-medium {
    font-weight: 500;
}

.text-muted {
    color: #74788d !important;
}

.highcharts-menu-item {
   
    font-size: 13px !important;
}
    .highcharts-menu-item:hover {
        background: var(--blue) !important;
    }


.highcharts-contextmenu hr {
    margin-top: 13px !important;
    margin-bottom: 15px !important;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #495057;
}
.bg-primary {
    background-color: #556ee6 !important;
}
.avatar-sm {
    height: 5rem;
    width: 5rem;
}
.wrapper-bottom-sec {
    padding: 30px !important;
}
.col-sm-12 {
    padding-bottom: 30px !important;
}
.align-self-center {
    align-self: center !important;
}
.panel-heading {
    padding-right: 21px !important;
    padding-left: 21px !important;
    padding-bottom: 17px !important;
}
.panel-title {
    font-size: 18px !important;
    font-weight: 400 !important;
    text-transform: capitalize !important;
    color: #333333 !important;
}
.table thead tr th {
   
    text-transform: capitalize !important;
    
}
.table .thead th {
    color: #495057 !important;
    background-color: #f8f9fa !important;
    border-color: #eff2f7 !important;
}
.panel {
    margin-bottom: 0px !important;
}
.rounded-circle {
    border-radius: 50% !important;
}
.avatar-title {
    align-items: center;
    background-color: #556ee6;
    color: #fff;
    display: flex;
    font-weight: 500;
    height: 100%;
    justify-content: center;
    width: 100%;
    border-radius: 50% !important;
}
.font-size-24 {
    font-size: 24px !important;
}
.btn {
    background: var(--blue) !important;
    border: var(--blue) !important;
    text-transform: capitalize !important;
}