﻿
.alertify-logs {
    z-index: 999999999 !important;
}

.dropdown-menu {
    min-width: 218px !important;
}

.pos-static > .dropdown-menu {
    min-width: 106px !important;
}

.thumbnail {
    width: 200px;
}

.newhr {
    margin-top: 2px;
    margin-bottom: 2px;
}

.filter_table > tbody > tr > td, .filter_table > tbody > tr > th, .filter_table > tfoot > tr > td, .filter_table > tfoot > tr > th, .filter_table > thead > tr > td, .filter_table > thead > tr > th {
    padding: 5px !important;
}

.slimScrollBar {
    width: 12px !important;
}

.filter_table td .btn-default {
    padding: 9px 21px !important;
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
    right: 5px !important;
}

.multiselect .caret {
    right: 5px;
    position: absolute;
    top: 47%;
}

table.dataTable.table-condensed > thead > tr > th:first-child, table.dataTable.table-condensed > tbody > tr > td:first-child {
    padding-left: 20px;
}

.maincolorlayout {
    color: var(--blue) !important;
}

.layoutmainbgcolor {
    background-color: var(--blue) !important;
}

.layoutfnt300 {
    font-weight: 500 !important;
    font-size: 23px;
}

.overflwx {
    overflow-x: scroll !important;
}

.partnermenu {
    margin-right: 105px !important;
}

.fn15 {
    font-size: 15px !important;
}
#filter_div {
    margin-bottom: 13px !important;
}

.bd0 .filter-option-inner-inner {
    color: black;
}

.bd0, .bd0:focus {
    border: 0px !important;
    width: 113px !important;
    outline: 0 !important;
    margin-right: -5px !important;
}

    .bd0 .dropdown-toggle, .bd0 .dropdown-toggle:hover {
        width: 121px !important;
        border: 0px !important;
        padding-left: 1px !important;
        padding-right: 17px !important;
        padding-top: 11px !important;
        outline: 0 !important;
        box-shadow: none !important;
        background-color: white !important;
    }

    .bd0 .dropdown-menu {
        min-width: 125px !important;
    }

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0em !important;
}

.field-validation-error {
    color: red;
}

.newscroll {
    overflow: scroll;
    max-height: 660px;
    width: 99% !important;
    height: 670px;
}

    .newscroll .table th {
        position: sticky !important;
        top: 0 !important;
        z-index: 60;
        background: white !important;
        padding-top: 10px;
    }

.fnt14 {
    font-size: 14px !important;
}

.bootstrap-select:not(.open) .caret {
    border-top: 4px dashed !important;
    border-bottom: 0px dashed !important;
}

.detaillabel {
    color: #222 !important;
    font-size: 14px !important;
    font-weight: 400 !important;
}

.backdrop {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: black;
    opacity: 0.5;
    z-index: 99;
}

.projectmenu {
    margin-right: 99px !important;
}

.remindermenu {
    margin-right: 41px !important;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    color: #495057 !important;
    background-color: transparent !important;
}

.btn-group .multiselect {
    padding-left: 10px !important;
    text-align: left;
    padding-bottom: 8px;
    padding-top: 10px;
}

.multiselect-container > li > a > label {
    padding: 10px 15px 18px 40px !important;
}

    .multiselect-container > li > a > label > input[type=checkbox] {
        margin-top: 3px !important;
        margin-right: 10px !important;
        margin-left: -27px !important;
        height: 11px !important;
    }

.multiselect .caret {
    right: 12px !important;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    font-weight: 500 !important;
}

.wysihtml5-toolbar .dropdown .dropdown-toggle {
    height: 34px !important;
}

.form-control .dropdown-menu li {
    margin-top: 12px !important;
    margin-bottom: 12px !important;
}

.fullwidth .dropdown-menu {
    min-width: 100% !important;
}

.user-profile .dropdown-menu {
    min-width: 519px !important;
}

.notification {
    cursor: pointer;
}

.width100 .open {
    width: 100% !important;
}

.width100 .dropdown-menu {
    min-width: 100% !important;
}

.filter_table_user td .btn-default {
    padding: 9px 11px !important;
}

.companymenu {
    margin-right: 78px !important;
}

.settingmenu {
    margin-right: 100px !important;
}

.itcmnymeny {
    margin-right: 83px !important;
}

.doctypemenu {
    margin-right: 89px !important;
}

.remindermenu {
    margin-right: 90px !important;
}

.skillmenu {
    margin-right: 126px !important;
}

.toolsmenu {
    margin-right: 123px !important;
}

.rolesmenu {
    margin-right: 83px !important;
}

.customdropdown-menu a {
    text-align: left;
}