﻿body {
    margin: 0 !important;
    font-family: "Poppins",sans-serif !important;
    /*font-size: .8125rem !important;*/
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #495057 !important;
    text-align: left !important;
    background-color: #f8f8fb !important;
}
.text-muted, .text-muted:hover {
    color: #74788d !important
}
.pd-0 {
    padding-left: 0px !important;
}
.pd-r0 {
    padding-right: 0px !important;
}
.netpst {
    position: relative;
    top: -28px;
    left: 38px;
}
.pd-4 {
    padding-left: 4px !important;
}
.pd-11 {
    padding-left: 11px !important;
}
.pd-3 {
    padding-left: 11px !important;
}
.pd-8 {
    padding-left: 8px !important;
}
.btn {
    font-family: "Poppins",sans-serif !important;
}
.pd27head {
    padding-left: 27px;
}
.pd-12 {
    padding-left: 12px !important;
}
.pd-21 {
    padding-left: 21px !important;
}
.mr-15-btn {
    margin-left: -15px    !important;
}
.p-head-4 {
    padding: 4px !important;
}
@media only screen and (max-width: 768px) {
    .panel {
        margin-bottom:9px !important;
        margin-top: 0px !important;
    }
    .mr-15-btn {
        margin-left: 0px !important;
    }
    .panel-heading-0-new {
        padding: 20px !important;
    }
    .pd-8 {
        padding-left: 15px !important;
    }
    .pd-12 {
        padding-left: 8px !important;
    }
    .pd-21 {
        padding-left: 0px !important;
    }
}
@media (max-width: 768px) {
    .pd27head {
        padding-left: 24px;
    }
    .pd-3head {
        padding-left: 3px !important;
    }
}

    .ft-15 {
        font-size: 15px !important;
    }

  /*  .alert {
        text-transform: capitalize !important;
    }*/
.tooltip
{
    width:100%;
}

:root {
    --blue: #556ee6;
    --indigo: #564ab1;
    --purple: #6f42c1;
    --red: #f46a6a;
    --orange: #f1734f;
    --yellow: #f1b44c;
    --green: #34c38f;
    --teal: #050505;
    --cyan: #50a5f1;
    --white: #fff;
    --gray: #74788d;
    --graytext: #c8c1c1;
    --gray-dark: #343a40;
    --primary: #556ee6;
    --secondary: #74788d;
    --success: #34c38f;
    --info: #50a5f1;
    --warning: #f1b44c;
    --danger: #f46a6a;
    --light: #eff2f7;
    --dark: #343a40;
    --pink: #e83e8c;
    --btnblue: #556ee6;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Poppins",sans-serif;
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

.graytext {
  
}
    .usermenu {
        margin-right: 117px !important;
    }

    .jobmenu {
        margin-right: 122px !important;
    }

    .ft-19 {
        font-size: 19px !important;
    }

    .offermenu {
        margin-right: 113px !important;
    }

    .paymenu {
        margin-right: 122px !important;
    }

    .settingmenu {
        margin-right: 100px !important;
    }

    .mesgmenu {
        margin-right: 84px !important;
    }

    .clientmenu {
        margin-right: 116px !important;
    }

    .itcmnymeny {
        margin-right: 83px !important;
    }

    .skillmenu {
        margin-right: 126px !important;
    }

    .rolesmenu {
        margin-right: 83px !important;
    }

    .templatemenu {
        margin-right: 92px !important;
    }

    .tooltypemenu {
        margin-right: 87px !important;
    }

    .toolsmenu {
        margin-right: 123px !important;
    }

    .doctypemenu {
        margin-right: 89px !important;
    }

    .nav-bottom-sec {
        background: #2a3042 !important;
    }

    .sub > li > a > .menu-text {
        font-size: 12px !important;
    }

    .new-bar-open .left-navigation li a .menu-text {
        float: left !important;
    }

    .new-bar-open .left-navigation li a .menu-thumb {
        float: right !important;
    }

    .new-bar-open .left-navigation li a .arrow {
        display: none !important;
    }

    .close {
        font-size: 30px !important;
        font-weight: 300 !important;
        opacity: 2 !important;
    }

.fc-event, .fc-event:hover, .ui-widget .fc-event {
    margin-bottom: 8px !important;
}
a.fc-more {
    margin: 1px 3px;
    font-size: 16px !important;
}
.template-edit-pd {
    padding: 20px !important;
    padding-top: 5px !important;
    padding-left: 12px !important;
}
.text-blue {
    color: var(--blue) !important;
}
.template-add-pd {
    padding-left: 17px !important;
}