/*===================================
    RESET CSS
===================================*/

* {
    margin: 0px;
    padding: 0px;
}

body {
    -webkit-transition: padding 500ms cubic-bezier(0.05,0.74,0.27,0.99);
    transition: padding 500ms cubic-bezier(0.05,0.74,0.27,0.99);
    /*font-family: 'Roboto', sans-serif;
  
   color: #626262;
    line-height: 1.77;
    background-color: #f7f8fa;*/
}

    body.has-left-bar {
        padding-left: 70px;
    }

    body.left-bar-open {
        padding-left: 231px;
    }

html, body {
    width: 100%;
    height: 100%;
}

ul, ol {
    margin: 0px;
    padding: 0px;
}

li {
    line-height: 1.8;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
    margin: 0px;
    padding: 0px;
    font-weight: 300;
    margin-bottom: 20px;
}

h1, .h1, h2, .h2, h3, .h3 {
    line-height: 1.3;
}

p {
    margin: 0px;
    margin-bottom: 15px;
}

a, a:hover, a:focus, a:active,
button, button:hover, button:focus, button:active {
    text-decoration: none;
    outline: none;
}

a {
    color: #495057;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

table a {
    color: #495057 !important;
}

a:focus, a:hover {
    color: var(--info);
}

table p {
    margin: 0px;
}

.font-color-1 {
    color: #555;
}

/*================ Buttons =================*/
.btn {
    /*font-family: 'Roboto', sans-serif;*/
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.02em;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    margin-bottom: 0;
    border: 1px solid #f1f1f1;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    color: #626262;
    background-color: #ffffff;
    text-shadow: none;
    box-shadow: none;
    line-height: 21px;
    padding-left: 17px;
    padding-right: 17px;
    position: relative;
    outline: none !important;
    -webkit-transition: color 0.1s linear 0s, background-color 0.1s linear 0s, border-color 0.08s linear 0s !important;
    transition: color 0.1s linear 0s, background-color 0.1s linear 0s, border-color 0.08s linear 0s !important;
}

.btn-group.open .dropdown-toggle {
    outline: none !important;
    box-shadow: none !important;
}

.btn-rounded {
    border-radius: 50px;
}

.btn-icon {
    min-width: 115px;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
    box-shadow: none !important;
}

.btn:hover {
    background-color: #fcfcfc;
    border: 1px solid rgba(123, 123, 123, 0.15);
}


/*===== Default button ====*/

.btn-default, .btn-default:focus {
    color: #626262 !important;
    background-color: #FFFFFF !important;
    border-color: #EEE !important;
}

    .btn-default.hover,
    .btn-default:hover,
    .open > .dropdown-toggle.btn-default {
        background-color: #F7F8FA !important;
        border-color: #E7E7E7 !important;
        color: #626262 !important;
    }

        .btn-default.active,
        .btn-default:active,
        .btn-default.active:focus,
        .btn-default:active:focus,
        .btn-default.active:hover,
        .btn-default:active:hover,
        .open > .dropdown-toggle.btn-default:focus,
        .open > .dropdown-toggle.btn-default:hover,
        .open > .dropdown-toggle.btn-default.focus {
            background-color: #E7E7E7 !important;
            border-color: #D8D8D8 !important;
            color: #626262 !important;
        }


/*===== Primary button ====*/

.btn-primary, .btn-primary:focus {
    color: #ffffff !important;
    background-color: var(--blue) !important;
    border-color: var(--blue) !important;
}

.btn-purple, .btn-purple:focus {
    color: #ffffff !important;
    background-color: var(--purple) !important;
    border-color: var(--purple) !important;
}




.btn-primary.hover,
.btn-primary:hover,
.open > .dropdown-toggle.btn-primary {
    background-color: var(--info) !important;
    border-color: var(--info) !important;
    color: #ffffff !important;
}

    .btn-primary.active,
    .btn-primary:active,
    .btn-primary.active:focus,
    .btn-primary:active:focus,
    .btn-primary.active:hover,
    .btn-primary:active:hover,
    .open > .dropdown-toggle.btn-primary:focus,
    .open > .dropdown-toggle.btn-primary:hover,
    .open > .dropdown-toggle.btn-primary.focus {
        background-color: #673AB7 !important;
        border-color: #673AB7 !important;
        color: #ffffff !important;
    }


/*===== Complete button ====*/

.btn-complete, .btn-complete:focus {
    color: #ffffff !important;
    background-color: var(--info) !important;
    border-color: var(--info) !important;
}

    .btn-complete.hover,
    .btn-complete:hover,
    .open > .dropdown-toggle.btn-complete {
        background-color: var(--info) !important;
        border-color: var(--info) !important;
        color: #ffffff !important;
    }

        .btn-complete.active,
        .btn-complete:active,
        .btn-complete.active:focus,
        .btn-complete:active:focus,
        .btn-complete.active:hover,
        .btn-complete:active:hover,
        .open > .dropdown-toggle.btn-complete:focus,
        .open > .dropdown-toggle.btn-complete:hover,
        .open > .dropdown-toggle.btn-complete.focus {
            background-color: #00ACC1 !important;
            border-color: #00ACC1 !important;
            color: #ffffff !important;
        }



/*===== Success button ====*/

.btn-success, .btn-success:focus {
    color: #ffffff !important;
    background-color: var(--blue) !important;
    border-color: var(--blue) !important;
}

    .btn-success.hover,
    .btn-success:hover,
    .open > .dropdown-toggle.btn-success {
        background-color: var(--info) !important;
        border-color: var(--info) !important;
        color: #ffffff !important;
    }

        .btn-success.active,
        .btn-success:active,
        .btn-success.active:focus,
        .btn-success:active:focus,
        .btn-success.active:hover,
        .btn-success:active:hover,
        .open > .dropdown-toggle.btn-success:focus,
        .open > .dropdown-toggle.btn-success:hover,
        .open > .dropdown-toggle.btn-success.focus {
            background-color: var(--info) !important;
            border-color: var(--info) !important;
            color: #ffffff !important;
        }



/*===== Danger button ====*/

.btn-danger, .btn-danger:focus {
    color: #ffffff !important;
    background-color: #F95F5B !important;
    border-color: #F95F5B !important;
}

    .btn-danger.hover,
    .btn-danger:hover,
    .open > .dropdown-toggle.btn-danger {
        background-color: #FF7571 !important;
        border-color: #FF7571 !important;
        color: #ffffff !important;
    }

        .btn-danger.active,
        .btn-danger:active,
        .btn-danger.active:focus,
        .btn-danger:active:focus,
        .btn-danger.active:hover,
        .btn-danger:active:hover,
        .open > .dropdown-toggle.btn-danger:focus,
        .open > .dropdown-toggle.btn-danger:hover,
        .open > .dropdown-toggle.btn-danger.focus {
            background-color: #EC4945 !important;
            border-color: #EC4945 !important;
            color: #ffffff !important;
        }



/*===== Warning button ====*/

.btn-warning, .btn-warning:focus {
    color: #ffffff !important;
    background-color: #F5CD51 !important;
    border-color: #F5CD51 !important;
}

    .btn-warning.hover,
    .btn-warning:hover,
    .open .dropdown-toggle.btn-warning {
        background-color: #FADA74 !important;
        border-color: #FADA74 !important;
        color: #ffffff !important;
    }

    .btn-warning.active,
    .btn-warning:active,
    .btn-warning.active:focus,
    .btn-warning:active:focus,
    .btn-warning.active:hover,
    .btn-warning:active:hover,
    .open > .dropdown-toggle.btn-warning:focus,
    .open > .dropdown-toggle.btn-warning:hover,
    .open > .dropdown-toggle.btn-warning.focus {
        background-color: #E8C041 !important;
        border-color: #E8C041 !important;
        color: #ffffff !important;
    }

/*===== Info button ====*/

.btn-info, .btn-info:focus {
    color: #ffffff !important;
    background-color: #37434D !important;
    border-color: #37434D !important;
}

    .btn-info.hover,
    .btn-info:hover,
    .open .dropdown-toggle.btn-info {
        background-color: #545F6B !important;
        border-color: #545F6B !important;
        color: #ffffff !important;
    }

    .btn-info.active,
    .btn-info:active,
    .btn-info.active:focus,
    .btn-info:active:focus,
    .btn-info.active:hover,
    .btn-info:active:hover,
    .open > .dropdown-toggle.btn-info:focus,
    .open > .dropdown-toggle.btn-info:hover,
    .open > .dropdown-toggle.btn-info.focus {
        background-color: #292B42 !important;
        border-color: #292B42 !important;
        color: #ffffff !important;
    }



/*================ Button size ===============*/

.btn-lg, .btn-group-lg > .btn {
    padding-left: 28px;
    padding-right: 28px;
    line-height: 21px;
}

.btn-sm, .btn-group-sm > .btn {
    padding-left: 14px;
    padding-right: 14px;
    font-size: 12px;
    line-height: 18px;
}

.btn-xs, .btn-group-xs > .btn {
    padding: 5px 10px;
    font-size: 10.5px;
    line-height: 17px;
}

/*================ Button mn Group ===============*/


.btn-mini-group.dropdown-default .btn.dropdown-toggle {
    text-align: center;
    padding-right: 17px;
    min-width: inherit;
}

    .btn-mini-group.dropdown-default .btn.dropdown-toggle.btn-sm {
        padding-right: 14px;
    }

.btn-mini-group.dropdown-default .dropdown-menu {
    min-width: inherit;
    width: 100%;
    padding: 40px 0px 7px 0 !important;
}

    .btn-mini-group.dropdown-default .dropdown-menu li {
    }

        .btn-mini-group.dropdown-default .dropdown-menu li a {
            padding: 7px 13px;
            text-align: center;
            border-radius: 0px !important;
        }


.btn-mini-group.dropdown-default .btn-primary + .dropdown-menu:after,
.btn-mini-group.dropdown-default .btn-complete + .dropdown-menu:after,
.btn-mini-group.dropdown-default .btn-success + .dropdown-menu:after,
.btn-mini-group.dropdown-default .btn-warning + .dropdown-menu:after,
.btn-mini-group.dropdown-default .btn-danger + .dropdown-menu:after,
.btn-mini-group.dropdown-default .btn-info + .dropdown-menu:after {
    top: 0px;
    height: 43px;
    border-radius: 3px 3px 0px 0px;
}

.btn-mini-group.dropdown-default .btn-primary + .dropdown-menu:after {
    background-color: var(--blue);
}

.btn-mini-group.dropdown-default .btn-complete + .dropdown-menu:after {
    background-color: var(--info);
}

.btn-mini-group.dropdown-default .btn-success + .dropdown-menu:after {
    background-color: var(--blue);
}

.btn-mini-group.dropdown-default .btn-warning + .dropdown-menu:after {
    background-color: #F5CD51;
}

.btn-mini-group.dropdown-default .btn-danger + .dropdown-menu:after {
    background-color: #F95F5B;
}

.btn-mini-group.dropdown-default .btn-info + .dropdown-menu:after {
    background-color: #37434D;
}



/*================ Animated button ===============*/

.btn-animated {
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

    .btn-animated:before {
        position: absolute;
        height: 100%;
        width: 100%;
        font-size: 100%;
        line-height: 2.5;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    .btn-animated:after {
        content: '';
        position: absolute;
        z-index: -1;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    .btn-animated.fa:before {
        font-family: "FontAwesome";
    }

    .btn-animated.from-left:before {
        left: -100%;
        top: 0;
    }

    .btn-animated.from-top:before {
        left: 0;
        top: -100%;
    }

    .btn-animated.from-left:hover:before,
    .btn-animated.from-left.show-icon:before,
    .open .btn-animated.from-left:before,
    .btn-animated.from-left.active:before {
        left: 0;
    }

    .btn-animated.from-top:hover:before,
    .btn-animated.from-top.show-icon:before,
    .open .btn-animated.from-top:before,
    .btn-animated.from-top.active:before {
        top: 0;
    }

    .btn-animated > span {
        display: inline-block;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    .btn-animated.from-left:hover > span,
    .btn-animated.from-left.show-icon > span,
    .open .btn-animated.from-left > span,
    .btn-animated.from-left.active > span {
        -webkit-transform: translateX(200%);
        -ms-transform: translateX(200%);
        transform: translateX(200%);
    }

    .btn-animated.from-top:hover > span,
    .btn-animated.from-top.show-icon > span,
    .open .btn-animated.from-top > span,
    .btn-animated.from-top.active > span {
        -webkit-transform: translateY(300%);
        -ms-transform: translateY(300%);
        transform: translateY(300%);
    }






/*===================================
    Labels
===================================*/

/*.label {
    font-size: 82%;
    letter-spacing: .3px;
}*/

.label-primary {
    background-color: var(--blue);
}

.label-success {
    background-color: var(--blue);
}


/*===================================
    GLOBAL
===================================*/
.m-5 {
    margin: 5px !important;
}

.m-10 {
    margin: 10px !important;
}

.m-15 {
    margin: 15px !important;
}

.m-20 {
    margin: 20px !important;
}

.m-30 {
    margin: 30px !important;
}

.m-40 {
    margin: 40px !important;
}

.m-50 {
    margin: 50px !important;
}

.m-t-5 {
    margin-top: 5px !important;
}

.m-r-5 {
    margin-right: 5px !important;
}

.m-b-5 {
    margin-bottom: 5px !important;
}

.m-l-5 {
    margin-left: 5px !important;
}

.m-t-10 {
    margin-top: 10px !important;
}

.m-r-10 {
    margin-right: 10px !important;
}

.m-b-10 {
    margin-bottom: 10px !important;
}

.m-l-10 {
    margin-left: 10px !important;
}

.m-t-15 {
    margin-top: 15px !important;
}

.m-r-15 {
    margin-right: 15px !important;
}

.m-b-15 {
    margin-bottom: 15px !important;
}

.m-l-15 {
    margin-left: 15px !important;
}

.m-t-20 {
    margin-top: 20px !important;
}

.m-r-20 {
    margin-right: 20px !important;
}

.m-b-20 {
    margin-bottom: 20px !important;
}

.m-l-20 {
    margin-left: 20px !important;
}

.m-t-30 {
    margin-top: 30px !important;
}

.m-r-30 {
    margin-right: 30px !important;
}

.m-b-30 {
    margin-bottom: 30px !important;
}

.m-l-30 {
    margin-left: 30px !important;
}

.m-t-40 {
    margin-top: 40px !important;
}

.m-r-40 {
    margin-right: 40px !important;
}

.m-b-40 {
    margin-bottom: 40px !important;
}

.m-l-40 {
    margin-left: 40px !important;
}

.m-t-50 {
    margin-top: 50px !important;
}

.m-r-50 {
    margin-right: 50px !important;
}

.m-b-50 {
    margin-bottom: 50px !important;
}

.m-l-50 {
    margin-left: 50px !important;
}


.m-none {
    margin: 0px !important;
}

.m-t-none {
    margin-top: 0px !important;
}

.m-r-none {
    margin-right: 0px !important;
}

.m-b-none {
    margin-bottom: 0px !important;
}

.m-l-none {
    margin-left: 0px !important;
}

.p-2 {
    padding: 2px !important;
}

.p-5 {
    padding: 5px !important;
}

.p-10 {
    padding: 3px !important;
}

.p-15 {
    padding: 15px !important;
}

.p-20 {
    padding: 20px !important;
}

.p-30 {
    padding: 5px !important;
}

.p-50 {
    padding: 50px !important;
}

.p-70 {
    padding: 70px !important;
}

.p-100 {
    padding: 100px !important;
}

.p-t-2 {
    padding-top: 2px !important;
}

.p-r-2 {
    padding-right: 2px !important;
}

.p-b-2 {
    padding-bottom: 2px !important;
}

.p-l-2 {
    padding-left: 2px !important;
}

.p-t-5 {
    padding-top: 5px !important;
}

.p-r-5 {
    padding-right: 5px !important;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.p-l-5 {
    padding-left: 5px !important;
}

.p-t-10 {
    padding-top: 10px !important;
}

.p-r-10 {
    padding-right: 10px !important;
}

.p-b-10 {
    padding-bottom: 10px !important;
}

.p-l-10 {
    padding-left: 10px !important;
}

.p-t-15 {
    padding-top: 15px !important;
}

.p-r-15 {
    padding-right: 15px !important;
}

.p-b-15 {
    padding-bottom: 15px !important;
}

.p-l-15 {
    padding-left: 15px !important;
}

.p-t-20 {
    padding-top: 20px !important;
}

.p-r-20 {
    padding-right: 20px !important;
}

.p-b-20 {
    padding-bottom: 20px !important;
}

.p-l-20 {
    padding-left: 20px !important;
}

.p-t-30 {
    padding-top: 30px !important;
}

.p-r-30 {
    padding-right: 30px !important;
}

.p-b-30 {
    padding-bottom: 30px !important;
}

.p-l-30 {
    padding-left: 30px !important;
}

.p-t-50 {
    padding-top: 50px !important;
}

.p-r-50 {
    padding-right: 50px !important;
}

.p-b-50 {
    padding-bottom: 50px !important;
}

.p-l-50 {
    padding-left: 50px !important;
}

.p-t-70 {
    padding-top: 70px !important;
}

.p-r-70 {
    padding-right: 70px !important;
}

.p-b-70 {
    padding-bottom: 70px !important;
}

.p-l-70 {
    padding-left: 70px !important;
}

.p-t-100 {
    padding-top: 100px !important;
}

.p-r-100 {
    padding-right: 100px !important;
}

.p-b-100 {
    padding-bottom: 100px !important;
}

.p-l-100 {
    padding-left: 100px !important;
}


.p-none {
    padding: 0px !important;
}

.p-t-none {
    padding-top: 0px !important;
}

.p-r-none {
    padding-right: 0px !important;
}

.p-b-none {
    padding-bottom: 0px !important;
}

.p-l-none {
    padding-left: 0px !important;
}


.last-child-m-b-n > *:last-child {
    margin-bottom: 0px;
}

.bold {
    font-weight: 600 !important;
    letter-spacing: .5px;
}

.row.row-20 {
    margin-left: -20px;
    margin-right: -20px;
}

.v-align-middle {
    vertical-align: middle;
}

.inline-block {
    display: inline-block;
}

.bg-white {
    background-color: #fff !important;
}

.bg-parent {
    background-color: #f9f9f9 !important;
}

.bg-primary {
    background-color: var(--blue) !important;
}

.bg-complete {
    background-color: var(--info) !important;
}

.bg-complete-darker {
    background-color: #2B6A94 !important;
}

.bg-success {
    background-color: var(--blue) !important;
}

.bg-warning {
    background-color: #F5CD51 !important;
}

.bg-danger {
    background-color: #F95F5B !important;
}

.bg-info {
    background-color: #37434D !important;
}

.bg-hint {
    background-color: #919191 !important;
}

.text-white {
    color: #fff !important;
}

.text-primary {
    color: var(--blue) !important;
}

.text-complete {
    color: var(--info) !important;
}

.text-complete-darker {
    color: #2B6A94 !important;
}

.text-success {
    color: var(--blue) !important;
}

.text-warning {
    color: #F5CD51 !important;
}

.text-danger {
    color: var(--red) !important;
}

.text-info {
    color: #37434D !important;
}

.text-hint {
    color: #919191 !important;
}

.text-default {
    color: #626262 !important;
}

.text-underline {
    text-decoration: underline;
}



.z-shad-1 {
    border: 1px solid #EFEFEF;
    box-shadow: 0px 1px 2px #EFEFEF;
}


.cp-clickable {
    cursor: pointer;
}

.cp-linkable {
    position: relative;
}

    .cp-linkable .cp-area-link {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 3;
        text-indent: 99999999px;
        display: block;
        white-space: nowrap;
        opacity: 0;
    }


.relative {
    position: relative;
}

.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.jumbo-container {
    padding-top: 80px;
    padding-bottom: 80px;
}

.container-printable {
    width: 800px;
}

body.has-top-bar .wrapper {
    padding-top: 60px;
}

.wrapper-bottom-sec {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
}

.app-logo-inner {
    margin-bottom: 50px;
}

.page-header {
    margin-top: 28px;
}

.page-title {
    margin: 0px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
}

/*========Typography========*/

code {
    font-size: 11px;
    color: var(--info);
    background-color: #F7F8FA;
}

.text-sm {
    font-size: 11.5px;
}

.error-title-404 {
    font-size: 70px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 30px;
}


.font-45 {
    font-size: 45px !important;
}

.font-15 {
    font-size: 15px !important;
}



/*== Post Typography ==*/

.article-content {
}

    .article-content ul,
    .article-content ol {
        padding-left: 25px;
        margin-bottom: 25px;
        margin-top: 10px;
    }

        .article-content ul li,
        .article-content ol li {
            margin-bottom: 5px;
        }

            .article-content ul li:last-child,
            .article-content ol li:last-child {
                margin-bottom: 0px;
            }

    .article-content h1, h2, h3, h4, h5, h6 {
        font-weight: 500;
        margin-bottom: 10px;
    }

    .article-content p {
        margin-bottom: 25px;
    }

    .article-content *:last-child {
        margin-bottom: 0px;
    }


/*======= Bootstrap panel =====*/

.panel {
    border-radius: 0px;
    margin-bottom: 30px;
    border: none;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
    padding-top: 10px;
}

    .panel.panel-less {
        box-shadow: none !important;
    }

    .panel.panel-transparent {
        background-color: transparent;
        box-shadow: none;
    }

.panel-heading {
    padding: 7px;
    padding-left: 0px;
    padding-bottom: 36px;
}

.panel-heading-job {
    padding: 7px;
    padding-left: 0px;
    padding-bottom: 44px;
}

.panel-30 .panel-heading {
    padding: 30px;
}

.panel-14 .panel-heading {
    padding: 14px !important;
    padding-left: 11px !important;
}

.panel-title {
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    padding-left: 8px;
}

    .panel-title.panel-title-15 {
        font-size: 15px;
    }

.panel-body {
    padding: 20px;
    padding-top: 0px;
}


.panel-30 .panel-body {
    padding: 30px;
    padding-top: 0px;
}

.panel-other-acction {
    line-height: 2;
}



.panel.tab-content {
    border-top: none;
}

.panel.panel-hoverd {
    -webkit-transition: all .15s;
    transition: all .15s;
}

    .panel.panel-hoverd:hover {
        box-shadow: 0 4px 13px 0 rgba(0,0,0,0.2);
    }


.content-tight-panel {
    float: right;
    width: 330px;
    max-width: 100%;
    margin-left: 30px;
    margin-bottom: 30px;
}

    .content-tight-panel .panel {
        box-shadow: none;
        background: #f7f8fa;
        border: 1px solid rgba(0, 0, 0, 0.12);
    }

@media screen and (max-width: 767px) {

    .content-tight-panel {
        width: 100%;
        float: none;
        margin-left: 0px;
    }
}

/*===================================
    TAB
===================================*/

.nav-tabs {
    border-bottom: 1px solid #eaeaea;
}

    .nav-tabs > li > a {
        color: #888;
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        color: var(--info);
        border: 1px solid #eaeaea;
        border-bottom-color: transparent;
    }


/*===================================
    LEFT NAVBAR
===================================*/

.bar-setting {
    display: block;
    color: #2A2E36;
    width: 78px;
    height: 60px;
    font-size: 21px;
    text-align: center;
    line-height: 60px;
    float: right;
}

    .left-bar-open .bar-setting,
    .bar-setting:focus,
    .bar-setting:active,
    .bar-setting:hover {
        color: #292B42;
    }

.left-nav-bar .app-logo {
    padding-left: 30px;
}

.left-bar-open .left-nav-bar {
    width: 230px !important;
}

.left-nav-bar {
    position: fixed;
    left: 0px;
    padding-top: 60px;
    width: 260px;
    background-color: #292B42;
    background-color: #2B2D44;
    background-color: #2a2e36;
    height: 100%;
    margin-left: -190px;
    z-index: 999;
    box-shadow: 0px 0px 3px #ddd;
    -webkit-transition: all 500ms cubic-bezier(0.05,0.74,0.27,0.99);
    transition: all 500ms cubic-bezier(0.05,0.74,0.27,0.99);
}

.left-bar-open .left-nav-bar {
    margin-left: 0px;
}

/*.left-nav-bar:hover {
    margin-left: 0px;
}*/

.left-nav-bar .nav-top-sec {
    height: 60px;
    background-color: #FFFFFF;
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
}

.left-navigation {
    padding: 15px 0px;
}

.left-nav-bar .left-navigation ul,
.left-nav-bar .left-navigation li {
    margin: 0px;
}

.left-nav-bar .left-navigation li {
    position: relative;
    list-style: none;
    line-height: 1.43;
}

.left-nav-bar .left-navigation > li {
    margin-bottom: 1px;
}

.left-nav-bar .left-navigation li a:before,
.left-nav-bar .left-navigation li a:after {
    content: "";
    display: table;
}

.left-nav-bar .left-navigation li a:after {
    clear: both;
}

.left-nav-bar .left-navigation li a {
    display: block;
    color: #a6b0cf;
    padding: 20px 20px 11px 23px;
    font-size: 16px;
    font-weight: 400;
}

    .left-nav-bar .left-navigation li a .menu-text {
        float: right;
        margin-right: 70px;
        font-size: 14px;
    }

    .left-nav-bar .left-navigation li a .menu-thumb {
        float: left;
        font-size: 16px;
        /*text-align: center;*/
        margin-top: -2px;
        width: 30px;
    }

        .left-nav-bar .left-navigation li a .menu-thumb i {
            color: #6a7187;
        }

.left-nav-bar .left-navigation li:hover i,
.left-nav-bar .left-navigation li.sub-open > a > span > i {
    color: #FFFFFF !important;
}

.left-nav-bar .left-navigation > li:hover > a,
.left-nav-bar .left-navigation > li.active > a,
.left-nav-bar .left-navigation > li:hover > i,
.left-nav-bar .left-navigation > li.active > i,
.left-nav-bar .left-navigation > li.init-sub-open > a,
.left-nav-bar .left-navigation > li.sub-open > a {
    color: #FFFFFF !important;
    background-color: #2a3042 !important;
}


.left-nav-bar .left-navigation li.init-sub-open > a,
.left-nav-bar .left-navigation li.sub-open > a {
    color: #aeb2b7;
}

.left-nav-bar .left-navigation .sub li.active > a {
    color: #fff !important;
}

.left-nav-bar .left-navigation .sub li a .menu-thumb {
    font-size: 11px;
    text-transform: lowercase;
    margin-left: -17px;
    padding: 0px;
}

.left-nav-bar .left-navigation li a .arrow {
    display: none;
}

.left-bar-open .left-nav-bar .left-navigation li a .arrow,
.left-nav-bar:hover .left-navigation li a .arrow {
    display: block;
}

.left-nav-bar .left-navigation li a .arrow:after {
    /*display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    position: absolute;
    top: 22px;
    right: 70px;*/
}

.left-nav-bar .left-navigation li.sub-open a .arrow:after {
    -webkit-transform: rotate(-180deg);
}



.left-nav-bar .left-navigation li .sub {
    display: none;
    background-color: #2a3042 !important;
    padding: 0px 0px 15px;
}

.left-nav-bar .left-navigation li.init-sub-open .sub {
    display: block;
}

.left-nav-bar .left-navigation li .sub li > a {
    padding: 15px 20px 15px 40px;
    font-size: 13px;
}

.left-nav-bar .left-navigation li .sub li:hover > a {
    color: #fff;
}

.nav-bottom-sec {
    height: 100%;
    width: 100%;
}



/*===================================
    TOP BAR
===================================*/
.top-bar {
    background-color: #FFFFFF;
    min-height: 61px;
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    box-shadow: 0px 0px 3px #EFEFEF;
    z-index: 888;
    border-bottom: 1px solid #EFEFEF;
}

.app-logo {
    float: left;
    padding: 20px 30px;
}

.top-info-bar {
    float: left;
    padding-left: 15px;
    margin-left: 8px;
    margin-top: 15px;
}

    .top-info-bar .bar-notification {
        display: inline-block;
        margin-right: 5px;
    }

        .top-info-bar .bar-notification > a {
            color: #bbb;
            width: 30px;
            height: 30px;
            display: inline-block;
            text-align: center;
            line-height: 30px;
            position: relative;
            font-size: 15px;
        }

            .top-info-bar .open.bar-notification > a,
            .top-info-bar .bar-notification > a:hover {
                color: var(--info);
            }

            .top-info-bar .bar-notification > a:after {
                content: "";
                position: absolute;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: #E87979;
                top: 2px;
                right: 3px;
                display: none;
            }

        .top-info-bar .bar-notification.active > a:after {
            display: block;
        }

.top-bar > .navbar-right {
    margin: 0px;
    padding-right: 30px;
    float: right;
}

.user-profile {
    margin-top: 13px;
}

    .user-profile > a {
        display: block;
    }

    .user-profile .user-image {
        width: 36px;
        height: 36px;
        border-radius: 50%;
    }

    .user-profile .user-info {
        color: #222;
        margin-right: 5px;
    }

.user-info .user-role {
    color: var(--info);
}

.top-bar .navbar-nav {
    margin-top: 5px;
}

.top-bar .navbar-header {
    margin-top: 5px;
}

    .top-bar .navbar-header .navbar-brand {
        margin-right: 100px;
    }

.nav > li > a {
    color: #222;
}

    .nav > li > a:focus,
    .nav > li > a:hover,
    .nav > li.active > a {
        color: var(--info);
    }

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
    background: none;
}

.navbar-toggle {
    padding: 5px 11px 3px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    font-size: 14px;
}

@media screen and (max-width: 767px) {
    .navbar-brand {
    }
}



/*================== Reset Dropdown ================*/

.dropdown-menu {
    box-shadow: 0px 0px 5px rgba(98, 98, 98, 0.34);
    padding: 0px;
    border-radius: 3px;
    margin: 0px;
    min-width: 130px;
    margin-top: 10px;
    display: block;
    opacity: 0;
    z-index: 99999999999999999;
    backface-visibility: hidden;
    transform: scale(1,0);
    transform-origin: center top 0;
    -webkit-transition: all 170ms cubic-bezier(0.05,0.74,0.27,0.99) 0s;
    transition: all 170ms cubic-bezier(0.05,0.74,0.27,0.99) 0s;
    border: none;
}

.dropup .dropdown-menu {
    transform-origin: center bottom 0;
}

.dropdown-menu.arrow:before {
    position: absolute;
    top: -7px;
    left: 7px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(121, 121, 121, 0.3);
    content: '';
}

.dropdown-menu.arrow:after {
    position: absolute;
    top: -6px;
    left: 8px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}

.dropdown-menu.arrow.right-arrow:before {
    right: 15px;
    left: auto;
}

.dropdown-menu.arrow.right-arrow:after {
    right: 16px;
    left: auto;
}

.open > .dropdown-menu {
    opacity: 1;
    transform: scale(1,1);
}

.dropdown-menu li:first-child {
    margin-top: 12px;
}

.dropdown-menu li a {
    color: #495057;
    padding: 7px 20px;
    font-size: 13px;
}

    .dropdown-menu li a i {
        width: 22px;
    }

    .dropdown-menu li a:hover {
        background-color: transparent;
        color: #626262;
    }

.dropdown-menu li.bg-dark {
    background-color: #F7F8FA;
    margin-top: 7px;
}

    .dropdown-menu li.bg-dark a {
        padding: 12px 20px;
    }

        .dropdown-menu li.bg-dark a i {
            width: auto;
        }


.btn-mini-group .dropdown-menu li a i {
    width: auto;
}



/*========= Date Time Picker ========*/

.bootstrap-datetimepicker-widget {
    opacity: 1;
    z-index: 2;
    transform: scale(1,1);
}







/*========= Dropdown button group ========*/

.dropdown-default .btn.dropdown-toggle {
    text-align: left;
    padding-right: 27px;
    min-width: 130px;
}

.dropdown-default.open > .btn.dropdown-toggle {
    border-color: transparent !important;
    background: transparent !important;
    z-index: 10 !important;
}

.dropdown-default .dropdown-menu {
    margin-top: -40px;
    padding: 42px 0px 12px 0 !important;
    background-color: #fafafa;
}

.dropdown-default.dropup .dropdown-menu {
    margin-bottom: -40px;
    padding: 0 3px 52px 0 !important;
    transform-origin: center bottom 0;
    background-color: #fafafa;
}

.dropdown-default .dropdown-menu li a,
.dropdown-default .dropdown-menu li a:focus {
    color: #626262;
}

    .dropdown-default .dropdown-menu li a:hover,
    .dropdown-default .dropdown-menu li a:active {
        color: #000;
    }

.dropdown-default.open > .btn.dropdown-toggle {
    border-color: transparent !important;
    background: transparent !important;
    z-index: 666 !important;
    box-shadow: none;
}

.dropdown-default.dropup .dropdown-menu:after {
    bottom: 43px;
    top: auto !important;
}

.dropdown-default .dropdown-menu:after {
    content: "";
    position: absolute;
    height: 1px;
    left: 0;
    top: 42px;
    background: #e6e6e6;
    width: 100%;
}

.dropdown-default .btn.dropdown-toggle .caret {
    position: absolute;
   /* right: 15px;*/
    top: 50%;
    margin-top: -2px;
}



/*============= Bar Notification menus =============*/

.bar-notification .dropdown-menu {
    width: 220px;
}

    .bar-notification .dropdown-menu li {
        border-bottom: 1px solid #F7F8FA;
    }

        .bar-notification .dropdown-menu li a {
            display: block;
            overflow: hidden;
            padding: 10px 15px;
            font-size: 13px;
            color: #626262;
        }

            .bar-notification .dropdown-menu li a:hover {
                background-color: #F7F8FA;
            }

        .bar-notification .dropdown-menu li:first-child {
            margin-top: 8px;
        }

        .bar-notification .dropdown-menu li.title {
            padding: 10px 15px;
            font-size: 12px;
        }

        .bar-notification .dropdown-menu li.footer {
            border: none;
            text-align: center;
        }

            .bar-notification .dropdown-menu li.footer a {
                background-color: transparent !important;
                font-size: 11px;
            }

                .bar-notification .dropdown-menu li.footer a:hover {
                    color: var(--info);
                }



.user-dropdown li .user-thumb {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
}

.user-dropdown li .user-name {
    display: inline-block;
    vertical-align: middle;
}



.bar-notification .message-dropdown {
    width: 350px;
}

.message-dropdown li .name {
    color: var(--info);
}

    .message-dropdown li .name span {
        float: right;
        color: #CCCCCC;
        font-size: 11px;
    }

.message-dropdown li .message {
    overflow: hidden;
}



/*============== Notification & Alert =============*/

.alert {
    border-width: 0px;
    font-style: 13px;
}

    .alert.bordered {
        border-width: 1px;
    }

.alert-success {
    color: white;
    background-color: #34c38f;
    border-color: #34c38f;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #F5F1DA;
    border-color: #EDE7C1;
}

.field-validation-error > span {
    color: red;
}

.capitalize {
    text-transform: capitalize;
}

.m-r-8 {
    margin-right: 8px;
}

.alertify-logs {
    right: 30px;
    top: 15px;
}

.filter_table {
    width: auto !important;
}

.topbuttondiv > .btn {
    text-transform: capitalize;
}

 

.m-b-0 {
    margin-bottom: 0px !important;
}

.table-ultra-responsive {
    padding: 2px;
}

.filter_table_pay .dropdown-toggle, .filter_table_pay .bootstrap-select {
    width: 180px !important;
    text-align: left;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .panel-heading-0 {
        padding: 6px !important;
        padding-left: 0px !important;
        padding-bottom: 0px !important;
    }

    .formpanel-heading {
        padding: 7px !important;
        padding-left: 7px !important;
        padding-bottom: 3px !important;
        padding-right: 15px !important;
    }

    .m-b-0 {
        margin-bottom: 20px !important;
    }

    .dataTables_length, .dataTables_filter, .dataTables_info, .dataTables_paginate {
        padding: 0px 7px !important;
    }

    .dataTables_length, .dataTables_filter {
        text-align: left !important;
    }

    .textcaret {
        left: unset !important;
        right: 17px !important;
        top: 28px !important;
        z-index: 99999;
    }

    .filter_table, .filter_table .dateRangePicker, .filter_table .dropdown-toggle, .filter_table .bootstrap-select, .filter_table .btn-group, .filter_table .btn {
        width: 100% !important;
    }

    .p-none {
        padding-bottom: 10px !important;
    }

    .topbuttondiv {
        /*padding-left: 11px;
        padding-right: 5px;*/
        padding-bottom: 41px;
    }

        .topbuttondiv > .btn {
            width: 100%;
            margin: 0px !important;
            margin-top: 5px !important;
        }
}


.filter_table tbody tr td:last-child {
    width: 100% !important;
}

.alertify-top .alertify-logs {
    top: 75px;
    bottom: auto;
}

.alertify-log {
    text-shadow: none !important;
    font-size: 13px !important;
    font-weight: 600 !important;
    color: #fff;
    border-width: 0px;
    margin-top: 15px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 6px 0 rgba(0, 0, 0, 0.12);
}

.alertify-border .alertify-log {
    border-width: 1px;
}

.alertify-top .alertify-log {
    margin: 0px;
    margin-bottom: 15px;
}

.alertify-log-success {
    background-color: var(--blue);
}

.alertify-log-error {
    background-color: var(--red);
}

.alertify-log-info {
    background-color: var(--info);
}

.alertify-log-warning {
    background-color: var(--orange);
}


.alertify-log * {
    vertical-align: middle;
}

.alertify-log i {
    font-size: 18px;
    margin-right: 5px;
}





/*================= Tooltip ================*/


.tooltip-inner {
    padding: 4px 8px;
    color: #FFFFFF;
    background-color: #2B2D44;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #2B2D44;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #2B2D44;
}

.tooltip.left .tooltip-arrow {
    border-left-color: #2B2D44;
}

.tooltip.right .tooltip-arrow {
    border-right-color: #2B2D44;
}


/*=============== Form ==============*/

.form-some-up {
    margin-top: -8px;
}

.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid rgba(0,0,0,.07);
    -webkit-appearance: none;
    color: #443;
    outline: none !important;
    height: 42px;
    line-height: normal;
    font-size: 13px;
    font-weight: 400;
    vertical-align: middle;
    min-height: 42px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all .2s linear 0s;
    transition: all .2s linear 0s;
}

    .form-control:disabled {
        background: #f8f8f8;
        color: rgba(90,90,90,.23);
    }

    .form-control:focus {
        border-color: #D2D2D2;
    }

.form-group {
    margin-bottom: 15px;
}

.form-group-default {
    position: relative;
}

.form-group label:not(.error) {
    font-weight: 500;
    font-size: 13px;
    letter-spacing: .5px;
    text-transform: capitalize;
    -webkit-transition: color .2s linear 0s;
    transition: color .2s linear 0s;
}

.form-group label.notcapital {
    text-transform: none !important;
}

.form-group-default label {
    position: absolute;
    margin: 0;
    width: 100%;
    padding: 8px 13px 0px;
    color: #626262;
}

.form-group-default.filled label,
.form-group-default.focused label,
.form-group-default.disabled label {
    color: #bbb;
}

.form-group-default .form-control {
    background: #fff;
    border: 1px solid #E8E9F0;
    padding: 36px 13px 17px;
}


    .form-group-default .form-control:focus {
        background: #f8f8f8;
    }


.form-group-default.required:after {
    color: #f35958;
    content: "*";
    /*font-family: arial;*/
    font-size: 20px;
    position: absolute;
    right: 12px;
    top: 4px;
}

.form-inline .form-control.input-sm {
    padding: 5px 10px;
    height: 34px;
    min-height: 34px;
    line-height: 1.7;
}


input[readonly] {
    cursor: not-allowed;
}


.input-group-file input[type=text] {
    min-height: 35px;
    height: 35px;
}

.label-link {
    display: inline-block;
    font-weight: 500;
    font-size: 11px;
    letter-spacing: .5px;
    text-transform: uppercase;
}

    .label-link a {
    }

@media only screen and (min-width: 768px) {
    form .row {
        margin-left: -7px;
        margin-right: -7px;
    }

        form .row [class*=col-] {
            padding-left: 7px;
            padding-right: 7px;
        }
}

.help {
    font-size: 11px;
    color: #999;
}






/*================= Checkbox ================*/
.coder-checkbox {
    display: inline-block;
    position: relative;
    min-width: 17px;
    min-height: 17px;
    padding-left: 17px;
    vertical-align: middle;
}

    .coder-checkbox input[type=checkbox] {
        opacity: 0;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        margin: 0px !important;
        z-index: 2;
        cursor: pointer;
    }

    .coder-checkbox .co-check-ui {
        position: absolute;
        width: 16px;
        height: 16px;
        border: 1px solid #CCC;
        border-radius: 3px;
        top: 0px;
        left: 0px;
        text-align: center;
        line-height: 15px;
        font-size: 10px;
        z-index: 1;
        cursor: pointer;
    }



    .coder-checkbox input[type=checkbox]:checked + .co-check-ui:after {
        opacity: 1;
        transform: scale(1);
    }

    .coder-checkbox label {
        margin: 0px;
        line-height: 1.6;
        font-weight: 500;
        display: block;
        margin-left: 8px;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: .5px;
    }


    .coder-checkbox input[type=checkbox]:disabled {
        cursor: not-allowed;
    }

        .coder-checkbox input[type=checkbox]:disabled + .co-check-ui:after {
            color: #bbb;
        }

        .coder-checkbox input[type=checkbox]:disabled + .co-check-ui + label {
            color: #bbb;
        }



/*================= Radio ================*/
.coder-radiobox {
    display: inline-block;
    position: relative;
    min-width: 17px;
    min-height: 17px;
    padding-left: 17px;
    vertical-align: middle;
}

    .coder-radiobox input[type=radio] {
        opacity: 0;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        margin: 0px !important;
        z-index: 2;
        cursor: pointer;
    }

    .coder-radiobox .co-radio-ui {
        position: absolute;
        width: 16px;
        height: 16px;
        border: 1px solid #CCC;
        border-radius: 50%;
        top: 0px;
        left: 0px;
        text-align: center;
        line-height: 15px;
        font-size: 8px;
        z-index: 1;
        cursor: pointer;
    }

        .coder-radiobox .co-radio-ui:after {
            content: "\f111";
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            opacity: 0;
            transform: scale(0);
            transition: all .15s ease;
        }

    .coder-radiobox input[type=radio]:checked + .co-radio-ui:after {
        opacity: 1;
        transform: scale(1);
    }

    .coder-radiobox label {
        margin: 0px;
        line-height: 1.6;
        font-weight: 500;
        display: block;
        margin-left: 8px;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: .5px;
    }


    .coder-radiobox input[type=radio]:disabled {
        cursor: not-allowed;
    }

        .coder-radiobox input[type=radio]:disabled + .co-radio-ui:after {
            color: #bbb;
        }

        .coder-radiobox input[type=radio]:disabled + .co-radio-ui + label {
            color: #bbb;
        }




/*td.p-l-100 .col-xs-6 {
    border-top: 1px solid;
    border-right: 1px solid;
    border-color: #a0a0a0;
    padding-top: 5px;
    padding-bottom: 5px;
}

td.p-l-100 .col-xs-6:first-child {
    border-left: 1px solid #a0a0a0;
    background: #eaeaea;
}

td.p-l-100 .row:last-child .col-xs-6 {
    border-bottom: 1px solid #a0a0a0;
}*/
/*================= Table ================*/

.table {
    margin-top: 5px;
}

    .table:last-child {
        margin-bottom: 0px;
    }

    .table thead tr th {
        outline: none;
        padding: 0px 20px 12px;
        vertical-align: bottom;
        border-bottom: 1px solid #ddd;
        text-transform: capitalize;
        font-weight: 500;
        font-size: 13px;
    }

    .table tbody tr td {
        background: #fff;
        border-bottom: 1px solid rgba(230, 230, 230, 0.7);
        border-top: 0px;
        padding: 20px;
        font-size: 13.5px;
    }

    .table.table-hover tbody tr:hover > td {
        background-color: #F1F9FF;
    }

    .table tbody tr:last-child td {
        border-bottom-width: 0px;
    }

    .table.table-borderless tbody tr td {
        border-top: 0;
    }

    .table.table-condensed tbody tr td {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .table.table-condensed.table-condensed-slim tbody tr td {
        padding: 8px;
    }

    .table.table-borderless > tbody > tr > td {
        border-bottom: 0px;
    }

    .table.table-striped tbody tr td {
        background: #FAFAFA !important;
    }

    .table.table-striped tbody tr:nth-child(2n+1) td {
        background: #fff !important;
    }

    .table.table-no-border thead tr th {
        border: none;
    }

    .table.table-no-border tbody tr td {
        border: none;
    }

    .table.table-no-border.table-condensed tbody tr td {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .table.table-no-border.table-condensed thead tr th {
        padding: 0px 14px 12px;
    }


    .table.table-bordered tr th,
    .table.table-bordered tr td {
        border: 1px solid;
    }


    .table.table-transparent tr th,
    .table.table-transparent tr td {
        background: transparent;
    }


table.table tr td strong.help-split {
    display: inline-block;
    width: 30%;
}

.table tbody tr td.td-highlighted {
    background-color: #c4e5fd !important;
}

.custom-col-md-12 {
    padding-left: 15px;
    padding-right: 15px;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
    .custom-col-md-12 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    /* Force table to not be like tables anymore */
    table.table-ultra-responsive-custome,
    table.table-ultra-responsive-custome thead,
    table.table-ultra-responsive-custome tbody,
    table.table-ultra-responsive-custome th,
    table.table-ultra-responsive-custome td,
    table.table-ultra-responsive-custome tr {
        display: block;
    }


        table.table-ultra-responsive-custome tr {
            border-bottom: 1px solid #ccc;
        }

        table.table-ultra-responsive-custome td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 120px !important;
        }


    /*
    Label the data
    */

}


.table tr td.td-b-none {
    border: none !important;
}

.table tr td.td-b-l-none {
    border-left: none !important;
}

.table tr td.td-b-r-none {
    border-right: none !important;
}

.table tr td.td-b-t-none {
    border-top: none !important;
}

.table tr td.td-b-b-none {
    border-bottom: none !important;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
    .panel-title {
        padding-left: 0px !important;
    }

    .left-bar-open .left-nav-bar {
        width: 100% !important;
    }

    .table-ultra-responsive {
        padding: 0px !important;
        overflow-x: scroll;
    }

    .table thead tr th, .table tbody tr td {
        padding: 0px 9px 12px !important;
    }
}



/*================ Data Table ================*/

.table.dataTable tbody tr:last-child td {
    border-bottom-width: 1px;
}

.dataTables_length,
.dataTables_filter,
.dataTables_info,
.dataTables_paginate {
    padding: 0px 20px;
}


table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    bottom: auto;
    top: 0px;
    right: 20px;
}

table.dataTable.table-condensed .sorting:after, table.dataTable.table-condensed .sorting_asc:after, table.dataTable.table-condensed .sorting_desc:after {
    top: 0px;
    right: 20px;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 12px 0 10px;
    white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: 10px;
    white-space: nowrap;
}




/*=============== Bootstrap Select ==================*/

.bs-actionsbox, .bs-donebutton, .bs-searchbox {
    padding: 8px 8px 6px;
}

    .bs-searchbox .form-control {
        margin-bottom: 0;
        width: 100%;
        padding: 8px 12px !important;
        min-height: 34px !important;
        height: 34px !important;
    }

.bootstrap-select .dropdown-toggle,
.bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
    box-shadow: none !important;
    font-weight: 400;
}

.bootstrap-select.btn-group .dropdown-menu li a .glyphicon,
.bootstrap-select.btn-group .dropdown-toggle .filter-option i {
    width: 18px;
    font-size: 12px;
    margin-top: -2px;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option i {
    font-size: 13px;
    margin-left: 1px;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    width: inherit;
    margin-top: 10px;
    font-size: 11px;
}

.bootstrap-select.btn-group .dropdown-menu li a span {
    vertical-align: middle;
}

.bootstrap-select.form-control > .dropdown-toggle {
    margin: 0px;
    padding: 9px 12px;
}

.form-group.form-group-default .bootstrap-select.btn-group.form-control {
    background-color: transparent;
    border: none;
    padding: 0px;
    height: auto;
}

.form-group.form-group-default .bootstrap-select.form-control > .dropdown-toggle {
    padding: 28px 13px 6px 13px;
    background-color: transparent;
    float: none;
}

.form-group.form-group-default .bootstrap-select.btn-group.form-control .dropdown-toggle .caret {
    position: absolute;
    top: 50%;
 /*   right: 12px;*/
    margin-top: 10px;
    vertical-align: middle;
}





/*================ Modal =================*/

@media (min-width: 768px) {
    .modal-dialog {
        margin-top: 100px;
    }

    .modal-content {
        border-radius: 0px;
        border: none;
        -webkit-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
        box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
    }
}


.modal-header {
    padding: 20px 30px;
}

.modal-title {
    text-transform: capitalize;
    color: #2A2E36;
    font-weight: 500;
    font-size: 15px;
}

.modal-body {
    padding: 30px;
}

.modal-footer {
    padding: 20px 30px;
}




/*============= Sweet Alert ============*/

.sweet-overlay {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.sweet-alert {
    padding: 27px 30px 30px !important;
    border-radius: 0px !important;
    -webkit-box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

    .sweet-alert h2 {
        font-weight: 500 !important;
    }

    .sweet-alert p:last-child {
        margin-bottom: 0px;
    }

    .sweet-alert .icon {
        margin: 3px auto 20px;
    }

.lead {
    font-size: 14px !important;
    font-weight: 400 !important;
}

.text-muted {
    color: #626262 !important;
}






/*=============== pagination ===============*/

.pagination {
}

    .pagination > li {
        display: inline-block;
    }

        .pagination > li > a,
        .pagination > li > span {
            padding: 0px 7px;
            opacity: .4;
            color: #2A2E36 !important;
            background-color: transparent !important;
            border: none;
            font-size: 12px;
            font-weight: 500;
        }

        .pagination > li.next {
        }

            .pagination > li.next > a,
            .pagination > li.next > span {
            }

        .pagination > li.previous {
        }

            .pagination > li.previous > a,
            .pagination > li.previous > span {
            }

        .pagination > li.active {
        }

            .pagination > li.active > a,
            .pagination > li.active > span {
                opacity: 1;
            }

        .pagination > li.disabled {
        }

            .pagination > li.disabled > a,
            .pagination > li.disabled > span {
            }




        .pagination > li > a:hover,
        .pagination > li > span:hover {
            opacity: .8;
        }

        .pagination > li.disabled > a:hover,
        .pagination > li.disabled > span:hover {
            opacity: .4;
        }

        .pagination > li.active > a:hover,
        .pagination > li.active > span:hover {
            opacity: 1;
        }



/*============== Info List ==============*/

.info-list {
    margin: 0px !important;
    padding: 0px !important;
}

    .info-list li {
        list-style: none;
        position: relative;
        padding-left: 120px;
        margin-bottom: 12px;
    }

        .info-list li .info-list-title {
            font-weight: 500;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 105px;
            color: #555;
        }

            .info-list li .info-list-title:after {
                content: ":";
                position: absolute;
                right: 0px;
            }

    /*=== Schema 1 ===*/
    .info-list.title-space-md li {
        padding-left: 160px;
    }

        .info-list.title-space-md li .info-list-title {
            width: 145px;
        }

    /*=== Schema 2 ===*/
    .info-list.title-space-lg li {
        padding-left: 220px;
    }

        .info-list.title-space-lg li .info-list-title {
            width: 200px;
        }

/*============== Social buttons ==============*/

.social-module {
}

    .social-module li {
        margin: 0px;
        padding: 0px;
        display: inline-block;
        margin-right: 5px;
    }

        .social-module li a {
            display: block;
            width: 34px;
            height: 34px;
            border-radius: 50%;
            background-color: #444;
            color: #FFF;
            text-align: center;
            line-height: 36px;
            font-size: 14px;
        }

            .social-module li a:hover {
                background-color: var(--info);
            }

    .social-module.social-module-sm li a {
        width: 28px;
        height: 28px;
        line-height: 30px;
        font-size: 12px;
    }

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    opacity: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    background: none repeat scroll 0 0 transparent;
    cursor: inherit;
    display: block;
}

/*========== Printable Versin ============*/

.printable-page * {
    color: #000 !important;
    border-color: #000 !important;
}

.printable-page .table tr td,
.printable-page .table tr th {
    border-color: #000 !important;
}

@media only screen and (max-width: 760px), (max-device-width: 1024px) and (min-device-width: 768px) {
    .responsivecustom {
        width: 100% !important;
        padding-top: 10px !important;
    }

    .custompadding-table {
        padding: 3px !important;
    }
}

.p-l-6 {
    padding-left: 6px;
}

@media (min-width: 768px) {
    .modal-dialog-custom {
        width: 365px;
        margin: 30px auto;
    }
}

.fc td, .fc th {
    border: 1px solid #eff2f7;
}

.fc-day-grid-event .fc-content {
    color: white !important;
}

.fc-event, .fc-event-dot {
    background-color: var(--blue) !important;
}

.fc-day-grid-event {
    padding: 8px 10px !important;
}

.fc-time-grid-event .fc-content {
    color: white !important;
    padding: 11px !important;
}

.fc-event {
    border: 1px solid var(--blue) !important;
}

.multiselect-container > li > a > label {
    padding: 9px 19px 6px 27px !important;
}

    .multiselect-container > li > a > label > input[type=checkbox] {
        width: 15px !important;
        height: 14px !important;
        border: 1px solid #CCC !important;
        border-radius: 3px !important;
        background: white !important;
    }

.multiselect-container {
    max-height: calc(90vh - 65vh) !important;
    overflow-y: auto !important;
}

/*========== Payment status ============*/

.pending, .pending:hover, .new, .new:hover {
    background-color: transparent !important;
    border-color: transparent !important;
    color: var(--warning) !important;
    font-weight: 500;
}

.followup, .followup:hover, .offered, .offered:hover {
    background-color: transparent !important;
    border-color: transparent !important;
    color: var(--gray-dark) !important;
    font-weight: 500;
}

.underreview, .underreview:hover, .inprogress, .inprogress:hover, .contacted, .contacted:hover {
    background-color: transparent !important;
    border-color: transparent !important;
    color: var(--teal) !important;
    font-weight: 500;
}

.approved, .approved:hover, .interviewed, .interviewed:hover, .accepted, .accepted:hover {
    background-color: transparent !important;
    border-color: transparent !important;
    color: var(--blue) !important;
    font-weight: 500;
}

.denied, .denied:hover, .dispatched, .dispatched:hover, .declined, .declined:hover, .cancelled, .cancelled:hover {
    background-color: transparent !important;
    border-color: transparent !important;
    color: var(--red) !important;
    font-weight: 500;
}

.paid, .paid:hover, .completed, .completed:hover, .converted, .converted:hover, .standby, .standby:hover {
    background-color: transparent !important;
    border-color: transparent !important;
    color: var(--green) !important;
    font-weight: 500;
}


.memberstatus-active, .memberstatus-active:hover {
    background-color: transparent !important;
    border-color: transparent !important;
    color: var(--info);
    font-weight: 500;
}

.memberstatus-inactive, .memberstatus-inactive:hover {
    background-color: transparent !important;
    border-color: transparent !important;
    color: var(--red);
    font-weight: 500;
}


.customdropdown-menu {
    min-width: 90px !important;
    padding: 5px !important;
    max-width: 90px !important;
}

a {
    cursor: pointer !important;
}

.customdropdown-menu .btn {
    margin-bottom: 5px;
    clear: both;
    float: left !important;
    width: 100% !important;
}

.fn21 {
    font-size: 21px;
}

span.inside {
    position: absolute;
    font-size: 24px;
    color: white;
    left: 2px;
    top: 1px;
}

span.outside {
    font-size: 28px;
    color: #e4e4e4;
}

.commentbadge {
    position: relative;
    color: #626262;
    left: -21px;
    top: -10px;
}

.unread {
    color: #52BCD7;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.centertext {
    text-align: center;
}

img.wdth100
{
    width:100px !important;
}
.daterangepicker.opensleft:after, .daterangepicker.opensleft:before {
    left: 308px !important;
    right: unset !important;
}

.bcklabel {
    font-size: 14px !important;
    padding-top: 0;
}

.round input[type="checkbox"] {
    visibility: hidden;
}

/*.filter_table_job .bootstrap-select .dropdown-toggle .caret, .FilterSelect .dropdown-toggle .caret {
    position: absolute;
    top: 50%;
    right: 55px;
    margin-top: -2px;
    vertical-align: middle;
}*/
 

.round input[type="checkbox"]:checked + label {
    background-color: var(--blue);
    border-color: var(--blue);
}

.bck {
    background-color: var(--blue) !important;
    border-color: var(--blue) !important;
}
.multiselect-selected-text{padding-right:3px!important;}
.customheight .multiselect .caret {
    margin-top: 4px !important
}

.bck:after {
    border: 2px solid #fff !important;
    border-top: none !important;
    border-right: none !important;
    content: "" !important;
    height: 6px !important;
    left: 4px !important;
    opacity: 1 !important;
    position: absolute !important;
    top: 4px !important;
    transform: rotate(-45deg) !important;
    width: 10px !important;
}

.round input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

.pd0 {
    padding-bottom: 0 !important;
}

.cuschk {
    cursor: pointer;
}

.round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 20px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 20px;
}

.round {
    position: relative;
    padding-bottom: 17px;
}

    .round label:after {
        border: 2px solid #fff;
        border-top: none;
        border-right: none;
        content: "";
        height: 6px;
        left: 3px;
        opacity: 0;
        position: absolute;
        top: 3px;
        transform: rotate(-45deg);
        width: 12px;
    }

#amount:hover {
    background-color: #F1F9FF;
}

.customheight .multiselect-container {
    max-height: 79vh !important;
    overflow-y: auto !important;
    margin-top: 10px !important;
}

.table.table-hover tbody tr:hover > td > #amount {
    background-color: #F1F9FF;
}

.customheight .dropdown-toggle, .customheight .multiselect-clear-filter {
    height: 42px !important;
}

.customheight .dropdown-menu {
    min-width: 212px;
}

.filter_table_pay .dropdown-toggle, .filter_table_pay .bootstrap-select {
    width: auto !important;
}

.FilterSelect + .dropdown-toggle, .FilterSelect + .dropdown-toggle:hover, .FilterSelect + .btn-group > .multiselect, .FilterSelect + .btn-group > .multiselect:hover {
    border: 0px !important;
    font-weight: 500 !important;
}

.table.table-hover tbody tr:hover > td {
    background-color: white !important;
}

.btn-group, .customheight .dropdown-toggle {
    width: 100%;
    text-align: left;
    padding-left: 0px !important;
}

.customheight .btn-default.active, .customheight .btn-default:active, .customheight .btn-default.active:focus, .customheight .btn-default:active:focus, .customheight .btn-default.active:hover, .customheight .btn-default:active:hover, .customheight .open > .dropdown-toggle.btn-default:focus, .customheight .open > .dropdown-toggle.btn-default:hover, .customheight .open > .dropdown-toggle.btn-default.focus {
    background-color: white !Important;
    border-color: grey !important;
    color: #626262 !important;
    height: 42px;
}

.mt9 {
    margin-top: 9px !important;
}

.pac-container {
    z-index: 10000 !important;
}

.labelbox {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}

.closebox {
    float: right;
    font-size: 26px;
    font-weight: 500;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.6;
    border-radius: 29px;
    width: 44px;
    padding: 5px !important;
    border: 1px solid #fff !important;
}

.box-inner > div > .form-group > label > span {
    text-transform: none !important;
}

.box-inner {
    width: 500px !important;
    padding: 10px;
}

.box {
    float: right;
    overflow: hidden;
    background: #fff;
}

.closebox:hover {
    color: #626262 !important;
    background-color: #fff !important;
    border: 1px solid #eee !important;
}


.filter_table td .dropdown-toggle {
    padding-left: 0px !important;
}

.sendoffer {
    padding-left: 25px !important;
}

.filter_table_job .dropdown-toggle, .filter_table_job .bootstrap-select {
    width: auto !important;
}

.opensleft {
    z-index: 99999999 !important;
}


.MoreFilter {
    width: 100% !important;
    font-weight: 500;
    padding-top: 16px !important;
}
.pdtb-1520 {
    padding-top: 15px;
    padding-bottom: 20px;
}
#filterpopup {
    font-size: 10px !important;
    color: var(--green) !important;
    background-color: transparent !important;
    padding: 5px 7px !important;
}
.customheight .box-inner {
    width: 460px !important; 
}
.mainbox {
    position: absolute;
    top: 62px;
    z-index: 99;
    right: 1px;
    box-shadow: 1px 11px 13px #708090;
    height: 93vh;
}
.custom-cal-button {
    font-size: 12px !important;
    font-weight: 400 !important;
    height: 33px !important;
}