﻿#amount:hover {
    background-color: #F1F9FF;
}

.table.table-hover tbody tr:hover > td > #amount {
    background-color: #F1F9FF;
}

.dropdown-toggle, .multiselect-clear-filter {
    height: 42px !important;
}

.dropdown-menu {
    min-width: 212px;
}
.filter_table_job .bootstrap-select, .filter_table_job .dropdown-toggle {
    width: 170px !important;
    text-align: left;
}
.btn-default.active, .btn-default:active, .btn-default.active:focus, .btn-default:active:focus, .btn-default.active:hover, .btn-default:active:hover, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover, .open > .dropdown-toggle.btn-default.focus {
    background-color: white !Important;
    border-color: grey !important;
    color: #626262 !important;
    height: 42px;
}

.datePicker, .timePicker {
    position: relative;
    z-index: 1000;
}

.daterangepicker.opensleft:after, .daterangepicker.opensleft:before {
    left: 264px !important;
    right: unset !important;
}

.labelbox {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}

.techdiv {
    overflow-y: scroll;
    max-height: 250px;
    height: 250px;
}

.inputbox {
    width: 24px;
    height: 17px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 870px !important;
        margin: 30px auto;
    } 
}

@media (max-width: 767px) {
    #Filter_Location {
        margin-right: 45px !important;
    }
}
