﻿@font-face {
    font-family: '3c1a440c0da3e6484b92282953ca3555';
    src: url('@font-face/3c1a440c0da3e6484b92282953ca3555.eot') format('embedded-opentype'), url('@font-face/3c1a440c0da3e6484b92282953ca3555.svg') format('svg'), url('@font-face/3c1a440c0da3e6484b92282953ca3555.ttf') format ('truetype'), url('@font-face/3c1a440c0da3e6484b92282953ca3555.woff') format('woff'), url('@font-face/3c1a440c0da3e6484b92282953ca3555.woff2') format('woff2'), url('Aharoni Bold V3.ttf') format('truetype');
}

.LogoText {
    font-family: "Aharoni Bold V3" !important;
    text-transform: lowercase !important;
    font-size: 1.80rem !important;
}

.home-small-title {
    font-size: 25px !important;
    text-transform: lowercase !important;
    letter-spacing: 7px !important;
}
