﻿
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 1;
}

@model hrm.Models.noticemodel
<style>
   .timeline {
    list-style: none;
    padding: 3px 0 1px;
    position: relative;
    padding-right: 13px;
    padding-left: 34px;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        /*left: 50%;*/
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

       .timeline > li > .timeline-panel {
    width: 92%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 6px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
           color: #fff;
    width: 24px;
    height: 25px;
    line-height: 27px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 28px;
    left: 3%;
    margin-left: -25px;
   
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

@@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}
.msgbox{
        overflow-y: scroll;
    height: 86vh;
    max-height: 100%;
    overflow-x: hidden;
}
.msgbox_custom
{   overflow-y: scroll;
  
    max-height: 100%;
    overflow-x: hidden;
    height: 77vh !important;
}
</style>

<div class="p-10">
    @*<h2 class="page-title">Job List</h2>*@
</div>
<div class="p-30 p-t-none p-b-none">
    @if (!string.IsNullOrEmpty(Model.error_text))
    {
        <span id="alert" style="display:none;" data-class="@Model.alertclass" data-text="@Model.error_text"></span>
    }

<div class="row">
    <div class="@(Model._list.Count > 0?"col-lg-8":"col-lg-12")">
        <div class="panel ">
            <div class="panel-heading" style="padding-left:20px;">
                <h3 class="panel-title">
                    important message

                </h3>
            </div>
            <div class="panel-body p-none msgbox_custom">

                @if (Model._list.Count > 0)
                {
                    <div class="col-sm-12 ">
                        <h2 class="capitalize">
                            @Model.titile

                    </h2>
                </div>
                <div class="col-sm-12">
                    @Html.Raw(Model.descripion)
                </div>
            }
            else
            {
                <div class="col-sm-12 ">
                    <h4 class="capitalize">
                        No Message to display

                    </h4>
                </div>
            }

            </div>

        </div>
    </div>
    @if (Model._list.Count > 0)
    {
        <div class="col-lg-4">
            <div class="panel">
                <div class="panel-body p-none msgbox">
                    <div class="row">
                        <div class="col-sm-12">
                            @foreach (var item in Model._list)
                            {
                                <ul class="timeline">
                                    <li class="timeline-inverted">
                                        <div class="timeline-badge"><i class="fa fa-check-circle" style="color:@(Model.id==item.id?"var(--blue)":"gray")"></i></div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4 class="timeline-title"><a href="@Url.Action("index","home",new { id=item.id})">
    @(item.titile.Length > 30 ? item.titile.Substring(0, 28) + "..." : item.titile)
</a>
                                                </h4>
                                                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> @item.PublishedDate</small></p>
                                            </div>

                                        </div>
                                    </li>
                                </ul>
                            }
                        </div>
                    </div>
                </div>
            </div>

        </div>
    }
        <!-- Modal -->

        <div class="modal fade" id="edit-task" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="myModalLabel">View Notice</h4>
                    </div>
                    @using (Html.BeginForm("update_o", "notce__b", FormMethod.Get, new { @class = "form-some-up", @id = "frmsendsms" }))
                    {

                        <div class="modal-body">

                            <div class="form-group">
                                <label>NOTICE</label>
                                <input type="text" id="titleupdate" class="form-control" disabled="" value="">
                            </div>
                            <div class="form-group">
                                <label>PUBLISHED DATE :</label>
                                <input type="text" id="noticeid" class="form-control" disabled="" value="">
                            </div>

                            <div class="form-group">
                                <label>DESCRIPTION</label>
                                <p id="statusidupdate"></p>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                        </div>
                    }
                </div>
            </div>
        </div>

    </div>

</div>
<script>
    $(document).ready(function () {
        $('.data-table').DataTable({
            "bSort": false
        });
    });

    function Viewnotice( title, description, publishdate) {
        $('#edit-task').modal('show');
        $("#titleupdate").val(title);
        $("#noticeid").val(publishdate);
     $("#statusidupdate").html(description);
    }

</script>