﻿@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model hrm.Models.dashboardmodal
<link media="all" type="text/css" href="@Url.Content("~/Content/dashboard/style.min.css")" rel="stylesheet" />
<div class="row">
    <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
        <div class="TopBox">
            <div class="text-white p-15 clearfix">
                <div class="pull-left">
                    <p class="text-muted font-weight-medium">Total Revenue</p>
                    <h4 class="mb-0">@Model.monthreveneue</h4>
                </div>
                <div class="pull-right">
                    <div class="mini-stat-icon avatar-sm rounded-circle bg-primary align-self-center"><span class="avatar-title"><i class="fas fa-dollar-sign font-size-24"></i></span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
        <div class="TopBox">
            <div class="text-white p-15 clearfix">
                <div class="pull-left">
                    <p class="text-muted font-weight-medium">Total Payout</p>
                    <h4 class="mb-0">@Model.monthuypay</h4>
                </div>
                <div class="pull-right">
                    <div class="mini-stat-icon avatar-sm rounded-circle bg-primary align-self-center"><span class="avatar-title"><i class="fas fa-money-check-alt font-size-24"></i></span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
        <div class="TopBox">
            <div class="text-white p-15 clearfix">
                <div class="pull-left">
                    <p class="text-muted font-weight-medium">Monthly Jobs</p>
                    <h4 class="mb-0">@Model.jobs</h4>
                </div>
                <div class="pull-right">
                    <div class="mini-stat-icon avatar-sm rounded-circle bg-primary align-self-center"><span class="avatar-title"><i class="fa fa-suitcase font-size-24"></i></span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
        <div class="TopBox">
            <div class="text-white p-15 clearfix">
                <div class="pull-left">
                    <p class="text-muted font-weight-medium">Monthly Offers</p>
                    <h4 class="mb-0">@Model.leads</h4>
                </div>
                <div class="pull-right">
                    <div class="mini-stat-icon avatar-sm rounded-circle bg-primary align-self-center"><span class="avatar-title"><i class="fas fa-hand-holding-usd font-size-24"></i></span></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">
        <div class="panel TopBox">
            <div class="panel-body p-none">
                <div id="supportTickets" class="chartdiv" data-highcharts-chart="0"><div id="highcharts-az6wd31-0" class="highcharts-container " style="display:none;position: relative; overflow: hidden; width: 600px; height: 400px; text-align: left; line-height: normal; z-index: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><svg version="1.1" class="highcharts-root" style="font-family:&quot;Lucida Grande&quot;, &quot;Lucida Sans Unicode&quot;, Arial, Helvetica, sans-serif;font-size:12px;" xmlns="http://www.w3.org/2000/svg" width="600" height="400" viewBox="0 0 600 400"><desc>Created with Highcharts 5.0.11</desc><defs><clippath id="highcharts-az6wd31-1"><rect x="0" y="0" width="580" height="375" fill="none"></rect></clippath></defs><rect fill="#ffffff" class="highcharts-background" x="0" y="0" width="600" height="400" rx="0" ry="0"></rect><rect fill="none" class="highcharts-plot-background" x="10" y="10" width="580" height="375"></rect><rect fill="none" class="highcharts-plot-border" x="10" y="10" width="580" height="375"></rect><g class="highcharts-series-group"><g class="highcharts-series highcharts-series-0 highcharts-pie-series highcharts-color-undefined highcharts-tracker" transform="translate(10,10) scale(1 1)" style="cursor:pointer;"><path fill="#7cb5ec" d="M 289.9657829017792 10.000003484553048 A 168 168 0 0 1 451.6417324800288 223.7815500049398 L 290 178 A 0 0 0 0 0 290 178 Z" transform="translate(0,0)" stroke="#ffffff" stroke-width="1" stroke-linejoin="round" class="highcharts-point highcharts-color-0"></path><path fill="#434348" d="M 451.5958701167946 223.94316881970644 A 168 168 0 0 1 201.7301536769257 320.9420659921384 L 290 178 A 0 0 0 0 0 290 178 Z" transform="translate(0,0)" stroke="#ffffff" stroke-width="1" stroke-linejoin="round" class="highcharts-point highcharts-color-1"></path><path fill="#90ed7d" d="M 201.58725576967674 320.8537246894999 A 168 168 0 0 1 156.01355154084433 279.3490583542937 L 290 178 A 0 0 0 0 0 290 178 Z" transform="translate(0,0)" stroke="#ffffff" stroke-width="1" stroke-linejoin="round" class="highcharts-point highcharts-color-2"></path><path fill="#f7a35c" d="M 155.91226949260022 279.21502125364066 A 168 168 0 0 1 289.76665137040396 10.0001620583607 L 290 178 A 0 0 0 0 0 290 178 Z" transform="translate(0,0)" stroke="#ffffff" stroke-width="1" stroke-linejoin="round" class="highcharts-point highcharts-color-3"></path></g><g class="highcharts-markers highcharts-series-0 highcharts-pie-series highcharts-color-undefined " transform="translate(10,10) scale(1 1)"></g></g><g class="highcharts-data-labels highcharts-series-0 highcharts-pie-series highcharts-color-undefined highcharts-tracker" transform="translate(10,10) scale(1 1)" opacity="1" style="cursor:pointer;"><path fill="none" class="highcharts-data-label-connector highcharts-color-0" stroke="#7cb5ec" stroke-width="1" d="M 453.0074110014874 58.67834199690725 C 448.0074110014874 58.67834199690725 433.6431009104431 69.52576545173386 428.85499754676164 73.1415732700094 L 424.0668941830802 76.75738108828494"></path><path fill="none" class="highcharts-data-label-connector highcharts-color-1" stroke="#434348" stroke-width="1" d="M 366.5258499050562 362.6295014220625 C 361.5258499050562 362.6295014220625 355.0234999136875 345.8450012927841 352.8560499165646 340.25016791635795 L 350.6885999194417 334.6553345399318"></path><path fill="none" class="highcharts-data-label-connector highcharts-color-2" stroke="#90ed7d" stroke-width="1" d="M 151.60826255798167 324.3237656096905 C 156.60826255798167 324.3237656096905 168.7347841436197 311.02160509971867 172.77695800549904 306.5875515963947 L 176.8191318673784 302.1534980930707"></path><path fill="none" class="highcharts-data-label-connector highcharts-color-3" stroke="#f7a35c" stroke-width="1" d="M 107.75766831169764 89.74380555624545 C 112.75766831169764 89.74380555624545 128.8706075560888 97.76709596022313 134.24158730421917 100.44152609488236 L 139.61256705234953 103.1159562295416"></path><g class="highcharts-label highcharts-data-label highcharts-data-label-color-0 " style="cursor:pointer;" transform="translate(458,49)"><text x="5" style="font-size:11px;font-weight:bold;color:black;fill:black;" y="16"><tspan style="font-weight: bold;" x="5" y="16" class="highcharts-text-outline" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="2px" stroke-linejoin="round">Pending</tspan><tspan dx="0" class="highcharts-text-outline" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="2px" stroke-linejoin="round" style="">: 5</tspan><tspan style="font-weight:bold" x="5" y="16">Pending</tspan><tspan dx="0">: 5</tspan></text></g><g class="highcharts-label highcharts-data-label highcharts-data-label-color-1 " style="cursor:pointer;" transform="translate(372,353)"><text x="5" style="font-size:11px;font-weight:bold;color:black;fill:black;" y="16"><tspan style="font-weight: bold;" x="5" y="16" class="highcharts-text-outline" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="2px" stroke-linejoin="round">Closed</tspan><tspan dx="0" class="highcharts-text-outline" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="2px" stroke-linejoin="round" style="">: 5</tspan><tspan style="font-weight:bold" x="5" y="16">Closed</tspan><tspan dx="0">: 5</tspan></text></g><g class="highcharts-label highcharts-data-label highcharts-data-label-color-2 " style="cursor:pointer;" transform="translate(35,314)"><text x="5" style="font-size:11px;font-weight:bold;color:black;fill:black;" y="16"><tspan style="font-weight: bold;" x="5" y="16" class="highcharts-text-outline" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="2px" stroke-linejoin="round">Customer Reply</tspan><tspan dx="0" class="highcharts-text-outline" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="2px" stroke-linejoin="round" style="">: 1</tspan><tspan style="font-weight:bold" x="5" y="16">Customer Reply</tspan><tspan dx="0">: 1</tspan></text></g><g class="highcharts-label highcharts-data-label highcharts-data-label-color-3 " style="cursor:pointer;" transform="translate(23,80)"><text x="5" style="font-size:11px;font-weight:bold;color:black;fill:black;" y="16"><tspan style="font-weight: bold;" x="5" y="16" class="highcharts-text-outline" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="2px" stroke-linejoin="round">Answered</tspan><tspan dx="0" class="highcharts-text-outline" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="2px" stroke-linejoin="round" style="">: 6</tspan><tspan style="font-weight:bold" x="5" y="16">Answered</tspan><tspan dx="0">: 6</tspan></text></g></g><g class="highcharts-legend"><rect fill="none" class="highcharts-legend-box" rx="0" ry="0" x="0" y="0" width="8" height="8" visibility="hidden"></rect><g><g></g></g></g></svg></div></div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">
        <div class="panel TopBox">
            <div class="panel-body p-none">
                <div id="expenseid" class="chartdiv" data-highcharts-chart="1">
                    <div id="highcharts-az6wd31-7" class="highcharts-container " style="position: relative; overflow: hidden; width: 600px; height: 400px; text-align: left; line-height: normal; z-index: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">
        <div class="panel TopBox">
            <div class="panel-heading">
                <h3 class="panel-title pd-0">
                    Recent Jobs
                    <a href="@Url.Action("index","jobs",new{v=12})" class="pull-right btn btn-complete btn-sm">View All</a>
                </h3>
            </div>
            <div class="panel-body p-none">
                <div class="table-ultra-responsive">
                    <table class="table data-table nowrap table-hover table-condensed dataTable no-footer" id="table1">
                        <thead>
                            <tr role="row">
                                <th class="wdt10">ID</th>
                                <th class="wdt30">Client</th>
                                <th class="wdt30">Technician</th>
                                <th class="wdt15">Date</th>
                                <th class="wdt15">Rate</th>
                            </tr>
                        </thead>
                        <tbody>
                             
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">
        <div class="panel TopBox">
            <div class="panel-heading">
                <h3 class="panel-title pd-0">
                    Recent Offers
                    <a href="@Url.Action("index","offer")" class="pull-right btn btn-complete btn-sm">View All</a>
                </h3>
            </div>
            <div class="panel-body p-none">
                <div class="table-ultra-responsive">
                    <table class="table data-table nowrap table-hover table-condensed dataTable no-footer" id="table2">
                        <thead>
                            <tr role="row">
                                <th class="wdt10">ID</th>
                                <th class="wd20px">Client</th>
                                <th class="wd20px">Dispatcher</th>
                                <th class="wd20px">Date</th>
                                <th class="wd20px">Rate</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script> 
<script src="@Url.Content("~/Content/dashboard/script.min.js?v=2.3")"></script>
