﻿@model hrm.Models.Profilemodel
@{
    bool ispermit =Model.isnotificationpermission;
    bool billing = Model.billing;
    bool pricing = Model.pricing;
    bool resuces = Model.resuces;
}
@helper getCommentByHelper(string comment, string url)
{
    System.Text.RegularExpressions.Regex rx = new System.Text.RegularExpressions.Regex("<[^>]*>");
    if (!string.IsNullOrEmpty(comment))
    {
        var _oldvalue = comment;//orignal value with html
        var _newvalue = comment;//removing html
        _newvalue = rx.Replace(_oldvalue, "");//html removed
        var text = _newvalue.Count() > 20 ? _newvalue.Substring(0, 20) : _newvalue;// substring
        var text1 = _newvalue.Count() > 20 ? _newvalue.Substring(20) : _newvalue;// substring
        comment = comment.Replace(_newvalue, text);
        comment = rx.Replace(comment, "");//html removed
        _oldvalue = _oldvalue.Replace(_newvalue, text1);
        <a href="@url">@Html.Raw(comment)</a>
    }
    else
    {

    }

}
<style>
    .lipad {
        padding-left: 16px !important;
        padding-right: 25px !important;
        max-height: 100vh;
        overflow: auto;
    }

    .bdge:hover {
        background: var(--blue) !important;
    }

    .bdge {
        vertical-align: top !important;
        margin-right: -6px;
        color: white;
        background: var(--blue);
    }

    .profiledropdown-menu li a {
        padding: 7px 1px !important;
    }

    .profiletable thead tr th {
        outline: none;
        padding: 0px 0px 12px !important;
    }

    .profiletable tbody tr td {
        padding: 8px 0px !important;
    }

        .profiletable tbody tr td a {
            padding: 0px !important;
            color: black !important;
        }

    .b {
        padding: 7px 20px !important;
        color: white !important;
    }
</style>
@if (ispermit)
{
    <div class="dropdown user-profile pull-left">
        <a href="#" class="dropdown-toggle" onclick="getgeneral()" data-toggle="dropdown" role="button" aria-expanded="false">
            <span class="user-info" style="padding-top: 37px;padding-right: 20px;">
                <span class="badge badge-danger bdge" style=""> @Model.GeneralMessage.Count</span>
                <i class="fa fa-bell" style="font-size:16px;padding-top: 7px;"></i>
            </span>

        </a>
        <ul class="profiledropdown-menu  dropdown-menu arrow right-arrow" role="menu" style="min-height: 270px;min-width:520px;">
            @if (Model.GeneralMessage.Count > 0)
            {

                <li class="lipad">
                    <table class="table profiletable">
                        <thead>
                            <tr>
                                <th>Notification</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.GeneralMessage)
                            {
                                if (!string.IsNullOrEmpty(item))
                                {
                                    <tr>
                                        <td>@item</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </li>
            }
            else
            {
                <li class="lipad"><a href="#">No Notification</a></li>
            }

        </ul>
    </div>
}

 
    <div class="dropdown user-profile pull-left">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <span class="user-info" style="padding-top: 37px;padding-right: 20px;">
                <span class="badge badge-danger bdge" style=""> @Model.Confirmation.Count</span>
                <i class="fa fa-bullhorn" style="font-size: 17px;padding-top: 7px;"></i>
            </span>
        </a>
        <ul class="dropdown-menu arrow right-arrow" role="menu" style="min-height: 270px;min-width:525px!important">
            @if (Model.Confirmation.Count > 0)
            {

                <li class="lipad">
                    <table class="table profiletable">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Title</th>
                                <th>Accept</th>
                                <th>Decline</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Confirmation)
                            {
                                <tr>
                                    <td>@item.JobIndexId</td>
                                    <td>@item.Name</td>
                                    <td><a href="@item.ConfirmUrl" style="color:var(--green) !important;">Confirm</a></td>
                                    <td><a href="@item.DeclineUrl" style="color:var(--red) !important;">Decline</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </li>
            }
            else
            {
                <li class="lipad"><a href="#">No Notification</a></li>
            }
        </ul>
    </div>
 

<div class="dropdown user-profile pull-left">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        <span class="user-info" style="padding-top: 37px;padding-right: 20px;">
            <span class="badge badge-danger bdge" style=""> @Model.PayMessage.Count</span>
            <i class="fas fa-dollar-sign" style="font-size:16px;padding-top: 7px;"></i>
        </span>

    </a>
    <ul class="profiledropdown-menu  dropdown-menu arrow right-arrow" role="menu" style="min-height: 270px;min-width:520px;">

        @if (Model.PayMessage.Count > 0)
        {

            <li class="lipad">
                <table class="table profiletable">
                    <thead>
                        <tr>
                            <th>Job ID</th>
                            <th>Name</th>
                            <th>Rate</th>
                            <th>Hrs</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.PayMessage)
                        {
                            <tr onclick="getlocation('@item.Url')">
                                <td onclick="getlocation('@item.Url')">@item.JobIndexId</td>
                                <td onclick="getlocation('@item.Url')">@item.Name</td>
                                <td onclick="getlocation('@item.Url')">@item.Rate</td>
                                <td onclick="getlocation('@item.Url')">@item.Hours</td>
                                <td onclick="getlocation('@item.Url')">@item.Amount</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </li>
        }
        else
        {
            <li class="lipad"><a href="#">No Pay Notification</a></li>
        }

    </ul>
</div>
<div class="dropdown user-profile pull-left">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        <span class="user-info" style="padding-top: 37px;padding-right: 20px;">
            <span class="badge badge-danger bdge" style=""> @Model.JobMessage.Count</span>
            <i class="fa fa-suitcase" style="font-size:16px;padding-top: 8px;"></i>
        </span>

    </a>
    <ul class="profiledropdown-menu dropdown-menu arrow right-arrow" role="menu" style="min-height: 270px;min-width:520px;">
        @if (Model.JobMessage.Count > 0)
        {
            <li class="lipad">
                <table class="table profiletable">
                    <thead>
                        <tr>
                            <th>Job ID</th>
                            <th>Name</th>
                            <th>Message</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.JobMessage)
                        {
                            <tr onclick="getlocation('@item.Url')">
                                <td onclick="getlocation('@item.Url')">@item.JobIndexId</td>
                                <td onclick="getlocation('@item.Url')">@item.Name</td>
                                <td>@getCommentByHelper(item.Message, item.Url)</td>
                                <td onclick="getlocation('@item.Url')">@item.Time</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </li>
        }
        else
        {
            <li class="lipad"><a href="#">No Job Notification</a></li>
        }
    </ul>
</div>
<div class="dropdown user-profile pull-left">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        <span class="user-info" style="padding-top: 37px;padding-right: 20px;">
            <span class="badge badge-danger bdge" style=""> @Model.OfferMessage.Count</span>
            <i class="fas fa-hand-holding-usd" style="font-size: 21px;padding-top: 0px;"></i>
        </span>
    </a>
    <ul class="dropdown-menu arrow right-arrow" role="menu" style="min-height: 270px;min-width:520px;">
        @if (Model.OfferMessage.Count > 0)
        {

            <li class="lipad">
                <table class="table profiletable">
                    <thead>
                        <tr>
                            <th>Offer ID</th>
                            <th>Name</th>
                            <th>Message</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OfferMessage)
                        {
                            <tr onclick="getlocation('@item.Url')">
                                <td onclick="getlocation('@item.Url')">@item.JobIndexId</td>
                                <td onclick="getlocation('@item.Url')">@item.Name</td>
                                <td>@getCommentByHelper(item.Message, item.Url)</td>
                                <td onclick="getlocation('@item.Url')">@item.Time</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </li>
        }
        else
        {
            <li class="lipad"><a href="#">No Offer Notification</a></li>
        }
    </ul>
</div>
<div class="dropdown user-profile pull-right">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
       
        <img class="user-image" src="@Url.Content(Model.Image=="default"?"~/content/images/default.webp":Model.Image)" alt="@Model.Name">
    </a>
    <ul class="dropdown-menu arrow right-arrow" role="menu" style="min-width: 245px !important;">
        <li style="text-align:center"> <img class="user-image" style=" width: 66px; height: 63px;" src="@Url.Content(Model.Image=="default"?"~/content/images/default.webp":Model.Image)" alt="@Model.Name"></li>
         <li style="text-align:center">    <span class="user-info">@Model.Name</span></li>
        <li style="text-align:center;margin-bottom: 10px;"><a href="@Url.Action("billing","account",new {tab=2 })"><b>@Model.AccountName (@Model.AccountNumber)</b></a></li>
        <hr class="newhr"  style="margin-bottom: 10px;"/>
        <li><a href="@Url.Action("edit","account")">Update Profile</a></li>
        <li><a href="@Url.Action("password","account")">Change Password</a></li>

        <hr class="newhr" style="margin-bottom: 10px;margin-top: 10px;" />
        @if (billing)
        {
            <li><a href="@Url.Action("billing", "account")">Account & Billing</a></li>
        }
        @if (pricing)
        {
            <li><a href="@Url.Action("pricing", "account")">Pricing & features</a></li>
        }
        @if (resuces)
        {

            <li><a href="@Url.Action("resources", "account")">Resources</a></li>
        }
        <li class="bg-dark">
            <a href="@Url.Action("logout","account")" class="clearfix">
                <span class="pull-left">Logout</span>
                <span class="pull-right"></span>
            </a>
        </li>
    </ul>
</div>
<script>
    function getlocation(url) {
        location.href = url;
    }

    function getgeneral() {
        var _url = "@Url.Action("readgeneral","home")";
        $.get(_url, function () {

        });
    }


</script>

