﻿@{
    ViewBag.Title = "task ";
    Layout = null;
    bool OpenpopUp = (bool)ViewBag.PopUp;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>task</title>
    <meta name="description" content="Taskayak is the most technologically advance dispatch software created by IT field technician, dispatcher who care" />
    <meta name="keywords" content="" />
    <meta name="author" content="Saurel Dominique" />
    <link rel="shortcut icon" href="@Url.Content("~/homesite/images/favicon.png")">
    <link href="https://fonts.googleapis.com/css?family=Sarabun:400,500,600,700|Rubik:300,400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/homesite/css/pe-icon-7-stroke.min.css?v=1.2")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/homesite/css/materialdesignicons.min.css?v=1.2")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/homesite/css/waves.min.css?v=1.2")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/homesite/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/homesite/css/magnific-popup.min.css?v=1.2")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/homesite/css/style.min.css?v=1.2")" />
    <link rel="stylesheet" href="@Url.Content("~/homesite/css/colors/cyan.min.css?v=1.2")" id="color-opt" />
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link rel="stylesheet" href="@Url.Content("~/fonts/Aharoni/Aharoni.css?v=1.2")" rel="stylesheet" />
</head>
<body data-spy="scroll" data-target="#data-scroll" data-hijacking="on" data-animation="scaleDown">
    <nav class="navbar navbar-expand-lg fixed-top navbar-white navbar-custom sticky sticky-dark">
        <div class="container">
            <a class="navbar-brand logo" href="#home">
                <span class="LogoText">task</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <i class="mdi mdi-menu"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav navbar-center" id="mySidenav">
                    <li class="nav-item active">
                        <a href="#home" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#features" class="nav-link">Why</a>
                    </li>
                    @*<li class="nav-item">
                            <a href="#services" class="nav-link">Benefit</a>
                        </li>
                        <li class="nav-item">
                            <a href="#about" class="nav-link">About</a>
                        </li>*@

                    <li class="nav-item">
                        <a href="#contact" class="nav-link">Contact</a>
                    </li>

                </ul>
                <div class="nav-button ml-auto">
                    <ul class="nav navbar-nav navbar-right">
                        @*<li class="nav-item">
                                <a style="cursor:pointer;" onclick="getlogin()" class="nav-link" id="loginbtn">Login</a>
                            </li>*@
                        <li>
                            <button type="button" onclick="GetDemoPopUp()" class="btn btn-custom navbar-btn btn-rounded waves-effect waves-light">Signup</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <section class="section bg-home home-half" id="home" data-image-src="images/bg-home.webp">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-white text-center">
                    <h4 class="home-small-title">task</h4>
                    <h1 class="home-title">
                        Delivery and task dispatch services Free Powered by Blockchain.
                    </h1>
                    @*<p class="play-shadow margin-l-r-auto"><a href="@Url.Content("~/homesite/images/taskayak-demo.mp4")" class="play-btn video-play-icon"><i class="mdi mdi-play text-center"></i></a></p>
                        <p>Play this demo video</p>*@
                </div>
            </div>
        </div>
    </section>
    <section class="section" id="features">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 order-2 order-lg-1">
                    <div class="features-box mt-5 mt-lg-0">
                        <h3>Something is special about this app</h3>
                        <p class="text-muted web-desc">It takes a dispatcher, a field technician and a software engineer to put this great application together</p>
                        <ul class="text-muted list-unstyled margin-t-30 features-item-list">
                            <li class="">Advance AI technology</li>
                            <li class="">Easy to operate</li>
                            <li class="">Get the job done</li>
                        </ul>
                        <a href="#contact" class="btn btn-custom margin-t-30 waves-effect waves-light">Learn More <i class="mdi mdi-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-7 order-1 order-lg-2">
                    <div class="features-img mx-auto mr-lg-0">
                        @*<img src="@Url.Content("~/homesite/images/dashboard.gif")" alt="taskayak dashboard" class="img-fluid">*@
                        <video style="width:100%" loop autoPlay muted>
                            <source src="@Url.Content("~/homesite/images/dashboard.mp4")" type="video/mp4">
                        </video>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section bg-light" id="services" style="display:none;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h1 class="section-title text-center">BENEFITS</h1>
                    <div class="section-title-border margin-t-20"></div>
                    <p class="section-subtitle text-muted text-center padding-t-30 font-secondary"></p>
                </div>
            </div>
            <div class="row margin-t-30">
                <div class="col-lg-4 margin-t-20">
                    <div class="services-box">
                        <div class="media">
                            <i class="pe-7s-news-paper text-custom"></i>
                            <div class="media-body ml-4">
                                <h4>Offers/Jobs speed dispatch</h4>
                                <p class="pt-2 text-muted">Set the timeline to get technician reminder of jobs assigned to insure everyone get to work ready and on time.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 margin-t-20">
                    <div class="services-box">
                        <div class="media">
                            <i class="pe-7s-timer text-custom"></i>
                            <div class="media-body ml-4">
                                <h4>Virtual dispatcher</h4>
                                <p class="pt-2 text-muted">Set the timeline to get technician reminder of jobs assigned to insure everyone get to work ready and on time.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 margin-t-20">
                    <div class="services-box">
                        <div class="media">
                            <i class="pe-7s-science text-custom"></i>
                            <div class="media-body ml-4">
                                <h4>Unify communication</h4>
                                <p class="pt-2 text-muted">Keep everyone inform of all updates and conversation relating assignment in real-time using any device.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section bg-web-desc" style="display:none">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-white">Grow your IT deployment business</h2>
                    <p class="padding-t-15 home-desc mx-auto">If you need to better understand how this application can make the magic happen</p>
                    <a href="#" onclick="GetDemoPopUp()" class="btn btn-bg-white margin-t-30 waves-effect waves-light">Request a live app demo</a>
                </div>
            </div>
        </div>
    </section>
    <section class="section" id="about" style="display:none">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="about-title mx-auto text-center">
                        <h2 class="font-weight-light">The dream team that brought Taskayak to live</h2>
                    </div>
                </div>
            </div>
            <div class="row margin-t-50">
                <div class="col-lg-3 col-sm-6"></div>
                <div class="col-lg-3 col-sm-6">
                    <div class="team-box text-center">
                        <div class="team-wrapper">
                            <div class="team-member">
                                <img alt="" src="@Url.Content("~/homesite/images/team/img-2.webp")" class="img-fluid rounded">
                            </div>
                        </div>
                        <h4 class="team-name">Saurel Dominique</h4>
                        <p class="text-uppercase team-designation">Co-founder/Biz Dev</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="team-box text-center">
                        <div class="team-wrapper">
                            <div class="team-member">
                                <img alt="" src="@Url.Content("~/homesite/images/team/img-3.webp")" class="img-fluid rounded">
                            </div>
                        </div>
                        <h4 class="team-name">Umesh Kamboj</h4>
                        <p class="text-uppercase team-designation">Co-founder/Coder</p>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6"></div>
            </div>
        </div>
    </section>
    <div id="DemoModel" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="DemoModel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="DemoModel">Request a product demo</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>

                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" autocomplete="random" onkeyup="ClearAlert()" id="f_name" placeholder="First name" />
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" autocomplete="random" onkeyup="ClearAlert()" id="l_name" placeholder="Last name" />
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <input type="text" class="form-control" autocomplete="random" onkeyup="ClearAlert()" id="f_email" placeholder="Email" />
                        </div>
                        <div class="form-group col-sm-6">
                            <input type="text" class="form-control" autocomplete="random" onkeyup="ClearAlert()" id="f_phone" placeholder="Phone" />
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" autocomplete="random" onkeyup="ClearAlert()" id="f_company" placeholder="Company" />
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" autocomplete="random" onkeyup="ClearAlert()" id="f_domain" placeholder="Domain" />
                        </div>
                    </div> <div class="clearfix"></div>
                    <div class="row">
                        <div class="form-group col-md-12 pd-0 pd-r0">
                            <div class="g-recaptcha" data-sitekey="6LfFi7sUAAAAABkLhzcJaKGfGYjwCJST2A0TdBYg"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                </div>
                <div class="modal-footer">
                    <button type="button" id="ModelSubmit" class="btn btn-custom btn-block"><i class="fa fa-save"></i> Request your demo</button>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div id="Modelhdnscetion" style="color:var(--danger);text-align:center;">
                        </div>  <div class="clearfix"></div>
                        <p class="text-muted text-center mb-0">By entering your information above and click "Request your demo" you agree to our term and condition and policy of private. Our team is now able to contact you via phone or email to follow up and further engage with you and your company regarding Taskayak and any other realated business managed by Convo Technologies, LLC </p>
                        <div class="clearfix"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="section" id="testi" style="display:none">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h1 class="section-title text-center">A few lucky users testimonial</h1>
                    <div class="section-title-border margin-t-20"></div>
                </div>
            </div>
            <div class="row margin-t-50">
                <div class="col-lg-4">
                    <div class="testimonial-box margin-t-30">
                        <div class="testimonial-decs p-4">
                            <div class="testi-icon">
                                <i class="mdi mdi-format-quote-open display-2"></i>
                            </div>
                            <img src="@Url.Content("~/homesite/images/testimonials/user-1.webp")" alt="" class="img-fluid mx-auto d-block img-thumbnail rounded-circle mb-4">
                            <div class="p-1">
                                <h5 class="text-center text-uppercase mb-3">Rodney Stevens<span class="text-muted text-capitalize"></span></h5>
                                <p class="text-muted text-center mb-0">“Taskayak has made our entire dispatch operation more efficient. We are now able to focus more on our clients and less on managing the jobs.” </p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-box margin-t-30">
                        <div class="testimonial-decs p-4">
                            <div class="testi-icon">
                                <i class="mdi mdi-format-quote-open display-2"></i>
                            </div>
                            <img src="@Url.Content("~/homesite/images/testimonials/user-2.webp")" alt="" class="img-fluid mx-auto d-block img-thumbnail rounded-circle mb-4">
                            <div class="p-1">
                                <h5 class="text-center text-uppercase mb-3">Wendy Lewis<span class="text-muted text-capitalize"></span></h5>
                                <p class="text-muted text-center mb-0">“This software has allowed me to expand my business and is easy to use. It only took me a few minutes to get started and now it is the core of our dispatch.” </p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-box margin-t-30">
                        <div class="testimonial-decs p-4">
                            <div class="testi-icon">
                                <i class="mdi mdi-format-quote-open display-2"></i>
                            </div>
                            <img src="@Url.Content("~/homesite/images/testimonials/user-3.webp")" alt="" class="img-fluid mx-auto d-block img-thumbnail rounded-circle mb-4">
                            <div class="p-1">
                                <h5 class="text-center text-uppercase mb-3">Kenneth Bel-Jack<span class="text-muted text-capitalize"></span></h5>
                                <p class="text-muted text-center mb-0">“All my headaches are gone. I am now able to send our techs to our clients with ease. Taskayak is affordable helping our business grow.” </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-lg bg-get-start">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <h1 class="get-started-title text-white">Let's get started</h1>
                    <div class="section-title-border margin-t-20 bg-white"></div>
                    <p class="section-subtitle font-secondary text-white text-center padding-t-30">By this time if your mind is made up give us a try to start this long lasting relationship </p>
                    <a href="https://app.taskayak.com/account/register" class="btn btn-bg-white waves-effect margin-t-20">Sign Up Now <i class="mdi mdi-arrow-right"></i> </a>
                </div>
            </div>
        </div>
    </section>
    <section class="section " id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h1 class="section-title text-center">Reach out anytime</h1>
                    <div class="section-title-border margin-t-20"></div>
                    <p class="section-subtitle text-muted text-center font-secondary padding-t-30"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="mt-4 pt-4">
                        <p class="mt-4"><span class="h5">Hometown:</span><br> <span class="text-muted d-block mt-2">Austin, Texas</span></p>
                        <p class="mt-4"><span class="h5">Email:</span><br> <span class="text-muted d-block mt-2">admin@taskayak.com</span></p>
                        @*<p class="mt-4"><span class="h5">Telephone:</span><br> <span class="text-muted d-block mt-2">(512) 200-4402</span></p>*@
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="custom-form mt-4 pt-4">
                        <div id="message"></div>
                        <form method="post" action="https://taskayak.com/" name="contact-form" id="contact-form">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group mt-2">
                                        <input name="name" id="name" type="text" class="form-control" placeholder="Name*">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group mt-2">
                                        <input type="text" class="form-control" id="Companyname" placeholder="Company name" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-lg-6">
                                    <div class="form-group mt-2">
                                        <input name="email" id="email" type="email" class="form-control" placeholder="Email*">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group mt-2">
                                        <input name="Phone" id="Phone" type="text" class="form-control" placeholder="Phone number*">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group mt-2">
                                        <textarea name="comments" id="comments" rows="4" class="form-control" placeholder="Your message..."></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div id="hdnscetion" style="color:var(--danger)">
                                    </div>
                                </div>
                                <div class="col-lg-6 text-right">
                                    <input type="button" id="submit" name="send" class="submitBnt btn btn-custom" value="Send Message">
                                    <div id="simple-msg"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 margin-t-20">
                    <h4>task</h4>
                    <div class="text-muted margin-t-20">
                        <ul class="list-unstyled footer-list">
                            <li><a href="#home">Home</a></li>
                            <li><a href="#about">About us</a></li>
                            <li><a href="#features">Why</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 margin-t-20">
                    <h4>Information</h4>
                    <div class="text-muted margin-t-20">
                        <ul class="list-unstyled footer-list">
                            <li><a target="_blank" href="https://app.taskayak.com/legal/index">Terms & Condition</a></li>
                            <li><a target="_blank" href="https://app.taskayak.com/legal/index">Privacy</a></li>
                            <li><a target="_blank" href="https://app.taskayak.com/legal/index">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 margin-t-20">
                    <h4>Support</h4>
                    <div class="text-muted margin-t-20">
                        <ul class="list-unstyled footer-list">
                            <li><a href="#contact">Contact</a></li>

                            <li><a href="#sevices">Benefit</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 margin-t-20">
                    <h4>Subscribe</h4>
                    <div class="text-muted margin-t-20">
                        <p>Keep in touch to get all the latest.  We highly recommend it.</p>
                    </div>
                    <form class="form subscribe">
                        <input placeholder="Email" class="form-control" required>
                        <a href="#" class="submit"><i class="pe-7s-paper-plane"></i></a>
                    </form>
                </div>
            </div>
        </div>
    </footer>
    <div class="footer-alt">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="float-left pull-none">
                        <p class="copy-rights text-muted mb-3 mb-sm-0">2021 © Task - Powered by Convo Technologies</p>
                    </div>
                    <div class="float-right pull-none ">
                        <ul class="list-inline social m-0">
                            <li class="list-inline-item"><a href="https://www.taskayak.com" class="social-icon"><i class="mdi mdi-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.taskayak.com" class="social-icon"><i class="mdi mdi-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.linkedin.com/company/convotech/?viewAsMember=true" class="social-icon"><i class="mdi mdi-linkedin"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.youtube.com/channel/UCoBHf54k6Qp9zR1eQq9HERA?view_as=subscriber" class="social-icon"><i class="mdi mdi-youtube"></i></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="@Url.Content("~/homesite/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/homesite/js/bootstrap.bundle.min.js")"></script>
    <script src="@Url.Content("~/homesite/js/jquery.easing.min.js")"></script>
    <script src="@Url.Content("~/homesite/js/scrollspy.min.js")"></script>
    <script src="@Url.Content("~/homesite/js/jquery.sticky.js")"></script>
    <script src="@Url.Content("~/homesite/js/waves.min.js")"></script>
    <script src="@Url.Content("~/homesite/js/jquery.magnific-popup.min.js")"></script>
    <script src="@Url.Content("~/homesite/js/switcher.js")"></script>
    <script src="@Url.Content("~/homesite/js/app.js")"></script>
    <script>
        $("#submit").on("click", function (e) {
            var name = $("#name").val();
            var email = $("#email").val();
              var phone = $("#Phone").val();
            var Companyname = $("#Companyname").val();
            var comments = $("#comments").val();
            if (name == '' || IsEmail(email) == false  || phone == '' || Companyname == '') {
                $("#hdnscetion").html('Required fileds can not be empty.');
                return false;
            }else{$("#hdnscetion").html('<img src="@Url.Content("~/fancybox/wait.gif?v=2")" style="height:60px;" />');
            var _url = "@Url.Action("sendhubspot","main")";
            $.post(_url, { 'company': Companyname, 'email': email, 'telephone': phone, 'message': comments, 'primary': name }, function () {
               $("#hdnscetion").html('Thank you. A representative will contact you');
                 $("#name").val('');
                 $("#email").val('');
                 $("#phone").val('');
                 $("#Companyname").val('');
                 $("#comments").val('');
                        });
             }
        });

        $("#ModelSubmit").on("click", function (e) {
            $("#Modelhdnscetion").html('');
            var f_name =$.trim( $("#f_name").val());
            var l_name = $.trim($("#l_name").val());
            var f_email = $.trim($("#f_email").val());
            var f_phone = $.trim($("#f_phone").val());
            var f_company = $.trim($("#f_company").val());
            var f_domain = $.trim($("#f_domain").val());
            var _val = $("#g-recaptcha-response").val();

            if (f_name == '' ) {
                $("#Modelhdnscetion").html('First name can not be empty.');
                return false;
            } else if (f_email=='') {
                $("#Modelhdnscetion").html('Email address can not be empty.');
                return false;
            } else if (IsEmail(f_email) == false) {
                $("#Modelhdnscetion").html('Email address is not valid.');
                return false;
            }
            else if (f_phone == '') {
                $("#Modelhdnscetion").html('Phone number can not be empty.');
                return false;
            }
            else if (validatePhone(f_phone) == false) {
                $("#Modelhdnscetion").html('Phone number is not valid.');
                return false;
            }
           else if ($.trim(_val) == '') {
                $("#Modelhdnscetion").html('recaptcha must be validate');
                return false;
            }
            else {
                $("#Modelhdnscetion").html('<img src="@Url.Content("~/fancybox/wait.gif?v=2")" style="height:60px;width:36%" />');
            var _url = "@Url.Action("senddemohubspot","main")";
                $.post(_url, { 'recaptcha': _val, 'f_domain': f_domain,'f_name': f_name, 'l_name': l_name, 'f_email': f_email, 'f_phone': f_phone, 'f_company': f_company }, function () {
                $("#Modelhdnscetion").html('Thank you. A representative will contact you');
                $("#f_name").val('');
                $("#l_name").val('');
                $("#f_email").val('');
                $("#f_phone").val('');
                $("#f_company").val('');
                $("#f_domain").val('');
                        });
             }
        });

        function validatePhone(txtPhone) {

            var filter = /^((\+[1-9]{1,4}[ \-]*)|(\([0-9]{2,3}\)[ \-]*)|([0-9]{2,4})[ \-]*)*?[0-9]{3,4}?[ \-]*[0-9]{3,4}?$/;
            if (filter.test(txtPhone)) {
                return true;
            }
            else {
                return false;
            }
        }
         function IsEmail(email) {
  var regex = /^([a-zA-Z0-9_\.\-\+])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
  if(!regex.test(email)) {
    return false;
  }else{
    return true;
  }
}
        function ClearAlert() {
            $("#Modelhdnscetion").html('');
        }
        function getlogin() {
             location.href = "https://app.taskayak.com/account/login";
        }
        $("#loginbtn").bind('click', function(event) {

        });

        function getregister() {
            location.href = "https://app.taskayak.com/account/register";
        }
        function GetDemoPopUp() {
            $("#Modelhdnscetion").html('');
            $('#DemoModel').modal('show');
        }
        if ('@OpenpopUp' == 'True') {
            GetDemoPopUp();
        }
    </script>
</body>

</html>