﻿

<style>
    @@page {
        margin: 0 0cm;
    }
</style>
<table style="width:100%;margin-top:-8px!important;padding-top:0px !important;border-collapse: collapse;font-family: Times New Roman;" cellpadding="10" cellspacing="5">
    <thead>
        <tr>
            <td colspan="2" style="text-align: center;background-color: black;color: white;">
                <h2>  Field Technicians Application and Questionaire</h2>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="2" style="border-color: #f3f1f1;padding-bottom: 0px;border-bottom: 1px solid #dee2e6;">
                <h2 style="padding: 0px;margin-top: 0px;margin-bottom: 3px;">Personal Information</h2>

            </td>
        </tr>
       
        <tr>
            <td>
                <b>First name :</b> $fname
            </td>
            <td>
                <b>Last name :</b> $lname
            </td>

        </tr>
        <tr>
 <td>
                <b>Company :</b> $company
            </td>
            <td>
                <b>Email :</b> $email
            </td>
           
        </tr>
 <tr>
           <td>
                <b>Cell phone number :</b> $Cell
            </td>
            <td>
                <b>Alternative phone :</b> $alternatrivephone
            </td>
        </tr>
        <tr>
            <td colspan="2" style="border-color: #f3f1f1;padding-bottom:0px;border-bottom: 1px solid #dee2e6;">
                <h2 style="padding: 0px;margin-top: 0px;margin-bottom: 3px;">Mailing address</h2>

            </td>
        </tr>
      
        <tr>
            <td>
                <b>Address :</b> $address
            </td>
            <td>
                <b>City :</b> $city
            </td>

        </tr>
        <tr>
            <td>
                <b>State :</b> $state
            </td>
            <td>
                <b>Zip Code :</b> $zip
            </td>
        </tr>
        <tr>
            <td colspan="2" style="border-color: #f3f1f1;padding-bottom:0px;border-bottom: 1px solid #dee2e6;">
                <h2 style="padding: 0px;margin-top: 0px;margin-bottom: 3px;">(Questionaire)</h2>

            </td>
        </tr>
               <tr>
            <td colspan="2">
                <b>Are you a citizen of the United States? :</b> $citizen
            </td>


        </tr>
        <tr>
            <td colspan="2">
                <b>If no, are you authorized to work in the U.S.? :</b> $authorized

            </td>

        </tr>
        <tr>
            <td colspan="2">
                <b>Have you ever been convicted of a felony? :</b> $convicted
            </td>


        </tr>
        <tr>
            <td colspan="2">
                <b>If yes, explain :</b> $explain
            </td>
        </tr>
        <tr>
            <td colspan="2" style="border-color: #f3f1f1;padding-bottom:0px;border-bottom: 1px solid #dee2e6;">
                <h2 style="padding: 0px;margin-top: 0px;margin-bottom: 3px;">Select the skill level best describe you.</h2>
            </td>
        </tr>
               <tr>
            <td colspan="2">
                <b>Network :</b> $Network
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <b>Wi-Fi :</b> $Wi_Fi
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <b>Data Center :</b> $Data
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <b>Audio – Video:</b> $Audio
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <b>Digital Signage:</b> $Digital
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <b>Structured Cabling:</b> $Structured
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <b>Fiber Optics:</b> $Fiber
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <b>Telephone systems:</b> $Telephone_chk
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <b>Distributed Antenna:</b> $Distributed
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <b>Electrical:</b> $Electrical
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <b>Security systems:</b> $Security
            </td>
        </tr>
 <tr>
            <td colspan="2">
                <b>Certification(s):</b> $Certification
            </td>
        </tr>
    </tbody>
</table>


 

 
