﻿
@{
    ViewBag.Title = "Offer";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int PmanagerId = (int)ViewBag.PmanagerId;
    int cmanagerId = (int)ViewBag.cmanagerId;
    int screening = (int)ViewBag.screening;
    int[] Skiil = (int[])ViewBag.Skiil;
}
@model hrm.Models.job
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<style>
    #amount:hover {
        background-color: #F1F9FF;
    } 
    .fc-center > h2 {
        font-size: 23px;
    } 
    .table.table-hover tbody tr:hover > td > #amount {
        background-color: #F1F9FF;
    } 
    .fc-popover {
        background: gainsboro;
    } 
    .mt9 {
        margin-top: 9px !important;
    } 
    .pac-container {
        z-index: 10000 !important;
    } 
    .labelbox {
        display: block;
        padding-left: 15px;
        text-indent: -15px;
    } 
    .closebox {
        float: right;
        font-size: 26px;
        font-weight: 500;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        opacity: 0.6;
        border-radius: 29px;
        width: 44px;
        padding: 5px !important;
        border: 1px solid #fff !important;
    } 
    .box-inner > div > .form-group > label > span {
        text-transform: none !important;
    } 
    .box-inner {
        width: 757px !important;
        padding: 10px;
    } 
    .box {
        float: right;
        overflow: hidden;
        background: #fff;
    } 
    .mainbox {
        position: absolute;
        top: 62px;
        z-index: 99999999;
        right: 1px;
        box-shadow: 1px 11px 13px #708090;
        height: 93vh;
    } 
    .closebox:hover {
        color: #626262 !important;
        background-color: #fff !important;
        border: 1px solid #eee !important;
    } 
    #amount:hover {
        background-color: #F1F9FF;
    } 
    @@media (min-width: 768px) {
        .modal-dialog {
            width: 870px;
            margin: 30px auto;
        }
    } 
    .table.table-hover tbody tr:hover > td > #amount {
        background-color: #F1F9FF;
    } 
    .dropdown-toggle, .multiselect-clear-filter {
        height: 42px !important;
    } 
    .dropdown-menu {
        min-width: 212px;
    }

    .btn-default:not(.custom-cal-button).active,
    .btn-default:not(.custom-cal-button):active,
    .btn-default:not(.custom-cal-button).active:focus,
    .btn-default:not(.custom-cal-button):active:focus,
    .btn-default:not(.custom-cal-button).active:hover,
    .btn-default:not(.custom-cal-button):active:hover,
    .open > .dropdown-toggle.btn-default:not(.custom-cal-button):focus,
    .open > .dropdown-toggle.btn-default:not(.custom-cal-button):hover,
    .open > .dropdown-toggle.btn-default:not(.custom-cal-button).focus {
        background-color: white !Important;
        border-color: grey !important;
        color: #626262 !important;
        height: 42px;
    } 
    .datePicker, .timePicker {
        position: relative;
        z-index: 1000;
    } 
    .daterangepicker.opensleft:after, .daterangepicker.opensleft:before {
        left: 264px !important;
        right: unset !important;
    } 
    .wdth240 {
        width: 240px !important;
        padding: 10px;
    } 
        .wdth240 .btn {
            width: 100% !important;
        } 
    .labelbox {
        display: block;
        padding-left: 15px;
        text-indent: -15px;
    } 
    .techdiv {
        overflow-y: scroll;
        max-height: 250px;
        height: 250px;
    } 
    .inputbox {
        width: 24px;
        height: 17px;
        padding: 0;
        margin: 0;
        vertical-align: bottom;
        position: relative;
        top: -1px;
        *overflow: hidden;
    } 

    .tablmodal-dialog {
        width: 990px !important;
    }

    .filter_table_job .bootstrap-select, .filter_table_job .dropdown-toggle {
        width: 163px !important;
        text-align: left;
    }

    @@media (min-width: 768px) {
        .modal-dialog {
            width: 904px;
            margin: 30px auto;
        }
    } 
    .amount .btn, .screening .btn, #Distance {
        width: 308px;
    } 
    .Skills .dropdown-toggle, .Tool .dropdown-toggle {
        width: 308px;
    } 
    .Skills .multiselect-container {
        max-height: calc(90vh - 30vh) !important;
        overflow-y: auto !important;
    } 
    .Tool .multiselect-container {
        max-height: calc(90vh - 38vh) !important;
        overflow-y: auto !important;
    } 
    .Skills .input-group .form-control, .Tool .input-group .form-control {
        width: 193px !important;
    } 
    .Skills .dropdown-menu, .Tool .dropdown-menu, .amount .dropdown-menu, .screening .dropdown-menu {
        max-width: 307px !important;
        min-width: 307px !important;
    } 
    .box-inner .bootstrap-select .dropdown-menu {
        min-width: 309px !important;
    } 
    .box-inner hr {
        margin-top: 8px;
        margin-bottom: 22px;
        border: 0;
        border-top: 1px solid #eee;
    }
</style>

<script src="@Url.Content("~/Scripts/moment.min.js")"></script>
<script src="@Url.Content("~/Scripts/fullcalendar.js")"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.3.1/fullcalendar.print.css" media="print" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.3.1/fullcalendar.min.css" />
<link href="@Url.Content("~/Content/users.min.css?v=1.3")" rel="stylesheet" />
<style>
    .mrl {
        margin-right: 8px !important;
    }
</style>
<div class="p-10"> 
</div>
<div class="p-30 p-t-none p-b-none">

    @if (!string.IsNullOrEmpty(Model.error_text))
    {
        <span id="alert" style="display:none;" data-class="@Model.alertclass" data-text="@Model.error_text"></span>
    } 
    <div class="box mainbox" style="display: none;" id="uploadslide">
        @using (Html.BeginForm("offer", "import", FormMethod.Post, new { @id = "frmsendsms", @enctype = "multipart/form-data" }))
        {
            <div class="box-inner"> 
                <div class="col-md-12">
                    <h3 class="pull-left panel-title" style="padding-left: 14px !important;    padding-top: 10px;">Upload Offers</h3>
                    <button type="button" class="close closebox" aria-label="Close" autocomplete="random"><span aria-hidden="true">×</span></button>
                </div>
                <div class="clearfix"></div>
                <hr class="mt9" />
                <div class="clearfix"></div>
                <div class="col-md-6">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label style="width:100%">Project</label>
                            <select class="selectpicker form-control " data-live-search="true" name="uplodproject" id="uplodproject">
                            </select>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label style="width:100%">client</label>
                            <select class="selectpicker form-control " data-live-search="true" name="uplodclient" id="uplodclient">
                            </select>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label style="width:100%">Rate</label>
                            <input type="text" class="form-control ratetext" required name="upclientRate" value="$0.00" id="upclientRate" />
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Client Manager</label>
                            <select class="selectpicker form-control" disabled data-live-search="true" name="uploadProject_manager" id="uploadProject_manager">
                            </select>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Project Manager</label>
                            <select class="selectpicker form-control" disabled data-live-search="true" name="uploadProject_manager1" id="uploadProject_manager1">
                            </select>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Dispatcher</label>
                            <select class="selectpicker form-control" data-live-search="true" name="upload_dispatcher" id="upload_dispatcher">
                            </select>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label style="width:100%" class="notcapital">Upload a CSV Formatted File:</label>
                            <div class="input-group input-group-file">
                                <span class="input-group-btn">
                                    <span class="btn btn-primary btn-file">
                                        Browse <input required type="file" id="files" accept=".csv" class="form-control" name="file">
                                    </span>
                                </span>
                                <input type="text" class="form-control" readonly="">
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label style="width:100%">Download Template:</label>
                            <a href="@Url.Content("~/csvfiles/offer.csv")" download="">  <img src="@Url.Content("~/Content/Images/csv.png?v=1.1")" style="width:80px;" /></a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label style="width:100%">Technician Rate</label>
                            <select multiple class="form-control filter" id="amount" name="amount">
                                <option value="1">$20.00 to $35.00</option>
                                <option value="2">$40.00 to $50.00</option>
                                <option value="3">$55.00 to $65.00</option>
                                <option value="4">$70.00 to up</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label style="width:100%">Screening</label>
                            <select class="form-control filter screening" multiple id="background" name="background">
                                <option value="No">Backgrouund</option>
                                <option value="Yes">Drug</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label style="width:100%">Skills</label>
                            <select class="form-control filter Skills" id="Skills" name="Skills" multiple>
                                @foreach (var item in Model._jskills)
                                {
                                    <option value="@item.SkillId">@item.Name</option>

                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label style="width:100%">Tools</label>
                            <select class="Tool form-control filter" id="tools" name="tools" multiple>
                                @foreach (var item in Model._jtools)
                                {
                                    <option value="@item.ToolId">@item.Name</option>

                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label style="width:100%">Distance</label>
                            <select class="selectpicker form-control filter" id="Distance" name="background">
                                <option value="50">50 miles from</option>
                                <option value="75">75 miles from</option>
                                <option value="100">100 miles from</option>
                                <option value="150">150 miles from</option>
                                <option value="200">200 miles from</option>
                                <option value="0">All</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label style="width:100%">Assign preference</label>
                            <select class="selectpicker form-control filter" id="Distribution" name="Distribution">
                                <option value="1">Auto</option>
                                <option value="2">Manual</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 sendoffer">
                        <div class="col-md-6 round ">
                            <input class="inputbox3" type="checkbox" id="email" /> Email
                            <label for="checkbox" class="cuschk email" data-id="email"></label>
                        </div>
                        <div class="col-md-6 round">
                            <input class="inputbox3" type="checkbox" id="sms" /> Text
                            <label for="checkbox" class="cuschk sms" data-id="sms"></label>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="col-md-12">

                    <div class="form-group col-md-12">
                        <div class="clearfix"></div>
                        <hr />
                        <div class="clearfix"></div>
                        <button type="submit" id="submit-file" class="btn btn-success"><i class="fas fa-cloud-upload-alt"></i> Import</button>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="box mainbox" style="display: none;" id="viewslide">
        @using (Html.BeginForm("job", "import", FormMethod.Post, new { @id = "frmsuploadjobs", @enctype = "multipart/form-data" }))
        {
            <div class="box-inner wdth240">
                <div class="col-md-12">
                    <h3 class="pull-left panel-title" style="padding-left: 0px !important;padding-top: 10px;">Action</h3>
                    <button type="button" class="close closebox" aria-label="Close" autocomplete="random"><span aria-hidden="true">×</span></button>
                    <input type="hidden" id="eventid" />
                </div>
                <div class="clearfix"></div>
                <hr class="mt9" />
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="form-group">
                        <a class="btn btn-complete btn-sm" onclick="view()" href="#"><i class="fa fa-eye"></i> View</a>
                    </div>
                </div>
                <div class="clearfix"></div> 
                <div class="col-md-12">
                    <div class="form-group">
                        <a class="btn btn-success btn-sm" onclick="edit()" href="#"><i class="fa fa-edit"></i> Edit</a>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="form-group">
                        <a class="btn btn-danger btn-sm" onclick="deletejob()" href="#"><i class="fa fa-trash"></i> Delete</a>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12" style="position:relative;margin-top:20%;">
                </div> 
            </div>
        }
    </div>
    <div class="modal fade" id="add-new-task" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add New Offer</h4>
                </div>
                @using (Html.BeginForm("add", "offer", FormMethod.Post, new { @class = "form-some-up", @id = "frmadd" }))
                {
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group col-md-4  com-sm-12">
                                <label style="text-transform:none;">ID</label>
                                @Html.TextBoxFor(a => a.JobId, new { @class = "form-control" })
                                @Html.ValidationMessageFor(a => a.JobId)
                            </div>
                            <div class="form-group  col-md-4  com-sm-12">
                                <label>Client</label>
                                <select class=" width100 form-control " data-live-search="true" name="client_id" id="client">
                                </select>
                            </div> <div class="form-group m-none   col-md-4  com-sm-12">
                                <label for="e20">Status</label>
                                <select name="Status" class="form-control selectpicker width100">
                                    <option value="1">New</option>
                                    <option value="2">Offered</option>
                                    <option value="1002">Assigned</option>
                                    <option value="4">Standby</option>
                                    <option value="5">Cancelled</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group  col-md-4  com-sm-12">
                                <label>Title</label>
                                @Html.TextBoxFor(a => a.title, new { @class = "form-control capitalize" })
                                @Html.ValidationMessageFor(a => a.title)
                            </div>
                            <div class="form-group  col-md-4  com-sm-12">
                                <label>Client Manager</label>
                                <select class="width100  form-control" data-live-search="true" name="mgr_id" id="Project_manager">
                                </select>
                                <input type="hidden" name="Technician" value="0" />
                            </div>
                            <div class="form-group col-md-4 col-lg-4 col-sm-12">
                                <label>Project</label>
                                <select class="  width100 form-control" data-live-search="true" name="projectId" id="projectId">
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group  col-md-4  com-sm-12">
                                <label>Date</label>
                                @Html.TextBoxFor(a => a.sdate, new { @class = "form-control datePicker" })
                                @Html.ValidationMessageFor(a => a.sdate)
                            </div>
                            <div class="form-group  col-md-4  com-sm-12">
                                <label>Project Manager</label>
                                <select class="width100  form-control" data-live-search="true" name="mgr_id1" id="Project_manager1">
                                </select>
                            </div>
                            <div class="form-group col-md-2 col-sm-12">
                                <label>Contact</label>
                                @Html.TextBoxFor(a => a.Contact, new { @class = "form-control" })
                            </div>
                            <div class="form-group col-md-2 col-sm-12">
                                <label>Phone</label>
                                @Html.TextBoxFor(a => a.Phone, new { @class = "form-control phonenumber", @maxlength = "12" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group  col-md-2  com-sm-12">
                                <label>Start Time</label>
                                @Html.TextBoxFor(a => a.stime, new { @class = "form-control timePicker" })
                                @Html.ValidationMessageFor(a => a.stime)
                            </div>
                            <div class="form-group  col-md-2  com-sm-12">
                                <label>End Time</label>
                                @Html.TextBoxFor(a => a.etime, new { @class = "form-control timePicker" })
                                @Html.ValidationMessageFor(a => a.etime)
                            </div>
                            <div class="form-group  col-md-4  com-sm-12">
                                <label>Dispatcher</label>
                                <select class="width100  form-control " data-live-search="true" name="Dispatcher" id="Dispatcher">
                                </select>
                            </div>
                            <div class="form-group  col-md-2 com-sm-12">
                                <label>Rate</label>
                                <input type="text" class="form-control ratetext" id="c_techrate" name="clientrate" />
                            </div><div class="form-group  col-md-2  com-sm-12">
                                <label>Pay</label>
                                <input type="text" class="form-control ratetext" id="techrate" name="techrate" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group  col-md-8  com-sm-12">
                                <label>Adress</label>
                                <input type="text" class="form-control" name="MapValidateAddress" id="MapValidateAddress" required />
                            </div>
                            <div class="form-group col-md-4 col-lg-4 col-sm-12">
                                <label>Suite / Apt. #</label>
                                @Html.TextBoxFor(a => a.suite, new { @class = "form-control", @id = "c_Suite" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group  col-md-12  com-sm-12">
                                <label>Description</label>
                                @Html.TextAreaFor(a => a.description, new { @class = "textarea-wysihtml5 form-control", @rows = "6" })
                                <input type="hidden" value="1" id="Validateadd" />
                                <input type="hidden" value="" id="Validateaddress" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="Formbutton" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-times-circle"></i> Close</button>

                    </div>

                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box mainbox customheight" style="display: none;" id="FilterSlide">
            @using (Html.BeginForm("offer", "import", FormMethod.Post, new { @id = "frmimport", @enctype = "multipart/form-data" }))
            {
                <div class="box-inner">
                    <div class="col-md-12">
                        <h3 class="pull-left panel-title" style="padding-left: 14px !important;    padding-top: 10px;">Open filters</h3>
                        <button type="button" class="close closebox" aria-label="Close" autocomplete="random"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="clearfix"></div>
                    <hr class="mt9" />
                    <div class="clearfix"></div>
                    <div class="col-md-12" id="Filter_date_div" style="display:@(!string.IsNullOrEmpty(Model.jdate)?"block":"none")">
                        <div class="col-md-9">
                            <div class="form-group">
                                <input type="text" name="date" id="date" value="@Model.jdate" class="form-control dateRangePicker" placeholder="Date range" style="width:200px;" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <button type="button" class="close" onclick="ClearText('date','date',true)" aria-label="Close" autocomplete="random"><span aria-hidden="true">×</span></button>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <div class="col-md-12" id="Filter_dispatcher_div" style="display:@(Model.jcDispatcher!=0?"block":"none")">
                        <div class="col-md-9">
                            <select class="FilterSelect  form-control" onchange="TriggerFilter()" data-live-search="true" name="cDispatcher" id="cDispatcher" data-width="fit">
                            </select>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="close  " onclick="ClearSingleDropDown('dispatcher','cDispatcher',true)" aria-label="Close" autocomplete="random"><span aria-hidden="true">×</span></button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12" id="Filter_pmanager_div" style="display:@(PmanagerId!=0?"block":"none")">
                        <div class="col-md-9">
                            <select class="FilterSelect form-control selectpicker" onchange="TriggerFilter()" data-live-search="true" name="cProjectManager" id="cProjectManager" data-width="fit">
                                <option value="0">Project Manager</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="close" onclick="ClearSingleDropDown('pmanager','cProjectManager',true)" aria-label="Close" autocomplete="random"><span aria-hidden="true">×</span></button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12" id="Filter_cmanager_div" style="display:@(cmanagerId!=0?"block":"none")">
                        <div class="col-md-9">
                            <select class="FilterSelect form-control selectpicker" onchange="TriggerFilter()" data-live-search="true" name="cClientManager" id="cClientManager" data-width="fit">
                                <option value="0">Client Manager</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="close" onclick="ClearSingleDropDown('cmanager','cClientManager',true)" aria-label="Close" autocomplete="random"><span aria-hidden="true">×</span></button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12" id="Filter_screening_div" style="display:@(screening!=0?"block":"none")">
                        <div class="col-md-9">
                            <select class="FilterSelect form-control selectpicker" onchange="TriggerFilter()" name="cScreening" id="Screening" data-width="fit">
                                <option value="0">Screening</option>
                                <option @(screening == 1 ? "selected" : "") value="1">Background</option>
                                <option @(screening == 2 ? "selected" : "") value="2">Drug</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="close" onclick="ClearSingleDropDown('screening','Screening',true)" aria-label="Close" autocomplete="random"><span aria-hidden="true">×</span></button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12" id="Filter_skills_div" style="display:@(((Skiil.Contains(0) && Skiil.Count() > 1) ||Skiil.Count() >0) ? "block" : "none")">
                        <div class="col-md-9">
                            <select class="form-control filter FilterSelect" data-width="fit" onchange="TriggerFilter()" multiple name="Skiil" id="Skiil">
                                @foreach (var item in Model._jskills)
                                {
                                    <option @(Skiil.Contains(item.SkillId) ? "selected" : "") value="@item.SkillId">@item.Name</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-3">
                            <button type="button" onclick="ClearMultiDropDown('skills','Skiil',true)" class="close" aria-label="Close" autocomplete="random"><span aria-hidden="true">×</span></button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12 pdtb-1520">
                        <div class="col-md-6 pull-left">
                            <button class="btn btn-default" type="button" onclick="getjobCalenderFilter('@Model.juserid')">Save view</button>
                        </div>
                        <div class="col-md-6 pull-right">
                            <a href="@Url.Action("index", "offer",new { type=2,srch=2})" class="btn btn-default pull-right">Clear search</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr class="mt9" />
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <h3 class="pull-left panel-title" style="padding-left: 14px !important;padding-bottom: 25px;padding-top:15px;">Available filters</h3>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12 sendoffer">
                        <div class="col-md-6 round ">
                            <input class="inputbox3" name="messagetype" value="1" style="display:@(!string.IsNullOrEmpty(Model.jdate)?"checked":"")" type="checkbox" id="chk_date" /> Date range
                            <label for="checkbox" class="FilterCheck @(!string.IsNullOrEmpty(Model.jdate)?"bck":"")" data-element="date" data-div="Filter_date_div" data-type="1" id="bck_chk_date" data-id="chk_date"></label>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <div class="col-md-12 sendoffer">
                        <div class="col-md-6 round ">
                            <input class="inputbox3" name="messagetype" style="display:@(Model.jcDispatcher!=0?"checked":"")" value="1" type="checkbox" id="chk_dispatcher" /> Dispatcher
                            <label for="checkbox" data-element="cDispatcher" data-div="Filter_dispatcher_div" data-type="2" class="FilterCheck @(Model.jcDispatcher!=0?"bck":"")" id="bck_chk_dispatcher" data-id="chk_dispatcher"></label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12 sendoffer">
                        <div class="col-md-6 round ">
                            <input class="inputbox3" name="messagetype" style="display:@(PmanagerId!=0?"checked":"")" value="1" type="checkbox" id="chk_pmanager" /> Project manager
                            <label for="checkbox" data-element="cProjectManager" data-div="Filter_pmanager_div" data-type="2" class="FilterCheck @(PmanagerId!=0?"bck":"")" id="bck_chk_pmanager" data-id="chk_pmanager"></label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12 sendoffer">
                        <div class="col-md-6 round ">
                            <input class="inputbox3" name="messagetype" style="display:@(cmanagerId!=0?"checked":"")" value="1" type="checkbox" id="chk_cmanager" /> Client manager
                            <label for="checkbox" data-element="cClientManager" data-div="Filter_cmanager_div" data-type="2" class="FilterCheck @(cmanagerId!=0?"bck":"")" id="bck_chk_cmanager" data-id="chk_cmanager"></label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12 sendoffer">
                        <div class="col-md-6 round ">
                            <input class="inputbox3" name="messagetype" style="display:@(screening!=0?"checked":"")" value="1" type="checkbox" id="chk_screening" /> Screening
                            <label for="checkbox" data-element="Screening" data-div="Filter_screening_div" data-type="2" class="FilterCheck @(screening!=0?"bck":"")" id="bck_chk_screening" data-id="chk_screening"></label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12 sendoffer">
                        <div class="col-md-6 round ">
                            <input class="inputbox3" name="messagetype" style="display:@(((Skiil.Contains(0) && Skiil.Count() > 1) ||Skiil.Count() > 0) ? "checked" : "")" value="1" type="checkbox" id="chk_skills" /> Skiil
                            <label for="checkbox" data-element="Skiil" data-div="Filter_skills_div" data-type="3" class="FilterCheck @(((Skiil.Contains(0) && Skiil.Count() > 1) ||Skiil.Count() > 0) ? "bck" : "")" id="bck_chk_skills" data-id="chk_skills"></label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            }
        </div>
        <div class="clearfix"></div>
        <div class="col-lg-12">
            <div class="panel m-b-0">
                <div class="panel-heading panel-heading-job">
                    <div class="col-md-6 col-sm-6">
                        <h3 class="panel-title flleft">
                            Offers
                        </h3>
                        <span style="display: @(Model.jisActiveFilter == true?"block":"none");margin-left: 8px;" id="filterpopup" class="flleft badge badge-success alert-success"> <i class="fa fa-check" aria-hidden="true"></i> Filter </span>
                    </div>
                    <div class="col-md-6 col-sm-6 topbuttondiv">
                        <a class="btn btn-success btn-sm pull-right" href="@Url.Action("index", "offer", new { type = 1 })">
                            <i class="fa fa-list"></i> List View
                        </a>
                        @if (Model.PERMISSIONS.Contains(3068))
                        {
                            <button class="btn btn-success btn-sm pull-right" style="margin-right:8px;" data-backdrop="static" data-toggle="modal"
                                    data-target="#add-new-task">
                                <i class="fa fa-plus"></i> Add New Offer
                            </button>

                        }
                        @if (Model.PERMISSIONS.Contains(3065))
                        {
                            <a class="btn btn-success btn-sm pull-right" style="margin-right:8px;" onclick="Uploadfile()" href="#">
                                <i class="fas fa-cloud-upload-alt"></i> Upload
                            </a>
                        }
                    </div>
                </div>
                @if (Model.PERMISSIONS.Contains(3070))
                {
                    <div class="panel-body p-none">

                        <div class="custom-col-md-12" id="filter_div" style="display:none;">
                            <table class="table table-hover filter_table_user filter_table nowrap no-footer table-ultra-responsive-custome">
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="text" class="form-control filter" value="@Model.jLocation" style="width:294px;margin-right:14px;" id="Filter_Location" name="Location" placeholder="Search by location..." />
                                        </td>

                                        <td>
                                            <select class="form-control filter FilterSelect" data-live-search="true" name="fprojectId" onchange="TriggerFilter()" id="fprojectId" data-width="fit">
                                            </select>
                                        </td>
                                        <td>
                                            <select class="form-control filter FilterSelect" data-live-search="true" name="cclient" onchange="TriggerFilter()" id="cclient" data-width="fit">
                                            </select>
                                        </td>
                                        <td>
                                            <select name="Status" class="form-control filter selectpicker FilterSelect" id="Status" onchange="TriggerFilter()" data-width="fit">
                                                <option @(Model.jcStatus == 0 ? "selected" : "") value="0">Status</option>
                                                <option @(Model.jcStatus == 1 ? "selected" : "") value="1">New</option>
                                                <option @(Model.jcStatus == 2 ? "selected" : "") value="2">Offered</option>
                                                <option @(Model.jcStatus == 1002 ? "selected" : "") value="1002">Assigned</option>
                                                <option @(Model.jcStatus == 4 ? "selected" : "") value="4">Standby</option>
                                                <option @(Model.jcStatus == 5 ? "selected" : "") value="5">Cancelled</option>
                                            </select>
                                        </td>
                                        <td class="MoreFilter" style="padding-top:16px !important;">
                                            <a href="#" onclick="FilterOpen()">More filter</a>
                                        </td>
                                        <td>
                                            <button class="btn btn-default" type="button" onclick="getjobCalenderFilter('@Model.juserid')">Save view</button>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("index", "offer",new { type=2,srch=2})" class="btn btn-default pull-right">Clear search</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                }
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12" id="jobcalendar">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&region=US&key=AIzaSyA1LyE18eEmk5UdDLezPmcOPF47Diugxls" type="text/javascript"></script>
<script type="text/javascript">
    $("#Formbutton").on("click", function () {
        $(".alertify-logs").html(''); if ($("#MapValidateAddress").val() == "") {
            alertify.log('Enter  address', 'error', 30000);
            return false;
        }
        if ($("#frmadd").valid()) {
            validateAddress("");
        }
    });
    function validateAddress(address) {
        $(".alertify-logs").html('');
        address = $("#MapValidateAddress").val(); if (address == "") {
            alertify.log('Google map cannot validate your address', 'error', 30000);
        } else {
            var _url = "https://maps.googleapis.com/maps/api/geocode/json?address=" + address + "&sensor=false&key=AIzaSyA1LyE18eEmk5UdDLezPmcOPF47Diugxls";
            $.get(_url, function (data) {
                if (data.results.length > 0) {
                    debugger;
                    var _newAddress3 = data.results[0].formatted_address.replace(", USA", "");
                    if (_newAddress3 == address) {
                        $(".alertify-logs").html('');
                        if ($("#frmadd").valid()) {
                            $("#frmadd").submit();
                        }
                    }
                    else {
                        $(".alertify-logs").html('');
                        alertify.log('Google map cannot validate your address', 'error', 30000);
                    }
                } else {

                    $(".alertify-logs").html('');
                    alertify.log('Google map cannot validate your address', 'error', 30000);
                }
            });
        }
    }
    function initialize() {
        $(".alertify-logs").html('');
        var defaultBounds = new google.maps.LatLngBounds(
            new google.maps.LatLng(-33.8902, 151.1759)
        );

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                (position) => {
                    const pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude,
                    };
                    defaultBounds = new google.maps.LatLngBounds
                        (new google.maps.LatLng(pos.lat, pos.lng));
                }
            );
        }

        var options1 = {
            types: ['geocode'], bounds: defaultBounds,
            componentRestrictions: { country: "us" }
        };


        var input1 = document.getElementById('MapValidateAddress');
        //var input3 = document.getElementById('Zipcode');
        var input2 = document.getElementById('Filter_Location');

        var autocomplete1 = new google.maps.places.Autocomplete(input1, options1);
        var autocomplete2 = new google.maps.places.Autocomplete(input2, options1);
        //var autocomplete3 = new google.maps.places.Autocomplete(input3, option3);

        google.maps.event.addListener(autocomplete1, 'place_changed', function () {
            var place = autocomplete1.getPlace();
            var _newAddress = place.formatted_address.replace(", USA", "");
            input1.value = _newAddress;
        });
        google.maps.event.addListener(autocomplete2, 'place_changed', function () {
            var place = autocomplete2.getPlace();
            var type = place.address_components[0].types;
            var _newAddress = "";
            if (type.indexOf("administrative_area_level_1") != -1 || type.indexOf("locality") != -1) {

                if (type.indexOf("administrative_area_level_1") != -1) {
                    _newAddress = place.address_components[0].short_name;
                }
                else if (type.indexOf("locality") != -1) {
                    _newAddress = place.formatted_address.replace(", USA", "");
                    var _newAddress1 = _newAddress.split(",");
                    _newAddress = _newAddress1[0] + ", " + _newAddress1[1].trim().split(" ")[0];
                } else {
                    _newAddress = place.formatted_address.replace(", USA", "");
                }
            } else {
                _newAddress = place.formatted_address.replace(", USA", "");
            }
            input2.value = _newAddress;
        });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
    document.addEventListener('DOMNodeInserted', function (event) {
        var target = $(event.target);
        if (target.hasClass('pac-item')) {
            target.html(target.html().replace(/, USA<\/span>$/, "</span>"));
        }
        $('.pac-target-input').attr('autocomplete', 'random');
    });
     var cclient = '@Model.jcclient';
    var cDispatcher = '@Model.jcDispatcher';
    var ProjectId = '@Model.jproject';
    var skillsSelected = "";
    var date = '@Model.jdate';
    var Location = '@Model.jLocation';
    var Status = '@Model.jcStatus';
    var PmanagerId = '@PmanagerId';
    var cmanagerId = '@cmanagerId';
    var _userId = '@Model.juserid';
</script> 
<script src="@Url.Content("~/Content/Offer/Calender.min.js")"></script>
<style>
    .daterangepicker.opensleft:after, .daterangepicker.opensleft:before {
        left: 308px !important;
        right: unset !important;
    }
</style>
