﻿
@{
    ViewBag.Title = "Offer";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 1;
    var state = (Dictionary<int, string>)ViewBag.select;
}
@model hrm.Models.job
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<style>
    #amount:hover {
        background-color: #F1F9FF;
    }

    .table.table-hover tbody tr:hover > td > #amount {
        background-color: #F1F9FF;
    }

    .dropdown-toggle, .multiselect-clear-filter {
        height: 42px !important;
    }

    .dropdown-menu {
        min-width: 212px;
    }

    .btn-default.active, .btn-default:active, .btn-default.active:focus, .btn-default:active:focus, .btn-default.active:hover, .btn-default:active:hover, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover, .open > .dropdown-toggle.btn-default.focus {
        background-color: white !Important;
        border-color: grey !important;
        color: #626262 !important;
        height: 42px;
    }

    .datePicker, .timePicker {
        position: relative;
        z-index: 1000;
    }

    .daterangepicker.opensleft:after, .daterangepicker.opensleft:before {
        left: 264px !important;
        right: unset !important;
    }

    .labelbox {
        display: block;
        padding-left: 15px;
        text-indent: -15px;
    }

    .techdiv {
        overflow-y: scroll;
        max-height: 250px;
        height: 250px;
    }

    .inputbox {
        width: 24px;
        height: 17px;
        padding: 0;
        margin: 0;
        vertical-align: bottom;
        position: relative;
        top: -1px;
        *overflow: hidden;
    }
</style>
<script>
    function sendMessage() {
        var id = $("#mainjid").val();
        var _body = $("#messagebox").val();
        if (_body == '') {
             alertify.log("Please write message", "error", 2000);
            return false;
        }
         var _url = "@Url.Action("Sendmessage","offer")";
        $.post(_url, { 'Comment': _body, 'JobID':id }, function (data) {
            $(".wysihtml5-editor").html('');
            alertify.log("Message Sent", "success", 2000);
        });
    }
</script>
<div class="p-10">
</div>
<div class="p-30 p-t-none p-b-none">
    <div id="filterpopup" style="display:@(Model.jisActiveFilter == true?"block":"none")" class="alert alert-success alert-dismissible" role="alert">
        Filter is Active
    </div>
    @if (!string.IsNullOrEmpty(Model.error_text))
    {
        <span id="alert" style="display:none;" data-class="@Model.alertclass" data-text="@Model.error_text"></span>
    }
    <div id="messagemodal" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog tablmodal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Notification</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="mainjid" />
                    <div class="row">
                        <div class="col-md-12">
                            <textarea class="form-control textarea-wysihtml5" rows="6" id="messagebox" placeholder="Please write text here...."></textarea>
                        </div>

                        <div class="clearfix"></div>
                        <div class="col-md-12 text-right m-t-10">
                            <button type="button" onclick="sendMessage()" class="btn btn-success"><i class="fa fa-send"></i> Post</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row" id="notificationmodal">
                    </div>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-times-circle"></i> Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel m-b-0">
                <div class="panel-heading panel-heading-job">
                    <div class="col-md-6 col-sm-6">
                        <h3 class="panel-title">
                            Offer List
                        </h3>
                    </div>
                    <div class="col-md-6 col-sm-6 topbuttondiv">
                        @if (Model.PERMISSIONS.Contains(3072))
                        {
                            <a class="btn btn-success btn-sm pull-right" href="@Url.Action("index", "offer", new { type = 2 })">
                                <i class="fa fa-calendar"></i> Calendar View
                            </a>
                        }
                    </div>
                </div>
                @if (Model.PERMISSIONS.Contains(3070))
                {
                    <div class="panel-body p-none">
                        <div class="custom-col-md-12" id="filter_div" style="display:none;">
                            @using (Html.BeginForm("index", "offer", FormMethod.Post, new { @class = "form-some-up", @id = "frmsendsms" }))
                            {
                                <table class="table table-hover filter_table_job filter_table nowrap no-footer table-ultra-responsive-custome">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="">
                                                    <input type="text" name="date1" class="form-control dateRangePicker" style="width:200px;" />
                                                    <input type="hidden" id="date" name="date" />
                                                </div>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control filter" value="@Model.jLocation" style="width:294px;" id="Filter_Location" name="Location" placeholder="Search address or City, State" />
                                            </td>
                                            <td style="display:@(!Model.issubcontractor?"block":"none")">
                                                <select class="selectpicker form-control " data-live-search="true" name="cclient" id="cclient">
                                                </select>
                                            </td>

                                            <td style="display:@(!Model.issubcontractor?"block":"none")">
                                                <select class="selectpicker form-control " data-live-search="true" name="cDispatcher" id="cDispatcher">
                                                </select>
                                            </td>
                                            <td>
                                                <select name="Status" class="form-control selectpicker" id="Status">
                                                    <option @(Model.jcStatus == 0 ? "selected" : "") value="0">Status</option>
                                                    <option @(Model.jcStatus == 1 ? "selected" : "") value="1">New</option>
                                                    <option @(Model.jcStatus == 2 ? "selected" : "") value="2">Offered</option>
                                                    <option @(Model.jcStatus == 1002 ? "selected" : "") value="2">Assigned</option>
                                                    <option @(Model.jcStatus == 4 ? "selected" : "") value="4">Standby</option>
                                                    <option @(Model.jcStatus == 5 ? "selected" : "") value="5">Cancelled</option>
                                                </select>
                                            </td>
                                            <td>
                                                <button class="btn btn-default" type="button" onclick="FilterTable()"><i class="fa fa-search"></i></button>
                                            </td>
                                            <td>
                                                <a href="#" onclick="ClearFilter()" class="btn btn-default pull-right">Clear Search</a>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
                            }
                        </div>
                    </div>
                }
                <div class="clearfix"></div>
                <div class="panel-body p-none">
                    <div class="table-ultra-responsive" style="overflow-y: hidden;overflow-x:scroll">
                        <table class="table data-table nowrap table-hover table-condensed dataTable no-footer" id="table">
                            <thead>
                                <tr role="row">
                                    <th style="text-transform:uppercase;">ID</th>
                                    <th>Title</th>
                                    <th>Dispatcher</th>
                                    <th>City</th>
                                    <th>State</th>
                                    <th>Date</th>
                                    <th>Start</th>
                                    <th>End</th>
                                    <th>Message</th>
                                    <th>Pay rate</th>
                                    <th>Status</th>

                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&region=US&key=AIzaSyA1LyE18eEmk5UdDLezPmcOPF47Diugxls" type="text/javascript"></script>
<script type="text/javascript">
    $(".cuschk").on("click", function () {
        var id = $(this).data("id");
        if ($(this).hasClass("bck")) {
            $("#" + id).attr("checked", false);
            $(this).removeClass("bck");
        } else {
            $("#" + id).attr("checked", true);
            $(this).addClass("bck");
        }
    });
    $("#Formbutton").on("click", function () {
        $(".alertify-logs").html('');
        if ($("#frmadd").valid()) {
            validateAddress("");
        }
    });
    function validateAddress(address) {
        $(".alertify-logs").html('');
        address = $("#MapValidateAddress").val();
        var _url = "https://maps.googleapis.com/maps/api/geocode/json?address=" + address + "&sensor=false&key=AIzaSyA1LyE18eEmk5UdDLezPmcOPF47Diugxls";
        $.get(_url, function (data) {
            if (data.results.length > 0) {
                debugger;
                var _newAddress3 = data.results[0].formatted_address.replace(", USA", "");
                if (_newAddress3 == address) {
                    $(".alertify-logs").html('');
                    if ($("#frmadd").valid()) {
                        $("#frmadd").submit();
                    }
                }
                else {
                    $(".alertify-logs").html('');
                    alertify.log('Google map cannot validate your address', 'error', 30000);
                }
            } else {

                $(".alertify-logs").html('');
                alertify.log('Google map cannot validate your address', 'error', 30000);
            }
        });
    }

    function initialize() {
        $(".alertify-logs").html('');
        var defaultBounds = new google.maps.LatLngBounds(
            new google.maps.LatLng(-33.8902, 151.1759)
        );

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                (position) => {
                    const pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude,
                    };
                    defaultBounds = new google.maps.LatLngBounds
                        (new google.maps.LatLng(pos.lat, pos.lng));
                }
            );
        }

        var options1 = {
            types: ['geocode'], bounds: defaultBounds,
            componentRestrictions: { country: "us" }
        };
         
        //var input3 = document.getElementById('Zipcode');
        var input2 = document.getElementById('Filter_Location');
         
        var autocomplete2 = new google.maps.places.Autocomplete(input2, options1);
        //var autocomplete3 = new google.maps.places.Autocomplete(input3, option3);
 
        google.maps.event.addListener(autocomplete2, 'place_changed', function () {
            var place = autocomplete2.getPlace();
            var type = place.address_components[0].types;
            var _newAddress = "";
            if (type.indexOf("administrative_area_level_1") != -1 || type.indexOf("locality") != -1) {

                if (type.indexOf("administrative_area_level_1") != -1) {
                    _newAddress = place.address_components[0].short_name;
                }
                else if (type.indexOf("locality") != -1) {
                    _newAddress = place.formatted_address.replace(", USA", "");
                    var _newAddress1 = _newAddress.split(",");
                    _newAddress = _newAddress1[0] + ", " + _newAddress1[1].trim().split(" ")[0];
                } else {
                    _newAddress = place.formatted_address.replace(", USA", "");
                }
            } else {
                _newAddress = place.formatted_address.replace(", USA", "");
            }
            input2.value = _newAddress;
        });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
    document.addEventListener('DOMNodeInserted', function (event) {
        var target = $(event.target);
        if (target.hasClass('pac-item')) {
            target.html(target.html().replace(/, USA<\/span>$/, "</span>"));
        }
        $('.pac-target-input').attr('autocomplete', 'random');
    });
</script>
<script>



    var pageSize = 25;
    var otable;
    var viewpermission = '@Model.PERMISSIONS.Contains(3071).ToString().ToUpper()';
    var editpermission = '@Model.PERMISSIONS.Contains(3066).ToString().ToUpper()';
    var deletepermission ='@Model.PERMISSIONS.Contains(3067).ToString().ToUpper()';
    var citySelected = "";
    var searchtype = 0;
    function ClearFilter() { 
        searchtype = 2; 
      $("#date").val(''); 
      $("#cclient").val('0');
        $("#Filter_Location").val('');
        $("#cDispatcher").val('0');
       $("#Status").val('0');
        $('.selectpicker').selectpicker('refresh');
        $("#filterpopup").css("display", "none");
        otable.draw(true);
    }

    function FilterTable() {
        $("#filterpopup").css("display", "block");
        searchtype = 1; 
otable.draw(true); 
    }

    $(document).ready(function () {
    
        otable = $('.data-table').DataTable({
            "processing": true,
            "serverSide": true,
            'language': {
            'loadingRecords': '&nbsp;',
            'processing': "<img src='@Url.Content("~/Content/Images/loader.gif")'> Loading..."
        },
            "iDisplayLength": 25,
            "order": [],
            "bSort": false,
            "bFilter": true,
            "ajax": {
                "url": "@Url.Action("Fetchuserjobs", "offer")",
                  "data": function (d) {
                        d.date = $("#date").val(); 
                        d.Location = $("#Filter_Location").val();
                        d.cclient = $("#cclient").val();
                        d.cDispatcher = $("#cDispatcher").val();
                        d.Status = $("#Status").val();  
                        d.searchtype = searchtype;
                    }
            },
            "aoColumns": [
              {
                    bSortable: false,
                    mRender: function (data, type, full) {
                        return '<span>' + full.Job_ID + '</span>';
                    }
                },
                 {
                    bSortable: false,
                    mRender: function (data, type, full) {
                        if (viewpermission == "TRUE" && (full.Status == "Available" || full.Status =="Accepted")) {
                            return '<a  href="/offer/view?token=' + full.token + '">' + full.Title+'</a>';
                        }
                        else {
                            return '<a href="#" class="disabledbtn" data-msg="you are not authorized to view selected offer as its already dispatched">'+ full.Title+'</a>';
                        }
                    }
                },
                {
                    bSortable: false,
                    mRender: function (data, type, full) {
                            return '<p id="member_'+full.JobID+'">'+full.Dispatcher+'</p>';

                    }
                },
                { mData: "cityname" },
                { mData: "statename" },

                { mData: "sdate" },
                { mData: "stime" },
                            { mData: "etime" },
             {
                    bSortable: false,
                    mRender: function (data, type, full)
                    {
                     var _chatbody = "<span id='commentbadge_"+full.JobID +"' class='notification' data-id='" + full.JobID + "'>"+full.commentCount+"</span>";
                        if (full.commentCount=="0") {
                            _chatbody = "<span id='commentbadge_"+full.JobID +"' class='notification' data-id='" + full.JobID + "'>--</span>";
                        }
                            return _chatbody;
                   },
                    className: "centertext",
                },
                {
                    bSortable: false,
                    mRender: function (data, type, full)
                    {
                            return "<span id='rate_"+full.JobID+"'>"+full.Pay_rate+"</span>";
                    }
                },

                 {
                    bSortable: false,
                    mRender: function (data, type, full)
                    {
                        return "<span id='spn_" + full.JobID + "' data-statusid='" + full.status_id + "' data-memberid='" + full.JobID + "' class='stupdater " + full.Status.replace(" ", "").toLowerCase()+"'>"+full.Status+"</span>";
                    }
                }

            ]
        });
    });
</script>
<script>
    $("#JobId").on("change", function (e) {
        var _url = "@Url.Action("validatejobId","offer")";
        var jobid = $("#JobId").val();
        $.get(_url, { 'id': jobid }, function (data) {
            if (data == 'True') {
                return true;
            } else {
                 alertify.log('OfferId '+jobid+' already in use', 'error', 5000);
              $("#JobId").val('');
                return false;
            }
        });
    });
     function getClientrate(cntrl,rateCntrl) {
        var client = $("#"+cntrl).val();
        if (client != 0) {
            var _url = "@Url.Action("get_client_rate","client")"+"?id="+client;
            $.get(_url, function (data) {
                $("#"+rateCntrl).val(data);
            });
        } else {
            $("#"+rateCntrl).val("$1");
        }
    }
    function getrateTechnician() {
        var memberid = $("#Technician").val();
        if (memberid != 0) {
            var _url = "@Url.Action("get_member_rate","member")" + "?id=" + memberid;
            $.get(_url, function (data) {
                $("#techrate").val(data);
            });
        } else {
            $("#techrate").val("$0.00");
        }
    }
       function updatestatus() {
        var nid = $("#mid").val();
           var nsid = $("#mstatusid").val();
           if (nsid == 0) {
               alertify.log('please select Offer status', 'error', 5000);
               return false;
           }
        var _url = "@Url.Action("update_status","offer")";
        $.get(_url, { 'id': nid, 'statusid': nsid }, function () {
            var _txt = $("#mstatusid").find("option:selected").text();
        var cls=$("#spn_" + nid).html();
              $("#spn_" + nid).html(_txt);
               $("#spn_" + nid).removeClass(cls.replace(" ", "").toLowerCase()).addClass(_txt.toLowerCase().replace(" ", "").toLowerCase());
               $('#mdlstatus').modal('hide');
             alertify.log('Offer status updated succesfully', 'success', 5000);
        });
    }

    $(document).ready(function () {
        $("#table").on("click", ".cdelete", function (e) {
            e.preventDefault();
            var id = this.id;
            bootbox.confirm("Are you sure?", function (result) {
                if (result) {
                    var _url = "@Url.Action("index","offer")";
                    window.location.href = _url + "?id=" + id;
                }
            });
        });
        $("#table").on("click", ".stupdater", function (e) {
            e.preventDefault();
            var statusid = $(this).data("statusid");
            var memberId = $(this).data("memberid");

            $("#mid").val(memberId);
            $("#mstatusid").val(statusid);
            $('#mstatusid').selectpicker('refresh');
            $('#mdlstatus').modal('show');

        });
        $("#table").on("click", ".notification", function (e) {
            e.preventDefault();
            var id = $(this).data("id");
            var _url = "@Url.Action("getnotificationsmember","offer")";
            $.get(_url, { 'jobid': id }, function (data) {
                $("#notificationmodal").html(data);
                $("#mainjid").val(id);
                $('#messagemodal').modal('show');
            });
        });
            $("#table").on("click", ".assign", function (e) {
            e.preventDefault();
            var jobid = $(this).data("jobid");
            $('#assignjobid').val(jobid);
            $("#assignmemberrate").val('');
            $("#assigncity_id").html('<option value="0">City</option>').attr('disabled', true).selectpicker('refresh');
            $("#assignTechnician").html('<option value="0">Technician</option>').attr('disabled', true).selectpicker('refresh');
            $('#assigntech').modal('show');
        });

        get_client('cclient', '@Model.jcclient');
        get_client(0);
            function get_client(client, clientid) {
                var dataString = 'ismulti=0&clientid=' + clientid;
                $.ajax
                    ({
                        type: "POST",
                        url: '@Url.Action("get_all_clients","default")',
                        data: dataString,
                        cache: false,
                        success: function (data) {
                            $("#" + client).html('').removeClass("selectpicker").append($.parseHTML(data)).addClass("selectpicker").selectpicker('refresh').removeAttr('disabled');
                            $(".selectpicker").selectpicker('refresh');
                        }
                    });

        }
         function get_clientTwo( clientid) {
                var dataString = 'ismulti=0&clientid=' + clientid;
                $.ajax
                    ({
                        type: "POST",
                        url: '@Url.Action("get_all_clients","default")',
                        data: dataString,
                        cache: false,
                        success: function (data) {
                            $("#uplodclient").html('').removeClass("selectpicker").append($.parseHTML(data)).addClass("selectpicker").selectpicker('refresh').removeAttr('disabled');
                            $("#client").html('').removeClass("selectpicker").append($.parseHTML(data)).addClass("selectpicker").selectpicker('refresh').removeAttr('disabled');
                            $(".selectpicker").selectpicker('refresh');
                        }
                    });

            }
            $("#client").change(function () {
                var id = $(this).val();
                if (id != 0) {
                    var dataString = 'id=' + id;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_manager_by_clientid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                               
                                $("#Project_manager").html('').removeClass("selectpicker").append($.parseHTML(data)).addClass("selectpicker").selectpicker('refresh').removeAttr('disabled');
                                $(".selectpicker").selectpicker('refresh');
                            }
                        });
                } else {
                    $("#Project_manager").html('<option value="0">Manager</option>').attr('disabled', true).selectpicker('refresh');
                }
                getClientrate('client', 'c_techrate');
            });

            $("#uplodclient").change(function () {
                var id = $(this).val();
                if (id != 0) {
                    var dataString = 'id=' + id;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_manager_by_clientid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) { 
                                $("#uploadProject_manager").html('').removeClass("selectpicker").append($.parseHTML(data)).addClass("selectpicker").selectpicker('refresh').removeAttr('disabled');
                                $(".selectpicker").selectpicker('refresh');
                            }
                        });
                } else {
                    $("#uploadProject_manager").html('<option value="0">Manager</option>').attr('disabled', true).selectpicker('refresh');
                }
                getClientrate('uplodclient', 'upclientRate');
            });

            get_Manager_selectbyid('Dispatcher', 'Dispatcher', 0, 'D');
            get_Manager_selectbyid('Dispatcher', 'cDispatcher', '@Model.jcDispatcher', 'D');

            function get_Manager_selectbyid(_val, cntrlId, memberid, type) {
                var dataString = 'optvalue=' + _val + "&memberid=" + memberid + "&type=" + type;
                $.ajax
                    ({
                        type: "POST",
                        url: '@Url.Action("get_all_member","default")',
                        data: dataString,
                        cache: false,
                        success: function (data) {
                           
                            $("#" + cntrlId).html('').removeClass("selectpicker").append($.parseHTML(data)).addClass("selectpicker").selectpicker('refresh').removeAttr('disabled');
                            $(".selectpicker").selectpicker('refresh');
                        }
                    });

            } 

            $("#assignstate_id").change(function () {
                var id = $(this).val();
                if (id != 0) {
                    var dataString = 'id=' + id;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_city_by_stateid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) { 
                                $("#assigncity_id").html('').removeClass("selectpicker").append($.parseHTML(data)).addClass("selectpicker").selectpicker('refresh').removeAttr('disabled');
                                $(".selectpicker").selectpicker('refresh');
                            }
                        });
                } else {
                    $("#assigncity_id").html('<option value="0">City</option>').attr('disabled', true).selectpicker('refresh');
                }
            });
            $("#assigncity_id").on("change", function () {
                var id = $(this).val();
                if (id != 0) {
                    var dataString = 'cityid=' + id + "&optvalue=Technician";
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_selcted_member_bycity","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#assignTechnician").html('').removeClass("selectpicker").append($.parseHTML(data)).addClass("selectpicker").selectpicker('refresh').removeAttr('disabled');
                                $(".selectpicker").selectpicker('refresh');
                                
                            }
                        });
                } else {
                    $("#assignTechnician").html('<option value="0">Technician</option>').attr('disabled', true).selectpicker('refresh');
                }
            });

        });


        function getrate() {
        var memberid = $("#assignTechnician").val();
        if (memberid != 0) {
            var _url = "@Url.Action("get_member_rate","member")"+"?id="+memberid;
            $.get(_url, function (data) {
                $("#assignmemberrate").val(data);
            });
        } else {
            $("#assignmemberrate").val("$0");
        }
    }
      function Uploadfile() {
              $('#upload').modal('show');
    }
       $(window).load(function () {

         setInterval(function(){  $("#filter_div").css("display", "block"); }, 1500);
    });


</script>

@if (!string.IsNullOrEmpty(Model.jdate))
{
    <script>
        var d = '@Model.jdate';
        var ds = d.split('-');
    function cb(start, end) {
        $('.dateRangePicker').val(start + ' - ' + end);
         //$("#date").val(start + ' - ' + end);
    }
        $('.dateRangePicker').daterangepicker({
            opens: 'left',
            autoUpdateInput: false
        }, cb);
      cb(ds[0],ds[1]);
         $('.dateRangePicker').on('apply.daterangepicker', function(ev, picker) {
      $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
             $("#date").val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
         });

    </script>
}
else
{
    <script>
        var start = moment();
        var end = moment().add(30, 'days');
        function cb(start, end) {
            $('.dateRangePicker').val(start.format('MM/DD/YYYY') + ' - ' + end.format('MM/DD/YYYY'));
            //$("#date").val(start.format('MM/DD/YYYY') + ' - ' + end.format('MM/DD/YYYY'));
        }
        $('.dateRangePicker').daterangepicker({
            opens: 'left',
            autoUpdateInput: false
        }, cb);

        cb(start, end);
        $('.dateRangePicker').on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
            $("#date").val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
        });

    </script>


}
