﻿
@{
    ViewBag.Title = "Offer View";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int type = ViewBag.type == null ? 1 : (int)ViewBag.type;
    int oferid = (int)ViewBag.offerid;
    int viewtype = ViewBag.viewtype == null ? 1 : (int)ViewBag.viewtype;
    hrm.Database.Crypto _crypt = new hrm.Database.Crypto();
    string jobid = _crypt.EncryptStringAES(Model.JobID.ToString());
    string offerid = _crypt.EncryptStringAES(oferid.ToString());
    bool issubtractor =(bool) ViewBag.issubcontractor;
    bool isoffered =(bool) ViewBag.isoffered;
}
@model hrm.Models.job_items1
@helper getCommentByHelper(string comment, int id, int jobid, bool isread)
{
    System.Text.RegularExpressions.Regex rx = new System.Text.RegularExpressions.Regex("<[^>]*>");
    if (!string.IsNullOrEmpty(comment))
    {
        var _oldvalue = comment;//orignal value with html
        var _newvalue = comment;//removing html
        _newvalue = rx.Replace(_oldvalue, "");//html removed
        var text = _newvalue.Count() > 100 ? _newvalue.Substring(0, 100) : _newvalue;// substring
        var text1 = _newvalue.Count() > 100 ? _newvalue.Substring(100) : _newvalue;// substring
        comment = comment.Replace(_newvalue, text);
          comment = rx.Replace(comment, "");//html removed
        _oldvalue = _oldvalue.Replace(_newvalue, text1);
        if (_newvalue.Count() > 100)
        {
            <span class="parentcomment @(isread ? "" : "unread unread2") offer" data-id="@id" data-jobid="@jobid">@Html.Raw(comment)</span>
            <span class="childcommentcomment hide @(isread ? "" : "unread unread2") offer" data-id="@id" data-jobid="@jobid">@Html.Raw(_oldvalue)</span>
        }
        else
        {
            <span class="parentcomment @(isread ? "" : "unread unread2") offer" data-id="@id" data-jobid="@jobid">@Html.Raw(comment)</span>
            <span class="childcommentcomment hide @(isread ? "" : "unread unread2") offer" data-id="@id" data-jobid="@jobid"></span>

        }
    }
    else
    {

    }

}
<style>
    .round label {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 50%;
        cursor: pointer;
        height: 17px;
        left: 1px;
        position: absolute;
        top: 5px;
        width: 17px;
    }

    .round {
        position: relative;
        padding-bottom: 17px;
        padding-top: 2px;
    }



        .round label:after {
            border: 2px solid #fff;
            border-top: none;
            border-right: none;
            content: "";
            height: 6px;
            left: 4px;
            opacity: 0;
            position: absolute;
            top: 5px;
            transform: rotate(-45deg);
            width: 12px;
        }

    .bcklabel {
        font-size: 14px !important;
        padding-top: 0px;
    }

    .hdr {
        background: #F7F8FA;
        color: black;
        margin-bottom: 10px;
        border: 1px solid rgba(230, 230, 230, 0.7);
    }



    .round input[type="checkbox"] {
        visibility: hidden;
    }

        .round input[type="checkbox"]:checked + label {
            background-color: var(--blue);
            border-color: var(--blue);
        }

    .bck {
        background-color: var(--blue) !important;
        border-color: var(--blue) !important;
    }

        .bck:after {
            border: 2px solid #fff !important;
            border-top: none !important;
            border-right: none !important;
            content: "" !important;
            height: 6px !important;
            left: 3px !important;
            opacity: 1 !important;
            position: absolute !important;
            top: 3px !important;
            transform: rotate(-45deg) !important;
            width: 10px !important;
        }

    .round input[type="checkbox"]:checked + label:after {
        opacity: 1;
    }

    .box-inner .round input[type=checkbox], input[type=radio], .Confirmationbox input[type=checkbox], input[type=radio] {
        margin: 4px 4px 0 !important;
    }

    .col-lg-9 {
        padding-left: 0px !important;
    }

    .col-lg-3 {
        padding-right: 8px !important;
    }
    .customhrjob {
        margin-top: 0px !important;
        margin-bottom: 20px !important;
    }

    .pl-20 {
        padding-left: 20px !important;
    }
</style><div class="p-10">
    @*<h2 class="page-title">Manage Job
        </h2>*@
</div>
        <div class="p-30 p-t-none p-b-100">
            @if (!string.IsNullOrEmpty(Model.error_text))
            {
                <span id="alert" style="display:none;" data-class="@Model.alertclass" data-text="@Model.error_text"></span>
            }
            <div class="row">
                <div class="col-lg-3">
                    <div class="panel">
                        <div class="panel-heading formpanel-heading">
                            <div class="col-md-4 col-sm-4">
                                <h3 class="panel-title">
                                    Offer Info
                                </h3>
                            </div>
                            <div class="col-md-8 col-sm-8 topbuttondiv">
                                @if (!issubtractor)
                                {
                                    if (Model.Status != 1002)
                                    {<a class="btn btn-default btn-sm pull-left" href="@Url.Action("update_subjob", "offer", new { jtoken = jobid, type = 4, token = offerid, btn = 5 })">
                                            <i class="fas fa-times-circle"></i> Decline
                                        </a>
                                        <a class="btn btn-success btn-sm pull-right" href="@Url.Action("update_subjob", "offer", new { jtoken = jobid, type = 4, token = offerid, btn = 4 })">
                                            <i class="fa fa-check"></i> Accept
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-success btn-sm pull-right disabledbtn" href="#" data-msg="Offer already Assigned">
                                            <i class="fa fa-check"></i> Accept
                                        </a>
                                    }
                                }
                                else
                                {
                                    if (isoffered)
                                    {
                                        if (Model.Status != 1002)
                                        {<a class="btn btn-default btn-sm pull-left" href="@Url.Action("update_subjob", "offer", new { jtoken = jobid, type = 4, token = offerid, btn = 5 })">
                                                <i class="fas fa-times-circle"></i> Decline
                                            </a>
                                            <a class="btn btn-success btn-sm pull-right" href="@Url.Action("update_subjob", "offer", new { jtoken = jobid, type = 4, token = offerid, btn = 4 })">
                                                <i class="fa fa-check"></i> Accept
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-success btn-sm pull-right disabledbtn" href="#" data-msg="Offer already Assigned">
                                                <i class="fa fa-check"></i> Accept
                                            </a>
                                        }
                                    }
                                }
                            </div>
                        </div>
                        <div class="panel-body">

                            @using (Html.BeginForm("edit", "offer", FormMethod.Post, new { @id = "frmsendsms", @enctype = "multipart/form-data" }))
                            {

                                <div class="form-group" style="display:none;">
                                    <label>Date</label>
                                    @Html.TextBoxFor(a => a.sdate, new { @class = "form-control", @readonly = "" })
                                    @Html.HiddenFor(a => a.JobID)
                                </div>

                                <div class="form-group" style="display:none;">
                                    <label>Start Time</label>
                                    @Html.TextBoxFor(a => a.stime, new { @class = "form-control", @readonly = "" })

                                </div>
                                <div class="form-group" style="display:none;">
                                    <label>End Time</label>
                                    @Html.TextBoxFor(a => a.etime, new { @class = "form-control", @readonly = "" })
                                </div>

                                <div class="form-group">
                                    <label>Rate</label>
                                    @Html.TextBoxFor(a => a.pay_rate, new { @class = "form-control ratetext", id = "techrate", @readonly = "readonly" })
                                </div>
                                <div class="form-group">
                                    <label>Dispatcher</label>
                                    <select class=" width100 form-control " disabled data-live-search="true" name="Dispatcherid" id="Dispatcher">
                                        <option value="0">Dispatcher</option>
                                    </select>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <div class="col-lg-9">

                    <div class="panel">
                        <div class="panel-heading formpanel-heading">
                            <div class="col-md-6 col-sm-6">
                                <h3 class="panel-title">
                                    Offer Management
                                </h3>
                            </div>
                            <div class="col-md-6 col-sm-6 topbuttondiv">
                                <a class="btn btn-success btn-sm pull-right" href="@Url.Action("index","offer",new {type=viewtype })">
                                    <i class="fa fa-arrow-left"></i> Offer List
                                </a>

                            </div>
                        </div>

                        <div class="p-30 p-t-none p-b-none">
                            <div class="row">
                                <div class="col-lg-12">
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="@(type==1?"active":"")"><a href="#task_details" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">Detail</a></li>
                                        <li role="presentation" class="@(type==2?"active":"")"><a href="#task_discussion" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">Discussion  <span style="display:@(Model.msgcount>0?"inline-block":"none")" id='commentbadge_@Model.JobID' data-id='@Model.JobID' class="badge badge-danger notification"> @Model.msgcount</span></a></li>
                                        <li role="presentation" class="@(type==5?"active":"")"><a href="#task_tools" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false">Tool</a></li>
                                        <li role="presentation" class="@(type==6?"active":"")"><a href="#task_skills" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false">Skill</a></li>
                                        @if (issubtractor)
                                        {
                                            <li role="presentation" class="@(type==4?"active":"")"><a href="#task_offers" aria-controls="offers" role="tab" data-toggle="tab" aria-expanded="false"> Technician</a></li>
                                        }
                                    </ul>

                                    <!-- Tab panes -->
                                    <div class="tab-content p-20">
                                        <div role="tabpanel" class="tab-pane @(type==1?"active":"")" id="task_details">

                                            <table class="table table-condensed-slim" style="margin-bottom:-16px;">
                                                <thead>
                                                    <tr>
                                                        <th>Offer ID</th>
                                                        <th>Address</th>
                                                        <th>Offer Title</th>
                                                        <th>Date</th>
                                                        <th>Start Time</th>
                                                        <th>End Time</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>@Model.Job_ID</td>
                                                        <td>@Html.Raw(Model.address)</td>
                                                        <td>@Model.Title</td>
                                                        <td>@Model.sdate</td>
                                                        <td>@Model.stime</td>
                                                        <td>@Model.etime</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <hr />
                                            <div class="form-group pl-20">
                                                <label class="detaillabel">Offer Description</label>
                                                <p class="graytext">@(string.IsNullOrEmpty(Model.description) ? Html.Raw("<p></p>") : Html.Raw(Model.description))</p>
                                            </div>
                                            <hr class="customhrjob" />
                                            <div class="form-group pl-20">
                                                <label class="detaillabel">Instruction</label>
                                                <p class="graytext">@(string.IsNullOrEmpty(Model.Instruction) ? Html.Raw("<p></p>") : Html.Raw(Model.Instruction))</p>
                                            </div>

                                            <hr />  <div class="form-group col-md-3">
                                                <label class="detaillabel">Contact</label>
                                                <p class="graytext"> @Model.Contact</p>
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label class="detaillabel">Phone</label>
                                                <p class="graytext"> @Model.Phone</p>
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label class="detaillabel">Dispatcher</label>
                                                <p class="graytext"> @Model.Dispatcher</p>
                                            </div>
                                        </div>
                                        <div role="tabpanel" class="tab-pane @(type==2?"active":"")" id="task_discussion">
                                            @using (Html.BeginForm("update", "offer", FormMethod.Post, new { @id = "frmsendsms" }))
                                            {
                                                <div class="row">
                                                    <div class="form-group">
                                                        <label>Leave Comment</label>
                                                        @Html.TextAreaFor(a => a.Comment, new { @class = "textarea-wysihtml5 form-control", @rows = "7" })
                                                        <input type="hidden" name="type" value="2" />
                                                        @Html.HiddenFor(a => a.JobID)
                                                    </div>
                                                    <div class="col-md-12">
                                                        <button type="submit" class="btn btn-success pull-right"> <i class="fa fa-send"></i> Post</button>

                                                    </div>
                                                </div>
                                            }
                                            <br>
                                            <hr>
                                            <table class="table data-table table-hover table-ultra-responsive dataTable no-footer">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 25%;">User</th>
                                                        <th style="width: 55%;">Comment</th>
                                                        <th style="width: 20%;">Last Update</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model._Comments)
                                                    {
                                                        <tr>
                                                            <td nowrap style="width: 25%;">@item.createdby</td>
                                                            <td style="width: 55%;">@getCommentByHelper(item.Comment, item.Commentid, Model.JobID, item.isread)</td>
                                                            <td nowrap style="width: 20%;">@item.CreatedDate</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                        <div role="tabpanel" class="tab-pane @(type==5?"active":"")" id="task_tools">
                                            @using (Html.BeginForm("edit_tools", "offer", FormMethod.Post, new
                                            {
                                                @id = "toolsform",
                                                @enctype = "multipart/form-data"
                                            }))
                                            {
                                                int cnt = 1;
                                                @Html.HiddenFor(a => a.token, new { @id = "toolsteken" })
                                                <div class="col-md-12" style="max-height: 700px;overflow-y: auto;">
                                                    @foreach (var item in Model._tools)
                                                    {<div class="form-group col-md-3 round">
                                                            @if (Model.tools != null && Model.tools.Contains(item.ToolId))
                                                            {
                                                                <input type="checkbox" checked="checked" name="tools" id="t_@item.ToolId" value="@item.ToolId" />
                                                                <span data-toggle="tooltip" data-placement="right" title="@item.Name">@(item.Name.Count() > 10 ? item.Name.Substring(0, 9) + ".." : item.Name)</span>
                                                                <label for="checkbox" class="cuschk bck" data-id="t_@item.ToolId"></label>
                                                            }
                                                            else
                                                            {
                                                                <input type="checkbox" name="tools" id="t_@item.ToolId" value="@item.ToolId" />
                                                                <span data-toggle="tooltip" data-placement="right" title="@item.Name">@(item.Name.Count() > 10 ? item.Name.Substring(0, 9) + ".." : item.Name)</span>
                                                                <label for="checkbox" class="cuschk" data-id="t_@item.ToolId"></label>
                                                            }
                                                        </div>

                                                        if (cnt >= 4)
                                                        {<div class="clearfix"></div>
                                                            cnt = 0;
                                                        }
                                                        cnt = cnt + 1;
                                                    }
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="col-md-12" style="margin-top:20px;margin-bottom:20px;">
                                                    <hr />

                                                </div>
                                                <div class="clearfix"></div>
                                            }
                                        </div>
                                        <div role="tabpanel" class="tab-pane @(type==6?"active":"")" id="task_skills">
                                            @using (Html.BeginForm("edit_skills", "offer", FormMethod.Post, new
                                            {
                                                @id = "skillform",
                                                @enctype = "multipart/form-data"
                                            }))
                                            {
                                                @Html.HiddenFor(a => a.token, new { @id = "skilltoeken" })
                                                int cnt = 1;
                                                <div class="col-md-12" style="max-height: 700px;overflow-y: auto;">
                                                    @foreach (var item in Model._skills)
                                                    {<div class="form-group col-md-3 round">
                                                            @if (Model.skills != null && Model.skills.Contains(item.SkillId))
                                                            {
                                                                <input type="checkbox" checked="checked" name="skills" id="s_@item.SkillId" value="@item.SkillId" />
                                                                <span data-toggle="tooltip" data-placement="right" title="@item.Name">@(item.Name.Count() > 10 ? item.Name.Substring(0, 9) + ".." : item.Name)</span>
                                                                <label for="checkbox" class="cuschk bck" data-id="s_@item.SkillId"></label>
                                                            }
                                                            else
                                                            {
                                                                <input type="checkbox" name="skills" id="s_@item.SkillId" value="@item.SkillId" />
                                                                <span data-toggle="tooltip" data-placement="right" title="@item.Name">@(item.Name.Count() > 10 ? item.Name.Substring(0, 9) + ".." : item.Name)</span>
                                                                <label for="checkbox" class="cuschk" data-id="s_@item.SkillId"></label>
                                                            }
                                                        </div>

                                                        if (cnt >= 4)
                                                        {<div class="clearfix"></div>
                                                            cnt = 0;
                                                        }
                                                        cnt = cnt + 1;
                                                    }
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="col-md-12" style="margin-top:20px;margin-bottom:20px;">
                                                    <hr />

                                                </div>
                                                <div class="clearfix"></div>
                                            }
                                        </div>
                                        @if (issubtractor)
                                        {
                                            <div role="tabpanel" class="tab-pane @(type==4?"active":"")" id="task_offers">

                                                <table class="table data-table table-hover nowrap table-ultra-responsive dataTable no-footer">
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 20%;">Id</th>
                                                            <th style="width: 10%;">Name</th>
                                                            <th style="width: 20%;">City</th>
                                                            <th style="width: 20%;">State</th>
                                                            <th style="width: 30%;">Rate</th>
                                                            <th style="width: 30%;">Status</th>
                                                            <th style="width: 30%;">Submited</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model._offers)
                                                        {
                                                            <tr>
                                                                <td style="width: 25%;">
                                                                    @item.jobindexid
                                                                </td>
                                                                <td style="width: 15%;">@item.tech</td>
                                                                <td style="width: 20%;">@item.city</td>
                                                                <td style="width: 25%;">@item.state</td>
                                                                <td style="width: 20%;">@item.rate</td>
                                                                <td style="width: 25%;">@item.status</td>
                                                                <td style="width: 25%;">@item.createddate</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>

                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
<script>

    $(document).ready(function () {
        $(".cuschk").on("click", function () {
            var id = $(this).data("id");
            if ($(this).hasClass("bck")) {
                $("#" + id).attr("checked", false);
                $(this).removeClass("bck");
            } else {
                $("#" + id).attr("checked", true);
                $(this).addClass("bck");
            }
            if ($("#" + id).hasClass("Confirmation")) {
                if ($(this).hasClass("bck")) {
                    $("#" + id).val('1');
                } else {
                    $("#" + id).val('0');
                }
            }
        });
    });

        function getClientrate(cntrl,rateCntrl) {
        var client = $("#"+cntrl).val();
        if (client != 0) {
            var _url = "@Url.Action("get_client_rate","client")"+"?id="+client;
            $.get(_url, function (data) {
                $("#"+rateCntrl).val(data);
            });
        } else {
            $("#"+rateCntrl).val("$0.00");
        }
    }
   function getrateTechnician() {
        var memberid = $("#Technician").val();
        if (memberid != 0) {
            var _url = "@Url.Action("get_member_rate","users")" + "?id=" + memberid;
            $.get(_url, function (data) {
                $("#techrate").val(data);
            });
        } else {
            $("#techrate").val("$1");
        }
    }
         get_Manager_selectbyid('Technician', 'Technician','@Model.Technicianid','T');
          get_Manager_selectbyid('Dispatcher', 'Dispatcher','@Model.Dispatcherid','D');

         function get_Manager_selectbyid(cntrl,_val,id,type) {
            var dataString = 'optvalue='+_val+"&memberid="+id+"&type="+type;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_member","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#" + cntrl).html(data).removeAttr('disabled').selectpicker('refresh');
                                $("#Dispatcher").attr('disabled','disabled');
                            }
                        });


        }

         $(document).ready(function () {
         $('.data-table').DataTable({ 'bSort': false, "pageLength": 25,"bFilter" : false,
"bLengthChange": false });
         $(".tFileDelete").click(function (e) {
        e.preventDefault();
         var id = this.id;
          var client_id = $(this).data('jobid');
            bootbox.confirm("Are you sure?", function (result) {
                if (result) {
                    var _url = "@Url.Action("delete_file","offer")";
                    window.location.href = _url + "?jobid=" + client_id+"&id="+id;
                }
            });
         });  });

       get_client('client','@Model.Client_id');
        function get_client(client,clientid) {
            var dataString = 'ismulti=0&clientid='+clientid;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_clients","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#"+client).html(data).removeAttr('disabled').selectpicker('refresh');
                            }
                        });

    }
    get_mgr_byclient('Project_manager', '@Model.mgr_id', '@Model.Client_id');
    function get_mgr_byclient(mgr,mgrid,clientid) {
            var dataString = 'ismulti=0&id='+clientid+"&clientid="+mgrid;
                    $.ajax
                        ({
                            type: "POST",
                          url: '@Url.Action("get_all_manager_by_clientid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#"+mgr).html(data).removeAttr('disabled').selectpicker('refresh');
                            }
                        });

          }
            $("#client").change(function () {
                var id = $(this).val();
                if (id != 0) {
                    var dataString = 'id=' + id;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_manager_by_clientid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#Project_manager").html(data).removeAttr('disabled').selectpicker('refresh');
                            }
                        });
                } else {
                  $("#Project_manager").html('<option value="0">Manager</option>').attr('disabled',true).selectpicker('refresh');
                }
                 getClientrate('client', 'c_techrate');
            });
</script>

