﻿
@{
    ViewBag.Title = "Offer View";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int type = ViewBag.type == null ? 1 : (int)ViewBag.type;
    int viewtype = ViewBag.viewtype == null ? 1 : (int)ViewBag.viewtype;
    int i = 1;
}
@model hrm.Models.job_items1

@helper getCommentByHelper(string comment, int id, int jobid, bool isread)
{
    System.Text.RegularExpressions.Regex rx = new System.Text.RegularExpressions.Regex("<[^>]*>");
    if (!string.IsNullOrEmpty(comment))
    {
        var _oldvalue = comment;//orignal value with html
        var _newvalue = comment;//removing html
                                //_newvalue = rx.Replace(_oldvalue, "");//html removed
        var text = _newvalue.Count() > 100 ? _newvalue.Substring(0, 100) : _newvalue;// substring
        var text1 = _newvalue.Count() > 100 ? _newvalue.Substring(100) : _newvalue;// substring
        comment = comment.Replace(_newvalue, text);
        comment = rx.Replace(comment, "");//html removed
        _oldvalue = _oldvalue.Replace(_newvalue, text1);
        if (_newvalue.Count() > 100)
        {
            <span class="parentcomment @(isread ? "" : "unread unread2") offer" data-id="@id" data-jobid="@jobid">@Html.Raw(comment)</span>
            <span class="childcommentcomment hide @(isread ? "" : "unread unread2") offer" data-id="@id" data-jobid="@jobid">@Html.Raw(_oldvalue)</span>
        }
        else
        {
            <span class="parentcomment @(isread ? "" : "unread unread2") offer" data-id="@id" data-jobid="@jobid">@Html.Raw(comment)</span>
            <span class="childcommentcomment hide @(isread ? "" : "unread unread2") offer" data-id="@id" data-jobid="@jobid"></span>

        }
    }
    else
    {

    }

}
<link href="@Url.Content("~/Content/users.min.css?v=1.3")" rel="stylesheet" />

<style>
    .col-lg-8 {
        padding-left: 0px !important;
    }

    .col-lg-4 {
        padding-right: 8px !important;
    }

    .viewpd-20 {
        padding-left: 14px !important;
    }

    .wdth100 > .dropdown-toggle.btn-default, .wdth100 {
        width: 100% !important;
    }

        .wdth100 .multiselect-container {
            max-height: calc(90vh - 16vh) !important;
            overflow-y: auto !important;
        }

    .pdr0 {
        padding-right: 0px !important;
    }

    .customhrjob {
        margin-top: 0px !important;
        margin-bottom: 20px !important;
    }

    .pl-20 {
        padding-left: 20px !important;
    }
</style>
<script>
     function CheckProcessFunction(jobId) {
        setInterval(function () { checkProcessIsRuning(jobId); }, 10000);
    }

    function checkProcessIsRuning(JobId) {
        var _val = $("#checkProcess").val();
        if (_val != "FALSE") {
            var _url = '@Url.Action("CheckProcess", "offer")';
            $.post(_url, { 'id': JobId }, function (data) {
                if (data == 'TRUE') {
otable.draw(true);
                    $("#DivIsProcessed").css("display", "none");
                    $("#checkProcess").val("FALSE");
                }
            });
        }
        }
</script>
<div class="p-10">
    @*<h2 class="page-title">Manage Job
        </h2>*@
</div>
<div class="p-30 p-t-none p-b-100">
    @if (!string.IsNullOrEmpty(Model.error_text))
    {
        <span id="alert" style="display:none;" data-class="@Model.alertclass" data-text="@Model.error_text"></span>
    }
    <div class="row">

        <div class="col-lg-4">
            <div class="panel">
                <div class="panel-heading formpanel-heading">
                    <div class="col-md-6 col-sm-6">
                        <h3 class="panel-title">
                            Offer Info
                        </h3>
                    </div>
                    <div class="col-md-6 col-sm-6 topbuttondiv">
                        <a class="btn btn-success btn-sm pull-right" href="@Url.Action("edit","offer",new {token=Model.token })">
                            <i class="fa fa-edit"></i> Edit Offer
                        </a>

                    </div>
                </div>
                <div class="panel-body">

                    @using (Html.BeginForm("edit", "offer", FormMethod.Post, new { @id = "frmsendsms", @enctype = "multipart/form-data" }))
                    {<div class="form-group">
                            <label>Project</label>
                            <select class="width100 form-control" data-live-search="true" name="projectId" id="projectId">
                                <option value="0">Select</option>
                            </select>
                        </div>

                        <div class="form-group" style="display:none;">
                            <label>Date</label>
                            @Html.TextBoxFor(a => a.sdate, new { @class = "form-control", @readonly = "" })
                            @Html.HiddenFor(a => a.JobID)
                        </div>

                        <div class="form-group" style="display:none;">
                            <label>Start Time</label>
                            @Html.TextBoxFor(a => a.stime, new { @class = "form-control", @readonly = "" })

                        </div>
                        <div class="form-group" style="display:none;">
                            <label>End Time</label>
                            @Html.TextBoxFor(a => a.etime, new { @class = "form-control", @readonly = "" })
                        </div>
                        <div class="form-group">
                            <label>Client</label>
                            <select class="width100 form-control " data-live-search="true" id="client" name="client_id">
                                <option value="0">Client</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Client Rate</label>
                            @Html.TextBoxFor(a => a.Client_rate, new { @class = "form-control ratetext", id = "c_techrate" })
                        </div>
                        <div class="form-group">
                            <label>Client Manager</label>
                            <select class="width100 form-control" data-live-search="true" name="mgr_id" id="Project_manager">
                                <option value="0">Manager</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Project Manager</label>
                            <select class="width100 form-control" data-live-search="true" name="mgr_id1" id="Project_manager1">
                                <option value="0">Manager</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Rate</label>
                            @Html.TextBoxFor(a => a.pay_rate, new { @class = "form-control ratetext", id = "techrate" })
                        </div>
                        <div class="form-group">
                            <label>Dispatcher</label>
                            <select class="width100 form-control " data-live-search="true" name="Dispatcherid" id="Dispatcher">
                                <option value="0">Dispatcher</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Expense</label>
                            @Html.TextBoxFor(a => a.Expense, new { @class = "form-control ratetext" })
                        </div>
                        <div class="form-group m-none">
                            <label for="e20">Status</label>
                            <select name="Status" class="form-control selectpicker width100">
                                <option @(Model.Status == 1 ? "selected" : "") value="1">New</option>
                                <option @(Model.Status == 2 ? "selected" : "") value="2">Offered</option>
                                <option @(Model.Status == 1002 ? "selected" : "") value="1002">Assigned</option>
                                <option @(Model.Status == 4 ? "selected" : "") value="4">Standby</option>
                                <option @(Model.Status == 5 ? "selected" : "") value="5">Cancelled</option>
                            </select>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-success btn-sm pull-right"><i class="fa fa-save"></i> Update</button>
                    }
                </div>
            </div>
        </div>

        <div class="col-lg-8">

            <div class="panel">
                <div class="panel-heading formpanel-heading">
                    <div class="col-md-6 col-sm-6">
                        <h3 class="panel-title">
                            Offer Management
                        </h3>
                    </div>
                    <div class="col-md-6 col-sm-6 topbuttondiv">
                        <a class="btn btn-success btn-sm pull-right" href="@Url.Action("index","offer",new {type=Model.viewtype })">
                            <i class="fa fa-arrow-left"></i> Offer List
                        </a>
                        @if (!string.IsNullOrEmpty(Model.projectToken))
                        {
                            <a style="margin-right: 11px;" class="btn btn-success btn-sm pull-right" href="@Url.Action("view", "project", new { token = Model.projectToken,tabid=6 })">
                                <i class="fa fa-eye"></i> View Project
                            </a>
                        }
                    </div>

                </div>

                <div class="p-30 p-t-none p-b-none">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="@(Model.type==1||Model.type==0?"active":"")"><a href="#task_details" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">Detail</a></li>
                                <li role="presentation" class="@(Model.type==2?"active":"")"><a href="#task_discussion" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">Discussion <span style="display:@(Model.msgcount>0?"inline-block":"none")" id='commentbadge_@Model.JobID' data-id='@Model.JobID' class="badge badge-danger notification"> @Model.msgcount</span>  </a></li>
                                <li role="presentation" class="@(Model.type==3?"active":"")"><a href="#task_files" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false">File</a></li>
                                <li role="presentation" class="@(Model.type==5?"active":"")"><a href="#task_tools" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false">Tool</a></li>
                                <li role="presentation" class="@(Model.type==6?"active":"")"><a href="#task_skills" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false">Skill</a></li>

                                <li role="presentation" class="@(Model.type==4?"active":"")"><a href="#task_offers" aria-controls="offers" role="tab" data-toggle="tab" aria-expanded="false"> Technician <span style="display:@(Model.acceptedCount>0?"inline-block":"none")" class="badge badge-danger"> @Model.acceptedCount</span></a></li>
                            </ul>
                            <div class="tab-content p-20">
                                <div role="tabpanel" class="tab-pane @(Model.type==1||Model.type==0?"active":"")" id="task_details">

                                    <table class="table table-condensed-slim" style="margin-bottom:-16px;">
                                        <thead>
                                            <tr>
                                                <th>Offer ID</th>
                                                <th>Address</th>
                                                <th>Offer Title</th>
                                                <th>Date</th>
                                                <th>Start Time</th>
                                                <th>End Time</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>@Model.Job_ID</td>
                                                <td>@Html.Raw(Model.MapValidateAddress)</td>
                                                <td>@Model.Title</td>
                                                <td>@Model.sdate</td>
                                                <td>@Model.stime</td>
                                                <td>@Model.etime</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <hr />

                                    <div class="form-group pl-20">
                                        <label class="detaillabel"> Description</label>
                                        <p class="graytext">@(string.IsNullOrEmpty(Model.description) ? Html.Raw("<p></p>") : Html.Raw(Model.description))</p>
                                    </div>

                                    <hr class="customhrjob" />
                                    <div class="form-group pl-20">
                                        <label class="detaillabel">Instruction</label>
                                        <p class="graytext"> @(string.IsNullOrEmpty(Model.Instruction) ? Html.Raw("<p></p>") : Html.Raw(Model.Instruction))</p>
                                    </div>

                                    <hr />  <div class="form-group col-md-3">
                                        <label class="detaillabel">Contact</label>
                                        <p class="graytext"> @Model.Contact</p>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="detaillabel">Phone</label>
                                        <p class="graytext"> @Model.Phone</p>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="detaillabel">Dispatcher</label>
                                        <p class="graytext"> @Model.Dispatcher</p>
                                    </div>

                                </div>


                                <div role="tabpanel" class="tab-pane @(Model.type==2?"active":"")" id="task_discussion">
                                    @using (Html.BeginForm("update", "offer", FormMethod.Post, new { @id = "frmsendsms" }))
                                    {
                                        <div class="row">
                                            <div class="form-group">
                                                <label>Leave Comment</label>
                                                @Html.TextAreaFor(a => a.Comment, new { @class = "textarea-wysihtml5 form-control", @rows = "7" })
                                                <input type="hidden" name="type" value="2" />
                                                @Html.HiddenFor(a => a.JobID)
                                                <input type="hidden" name="isadminpost" value="True" />
                                            </div>
                                            <div class="col-md-12">
                                                <button type="submit" value="Post" class="btn btn-success pull-right"><i class="fas fa-paper-plane"></i> Post</button>
                                            </div>
                                        </div>

                                    }
                                    <br>
                                    <hr>

                                    <table class="table data-table table-hover table-ultra-responsive dataTable no-footer">
                                        <thead>
                                            <tr>
                                                <th style="width: 25%;">User</th>
                                                <th style="width: 55%;">Comment</th>
                                                <th style="width: 20%;">Last Update</th>
                                                <th style="width: 10%;"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model._Comments)
                                            {
                                                <tr>
                                                    <td onclick="OpenRow('tr_@i','tr1_@i','@item.Commentid','@i')" nowrap style="width: 24%;border-bottom:0px !important;border-top:1px solid rgba(230, 230, 230, 0.7);">@item.createdby</td>
                                                    <td onclick="OpenRow('tr_@i','tr1_@i','@item.Commentid','@i')" style="width: 50%;border-bottom:0px !important;border-top:1px solid rgba(230, 230, 230, 0.7);">@getCommentByHelper(item.Comment, item.Commentid, Model.JobID, item.isread)</td>
                                                    <td onclick="OpenRow('tr_@i','tr1_@i','@item.Commentid','@i')" nowrap style="width: 20%;border-bottom:0px !important;border-top:1px solid rgba(230, 230, 230, 0.7);">@item.CreatedDate</td>
                                                    <td nowrap style="width: 20%;border-bottom:0px !important;border-top:1px solid rgba(230, 230, 230, 0.7);"><a href="#" onclick="OpenRow('tr_@i','tr1_@i','@item.Commentid','@i')"><i class="fas fa-paper-plane"></i></a></td>
                                                </tr>

                                                <tr id="tr1_@i" class="hdntextare" style="display:none">
                                                    <td style="display:none;border:0px !important;"></td>
                                                    <td style="display:none;border:0px !important;"></td>
                                                    <td style="display:none;border:0px !important;"></td>
                                                    <td colspan="4" align="center" style="border:0px !important;padding-top:0px !important;">
                                                        <div id="div_@i">
                                                            <table class="table table-hover table-ultra-responsive dataTable no-footer">
                                                                <tbody>
                                                                    @foreach (var chlditem in Model._childComments.Where(a => a.Parentid == item.Commentid))
                                                                    {
                                                                        <tr>
                                                                            <td nowrap style="width: 24%;padding:0px;border:0px !important;color:#afaaaa;">@chlditem.createdby</td>
                                                                            <td style="width: 50%;padding:0px;border:0px !important;color:#afaaaa;">@Html.Raw(chlditem.Comment)</td>
                                                                            <td nowrap style="width: 20%;padding:0px;border:0px !important;color:#afaaaa;">@chlditem.CreatedDate</td>
                                                                            <td nowrap style="width: 20%;padding:0px;border:0px !important;color:#afaaaa;"></td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr id="tr_@i" class="hdntextare" style="display:none;">
                                                    <td style="display:none;"></td>
                                                    <td style="display:none;"></td>
                                                    <td colspan="3" align="center">
                                                        <textarea id="txtarea_@i" class="form-control" style="width:100%;" rows="3" placeholder="Type reply here"></textarea>
                                                    </td>
                                                    <td><a onclick="SendReply('txtarea_@i','@item.Commentid','@Model.JobID','div_@i')" href="#">Reply</a></td>
                                                </tr>

                                                i = i + 1;
                                            }
                                        </tbody>
                                    </table>

                                </div>

                                <div role="tabpanel" class="tab-pane @(Model.type==3?"active":"")" id="task_files">

                                    @using (Html.BeginForm("update", "offer", FormMethod.Post, new { @id = "frmsendsms", @enctype = "multipart/form-data" }))
                                    {
                                        <div class="row">
                                            <div class="form-group">
                                                <label>File Title</label>
                                                <input type="text" required name="file_title" class="form-control">
                                                <input type="hidden" name="type" value="3" />
                                                @Html.HiddenFor(a => a.JobID)
                                            </div>
                                            <div class="form-group">
                                                <label>Select File</label>
                                                <div class="input-group input-group-file">
                                                    <span class="input-group-btn">
                                                        <span class="btn btn-primary btn-file">
                                                            Browse <input type="file" class="form-control" required name="file">
                                                        </span>
                                                    </span>
                                                    <input type="text" class="form-control" readonly="">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <button type="submit" class="btn btn-success pull-right"> <i class="fas fa-file-import"></i> Upload</button>
                                            </div>
                                        </div>

                                    }
                                    <br>
                                    <hr>

                                    <table class="table data-table table-hover nowrap table-ultra-responsive dataTable no-footer">
                                        <thead>
                                            <tr>
                                                <th style="width: 20%;">Files</th>
                                                <th style="width: 10%;">Size</th>
                                                <th style="width: 20%;">Date</th>
                                                <th style="width: 20%;">Upload By</th>
                                                <th style="width: 30%;">Download</th>
                                                <th style="width: 30%;">Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model._files)
                                            {
                                                <tr>
                                                    <td style="width: 25%;">@item.FileTitle</td>
                                                    <td style="width: 15%;">@item.Size</td>
                                                    <td style="width: 20%;">@item.CreatedDate</td>
                                                    <td style="width: 25%;">@item.CreatedBy</td>
                                                    <td style="width: 40%;">
                                                        <a href="@item.Url" download target="_blank" class="btn btn-success btn-xs pull-left">
                                                            <i class="fa fa-download"></i>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="#" class="btn btn-danger btn-xs tFileDelete" data-jobid="@Model.token" id="@item.FileToken"><i class="fa fa-trash"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                </div>
                                <div role="tabpanel" class="tab-pane @(Model.type==5?"active":"")" id="task_tools">
                                    @using (Html.BeginForm("edit_tools", "offer", FormMethod.Post, new
                                    {
                                        @id = "toolsform",
                                        @enctype = "multipart/form-data"
                                    }))
                                    {
                                        int cnt = 1;
                                        @Html.HiddenFor(a => a.token, new { @id = "toolsteken" })
                                        <div class="col-md-12" style="max-height: 700px;overflow-y: auto;">
                                            @foreach (var item in Model._tools)
                                            {<div class="form-group col-md-3 round">
                                                    @if (Model.tools != null && Model.tools.Contains(item.ToolId))
                                                    {
                                                        <input type="checkbox" checked="checked" name="tools" id="t_@item.ToolId" value="@item.ToolId" />
                                                        <span data-toggle="tooltip" data-placement="right" title="@item.Name">@(item.Name.Count() > 18 ? item.Name.Substring(0, 17) + ".." : item.Name)</span>
                                                        <label for="checkbox" class="cuschk bck" data-id="t_@item.ToolId"></label>
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" name="tools" id="t_@item.ToolId" value="@item.ToolId" />
                                                        <span data-toggle="tooltip" data-placement="right" title="@item.Name">@(item.Name.Count() > 18 ? item.Name.Substring(0, 17) + ".." : item.Name)</span>
                                                        <label for="checkbox" class="cuschk" data-id="t_@item.ToolId"></label>
                                                    }
                                                </div>

                                                if (cnt >= 4)
                                                {<div class="clearfix"></div>
                                                    cnt = 0;
                                                }
                                                cnt = cnt + 1;
                                            }
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="col-md-12" style="margin-top:20px;margin-bottom:20px;">
                                            <hr />
                                            <button type="submit" class="btn btn-success btn-sm pull-right">
                                                <i class="fa fa-save"></i> Update
                                            </button>
                                        </div>
                                        <div class="clearfix"></div>
                                    }
                                </div>
                                <div role="tabpanel" class="tab-pane @(Model.type==6?"active":"")" id="task_skills">
                                    @using (Html.BeginForm("edit_skills", "offer", FormMethod.Post, new
                                    {
                                        @id = "skillform",
                                        @enctype = "multipart/form-data"
                                    }))
                                    {
                                        @Html.HiddenFor(a => a.token, new { @id = "skilltoeken" })
                                        int cnt = 1;
                                        <div class="col-md-12" style="max-height: 700px;overflow-y: auto;">
                                            @foreach (var item in Model._skills)
                                            {<div class="form-group col-md-3 round">
                                                    @if (Model.skills != null && Model.skills.Contains(item.SkillId))
                                                    {
                                                        <input type="checkbox" checked="checked" name="skills" id="s_@item.SkillId" value="@item.SkillId" />
                                                        <span data-toggle="tooltip" data-placement="right" title="@item.Name">@(item.Name.Count() > 18 ? item.Name.Substring(0, 17) + ".." : item.Name)</span>
                                                        <label for="checkbox" class="cuschk bck" data-id="s_@item.SkillId"></label>
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" name="skills" id="s_@item.SkillId" value="@item.SkillId" />
                                                        <span data-toggle="tooltip" data-placement="right" title="@item.Name">@(item.Name.Count() > 18? item.Name.Substring(0, 17) + ".." : item.Name)</span>
                                                        <label for="checkbox" class="cuschk" data-id="s_@item.SkillId"></label>
                                                    }
                                                </div>

                                                if (cnt >= 4)
                                                {<div class="clearfix"></div>
                                                    cnt = 0;
                                                }
                                                cnt = cnt + 1;
                                            }
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="col-md-12" style="margin-top:20px;margin-bottom:20px;">
                                            <hr />
                                            <button type="submit" class="btn btn-success btn-sm pull-right">
                                                <i class="fa fa-save"></i> Update
                                            </button>
                                        </div>
                                        <div class="clearfix"></div>
                                    }
                                </div>


                                <div role="tabpanel" class="tab-pane @(Model.type==4?"active":"")" id="task_offers">
                                    <div class="">
                                        @if (!Model._offerTechFilter.IsProcessed)
                                        {
                                            <div class="col-md-12" id="DivIsProcessed">
                                                <div class="form-group">
                                                    <label style="width: 100%;color: var(--red);font-size: 15px;text-transform: none;">  <img src="https://convo.taskayak.com/fancybox/wait1.gif" style="height:98px;"> Tech discovery is processing</label>
                                                    <input type="hidden" value="TRUE" id="checkProcess" />
                                                </div>
                                            </div>
                                            <script>
                                                CheckProcessFunction('@Model.JobID')
                                            </script>
                                        }
                                        @using (Html.BeginForm("update", "offer", FormMethod.Post, new { @id = "frmsendsms3", @enctype = "multipart/form-data" }))
                                        {
                                            <input type="hidden" name="type" value="4" />
                                            @Html.HiddenFor(a => a.JobID)
                                            <div class="clearfix"></div>
                                            <div class="col-md-3 pdr0">
                                                <div class="form-group">
                                                    <label style="width:100%">Technician Rate</label>
                                                    <select multiple class="form-control filter width100" id="amount" name="amount">
                                                        <option @(Model._offerTechFilter.TecF_amount.Contains("1") ? "selected" : "") value="1">$0.00 to  $40.00</option>
                                                        <option @(Model._offerTechFilter.TecF_amount.Contains("2") ? "selected" : "") value="2">$41.00 to  $60.00</option>
                                                        <option @(Model._offerTechFilter.TecF_amount.Contains("3") ? "selected" : "") value="3">$61.00 to $80.00</option>
                                                        <option @(Model._offerTechFilter.TecF_amount.Contains("4") ? "selected" : "") value="4">$81.00 to  $100.00</option>
                                                        <option @(Model._offerTechFilter.TecF_amount.Contains("5") ? "selected" : "") value="5">$101.00 and up</option>

                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3 pdr0">
                                                <div class="form-group">
                                                    <label style="width:100%">Screening</label>
                                                    <select class="form-control filter screening width100" multiple id="background" name="background">
                                                        <option @(Model._offerTechFilter.TecF_Screening.Contains("1") ? "selected" : "") value="1">Backgrouund</option>
                                                        <option @(Model._offerTechFilter.TecF_Screening.Contains("2") ? "selected" : "") value="2">Drug</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3 pdr0">
                                                <div class="form-group">
                                                    <label style="width:100%">Skills</label>
                                                    <select class="form-control filter Skills width100" id="Skills" name="Skills" multiple>
                                                        @foreach (var item in Model._skills)
                                                        {
                                                            <option @(Model._offerTechFilter.TecF_skiils.Contains(item.SkillId.ToString()) ? "selected" : "") value="@item.SkillId">@item.Name</option>

                                                        }
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label style="width:100%">Tools</label>
                                                    <select class="Tool form-control filter width100" id="tools" name="tools" multiple>
                                                        @foreach (var item in Model._tools)
                                                        {
                                                            <option @(Model._offerTechFilter.TecF_tools.Contains(item.ToolId.ToString()) ? "selected" : "") value="@item.ToolId">@item.Name</option>

                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-3 pdr0">
                                                <div class="form-group">
                                                    <label style="width:100%">Distance</label>
                                                    <select class="selectpicker form-control filter width100" id="Distance" name="Distance">
                                                        <option @(Model._offerTechFilter.TecF_Distance == 1 ? "selected" : "") value="1">50 miles from</option>
                                                        <option @(Model._offerTechFilter.TecF_Distance == 2 ? "selected" : "") value="2">75 miles from</option>
                                                        <option @(Model._offerTechFilter.TecF_Distance == 3 ? "selected" : "") value="3">100 miles from</option>
                                                        <option @(Model._offerTechFilter.TecF_Distance == 4 ? "selected" : "") value="4">150 miles from</option>
                                                        <option @(Model._offerTechFilter.TecF_Distance == 5 ? "selected" : "") value="5">200 miles from</option>
                                                        <option @(Model._offerTechFilter.TecF_Distance == 0 ? "selected" : "") value="0">All</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3 pdr0">
                                                <div class="form-group">
                                                    <label style="width:100%">Assign preference</label>

                                                    <select class="selectpicker form-control filter width100" id="Distribution" name="Distribution">
                                                        <option @(Model._offerTechFilter.TecF_Assign == 1 ? "selected" : "") value="1">Auto</option>
                                                        <option @(Model._offerTechFilter.TecF_Assign == 2 ? "selected" : "") value="2">Manual</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3 pdr0">
                                                <div class="form-group">
                                                    <label style="width:100%">Template</label>
                                                    <select class="width100 form-control" data-live-search="true" name="Template" id="Template">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3 sendoffer pdr0">
                                                <label style="width:100%;color: white;margin-bottom: 14px;">Distribution</label>
                                                <div class="col-md-6 round ">
                                                    <input class="inputbox3" name="messagetype" @(Model._offerTechFilter.TecF_Distribution.Contains("1") ? "checked" : "") " value="1" type="checkbox" id="email" /> Email
                                                    <label for="checkbox" class="cuschk email @(Model._offerTechFilter.TecF_Distribution.Contains("1") ? "bck" : "")" data-id="email"></label>
                                                </div>
                                                <div class="col-md-6 round">
                                                    <input class="inputbox3" name="messagetype" @(Model._offerTechFilter.TecF_Distribution.Contains("2") ? "checked" : "") " value="2" type="checkbox" id="sms" /> Text
                                                    <label for="checkbox" class="cuschk sms @(Model._offerTechFilter.TecF_Distribution.Contains("2") ? "bck" : "")" data-id="sms"></label>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-12">
                                                <div class="clearfix"></div>
                                                <hr />
                                                <div class="clearfix"></div>
                                                <button type="submit" class="btn btn-success btn-sm pull-right">
                                                    <i class="fa fa-eye"></i> View more
                                                </button>
                                                <div class="clearfix"></div>
                                                <hr />
                                            </div>
                                            <div class="clearfix"></div>
                                        }

                                    </div>
                                    <div class="clearfix"></div>
                                    <table id="tech-table" class="table  table-hover nowrap table-ultra-responsive dataTable no-footer">
                                        <thead>
                                            <tr>
                                                <th style="width: 20%;text-transform:uppercase;">ID</th>
                                                <th style="width: 10%;">Name</th>
                                                <th style="width: 20%;">City</th>
                                                <th style="width: 20%;">State</th>
                                                <th style="width: 30%;">Rate</th>
                                                <th style="width: 30%;">Status</th>
                                                <th style="width: 30%;">Submitted </th>
                                                <th style="width: 30%;"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @*@foreach (var item in Model._offers)
                                                {
                                                    <tr>
                                                        <td style="width: 25%;">
                                                            <a  href="#">@item.jobindexid</a>
                                                        </td>

                                                        <td>
                                                            <div class="btn-group pos-static">
                                                                <a class="customedropdown" data-toggle="customedropdown" aria-haspopup="true" aria-expanded="false">
                                                                    <i class="fa fa-ellipsis-v fn21"></i>
                                                                </a>
                                                                <div class="dropdown-menu customdropdown-menu" x-placement="bottom-start" style="top: 0px; transform: translate3d(-96px, -18px, 0px);will-change: transform;position: absolute;left: 0px;">

                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }*@
                                        </tbody>
                                    </table>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<script>

     $("#frmsendsms3").on("submit", function () {

            var len = $('.sendoffer .bck').length;
            if (len == 0) {
                alertify.log('You must select alert type SMS/Email submit', 'error', 5000);
                return false;
            }
        if ($("#amount :selected").length == 0) {
                alertify.log('You must select rate ', 'error', 5000);
                return false;
            }

    });
        var pageSize = 25;
        var otable;

    $(document).ready(function () {
            otable = $('#tech-table').DataTable({
                "processing": true,
            "serverSide": true,
            'language': {
                    'loadingRecords': '&nbsp;',
            'processing': "<img src='@Url.Content("~/Content/Images/loader.gif")'> Loading..."
        },
            "iDisplayLength": 25,
            "autoWidth": false,
            "order": [],
            "bSort": false,
            "bFilter": true,
            "ajax": {
                    "url": "@Url.Action("Fetchoffers", "offer",new { jobid=Model.JobID})"
            },
            "aoColumns": [
                {
                bSortable: false,
                    mRender: function (data, type, full) {

                        return '<a href="#" data-jobid="' + full.jobid + '" data-id="' + full.id + '" data-tech="' + full.tech +'" onclick="assignsubmitjob()">' + full.jobindexid + '</a>';

                    }
                },

                 { mData: "tech" },
                { mData: "city" },
                { mData: "state" },
                { mData: "rate" },
                { mData: "status" },
                { mData: "createddate" },
                {
                bSortable: false,
                    mRender: function (data, type, full) {

                        var tbl = '<div class="btn-group pos-static"><a class="customedropdown" data-toggle="customedropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-v fn21"></i> </a><div class="dropdown-menu customdropdown-menu" x-placement="bottom-start" style="top: 0px; transform: translate3d(-38px, 10px, 0px);will-change: transform;position: absolute;left: 0px; display: none;">';

                        tbl = tbl + '<a class="btn btn-primary btn-xs" href="/offer/update_subjob?Jtoken=' + full.jobtoken + '&type=4&btn=0&token=' + full.offertoken +'"><i class="fa fa-plus"></i> Assign job</a>';

                        tbl = tbl + '<a class="btn btn-danger btn-xs" href="/offer/update_subjob?Jtoken=' + full.jobtoken + '&type=4&btn=1&token=' + full.offertoken +'"><i class="fa fa-paper-plane"></i> Re-submit</a>';


                        tbl = tbl + '<a class="btn btn-complete btn-xs" href="/offer/update_subjob?Jtoken=' + full.jobtoken + '&type=4&btn=2&token=' + full.offertoken + '"><i class="fa fa-recycle"></i> Remove</a>';

                        tbl = tbl + '</div></div>';
                        return tbl;
                    }
                }

            ]
        });
        });
</script>
<script>
    get_template("Template","@Model._offerTechFilter.Template");

    function get_template(cnrtl,Templateid) {
        var dataString = 'templateid=' + Templateid+'&needLabel=False';
        $.ajax
            ({
                type: "POST",
                url: '/default/get_selected_template',
                data: dataString,
                cache: false,
                success: function (data) {
                    $("#" + cnrtl).html('').removeClass("selectpicker").append($.parseHTML(data)).addClass("selectpicker").selectpicker('refresh').removeAttr('disabled');
                    $(".selectpicker").selectpicker('refresh');
                }
            });

    }
    $("#amount").removeClass('selectpicker').attr("multiple", "multiple").multiselect({
        buttonContainer: '<div class="btn-group wdth100" />', enableFiltering: false, buttonText: function (options, select) {
            return 'Amount';
        },
    });

    $(".screening").removeClass('selectpicker').attr("multiple", "multiple").multiselect({
        buttonContainer: '<div class="btn-group wdth100" />', enableFiltering: false, buttonText: function (options, select) {
            return 'Select';
        },
    });

    $(".Skills").removeClass('selectpicker').attr("multiple", "multiple").multiselect({
        buttonContainer: '<div class="btn-group wdth100" />', enableFiltering: true, enableCaseInsensitiveFiltering: true, buttonText: function (options, select) {
            return 'Select';
        },
    });
    $(".Tool").removeClass('selectpicker').attr("multiple", "multiple").multiselect({
        buttonContainer: '<div class="btn-group wdth100" />', enableFiltering: true, enableCaseInsensitiveFiltering: true, buttonText: function (options, select) {
            return 'Select';
        },
    });

    function SendReply(textid, commentid,jobid,divid) {
        var _val = $("#" + textid).val();
        if (_val == '') {
            alertify.log('Reply can not be empty', 'error', 5000);
            return false;
        }
        var _url = "@Url.Action("add_comment","offer")";
        $.get(_url, { 'txt': _val, 'cmntid': commentid,'jobid':jobid }, function (data) {
            alertify.log('Reply Sent', 'success', 5000);
            $("#" + textid).val('');
            $("#" + divid + " table tbody").append(data);
        });
    }


      function OpenRow(id,tr1,parentid,count) {
        $(".hdntextare").css("display","none");
        $("#" + id).css("display", "table-row");
         $("#" + tr1).css("display", "table-row");
         var _url = "@Url.Action("getreply1","offer")";
         $.get(_url, { 'mainid': parentid }, function (data) {
             $("#div_" + count + " table tbody").html(data);
         });
    }

    function assignsubmitjob() {
        var jobid = $(this).data('jobid');
        var offerid = $(this).data('id');
        var tech = $(this).data('tech');

         bootbox.confirm("Are you sure to assign job to "+tech+" ?", function (result) {
                if (result) {
                    var _url = "@Url.Action("update_subjob","offer")";
                    window.location.href = _url + "?btn=0&type=4&JobID=" + jobid+"&offerid="+offerid;
                }
            });
    }

        function getClientrate(cntrl,rateCntrl) {
        var client = $("#"+cntrl).val();
        if (client != 0) {
            var _url = "@Url.Action("get_client_rate","client")"+"?id="+client;
            $.get(_url, function (data) {
                $("#"+rateCntrl).val(data);
            });
        } else {
            $("#"+rateCntrl).val("$0.00");
        }
    }
   function getrateTechnician() {
        var memberid = $("#Technician").val();
        if (memberid != 0) {
            var _url = "@Url.Action("get_member_rate","users")" + "?id=" + memberid;
            $.get(_url, function (data) {
                $("#techrate").val(data);
            });
        } else {
            $("#techrate").val("$1");
        }
    }
         get_Manager_selectbyid('Technician', 'Technician','@Model.Technicianid','T');
          get_Manager_selectbyid('Dispatcher', 'Dispatcher','@Model.Dispatcherid','D');

         function get_Manager_selectbyid(cntrl,_val,id,type) {
            var dataString = 'optvalue='+_val+"&memberid="+id+"&type="+type;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_member","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#" + cntrl).html('').removeClass("selectpicker").append($.parseHTML(data)).addClass("selectpicker").selectpicker('refresh').removeAttr('disabled');
                                $(".selectpicker").selectpicker('refresh');
                            }
                        });

        }

         $(document).ready(function () {
            var table = $('.data-table').DataTable({
                 'bSort': false, "pageLength": 25, "bFilter": false,
     "bLengthChange": false//,
             });

         $(".tFileDelete").click(function (e) {
        e.preventDefault();
         var id = this.id;
          var client_id = $(this).data('jobid');
            bootbox.confirm("Are you sure?", function (result) {
                if (result) {
                    var _url = "@Url.Action("delete_file","offer")";
                    window.location.href = _url + "?jobid=" + client_id+"&id="+id;
                }
            });
         });  });

       get_client('client','@Model.Client_id');
        function get_client(client,clientid) {
            var dataString = 'ismulti=0&clientid='+clientid;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_clients","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#" + client).html('').removeClass("selectpicker").append($.parseHTML(data)).addClass("selectpicker").selectpicker('refresh').removeAttr('disabled');
                                $(".selectpicker").selectpicker('refresh');
                            }
                        });

    }
     get_projectmgr_byclient('@Model.mgr_id1')
     function get_projectmgr_byclient(mgrid) {
            var dataString = 'ismulti=0&id='+mgrid;
                    $.ajax
                        ({
                            type: "POST",
                          url: '@Url.Action("get_all_mebertypeprojectmanager","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#Project_manager1").html('').removeClass("selectpicker").append($.parseHTML(data)).addClass("selectpicker").selectpicker('refresh').removeAttr('disabled');
                                $(".selectpicker").selectpicker('refresh');
                            }
                        });

          }
    get_mgr_byclient('Project_manager', '@Model.mgr_id', '@Model.Client_id');
    function get_mgr_byclient(mgr,mgrid,clientid) {
            var dataString = 'ismulti=0&id='+clientid+"&clientid="+mgrid;
                    $.ajax
                        ({
                            type: "POST",
                          url: '@Url.Action("get_all_manager_by_clientid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#" + mgr).html('').append($.parseHTML(data)).addClass("selectpicker").selectpicker('refresh').removeAttr('disabled');
                                $(".selectpicker").selectpicker('refresh');
                            }
                        });

          }
            $("#client").change(function () {
                var id = $(this).val();
                if (id != 0) {
                    var dataString = 'id=' + id;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_manager_by_clientid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#Project_manager").html('').removeClass("selectpicker").append($.parseHTML(data)).addClass("selectpicker").selectpicker('refresh').removeAttr('disabled');
                                $(".selectpicker").selectpicker('refresh');
                            }
                        });
                } else {
                  $("#Project_manager").html('<option value="0">Manager</option>').attr('disabled',true).selectpicker('refresh');
                }
                 getClientrate('client', 'c_techrate');
            });

     getOpenProjetList('projectId','@Model.projectId');
    function getOpenProjetList(id,prjid) {
        var dataString = 'id=' + prjid;
        $.ajax
            ({
                type: "POST",
                url: '/default/getallopenproject',
                data: dataString,
                cache: false,
                success: function (data) {
                    $("#" + id).html('').removeClass("selectpicker").append($.parseHTML(data)).addClass("selectpicker").selectpicker('refresh').removeAttr('disabled');
                    $(".selectpicker").selectpicker('refresh');
                }
            });
    }


    $("#projectId").on("change", function () {
        var prjid = $("#projectId").val();
        if (prjid != 0) {
            var dataString = 'id=' + prjid;
            $.ajax
                ({
                    type: "POST",
                    url: '/project/GetProjectDetails',
                    data: dataString,
                    cache: false,
                    success: function (data) {
                         get_mgr_byclient('Project_manager', data.ClientManagerId, data.clientId);
                        $("#client").val(data.clientId).attr('disabled', false).selectpicker('refresh');
                       // $("#Project_manager").val(data.ClientManagerId).attr('disabled', false).selectpicker('refresh');
                        $("#Project_manager1").val(data.projectManagerId).attr('disabled', false).selectpicker('refresh');
                        $(".selectpicker").selectpicker('refresh');
                    }
                });

        }
    });


    $(document).ready(function () {

        $(".cuschk").on("click", function () {
            var id = $(this).data("id");
            if ($(this).hasClass("bck")) {
                $("#" + id).attr("checked", false);
                $(this).removeClass("bck");
            } else {
                $("#" + id).attr("checked", true);
                $(this).addClass("bck");
            }
        });
    });
</script>


