﻿
@{
    ViewBag.Title = "Setting";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int techreminder = 1, techreminderli = 1, disreminder = 1, disreminderli = 1;
    int techTabId = Model.Usertype == 1 ? Model.Tabid : 0;
    int dispatcherTabId = Model.Usertype == 2 ? Model.Tabid : 0;
    string _class = "active";
}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.min.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link href="@Url.Content("~/Content/Reminder/index.min.css?v=1.3")" rel="stylesheet" /> 
@model hrm.Models.remindersetting
<div class="p-10">
</div>
<div class="p-30 p-t-none p-b-100">
    @if (!string.IsNullOrEmpty(Model.error_text))
    {
        <span id="alert" style="display:none;" data-class="@Model.alertclass" data-text="@Model.error_text"></span>
    }
    <div class="box mainbox" style="display: none;" id="AddReminderSlide">
        @using (Html.BeginForm("reminder", "Reminder", FormMethod.Post, new { @id = "reminderForm", @enctype = "multipart/form-data" }))
        {<input type="hidden" id="usertype" name="usertype" value="1" />
            <div class="box-inner">
                <div class="col-md-12">
                    <h3 class="pull-left panel-title" style="padding-left: 0px !important;    padding-top: 10px;">Add <span id="spanremindertype"></span> Reminder</h3>
                    <button type="button" class="close closebox" aria-label="Close" autocomplete="random"><span aria-hidden="true">×</span></button>
                </div>
                <div class="clearfix"></div>
                <hr class="mt9" />
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="form-group">
                        <select class="form-control selectpicker" name="repeattype">
                            <option value="1">Does not repeat </option>
                            <option value="2">Repeat</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <select class="form-control selectpicker" name="reapetdays">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <select class="form-control selectpicker" name="repeatid" id="repeatid">
                            <option value="0">Calender setting</option>
                            <option value="1">Hour</option>
                            <option value="2">Day</option>
                            <option value="3">Week</option>
                            <option value="4">Month</option>
                        </select>
                    </div>
                </div>
                <div class="clearfix"></div>            
                <div class="col-md-12">
                    <div class="form-group">
                        <select class="form-control  customdropdown Attachment" multiple="multiple" name="Attachment" id="Attachment">
                            <option value="1">Nav Link</option>
                            <option value="2">Document</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <select class="form-control   info" multiple="multiple" name="info" id="info">
                            <option value="1">ID</option>
                            <option value="2">Title</option>
                            <option value="3">Date/Time</option>
                            <option value="4">Address</option>
                            <option value="5">Tools</option>
                            <option value="6">Contact</option>
                            <option value="7">Phone</option>
                            <option value="8">Instruction</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <select class="form-control   type" multiple="multiple" name="type" id="type">
                            <option value="1">Email</option>
                            <option value="2">Text</option>
                        </select>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="form-group round">
                        <input class="inputbox3 Confirmation" type="checkbox" checked id="Confirmation" value="1" name="Confirmation" /> Confirmation
                        <label for="checkbox" class="cuschk Confirmation bck" data-id="Confirmation"></label>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12" style="position:relative;margin-top:20%;">
                </div>
                <div class="clearfix"></div>
                <hr />
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <button type="submit" id="submit-file" class="btn btn-success"><i class="fas fa-save"></i> Save</button>
                </div>
            </div>
        }
    </div>
    <div class="panel">
        <div class="panel-heading formpanel-heading">
            <div class="col-md-6 col-sm-6">
                <h3 class="panel-title">
                    Reminder Setting
                </h3>
            </div>
        </div>
        <div class="panel-body">
            <div class="col-lg-12">
                <h3 class="panel-title pnl1">
                    Technician
                    <button type="submit" onclick="addReminder('1')" class="btn btn-default btn-sm pull-right addbutton">
                        <i class="fa fa-plus"></i> Add Reminder
                    </button>
                </h3>
            </div>
            <div class="col-lg-12">
                <ul class="nav nav-tabs" role="tablist">
                    @foreach (var item in Model.techReminder)
                    {
                        if (techreminderli == 1 && techTabId == 0)
                        {
                            _class = "active";
                        }
                        else if (techTabId != 0 && techTabId == item._reminderId)
                        {
                            _class = "active";
                        }
                        else
                        {
                            _class = "";
                        }
                        <li role="presentation" class="@_class"><a href="#reminder_@techreminderli" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">@("Reminder "+ techreminderli)</a></li>
                        techreminderli += 1;
                    }
                </ul>
                <div class="tab-content p-20">
                    @foreach (var item in Model.techReminder)
                    {
                        if (techreminder == 1 && techTabId == 0)
                        {
                            _class = "active";
                        }
                        else if (techTabId != 0 && techTabId == item._reminderId)
                        {
                            _class = "active";
                        }
                        else
                        {
                            _class = "";
                        }
                        <div role="tabpanel" class="tab-pane @_class" id="reminder_@techreminder">
                            @using (Html.BeginForm("editReminder", "Reminder", FormMethod.Post, new { @id = "techForm_" + techreminder }))
                            {
                                <input type="hidden" name="token" value="@item.token" />
                                <input type="hidden" name="usertype" value="1" />
                                <div class="row">
                                    <div class="col-md-1">
                                        <select class="form-control selectpicker Autorefresh" data-id="@item.repeattype" name="repeattype">
                                            <option value="1">Does not repeat </option>
                                            <option value="2">Repeat</option>
                                        </select>
                                    </div>
                                    <div class="col-md-1">
                                        <select class="form-control selectpicker  Autorefresh" data-id="@item.reapetdays" name="reapetdays">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </div>
                                    <div class="col-md-1">
                                        <select class="form-control selectpicker Autorefresh" data-id="@item.repeatid" name="repeatid">
                                            <option>Calender setting </option>
                                            <option value="1">Hour</option>
                                            <option value="2">Day</option>
                                            <option value="3">Week</option>
                                            <option value="4">Month</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="row mt16">
                                    <div class="col-md-1">
                                        <select class="form-control  customdropdown Attachment selectpicker" multiple="multiple" name="Attachment">
                                            <option @(item.Attachment.Contains(1) ? "selected" : "") value="1">Nav Link</option>
                                            <option @(item.Attachment.Contains(2) ? "selected" : "") value="2">Document</option>
                                        </select>
                                    </div>
                                    <div class="col-md-1">
                                        <select class="form-control  info selectpicker" multiple="multiple" name="info">
                                            <option @(item.info.Contains(1) ? "selected" : "") value="1">ID</option>
                                            <option @(item.info.Contains(2) ? "selected" : "") value="2">Title</option>
                                            <option @(item.info.Contains(3) ? "selected" : "") value="3">Date/Time</option>
                                            <option @(item.info.Contains(4) ? "selected" : "") value="4">Address</option>
                                            <option @(item.info.Contains(5) ? "selected" : "") value="5">Tools</option>
                                            <option @(item.info.Contains(6) ? "selected" : "") value="6">Contact</option>
                                            <option @(item.info.Contains(7) ? "selected" : "") value="7">Phone</option>
                                            <option @(item.info.Contains(8) ? "selected" : "") value="8">Instruction</option>
                                        </select>
                                    </div>
                                    <div class="col-md-1">
                                        <select class="form-control selectpicker  type" multiple="multiple" name="type">
                                            <option @(item.type.Contains(1) ? "selected" : "") value="1">Email</option>
                                            <option @(item.type.Contains(2) ? "selected" : "") value="2">Text</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group round Confirmationbox" style="margin-top:20px;">
                                            <input class="inputbox3 Confirmation" type="checkbox" @(item.Confirmation == 1 ? "checked" : "") id="TConfirmation_@techreminder" value="@item.Confirmation" name="Confirmation" /> Confirmation
                                            <label for="checkbox" class="cuschk Confirmation @(item.Confirmation==1 ? "bck" : "") " data-id="TConfirmation_@techreminder"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <hr />
                                <div class="clearfix"></div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <button type="button" onclick="deleteReminder('techForm_@techreminder','@item.token')" name="button" value="delete" class="btn btn-danger btn-sm pull-left ">
                                            <i class="fa fa-recycle"></i> Delete
                                        </button>
                                        <button type="submit" name="button" value="update" class="btn btn-primary btn-sm pull-left ml16">
                                            <i class="fa fa-save"></i> Update
                                        </button>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <hr />
                                <div class="clearfix"></div>
                            }
                        </div>
                        techreminder += 1;
                    }
                </div>
            </div>
            <hr />
            <div class="clearfix"></div>
            <div class="col-lg-12" style="margin-top:@(Model.techReminder.Count==0?"200px":"0px")">
                <h3 class="panel-title pnl1">
                    Dispatcher
                    <button type="submit" onclick="addReminder('2')" class="btn btn-default btn-sm pull-right addbutton">
                        <i class="fa fa-plus"></i> Add Reminder
                    </button>
                </h3>
            </div>
            <div class="col-lg-12">
                <ul class="nav nav-tabs" role="tablist">
                    @foreach (var item in Model.dispatcherReminder)
                    {

                        if (disreminderli == 1 && dispatcherTabId == 0)
                        {
                            _class = "active";
                        }
                        else if (dispatcherTabId != 0 && dispatcherTabId == item._reminderId)
                        {
                            _class = "active";
                        }
                        else
                        {
                            _class = "";
                        }

                        <li role="presentation" class="@_class"><a href="#dreminder_@disreminderli" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">@("Reminder "+ disreminderli)</a></li>
                        disreminderli += 1;
                    }
                </ul>
                <div class="tab-content p-20">
                    @foreach (var item in Model.dispatcherReminder)
                    {

                        if (disreminder == 1 && dispatcherTabId == 0)
                        {
                            _class = "active";
                        }
                        else if (dispatcherTabId != 0 && dispatcherTabId == item._reminderId)
                        {
                            _class = "active";
                        }
                        else
                        {
                            _class = "";
                        }

                        <div role="tabpanel" class="tab-pane @_class" id="dreminder_@disreminder">
                            @using (Html.BeginForm("editReminder", "Reminder", FormMethod.Post, new { @id = "dispatcherForm_" + disreminder }))
                            {
                                <input type="hidden" name="token" value="@item.token" />
                                <input type="hidden" name="usertype" value="2" />
                                <div class="row">
                                    <div class="col-md-1">
                                        <select class="form-control selectpicker Autorefresh" data-id="@item.repeattype" name="repeattype">
                                            <option value="1">Does not repeat </option>
                                            <option value="2">Repeat</option>
                                        </select>
                                    </div>
                                    <div class="col-md-1">
                                        <select class="form-control selectpicker Autorefresh" data-id="@item.reapetdays" name="reapetdays">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </div>
                                    <div class="col-md-1">
                                        <select class="form-control selectpicker Autorefresh" data-id="@item.repeatid" name="repeatid">
                                            <option>Calender setting </option>
                                            <option value="1">Hour</option>
                                            <option value="2">Day</option>
                                            <option value="3">Week</option>
                                            <option value="4">Month</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="row mt16">
                                    <div class="col-md-1">
                                        <select class="form-control selectpicker customdropdown Attachment" multiple="multiple" name="Attachment">
                                            <option @(item.Attachment.Contains(1) ? "selected" : "") value="1">Nav Link</option>
                                            <option @(item.Attachment.Contains(2) ? "selected" : "") value="2">Document</option>
                                        </select>
                                    </div>
                                    <div class="col-md-1">
                                        <select class="form-control selectpicker dinfo" multiple="multiple" name="info">
                                            <option @(item.info.Contains(1) ? "selected" : "") value="1">ID</option>
                                            <option @(item.info.Contains(2) ? "selected" : "") value="2">Title</option>
                                            <option @(item.info.Contains(3) ? "selected" : "") value="3">Date/Time</option>
                                            <option @(item.info.Contains(4) ? "selected" : "") value="4">Address</option>
                                            <option @(item.info.Contains(5) ? "selected" : "") value="5">Tools</option>
                                            <option @(item.info.Contains(6) ? "selected" : "") value="6">Contact</option>
                                            <option @(item.info.Contains(7) ? "selected" : "") value="7">Phone</option>
                                            <option @(item.info.Contains(8) ? "selected" : "") value="8">Instruction</option>
                                        </select>
                                    </div>
                                    <div class="col-md-1">
                                        <select class="form-control selectpicker  type" multiple="multiple" name="type">
                                            <option @(item.type.Contains(1) ? "selected" : "") value="1">Email</option>
                                            <option @(item.type.Contains(2) ? "selected" : "") value="2">Text</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group round Confirmationbox" style="margin-top:20px;">
                                            <input class="inputbox3 Confirmation" type="checkbox" @(item.Confirmation == 1 ? "checked" : "") id="DConfirmation_@disreminder" value="@item.Confirmation" name="Confirmation" /> Confirmation
                                            <label for="checkbox" class="cuschk Confirmation @(item.Confirmation==1 ? "bck" : "") " data-id="DConfirmation_@disreminder"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <hr />
                                <div class="clearfix"></div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <button type="button" onclick="deleteReminder('dispatcherForm_@disreminder','@item.token')" name="button" value="delete" class="btn btn-danger btn-sm pull-left ">
                                            <i class="fa fa-recycle"></i> Delete
                                        </button>
                                        <button type="submit" name="button" value="update" id="button" class="btn btn-primary btn-sm pull-left ml16">
                                            <i class="fa fa-save"></i> Update
                                        </button>
                                    </div>
                                </div> 
                                <div class="clearfix"></div>
                            } 
                        </div>
                        disreminder += 1;
                    }
                </div>
            </div>

        </div>
    </div>
</div>
<script src="@Url.Content("~/Content/Reminder/index.min.js?v=1.2")"></script>
 