@CHARSET "UTF-8";

body {
	background-color: #f0f0ee;
	margin: 0px;
	padding: 0px;
	font-family: "Arial", sans-serif;
	font-size: 11px;
	color: #333333;
}

a {
	color: #1C74A7;
    text-decoration: none
}
a:hover {
    text-decoration: underline;
}
a:visited {
	color: #5D5E63;
}

.clearboth
{
	clear: both;
}

.floatleft
{
	float: left;
}

.floatright
{
	float: right;
}

.nullobject
{
	line-height: 0;
	font-size: 0;
}

.h1class,
.h2class,
.h3class,
.h4class {
	font-family: "Arial", sans-serif;
	letter-spacing:1px;
}

.h1class {
	font-size:1.3em;
	font-weight:bold;
}

.h2class {
	font-size:1.2em;
	font-weight:bold;
}

.h3class {
	font-size:1.1em;
	font-weight:bold;
}

.h4class {
	font-size:1em;
	font-weight:normal;
}

/** start sidebar menu **/
#sidebar {
	width: 200px;
	margin: 0px;
	padding: 0px;
	background: none;
	text-align:left;
}
.sidebox {
	border: 1px solid #666;
	margin: 0px 5px 15px 5px;
	background: #fcfcfc;

	/* hot CSS3 features for mozilla and webkit-based browsers (rounded borders) */
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;

	/* outline radius for mozilla/firefox only */
	-moz-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.1);
	box-shadow:0px 2px 3px rgba(0, 0, 0, 0.1);
}

#sidebar ul.sidemenu {
	list-style:none;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	font-size: 15px;
}
#sidebar ul.sidemenu a {
	display:block;
	font-size: .70em;
	font-weight:normal;
	color: #000000;
	height: 1.5em;
	padding: 3px 0px 3px 10px;
	line-height: 1.5em;
	border-left: 3px solid #fcfcfc;

	text-decoration:none;
	white-space: nowrap;
}
#sidebar ul.sidemenu a:hover {
	border-left: 3px solid #F47B20;
}
#sidebar ul.sidemenu a:active {
	background-color: rgba(235, 103, 32, 0.3);
}

#sidebar ul.sidemenu a.active_page {
    font-weight: bold;
}

.sidebox h1 {
	padding: 3px 5px;
	margin: 0px;
	font-size: 11px;
	background: #666;
	font-family: "Arial", sans-serif;
	color: #ffffff;
	white-space: nowrap;
    letter-spacing: 1px;
}
/** end sidebar menu **/

#pagewrap {
	background-color: white;
	min-width: 980px;
	width: 100%;
	padding: 60px 0px 40px 0px;
	margin: 0px;
}

#pagetop {
	position: fixed;
	width: 100%;
	background-color: black;
	height: 45px;
	text-align: right;
	vertical-align: middle;
	z-index:9998;
	-moz-box-shadow:    0px 0px 10px black;
	-webkit-box-shadow: 0px 0px 10px black;
	box-shadow: 		0px 0px 10px black;
}

#browser_version_alert {
	position: fixed;
	top: 45px;
	right: 0px;
	width: 70%;
	padding: 5px 5px 3px 5px;
	text-align: left;
	vertical-align: middle;
	background-color: #F47B20;
	z-index:3;
	-moz-box-shadow:    0px 0px 10px black;
	-webkit-box-shadow: 0px 0px 10px black;
	box-shadow: 		0px 0px 10px black;
}

#pagetop_logo {
	position: absolute;
	left: 40px;
	top: 7px;
}

#pagetop_title {
	margin-left: 170px;
    color: #ffffff;
	font-size: 24px;
	font-weight:bold;
}

#fnlogo {
	width: 211px;
	height: 60px;
	margin-right: 10px;
	border: none;
}

.toptab {
	position: absolute;
	width: 135px;
	height: 38px;
	background-image: url('/images/designv3/toptab.png');
	background-repeat: no-repeat;
	color: black;
	bottom: 0px;
}
.toptab.active {
	background-image: url('/images/designv3/toptab_active.png');
}

.toptab a {
	position: absolute;
	top: 10px;
	font-size: 15px;
	color: #333333;
	text-decoration: none;
	font-weight: normal;
}

#tab_technicians {
	left: 220px;
}

#tab_technicians a {
	left: 25px;
}

#tab_buyers {
	left: 356px;
}

#tab_buyers a {
	left: 40px;
}

#tab_aboutus {
	left: 492px;
}

#tab_aboutus a {
	left: 35px;
}

#tab_joinus {
	left: 628px;
}

#tab_joinus a {
	left: 35px;
}

#tab_help {
	left: 764px;
}

#tab_help a {
	left: 45px;
}

#toplinks{
	position: absolute;
	right: 120px;
	top: 13px;
	color: #ffffff;
	font-size: 12px;
	font-weight:bold;
	white-space: nowrap; /* fixes issue with Opera Mini */
}

#toplinks a {
	color: #ffffff;
	text-decoration: none;
}

.toplink_sep {
	margin:0 0.5em;
	color:#444;
}

#top_login{
	display: none;
	margin-top:12px;
	margin-right: 10px;
	color: #ffffff;
	font-size: 12px;
	font-weight:bold;
	white-space: nowrap; /* fixes issue with Opera Mini */
}
#top_login a {
	color: #ffffff;
	font-size: 10px;
}

#top_login input {
	font-size: 10px;
	margin-right: .5em;
}
#top_login_submit {
	margin-right: 1em;
}
#top_search {
	position: absolute;
	right: 10px;
	top: 10px;
	width:100px;
	height:20px;
	line-height:20px;
	font-size:12px;
	border:1px solid #ffffff;
	padding-left:10px;
}

#maingraphic {
	position: relative;
	width: 900px;
	height: 335px;
	margin: 0 auto;
	margin-bottom: .75em;
}

#learnmore_button {
	position: absolute;
	right: 30px;
	bottom: 30px;
}

#learnmore_button img {
	width: 168px;
	height: 31px;
	border: none;
}

#newsfeed {
	position: relative;
	width: 900px;
	height: 34px;
	background-image: url('/images/designv3/newsfeed_bg.png');
	background-repeat: no-repeat;
	margin: 0 auto;
	margin-bottom: .75em;
}

#newsfeed span {
	font-size: 14px;
	color: #777777;
	position: absolute;
	left: 15px;
	top: 8px;
}

.secmain {
	position: relative;
	width: 900px;
	height: 371px;
	background-image: url('/images/designv3/secmain_bg.png');
	background-repeat: no-repeat;
	margin: 0 auto;
	margin-bottom: .75em;
}
.secmain_left {
	font-size: 13px;
	line-height: 23px;
	color: #88898b;
	position: absolute;
	top: 25px;
	left: 50px;
	width: 520px;
}
.secmain_left .title {
	font-size: 25px;
	line-height: 25px;
	font-weight: bold;
	color: #000000;
	margin-bottom: .4em;
}
.secmain_left ul {
	-webkit-padding-start: 0px;
	-moz-padding-start: 0px;
	margin: 0px;
	padding: 0px;
}
.secmain_left p {
	margin: 0px;
	margin-bottom: .5em;
}
.secmain_right {
	position: absolute;
	top: 25px;
	left: 620px;
	width: 250px;
	color: #88898b;
	font-size: 12px;
	line-height: 1.5em;
}
.secmain_right .title {
	font-weight: bold;
	font-size: 16px;
	color: #000000;
	margin-bottom: .25em;
}
.secmain_right .spacer {
	height: .75em;
}

#buyers_secmain .secmain_left {
	z-index: 2;
	left: 25px;
	top: 25px;
	width: 875px;
}
#buyers_secmain .secmain_left .title {
}
#buyers_secmain .secmain_left ul {
	margin-left: 1.25em;
}
#nationmap {
	position: absolute;
	bottom: 15px;
	right: 70px;
}

#about_secmain .secmain_left {
	width: 540px;
	font-size: 12px;
	line-height: 19px;
	left: 30px;
}
#about_secmain .secmain_left ul {
	margin-left: 1.25em;
}
#about_secmain .secmain_right {
	top: 65px;
}

#joinus_secmain .secmain_left {
	font-size: 12px;
	line-height: 19px;
	left: 30px;
}
#joinus_secmain .register_holder {
	text-align: right;
	margin-bottom: 1em;
}
#joinus_secmain .register_holder img {
	border: none;
}

#help_secmain .secmain_left .title {
	margin-bottom: 1em;
}

#techcerts {
}
#techcerts .title {
}

#blockholder {
	position: relative;
	width: 900px;
	height: 146px;
	margin: 0 auto;
	margin-bottom: .5em;
}

.block {
	position: absolute;
	width: 290px;
	height: 146px;
}

#block_find {
	left: 0px;
	background-image: url('/images/designv3/block_find.png');
}

#block_find_input {
	position: absolute;
	left: 20px;
	top: 80px;
	width: 120px;
	font-size: 16px;
	padding: 4px;
	padding-left: 20px;
	text-align: left;
}

#block_find_button {
	position: absolute;
	left: 176px;
	top: 78px;
}

#block_createwo {
	left: 305px;
}
#block_createwo img {
	width: 290px;
	height: 146px;
	border: none;
}

#block_register {
	right: 0px;
	background-image: url('/images/designv3/block_register.png?v=2');
}
#block_register_button {
	position: absolute;
	top: 80px;
	left: 85px;
}

#footer {
	border-top: 1px solid #ccc;
	height: 70px;
	text-align: center;
	padding-top: 30px;
	color: #777777;
}

#footer a {
	color: #777777;
}


/* START OF GENERAL DESIGN STYLES */
.fn_sect_head {
	font-size: 105%;
	font-weight: bold;
	border-bottom: 1px solid #F47B20;
	padding: 0em 0em 0.25em 0em;
	margin: 2em 0em 0em 0em;
}
.fn_sect_head.small {
	color: #999;
	font-size: 95%;
	font-weight: normal;
	border-color: #EEEEEE;
	padding: 0;
	margin: 0;
}
.fn_sect_body {
	padding: 0.5em 1em 0em 1em;
	margin-bottom: 1em;
}
.fn_sect_body.small {
	padding: 0.25em 1em 0em 0.5em;
	margin-bottom: 0.75em;
}
.fn_sect_body>.fn_sect_head {
	border-bottom: 1px solid #C0C0C0;
}

.fn_header {
	font-size: 22px;
	font-weight: bold;
	padding: 0em 0em 8px 0em;
	margin: 15px 0px 5px 0px;
	color: #333
}

.fn_breadcrumbs {

}

.fn_breadcrumbs a {
	color: #378A9B;
	font-weight: bold;
	text-decoration: none;
}




/*
ul.fn_tabs {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	height: 20px;
	position: relative;
	top: 1px;
}

ul.fn_tabs li {
	display: inline;
	margin-right: 3px
}

ul.fn_tabs li a {
	color: #000000;
	font-size: 14px;
	position:relative;
	padding: 2px 21px 3px 20px;
	text-decoration: none;
    text-transform: uppercase
}

ul.fn_tabs li a:hover {
	background-color: #EEEEEE;
	border-bottom: 2px solid #cccccc;
}
ul.fn_tabs li.selected a {
	color: #333;
	font-weight: bold;
	z-index: 1;
	border-bottom: 2px solid rgb(244, 123, 32);
}

.fn_tab_body .hide {
	display: none;
}

#fn_tabs_hidden_tabspace {
	display: block;
	visibility: hidden;
	position: absolute;
	top: -10000px;
	left: -10000px;
}

#fn_tabs_hidden_tabspace div {
	display: block;
	width: 100%
}

.fn_tab_body{
	padding: 10px;
	min-height:150px;
	position: relative;
}
*/



ul.fn_tabs {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	height: 15px;
	position: relative;
	top: 1px;
}

ul.fn_tabs li {
	display: inline;
	margin-right: 3px
}

ul.fn_tabs li a {
	color: #ffffff;
	background-color: #666666;
	border: 1px solid #447079;
	border-bottom: none;
	position:relative;
	padding: 2px 21px 3px 20px;
	text-decoration: none;
	-webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    text-transform: uppercase
}

ul.fn_tabs li a:hover {
	background-color: #447079;
}
ul.fn_tabs li.selected a {
	color: #333;
	background-color: #F6F6F6;
	font-weight: bold;
	z-index: 1;
}
ul.fn_tabs_white li.selected a {
	background-color: #fff
}

.fn_tab_body .hide {
	display: none;
}

#fn_tabs_hidden_tabspace {
	display: block;
	visibility: hidden;
	position: absolute;
	top: -10000px;
	left: -10000px;
}

#fn_tabs_hidden_tabspace div {
	display: block;
	width: 100%
}

.fn_tabs_hidden_tabspace {
	display: block;
	visibility: hidden;
	position: absolute;
	top: -10000px;
	left: -10000px;
}

.fn_tabs_hidden_tabspace div {
	display: block;
	width: 100%
}

.fn_tab_body{
	padding: 10px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 2px;
	border: 1px solid #164852;
	background: #F6F6F6;
	min-height:150px;
	position: relative;

}
.fn_tab_body_white {
	background-color: #fff
}

.fn_infobox {
	border: 1px solid #CCCCCC;
	background-color: #F9F9F9;
	color: #222222;
	padding: 0.5em;
	margin: 1em;
	padding-left: 24px;
	background-image: url('/images/designv3/info.png');
	background-position: 4px 4px;
	background-repeat: no-repeat;

	/* hot CSS3 features for mozilla and webkit-based browsers (rounded borders) */
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;

	-moz-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.1);
	box-shadow:0px 2px 3px rgba(0, 0, 0, 0.1);
}

.fn_infobox_title {
	color: #F47B20;
	font-weight: bold;
	font-size: 105%;
	padding-bottom: 0.25em;
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 0.5em;
}
.fni_warning {
	background-color: #ffffcc;
	border-color: #9D9C49;
	background-image: url('/images/sweetie/warning-16.png');
}
.fni_warning>.fn_infobox_title {
	border-color: #9D9C49;
	color: #9D9C49;
}
.fni_success {
	background-color: #D4FFCD;
	border-color: #4F8746;
	background-image: url('/images/sweetie/badge-circle-check-16.png');
}
.fni_success>.fn_infobox_title {
	color: #4F8746;
	border-color: #4F8746;
}
.fni_notice {
	background-color: #C0E9FA;
	border-color: #0E7FAD;
	background-image: url('/images/sweetie/note-16.png');
}
.fni_notice>.fn_infobox_title {
	color: #0E7FAD;
	border-color: #0E7FAD;
}
.fni_error {
	background-color: #FFD2D4;
	border-color: #641F1A;
	background-image: url('/images/sweetie/badge-circle-cross-16.png');
}
.fni_error>.fn_infobox_title {
	color: #641F1A;
	border-color: #641F1A;
}

div.PageNavDiv{
	float:left;
	width:85%;
	padding:0px 0px 0px 5px;
	color:#999999;
}

div.PageinfoDiv{
	text-align:right;
	color: #999999;
}

.pageNavs:link,.pageNavs:visited{
	color: #999999;
	font-weight:700;
	text-decoration:none;

}

.pageNavs:hover{
	color:#000;
	font-weight:700;
	text-decoration:none;

}

span.currentPnav{
	color:#000000;
	font-weight:700;
	text-decoration:underline;
}

.requiredfield{
	color:#FF0000;
}

.payFormcss .requiredfield{
    color:#FF0000 !important;
}

.tbl-contact{
    width: 100%;
}

.tbl-contact-left{
    width: 45%;
    vertical-align: top;
    text-align: right;
}

.tbl-contact-right{
    text-align: left;
}

.notetext{
	color:#888888;
}

.notetext a {
    color: #000000
}

.company_mng_main_class{
	text-align: left;
	margin:10px 20px 20px 20px;
}

.company_mng_main_class .fn_sect_head{
	border-color:#AFAFAF;
}

.company_mng_main_class .fn_sect_body p{
	padding:0;
	margin:3px 0px 10px 0px;
}

.common_table_class {
	border:1px solid #C0C0C0;
	border-collapse:collapse;
	color:#232348;
	margin-bottom:0.5em;
	padding:0.5em;
}
.common_table_class th {
	border:1px solid #C0C0C0;
	background-color:#F2F2F2;
	padding:0.3em 0.3em 0.4em 0.5em;
}
.common_table_class th a {
	color: black;
}
.common_table_class td {
	padding:0.5em;
	border:1px solid #C0C0C0;
}
.common_table_class .even {
	background-color: #FBFBFB;
}

.common_table_hover_class tr:hover {
	background: #F9E6DC;
}
.common_table_tr_selected {
	background: #FFF0E8;
}
.bundle_bg {
	background: #E0F4FD;
	border:1px solid #0E7FAD;
	padding:0.5em 0em;
	box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.1);
}
.bundle_box {
	padding:0.5em 1.5em;
	border-bottom:1px solid #C0E9FA;
	z-index:2;
}
.bundle_box_div{
	padding:0.5em 1.5em;
	border-bottom:1px solid #C0E9FA;
}
.bundle_box_selected,.bundle_box:hover{
	background:#C0E9FA;
	box-shadow: inset 2px -1px 3px rgba(0, 0, 0, 0.1);
}
.details_without_scroll, .details {
	background-color:#EFEFEF;
}

.details {
	height:18em;
	overflow: auto;
}

.large_text_display {
	color: #333;
	padding: 10px 10px 10px 10px;
    border: 1px solid #AAA;
    text-align: justify;
    -moz-box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow:1px 1px 3px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.2);
    margin-top: 3px;
    margin-bottom: 5px;
}

.form_input_container {
	padding-bottom:0.3em;
}

.form_input_container input,
.form_input_container textarea,
.form_input_container select {
	border: 1px solid #CCCCCC;
}

.form_input_container .form_label {
	display:block;
	float:left;
	width:110px;
	padding-top: 5px;
}


.form_input_container .inputbox {
	max-width:9em;
}

.form_input_container .textlineheight {
	line-height:1.7em;
}
.dropdownCheckBox {
	overflow:auto;
	max-height:100px;
	width:300px;
	border:1px solid #CCC;
}
.dropdownCheckBox label {
	display: block;
	width: 100%;
	padding: 3px 0;
	margin:0;
}

.dropdownCheckBox .dropdownCheckBoxList {
	background-color:#F4F4F4;
}

/***************************************************/
/* start of buttons */
/********/
.fnbutton {
	cursor: pointer;
    color: #333;
    font: bold 12px Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 6px 10px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    background: #F5F5F5;
    background: linear-gradient(#FFFFFF 0%, #E6E6E6 100%);
    border: solid 1px #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    margin-right: 10px;
    vertical-align: middle;
}
a.fnbutton:hover { text-decoration: none }
a.fnbutton { color: #333; }
.fnb-tiny {
	padding: 1px 3px;
	font-size: 10px;
	margin-right: 4px;
	border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}
.fnb-small {
	padding: 3px 5px;
	font-size: 11px;
	margin-right: 6px;
	border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.fnb-big {
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.fnb-supersize {
    font-size: 20px;
    padding: 12px 16px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}

.fnbutton:hover:not(:disabled):not(.fnb-disabled):not(.fnb-active):not(:active) {
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 5px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 5px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 5px rgba(0, 0, 0, 0.3);
}
.fnbutton:active:not(:disabled):not(.fnb-disabled),.fnb-active:not(:disabled):not(.fnb-disabled) {
    border-color: #999;
    text-shadow: 0 -1px 1px rba(255,255,255,0.75);
    background: #E6E6E6;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
}

.fnb-left {
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
    margin: 0;
}
.fnb-middle {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-left: solid 1px #f5f5f5;
    margin: 0;
    border-left: solid 1px rgba(255, 255, 255, 0);
}
.fnb-right {
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
    border-left: solid 1px #f5f5f5;
    border-left: solid 1px rgba(255, 255, 255, 0);
}

.fnbutton:disabled,.fnbutton.fnb-disabled {
    opacity: 0.50;
}

.fnb-icon {
	vertical-align: middle;
	display: inline-block;
	border: 0px;
}
.fnb-text {
	margin-left: 0.5em;
	vertical-align: middle;
}

.label_item {
    line-height:12px;
    font-size: 11px;
	font-weight: normal;
    margin-right: 4px;
	margin-bottom: 2px;
    padding: 2px 2px 2px 4px;
	background-color : #f0f0f0;
	vertical-align: middle;
	white-space: nowrap;

	/* hot CSS3 features for mozilla and webkit-based browsers (rounded borders) */
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.blue_list .label_item {
	background-color: #dddddd;
}

.label_item_close {
	width:10px;
	line-height:11px;
    color: #666;
    font-size: 11px;
    font-weight: bold;
    margin: 1px 0 0 3px;
    padding: 0;
    text-shadow: 0 1px 1px #FFFFFF;
	text-decoration: none;
}
.label_item_close:hover {
	color: red;
}

/* GREEN BUTTON */
.fnbutton.fnb-green {
    background: #3D9400;
    background: linear-gradient(#4AB300 0%, #368300 100%);
    color: white;
    text-shadow: 0 1px 1px rgba(0,0,0,0.3);
    border-color: #3D9400;
}
.fnbutton.fnb-green:active:not(:disabled):not(.fnb-disabled),.fnb-green.fnb-active:not(:disabled):not(.fnb-disabled) {
	color: white;
	border-color: #307400;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.3);
	background: #368300;
}
.fnb-middle.fnb-green,
.fnb-right.fnb-green {
    border-left: solid 1px #3D9400;
    border-left: solid 1px rgba(255, 255, 255, 0);
}

/* RED BUTTON */
.fnbutton.fnb-red {
    background: #D14836;
    background: linear-gradient(#FF5842 0%, #BC4131 100%);
    color: white;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
    border-color: #C24130;
}
.fnbutton.fnb-red:active:not(:disabled):not(.fnb-disabled),.fnb-red.fnb-active:not(:disabled):not(.fnb-disabled) {
	color: white;
	border-color: #AC3C2D;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.3);
	background: #BC4131;
}
.fnb-middle.fnb-red,
.fnb-right.fnb-red {
    border-left: solid 1px #DD4B39;
    border-left: solid 1px rgba(255, 255, 255, 0);
}

/* BLACK BUTTON */
.fnbutton.fnb-black {
    background: #2A2C2C;
    background: linear-gradient(#787B7C 0%, #1D1E1E 100%);
    color: white;
    text-shadow: 0 1px rgba(0,0,0,0.2);
    border-color: #6B6E6F;
}
.fnbutton.fnb-black:active:not(:disabled):not(.fnb-disabled),.fnb-black.fnb-active:not(:disabled):not(.fnb-disabled) {
	color: white;
	border-color: #333535;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.3);
    background: #555758;
}
.fnb-black:hover:not(:disabled):not(.fnb-disabled):not(.fnb-active):not(:active) {
    -webkit-box-shadow: inset 0 1px 4px rgba(255, 255, 255, 0.4), 0 2px 5px rgba(255, 255, 255, 0.3);
	-moz-box-shadow: inset 0 1px 4px rgba(255, 255, 255, 0.4), 0 2px 5px rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 1px 4px rgba(255, 255, 255, 0.4), 0 2px 5px rgba(255, 255, 255, 0.3);
}

.fnb-middle.fnb-black,
.fnb-right.fnb-black {
    border-left: solid 1px #6B6E6F;
    border-left: solid 1px rgba(255, 255, 255, 0);
}

/* ORANGE BUTTON */
.fnbutton.fnb-orange {
    background: #F47B20;
    background: linear-gradient(#FA8225 0%, #E86C0E 100%);
    color: white;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    border-color: #CF5413;
}
.fnbutton.fnb-orange:active:not(:disabled):not(.fnb-disabled),.fnb-orange.fnb-active:not(:disabled):not(.fnb-disabled) {
	color: white;
	border-color: #C24B0C;
    background: #E86C0E;
}
.fnb-middle.fnb-orange,
.fnb-right.fnb-orange {
    border-left: solid 1px #CF5413;
    border-left: solid 1px rgba(255, 255, 255, 0);
}

/* TEAM BUTTON */
.fnbutton.fnb-teal {
    background: #447079;
    background: linear-gradient(#6199A5 0%, #225964 100%);
    color: white;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    border-color: #225964;
}
.fnbutton.fnb-teal:active:not(:disabled):not(.fnb-disabled),.fnb-teal.fnb-active:not(:disabled):not(.fnb-disabled) {
	color: white;
	border-color: #4d4e50;
    background: #284A51;
}
.fnb-middle.fnb-teal,
.fnb-right.fnb-teal {
    border-left: solid 1px #164852;
    border-left: solid 1px rgba(255, 255, 255, 0);
}

input#search, input.large_box{
	width:500px;
	font-size:14px;
	padding:7px;
	margin-right: 0.25em;
	outline:none;
	border:thin solid #CCCCCC;
	vertical-align: middle;
}
input#search, input.large_box:focus {
	border-color: #F47B20;
	-webkit-box-shadow: inset 2px 2px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 2px 2px 2px rgba(0,0,0,0.1);
	box-shadow: inset 2px 2px 2px rgba(0,0,0,0.1);
}




/*************
end of buttons
***********************/

/* Start of tooltip */
.tooltip {
	background-color:#fdfddd;
	border:2px solid #DFDFB0;
	padding:0.5em;
	max-width:300px;
	display:none;
	color:#000;
	text-align:justify;
	font-size:12px;
	line-height:14px;
	z-index:9999;
	/* box shadow */
	-moz-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.03);
	-webkit-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.03);
	box-shadow:3px 3px 3px rgba(0, 0, 0, 0.03);
}
/* End of tooltip */


/***********************************
	start of ajaxPop dialog
 ***********************************/
#ajaxPop {
	display: none;

	width:500px;
	border:3px solid #333;
	z-index: 9999;

	/* hot CSS3 features for mozilla and webkit-based browsers (rounded borders) */
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;

	/* box shadow */
	-moz-box-shadow:0 0 10px #333;
	-webkit-box-shadow:0 0 10px #333;
	box-shadow:0 0 10px #333;
}
#ajaxPopContent {
	padding: 1em;
	background-color: #fff;
	height: 580px;
	overflow-y: auto;
}
/***********************************
	end of ajaxPop dialog
 ***********************************/

.fn_profile_progress {
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	background-color: #f9f9f9;
	padding: 1em;
	margin: 1em 0;
}
.fn_profile_progress_header {
	font-size: 125%;
	font-weight: bold;
	line-height: 125%;
	border-bottom: 1px solid #F47B20;
	margin-bottom: 0.5em;
}
.fn_profile_progress_summary {
	margin: 0.5em 2em;
}
.fn_profile_progress_action {
	margin-right: 1em;
	text-align: right;
}

 /* Start of progress bar */

.fn_progress_bar_empty
{
	border:1px solid #CCCCCC;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

.fn_progress_bar_filled
{
	border-right:1px solid #CCCCCC;

	-moz-border-radius-bottomleft: 8px;
	-webkit-border-bottom-left-radius: 8px;
	border-bottom-left-radius: 8px;

	-moz-border-radius-topleft: 8px;
	-webkit-border-top-left-radius: 8px;
	border-top-left-radius: 8px;
}
.fn_progress_bar_filled_100
{
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

.newlist_header
{
	border-color: #E0E0E0 !important;
	padding:.5em;
	background-color: #F7F7F7;
}

.newlist_body
{
	font-size: 98%;
	line-height:1.7em;
	background-color: #F7F7F7;
	padding-bottom: 0.5em;
}

/* End of progress bar */

/* style for gear button */

.gear_button_option_menu_values
{
	margin: 0px;
	padding: 0px;
	display: none;
	position: absolute;
	top: 25px;
	right: 0px;
	z-index: 2;
	width: 194px;
	border: 1px solid #ccc;
	box-shadow: 0px 3px 10px rgba(0,0,0,0.5);
}

.gear_button_option_menu_values li
{
	margin: 0px;
	padding:0px;
	border: 0px;
	list-style: none;
	font-size: 12px;
	width:100%;
}

.gear_button_option_menu_values li a{
	display: inline-block;
}

.gear_button_option_menu_values li a
{
	display: block;
	background: #E1E1DF;
	padding: 5px 12px;
	text-decoration: none;
	border-bottom: 1px solid #ccc;
	color: #447079;
	white-space: nowrap;
}
.gear_button_option_menu_values li:last-child a {
	border-bottom: none;
}

.gear_button_option_menu_values li a:hover
{
	background: #447079;
	color: #FFFFFF;
}

.gear_button_option_menu_values li ul
{
	margin: 0;
	padding: 0;
	position: absolute;
	visibility: hidden;
	border-top: 0px solid white;
}

.gear_button_option_menu_values li ul li
{
	float: none;
	display: inline;
}

.gear_button_option_menu_values li ul li a
{
	width: auto;
	background: #DDDDDD;
}

.gear_button_option_menu_values li ul li a:hover
{
	background: #447079;
}
/* End of gear button */

.morecontent  {
	border:1px solid #D8DFEA;
	padding:10px 15px;
	background-color:#EDEded;
	text-align:center;
}

.morecontent a {
	color:#595990 /*#3B5998*/;
	cursor:pointer;
	text-decoration:none;
	font-family: "Arial", sans-serif;
	font-size:11px;
	font-weight:normal;
}

#sidebar ul.sidemenu a.label_left_menu_grouptype {
	font-size: 11px;

}

#label_left_menu_sg {
	margin-left: 10px;
	list-style-type: none;
	padding-left: 0px
}
#label_left_menu_sg li {
	margin-bottom: 0px
}

#label_left_menu_sg li a {
	margin-bottom: 0px; margin-top: 0px
}
.notification_popup{
	position: absolute;
	right: 0px;
	top: 30px;
	border:1px solid #F47B20;
	width:400px;
	height:auto;
	background:#ffffff;
	color:#000000;
	z-index:2;
}

.notification_read_out{
	padding:2px 8px;
	background:#ffffff;
	text-align:center;
	border:1px solid #F47B20;
}

#toplinks a.notification_read_out{
	color: #F47B20;
}
.notification_yet_to_read{
	padding:2px 8px;
	background:#F47B20;
	text-align:center;
	border:1px solid #ffffff;
}
.notification_yet_to_read a {
	color: #ffffff;
	text-decoration: none;
}

#toplinks .notification_popup a {
    color: #000000;
	font-weight: bold;
}

#highlighter, #toplinks .notification_popup a#highlighter {display: block; color: #000; font-weight: normal}
#highlighter:hover, #toplinks .notification_popup a#highlighter:hover
{
background-color:#EEEDED;
}

#toplinks .notification_popup {
    white-space: normal;
	font-weight: normal;
}

.feeditem {
	padding: 8px;
	border-bottom: 1px solid #f0f0f0;
}
.feeditem:last-child {
	border-bottom: none;
}
.feeditem_feed {
	padding-left:0;
	padding-right:0;
}
.feeditem_feed_photo {
	float: left;
	margin-right: 6px;
}
.feeditem_feed a {
	text-decoration: none;
	font-weight: bold;
}
.feeditem_feed a:hover {
	text-decoration: underline;
}
.task_list_header {
	border: 1px solid #CCCCCC;
	background-color: #F9F9F9;
	color: #222222;
	margin:6px 0px 0px 0px;
	padding: 0.5em;
	padding-left: 10px;

	/* hot CSS3 features for mozilla and webkit-based browsers (rounded borders) */
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;

	-moz-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.1);
	box-shadow:0px 2px 3px rgba(0, 0, 0, 0.1);

	cursor:move;
}
.task_list {
	margin: 0px 5px 5px;
	border: 1px solid #ccc;
	border-top: none;
}
.task_more {
	padding: 4px;
	text-align: right;
}

/**
 * Debug modal
 *
 * @author Andy Baird
 * 1/15/2013
 */

#debug-modal {
    position:absolute;
    height: 480px;
    width: 640px;
    background:#ddd;
    border:4px solid #F47B20;
}

#debug-modal-screen {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:rgba(120,120,120,.5);
}

#debug-modal .close {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    float: right;
    color: #F47B20;
    margin-right: 10px;
}

#debug-modal .close:hover {
    color: #aaa;
}

.debug-modal-tabs {
    margin: 5px;
    padding: 0;
    height: 22px;
}

.debug-modal-tabs li {
    float: left;
    list-style-type: none;
    padding: 4px 12px;
    border-radius: 15px;
    background: #aaa;
    border: 1px solid #aaa;
    color: #fff;
    margin-left: 8px;
    cursor: pointer;
}
.debug-modal-tabs li:hover {
    background: #777;
    border: 1px solid #777;
}


.debug-modal-tabs li.active {
    background: #fff;
    color: #000;
}

.debug-modal-body {
    overflow-y: scroll;
    clear: both;
    height: 448px;
    display: none;
    background: #fff;
    margin-top: 5px;
}

.debug-sql-list {
    padding: 5px;
}

.debug-sql-list li {
    padding: 5px;
    margin: 5px 0;
    cursor: pointer;
}

.debug-sql-list .caution {
    background: #FFEBAB;
    color: #5E4B0D;
}

.debug-sql-list .alarm {
    background: #EB361A;
    color: #fff;
}

.debug-sql-list span.error {
    color: #ff0000;
}


.debug-sql-list span {
    font-family: "Courier", monospaced;
    font-size: 11px;
}
.debug-sql-list span:hover {
    text-decoration: underline;
}

.debug-sql-list div {
    padding: 5px;
    border-radius: 15px;
    color: #fff;
    font-weight: bold;
    background: #ccc;
    display: inline-block;
    float: right;
    right: 5px;
}

#debug-modal-body table {
    margin: 10px;
}

#debug-modal-error .message {
    color: #ff0000;
}

#debug-modal-error .expand-error {
    cursor: pointer;
}

#debug-modal-error .error-expandable {
    display: none;
}

.explain-table {
    border: 1px solid #ccc;
}

.explain-table td {
    padding: 2px;
}

.explain-table .shaded {
    background: #f0f0f0;
}

.verified-badge {
    background: #F47B20;
    background: linear-gradient(#FA8225 0%, #E86C0E 100%);
    color: white;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    border-color: #CF5413;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: normal;
    line-height: normal;
    margin: 2px;
    padding: 3px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 1px;
    text-transform: none;
    vertical-align: middle;
    white-space: pre;
    word-spacing: 0px;
}

.read_only_mode_banner {
    text-align: center;
    background: #ffffcc;
    border-bottom: 1px solid #ddd;
    padding: 15px;
}

.read_only_mode_banner h1 {
    margin: 0;
}

.select_note_type {
    font-size: 12px;
    margin-top: 10px;
}

.select_note_type a {
    color: #999;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
}

.select_note_type a.selected {
    color: #000;
}

.arrow_box {
    position: relative;
    background: #F9F9F9;
    border: 1px solid #cccccc;
    padding: 7px;
    margin-top:14px;
}

.arrow_box:after, .arrow_box:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(249, 249, 249, 0);
    border-bottom-color: #F9F9F9;
    border-width: 10px;
    margin-left: -10px;
}
.arrow_box:before {
    border-color: rgba(204, 204, 204, 0);
    border-bottom-color: #cccccc;
    border-width: 11px;
    margin-left: -11px;
}

.arrow_box #companyUserNoteSubject {
    width: 69%;
    padding:3px;
}

.arrow_box #companyUserNoteTxt {
    width: 98.5%;
    padding:3px;
    height: 40px;
    margin-top:5px;
}

.arrow_box .company {
    float: left;
    width: 25%;
    padding:3px;
    margin-right:8px;
}

.arrow_box textarea {
    width: 98.5%;
}

.arrow_box input[type=text],.arrow_box textarea {
    height: 20px;
}

.arrow_box textarea.note {
    border-color: gray
}

.arrow_box.company_note:after, .arrow_box.company_note:before {
    left: 50px;
}

.arrow_box.status_update:after, .arrow_box.status_update:before {
    left: 155px;
}

.arrow_box #companyUserNoteTxt {
    height: 50px;
}

.feed_items {
    font-size: 12px;
}

.feed_items .feeditem {
    border-bottom: 1px solid #d0d0d0;
}

.feeditem_feed_content {
    position: relative;
    padding-left: 56px;
    word-wrap: break-word;
}

.feeditem_feed_gutter {
    font-size: 11px;
    margin-top: 7px;
    background: #f9f9f9;
    border: 1px solid #ccc;
}

.feeditem_feed_gutter .actions {
    padding: 4px;
    border-bottom: 1px solid #ccc;
}

.feeditem_feed_gutter ul.replies  {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.feeditem_feed_gutter ul.replies li {
    padding: 4px;
}
.feeditem_feed_gutter .reply_gutter {
    margin-top: 12px;
}
.feeditem_feed_gutter .reply_input {
    padding: 4px;
}

.feeditem_feed_gutter .replies .reply_content {
    position: relative;
    padding-left: 40px;
}

.lightyellow
{
	background: #F3FD00;
}
.video_icon
{
	border: 0px;
	position: relative;
	top: 5px
}
.cursor_pointer {
    cursor: pointer;
}
.recruitment_available_work {
	margin-top:5px;
	text-decoration:underline;
}
.bottom_border_none {
	border-bottom:none;
}
.padding_top_zero {
	padding-top:0px;
}
.padding_zero {
	padding:0px;
}

.ap-resolved td {
    background: #f0f0f0;
    font-style: italic;
}

/* don't show links when printing */
@media print{
	#pagetop, #sidebar, #company_display_clogo{
		display: none  !important;
		visibility: hidden !important;
	}
	.left-sidebar, .content div.content-alert, .top-bar, div.fn_infobox, div.fni_notice, .sub-top-bar, .sub-top-bar .with-sub-top-bar{
		display: none  !important;
		visibility: hidden !important;
	}
	@page :left{ margin: 0.5cm; }
	@page :right{ margin: 0.8cm; }
	@page{
		size: auto;   /* auto is the current printer page size */
		margin: 0mm;  /* this affects the margin in the printer settings */
	}
	div.content {
		position: absolute;
		left: 0px;
		top: 0px;
	}

	a[href]:after{content:"" !important}
	abbr[title]:after{content:"" !important}
	a[href^="javascript:"]:after,a[href^="#"]:after{content:"" !important}

	#pagewrap { border: none !important; zoom: 1 }
	.status_bar  img{
		visibility: visible;
	}
	#status_bar_holder {
		-webkit-print-color-adjust: exact;
	}
	#left-sidebar-menu{
		width:0px !important;
	}
	#pagewrap{
		padding-top:10px !important;
	}
	#lbLoadMessage img {display: none;}
}

/* style the subcategories */

.workorder-category-menu ul {
    padding-left: 10px;
    list-style-top: none;
}
.workorder-category-menu ul li:last-child {
    padding-bottom: 0px;
}
.main-nav .workorder-category-menu ul li {
    height: 20px;
}
.workorder-category-menu ul li a {
    color: #333;
}

.workorder-category-menu ul li.sub-category {
    padding-left: 10px;
    font-size: 11px;
    height: auto;
}

li.sub-category .dot {
    border-radius: 5px;
    height: 10px;
    position: relative;
    top: 1px;
    width: 10px;
    display: inline-block;
}

table.ui-tpicker-grid-label{
    max-width: none !important;
}

.user-search-header{
    width: 100%;
}

.user-search-header input{
    font-size: 12px;
}
.react-btn-primary {
    background-color: #1e824c ;
    color: #fff !important;
}
.react-modal-header{
    color: #000;
    font-size: 20px;
}
.react-modal-header.blue{
    color: #ffffff ;
    background-color: #1D3E82 ;
}
.react-modal-header.green{
    color: #ffffff ;
    background-color: #1e824c ;
}
.react-modal-content{
    font-family: 'Open Sans';
    font-size:14px;
}
.modal-body.react-modal-body{
    font-size:14px;
}
.react-modal-img{
    height: 136px;
    width: 40%;
}
.react-modal-img-width{
    width: 40%;
}

.react-modal-close{
    color: white !important;
    font-weight: normal !important;
    font-size: 30px !important;
    cursor: pointer;
    line-height: 25px;
}
.react-modal-close.black{
    color: lightgray !important;
}

.react-modal-footer{
    border: 0px !important;
}
.react-radio-button{
    margin-top:1px !important;
}
.react-checkbox{
    position: relative;
    vertical-align: bottom;
    bottom: 3px;
}
.large-header{
    font-size: 20px;
}
.react-body-font{
    font-family: 'Open Sans';
    font-size: 13px;
}