﻿
@{
    ViewBag.Title = "Jobs";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var state = (Dictionary<int, string>)ViewBag.select;
    var permission = (List<int>)ViewBag.permissions;
    bool hidecolumn = (bool)ViewBag.hiderate;
    int userid = (int)ViewBag.userid;
    var date = (string)ViewBag.date;
    int cclient = (int)ViewBag.cclient;
    string Location = (string)ViewBag.Location;
    int cTechnician = (int)ViewBag.cTechnician;
    int cDispatcher = (int)ViewBag.cDispatcher;
    int Status = (int)ViewBag.Status;
    bool isactivefilter = (bool)ViewBag.isfilter;
    bool subcntrcter = (bool)ViewBag.issubcontractor;
    int ProjectId = (int)ViewBag.project;
    int PmanagerId = (int)ViewBag.PmanagerId;
    int cmanagerId = (int)ViewBag.cmanagerId;
    int screening = (int)ViewBag.screening;
    int[] Skiil = (int[])ViewBag.Skiil;
}
@model hrm.Models.job
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<style>
    .mt9 {
        margin-top: 9px !important;
    } 
    .pac-container {
        z-index: 10000 !important;
    } 
    .wdth240 {
        width: 350px !important;
        padding: 10px;
    }
        .wdth240 .form-group label
        {
            font-weight:600;
        }
        .labelbox {
            display: block;
            padding-left: 15px;
            text-indent: -15px;
        } 
    .closebox {
        float: right;
        font-size: 26px;
        font-weight: 500;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        opacity: 0.6;
        border-radius: 29px;
        width: 44px;
        padding: 5px !important;
        border: 1px solid #fff !important;
    } 
    .box-inner > div > .form-group > label > span {
        text-transform: none !important;
    } 
    .box-inner {
        width: 570px;
        padding: 10px;
    } 
    .box {
        float: right;
        overflow: hidden;
        background: #fff;
    }

    .mainbox {
        position: absolute;
        top: 62px;
        z-index: 99999999;
        right: 1px;
        box-shadow: 1px 11px 13px #708090;
        height: 93vh;
    }

    .closebox:hover {
        color: #626262 !important;
        background-color: #fff !important;
        border: 1px solid #eee !important;
    }

    #amount:hover {
        background-color: #F1F9FF;
    }

    @@media (min-width: 768px) {
        .modal-dialog {
            width: 870px;
            margin: 30px auto;
        }
    }

    .fc-center > h2 {
        font-size: 23px;
    }

    .table.table-hover tbody tr:hover > td > #amount {
        background-color: #F1F9FF;
    }

    .fc-popover {
        background: gainsboro;
    }

    .dropdown-toggle, .multiselect-clear-filter {
        height: 42px !important;
    }

    .dropdown-menu {
        min-width: 212px;
    }

    .btn-default:not(.custom-cal-button).active,
    .btn-default:not(.custom-cal-button):active,
    .btn-default:not(.custom-cal-button).active:focus,
    .btn-default:not(.custom-cal-button):active:focus,
    .btn-default:not(.custom-cal-button).active:hover,
    .btn-default:not(.custom-cal-button):active:hover,
    .open > .dropdown-toggle.btn-default:not(.custom-cal-button):focus,
    .open > .dropdown-toggle.btn-default:not(.custom-cal-button):hover,
    .open > .dropdown-toggle.btn-default:not(.custom-cal-button).focus {
        background-color: white !Important;
        border-color: grey !important;
        color: #626262 !important;
        height: 42px;
    }
</style>

<script src="@Url.Content("~/Scripts/moment.min.js")"></script>
<script src="@Url.Content("~/Scripts/fullcalendar.js")"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.3.1/fullcalendar.print.css" media="print" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.3.1/fullcalendar.min.css" />
<style>
    .mrl {
        margin-right: 8px !important;
    }
</style>
<div class="p-10">
</div>
<div class="p-30 p-t-none p-b-none">
    @if (!string.IsNullOrEmpty(Model.error_text))
    {
        <span id="alert" style="display:none;" data-class="@Model.alertclass" data-text="@Model.error_text"></span>
    }
    <div class="box mainbox" style="display: none;" id="uploadslide">
        @using (Html.BeginForm("job", "import", FormMethod.Post, new { @id = "frmsuploadjobs", @enctype = "multipart/form-data" }))
        {
            <div class="box-inner">
                <div class="col-md-12">
                    <h3 class="pull-left panel-title" style="padding-left: 0px !important;    padding-top: 10px;">Upload jobs</h3>
                    <button type="button" class="close closebox" aria-label="Close" autocomplete="random"><span aria-hidden="true">×</span></button>
                </div>
                <div class="clearfix"></div>
                <hr class="mt9" />  <div class="clearfix"></div> <div class="col-md-12">
                    <div class="form-group">
                        <label>Project</label>
                        <select class="selectpicker form-control" data-live-search="true" name="uprojectId" id="uprojectId">
                            <option value="0">Select</option>
                        </select>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label style="width:100%">client</label>
                        <select class="selectpicker form-control " data-live-search="true" name="uplodclient" id="uplodclient">
                            <option value="0">Client</option>
                        </select>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label style="width:100%">Rate</label>
                        <input type="text" class="form-control ratetext" required name="upclientRate" value="$0.00" id="upclientRate" />
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Client Manager</label>
                        <select class="selectpicker form-control" disabled data-live-search="true" name="uploadProject_manager" id="uploadProject_manager">
                            <option value="0">Manager</option>
                        </select>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Project Manager</label>
                        <select class="selectpicker form-control" disabled data-live-search="true" name="uploadProject_manager1" id="uploadProject_manager1">
                            <option value="0">Manager</option>
                        </select>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Dispatcher</label>
                        <select class="selectpicker form-control" data-live-search="true" name="uploadProject_dispatcher" id="uploadProject_dispatcher">
                            <option value="0">Select</option>
                        </select>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label style="width:100%" class="notcapital">Upload a CSV Formatted File:</label>
                        <div class="input-group input-group-file">
                            <span class="input-group-btn">
                                <span class="btn btn-primary btn-file">
                                    Browse <input required type="file" id="files" accept=".csv" class="form-control" name="file">
                                </span>
                            </span>
                            <input type="text" class="form-control" readonly="">
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">

                    <div class="form-group">
                        <label style="width:100%">Download Template:</label>
                        <a href="@Url.Content("~/csvfiles/job.csv")" download="">  <img src="@Url.Content("~/Content/Images/csv.png?v=1.1")" style="width:80px;" /></a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="clearfix"></div>
                        <hr />
                        <button type="submit" id="submit-file" class="btn btn-success"><i class="fas fa-cloud-upload-alt"></i> Import</button>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="box mainbox" style="display: none;" id="viewslide">
        @using (Html.BeginForm("job", "import", FormMethod.Post, new { @id = "frmsuploadjobs", @enctype = "multipart/form-data" }))
        {
        <div class="box-inner wdth240">
            <div class="col-md-12">
                <h3 class="pull-left panel-title" style="padding-left: 0px !important; padding-top: 10px;" id="action">Action</h3>
                <button type="button" class="close closebox" aria-label="Close" autocomplete="random"><span aria-hidden="true">×</span></button>
                <input type="hidden" id="eventid" />
            </div>
            <div class="clearfix"></div>
            <hr class="mt9" />
            <div class="clearfix"></div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>ID:</label>
                    <span id="_viewID"></span>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Title:</label>
                    <span id="_viewTitle"></span>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Date:</label>
                    <span id="_viewDate"></span>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Start time:</label>
                    <span id="_viewStime"></span>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>End  time:</label>
                    <span id="_viewEtime"></span>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Address:</label>
                    <span id="_viewAddress"></span>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Contact:</label>
                    <span id="_viewContact"></span>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Phone:</label>
                    <span id="_viewPhone"></span>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Dispatcher:</label>
                    <span id="_viewDispatcher"></span>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Technician:</label>
                    <span id="_viewTechnician"></span>
                </div>
            </div>
            <div class="clearfix"></div> 
            <div class="">
                <div class="form-group col-md-4">
                    <a class="btn btn-complete btn-sm" onclick="view()" href="#"><i class="fa fa-eye"></i> View</a>
                </div>
                @if (!subcntrcter)
                {
                    <div class="form-group col-md-4">
                        <a class="btn btn-success btn-sm" onclick="edit()" href="#"><i class="fa fa-edit"></i> Edit</a>
                    </div>
                    <div class="form-group col-md-4">
                        <a class="btn btn-danger btn-sm" onclick="deletejob()" href="#"><i class="fa fa-trash"></i> Delete</a>
                    </div>
                }
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12" style="position:relative;margin-top:20%;">
            </div>
        </div>
        }
    </div>
    <div class="modal fade" id="add-new-task" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add New Job</h4>
                </div>
                @using (Html.BeginForm("add", "jobs", FormMethod.Post, new { @class = "form-some-up", @id = "frmadd" }))
                {

                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group col-md-4 col-lg-4 col-sm-12">
                                <label style="text-transform:none;"> ID</label>
                                @Html.TextBoxFor(a => a.JobId, new { @class = "form-control", @maxlength = "10" })
                                @Html.ValidationMessageFor(a => a.JobId)
                            </div>
                            <div class="form-group col-md-4 col-lg-4 col-sm-12">
                                <label>Client</label>
                                <select class="width100 form-control " data-live-search="true" name="client_id" id="client">
                                    <option value="0">Client</option>
                                </select>
                            </div>

                            <div class="form-group col-md-4 col-lg-4 col-sm-12">
                                <label>Project</label>
                                <select class="width100 form-control" data-live-search="true" name="projectId" id="projectId">
                                    <option value="0">Select</option>
                                </select>
                            </div>

                        </div>
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="form-group col-md-4 col-lg-4 col-sm-12">
                                <label>Title</label>
                                @Html.TextBoxFor(a => a.title, new { @class = "form-control capitalize" })
                                @Html.ValidationMessageFor(a => a.title)
                            </div>
                            <div class="form-group col-md-4 col-lg-4 col-sm-12">
                                <label>Client Manager</label>
                                <select class=" width100 form-control" data-live-search="true" name="mgr_id" id="Project_manager">
                                    <option value="0">Manager</option>
                                </select>
                            </div>

                            <div class="form-group col-md-4 col-sm-12">
                                <label>Contact</label>
                                @Html.TextBoxFor(a => a.Contact, new { @class = "form-control" })
                            </div>

                        </div>
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="form-group col-md-4 col-lg-4 col-sm-12">
                                <label>Date</label>
                                @Html.TextBoxFor(a => a.sdate, new { @class = "form-control datePicker" })
                                @Html.ValidationMessageFor(a => a.sdate)
                            </div>
                            <div class="form-group col-md-4 col-lg-4 col-sm-12">
                                <label>Project Manager</label>
                                <select class="width100  form-control" data-live-search="true" name="mgr_id1" id="Project_manager1">
                                    <option value="0">Manager</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4 col-sm-12">
                                <label>Phone</label>
                                @Html.TextBoxFor(a => a.Phone, new { @class = "form-control phonenumber", @maxlength = "12" })
                            </div>


                        </div>
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="form-group col-md-2 col-lg-2 col-sm-12">
                                <label>Start Time</label>
                                @Html.TextBoxFor(a => a.stime, new { @class = "form-control timePicker" })
                                @Html.ValidationMessageFor(a => a.stime)
                            </div>

                            <div class="form-group col-md-2 col-lg-2 col-sm-12">
                                <label>End Time</label>
                                @Html.TextBoxFor(a => a.etime, new { @class = "form-control timePicker" })
                                @Html.ValidationMessageFor(a => a.etime)
                            </div>
                            <div class="form-group col-md-4 col-lg-4 col-sm-12">
                                <label>Dispatcher</label>
                                <select class=" width100 form-control " data-live-search="true" name="Dispatcher" id="Dispatcher">
                                    <option value="0">Dispatcher</option>
                                </select>
                            </div>

                            <div class="form-group col-md-4 col-lg-4 col-sm-12">
                                <label>Rate</label>
                                <input type="text" class="form-control ratetext" id="c_techrate" name="clientrate" />
                            </div>

                        </div>
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="form-group col-md-4 col-lg-4 col-sm-12">
                                <label>Suite / Apt. #</label>
                                <input type="text" class="form-control" id="c_Suite" name="Suite" />
                            </div>

                            <div class="form-group col-md-4 col-lg-4 col-sm-12">
                                <label>Technician</label>
                                <select class="width100  form-control " onchange="getrateTechnician()" data-live-search="true" name="Technician" id="Technician">
                                    <option value="0">Technician</option>
                                </select>
                            </div>
                            <div class="form-group col-md-2 col-lg-2 col-sm-12">
                                <label>Pay</label>
                                <input type="text" class="form-control ratetext" id="techrate" name="techrate" />
                            </div>

                            <div class="form-group col-md-2 col-lg-2 col-sm-12">
                                <label>Expense</label>
                                @Html.TextBoxFor(a => a.Expense, new { @class = "form-control ratetext" })
                                @Html.ValidationMessageFor(a => a.Expense)
                            </div>

                        </div>
                        <div class="clearfix"></div>
                        <div class="row">

                            <div class="form-group col-md-8 col-lg-8 col-sm-12">
                                <label>Address</label>
                                <input type="text" class="form-control" name="MapValidateAddress" id="MapValidateAddress" autocomplete="off" required />
                            </div>

                            <div class="form-group m-none col-md-4 col-lg-4 col-sm-12">
                                <label for="e20">Status</label>
                                <select name="Status" class="form-control selectpicker width100">
                                    <option value="1">New</option>
                                    <option value="2">Dispatched</option>
                                    <option value="3">In progress</option>
                                    <option value="4">Completed</option>
                                    <option value="6">Under review</option>
                                    <option value="5">Approved</option>
                                    <option value="7">Rescheduled</option>
                                    <option value="8">Cancelled</option>
                                </select>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="form-group col-md-12 col-lg-12 col-sm-12">
                                <label>Description</label>
                                @Html.TextAreaFor(a => a.description, new { @class = "textarea-wysihtml5 form-control", @rows = "6" })

                            </div>
                        </div>
                        <div class="clearfix"></div><div class="row">
                            <div class="form-group col-md-12">
                                <label>Special insturction</label>
                                @Html.TextAreaFor(a => a.Instruction, new { @class = "textarea-wysihtml5 form-control", @rows = "6" })
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="Formbutton" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-times-circle"></i> Close</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box mainbox customheight" style="display: none;" id="FilterSlide">
            @using (Html.BeginForm("offer", "import", FormMethod.Post, new { @id = "frmimport", @enctype = "multipart/form-data" }))
            {
                <div class="box-inner">
                    <div class="col-md-12">
                        <h3 class="pull-left panel-title" style="padding-left: 14px !important;    padding-top: 10px;">Open filters</h3>
                        <button type="button" class="close closebox" aria-label="Close" autocomplete="random"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="clearfix"></div>
                    <hr class="mt9" />
                    <div class="clearfix"></div>
                    <div class="col-md-12" id="Filter_date_div" style="display:@(!string.IsNullOrEmpty(date)?"block":"none")">
                        <div class="col-md-9">
                            <div class="form-group">
                                <input type="text" name="date" id="date" value="@date" class="form-control dateRangePicker" placeholder="Date range" style="width:200px;" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <button type="button" class="close" onclick="ClearText('date','date',true)" aria-label="Close" autocomplete="random"><span aria-hidden="true">×</span></button>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12" id="Filter_client_div" style="display:@(cclient!=0?"block":"none")">
                        <div class="col-md-9">
                            <select class="FilterSelect form-control selectpicker CustomHeight" data-height="73" data-live-search="true" name="cclient" onchange="TriggerFilter()" id="cclient" data-width="fit">
                            </select>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="close  " onclick="ClearSingleDropDown('client','cclient',true)" aria-label="Close" autocomplete="random"><span aria-hidden="true">×</span></button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12" id="Filter_dispatcher_div" style="display:@(cDispatcher!=0?"block":"none")">
                        <div class="col-md-9">
                            <select class="FilterSelect  form-control CustomHeight" data-height="73" onchange="TriggerFilter()" data-live-search="true" name="cDispatcher" id="cDispatcher" data-width="fit">
                            </select>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="close  " onclick="ClearSingleDropDown('dispatcher','cDispatcher',true)" aria-label="Close" autocomplete="random"><span aria-hidden="true">×</span></button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12" id="Filter_pmanager_div" style="display:@(PmanagerId!=0?"block":"none")">
                        <div class="col-md-9">
                            <select class="FilterSelect form-control selectpicker" onchange="TriggerFilter()" data-live-search="true" name="cProjectManager" id="cProjectManager" data-width="fit">
                                <option value="0">Project Manager</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="close" onclick="ClearSingleDropDown('pmanager','cProjectManager',true)" aria-label="Close" autocomplete="random"><span aria-hidden="true">×</span></button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12" id="Filter_cmanager_div" style="display:@(cmanagerId!=0?"block":"none")">
                        <div class="col-md-9">
                            <select class="FilterSelect form-control selectpicker CustomHeight" data-height="73" onchange="TriggerFilter()" data-live-search="true" name="cClientManager" id="cClientManager" data-width="fit">
                                <option value="0">Client Manager</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="close" onclick="ClearSingleDropDown('cmanager','cClientManager',true)" aria-label="Close" autocomplete="random"><span aria-hidden="true">×</span></button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12" id="Filter_screening_div" style="display:@(screening!=0?"block":"none")">
                        <div class="col-md-9">
                            <select class="FilterSelect form-control selectpicker" onchange="TriggerFilter()" name="cScreening" id="Screening" data-width="fit">
                                <option value="0">Screening</option>
                                <option @(screening == 1 ? "selected" : "") value="1">Background</option>
                                <option @(screening == 2 ? "selected" : "") value="2">Drug</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="close" onclick="ClearSingleDropDown('screening','Screening',true)" aria-label="Close" autocomplete="random"><span aria-hidden="true">×</span></button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12" id="Filter_skills_div" style="display:@(((Skiil.Contains(0) && Skiil.Count() > 1) ||Skiil.Count() > 0) ? "block" : "none")">
                        <div class="col-md-9">
                            <select class="form-control filter FilterSelect" data-width="fit" onchange="TriggerFilter()" multiple name="Skiil" id="Skiil">
                                @foreach (var item in Model.Skillset)
                                {
                                    <option @(Skiil.Contains(item.SkillId) ? "selected" : "") value="@item.SkillId">@item.Name</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-3">
                            <button type="button" onclick="ClearMultiDropDown('skills','Skiil',true)" class="close" aria-label="Close" autocomplete="random"><span aria-hidden="true">×</span></button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12 pdtb-1520">
                        <div class="col-md-6 pull-left">
                            <button class="btn btn-default" type="button" onclick="getjobCalenderFilter('@Model.juserid')">Save view</button>
                        </div>
                        <div class="col-md-6 pull-right">
                            <a href="@Url.Action("index", "jobs",new { type=2,srch=2})" class="btn btn-default pull-right">Clear search</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr class="mt9" />
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <h3 class="pull-left panel-title" style="padding-left: 14px !important;padding-bottom: 25px;padding-top:15px;">Available filters</h3>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12 sendoffer">
                        <div class="col-md-6 round ">
                            <input class="inputbox3" name="messagetype" value="1" style="display:@(!string.IsNullOrEmpty(date)?"checked":"")" type="checkbox" id="chk_date" /> Date range
                            <label for="checkbox" class="FilterCheck @(!string.IsNullOrEmpty(date)?"bck":"")" data-element="date" data-div="Filter_date_div" data-type="1" id="bck_chk_date" data-id="chk_date"></label>
                        </div>
                    </div>
                    <div class="col-md-12 sendoffer">
                        <div class="col-md-6 round ">
                            <input class="inputbox3" name="messagetype" style="display:@(cclient!=0?"checked":"")" value="1" type="checkbox" id="chk_client" /> Client
                            <label for="checkbox" class="FilterCheck client @(cclient!=0?"bck":"")" id="bck_chk_client" data-id="chk_client" data-element="cclient" data-div="Filter_client_div" data-type="2"></label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                    <div class="col-md-12 sendoffer">
                        <div class="col-md-6 round ">
                            <input class="inputbox3" name="messagetype" style="display:@(cDispatcher!=0?"checked":"")" value="1" type="checkbox" id="chk_dispatcher" /> Dispatcher
                            <label for="checkbox" data-element="cDispatcher" data-div="Filter_dispatcher_div" data-type="2" class="FilterCheck @(cDispatcher!=0?"bck":"")" id="bck_chk_dispatcher" data-id="chk_dispatcher"></label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12 sendoffer">
                        <div class="col-md-6 round ">
                            <input class="inputbox3" name="messagetype" style="display:@(PmanagerId!=0?"checked":"")" value="1" type="checkbox" id="chk_pmanager" /> Project manager
                            <label for="checkbox" data-element="cProjectManager" data-div="Filter_pmanager_div" data-type="2" class="FilterCheck @(PmanagerId!=0?"bck":"")" id="bck_chk_pmanager" data-id="chk_pmanager"></label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12 sendoffer">
                        <div class="col-md-6 round ">
                            <input class="inputbox3" name="messagetype" style="display:@(cmanagerId!=0?"checked":"")" value="1" type="checkbox" id="chk_cmanager" /> Client manager
                            <label for="checkbox" data-element="cClientManager" data-div="Filter_cmanager_div" data-type="2" class="FilterCheck @(cmanagerId!=0?"bck":"")" id="bck_chk_cmanager" data-id="chk_cmanager"></label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12 sendoffer">
                        <div class="col-md-6 round ">
                            <input class="inputbox3" name="messagetype" style="display:@(screening!=0?"checked":"")" value="1" type="checkbox" id="chk_screening" /> Screening
                            <label for="checkbox" data-element="Screening" data-div="Filter_screening_div" data-type="2" class="FilterCheck @(screening!=0?"bck":"")" id="bck_chk_screening" data-id="chk_screening"></label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12 sendoffer">
                        <div class="col-md-6 round ">
                            <input class="inputbox3" name="messagetype" style="display:@(((Skiil.Contains(0) && Skiil.Count() > 1) ||Skiil.Count() > 0) ? "checked" : "")" value="1" type="checkbox" id="chk_skills" /> Skiil
                            <label for="checkbox" data-element="Skiil" data-div="Filter_skills_div" data-type="3" class="FilterCheck @(((Skiil.Contains(0) && Skiil.Count() > 1) ||Skiil.Count() > 0) ? "bck" : "")" id="bck_chk_skills" data-id="chk_skills"></label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            }
        </div>
        <div class="clearfix"></div>
        <div class="col-lg-12">
            <div class="panel m-b-0">
                <div class="panel-heading panel-heading panel-heading-job">
                    <div class="col-md-6 col-sm-6">
                        <h3 class="panel-title flleft">
                            Jobs
                        </h3>
                        <span style="display: @(isactivefilter == true?"block":"none");margin-left: 8px;" id="filterpopup" class="flleft badge badge-success alert-success"> <i class="fa fa-check" aria-hidden="true"></i> Filter </span>
                    </div>
                    <div class="col-md-6 col-sm-6 topbuttondiv">
                        @if (permission.Contains(1062))
                        {
                            <a class="btn btn-success btn-sm pull-right" href="@Url.Action("index", "jobs", new { type = 1 })">
                                <i class="fa fa-list"></i> List View
                            </a>
                        }
                        @if (permission.Contains(38))
                        {
                            <button class="btn btn-success btn-sm pull-right" style="margin-right:8px;" data-backdrop="static" data-toggle="modal" data-target="#add-new-task"><i class="fa fa-plus"></i> Add New job</button>
                        }
                        @if (permission.Contains(41))
                        {
                            <a class="btn btn-success btn-sm pull-right" style="margin-right:8px;" onclick="Uploadfile()" href="#">
                                <i class="fas fa-cloud-upload-alt"></i> Upload
                            </a>
                        }
                    </div>
                </div>
                @if (permission.Contains(55))
                {
                    <div class="panel-body p-none">
                        <div class="custom-col-md-12" style="display:none;" id="filter_div">
                            <table class="table table-hover filter_table_user filter_table nowrap no-footer table-ultra-responsive-custome">
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="text" class="form-control filter" value="@Location" style="width:294px;;margin-right:14px;" id="Filter_Location" name="Location" placeholder="Search by location..." />
                                        </td>
                                        <td>
                                            <select class="form-control filter FilterSelect" onchange="TriggerFilter()" data-live-search="true" name="fprojectId" id="fprojectId" data-width="fit">
                                                <option value="0">Select Project</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select class="form-control filter FilterSelect" onchange="TriggerFilter()" data-live-search="true" name="cTechnician" id="cTechnician" data-width="fit">
                                            </select>
                                        </td>
                                        <td>
                                            <select name="Status" class="form-control filter selectpicker FilterSelect" onchange="TriggerFilter()" id="Status" data-width="fit">
                                                <option @(Status == 0 ? "selected" : "") value="0">Status</option>
                                                <option @(Status == 1 ? "selected" : "") value="1">New</option>
                                                <option @(Status == 2 ? "selected" : "") value="2">Dispatched</option>
                                                <option @(Status == 3 ? "selected" : "") value="3">In progress</option>
                                                <option @(Status == 4 ? "selected" : "") value="4">Completed</option>
                                                <option @(Status == 6 ? "selected" : "") value="6">Under review</option>
                                                <option @(Status == 5 ? "selected" : "") value="5">Approved</option>
                                                <option @(Status == 7 ? "selected" : "") value="7">Rescheduled</option>
                                                <option @(Status == 8 ? "selected" : "") value="8">Cancelled</option>
                                            </select>
                                        </td>
                                        <td class="MoreFilter" style="padding-top:14px !important;">
                                            <a href="#" onclick="FilterOpen()">More filter</a>
                                        </td>
                                        <td>
                                            <button class="btn btn-default" type="button" onclick="FilterTable()">Save view</button>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("index", "jobs",new { type=2,srch=2})" class="btn btn-default pull-right">Clear search</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12" id="jobcalendar">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    var cclient = '@cclient';
    var cmanagerId = '@cmanagerId';
    var _userId = "@userid";
    var projectId = "@ProjectId";
    var searchtype = 0;
</script> 
<script src="@Url.Content("~/Content/jobs/Calender.js")"></script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&region=US&key=AIzaSyA1LyE18eEmk5UdDLezPmcOPF47Diugxls" type="text/javascript"></script>
<script type="text/javascript">
    $("#Formbutton").on("click", function () {
        $(".alertify-logs").html('');
        if ($("#JobId").val() == "") {
            alertify.log('Enter JobID', 'error', 30000);
        }
        if ($("#MapValidateAddress").val() == "") {
            alertify.log('Enter address', 'error', 30000);
        }
        if ($("#frmadd").valid()) {
            validateAddress("");
        }
    });
    function validateAddress(address) {
        $(".alertify-logs").html('');
        address = $("#MapValidateAddress").val();
        var _url = "https://maps.googleapis.com/maps/api/geocode/json?address=" + address + "&sensor=false&key=AIzaSyA1LyE18eEmk5UdDLezPmcOPF47Diugxls";
        $.get(_url, function (data) {
            if (data.results.length > 0) {

                var _newAddress3 = data.results[0].formatted_address.replace(", USA", "");
                if (_newAddress3 == address) {
                    $(".alertify-logs").html('');
                    if ($("#frmadd").valid()) {
                        $("#frmadd").submit();
                    }
                }
                else {
                    $(".alertify-logs").html('');
                    alertify.log('Google map cannot validate your address', 'error', 30000);
                }
            } else {

                $(".alertify-logs").html('');
                alertify.log('Google map cannot validate your address', 'error', 30000);
            }
        });
    }
    function initialize() {
        $(".alertify-logs").html('');
        var defaultBounds = new google.maps.LatLngBounds(
            new google.maps.LatLng(-33.8902, 151.1759)
        );

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                (position) => {
                    const pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude,
                    };
                    defaultBounds = new google.maps.LatLngBounds
                        (new google.maps.LatLng(pos.lat, pos.lng));
                }
            );
        }
        var options1 = {
            types: ['geocode'], bounds: defaultBounds,
            componentRestrictions: { country: "us" }
        };
        var input1 = document.getElementById('MapValidateAddress');
        //var input3 = document.getElementById('Zipcode');
        var input2 = document.getElementById('Filter_Location');

        var autocomplete1 = new google.maps.places.Autocomplete(input1, options1);
        var autocomplete2 = new google.maps.places.Autocomplete(input2, options1);
        //var autocomplete3 = new google.maps.places.Autocomplete(input3, option3);

        google.maps.event.addListener(autocomplete1, 'place_changed', function () {
            var place = autocomplete1.getPlace();
            var _newAddress = place.formatted_address.replace(", USA", "");
            input1.value = _newAddress;
        });
        google.maps.event.addListener(autocomplete2, 'place_changed', function () {
            var place = autocomplete2.getPlace();
            var type = place.address_components[0].types;
            var _newAddress = "";
            if (type.indexOf("administrative_area_level_1") != -1 || type.indexOf("locality") != -1) {

                if (type.indexOf("administrative_area_level_1") != -1) {
                    _newAddress = place.address_components[0].short_name;
                }
                else if (type.indexOf("locality") != -1) {
                    _newAddress = place.formatted_address.replace(", USA", "");
                    var _newAddress1 = _newAddress.split(",");
                    _newAddress = _newAddress1[0] + ", " + _newAddress1[1].trim().split(" ")[0];
                } else {
                    _newAddress = place.formatted_address.replace(", USA", "");
                }
            } else {
                _newAddress = place.formatted_address.replace(", USA", "");
            }
            input2.value = _newAddress;
        });

    }
    google.maps.event.addDomListener(window, 'load', initialize);
    document.addEventListener('DOMNodeInserted', function (event) {
        var target = $(event.target);
        if (target.hasClass('pac-item')) {
            target.html(target.html().replace(/, USA<\/span>$/, "</span>"));
        }
        $('.pac-target-input').attr('autocomplete', 'random');
    });
</script>
<style>
    .daterangepicker.opensleft:after, .daterangepicker.opensleft:before {
        left: 308px !important;
        right: unset !important;
    }
</style> 