﻿
@{
    ViewBag.Title = "ID: "+Model.JobId;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var state = (Dictionary<int, string>)ViewBag.select;
    int type = (int)ViewBag.type;
}
@model hrm.Models.job
<div class="p-10">
</div>
<div class="p-30 p-t-none p-b-none">
    @if (!string.IsNullOrEmpty(Model.error_text))
    {
        <span id="alert" style="display:none;" data-class="@Model.alertclass" data-text="@Model.error_text"></span>
    }
    <div class="row">
        <div class="col-lg-12">
            <div class="tab-content panel p-20">
                <div role="tabpanel" class="tab-pane active" id="personal_details">
                    @using (Html.BeginForm("update_job", "jobs", FormMethod.Post, new { @id = "frmsendsms" }))
                    {
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <h3 class="panel-title pd-0">
                                    Edit job
                                </h3>
                            </div>
                            <div class="col-md-6 col-sm-6 topbuttondiv">
                                <a class="btn btn-success btn-sm pull-right" href="@Url.Action("index","jobs",new {type=type })">
                                    <i class="fa fa-arrow-left"></i> Job List
                                </a>
                                <a class="btn btn-success btn-sm pull-right m-r-8" href="@Url.Action("view", "jobs", new { token = Model.token })"><i class="fa fa-eye"></i> View</a>
                            </div>

                            <div class="form-group col-md-4 col-sm-12 ">
                                <label>ID</label>
                                @Html.TextBoxFor(a => a.JobId, new { @class = "form-control" })
                                @Html.ValidationMessageFor(a => a.JobId)
                                @Html.HiddenFor(a => a._jobid, new { @id = "mainjobid" })
                                <input type="hidden" name="type" value="@type" />
                            </div>
                            <div class="form-group col-md-4 col-sm-12">
                                <label>Client</label>
                                <select class="width100  form-control " data-live-search="true" name="client_id" id="client">
                                    <option value="0">Client</option>
                                </select>
                            </div>


                            <div class="form-group col-md-4 col-sm-12 ">
                                <label>Project</label>
                                <select class="width100  form-control" data-live-search="true" name="projectId" id="projectId">
                                    <option value="0">Select</option>
                                </select>
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group col-md-4 col-sm-12">
                                <label>Title</label>
                                @Html.TextBoxFor(a => a.title, new { @class = "form-control" })
                                @Html.ValidationMessageFor(a => a.title)
                            </div>

                            <div class="form-group col-md-4 col-sm-12 ">
                                <label>Client Manager</label>
                                <select class="width100  form-control" data-live-search="true" name="mgr_id" id="Project_manager">
                                    <option value="0">Manager</option>
                                </select>
                            </div>


                            <div class="form-group col-md-4 col-sm-12">
                                <label>Contact</label>
                                @Html.TextBoxFor(a => a.Contact, new { @class = "form-control" })
                            </div>


                            <div class="clearfix"></div>
                            <div class="form-group col-md-4 col-sm-12 ">
                                <label>Date</label>
                                @Html.TextBoxFor(a => a.sdate, new { @class = "form-control datePicker" })
                                @Html.ValidationMessageFor(a => a.sdate)
                            </div>

                            <div class="form-group col-md-4 col-sm-12 ">
                                <label>Project Manager</label>
                                <select class=" width100 form-control" data-live-search="true" name="mgr_id1" id="Project_manager1">
                                    <option value="0">Manager</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4 col-sm-12">
                                <label>Phone</label>
                                @Html.TextBoxFor(a => a.Phone, new { @class = "form-control phonenumber", @maxlength = "12" })
                            </div>


                            <div class="clearfix"></div>
                            <div class="form-group col-md-2 col-sm-12 ">
                                <label>Start Time</label>
                                @Html.TextBoxFor(a => a.stime, new { @class = "form-control timePicker" })
                                @Html.ValidationMessageFor(a => a.stime)
                            </div>
                            <div class="form-group col-md-2 col-sm-12 ">
                                <label>End Time</label>
                                @Html.TextBoxFor(a => a.etime, new { @class = "form-control timePicker" })
                                @Html.ValidationMessageFor(a => a.etime)
                            </div>
                            <div class="form-group col-md-4 col-sm-12 ">
                                <label>Dispatcher</label>
                                <select class="width100  form-control " data-live-search="true" name="Dispatcher" id="Dispatcher">
                                    <option value="0">Dispatcher</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4 col-sm-12">
                                <label>Rate</label>
                                @Html.TextBoxFor(a => a.Client_rate, new { @class = "form-control ratetext", id = "c_techrate" })
                            </div>

                            <div class="clearfix"></div>
                            <div class="form-group col-md-4  col-sm-12">
                                <label>Suite / Apt. #</label>
                                @Html.TextBoxFor(a => a.suite, new { @class = "form-control", @id = "c_Suite" })
                            </div>
                            <div class="form-group col-md-4 col-sm-12 ">
                                <label>Technician</label>
                                <select class="width100  form-control " data-live-search="true" name="Technician" onchange="getrateTechnician()" id="Technician">
                                    <option value="0">Technician</option>
                                </select>
                            </div>
                            <div class="form-group col-md-2 col-sm-12 ">
                                <label>Pay</label>
                                @Html.TextBoxFor(a => a.Pay_rate, new { @class = "form-control ratetext", id = "techrate" })
                            </div>
                            <div class="form-group col-md-2 col-sm-12 ">
                                <label>Expense</label>
                                @Html.TextBoxFor(a => a.Expense, new { @class = "form-control ratetext" })
                                @Html.ValidationMessageFor(a => a.Expense)
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-md-8 col-sm-12 ">
                                <label>Address</label>
                                @Html.TextBoxFor(a => a.MapValidateAddress, new { @class = "form-control" })
                                @Html.ValidationMessageFor(a => a.MapValidateAddress)
                            </div>

                            <div class="form-group m-none col-md-4 col-sm-12">
                                <label for="e20">Status</label>
                                <select name="Status" class="form-control selectpicker width100">
                                    <option @(Model.Status == 1 ? "selected" : "") value="1">New</option>
                                    <option @(Model.Status == 2 ? "selected" : "") value="2">Dispatched</option>
                                    <option @(Model.Status == 3 ? "selected" : "") value="3">In progress</option>
                                    <option @(Model.Status == 4 ? "selected" : "") value="4">Completed</option>
                                    <option @(Model.Status == 6 ? "selected" : "") value="6">Under review</option>
                                    <option @(Model.Status == 5 ? "selected" : "") value="5">Approved</option>
                                    <option @(Model.Status == 7 ? "selected" : "") value="7">Rescheduled</option>
                                    <option @(Model.Status == 8 ? "selected" : "") value="8">Cancelled</option>
                                </select>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-md-4 col-sm-12 ">

                                <label><input type="checkbox" id="clr1" class="chk" data-msg="Are you sure to clear job Discussion" /> Clear Job Discussion</label>
                                <div class="clearfix"></div>
                                <label><input type="checkbox" id="clr2" class="chk" data-msg="Are you sure to clear job Files" /> Clear Job Files</label>
                                <input id="form_clr1" name="clr1" type="hidden" value="false" />
                                <input id="form_clr2" name="clr2" type="hidden" value="false" />
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-md-12">
                                <label>Description</label>
                                @Html.TextAreaFor(a => a.description, new { @class = "textarea-wysihtml5 form-control", @rows = "10" })
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-md-12">
                                <label>Special insturction</label>
                                @Html.TextAreaFor(a => a.Instruction, new { @class = "textarea-wysihtml5 form-control", @rows = "10" })
                                <input type="hidden" value="0" id="Validatecity" />
                                <input type="hidden" value="0" id="Validateadd" />
                                <input type="hidden" value="0" id="Validatezip" />
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-12">
                                <button type="button" id="Formbutton" class="btn btn-success pull-right"> <i class="fa fa-save"></i> Update</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&region=US&key=AIzaSyA1LyE18eEmk5UdDLezPmcOPF47Diugxls" type="text/javascript"></script>
<script type="text/javascript">

    $("#Formbutton").on("click", function () {
        $(".alertify-logs").html('');
        if ($("form").valid()) {
            validateAddress("");
        }
    });
    function validateAddress(address) {
        $(".alertify-logs").html('');
        address = $("#MapValidateAddress").val();
        var _url = "https://maps.googleapis.com/maps/api/geocode/json?address=" + address + "&sensor=false&key=AIzaSyA1LyE18eEmk5UdDLezPmcOPF47Diugxls";
        $.get(_url, function (data) {
            if (data.results.length > 0) {
                debugger;
                var _newAddress3 = data.results[0].formatted_address.replace(", USA", "");
                if (_newAddress3 == address) {
                    $(".alertify-logs").html('');
                    if ($("form").valid()) {
                        $("form").submit();
                    }
                }
                else {
                    $(".alertify-logs").html('');
                    alertify.log('Google map cannot validate your address', 'error', 30000);
                }
            } else {

                $(".alertify-logs").html('');
                alertify.log('Google map cannot validate your address', 'error', 30000);
            }
        });
    }

    function initialize() {
        $(".alertify-logs").html('');
        var defaultBounds = new google.maps.LatLngBounds(
            new google.maps.LatLng(-33.8902, 151.1759)
        );

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                (position) => {
                    const pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude,
                    };
                    defaultBounds = new google.maps.LatLngBounds
                        (new google.maps.LatLng(pos.lat, pos.lng));
                }
            );
        }

        var options1 = {
            types: ['geocode'], bounds: defaultBounds,
            componentRestrictions: { country: "us" }
        };


        var input1 = document.getElementById('MapValidateAddress');
        //var input3 = document.getElementById('Zipcode');


        var autocomplete1 = new google.maps.places.Autocomplete(input1, options1);
        //var autocomplete3 = new google.maps.places.Autocomplete(input3, option3);

        google.maps.event.addListener(autocomplete1, 'place_changed', function () {
            var place = autocomplete1.getPlace();
            var _newAddress = place.formatted_address.replace(", USA", "");
            input1.value = _newAddress;
        });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
    document.addEventListener('DOMNodeInserted', function (event) {
        var target = $(event.target);
        if (target.hasClass('pac-item')) {
            target.html(target.html().replace(/, USA<\/span>$/, "</span>"));
        }
        $('.pac-target-input').attr('autocomplete', 'random');
    });
</script>
<script>


    $('form').submit(function (e) {
        $(".alertify-logs").html('');
        if ($('form').valid()) {
            var end_time = $('#etime').val();
            var start_time = $('#stime').val();
            var stt = new Date("May 26, 2016 " + start_time);
            stt = stt.getTime();
            var endt = new Date("May 26, 2016 " + end_time);
            endt = endt.getTime();
            if (stt > endt) {
                alertify.log('End time can not be less then start time', 'error', 5000);
                return false;
            }
            return true;
        }
    });

    $("#JobId").on("change", function (e) {
        var _url = "@Url.Action("validatejobIdEdit","jobs")";
        var jobid = $("#JobId").val();
        var mainid = $("#mainjobid").val();
        $.get(_url, { 'Jobid': jobid,'id': mainid}, function (data) {
            if (data == 'True') {
                return true;
            } else {
                 alertify.log('JobId '+jobid+' already in use', 'error', 5000);
              $("#JobId").val('');
                return false;
            }
        });
    });
    $("#projectId").on("change", function () {
        var prjid = $("#projectId").val();
        if (prjid != 0) {
            var dataString = 'id=' + prjid;
            $.ajax
                ({
                    type: "POST",
                    url: '/project/GetProjectDetails',
                    data: dataString,
                    cache: false,
                    success: function (data) {
                        $("#client").val(data.clientId).selectpicker('refresh');
                        $("#Project_manager").val(data.ClientManagerId).selectpicker('refresh');
                        $("#Project_manager1").val(data.projectManagerId).selectpicker('refresh');
                        if (data.clientId > 0) {
                            $("#client").val(data.clientId).selectpicker('refresh');
                        }
                        if (data.ClientManagerId > 0) {
                            $("#Project_manager").val(data.ClientManagerId).selectpicker('refresh');
                        }
                        if (data.projectManagerId > 0) {
                            $("#Project_manager1").val(data.projectManagerId).selectpicker('refresh');
                        }
                    }
                });

        }
        else {
            $("#Project_manager").removeAttr('disabled').selectpicker('refresh');
            $("#Project_manager1").removeAttr('disabled').selectpicker('refresh');
            $("#client").removeAttr('disabled').selectpicker('refresh');
        }
    });

       function getClientrate(cntrl,rateCntrl) {
        var client = $("#"+cntrl).val();
        if (client != 0) {
            var _url = "@Url.Action("get_client_rate","client")"+"?id="+client;
            $.get(_url, function (data) {
                $("#"+rateCntrl).val(data);
            });
        } else {
            $("#"+rateCntrl).val("$1");
        }
    }
    function getrateTechnician() {
        var memberid = $("#Technician").val();
        if (memberid != 0) {
            var _url = "@Url.Action("get_member_rate","member")" + "?id=" + memberid;
            $.get(_url, function (data) {
                $("#techrate").val(data);
            });
        } else {
            $("#techrate").val("$1");
        }
    }
    var email_exist = "False";
    var memberid_exist =  "False";
    var username_exist =  "False";

    $("#email").on("change", function () {
        var _val = $("#email").val();
        if (_val != '') {
            var _url = "@Url.Action("validate","member")";
            $.post(_url, { 'type': 1, 'value': _val }, function (data) {
                email_exist = data;
            });
        }
    });
     $("#member_id").on("change", function () {
        var _val = $("#member_id").val();
        if (_val != '') {
            var _url = "@Url.Action("validate","member")";
            $.post(_url, { 'type': 2, 'value': _val }, function (data) {
                memberid_exist = data;
            });
        }
    });

    $("#uname").on("change", function () {
        var _val = $("#uname").val();
        if (_val != '') {
            var _url = "@Url.Action("validate","member")";
            $.post(_url, { 'type': 3, 'value': _val }, function (data) {
                username_exist = data;
            });
        }
    });


    $(document).ready(function () {
        $('.chk').change(function () {
               var id = this.id;
            if ($(this).is(":checked")) {
                var _cnfrm = $(this).data("msg");
                bootbox.confirm(_cnfrm, function (result) {
                    if (!result) {
                        $("#" + id).attr("checked", false);
                        $("#form_" + id).val(false);
                    } else {
                        $("#" + id).attr("checked", true);
                        $("#form_" + id).val(true);
                    }
                });
            } else {
                 $("#form_" + id).val(false);
            }
    });


    /*For Designation Loading*/
          get_client('client','@Model.client_id');
        function get_client(client,clientid) {
            var dataString = 'ismulti=0&clientid='+clientid;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_clients","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#" + client).html('').removeClass("selectpicker").append($.parseHTML(data)).addClass("selectpicker").selectpicker('refresh').removeAttr('disabled');
                                if (clientid > 0 && '@Model._projectid'>0) {
                                    $("#" + client).selectpicker('refresh');
                                }
                            }
                        });

    }
    get_mgr_byclient('Project_manager', '@Model.mgr_id', '@Model.client_id');
    function get_mgr_byclient(mgr,mgrid,clientid) {
            var dataString = 'ismulti=0&id='+clientid+"&clientid="+mgrid;
                    $.ajax
                        ({
                            type: "POST",
                          url: '@Url.Action("get_all_manager_by_clientid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#" + mgr).html('').removeClass("selectpicker").append($.parseHTML(data)).addClass("selectpicker").selectpicker('refresh').removeAttr('disabled');
                                if (mgrid > 0 && '@Model._projectid'>0) {
                                    $("#" + mgr).selectpicker('refresh');
                                }
                            }
                        });

          }
            $("#client").change(function () {
                var id = $(this).val();
                if (id != 0) {
                    var dataString = 'id=' + id;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_manager_by_clientid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#Project_manager").html('').removeClass("selectpicker").append($.parseHTML(data)).addClass("selectpicker").selectpicker('refresh').removeAttr('disabled');
                            }
                        });
                } else {
                    $("#Project_manager").html('<option value="0">Manager</option>').selectpicker('refresh');


                }
                  getClientrate('client', 'c_techrate');
            });

          get_Manager_selectbyid('Technician', 'Technician','@Model.Technician','T');
          get_Manager_selectbyid('Dispatcher', 'Dispatcher','@Model.Dispatcher','D');

         function get_Manager_selectbyid(cntrl,_val,id,type) {
            var dataString = 'optvalue='+_val+"&memberid="+id+"&type="+type;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_member","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#" + cntrl).html('').removeClass("selectpicker").append($.parseHTML(data)).addClass("selectpicker").selectpicker('refresh').removeAttr('disabled');
                            }
                        });

        }


     function getprojectmanagerbymembertype(id) {
             var dataString = 'id='+id;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_mebertypeprojectmanager","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#Project_manager1").html('').removeClass("selectpicker").append($.parseHTML(data)).addClass("selectpicker").selectpicker('refresh').removeAttr('disabled');
                                if (id > 0 && '@Model._projectid'>0) {
                                    $("#Project_manager1").selectpicker('refresh');
                                }
                            }
                        });
        }
    $(window).load(function () {
        getprojectmanagerbymembertype('@Model.mgr_id1');
    });




    });


     getOpenProjetList('projectId','@Model._projectid');

    function getOpenProjetList(id,prjid) {
        var dataString = 'id=' + prjid;
        $.ajax
            ({
                type: "POST",
                url: '/default/getallopenproject',
                data: dataString,
                cache: false,
                success: function (data) {
                    $("#" + id).html('').removeClass("selectpicker").append($.parseHTML(data)).addClass("selectpicker").selectpicker('refresh').removeAttr('disabled');
                }
            });
    }
</script>

@*<script src="https://maps.googleapis.com/maps/api/js?libraries=places&region=US&key=AIzaSyA1LyE18eEmk5UdDLezPmcOPF47Diugxls" type="text/javascript"></script>
    <script type="text/javascript">
        function initialize() {
            var options = {
                types: ['(cities)'],
                componentRestrictions: { country: "us" }
            };
            var options1 = {
                types: ['address'],
                componentRestrictions: { country: "us" }
            };
            var input = document.getElementById('city');
            var input1 = document.getElementById('street');
            var autocomplete = new google.maps.places.Autocomplete(input, options);
            var autocomplete1 = new google.maps.places.Autocomplete(input1, options1);
            google.maps.event.addListener(autocomplete, 'place_changed', function () {
                var place = autocomplete.getPlace();
                var address = '';
                if (place.address_components) {
                    address = [
                        (place.address_components[0] && place.address_components[0].short_name || '')
                    ].join(' ');
                }
                input.value = address;
            });
            google.maps.event.addListener(autocomplete1, 'place_changed', function () {
                var place = autocomplete1.getPlace();
                var address = '';
                var city = "";
                var state = "";
                var zip = ""; debugger;

                address = place.formatted_address;
                var value = address.split(",");
                count = value.length;
                state = value[count - 2];
                city = value[count - 3];
                var z = state.split(" ");
                var i = z.length;
                state = z[1];
                zip = z[2];
                $("#state_id").find('option').each(function () {
                    text = $(this).text();
                    if (text == state) {
                        $("#state_id").val($(this).val());
                        $('#state_id').selectpicker('refresh');
                    }
                });
                if (i > 2)
                    $("#zip").val(zip);
                $("#city").val(city);
                if (place.address_components) {
                    address = [
                        (place.address_components[0] && place.address_components[0].short_name || ''),
                        (place.address_components[1] && place.address_components[1].long_name || ''),
                    ].join(' ');
                }
                input1.value = address.replace(", USA", "");

            });

        }
        google.maps.event.addDomListener(window, 'load', initialize);

        document.addEventListener('DOMNodeInserted', function (event) {
            var target = $(event.target);
            if (target.hasClass('pac-item')) {
                target.html(target.html().replace(/, USA<\/span>$/, "</span>"));
            }
            $('.pac-target-input').attr('autocomplete', 'random');
        });
    </script>*@




