﻿
@{
    ViewBag.Title = "Job";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var state = (Dictionary<int, string>)ViewBag.select;
    var permission = (List<int>)ViewBag.permissions;
    bool hidecolumn = (bool)ViewBag.hiderate;
    var date = (string)ViewBag.date;
    int cclient = (int)ViewBag.cclient;
    string Location = (string)ViewBag.Location;
    int cTechnician = (int)ViewBag.cTechnician;
    int cDispatcher = (int)ViewBag.cDispatcher;
    int Status = (int)ViewBag.Status;
    bool isactivefilter = (bool)ViewBag.isfilter;
    bool issubcontractor = (bool)ViewBag.issubcontractor;


}
@model hrm.Models.job
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<style>
    #amount:hover {
        background-color: #F1F9FF;
    }
    .pendingJobconfirm {
        position: relative;
        top: -6px;
    }
    .pac-container {
        z-index: 10000 !important;
    }

    .table.table-hover tbody tr:hover > td > #amount {
        background-color: #F1F9FF;
    }

    .dropdown-toggle, .multiselect-clear-filter {
        height: 42px !important;
    }

    .dropdown-menu {
        min-width: 212px;
    }

    .btn-default.active, .btn-default:active, .btn-default.active:focus, .btn-default:active:focus, .btn-default.active:hover, .btn-default:active:hover, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover, .open > .dropdown-toggle.btn-default.focus {
        background-color: white !Important;
        border-color: grey !important;
        color: #626262 !important;
        height: 42px;
    }

    .datePicker, .timePicker {
        position: relative;
        z-index: 1000;
    }

    .daterangepicker.opensleft:after, .daterangepicker.opensleft:before {
        left: 264px !important;
        right: unset !important;
    }

    #assigntech .modal-footer, #assigntech .modal-header {
        padding: 10px 30px !important;
    }

    #assigntech .modal-header {
        border-top: 10px var(--green) solid !important;
    }
    
</style>

<div class="p-10">
    @*<h2 class="page-title">Job List</h2>*@
</div>
<div class="p-30 p-t-none p-b-none">
    
    @if (!string.IsNullOrEmpty(Model.error_text))
    {
        <span id="alert" style="display:none;" data-class="@Model.alertclass" data-text="@Model.error_text"></span>
    }
    <div id="upload" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Upload Jobs</h4>
                </div>
                @using (Html.BeginForm("job", "import", FormMethod.Post, new { @id = "frmsendsms", @enctype = "multipart/form-data" }))
                {

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label style="width:100%">client</label>
                                    <select class="selectpicker form-control " data-live-search="true" name="uplodclient" id="uplodclient">
                                        <option value="0">Client</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label style="width:100%">Rate</label>
                                    <input type="text" class="form-control ratetext" required name="upclientRate" value="$0.00" id="upclientRate" />
                                </div>
                                <div class="form-group">
                                    <label>Project Manager</label>

                                    <select class="selectpicker form-control" disabled data-live-search="true" name="uploadProject_manager" id="uploadProject_manager">
                                        <option value="0">Manager</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label style="width:100%" class="notcapital">Upload a CSV Formatted File:</label>
                                    <div class="input-group input-group-file">
                                        <span class="input-group-btn">
                                            <span class="btn btn-primary btn-file">
                                                Browse <input required type="file" id="files" accept=".csv" class="form-control" name="file">
                                            </span>
                                        </span>
                                        <input type="text" class="form-control" readonly="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label style="width:100%">Download Template:</label>
                                    <a href="@Url.Content("~/csvfiles/job.csv")" download="">  <img src="@Url.Content("~/Content/Images/csv.png")" style="width:100px;" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="submit-file" class="btn btn-success"><i class="fa fa-upload"></i> Import</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-times-circle"></i> Close</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <div id="messagemodal" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog tablmodal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Message</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="mainjid" />
                    <div class="row">
                        <div class="col-md-12">
                            <textarea class="form-control textarea-wysihtml5" rows="6" id="messagebox" placeholder="Please write text here...."></textarea>
                        </div>
                        <div class="col-md-12 text-right" style="margin-top:10px;">
                            <button type="button" onclick="sendMessage()" class="btn btn-success"><i class="fa fa-send"></i> Post</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row" id="notificationmodal">
                    </div>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-times-circle"></i> Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="assigntech" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="assigntechModalLabel">
        <div class="modal-dialog modal-dialog-custom " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="assigntechModalLabel">Confirmation</h4>
                    <input type="hidden" id="assignjobid" />
                </div> 
                <div class="modal-footer">
                    <button type="button" onclick="assignjob('2')" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i> Accept</button>
                    </div> 
            </div> 
        </div> 
    </div>
    <div class="row">

        <div class="col-lg-12">
            <div class="panel m-b-0">
                <div class="panel-heading panel-heading-job">

                    <div class="col-md-6 col-sm-6">
                        <h3 class="panel-title">
                            Job List
                        </h3>
                    </div>
                    <div class="col-md-6 col-sm-6 topbuttondiv">
                        @if (permission.Contains(1061))
                        {
                            <a class="btn btn-success btn-sm pull-right" href="@Url.Action("index", "jobs", new { type = 2 })">
                                <i class="fa fa-calendar"></i> Calendar View
                            </a>
                        }  @if (!issubcontractor)
                        {
                            if (permission.Contains(38))
                            {<a class="btn btn-success btn-sm pull-right" style="margin-right:8px;" data-backdrop="static" data-toggle="modal" data-target="#add-new-task"><i class="fa fa-plus"></i> Add New Job </a>
                            }
                            if (permission.Contains(41))
                            {
                                <a class="btn btn-success btn-sm pull-right" style="margin-right:8px;" onclick="Uploadfile()" href="#">
                                    <i class="fas fa-cloud-upload-alt"></i> Upload
                                </a>
                            }
                        }
                    </div>

                </div>

                @if (permission.Contains(55))
                {
                    <div class="panel-body p-none">

                        <div class="custom-col-md-12" id="filter_div" style="display:none;">

                            @using (Html.BeginForm("index", "jobs", FormMethod.Post, new { @class = "form-some-up", @id = "frmsendsms" }))
                            {
                                <table class="table table-hover filter_table_job filter_table nowrap no-footer table-ultra-responsive-custome">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="text" class="form-control filter" value="@Location" style="width: 294px;" id="Filter_Location" name="Location" placeholder="Search address or City, State" />
                                            </td>
                                            <td>
                                                <div class="">
                                                    <input type="text" name="date1" class="form-control dateRangePicker" style="width:200px;" />
                                                    <input type="hidden" id="date" name="date" />
                                                </div>
                                            </td>
                                            @if (!issubcontractor)
                                            {
                                                <td>
                                                    <select class="selectpicker form-control " data-live-search="true" name="cclient" id="cclient">
                                                        <option value="0">Client</option>
                                                    </select>
                                                </td>
                                            }
                                            <td>
                                                <select class="selectpicker form-control " data-live-search="true" name="cTechnician" id="cTechnician">
                                                    <option value="0">Technician</option>
                                                </select>
                                            </td>
                                            @if (!issubcontractor)
                                            {
                                                <td>
                                                    <select class="selectpicker form-control " data-live-search="true" name="cDispatcher" id="cDispatcher">
                                                        <option value="0">Dispatcher</option>
                                                    </select>
                                                </td>
                                            }
                                            <td>
                                                <select name="Status" id="Status" class="form-control selectpicker">
                                                    <option @(Status == 0 ? "selected" : "") value="0">Status</option>
                                                    <option @(Status == 1 ? "selected" : "") value="1">New</option>
                                                    <option @(Status == 2 ? "selected" : "") value="2">Dispatched</option>
                                                    <option @(Status == 3 ? "selected" : "") value="3">In progress</option>
                                                    <option @(Status == 4 ? "selected" : "") value="4">Completed</option>
                                                    <option @(Status == 6 ? "selected" : "") value="6">Under review</option>
                                                    <option @(Status == 5 ? "selected" : "") value="5">Approved</option>
                                                    <option @(Status == 7 ? "selected" : "") value="7">Rescheduled</option>
                                                    <option @(Status == 8 ? "selected" : "") value="8">Cancelled</option>
                                                </select>
                                            </td>
                                            <td>
                                                <button class="btn btn-default" type="button" onclick="FilterTable()"><i class="fa fa-search"></i></button>
                                            </td>
                                            <td>
                                                <a href="#" onclick="ClearFilter()" class="btn btn-default pull-right">Clear Search</a>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
                            }
                        </div>

                    </div>
                }
                <div class="clearfix"></div>
                <div class="panel-body p-none">

                    <div class="table-ultra-responsive">
                        <table class="table data-table nowrap table-hover table-condensed dataTable no-footer" id="table">
                            <thead>
                                <tr role="row">
                                    <th style="text-transform:uppercase;">ID</th>
                                    <th>Title</th>
                                    <th>Technician</th>
                                    <th>City</th>
                                    <th>State</th>
                                    <th>Date</th>
                                    <th>Start</th>
                                    <th>End</th>
                                    <th style="text-align:center;">Message</th>
                                    <th>Pay rate</th>
                                    <th>Hours </th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>




        <!-- Modal -->
        <div class="modal fade" id="add-new-task" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add New Job</h4>
                    </div>
                    @using (Html.BeginForm("add", "jobs", FormMethod.Post, new { @class = "form-some-up", @id = "frmadd" }))
                    {
                        <div class="modal-body">
                            <div class="row">
                                <div class="form-group col-md-4 col-lg-4 col-sm-12">
                                    <label style="text-transform:none;">Job ID</label>
                                    @Html.TextBoxFor(a => a.JobId, new { @class = "form-control", @maxlength = "10", @type = "number" })
                                    @Html.ValidationMessageFor(a => a.JobId)
                                </div>
                                <div class="form-group m-none col-md-4 col-lg-4 col-sm-12">
                                    <label for="e20">Status</label>
                                    <select name="Status" class="form-control selectpicker">
                                        <option value="1">New</option>
                                        <option value="2">Dispatched</option>
                                        <option value="3">In progress</option>
                                        <option value="4">Completed</option>
                                        <option value="6">Under review</option>
                                        <option value="5">Approved</option>
                                        <option value="7">Rescheduled</option>
                                        <option value="8">Cancelled</option>
                                    </select>
                                </div> <div class="form-group col-md-4 col-lg-4 col-sm-12">
                                    <label>Date</label>
                                    @Html.TextBoxFor(a => a.sdate, new { @class = "form-control datePicker" })
                                    @Html.ValidationMessageFor(a => a.sdate)
                                </div>

                            </div>
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="form-group col-md-4 col-lg-4 col-sm-12">
                                    <label>Job Title</label>
                                    @Html.TextBoxFor(a => a.title, new { @class = "form-control capitalize" })
                                    @Html.ValidationMessageFor(a => a.title)
                                </div>
                                <div class="form-group col-md-4 col-lg-4 col-sm-12">
                                    <label>Client</label>
                                    <select class="selectpicker form-control " data-live-search="true" name="client_id" id="client">
                                        <option value="0">Client</option>
                                    </select>
                                </div> <div class="form-group col-md-4 col-lg-4 col-sm-12">
                                    <label>Start Time</label>
                                    @Html.TextBoxFor(a => a.stime, new { @class = "form-control timePicker" })
                                    @Html.ValidationMessageFor(a => a.stime)
                                </div>

                            </div>
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="form-group col-md-4 col-lg-4 col-sm-12">
                                    <label>Address</label>
                                    <input type="text" class="form-control" id="popupaddress" autocomplete="random" name="add" />
                                </div>
                                <div class="form-group col-md-4 col-lg-4 col-sm-12">
                                    <label>Client Manager</label>
                                    <select class="selectpicker form-control" disabled data-live-search="true" name="mgr_id" id="Project_manager">
                                        <option value="0">Manager</option>
                                    </select>
                                </div><div class="form-group col-md-4 col-lg-4 col-sm-12">
                                    <label>End Time</label>
                                    @Html.TextBoxFor(a => a.etime, new { @class = "form-control timePicker" })
                                    @Html.ValidationMessageFor(a => a.etime)
                                </div>

                            </div>
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="form-group col-md-4 col-lg-4 col-sm-12">
                                    <label>Suite / Apt. #</label>
                                    <input type="text" class="form-control" id="c_Suite" name="Suite" />
                                </div>
                                <div class="form-group col-md-4 col-lg-4 col-sm-12">
                                    <label>Project Manager</label>
                                    <select class="selectpicker form-control" data-live-search="true" name="mgr_id1" id="Project_manager1">
                                        <option value="0">Manager</option>
                                    </select>
                                </div><div class="form-group col-md-4 col-lg-4 col-sm-12">
                                    <label>Client Rate</label>
                                    <input type="text" class="form-control ratetext" id="c_techrate" name="clientrate" />
                                </div>

                            </div>
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="form-group col-md-4 col-lg-4 col-sm-12">
                                    <label>City</label>
                                    @Html.TextBoxFor(a => a.city, new { @class = "form-control" })
                                </div>
                                <div class="form-group col-md-4 col-lg-4 col-sm-12">
                                    <label>Technician</label>
                                    <select class="selectpicker form-control " onchange="getrateTechnician()" data-live-search="true" name="Technician" id="Technician">
                                        <option value="0">Technician</option>
                                    </select>
                                </div><div class="form-group col-md-4 col-lg-4 col-sm-12">
                                    <label>Pay Rate</label>
                                    <input type="text" class="form-control ratetext" id="techrate" name="techrate" />
                                </div>

                            </div>
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="form-group col-md-2 col-lg-2 col-sm-6">
                                    <label>State</label>
                                    <select id="state_id" data-live-search="true" name="state_id" class="selectpicker form-control">
                                        <option value="0">Select</option>
                                        @foreach (var item in state)
                                        {
                                            <option value="@item.Key">@item.Value</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group col-md-2 col-lg-2 col-sm-6">
                                    <label>Zip Code</label>
                                    <input type="text" class="form-control" name="zip" id="popupzipcode" />
                                </div>
                                <div class="form-group col-md-4 col-lg-4 col-sm-12">
                                    <label>Dispatcher</label>
                                    <select class="selectpicker form-control " data-live-search="true" name="Dispatcher" id="Dispatcher">
                                        <option value="0">Dispatcher</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4 col-lg-4 col-sm-12">
                                    <label>Expense</label>
                                    @Html.TextBoxFor(a => a.Expense, new { @class = "form-control ratetext" })
                                    @Html.ValidationMessageFor(a => a.Expense)
                                </div>
                            </div>
                            <div class="row">



                            </div>
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="form-group col-md-12 col-lg-12 col-sm-12">
                                    <label>Description</label>
                                    @Html.TextAreaFor(a => a.description, new { @class = "textarea-wysihtml5 form-control", @rows = "6" })
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-times-circle"></i> Close</button>
                        </div>
                    }
                </div>
            </div>
        </div>


    </div>

</div>
<script>
    var pageSize = 25;
    var otable;
    var viewpermission = '@permission.Contains(56).ToString().ToUpper()';
    var editpermission = '@permission.Contains(39).ToString().ToUpper()';
    var deletepermission ='@permission.Contains(40).ToString().ToUpper()';
    var citySelected = "";

    function ClearFilter() {

      $("#date").val('');

      $("#cclient").val('0');
       $("#cTechnician").val('0');
        $("#cDispatcher").val('0');
       $("#Status").val('0');
        $('.selectpicker').selectpicker('refresh');
        $("#filterpopup").css("display", "none");
        $('input[type=search]').val('');
        $("#Filter_Location").val('');
        otable.search('').draw(true);
    }

    function FilterTable() {
         $("#filterpopup").css("display", "block");
        otable.draw(true);
    }

    $(document).ready(function () {
    var _cityselected = $("#city_filter_id").find("option:selected");
    _cityselected.each(function(){
       citySelected=citySelected+$(this).val()+",";
    });


        otable = $('.data-table').DataTable({
            "processing": true,
            "serverSide": true,
            "autoWidth": false,
            'language': {
            'loadingRecords': '&nbsp;',
            'processing': "<img src='@Url.Content("~/Content/Images/loader.gif")'> Loading..."
        }, "oLanguage": { "sSearch": "", 'sLengthMenu': "Show _MENU_" },
            "iDisplayLength": 25,
            "order": [],
            "bSort": false,
            "bFilter": true,
            "ajax": {
                "url": "@Url.Action("Fetchmemberjobs", "jobs")",
                  "data": function (d) {
                        d.date = $("#date").val();
                        d.type = 1;
                      d.state_filter_id = $("#state_filter_id").val();
                      d.cclient = $("#cclient").val();
                      d.cTechnician = $("#cTechnician").val();
                      d.cDispatcher = $("#cDispatcher").val();
                       d.Status = $("#Status").val();
                        d.city_filter_id = citySelected+"0";
                    }
            },
            "aoColumns": [
                {
                    bSortable: false,
                    mRender: function (data, type, full) {
                        return '<span>' + full.Job_ID + '</span>';
                    }
                },
                 {
                    bSortable: false,
                    mRender: function (data, type, full) {
                    if (viewpermission == "TRUE") {
                            return '<a href="/jobs/view?token=' + full.token + '">' + full.Title+'</a>';
                        }
                        else {
                            return '<a href="#" class="disabledbtn" data-msg="You are not authorized to view selected job">'+ full.Title+'</a>';
                        }
                    }
                },
                {
                    bSortable: false,
                    mRender: function (data, type, full) {
                    if (full.Technician.toLowerCase()=="n/a") {
                            return ' <p id="member_'+full.JobID+'"><a href="#" class="assign" data-jobid="'+full.JobID+'">Unassign</a> </p>';
                        } 
                    else { 
                        if (full.confirm == 1) {
                            if (full.JobConfirmation == 1) {
                                return '<label style="font-weight:400"><a href="#" data-jobid="' + full.token + '" class="assign">' + full.Technician + '</a></label><span class="text-danger fa fa-clock pendingJobconfirm"> </span>';
                            } else {
                                return '<label style="font-weight:400">' + full.Technician + '</label><span class="text-danger fa fa-clock pendingJobconfirm"> </span>';
                            } 
                        } else {
                            return '<p id="member_' + full.JobID + '">' + full.Technician + '</p>';
                        } 
                       }
                    }
                },
                { mData: "cityname" },
                { mData: "statename" },
                { mData: "sdate" },
                { mData: "stime" },
                { mData: "etime" },
             {
                    bSortable: false,
                 mRender: function (data, type, full) {
                     var _chatbody = "<span id='commentbadge_"+full.JobID +"' class='notification' data-id='" + full.JobID + "'>"+full.commentCount+"</span>";
                        if (full.commentCount=="0") {
                            _chatbody = "<span id='commentbadge_"+full.JobID +"' class='notification' data-id='" + full.JobID + "'>--</span>";
                        }
                            return _chatbody;
                    },
                    className: "centertext",
                },
                {
                    bSortable: false,
                    mRender: function (data, type, full)
                    {
                            return "<span id='rate_"+full.JobID+"'>"+full.Pay_rate+"</span>";
                    }
                },
                 { mData: "hours" },
                 {
                    bSortable: false,
                    mRender: function (data, type, full)
                    {
                        return "<span id='spn_" + full.JobID + "' data-statusid='" + full.status_id + "' data-memberid='" + full.JobID + "' class='" + full.Status.replace(" ", "").toLowerCase()+"'>"+full.Status+"</span>";
                    }
                },
                {
                    bSortable: false,
                    mRender: function (data, type, full) {
                        var tbl = '<div class="btn-group pos-static"><a class="customedropdown" data-toggle="customedropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-v fn21"></i> </a><div class="dropdown-menu customdropdown-menu" x-placement="bottom-start" style="top: 0px; transform: translate3d(-38px, 10px, 0px);will-change: transform;position: absolute;left: 0px; display: none;">';
                         if (viewpermission == "TRUE") {
                            tbl=tbl+ '<a class="btn btn-complete btn-xs" href="/jobs/view?token=' + full.token + '"><i class="fa fa-eye"></i> View</a>';

                        }
                        else {
                            tbl=tbl+ '<a href="#" class="disabledbtn btn btn-complete btn-xs" data-msg="You are not authorized to edit selected job"><i class="fa fa-eye"></i> View</a>';
                        }
                        if (editpermission == "TRUE") {
                            tbl=tbl+ '<a class="btn btn-success btn-xs" href="/jobs/edit?token=' + full.token + '"><i class="fa fa-edit"></i> Edit</a>';
                              }
                        else {
                            tbl=tbl+ '<a href="#" class="disabledbtn btn btn-success btn-xs" data-msg="You are not authorized to edit selected job"><i class="fa fa-edit"></i> Edit</a>';
                        }
                        if (deletepermission == "TRUE") {
                            tbl=tbl+ '<a class="btn btn-danger btn-xs cdelete" id="' + full.token + '"><i class="fa fa-trash"></i> Delete</a>';

                        }
                        else {
                            tbl=tbl+ '<a href="#" class="disabledbtn btn btn-danger btn-xs" data-msg="You are not authorized to delete selected Job"><i class="fa fa-trash"></i> Delete</a>';
                        }
                        if (full.JobConfirmation == 1) {
                            tbl = tbl + '<a href="#" data-jobid="' + full.token + '" class="assign btn btn-primary btn-xs"> Confirm</a>';
                            } 
                        tbl = tbl + ' <a class="btn btn-info btn-xs"><i class="fa fa-window-close"></i> Close</a>';
                        tbl = tbl + '</div></div>';
                        return tbl;
                    }
                }

            ]
        });
    });
</script>
<script>

     //validatejobId

    $("#JobId").on("change", function (e) {
        var _url = "@Url.Action("validatejobId","jobs")";
        var jobid = $("#JobId").val();
        $.get(_url, { 'id': jobid }, function (data) {
            if (data == 'True') {
                return true;
            } else {
                 alertify.log('JobId '+jobid+' already in use', 'error', 5000);
              $("#JobId").val('');
                return false;
            }
        });
    });



    function sendMessage() {
        var id = $("#mainjid").val();
        var _body = $("#messagebox").val();
        if (_body == '') {
             alertify.log("Please write message", "error", 2000);
            return false;
        }
         var _url = "@Url.Action("Sendmessage","jobs")";
        $.post(_url, { 'Comment': _body, 'JobID': id }, function (data) {
          getmessages();
            $(".wysihtml5-sandbox").remove();
             $(".wysihtml5-toolbar").remove();
$("#messagebox").show();
$('#messagebox').val('');
         $('#messagebox').wysihtml5({
			toolbar: {
				'fa': true
			}
		});
            alertify.log("Message sent", "success", 2000);
        });
    }

    function getmessages() {
        var id = $("#mainjid").val();
        var _url = "@Url.Action("getnotifications","jobs")";
         $.get(_url, { 'JobID':id }, function (data) {
             $("#notificationmodal").html(data);
        });
    }
     function getClientrate(cntrl,rateCntrl) {
        var client = $("#"+cntrl).val();
        if (client != 0) {
            var _url = "@Url.Action("get_client_rate","client")"+"?id="+client;
            $.get(_url, function (data) {
                $("#"+rateCntrl).val(data);
            });
        } else {
            $("#"+rateCntrl).val("$1");
        }
    }
    function getrateTechnician() {
        var memberid = $("#Technician").val();
        if (memberid != 0) {
            var _url = "@Url.Action("get_member_rate","member")" + "?id=" + memberid;
            $.get(_url, function (data) {
                $("#techrate").val(data);
            });
        } else {
            $("#techrate").val("$0.00");
        }
    }
    function assignjob(type) {
       var token=  $('#assignjobid').val();
        //int memberid,int jobid,string rate
        var _url = "@Url.Action("updatejobstatus","jobs")";
        $.post(_url, { 'token': token, 'type': type }, function (data) {
            $('#assigntech').modal('hide');
            alertify.log("Job confirmation updated succesfully", "success", 2000);
            otable.draw(false);
        });
    }
    $(document).ready(function () {


    //

        $("#table").on("click", ".assign", function(e){
            e.preventDefault();
            var id = $(this).data('jobid');
            $("#assignjobid").val(id);
            $('#assigntech').modal('show');
          });

            $("#table").on("click", ".cdelete", function(e){
            e.preventDefault();
            var id = this.id;
            bootbox.confirm("Are you sure?", function (result) {
                if (result) {
                    var _url = "@Url.Action("index","jobs")";
                    window.location.href = _url + "?token=" + id;
                }
            });
          });
        $("#table").on("click", ".notification", function(e){
         e.preventDefault();
      var id = $(this).data("id");
      var _url = "@Url.Action("getnotifications","jobs")";
      $.get(_url, { 'jobid': id }, function (data) {
          $("#notificationmodal").html(data);
          $('#messagemodal').modal('show');
          $("#mainjid").val(id);
      });

            });
          get_client('cclient','@cclient');
        get_client('client', 0);
         get_client('uplodclient', 0);

        function get_client(client,clientid) {
            var dataString = 'ismulti=0&clientid='+clientid;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_clients","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#"+client).html(data).removeAttr('disabled').selectpicker('refresh');
                            }
                        });

          }
            $("#client").change(function () {
                var id = $(this).val();
                if (id != 0) {
                    var dataString = 'id=' + id;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_manager_by_clientid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#Project_manager").html(data).removeAttr('disabled').selectpicker('refresh');
                            }
                        });
                } else {
                  $("#Project_manager").html('<option value="0">Manager</option>').attr('disabled',true).selectpicker('refresh');
                }
                getClientrate('client', 'c_techrate');
            });

         $("#uplodclient").change(function () {
                var id = $(this).val();
                if (id != 0) {
                    var dataString = 'id=' + id;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_manager_by_clientid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#uploadProject_manager").html(data).removeAttr('disabled').selectpicker('refresh');
                            }
                        });
                } else {
                  $("#uploadProject_manager").html('<option value="0">Manager</option>').attr('disabled',true).selectpicker('refresh');
             }
               getClientrate('uplodclient', 'upclientRate');
            });

          //Project_manager

          get_Manager_selectbyid('Technician', 'Technician',0,'T','@issubcontractor');
           get_Manager_selectbyid('Technician', 'cTechnician','@cTechnician','T','@issubcontractor');
          get_Manager_selectbyid('Dispatcher', 'Dispatcher',0,'D','@issubcontractor');
           get_Manager_selectbyid('Dispatcher', 'cDispatcher','@cDispatcher','D','@issubcontractor');

         function get_Manager_selectbyid(_val,cntrlId,memberid,type,issubcontractor) {
            var dataString = 'optvalue='+_val+"&memberid="+memberid+"&type="+type+"&issubcontractor="+issubcontractor;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_member","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#"+cntrlId).html(data).removeAttr('disabled').selectpicker('refresh');
                            }
                        });

        }

         function get_city(city_id,state_id) {
             var dataString = 'id=' + state_id+"&ismulti=1&city="+city_id;
                    $.ajax
                        ({
                            type: "POST",
                             url: '@Url.Action("get_all_city_by_stateid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $('#city_filter_id').multiselect('destroy');
                                  $("#city_filter_id").html('');
                                $("#city_filter_id").html(data).removeAttr('disabled');
                                  $("#city_filter_id").removeClass('selectpicker').attr("multiple","multiple").multiselect({ enableCaseInsensitiveFiltering:true,enableFiltering: true,buttonText: function(options, select) {
                return 'City';
            },});

                            }
                        });

        }
            $("#state_filter_id").change(function () {
                var id = $(this).val();
            if (id != 0) {
               // $("#city_id").html('');
                    var dataString = 'id=' + id+"&ismulti=1";
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_city_by_stateid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $('#city_filter_id').multiselect('destroy');
                                  $("#city_filter_id").html('');
                                $("#city_filter_id").html(data).removeAttr('disabled');
                                  $("#city_filter_id").removeClass('selectpicker').attr("multiple","multiple").multiselect({enableCaseInsensitiveFiltering:true, enableFiltering: true,buttonText: function(options, select) {
                return 'City';
            },});
                            }
                        });
            } else {
                $('#city_filter_id').multiselect('destroy');
                $("#city_filter_id").html('');
                 $("#city_filter_id").removeClass('selectpicker').attr("multiple","multiple").multiselect({ enableCaseInsensitiveFiltering:true,enableFiltering: true,buttonText: function(options, select) {
                return 'City';
            },});
              //  $("#city_id").html('<option value="0">City</option>').attr('disabled',true);
                }
            });


     $("#state_id").change(function () {
                var id = $(this).val();
                if (id != 0) {
                    var dataString = 'id=' + id;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_city_by_stateid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#city_id").html(data).removeAttr('disabled').selectpicker('refresh');
                            }
                        });
                } else {
                  $("#city_id").html('<option value="0">City</option>').attr('disabled',true).selectpicker('refresh');
                }
            });
          $("#assignstate_id").change(function () {
                var id = $(this).val();
                if (id != 0) {
                    var dataString = 'id=' + id;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_city_by_stateid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#assigncity_id").html(data).removeAttr('disabled').selectpicker('refresh');
                            }
                        });
                } else {
                  $("#assigncity_id").html('<option value="0">City</option>').attr('disabled',true).selectpicker('refresh');
                }
          });
        $("#assigncity_id").on("change", function () {
              var id = $(this).val();
                if (id != 0) {
                    var dataString = 'cityid=' + id+"&optvalue=Technician";
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_selcted_member_bycity","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#assignTechnician").html(data).removeAttr('disabled').selectpicker('refresh');
                            }
                        });
                } else {
                  $("#assignTechnician").html('<option value="0">Technician</option>').attr('disabled',true).selectpicker('refresh');
                }
        });


    });

        function getrate() {
        var memberid = $("#assignTechnician").val();
        if (memberid != 0) {
            var _url = "@Url.Action("get_member_rate","member")"+"?id="+memberid;
            $.get(_url, function (data) {
                $("#assignmemberrate").val(data);
            });
        } else {
            $("#assignmemberrate").val("$0");
        }
    }
      function Uploadfile() {
              $('#upload').modal('show');
    }

    function assigntech(jobid) {
            $('#assignjobid').val(jobid);
        $("#assignmemberrate").val('');
         $("#assigncity_id").html('<option value="0">City</option>').attr('disabled',true).selectpicker('refresh');
         $("#assignTechnician").html('<option value="0">Technician</option>').attr('disabled',true).selectpicker('refresh');
        $('#assigntech').modal('show');
    }




     $(window).load(function () {

         setInterval(function(){  $("#filter_div").css("display", "block"); }, 1500);
    });
</script>

@if (!string.IsNullOrEmpty(date))
{
    <script>
        var d = '@date';
        var ds = d.split('-');
    function cb(start, end) {
        $('.dateRangePicker').val(start + ' - ' + end);
         //$("#date").val(start + ' - ' + end);
    }
        $('.dateRangePicker').daterangepicker({
            opens: 'left',
            autoUpdateInput: false
        }, cb);
      cb(ds[0],ds[1]);
         $('.dateRangePicker').on('apply.daterangepicker', function(ev, picker) {
      $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
             $("#date").val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
         });

    </script>
}
else
{
    <script>
        var start = moment();
        var end = moment().add(30, 'days');
        function cb(start, end) {
            $('.dateRangePicker').val(start.format('MM/DD/YYYY') + ' - ' + end.format('MM/DD/YYYY'));
            //$("#date").val(start.format('MM/DD/YYYY') + ' - ' + end.format('MM/DD/YYYY'));
        }
        $('.dateRangePicker').daterangepicker({
            opens: 'left',
            autoUpdateInput: false
        }, cb);

        cb(start, end);
        $('.dateRangePicker').on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
            $("#date").val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
        });

    </script>


}

<script src="https://maps.googleapis.com/maps/api/js?libraries=places&region=US&key=AIzaSyA1LyE18eEmk5UdDLezPmcOPF47Diugxls" type="text/javascript"></script>
<script type="text/javascript">
    function initialize() {
        var options = {
            types: ['(cities)'],
            componentRestrictions: { country: "us" }
        };
        var options1 = {
            types: ['address'],
            componentRestrictions: { country: "us" }
        };
        var input = document.getElementById('city');
        var input1 = document.getElementById('popupaddress');
        var autocomplete = new google.maps.places.Autocomplete(input, options);
        var autocomplete1 = new google.maps.places.Autocomplete(input1, options1);
        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var place = autocomplete.getPlace();
            var address = '';
            if (place.address_components) {
                address = [
                    (place.address_components[0] && place.address_components[0].short_name || '')
                ].join(' ');
            }
            input.value = address;
        });
        google.maps.event.addListener(autocomplete1, 'place_changed', function () {
            var place = autocomplete1.getPlace();
            var address = '';
            var city = "";
            var state = "";
            var zip = ""; debugger;

            address = place.formatted_address;
            var value = address.split(",");
            count = value.length;
            state = value[count - 2];
            city = value[count - 3];
            var z = state.split(" ");
            var i = z.length;
            state = z[1];
            zip = z[2];
            $("#state_id").find('option').each(function () {
                text = $(this).text();
                if (text == state) {
                    $("#state_id").val($(this).val());
                    $('#state_id').selectpicker('refresh');
                }
            });
            if (i > 2)
                $("#popupzipcode").val(zip);
            $("#city").val(city);
            if (place.address_components) {
                address = [
                    (place.address_components[0] && place.address_components[0].short_name || ''),
                    (place.address_components[1] && place.address_components[1].long_name || ''),
                ].join(' ');
            }
            input1.value = address.replace(", USA", "");

        });

    }
    google.maps.event.addDomListener(window, 'load', initialize);

    document.addEventListener('DOMNodeInserted', function (event) {
        var target = $(event.target);
        if (target.hasClass('pac-item')) {
            target.html(target.html().replace(/, USA<\/span>$/, "</span>"));
        }
        $('.pac-target-input').attr('autocomplete', 'random');
    });
</script>
