﻿
@{
    ViewBag.Title = "Job View";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int type = ViewBag.type == null ? 1 : (int)ViewBag.type;
    int viewtype = ViewBag.viewtype == null ? 1 : (int)ViewBag.viewtype;
    var permission = (List<int>)ViewBag.permissions;
    string _type = (string)ViewBag.stype;
    Model.error_text = string.IsNullOrEmpty(Model.error_text) ? Model.jobConfirmation == 1 ? "Click to confirm assigned job" : string.Empty : Model.error_text;
    Model.alertclass = string.IsNullOrEmpty(Model.alertclass) ? Model.jobConfirmation == 1 ? "error" : string.Empty : Model.alertclass;
}
@model hrm.Models.job_items1

@helper getCommentByHelper(string comment, int id, int jobid, bool isread)
{
    System.Text.RegularExpressions.Regex rx = new System.Text.RegularExpressions.Regex("<[^>]*>");
    if (!string.IsNullOrEmpty(comment))
    {
        var _oldvalue = comment;//orignal value with html
        var _newvalue = comment;//removing html
        _newvalue = rx.Replace(_oldvalue, "");//html removed
        var text = _newvalue.Count() > 100 ? _newvalue.Substring(0, 100) : _newvalue;// substring
        var text1 = _newvalue.Count() > 100 ? _newvalue.Substring(100) : _newvalue;// substring
        comment = comment.Replace(_newvalue, text);
        comment = rx.Replace(comment, "");//html removed
        _oldvalue = _oldvalue.Replace(_newvalue, text1);
        if (_newvalue.Count() > 100)
        {
            <span class="parentcomment @(isread ? "" : "unread unread2")" data-id="@id" data-jobid="@jobid">@Html.Raw(comment)</span>
            <span class="childcommentcomment hide @(isread ? "" : "unread unread2")" data-id="@id" data-jobid="@jobid">@Html.Raw(_oldvalue)</span>
        }
        else
        {
            <span class="parentcomment @(isread ? "" : "unread unread2")" data-id="@id" data-jobid="@jobid">@Html.Raw(comment)</span>
            <span class="childcommentcomment hide @(isread ? "" : "unread unread2")" data-id="@id" data-jobid="@jobid"></span>

        }
    }
    else
    {

    }

}
<style>
    .col-lg-8 {
        padding-left: 0px !important;
    }

    .col-lg-4 {
        padding-right: 8px !important;
    }

    .mrgb16 {
        margin-bottom: -16px !important;
    }

    .round label {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 50%;
        cursor: pointer;
        height: 17px;
        left: 1px;
        position: absolute;
        top: 5px;
        width: 17px;
    }

    .round {
        position: relative;
        padding-bottom: 17px;
        padding-top: 2px;
    }



        .round label:after {
            border: 2px solid #fff;
            border-top: none;
            border-right: none;
            content: "";
            height: 6px;
            left: 4px;
            opacity: 0;
            position: absolute;
            top: 5px;
            transform: rotate(-45deg);
            width: 12px;
        }

    .bcklabel {
        font-size: 14px !important;
        padding-top: 0px;
    }

    .hdr {
        background: #F7F8FA;
        color: black;
        margin-bottom: 10px;
        border: 1px solid rgba(230, 230, 230, 0.7);
    }



    .round input[type="checkbox"] {
        visibility: hidden;
    }

        .round input[type="checkbox"]:checked + label {
            background-color: var(--blue);
            border-color: var(--blue);
        }

    .bck {
        background-color: var(--blue) !important;
        border-color: var(--blue) !important;
    }

        .bck:after {
            border: 2px solid #fff !important;
            border-top: none !important;
            border-right: none !important;
            content: "" !important;
            height: 6px !important;
            left: 3px !important;
            opacity: 1 !important;
            position: absolute !important;
            top: 3px !important;
            transform: rotate(-45deg) !important;
            width: 10px !important;
        }

    .round input[type="checkbox"]:checked + label:after {
        opacity: 1;
    }

    .box-inner .round input[type=checkbox], input[type=radio], .Confirmationbox input[type=checkbox], input[type=radio] {
        margin: 4px 4px 0 !important;
    }

    .customhrjob {
        margin-top: 0px !important;
        margin-bottom: 20px !important;
    }

    .pl-20 {
        padding-left: 20px !important;
    }
    #assigntech .modal-footer, #assigntech  .modal-header {
        padding: 10px 30px !important;
    }

    #assigntech .modal-header {
        border-top: 10px var(--green) solid !important;
    }
    
</style>
<div class="p-10">
    @*<h2 class="page-title">Manage Job
        </h2>*@
</div>
<div class="p-30 p-t-none p-b-100">
    @if (!string.IsNullOrEmpty(Model.error_text))
    {
        <span id="alert" style="display:none;" data-class="@Model.alertclass" data-text="@Model.error_text"></span>
    }
<div class="row">
    <div id="assigntech" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="assigntechModalLabel">
        <div class="modal-dialog modal-dialog-custom " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="assigntechModalLabel">Confirmation</h4>
                    <input type="hidden" id="assignjobid" />
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="assignjob('2')" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i> Accept</button>
                    
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel">
            <div class="panel-heading formpanel-heading">
                <div class="col-md-6 col-sm-6">
                    <h3 class="panel-title">
                        Job Info
                    </h3>
                </div>
                @if (permission.Contains(38))
                {
                    <div class="col-md-6 col-sm-6 topbuttondiv">

                        <a class="btn btn-success btn-sm pull-right" href="@Url.Action("index", "jobs", new { type = viewtype })">
                            <i class="fa fa-arrow-left"></i> Job List
                        </a>
                    </div>
                    if (Model.jobConfirmation == 1)
                    {
                        <div class="col-md-3 col-sm-3 topbuttondiv">
                            <a href="#" data-jobid="@Model.token" class="assign btn btn-success btn-sm pull-right"><i class="fa fa-check" aria-hidden="true"></i> Confirm</a>
                        </div>
                    }
                }
                else if (Model.jobConfirmation == 1)
                {
                    <div class="col-md-6 col-sm-6 topbuttondiv">
                        <a href="#" data-jobid="@Model.token" class="assign btn btn-success btn-sm pull-right"><i class="fa fa-check" aria-hidden="true"></i> Confirm</a>
                    </div>
                }
                

            </div>
            <div class="panel-body">

                @using (Html.BeginForm("tedit", "jobs", FormMethod.Post, new { @id = "frmsendsms", @enctype = "multipart/form-data" }))
                {
                    <div class="form-group" style="display:none;">
                        <label>Date</label>
                        @Html.TextBoxFor(a => a.sdate, new { @class = "form-control", @readonly = "" })
                        @Html.HiddenFor(a => a.JobID)
                    </div>
                    <div class="form-group" style="display:none;">
                        <label>Start Time</label>
                        @Html.TextBoxFor(a => a.stime, new { @class = "form-control", @readonly = "" })
                    </div>
                    <div class="form-group" style="display:none;">
                        <label>End Time</label>
                        @Html.TextBoxFor(a => a.etime, new { @class = "form-control", @readonly = "" })
                    </div>
                    <div class="form-group">
                        <label>Dispatcher</label>
                        <select class="width100  form-control" disabled data-live-search="true" name="Dispatcherid" id="cDispatcher">
                            <option value="0">Dispatcher</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Additional Expense</label>
                        @Html.TextBoxFor(a => a.Expense, new { @class = "form-control ratetext" })
                    </div>
                    <div class="form-group">
                        <label>Rate</label>
                        @if (_type == "ST")
                        {<input type="text" class="form-control" readonly value="xxxxxxx" />
                            <input type="hidden" name="pay_rate" value="@Model.pay_rate" />
                        }
                        else
                        {
                            @Html.TextBoxFor(a => a.pay_rate, new { @class = "form-control ratetext", id = "techrate", @readonly = "" })
                        }
                    </div>
                    <div class="form-group m-none">
                        <label for="e20">Status</label>
                        <select name="Status" class="form-control selectpicker width100">
                            <option @(Model.Status == 1 ? "selected" : "") value="1">New</option>
                            <option @(Model.Status == 2 ? "selected" : "") value="2">Dispatched</option>
                            <option @(Model.Status == 3 ? "selected" : "") value="3">In progress</option>
                            <option @(Model.Status == 4 ? "selected" : "") value="4">Completed</option>

                            @*<option @(Model.Status == 5 ? "selected" : "") value="5">Approved</option>*@
                        </select>
                    </div>
                    <br>

                    <button type="submit" class="btn btn-success btn-sm pull-right"><i class="fa fa-save"></i> Update</button>

                }
            </div>
        </div>
    </div>

    <div class="col-lg-8">

        <div class="panel">
            <div class="panel-heading formpanel-heading">
                <div class="col-md-6 col-sm-6">
                    <h3 class="panel-title">
                        Job Management
                    </h3>
                </div>
                @if (permission.Contains(38))
                {
                    <div class="col-md-6 col-sm-6 topbuttondiv">
                        <a class="btn btn-success btn-sm pull-right" href="@Url.Action("add", "pay", new { jobid = Model.JobID })">
                            <i class="fas fa-dollar-sign"></i> Add Pay
                        </a>
                    </div>
                }
                else
                {
                    <div class="col-md-6 col-sm-6 topbuttondiv">
                        <a class="btn btn-success btn-sm pull-right" href="@Url.Action("index","jobs",new {type=viewtype })">
                            <i class="fa fa-arrow-left"></i> Job List
                        </a>
                    </div>
                }
            </div>
            <div class="p-30 p-t-none p-b-none">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="@(type==1?"active":"")"><a href="#task_details" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">Detail</a></li>
                            <li role="presentation" class="@(type==2?"active":"")"><a href="#task_discussion" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">Discussion <span style="display:@(Model.unreadcount>0?"inline-block":"none")" id='commentbadge_@Model.JobID' data-id='@Model.JobID' class="badge badge-danger notification"> @Model.unreadcount</span></a></li>
                            <li role="presentation" class="@(type==3?"active":"")"><a href="#task_files" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false">File</a></li>
                            <li role="presentation" class="@(type==5?"active":"")"><a href="#task_tools" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false">Tool</a></li>
                            <li role="presentation" class="@(type==6?"active":"")"><a href="#task_skills" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false">Skill</a></li>
                        </ul>
                        <div class="tab-content p-20">
                            <div role="tabpanel" class="tab-pane @(type==1?"active":"")" id="task_details">
                                <table class="table table-condensed-slim mrgb16">
                                    <thead>
                                        <tr>
                                            <th>Job ID</th>
                                            <th>Address</th>
                                            <th>Job Title</th>
                                            <th>Date</th>
                                            <th>Start Time</th>
                                            <th>End Time</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>@Model.Job_ID</td>
                                            <td>@Html.Raw(Model.address)</td>
                                            <td>@Model.Title</td>
                                            <td>@Model.sdate</td>
                                            <td>@Model.stime</td>
                                            <td>@Model.etime</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <hr />

                                <div class="form-group pl-20">
                                    <label class="detaillabel">Job Description</label>
                                    <p class="graytext">@(string.IsNullOrEmpty(Model.description) ? Html.Raw("<p></p>") : Html.Raw(Model.description))</p>
                                </div>
                                <hr class="customhrjob" />
                                <div class="form-group pl-20">
                                    <label class="detaillabel">Special insturction</label>
                                    <p class="graytext">@(string.IsNullOrEmpty(Model.Instruction) ? Html.Raw("<p></p>") : Html.Raw(Model.Instruction))</p>
                                </div>

                                <hr />
                                <div class="form-group col-md-3">
                                    <label class="detaillabel">Contact</label>
                                    <p class="graytext"> @Model.Contact</p>
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="detaillabel">Phone</label>
                                    <p class="graytext"> @Model.Phone</p>
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="detaillabel">Technician</label>
                                    <p class="graytext"> @Model.Technician</p>
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="detaillabel">Dispatcher</label>
                                    <p class="graytext"> @Model.Dispatcher</p>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane @(type==2?"active":"")" id="task_discussion">
                                @using (Html.BeginForm("update", "jobs", FormMethod.Post, new { @id = "frmsendsms" }))
                                {
                                    <div class="row">
                                        <div class="form-group">
                                            <label>Leave Comment</label>
                                            @Html.TextAreaFor(a => a.Comment, new { @class = "textarea-wysihtml5 form-control", @rows = "7" })
                                            <input type="hidden" name="type" value="2" />
                                            @Html.HiddenFor(a => a.JobID)
                                        </div>
                                        <div class="col-md-12">
                                            <button type="submit" value="Post" class="btn btn-success pull-right"><i class="fas fa-paper-plane"></i> Post</button>
                                        </div>
                                    </div>
                                }
                                <br>
                                <hr>

                                <table class="table data-table table-hover table-ultra-responsive dataTable no-footer">
                                    <thead>
                                        <tr>
                                            <th style="width: 25%;">User</th>
                                            <th style="width: 55%;">Comment</th>
                                            <th style="width: 20%;">Last Update</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model._Comments)
                                        {
                                            <tr>
                                                <td style="width: 25%;">@item.createdby</td>
                                                <td style="width: 55%;">@getCommentByHelper(item.Comment, item.Commentid, Model.JobID, item.isread)</td>
                                                <td style="width: 20%;">@item.CreatedDate</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>

                            <div role="tabpanel" class="tab-pane @(type==3?"active":"")" id="task_files">

                                @using (Html.BeginForm("update", "jobs", FormMethod.Post, new { @id = "frmsendsms", @enctype = "multipart/form-data" }))
                                {
                                    <div class="row">
                                        <div class="form-group">
                                            <label>File Title</label>
                                            <input type="text" required name="file_title" class="form-control">
                                            <input type="hidden" name="type" value="3" />
                                            @Html.HiddenFor(a => a.JobID)
                                        </div>

                                        <div class="form-group">

                                            <label>Select File</label>
                                            <div class="input-group input-group-file">
                                                <span class="input-group-btn">
                                                    <span class="btn btn-primary btn-file">
                                                        Browse <input type="file" class="form-control" required name="file">
                                                    </span>
                                                </span>
                                                <input type="text" class="form-control" readonly="">
                                            </div>
                                        </div>


                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-success pull-right"> <i class="fas fa-file-import"></i> Upload</button>


                                        </div>
                                    </div>

                                }
                                <br>
                                <hr>

                                <table class="table data-table table-hover nowrap table-ultra-responsive dataTable no-footer">
                                    <thead>
                                        <tr>
                                            <th style="width: 20%;">File</th>
                                            <th style="width: 10%;">Size</th>
                                            <th style="width: 20%;">Date</th>
                                            <th style="width: 20%;">Upload By</th>
                                            <th style="width: 30%;">Download</th>
                                            <th style="width: 30%;">Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model._files)
                                        {
                                            <tr>
                                                <td style="width: 25%;">@item.FileTitle</td>
                                                <td style="width: 15%;">@item.Size</td>
                                                <td style="width: 20%;">@item.CreatedDate</td>
                                                <td style="width: 25%;">@item.CreatedBy</td>
                                                <td style="width: 40%;">
                                                    <a href="@item.Url" download target="_blank" class="btn btn-success btn-xs pull-left">
                                                        <i class="fa fa-download"></i>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="#" class="btn btn-danger btn-xs tFileDelete" data-jobid="@Model.token" id="@item.FileToken"><i class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>
                            <div role="tabpanel" class="tab-pane @(type==5?"active":"")" id="task_tools">
                                @using (Html.BeginForm("edit_tools", "jobs", FormMethod.Post, new
                                {
                                    @id = "toolsform",
                                    @enctype = "multipart/form-data"
                                }))
                                {
                                    int cnt = 1;
                                    @Html.HiddenFor(a => a.token, new { @id = "toolsteken" })
                                    <div class="col-md-12" style="max-height: 700px;overflow-y: auto;">
                                        @foreach (var item in Model._tools)
                                        {<div class="form-group col-md-3 round">
                                                @if (Model.tools != null && Model.tools.Contains(item.ToolId))
                                                {
                                                    <input type="checkbox" checked="checked" name="tools" id="t_@item.ToolId" value="@item.ToolId" />
                                                    <span data-toggle="tooltip" data-placement="right" title="@item.Name">@(item.Name.Count() > 10 ? item.Name.Substring(0, 9) + ".." : item.Name)</span>
                                                    <label for="checkbox" class="cuschk bck" data-id="t_@item.ToolId"></label>
                                                }
                                                else
                                                {
                                                    <input type="checkbox" name="tools" id="t_@item.ToolId" value="@item.ToolId" />
                                                    <span data-toggle="tooltip" data-placement="right" title="@item.Name">@(item.Name.Count() > 10 ? item.Name.Substring(0, 9) + ".." : item.Name)</span>
                                                    <label for="checkbox" class="cuschk" data-id="t_@item.ToolId"></label>
                                                }
                                            </div>

                                            if (cnt >= 4)
                                            {<div class="clearfix"></div>
                                                cnt = 0;
                                            }
                                            cnt = cnt + 1;
                                        }
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="col-md-12" style="margin-top:20px;margin-bottom:20px;">
                                        <hr />

                                    </div>
                                    <div class="clearfix"></div>
                                }
                            </div>
                            <div role="tabpanel" class="tab-pane @(type==6?"active":"")" id="task_skills">
                                @using (Html.BeginForm("edit_skills", "jobs", FormMethod.Post, new
                                {
                                    @id = "skillform",
                                    @enctype = "multipart/form-data"
                                }))
                                {
                                    @Html.HiddenFor(a => a.token, new { @id = "skilltoeken" })
                                    int cnt = 1;
                                    <div class="col-md-12" style="max-height: 700px;overflow-y: auto;">
                                        @foreach (var item in Model._skills)
                                        {<div class="form-group col-md-3 round">
                                                @if (Model.skills != null && Model.skills.Contains(item.SkillId))
                                                {
                                                    <input type="checkbox" checked="checked" name="skills" id="s_@item.SkillId" value="@item.SkillId" />
                                                    <span data-toggle="tooltip" data-placement="right" title="@item.Name">@(item.Name.Count() > 10 ? item.Name.Substring(0, 9) + ".." : item.Name)</span>
                                                    <label for="checkbox" class="cuschk bck" data-id="s_@item.SkillId"></label>
                                                }
                                                else
                                                {
                                                    <input type="checkbox" name="skills" id="s_@item.SkillId" value="@item.SkillId" />
                                                    <span data-toggle="tooltip" data-placement="right" title="@item.Name">@(item.Name.Count() > 10 ? item.Name.Substring(0, 9) + ".." : item.Name)</span>
                                                    <label for="checkbox" class="cuschk" data-id="s_@item.SkillId"></label>
                                                }
                                            </div>

                                            if (cnt >= 4)
                                            {<div class="clearfix"></div>
                                                cnt = 0;
                                            }
                                            cnt = cnt + 1;
                                        }
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="col-md-12" style="margin-top:20px;margin-bottom:20px;">
                                        <hr />

                                    </div>
                                    <div class="clearfix"></div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
</div>
<script>
     function assignjob(type) {
       var token=  $('#assignjobid').val();
        //int memberid,int jobid,string rate
        var _url = "@Url.Action("updatejobstatus","jobs")";
        $.post(_url, { 'token': token, 'type': type }, function (data) {
            $('#assigntech').modal('hide');
            alertify.log("Job confirmation updated succesfully", "success", 2000);
            $(".assign").hide("slow");
        });
    }
    $(document).ready(function () {

        $(".assign").on("click", function (e) { 
            var id = $(this).data('jobid');
            $("#assignjobid").val(id);
            $('#assigntech').modal('show');
        });

        $(".cuschk").on("click", function () {
            var id = $(this).data("id");
            if ($(this).hasClass("bck")) {
                $("#" + id).attr("checked", false);
                $(this).removeClass("bck");
            } else {
                $("#" + id).attr("checked", true);
                $(this).addClass("bck");
            }
            if ($("#" + id).hasClass("Confirmation")) {
                if ($(this).hasClass("bck")) {
                    $("#" + id).val('1');
                } else {
                    $("#" + id).val('0');
                }
            }
        });
    });

       get_Manager_selectbyid('Dispatcher', 'cDispatcher','@Model.Dispatcherid','D');
function get_Manager_selectbyid(_val,cntrlId,memberid,type) {
            var dataString = 'optvalue='+_val+"&memberid="+memberid+"&type="+type;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_member","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#" + cntrlId).html('').removeClass("selectpicker").append($.parseHTML(data)).addClass("selectpicker").selectpicker('refresh').removeAttr('disabled');
                            }
                        });

        }

    function getClientrate(cntrl, rateCntrl) {
        var client = $("#"+cntrl).val();
        if (client != 0) {
            var _url = "@Url.Action("get_client_rate","client")"+"?id="+client;
            $.get(_url, function (data) {
                $("#"+rateCntrl).val(data);
            });
        } else {
            $("#"+rateCntrl).val("$0.00");
        }
    }


         $(document).ready(function () {
         $('.data-table').DataTable({ 'bSort': false, "pageLength": 25 });
         $(".tFileDelete").click(function (e) {
        e.preventDefault();
         var id = this.id;
          var client_id = $(this).data('jobid');
            bootbox.confirm("Are you sure?", function (result) {
                if (result) {
                    var _url = "@Url.Action("delete_file","jobs")";
                    window.location.href = _url + "?jtoken=" + client_id+"&token="+id;
                }
            });
         });  });


</script>

