﻿
@{
    ViewBag.Title ="ID: "+ Model.Job_ID;
    Layout = "~/Views/Shared/_Layout.cshtml";
    int type = ViewBag.type == null ? 1 : (int)ViewBag.type;
    int userType = ViewBag.userType == null ? 0 : (int)ViewBag.userType;
    int viewtype = ViewBag.viewtype == null ? 1 : (int)ViewBag.viewtype;
    int techreminder = 1, techreminderli = 1;
    int disreminder = 1, disreminderli = 1;
    int tabid = userType == 1 ? (int)ViewBag.tabid : 0;
    int dispatcherTabId = userType == 2 ? (int)ViewBag.tabid : 0;
    string _class = "active";
}
@model hrm.Models.job_items1
@helper getCommentByHelper(string comment, int id, int jobid, bool isread)
{
    System.Text.RegularExpressions.Regex rx = new System.Text.RegularExpressions.Regex("<[^>]*>");
    if (!string.IsNullOrEmpty(comment))
    {
        var _oldvalue = comment;//orignal value with html
        var _newvalue = comment;//removing html
        _newvalue = rx.Replace(_oldvalue, "");//html removed
        var text = _newvalue.Count() > 100 ? _newvalue.Substring(0, 100) : _newvalue;// substring
        var text1 = _newvalue.Count() > 100 ? _newvalue.Substring(100) : _newvalue;// substring
        comment = comment.Replace(_newvalue, text);
        comment = rx.Replace(comment, "");//html removed
        _oldvalue = _oldvalue.Replace(_newvalue, text1);
        if (_newvalue.Count() > 100)
        {
            <span class="parentcomment @(isread ? "" : "unread unread2")" data-id="@id" data-jobid="@jobid">@Html.Raw(comment)</span>
            <span class="childcommentcomment hide @(isread ? "" : "unread unread2")" data-id="@id" data-jobid="@jobid">@Html.Raw(_oldvalue)</span>
        }
        else
        {
            <span class="parentcomment @(isread ? "" : "unread unread2")" data-id="@id" data-jobid="@jobid">@Html.Raw(comment)</span>
            <span class="childcommentcomment hide @(isread ? "" : "unread unread2")" data-id="@id" data-jobid="@jobid"></span>

        }
    }
    else
    {

    }

}
<style>
    .col-lg-8 {
        padding-left: 0px !important;
    }

    .col-lg-4 {
        padding-right: 8px !important;
    }

    input[type=checkbox], input[type=radio] {
        margin: 0px 5px 0 !important;
    }

    .pnl1 {
        padding-bottom: 15px !important;
    }

    .dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
        color: #495057 !important;
    }

    .pnl1 {
        padding-bottom: 10px !important;
        background: #f5f5f5 !important;
        padding-top: 10px !important;
        margin-bottom: 11px !important;
        font-weight: 100 !important;
        font-size: 14px !important;
    }

    .multiselect .caret {
        right: 11px !important;
    }

    .bootstrap-select.btn-group .dropdown-toggle .filter-option {
        font-weight: 500 !important;
    }


    .ml16 {
        margin-left: 16px !important;
    }

    .col-md-1 {
        margin-right: 80px !important;
    }

    .left-bar-open .col-md-1 {
        margin-right: 85px !important;
    }

    .bootstrap-select.btn-group .dropdown-toggle .caret {
        right: 9px !important;
    }

    label {
        font-weight: 200 !important
    }

    .reminders .form-control .dropdown-toggle, .reminders .btn-group .dropdown-toggle {
        width: 160px !important;
    }

    .addbutton, .addbutton:hover {
        background: transparent !important;
        border: 0px !important;
        font-size: 13px !important;
        padding-top: 1px !important;
    }



    .btn-group .multiselect {
        padding-left: 10px !important;
        text-align: left;
        padding-bottom: 8px;
        padding-top: 10px;
    }

    .multiselect-container > li > a > label {
        padding: 10px 15px 18px 40px !important;
    }

        .multiselect-container > li > a > label > input[type=checkbox] {
            margin-top: 3px !important;
            margin-right: 10px !important;
            margin-left: -27px !important;
            height: 11px !important;
        }

    .multiselect .caret {
        right: 12px !important;
    }

    .bootstrap-select.btn-group .dropdown-toggle .filter-option {
        font-weight: 500 !important;
    }

    .mt16 {
        margin-top: 16px !important;
    }

    .dinformation .multiselect-container {
        max-height: calc(97vh - 65vh) !important;
        overflow-y: auto !important;
    }

    .information .multiselect-container {
        max-height: calc(101vh - 52vh) !important;
        overflow-y: auto !important;
    }

    
    .pl-0 {
        padding-left: 0px !important;
    }

    .pac-container {
        z-index: 10000 !important;
    }

    .mt9 {
        margin-top: 9px !important;
    }

    .labelbox {
        display: block;
        padding-left: 15px;
        text-indent: -15px;
    }

    .closebox {
        float: right;
        font-size: 26px;
        font-weight: 500;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        opacity: 0.6;
        border-radius: 29px;
        width: 44px;
        padding: 5px !important;
        border: 1px solid #fff !important;
    }

    .attchment .dropdown-menu {
        min-width: 100% !important;
    }

    .information .dropdown-menu {
        min-width: 100% !important;
    }
    .type .multiselect-container {
        min-width: 100% !important;
    }

    .box-inner > div > .form-group > label > span {
        text-transform: none !important;
    }

    .box-inner {
        width: 350px;
        padding: 10px;
    }

    .box {
        float: right;
        overflow: hidden;
        background: #fff;
    }

    .mainbox {
        position: absolute;
        top: 62px;
        z-index: 99999999;
        right: 1px;
        box-shadow: 1px 11px 13px #708090;
        height: 93vh;
    }

    .closebox:hover {
        color: #626262 !important;
        background-color: #fff !important;
        border: 1px solid #eee !important;
    }

    .mrgb16 {
        margin-bottom: -16px !important;
    }

    .p-20 {
        padding-bottom: 0px !important;
    }

    .round label {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 50%;
        cursor: pointer;
        height: 17px;
        left: 1px;
        position: absolute;
        top: 5px;
        width: 17px;
    }

    .round {
        position: relative;
        padding-bottom: 17px;
        padding-top: 2px;
    }



        .round label:after {
            border: 2px solid #fff;
            border-top: none;
            border-right: none;
            content: "";
            height: 6px;
            left: 4px;
            opacity: 0;
            position: absolute;
            top: 5px;
            transform: rotate(-45deg);
            width: 12px;
        }

    .bcklabel {
        font-size: 14px !important;
        padding-top: 0px;
    }

    .hdr {
        background: #F7F8FA;
        color: black;
        margin-bottom: 10px;
        border: 1px solid rgba(230, 230, 230, 0.7);
    }



    .round input[type="checkbox"] {
        visibility: hidden;
    }

        .round input[type="checkbox"]:checked + label {
            background-color: var(--blue);
            border-color: var(--blue);
        }

    .bck {
        background-color: var(--blue) !important;
        border-color: var(--blue) !important;
    }

        .bck:after {
            border: 2px solid #fff !important;
            border-top: none !important;
            border-right: none !important;
            content: "" !important;
            height: 6px !important;
            left: 3px !important;
            opacity: 1 !important;
            position: absolute !important;
            top: 3px !important;
            transform: rotate(-45deg) !important;
            width: 10px !important;
        }

    .round input[type="checkbox"]:checked + label:after {
        opacity: 1;
    }

    .box-inner .round input[type=checkbox], input[type=radio], .Confirmationbox input[type=checkbox], input[type=radio] {
        margin: 4px 4px 0 !important;
    }

    .box-inner .customwidth .multiselect {
        width: 301px !important;
    }
    .customhrjob {
        margin-top: 0px !important;
        margin-bottom: 20px !important;
    }

    .pl-20 {
        padding-left: 20px !important;
    }
</style>
<div class="p-10">
    @*<h2 class="page-title">Manage Job
        </h2>*@
</div>
<div class="p-30 p-t-none p-b-100">
    @if (!string.IsNullOrEmpty(Model.error_text))
    {
        <span id="alert" style="display:none;" data-class="@Model.alertclass" data-text="@Model.error_text"></span>
    }
    @if (!string.IsNullOrEmpty(Model.DeclineAlert))
    {
        <span id="alert" style="display:none;" data-class="sucess" data-text="@Model.DeclineAlert"></span> 
    }
    <div class="box mainbox" style="display: none;" id="AddReminderSlide">
        @using (Html.BeginForm("reminder", "jobs", FormMethod.Post, new { @id = "reminderForm", @enctype = "multipart/form-data" }))
        {<input type="hidden" id="usertype" name="usertype" value="1" />
            <input type="hidden" value="@Model.token" name="jobtoken" />
            <div class="box-inner">
                <div class="col-md-12">
                    <h3 class="pull-left panel-title" style="padding-left: 0px !important;    padding-top: 10px;">Add <span id="spanremindertype"></span> Reminder</h3>
                    <button type="button" class="close closebox" aria-label="Close" autocomplete="random"><span aria-hidden="true">×</span></button>
                </div>
                <div class="clearfix"></div>
                <hr class="mt9" />
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="form-group">
                        <select class="form-control selectpicker width100" name="repeattype">
                            <option value="1">Does not repeat </option>
                            <option value="2">Repeat</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <select class="form-control selectpicker width100" name="reapetdays">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <select class="form-control selectpicker width100" name="repeatid" id="repeatid">
                            <option value="0">Calender setting</option>
                            <option value="1">Hour</option>
                            <option value="2">Day</option>
                            <option value="3">Week</option>
                            <option value="4">Month</option>
                        </select>
                    </div>
                </div>
                <div class="clearfix"></div>             <div class="col-md-12">
                    <div class="form-group">
                        <select class="form-control  customdropdown Attachment width100" multiple="multiple" name="Attachment" id="Attachment">
                            <option value="1">Nav Link</option>
                            <option value="2">Document</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <select class="form-control width100  info" multiple="multiple" name="info" id="info">
                            <option value="1">ID</option>
                            <option value="2">Title</option>
                            <option value="3">Date/Time</option>
                            <option value="4">Address</option>
                            <option value="5">Tools</option>
                            <option value="6">Contact</option>
                            <option value="7">Phone</option>
                            <option value="8">Instruction</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <select class="form-control width100  type" multiple="multiple" name="type" id="type">
                            <option value="1">Email</option>
                            <option value="2">Text</option>
                        </select>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="form-group round">
                        <input class="inputbox3 Confirmation" type="checkbox" checked id="Confirmation" value="1" name="Confirmation" /> Confirmation
                        <label for="checkbox" class="cuschk Confirmation bck" data-id="Confirmation"></label>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12" style="position:relative;margin-top:20%;">
                </div>
                <div class="clearfix"></div>
                <hr />
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <button type="submit" id="submit-file" class="btn btn-success"><i class="fas fa-save"></i> Save</button>
                </div>
            </div>
        }
    </div>
    <div class="row">

        <div class="col-lg-4">
            <div class="panel">
                <div class="panel-heading formpanel-heading">
                    <div class="col-md-6 col-sm-6">
                        <h3 class="panel-title">
                            Job Info
                        </h3>
                    </div>
                    <div class="col-md-6 col-sm-6 topbuttondiv">

                        <a class="btn btn-success btn-sm pull-right" href="@Url.Action("edit","jobs",new {token=Model.token })">
                            <i class="fa fa-edit"></i> Edit Job
                        </a>
                    </div>
                </div>
                <div class="panel-body">

                    @using (Html.BeginForm("edit", "jobs", FormMethod.Post, new { @id = "frmsendsms", @enctype = "multipart/form-data" }))
                    {
                        <div class="form-group">
                            <label>Project</label>
                            <select class="width100  form-control" data-live-search="true" name="projectId" id="projectId">
                                <option value="0">Select</option>
                            </select>
                        </div>
                        <div class="form-group" style="display:none;">
                            <label>Date</label>
                            @Html.TextBoxFor(a => a.sdate, new { @class = "form-control", @readonly = "" })
                            @Html.HiddenFor(a => a.JobID)
                        </div>

                        <div class="form-group" style="display:none;">
                            <label>Start Time</label>
                            @Html.TextBoxFor(a => a.stime, new { @class = "form-control", @readonly = "" })

                        </div>
                        <div class="form-group" style="display:none;">
                            <label>End Time</label>
                            @Html.TextBoxFor(a => a.etime, new { @class = "form-control", @readonly = "" })
                        </div>
                        <div class="form-group">
                            <label>Client</label>
                            <select class=" width100 form-control " data-live-search="true" id="client" name="client_id">
                                <option value="0">Client</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Rate</label>
                            @Html.TextBoxFor(a => a.Client_rate, new { @class = "form-control ratetext", id = "c_techrate" })
                        </div>

                        <div class="form-group">
                            <label>Client Manager</label>
                            <select class="width100 form-control" data-live-search="true" name="mgr_id" id="Project_manager">
                                <option value="0">Manager</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Project Manager</label>
                            <select class=" width100 form-control" data-live-search="true" name="mgr_id1" id="Project_manager1">
                                <option value="0">Manager</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Technician</label>
                            <select class=" width100 form-control " data-live-search="true" name="Technicianid" onchange="getrateTechnician()" id="Technician">
                                <option value="0">Technician</option>
                            </select>

                        </div>
                        <div class="form-group">
                            <label>Pay</label>
                            @Html.TextBoxFor(a => a.pay_rate, new { @class = "form-control ratetext", id = "techrate" })
                        </div>
                        <div class="form-group">
                            <label>Dispatcher</label>
                            <select class=" width100 form-control " data-live-search="true" name="Dispatcherid" id="Dispatcher">
                                <option value="0">Dispatcher</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Expense</label>
                            @Html.TextBoxFor(a => a.Expense, new { @class = "form-control ratetext" })
                        </div>
                        <div class="form-group m-none">
                            <label for="e20">Status</label>
                            <select name="Status" class="form-control selectpicker width100">
                                <option @(Model.Status == 1 ? "selected" : "") value="1">New</option>
                                <option @(Model.Status == 2 ? "selected" : "") value="2">Dispatched</option>
                                <option @(Model.Status == 3 ? "selected" : "") value="3">In progress</option>
                                <option @(Model.Status == 4 ? "selected" : "") value="4">Completed</option>
                                <option @(Model.Status == 6 ? "selected" : "") value="6">Under review</option>
                                <option @(Model.Status == 5 ? "selected" : "") value="5">Approved</option>
                                <option @(Model.Status == 7 ? "selected" : "") value="7">Rescheduled</option>
                                <option @(Model.Status == 8 ? "selected" : "") value="8">Cancelled</option>
                            </select>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-success btn-sm pull-right"><i class="fa fa-save"></i> Update</button>

                    }
                </div>
            </div>
        </div>

        <div class="col-lg-8">

            <div class="panel">
                <div class="panel-heading formpanel-heading">
                    <div class="col-md-6 col-sm-6">
                        <h3 class="panel-title">
                            Job Management
                        </h3>
                    </div>
                    <div class="col-md-6 col-sm-6 topbuttondiv">
                        <a class="btn btn-success btn-sm pull-right" href="@Url.Action("index","jobs",new {type=viewtype })">
                            <i class="fa fa-arrow-left"></i> Job List
                        </a>
                        @if (!string.IsNullOrEmpty(Model.projectToken))
                        {
                            <a style="margin-right: 11px;" class="btn btn-success btn-sm pull-right" href="@Url.Action("view", "project", new { token = Model.projectToken,tabid=6 })">
                                <i class="fa fa-eye"></i> View Project
                            </a>
                        }
                    </div>

                </div>

                <div class="p-30 p-t-none p-b-none">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="@(type==1?"active":"")"><a href="#task_details" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">Detail</a></li>
                                <li role="presentation" class="@(type==2?"active":"")"><a href="#task_discussion" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">Discussion <span style="display:@(Model.unreadcount>0?"inline-block":"none")" id='commentbadge_@Model.JobID' data-id='@Model.JobID' class="badge badge-danger notification"> @Model.unreadcount</span></a></li>
                                <li role="presentation" class="@(type==3?"active":"")"><a href="#task_files" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false">File</a></li>
                                <li role="presentation" class="@(type==5?"active":"")"><a href="#task_tools" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false">Tool</a></li>
                                <li role="presentation" class="@(type==6?"active":"")"><a href="#task_skills" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false">Skill</a></li>
                                <li role="presentation" class="@(type==4?"active":"")"><a href="#task_reminders" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false">Reminder</a></li>
                            </ul>
                            <div class="tab-content p-20">
                                <div role="tabpanel" class="tab-pane @(type==1?"active":"")" id="task_details">
                                    <table class="table table-condensed-slim mrgb16">
                                        <thead>
                                            <tr>
                                                <th class="detaillabel">Job ID</th>
                                                <th class="detaillabel">Address</th>
                                                <th class="detaillabel">Job Title</th>

                                                <th class="detaillabel">Date</th>
                                                <th class="detaillabel">Start Time</th>
                                                <th class="detaillabel">End Time</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>@Model.Job_ID</td>
                                                <td>@Html.Raw(Model.MapValidateAddress)</td>
                                                <td>@Model.Title</td>
                                                <td>@Model.sdate</td>
                                                <td>@Model.stime</td>
                                                <td>@Model.etime</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <hr />

                                    <div class="form-group pl-20 ">
                                        <label class="detaillabel">Job Description</label>
                                        <p class="graytext">@(string.IsNullOrEmpty(Model.description) ? Html.Raw("<p></p>") : Html.Raw(Model.description))</p>
                                    </div>

                                    <hr class="customhrjob" />
                                    <div class="form-group pl-20 ">
                                        <label class="detaillabel">Special insturction</label>
                                        <p class="graytext"> @(string.IsNullOrEmpty(Model.Instruction) ? Html.Raw("<p></p>") : Html.Raw(Model.Instruction))</p>
                                    </div>

                                    <hr /> <div class="form-group col-md-3">
                                        <label class="detaillabel">Contact</label>
                                        <p class="graytext"> @Model.Contact</p>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="detaillabel">Phone</label>
                                        <p class="graytext"> @Model.Phone</p>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="detaillabel">Technician</label>
                                        <p class="graytext"> @Model.Technician</p>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="detaillabel">Dispatcher</label>
                                        <p class="graytext"> @Model.Dispatcher</p>
                                    </div>


                                </div>
                                <div role="tabpanel" class="tab-pane @(type==2?"active":"")" id="task_discussion">
                                    @using (Html.BeginForm("update", "jobs", FormMethod.Post, new { @id = "frmsendsms" }))
                                    {
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="detaillabel">Leave Comment</label>
                                                @Html.TextAreaFor(a => a.Comment, new { @class = "textarea-wysihtml5 form-control", @rows = "7", @required = "required" })
                                                <input type="hidden" name="type" value="2" />
                                                @Html.HiddenFor(a => a.JobID)
                                            </div>


                                            <div class="col-md-12">
                                                <button type="submit" value="Post" class="btn btn-success pull-right"><i class="fa fa-send"></i> Post</button>

                                            </div>
                                        </div>

                                    }
                                    <br>
                                    <hr>

                                    <table class="table data-table table-hover table-ultra-responsive dataTable no-footer" id="dt2">
                                        <thead>
                                            <tr>
                                                <th style="width: 25%;">User</th>
                                                <th style="width: 55%;">Comment</th>
                                                <th style="width: 20%;">Last Update</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model._Comments)
                                            {
                                                <tr>
                                                    <td nowrap style="width: 25%;">@item.createdby</td>
                                                    <td style="width: 55%;">@getCommentByHelper(item.Comment, item.Commentid, Model.JobID, item.isread)</td>
                                                    <td nowrap style="width: 20%;">@item.CreatedDate</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                </div>
                                <div role="tabpanel" class="tab-pane @(type==3?"active":"")" id="task_files">

                                    @using (Html.BeginForm("update", "jobs", FormMethod.Post, new { @id = "frmsendsms", @enctype = "multipart/form-data" }))
                                    {
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="detaillabel">File Title</label>
                                                <input type="text" required name="file_title" class="form-control">
                                                <input type="hidden" name="type" value="3" />
                                                @Html.HiddenFor(a => a.JobID)
                                            </div>

                                            <div class="form-group">

                                                <label class="detaillabel">Select File</label>
                                                <div class="input-group input-group-file">
                                                    <span class="input-group-btn">
                                                        <span class="btn btn-primary btn-file">
                                                            Browse <input type="file" class="form-control" required name="file">
                                                        </span>
                                                    </span>
                                                    <input type="text" class="form-control" readonly="">
                                                </div>
                                            </div>


                                            <div class="col-md-12">

                                                <button type="submit" class="btn btn-success pull-right"> <i class="fas fa-file-import"></i> Upload</button>


                                            </div>
                                        </div>

                                    }
                                    <br>
                                    <hr>

                                    <table class="table data-table table-hover nowrap table-ultra-responsive dataTable no-footer">
                                        <thead>
                                            <tr>
                                                <th style="width: 20%;">File</th>
                                                <th style="width: 10%;">Size</th>
                                                <th style="width: 20%;">Date</th>
                                                <th style="width: 20%;">Upload By</th>
                                                <th style="width: 30%;">Download</th>
                                                <th style="width: 30%;">Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model._files)
                                            {
                                                <tr>
                                                    <td style="width: 25%;">@item.FileTitle</td>
                                                    <td style="width: 15%;">@item.Size</td>
                                                    <td style="width: 20%;">@item.CreatedDate</td>
                                                    <td style="width: 25%;">@item.CreatedBy</td>
                                                    <td style="width: 40%;">
                                                        <a href="@item.Url" download target="_blank" class="btn btn-success btn-xs pull-left">
                                                            <i class="fa fa-download"></i>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="#" class="btn btn-danger btn-xs tFileDelete" data-jobid="@Model.token" id="@item.FileToken"><i class="fa fa-trash"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                </div>

                                <div role="tabpanel" class="tab-pane @(type==5?"active":"")" id="task_tools">
                                    @using (Html.BeginForm("edit_tools", "jobs", FormMethod.Post, new
                                    {
                                        @id = "toolsform",
                                        @enctype = "multipart/form-data"
                                    }))
                                    {
                                        int cnt = 1;
                                        @Html.HiddenFor(a => a.token, new { @id = "toolsteken" })
                                        <div class="col-md-12" style="max-height: 700px;overflow-y: auto;">
                                            @foreach (var item in Model._tools)
                                            {<div class="form-group col-md-3 round">
                                                    @if (Model.tools != null && Model.tools.Contains(item.ToolId))
                                                    {
                                                        <input type="checkbox" checked="checked" name="tools" id="t_@item.ToolId" value="@item.ToolId" />
                                                        <span data-toggle="tooltip" data-placement="right" title="@item.Name">@(item.Name.Count() > 10 ? item.Name.Substring(0, 9) + ".." : item.Name)</span>
                                                        <label for="checkbox" class="cuschk bck" data-id="t_@item.ToolId"></label>
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" name="tools" id="t_@item.ToolId" value="@item.ToolId" />
                                                        <span data-toggle="tooltip" data-placement="right" title="@item.Name">@(item.Name.Count() > 10 ? item.Name.Substring(0, 9) + ".." : item.Name)</span>
                                                        <label for="checkbox" class="cuschk" data-id="t_@item.ToolId"></label>
                                                    }
                                                </div>

                                                if (cnt >= 4)
                                                {<div class="clearfix"></div>
                                                    cnt = 0;
                                                }
                                                cnt = cnt + 1;
                                            }
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="col-md-12" style="margin-top:20px;margin-bottom:20px;">
                                            <hr />
                                            <button type="submit" class="btn btn-success btn-sm pull-right">
                                                <i class="fa fa-save"></i> Update
                                            </button>
                                        </div>
                                        <div class="clearfix"></div>
                                    }
                                </div>
                                <div role="tabpanel" class="tab-pane @(type==6?"active":"")" id="task_skills">
                                    @using (Html.BeginForm("edit_skills", "jobs", FormMethod.Post, new
                                    {
                                        @id = "skillform",
                                        @enctype = "multipart/form-data"
                                    }))
                                    {
                                        @Html.HiddenFor(a => a.token, new { @id = "skilltoeken" })
                                        int cnt = 1;
                                        <div class="col-md-12" style="max-height: 700px;overflow-y: auto;">
                                            @foreach (var item in Model._skills)
                                            {<div class="form-group col-md-3 round">
                                                    @if (Model.skills != null && Model.skills.Contains(item.SkillId))
                                                    {
                                                        <input type="checkbox" checked="checked" name="skills" id="s_@item.SkillId" value="@item.SkillId" />
                                                        <span data-toggle="tooltip" data-placement="right" title="@item.Name">@(item.Name.Count() > 10 ? item.Name.Substring(0, 9) + ".." : item.Name)</span>
                                                        <label for="checkbox" class="cuschk bck" data-id="s_@item.SkillId"></label>
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" name="skills" id="s_@item.SkillId" value="@item.SkillId" />
                                                        <span data-toggle="tooltip" data-placement="right" title="@item.Name">@(item.Name.Count() > 10 ? item.Name.Substring(0, 9) + ".." : item.Name)</span>
                                                        <label for="checkbox" class="cuschk" data-id="s_@item.SkillId"></label>
                                                    }
                                                </div>

                                                if (cnt >= 4)
                                                {<div class="clearfix"></div>
                                                    cnt = 0;
                                                }
                                                cnt = cnt + 1;
                                            }
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="col-md-12" style="margin-top:20px;margin-bottom:20px;">
                                            <hr />
                                            <button type="submit" class="btn btn-success btn-sm pull-right">
                                                <i class="fa fa-save"></i> Update
                                            </button>
                                        </div>
                                        <div class="clearfix"></div>
                                    }
                                </div>

                                <div role="tabpanel" class="tab-pane @(type==4?"active":"")" id="task_reminders">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h3 class="panel-title pnl1">
                                                Technician
                                                <button type="submit" onclick="addReminder('1')" class="btn btn-default btn-sm pull-right addbutton">
                                                    <i class="fa fa-plus"></i> Add Reminder
                                                </button>
                                            </h3>
                                        </div>
                                        <div class="col-lg-12">
                                            <ul class="nav nav-tabs" role="tablist">
                                                @foreach (var item in Model.techreminder)
                                                {

                                                    if (techreminderli == 1 && tabid == 0)
                                                    {
                                                        _class = "active";
                                                    }
                                                    else if (tabid != 0 && tabid == item._reminderId)
                                                    {
                                                        _class = "active";
                                                    }
                                                    else
                                                    {
                                                        _class = "";
                                                    }

                                                    <li role="presentation" class="@_class"><a href="#reminder_@techreminderli" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">@("Reminder "+ techreminderli)</a></li>
                                                    techreminderli = techreminderli + 1;
                                                }
                                            </ul>
                                            <div class="tab-content p-20 pl-0">
                                                @foreach (var item in Model.techreminder)
                                                {

                                                    if (techreminder == 1 && tabid == 0)
                                                    {
                                                        _class = "active";
                                                    }
                                                    else if (techreminder != 0 && tabid == item._reminderId)
                                                    {
                                                        _class = "active";
                                                    }
                                                    else
                                                    {
                                                        _class = "";
                                                    }
                                                    <div role="tabpanel" class="tab-pane @_class reminders" id="reminder_@techreminder">
                                                        @using (Html.BeginForm("editreminder", "jobs", FormMethod.Post))
                                                        {
                                                            <input type="hidden" name="token" value="@item.token" />
                                                            <input type="hidden" name="usertype" value="1" />
                                                            <input type="hidden" name="jobtoken" value="@Model.token" />
                                                            <div class="row">
                                                                <div class="col-md-1">
                                                                    <select class="form-control selectpicker">
                                                                        <option value="1" @(item.repeattype == 1 ? "selected" : "")>Does not repeat </option>
                                                                        <option value="2" @(item.repeattype == 2 ? "selected" : "")>Repeat</option>

                                                                    </select>
                                                                </div>
                                                                <div class="col-md-1">
                                                                    <select class="form-control selectpicker">
                                                                        <option value="1" @(item.reapetdays == 1 ? "selected" : "")>1</option>
                                                                        <option value="2" @(item.reapetdays == 2 ? "selected" : "")>2</option>
                                                                        <option value="3" @(item.reapetdays == 3 ? "selected" : "")>3</option>
                                                                        <option value="4" @(item.reapetdays == 4 ? "selected" : "")>4</option>
                                                                        <option value="5" @(item.reapetdays == 5 ? "selected" : "")>5</option>
                                                                        <option value="6" @(item.reapetdays == 6 ? "selected" : "")>6</option>
                                                                        <option value="7" @(item.reapetdays == 7 ? "selected" : "")>7</option>
                                                                        <option value="8" @(item.reapetdays == 8 ? "selected" : "")>8</option>
                                                                        <option value="9" @(item.reapetdays == 9 ? "selected" : "")>9</option>
                                                                        <option value="10" @(item.reapetdays == 10 ? "selected" : "")>10</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-md-1">
                                                                    <select class="form-control selectpicker">
                                                                        <option>Calender setting </option>
                                                                        <option value="1" @(item.repeatid == 1 ? "selected" : "")>Hour</option>
                                                                        <option value="2" @(item.repeatid == 2 ? "selected" : "")>Day</option>
                                                                        <option value="3" @(item.repeatid == 3 ? "selected" : "")>Week</option>
                                                                        <option value="4" @(item.repeatid == 4 ? "selected" : "")>Month</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <div class="row mt16">
                                                                <div class="col-md-1">
                                                                    <select class="form-control  customdropdown Attachment" multiple="multiple">
                                                                        <option @(item.Attachment.Contains(1) ? "selected" : "") value="1">Nav Link</option>
                                                                        <option @(item.Attachment.Contains(2) ? "selected" : "") value="2">Document</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-md-1">
                                                                    <select class="form-control info" multiple="multiple">
                                                                        <option @(item.info.Contains(1) ? "selected" : "") value="1">ID</option>
                                                                        <option @(item.info.Contains(2) ? "selected" : "") value="2">Title</option>
                                                                        <option @(item.info.Contains(3) ? "selected" : "") value="3">Date/Time</option>
                                                                        <option @(item.info.Contains(4) ? "selected" : "") value="4">Address</option>
                                                                        <option @(item.info.Contains(5) ? "selected" : "") value="5">Tools</option>
                                                                        <option @(item.info.Contains(6) ? "selected" : "") value="6">Contact</option>
                                                                        <option @(item.info.Contains(7) ? "selected" : "") value="7">Phone</option>
                                                                        <option @(item.info.Contains(8) ? "selected" : "") value="8">Instruction</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-md-1">
                                                                    <select class="form-control   type" multiple="multiple">
                                                                        <option @(item.type.Contains(1) ? "selected" : "") value="1">Email</option>
                                                                        <option @(item.type.Contains(2) ? "selected" : "") value="2">Text</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group round Confirmationbox" style="margin-top:20px;">
                                                                        <input class="inputbox3 Confirmation" type="checkbox" @(item.Confirmation == 1 ? "checked" : "") id="TConfirmation_@disreminder" value="@item.Confirmation" name="Confirmation" /> Confirmation
                                                                        <label for="checkbox" class="cuschk Confirmation @(item.Confirmation==1 ? "bck" : "") " data-id="TConfirmation_@disreminder"></label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <hr />
                                                            <div class="clearfix"></div>
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <button type="button" onclick="deleteReminder('@Model.token','@item.token')" name="button" value="delete" class="btn btn-danger btn-sm pull-left ">
                                                                        <i class="fa fa-recycle"></i> Delete
                                                                    </button>
                                                                    <button type="submit" name="button" value="update" id="button" class="btn btn-primary btn-sm pull-left ml16">
                                                                        <i class="fa fa-save"></i> Update
                                                                    </button>
                                                                </div>
                                                            </div>

                                                            <div class="clearfix"></div>
                                                        }
                                                    </div>
                                                    techreminder = techreminder + 1;
                                                }
                                            </div>
                                        </div>
                                        <hr />
                                    </div>

                                    <div class="row">

                                        <div class="clearfix"></div>
                                        <div class="col-lg-12">
                                            <hr />  <div class="clearfix"></div>
                                            <h3 class="panel-title pnl1">
                                                Dispatcher
                                                <button type="submit" onclick="addReminder('2')" class="btn btn-default btn-sm pull-right addbutton">
                                                    <i class="fa fa-plus"></i> Add Reminder
                                                </button>
                                            </h3>
                                        </div>
                                        <div class="col-lg-12">
                                            <ul class="nav nav-tabs" role="tablist">
                                                @foreach (var item in Model.dispatcherreminder)
                                                {

                                                    if (disreminderli == 1 && dispatcherTabId == 0)
                                                    {
                                                        _class = "active";
                                                    }
                                                    else if (dispatcherTabId != 0 && dispatcherTabId == item._reminderId)
                                                    {
                                                        _class = "active";
                                                    }
                                                    else
                                                    {
                                                        _class = "";
                                                    }
                                                    <li role="presentation" class="@_class"><a href="#dreminder_@disreminderli" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">@("Reminder "+ disreminderli)</a></li>
                                                    disreminderli = disreminderli + 1;
                                                }
                                            </ul>
                                            <div class="tab-content p-20 pl-0">
                                                @foreach (var item in Model.dispatcherreminder)
                                                {
                                                    if (disreminder == 1 && dispatcherTabId == 0)
                                                    {
                                                        _class = "active";
                                                    }
                                                    else if (disreminder != 0 && dispatcherTabId == item._reminderId)
                                                    {
                                                        _class = "active";
                                                    }
                                                    else
                                                    {
                                                        _class = "";
                                                    }


                                                    <div role="tabpanel" class="tab-pane @_class reminders" id="dreminder_@disreminder">
                                                        @using (Html.BeginForm("editreminder", "jobs", FormMethod.Post))
                                                        {
                                                            <input type="hidden" name="token" value="@item.token" />
                                                            <input type="hidden" name="usertype" value="1" />
                                                            <input type="hidden" name="jobtoken" value="@Model.token" />
                                                            <div class="row">
                                                                <div class="col-md-1">
                                                                    <select class="form-control selectpicker">
                                                                        <option value="1" @(item.repeattype == 1 ? "selected" : "")>Does not repeat </option>
                                                                        <option value="2" @(item.repeattype == 2 ? "selected" : "")>Repeat</option>

                                                                    </select>
                                                                </div>
                                                                <div class="col-md-1">
                                                                    <select class="form-control selectpicker">
                                                                        <option value="1" @(item.reapetdays == 1 ? "selected" : "")>1</option>
                                                                        <option value="2" @(item.reapetdays == 2 ? "selected" : "")>2</option>
                                                                        <option value="4" @(item.reapetdays == 4 ? "selected" : "")>4</option>
                                                                        <option value="5" @(item.reapetdays == 5 ? "selected" : "")>5</option>
                                                                        <option value="6" @(item.reapetdays == 6 ? "selected" : "")>6</option>
                                                                        <option value="7" @(item.reapetdays == 7 ? "selected" : "")>7</option>
                                                                        <option value="8" @(item.reapetdays == 8 ? "selected" : "")>8</option>
                                                                        <option value="9" @(item.reapetdays == 9 ? "selected" : "")>9</option>
                                                                        <option value="10" @(item.reapetdays == 10 ? "selected" : "")>10</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-md-1">
                                                                    <select class="form-control selectpicker">
                                                                        <option>Calender setting </option>
                                                                        <option value="1" @(item.repeatid == 1 ? "selected" : "")>Hour</option>
                                                                        <option value="2" @(item.repeatid == 2 ? "selected" : "")>Day</option>
                                                                        <option value="3" @(item.repeatid == 3 ? "selected" : "")>Week</option>
                                                                        <option value="4" @(item.repeatid == 4 ? "selected" : "")>Month</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <div class="row mt16">
                                                                <div class="col-md-1">
                                                                    <select class="form-control  customdropdown Attachment" multiple="multiple">
                                                                        <option @(item.Attachment.Contains(1) ? "selected" : "") value="1">Nav Link</option>
                                                                        <option @(item.Attachment.Contains(2) ? "selected" : "") value="2">Document</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-md-1">
                                                                    <select class="form-control dinfo" multiple="multiple">
                                                                        <option @(item.info.Contains(1) ? "selected" : "") value="1">ID</option>
                                                                        <option @(item.info.Contains(2) ? "selected" : "") value="2">Title</option>
                                                                        <option @(item.info.Contains(3) ? "selected" : "") value="3">Date/Time</option>
                                                                        <option @(item.info.Contains(4) ? "selected" : "") value="4">Address</option>
                                                                        <option @(item.info.Contains(5) ? "selected" : "") value="5">Tools</option>
                                                                        <option @(item.info.Contains(6) ? "selected" : "") value="6">Contact</option>
                                                                        <option @(item.info.Contains(7) ? "selected" : "") value="7">Phone</option>
                                                                        <option @(item.info.Contains(8) ? "selected" : "") value="8">Instruction</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-md-1">
                                                                    <select class="form-control   type" name="type" multiple="multiple">
                                                                        <option @(item.type.Contains(1) ? "selected" : "") value="1">Email</option>
                                                                        <option @(item.type.Contains(2) ? "selected" : "") value="2">Text</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group round Confirmationbox" style="margin-top:20px;">
                                                                        <input class="inputbox3 Confirmation" type="checkbox" @(item.Confirmation == 1 ? "checked" : "") id="DConfirmation_@disreminder" value="@item.Confirmation" name="Confirmation" /> Confirmation
                                                                        <label for="checkbox" class="cuschk Confirmation @(item.Confirmation==1 ? "bck" : "") " data-id="DConfirmation_@disreminder"></label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <hr />
                                                            <div class="clearfix"></div>
                                                            <div class="row" style="margin-bottom:20px;">
                                                                <div class="col-md-4">
                                                                    <button type="button" onclick="deleteReminder('@Model.token','@item.token')" name="button" value="delete" class="btn btn-danger btn-sm pull-left ">
                                                                        <i class="fa fa-recycle"></i> Delete
                                                                    </button>
                                                                    <button type="submit" name="button" value="update" id="button" class="btn btn-primary btn-sm pull-left ml16">
                                                                        <i class="fa fa-save"></i> Update
                                                                    </button>
                                                                </div>
                                                            </div>

                                                            <div class="clearfix"></div>
                                                        }

                                                    </div>
                                                    disreminder = disreminder + 1;
                                                }
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<script>
    function deleteReminder(jobToken, token) {
        bootbox.confirm("Are you sure?", function (result) {
            if (result) {
                var _url = "/jobs/deleteReminder";
                window.location.href = _url + "?token=" + token + "&jobtoken=" + jobToken;
            }
        });
    }
    $(document).ready(function () {
        $(".cuschk").on("click", function () {
            var id = $(this).data("id");
            if ($(this).hasClass("bck")) {
                $("#" + id).attr("checked", false);
                $(this).removeClass("bck");
            } else {
                $("#" + id).attr("checked", true);
                $(this).addClass("bck");
            }
            if ($("#" + id).hasClass("Confirmation")) {
                if ($(this).hasClass("bck")) {
                    $("#" + id).val('1');
                } else {
                    $("#" + id).val('0');
                }
            }
        });
    });

    function addReminder(_value) {
        $("#backdrop").css("display", "block");
        $(".box").animate({
            width: "hide"
        });
        $("#AddReminderSlide").animate({
            width: "show"
        });
        if (_value == "1") {
            $("#spanremindertype").html("Technician");
        } else {
            $("#spanremindertype").html("Dispatcher");
        }
        $("#usertype").val(_value);
    }

    $(".closebox").on("click", function (e) {
        $("#AddReminderSlide").animate({
            width: "hide"
        });
        $("#backdrop").css("display", "none");
        $("#usertype").val('1');
    });

    $("#reminderForm").on("submit", function () {
        var repeatId = $("#repeatid").val();
        var Attachment = $("#Attachment").val();
        var type = $("#type").val();
        var info = $("#info").val();
        if (repeatId == 0) {
            alertify.log('Please select calender setting (Hour,Day,Week,Month)', 'error', 5000);
            return false;
        }

        if (info == null) {
            alertify.log('Please select information', 'error', 5000);
            return false;
        }
        if (type == null) {
            alertify.log('Please select type', 'error', 5000);
            return false;
        }
        return true;
    });

    getOpenProjetList('projectId','@Model.projectId');
    $("#projectId").on("change", function () {
        var prjid = $("#projectId").val();
        if (prjid != 0) {
            var dataString = 'id=' + prjid;
            $.ajax
                ({
                    type: "POST",
                    url: '/project/GetProjectDetails',
                    data: dataString,
                    cache: false,
                    success: function (data) {
                        debugger;
                        $("#client").val(data.clientId).selectpicker('refresh');
                        $("#Project_manager").val(data.ClientManagerId).selectpicker('refresh');
                        $("#Project_manager1").val(data.projectManagerId).selectpicker('refresh');
                        if (data.clientId > 0) {
                            $("#client").val(data.clientId).attr("disabled", "disabled").selectpicker('refresh');
                        }
                        if (data.ClientManagerId > 0) {
                            $("#Project_manager").val(data.ClientManagerId).attr("disabled", "disabled").selectpicker('refresh');
                        }
                        if (data.projectManagerId > 0) {
                            $("#Project_manager1").val(data.projectManagerId).attr("disabled", "disabled").selectpicker('refresh');
                        }
                    }
                });

        }
        else {
            $("#Project_manager").removeAttr('disabled').selectpicker('refresh');
            $("#Project_manager1").removeAttr('disabled').selectpicker('refresh');
            $("#client").removeAttr('disabled').selectpicker('refresh');
        }
    });
    function getOpenProjetList(id,prjid) {
        var dataString = 'id=' + prjid;
        $.ajax
            ({
                type: "POST",
                url: '/default/getallopenproject',
                data: dataString,
                cache: false,
                success: function (data) {
                    $("#" + id).html('').removeClass("selectpicker").append($.parseHTML(data)).addClass("selectpicker").selectpicker('refresh').removeAttr('disabled');
                }
            });
    }
        function getClientrate(cntrl,rateCntrl) {
        var client = $("#"+cntrl).val();
        if (client != 0) {
            var _url = "@Url.Action("get_client_rate","client")"+"?id="+client;
            $.get(_url, function (data) {
                $("#"+rateCntrl).val(data);
            });
        } else {
            $("#"+rateCntrl).val("$0.00");
        }
    }
   function getrateTechnician() {
        var memberid = $("#Technician").val();
        if (memberid != 0) {
            var _url = "@Url.Action("get_member_rate","users")" + "?id=" + memberid;
            $.get(_url, function (data) {
                $("#techrate").val(data);
            });
        } else {
            $("#techrate").val("$1");
        }
    }
         get_Manager_selectbyid('Technician','Technician','@Model.Technicianid','T');
          get_Manager_selectbyid('Dispatcher', 'Dispatcher','@Model.Dispatcherid','D');

         function get_Manager_selectbyid(cntrl,_val,id,type) {
            var dataString = 'optvalue='+_val+"&memberid="+id+"&type="+type;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_member","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#" + cntrl).html('').removeClass("selectpicker").append($.parseHTML(data)).addClass("selectpicker").selectpicker('refresh').removeAttr('disabled');
                            }
                        });

        }

         $(document).ready(function () {
             $('.data-table').DataTable({ 'bSort': false, "pageLength": 25 ,"bFilter" : false,
"bLengthChange": false });

         $(".tFileDelete").click(function (e) {
        e.preventDefault();
         var id = this.id;
          var job_id = $(this).data('jobid');
            bootbox.confirm("Are you sure?", function (result) {
                if (result) {
                    var _url = "@Url.Action("delete_file","jobs")";
                    window.location.href = _url + "?jtoken=" + client_id+"&token="+id;
                }
            });
         });  });
         function get_client(client,clientid) {
            var dataString = 'ismulti=0&clientid='+clientid;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_clients","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#" + client).html('').removeClass("selectpicker").append($.parseHTML(data)).addClass("selectpicker").selectpicker('refresh').removeAttr('disabled');
                                if (clientid > 0 && '@Model.projectId'>0) {
                                    $("#" + client).attr("disabled", "disabled").selectpicker('refresh');
                                }
                            }
                        });

    }
    function get_mgr_byclient(mgr,mgrid,clientid) {
            var dataString = 'ismulti=0&id='+clientid+"&clientid="+mgrid;
                    $.ajax
                        ({
                            type: "POST",
                          url: '@Url.Action("get_all_manager_by_clientid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#" + mgr).html('').removeClass("selectpicker").append($.parseHTML(data)).addClass("selectpicker").selectpicker('refresh').removeAttr('disabled');
                                @*if (mgrid > 0 && '@Model.projectId'>0) {
                                     $("#" + mgr).attr("disabled", "disabled").selectpicker('refresh');
                                }*@
                            }
                        });

    }
    get_projectmgr_byclient('@Model.mgr_id1')
     function get_projectmgr_byclient(mgrid) {
            var dataString = 'ismulti=0&id='+mgrid;
                    $.ajax
                        ({
                            type: "POST",
                          url: '@Url.Action("get_all_mebertypeprojectmanager","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#Project_manager1").html('').removeClass("selectpicker").append($.parseHTML(data)).addClass("selectpicker").selectpicker('refresh').removeAttr('disabled');
                                @*if (mgrid > 0 && '@Model.projectId'>0) {
                                    $("#Project_manager1").attr("disabled", "disabled").selectpicker('refresh');
                                }*@
                            }
                        });

          }
    get_mgr_byclient('Project_manager', '@Model.mgr_id', '@Model.Client_id');
    get_client('client','@Model.Client_id');
    $("#client").change(function () {
                var id = $(this).val();
                if (id != 0) {
                    var dataString = 'id=' + id;
                    $.ajax
                        ({
                            type: "POST",
                            url: '@Url.Action("get_all_manager_by_clientid","default")',
                            data: dataString,
                            cache: false,
                            success: function (data) {
                                $("#Project_manager").html('').removeClass("selectpicker").append($.parseHTML(data)).addClass("selectpicker").selectpicker('refresh').removeAttr('disabled');
                            }
                        });
                } else {
                    $("#Project_manager").html('<option value="0">Manager</option>').removeAttr('disabled').selectpicker('refresh');


                }
                 getClientrate('client', 'c_techrate');
    });

    $(".Attachment").removeClass('selectpicker').attr("multiple", "multiple").multiselect({
        buttonContainer: '<div class="btn-group attchment customwidth" />', enableFiltering: false, buttonText: function (options, select) {
            return 'Attachment';
        },
    });

    $(".info").removeClass('selectpicker').attr("multiple", "multiple").multiselect({
        buttonContainer: '<div class="btn-group information customwidth" />', enableFiltering: false, buttonText: function (options, select) {
            return 'Information';
        },
    });
    $(".type").removeClass('selectpicker').attr("multiple", "multiple").multiselect({
        buttonContainer: '<div class="btn-group type customwidth" />', enableFiltering: false, buttonText: function (options, select) {
            return 'Type';
        },
    });

    $(".dinfo").removeClass('selectpicker').attr("multiple", "multiple").multiselect({
        buttonContainer: '<div class="btn-group dinformation" />', enableFiltering: false, buttonText: function (options, select) {
            return 'Information';
        },
    });
</script>

