﻿@{int typeid = 0;}
@model hrm.Models.UserTool
@using (Html.BeginForm("edit_tools", "users", FormMethod.Post, new { @id = "frmetools", @enctype = "multipart/form-data" }))
{
    <div class="col-md-12" style="max-height: 700px;overflow-y: auto;">
        @foreach (var item in Model.ToolList)
        {
            typeid = 0;
            <div class="clearfix">
            </div>
            <div class="col-md-12 hdr">
                <div class="form-group headingtool">
                    <label>@item.Key</label>
                    <a href="#" class=" text-gray pull-right" onclick="gettoolwindow('@item.Key')">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                @foreach (var item1 in Model.ToolList[item.Key].Where(a => a.Name != "").OrderBy(a => a.Name))
                {
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="form-group round f11">
                            @if (Model.Tools != null && Model.Tools.Contains(item1.ToolId))
                            {
                                <input style="width:20px;" type="checkbox" name="tools" id="t_@item1.ToolId"
                                       value="@item1.ToolId" checked="checked" /> <span data-placement="right" data-toggle="tooltip" title="@item1.Name">@(item1.Name.Count() > 15 ? item1.Name.Substring(0, 13) + ".." : item1.Name)</span>
                                <label for="checkbox" onclick="CheckUncheckTools('t_@item1.ToolId',this)" class="cuschk bck" data-id="t_@item1.ToolId"></label>

                            }
                            else
                            {
                                <input style="width:20px;" type="checkbox" name="tools" id="t_@item1.ToolId"
                                       value="@item1.ToolId" /> <span data-toggle="tooltip" data-placement="right" title="@item1.Name">@(item1.Name.Count() > 15 ? item1.Name.Substring(0, 13) + ".." : item1.Name)</span>
                                <label for="checkbox" onclick="CheckUncheckTools('t_@item1.ToolId',this)" class="cuschk" data-id="t_@item1.ToolId"></label>
                            }
                        </div>
                    </div>
                    typeid = typeid + 1;
                    if (typeid > 3)
                    {
                        typeid = 0;
                        <div class="clearfix"></div>
                    }
                }
            </div>
        }
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12" style="margin-top:34px;">
        <hr style="border-bottom: 1px solid #eee!important;" />
        <div class="clearfix">
        </div>
        @Html.HiddenFor(a => a.Token)
        <button type="submit" class="btn btn-success btn-sm pull-right">
            <i class="fa fa-save"></i> Update
        </button>
    </div>
    <div class="clearfix"></div>
}
<script>
    function CheckUncheckTools(id, ele) {
        $(ele).hasClass("bck") ? ($("#" + id).attr("checked", !1), $(ele).removeClass("bck")) : ($("#" + id).attr("checked", !0), $(ele).addClass("bck"));
    }


</script>