﻿@model hrm.Models.UserClients
@using (Html.BeginForm("edit_clients", "users", FormMethod.Post, new { @id = "frmclient", @enctype = "multipart/form-data" }))
{
    int cnt = 1;
    <div class="col-md-12" style="max-height: 700px;overflow-y: auto;">
        @foreach (var item in Model.ClientList)
        {
            if (Model.Clients != null && Model.Clients.Contains(item.ClientId))
            {
                <div class="col-md-2 round f11 col-sm-6 col-xs-6">
                    <input type="checkbox" name="clients" id="cl_@item.ClientId" value="@item.ClientId" checked="checked" /> @item.ClientName
                    <label for="checkbox" class="bck cuschk" onclick="CheckUncheck('cl_@item.ClientId',this)" data-id="cl_@item.ClientId"></label>
                </div>
            }
            else
            {
                <div class="col-md-2 round col-sm-6 col-xs-6 f11">
                    <input type="checkbox" name="clients" id="cl_@item.ClientId" value="@item.ClientId" /> @item.ClientName
                    <label for="checkbox" class="cuschk" onclick="CheckUncheck('cl_@item.ClientId',this)" data-id="cl_@item.ClientId"></label>
                </div>
            }
            cnt = cnt + 1;
            if (cnt > 5)
            {
                cnt = 1;
                <div class="clearfix"></div>
            }
        }
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12" style="margin-top:20px;">
        <hr />
        <input type="hidden" value="@Model.Token" id="Token" name="Token" />
        <button type="submit" class="btn btn-success btn-sm pull-right">
            <i class="fa fa-save"></i> Update
        </button>
    </div>
    <div class="clearfix"></div>
}
<script>
    function CheckUncheck(id,ele) { 
        $(ele).hasClass("bck") ? ($("#" + id).attr("checked", !1), $(ele).removeClass("bck")) : ($("#" + id).attr("checked", !0), $(ele).addClass("bck"));
    }

    
</script>