﻿@model hrm.Models.UserSkills
@using (Html.BeginForm("edit_skills", "users", FormMethod.Post, new { @id = "frmskiils", @enctype = "multipart/form-data" }))
{
    int cnt = 1;
    <div class="col-md-12" style="max-height: 700px;overflow-y: auto;">
        @foreach (var item in Model.SkillList)
        {
            if (Model.Skills != null && Model.Skills.Contains(item.SkillId))
            {
                <div class="col-md-4 round f11 col-sm-6 col-xs-6"> 
                    <input type="checkbox" name="skills" id="s_@item.SkillId" value="@item.SkillId" checked="checked" /> @item.Name
                    <label for="checkbox" class="cuschk bck" onclick="CheckUncheckSkiils('s_@item.SkillId',this)" data-id="s_@item.SkillId"></label>
                </div>
            }
            else
            {
                <div class="col-md-4 round col-sm-6 col-xs-6 f11">

                    <input type="checkbox" name="skills" id="s_@item.SkillId" value="@item.SkillId" /> @item.Name
                    <label for="checkbox" onclick="CheckUncheckSkiils('s_@item.SkillId',this)" class="cuschk" data-id="s_@item.SkillId"></label>
                </div>
            }
            cnt = cnt + 1;
            if (cnt > 3)
            {
                cnt = 1;
                <div class="clearfix"></div>
            }
        }
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12" style="margin-top:20px;">
        <hr />
        <input type="hidden" value="@Model.Token" id="Token" name="Token" />
        <button type="submit" class="btn btn-success btn-sm pull-right">
            <i class="fa fa-save"></i> Update
        </button>
    </div>
    <div class="clearfix"></div>
}
<script>
    function CheckUncheckSkiils(id,ele) {
        $(ele).hasClass("bck") ? ($("#" + id).attr("checked", !1), $(ele).removeClass("bck")) : ($("#" + id).attr("checked", !0), $(ele).addClass("bck"));
    }


</script>