﻿@model hrm.Models.UserDoc
<table class="table data-table table-hover nowrap table-ultra-responsive dataTable no-footer" id="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Download</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item1 in Model.DocumentList)
        {
            <tr>
                <td class="tdupper" colspan="3">@item1.Key</td>
                <td style="display:none;"></td>
                <td style="display:none;"></td>
            </tr>
            foreach (var item in Model.DocumentList[item1.Key].Where(a => a.FileTitle != "").OrderBy(a => a.FileTypeName))
            {
                <tr>
                    <td>@item.FileTitle</td>
                    <td>
                        @if (Model.DownloadPermission)
                        {
                            <a href="@item.Url.Replace("App_Data","formfiles")" download
                               target="_blank" class="btn btn-success btn-xs pull-left">
                                <i class="fa fa-download"></i>
                            </a>
                        }
                        else
                        {
                            <a href="#" class="btn btn-success btn-xs pull-left disabledbtn"
                               data-msg="you are not authorized to download this document">
                                <i class="fa fa-download"></i>
                            </a>
                        }
                    </td>
                    <td>
                        @if (!Model.DeletePermission)
                        {<a href="#" class="btn btn-danger btn-xs disabledbtn" data-msg="you arenot authorized to delete this document" data-memberid="@Model.Token" id="@item.FileToken"><i class="fa fa-trash"></i></a>
                        }
                        else if (item.FileTitle == "W9 Form" || item.FileTitle == "Direct Deposit Payment Form" || item.FileTitle == "Subcontractor Agreeement")
                        {
                            <a href="#" class="btn btn-danger btn-xs disabledbtn" data-msg="you are not authorized to delete this document" data-memberid="@Model.Token" id="@item.FileToken"><i class="fa fa-trash"></i></a>
                        }
                        else
                        {
                            <a href="#" class="btn btn-danger btn-xs" onclick="DeleteFile('@item.FileToken','@Model.Token')"><i class="fa fa-trash"></i></a>
                        }

                    </td>
                </tr>

            }

        }
    </tbody>
</table>

<script> 
    function DeleteFile(token, mtoken) {
        bootbox.confirm("Are you sure?", function (e) {
            if (e) {
                window.location.href = "/users/delete_doc?mtoken=" + mtoken + "&token=" + token;
            }
        });
    } 

</script>
