﻿
@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.min.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  
@model hrm.Models.Users
<link href="@Url.Content("~/Content/users.min.css?v=1.2")" rel="stylesheet" />
<div class="p-10">
</div>
<div class="p-30 p-t-none p-b-none">
    @if (!string.IsNullOrEmpty(Model.error_text))
    {
        <span id="alert" style="display:none;" data-class="@Model.alertclass" data-text="@Model.error_text"></span>
    } 
    <div id="mdlstatus" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Status</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" name="mid" id="mid" />
                        <label>User status</label>
                        <select class="selectpicker form-control fullwidth" title="Select Status" name="mstatusid" id="mstatusid">
                            <option value="1">Active</option>
                            <option value="2">Inactive</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="updatestatus()" class="btn btn-success"><i class="fa fa-save"></i> Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-times-circle"></i> Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="clearfix"></div>

        <div class="col-lg-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="col-md-6 col-sm-6">
                        <h3 class="panel-title flleft">
                            All account
                        </h3>
                        <span style="display: @(Model.F_isfilter == true?"block":"none");margin-left: 8px;" id="filterpopup" class="flleft badge badge-success alert-success"> <i class="fa fa-check" aria-hidden="true"></i> Filter </span>
                    </div>
                    <div class="col-md-6 col-sm-6 topbuttondiv">
                        <a class="btn btn-success btn-sm pull-right" href="@Url.Action("index", "client")">
                            <i class="fa fa-arrow-left"></i> Client list
                        </a>
                    </div>
                </div>
                <div class="panel-body p-none">
                    <div class="custom-col-md-12" id="filter_div" style="display:none;">
                        @using (Html.BeginForm("index", "users", FormMethod.Post, new { @id = "frmaccount" }))
                        {
                            <table class="table table-hover filter_table_user filter_table nowrap no-footer table-ultra-responsive-custome">
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="text" class="form-control filter" value="@Model.F_Location" style="width:294px;margin-right:14px;" id="Filter_Location" name="Location" placeholder="Search by location..." />
                                        </td>
                                        <td >
                                            <select onchange="TriggerFilter()" class="form-control filter FilterSelect" data-width="fit" data-live-search="true" name="workspaceid" id="workspace">
                                                <option value="@Model.F_workspace">...Loading</option>
                                            </select>
                                        </td>
                                        <td style="width:100%;">
                                            <select onchange="TriggerFilter()" class="selectpicker form-control filter FilterSelect" data-width="fit" id="status" name="status" >
                                                <option value="0">Status</option>
                                                <option @(Model.F_status == 1 ? "selected" : "") value="1">Active</option>
                                                <option @(Model.F_status == 2 ? "selected" : "") value="2">Inactive</option>
                                            </select>
                                        </td>
                                        
                                        <td>
                                            <button class="btn btn-default" type="button" onclick="FilterTable()">Save view</button>
                                        </td>
                                        <td>
                                            <a href="#" onclick="ClearFilter()" class="btn btn-default pull-right">Clear search</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
                <div class="panel-body p-none ">
                    <div class="table-ultra-responsive">
                        <table class="table data-table nowrap table-hover table-condensed dataTable no-footer" id="table">
                            <thead>
                                <tr>
                                    <th style="text-transform:uppercase;width:70px;">Id</th>
                                    <th style="width: 190px;">Company Name</th>
                                    <th style=" width: 120px;">City</th>
                                    <th style="width: 56px;">State</th>
                                    <th style=" width: 138px;">Phone</th>
                                    <th style="width: 367px;">Email</th>
                                    <th style="width: 367px;">Contact</th>
                                    <th style="width: 367px;">Total users</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var pageSize = '@Model.F_length';
    var otable; 
    var subcntr = 'FALSE'; 
    var searchtype = 0;
    var F_workspace = '@Model.F_workspace'; 
</script>
<script src="@Url.Content("~/Content/users/Accounts.min.js?v=3.5")"></script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&region=US&key=AIzaSyA1LyE18eEmk5UdDLezPmcOPF47Diugxls" type="text/javascript"></script>
<script type="text/javascript"> 
    function initialize() {
        $(".alertify-logs").html('');
        var defaultBounds = new google.maps.LatLngBounds(
            new google.maps.LatLng(-33.8902, 151.1759)
        );
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                (position) => {
                    const pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude,
                    };
                    defaultBounds = new google.maps.LatLngBounds
                        (new google.maps.LatLng(pos.lat, pos.lng));
                }
            );
        }
        var options1 = {
            types: ['geocode'], bounds: defaultBounds,
            componentRestrictions: { country: "us" }
        };
        var input1 = document.getElementById('Filter_Location'); 
        var autocomplete1 = new google.maps.places.Autocomplete(input1, options1); 
        google.maps.event.addListener(autocomplete1, 'place_changed', function () {
            var place = autocomplete1.getPlace();
            var type = place.address_components[0].types;

            var _newAddress = "";
            if (type.indexOf("administrative_area_level_1") != -1 || type.indexOf("locality") != -1) {

                if (type.indexOf("administrative_area_level_1") != -1) {
                    _newAddress = place.address_components[0].short_name;
                }
                else if (type.indexOf("locality") != -1) {
                    _newAddress = place.formatted_address.replace(", USA", "");
                    var _newAddress1 = _newAddress.split(",");
                    _newAddress = _newAddress1[0] + ", " + _newAddress1[1].trim().split(" ")[0];
                } else {
                    _newAddress = place.formatted_address.replace(", USA", "");
                }
            } else {
                _newAddress = place.formatted_address.replace(", USA", "");
            }
            input1.value = _newAddress;
            TriggerFilter();
        });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
    document.addEventListener('DOMNodeInserted', function (event) {
        var target = $(event.target);
        if (target.hasClass('pac-item')) {
            target.html(target.html().replace(/, USA<\/span>$/, "</span>"));
        }
        $('.pac-target-input').attr('autocomplete', 'random');
    });
</script>



