﻿
@{
    ViewBag.Title = "Add User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model hrm.Models.UserModel
<link href="@Url.Content("~/Content/users/user_add.min.css?v=1.2")" rel="stylesheet" />
<style>
    .skills .multiselect-container {
        max-height: calc(90vh - 43vh) !important;
        overflow-y: auto !important;
    }
    .field-icon {
        float: right;
        margin-left: 25px;
        margin-top: -26px;
        position: relative;
        z-index: 2;
        margin-right: 10px;
    }  
</style>
<div class="p-10">
</div>
<div class="p-30 p-t-none p-b-none"> 
    @if (!string.IsNullOrEmpty(Model.error_text))
    {
        <span id="alert" style="display:none;" data-class="@Model.alertclass" data-text="@Model.error_text"></span>
    }
    <div class="row">
        <div class="col-lg-12">
            <div class="tab-content panel p-20">
                <div role="tabpanel" class="tab-pane active" id="personal_details">
                    @using (Html.BeginForm("add", "users", FormMethod.Post, new { @id = "UserAddForm" }))
                    {
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <h3 class="panel-title pd-0">
                                    Add User
                                    <a class="btn btn-success btn-sm pull-right" href="@Url.Action("index","users",new { v=1})">
                                        <i class="fa fa-arrow-left"></i> Users List
                                    </a>
                                </h3>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>First Name</label>
                                    @Html.TextBoxFor(a => a.FirstName, new { @class = "form-control capitalize" })
                                    @Html.ValidationMessageFor(a => a.FirstName)
                                </div>
                                <div class="form-group">
                                    <label>Last Name</label>
                                    @Html.TextBoxFor(a => a.LastName, new { @class = "form-control capitalize" })
                                    @Html.ValidationMessageFor(a => a.LastName)
                                </div>
                                <div class="form-group">
                                    <label class="notcapital">User ID</label>
                                    <span class="help">e.g. "546814" (Unique For every User)</span>
                                    @Html.TextBoxFor(a => a.UserId, new { @class = "form-control", @maxlength = "6", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(a => a.UserId)
                                </div>
                                <div class="form-group">
                                    <label>Position</label>
                                    <select class="selectpicker form-control width100" name="UserType" id="membertype">
                                        <option value="E">Employee</option>
                                        <option value="D">Dispatcher</option>
                                        <option value="PM">Project manager</option>
                                        <option value="T">Technician</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Manager</label>
                                    <select class="width100 form-control" data-live-search="true" name="Managerid" id="Managerid">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Password (<a href="#" onclick="generateP()">Generate password</a>)</label>
                                    @Html.TextBoxFor(a => a.Password, new { @class = "form-control", @type = "password" })
                                    <span toggle="#Password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                    @Html.ValidationMessageFor(a => a.Password)
                                </div>
                                <div class="form-group">
                                    <label>Confirm Password</label>
                                    @Html.TextBoxFor(a => a.ConfirmPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(a => a.ConfirmPassword)
                                </div> 
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Hourly rate</label>
                                    <span class="help">e.g. "$10"</span>
                                    @Html.TextBoxFor(a => a.HourlyRate, new { @class = "form-control ratetext" })
                                </div>
                                <div class="form-group">
                                    <label>Overtime rate</label>
                                    @Html.TextBoxFor(a => a.Tax, new { @class = "form-control ratetext" })
                                </div>
                                <div class="form-group">
                                    <label>Status</label>
                                    <select class="selectpicker form-control width100" name="StatusId">
                                        <option value="1">Active</option>
                                        <option value="2">Inactive</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>User Permission</label>
                                    <select class="selectpicker form-control width100" data-live-search="true" name="RoleId">
                                        <option value="0">Permission</option>
                                        @foreach (var item in Model.RoleList)
                                        {
                                            <option value="@item.PermissionRoleId">@item.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Skills</label>
                                    <select class="form-control width100" multiple name="Skills" id="skills">
                                        @foreach (var item in Model.SkillList)
                                        {
                                            <option value="@item.SkillId">@item.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Background</label>
                                    <select class="selectpicker form-control width100" data-live-search="false" name="Background">
                                        <option value="Pending">Pending</option>
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Drug tested</label>
                                    <select class="selectpicker form-control width100" data-live-search="false" name="DrugTested">
                                        <option value="Pending">Pending</option>
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                    </select>
                                </div>
                                <div class="form-group" style="display:none;">
                                    <label>Gender</label>
                                    <select class="selectpicker form-control width100" name="Gender">
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </div>

                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Contractor</label>
                                    @Html.TextBoxFor(a => a.CompanyName, new { @class = "form-control" })
                                    <input type="hidden" name="checkbucontracter" value="false" />
                                </div>
                                <div class="form-group">
                                    <label>Email Address</label>
                                    @Html.TextBoxFor(a => a.EmailAddress, new { @type = "email", @class = "form-control" })
                                    @Html.ValidationMessageFor(a => a.EmailAddress)
                                </div>
                                <div class="form-group">
                                    <label>Phone Number</label>
                                    @Html.TextBoxFor(a => a.PhoneNumber, new { @class = "form-control phonenumber" })
                                    @Html.ValidationMessageFor(a => a.PhoneNumber)
                                </div>
                                <div class="form-group">
                                    <label>Alternative Phone</label>
                                    @Html.TextBoxFor(a => a.AlertnativePhoneNumber, new { @class = "form-control phonenumber" })
                                </div>
                                <div class="form-group">
                                    <label>Address</label>
                                    @Html.TextBoxFor(a => a.MapValidateAddress, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(a => a.MapValidateAddress)
                                </div> <div class="form-group">
                                    <label>Suite / Apt. #</label>
                                    @Html.TextBoxFor(a => a.SuiteNumber, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label for="el3">Driving distance</label>
                                    @Html.TextBoxFor(a => a.DrivingDistance, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(a => a.DrivingDistance)

                                </div>
                            </div>
                            <div class="col-md-12">
                                <button type="button" id="Formbutton" class="btn btn-success pull-right"><i class="fa fa-save"></i> Save</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Content/users/user_add.js?v=2.6")"></script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&region=US&key=AIzaSyA1LyE18eEmk5UdDLezPmcOPF47Diugxls" type="text/javascript"></script>
<script type="text/javascript">

    $("#Formbutton").on("click", function () {
        $(".alertify-logs").html('');
        if ($("form").valid()) {
            validateAddress("");
        }
    });
    function validateAddress(address) {
        $(".alertify-logs").html('');
        address = $("#MapValidateAddress").val();
        var _url = "https://maps.googleapis.com/maps/api/geocode/json?address=" + address + "&sensor=false&key=AIzaSyA1LyE18eEmk5UdDLezPmcOPF47Diugxls";
        $.get(_url, function (data) {
            if (data.results.length > 0) {
                var _newAddress3 = data.results[0].formatted_address.replace(", USA", "");
                if (_newAddress3 == address) {
                    $(".alertify-logs").html('');
                    if ($("form").valid()) {
                        $("form").submit();
                    }
                }
                else {
                    $(".alertify-logs").html('');
                    alertify.log('Google map cannot validate your address', 'error', 30000);
                }
            } else { 
                $(".alertify-logs").html('');
                alertify.log('Google map cannot validate your address', 'error', 30000);
            }
        });
    } 
    function initialize() {
        $(".alertify-logs").html('');
        var defaultBounds = new google.maps.LatLngBounds(
            new google.maps.LatLng(-33.8902, 151.1759)
        ); 
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                (position) => {
                    const pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude,
                    };
                    defaultBounds = new google.maps.LatLngBounds
                        (new google.maps.LatLng(pos.lat, pos.lng));
                }
            );
        } 
        var options1 = {
            types: ['geocode'], bounds: defaultBounds,
            componentRestrictions: { country: "us" }
        }; 
        var input1 = document.getElementById('MapValidateAddress'); 
        var autocomplete1 = new google.maps.places.Autocomplete(input1, options1); 
        google.maps.event.addListener(autocomplete1, 'place_changed', function () {
            var place = autocomplete1.getPlace();
            var _newAddress = place.formatted_address.replace(", USA", "");
            input1.value = _newAddress;
        });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
    document.addEventListener('DOMNodeInserted', function (event) {
        var target = $(event.target);
        if (target.hasClass('pac-item')) {
            target.html(target.html().replace(/, USA<\/span>$/, "</span>"));
        }
        $('.pac-target-input').attr('autocomplete', 'random');
    });
    function generateP() {
			var pass = '';
			var str = 'ABCD!(EFGHIJKL#$MNOPQRSTU)$rt$VWXYZ' +
					'abcdefgh234ijklmnop#k#qrstuvwxyz0123456789@@#$'; 
			for (i = 1; i <= 10; i++) {
				var char = Math.floor(Math.random()
							* str.length + 1); 
				pass += str.charAt(char)
			} 
        $("#Password").val(pass);
        //$("#ConfirmPassword").val(pass);
    } 
    $(".toggle-password").click(function () { 
        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });
</script>



