﻿
@{
    ViewBag.Title ="ID: "+ Model.UserId;
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<int> _permission = Model.PERMISSIONS;
     int typeid = 0;
}
@model hrm.Models.UserModel
<link href="@Url.Content("~/Content/edituser.min.css")" rel="stylesheet" />
<script>
    var _UserId = '@Model.UserTableId'; var _UserToken = '@Model.Token';
</script>
<div class="p-10">
</div>
<div class="p-30 p-t-none p-b-none">
   
    @if (!string.IsNullOrEmpty(Model.error_text))
    {
        <span id="alert" style="display:none;" data-class="@Model.alertclass" data-text="@Model.error_text"></span>
    }
    <div id="toolupdate" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add Tool</h4>
                </div>
                @using (Html.BeginForm("add_tools", "users", FormMethod.Post, new { @id = "toolfrm" }))
                {<div class="modal-body">
                        @Html.HiddenFor(a => a.Token)
                        <div class="form-group">
                            <label>Tool Type</label>
                            <input type="hidden" name="tooltype1" id="tooltype1" />
                            <input type="text" class="form-control" id="_tooltype1" readonly="readonly">
                        </div>
                        <div class="form-group">
                            <label>Tool</label>
                            <input type="text" class="form-control" required="" id="toolname1" name="toolname1" placeholder="Enter tool name">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Add</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <div id="docupdate" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add New Document</h4>
                </div>
                @using (Html.BeginForm("edit_doc", "users", FormMethod.Post, new { @id = "frmdocuments", @enctype = "multipart/form-data" }))
                {<div class="modal-body">
                        @Html.HiddenFor(a => a.Token)
                        <div class="form-group">
                            <label>Document Type</label>  <select class="selectpicker form-control" name="_dctype">
                                <option value="0">Document type</option>
                                @foreach (var item in Model.DocumentTypeList)
                                {
                                    <option value="@item.DocumentTypeId">@item.DocumentName</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Document Title</label>
                            <span class="help">e.g. "Resume, Joining Letter,Certification etc"</span>
                            <input type="text" class="form-control" required="" name="doc">
                        </div>
                        <div class="form-group">
                            <label>Select Document</label>
                            <div class="input-group input-group-file">
                                <span class="input-group-btn">
                                    <span class="btn btn-success btn-file">
                                        Browse <input required type="file" class="form-control" name="file">
                                    </span>
                                </span>
                                <input type="text" class="form-control" readonly="">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-times-circle"></i> Close</button>
                        <button type="submit" class="btn btn-success"> <i class="fa fa-save"></i> Add</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel">
                <div class="panel-heading" style="padding-left:49px;padding-bottom: 3px;">
                    <h3 class="panel-title">
                        ID: @Model.UserId
                        <a class="btn btn-success btn-sm pull-right" href="@Url.Action("index","users")">
                            <i class="fa fa-arrow-left"></i> Users List
                        </a>
                    </h3>
                </div>
                <div class="panel-body p-t-20" style="background: white;padding-right: 0px;">
                    <div class="col-md-12" style="padding-left: 30px;">
                        <h3 class="bold font-color-1">@(Model.FirstName + ' ' + Model.LastName)</h3>
                    </div>
                    @using (Html.BeginForm("edit", "users", FormMethod.Post, new { @id = "UserEditForm" }))
                    {
                        <div class="col-md-5">
                            <div class="pull-left col-md-5">
                                <div class="thumbnail m-b-none">
                                    <img src="@(Model.ImageUrl == "default" ? Url.Content("~/content/images/default.webp") : Url.Content(Model.ImageUrl))" alt="Profile Page" style="width:200px;height:200px">
                                </div>
                            </div>
                            <div class="pull-left col-md-7">
                                <div class="form-group">
                                    <label>Status</label>
                                    @if (!Model.issubcontractor)
                                    {
                                        <select class="selectpicker form-control fullwidth" title="Status" name="StatusId">

                                            <option @(Model.StatusId == 1 ? "selected" : "") value="1">Active</option>
                                            <option @(Model.StatusId == 2 ? "selected" : "") value="2">Inactive</option>
                                        </select>
                                    }
                                    else
                                    {
                                        <select class="selectpicker form-control" title="Status" id="status">

                                            <option @(Model.StatusId != 2 ? "selected" : "") value="1">Active</option>
                                            <option @(Model.StatusId == 2 ? "selected" : "") value="2">Inactive</option>
                                        </select>
                                        <input type="hidden" value="@Model.StatusId" name="StatusId" />
                                    }
                                </div>
                                @if (!Model.issubcontractor)
                                {
                                    <div class="form-group">
                                        <label>Permission</label>
                                        <select class="selectpicker form-control fullwidth" title="Role" data-live-search="true" name="RoleId">

                                            @foreach (var item in Model.RoleList)
                                            {
                                                if (Model.RoleId == item.PermissionRoleId)
                                                {
                                                    <option selected value="@item.PermissionRoleId">@item.Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.PermissionRoleId">@item.Name</option>
                                                }
                                            }
                                        </select>
                                    </div>

                                }
                                else
                                {
                                    <input type="hidden" name="RoleId" value="@Model.RoleId" />
                                }
                            </div>
                            <div class="clearfix" style="margin-bottom:20px;"></div>
                            <div class="form-group col-md-6">
                                <label>First name</label>
                                @Html.TextBoxFor(a => a.FirstName, new { @class = "form-control capitalize", @placeholder = "First Name" })
                                @Html.ValidationMessageFor(a => a.FirstName)
                                @Html.HiddenFor(a => a.UserId)
                                @Html.HiddenFor(a => a.UserTableId)
                                @Html.HiddenFor(a => a.Password)
                            </div>
                            <div class="form-group col-md-6">
                                <label>Last name</label>
                                @Html.TextBoxFor(a => a.LastName, new { @class = "form-control capitalize", @placeholder = "Last Name" })
                                @Html.ValidationMessageFor(a => a.LastName)
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-md-6">
                                <label>Contractor</label>
                                @Html.TextBoxFor(a => a.CompanyName, new { @class = "form-control", @placeholder = "Contractor" })
                                <input type="hidden" name="checkbucontracter" value="false" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Email address</label>
                                @Html.TextBoxFor(a => a.EmailAddress, new { @type = "email", @class = "form-control", @placeholder = "Email" })
                                @Html.ValidationMessageFor(a => a.EmailAddress)
                            </div>
                            <div class="clearfix"></div>

                            <div class="form-group col-md-6">
                                <label>Phone</label>
                                @Html.TextBoxFor(a => a.PhoneNumber, new { @class = "form-control phonenumber", @placeholder = "Phone Number" })

                            </div>
                            <div class="form-group col-md-6">
                                <label>Alternative phone</label>
                                @Html.TextBoxFor(a => a.AlertnativePhoneNumber, new
                                {
                                    @class = "form-control phonenumber",
                                    @placeholder = "Alternative Phone"
                                })
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-md-6">
                                <label>Hourly rate</label>
                                @Html.TextBoxFor(a => a.HourlyRate, new { @class = "form-control ratetext" })

                            </div>
                            <div class="form-group col-md-6">
                                <label>Overtime rate</label>
                                @Html.TextBoxFor(a => a.Tax, new { @class = "form-control ratetext" })

                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-md-6">
                                <label>Manager</label>
                                <select class="form-control fullwidth" data-live-search="true" data-width="100%" name="Managerid" id="Managerid">
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Position</label>
                                <select class="selectpicker form-control fullwidth" title="Position" name="UserType" id="UserType">
                                    <option @(Model.UserType == "E" ? "Selected" : "") value="E">Employee</option>
                                    <option @(Model.UserType == "D" ? "Selected" : "") value="D">Dispatcher</option>
                                    <option @(Model.UserType == "PM" ? "Selected" : "") value="PM">Project manager</option>
                                    <option @(Model.UserType == "T" ? "Selected" : "") value="T">Technician</option>
                                    <option @(Model.UserType == "LT" ? "Selected" : "") value="LT">Lead Technician</option>
                                </select>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-md-6">
                                <label>Background</label>
                                <select class="selectpicker form-control fullwidth" title="Background" name="Background">

                                    <option @(Model.Background == "Yes" ? "selected" : "") value="Yes">Yes</option>
                                    <option @(Model.Background == "No" ? "selected" : "") value="No">No</option>
                                    <option @(Model.Background == "Pending" ? "selected" : "") value="Pending">Pending</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label>
                                    Drug tested
                                </label>
                                <select class="selectpicker form-control fullwidth" title=" Drug tested" name="DrugTested">

                                    <option @(Model.DrugTested == "Yes" ? "selected" : "") value="Yes">Yes</option>
                                    <option @(Model.DrugTested == "No" ? "selected" : "") value="No">No</option>
                                    <option @(Model.DrugTested == "Pending" ? "selected" : "") value="Pending">Pending</option>

                                </select>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-md-12">
                                <label>Address</label>
                                @Html.TextBoxFor(a => a.MapValidateAddress, new { @placeholder = "Address", @class = "form-control" })
                                @Html.ValidationMessageFor(a => a.MapValidateAddress)
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-md-6">
                                <label>Suite / Apt. #</label>
                                @Html.TextBoxFor(a => a.SuiteNumber, new { @placeholder = "Suite / Apt. #", @class = "form-control" })
                            </div>
                            <div class="form-group col-md-6">
                                <label>Driving Distance</label>
                                @Html.TextBoxFor(a => a.DrivingDistance, new { @placeholder = "Driving distance", @class = "form-control" })
                                @Html.ValidationMessageFor(a => a.DrivingDistance)
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="button" id="Formbutton" class="btn btn-success btn-sm pull-left">
                                        <i class="fa fa-save"></i> Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="col-md-7">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="@(Model.Tab == 1||Model.Tab==0 ? "active" : "")">
                                <a href="#document" aria-controls="messages"
                                   role="tab" data-toggle="tab" aria-expanded="false">Document</a>
                            </li>
                            <li role="presentation" class="@(Model.Tab == 2 ? "active" : "")">
                                <a href="#Skill" aria-controls="home"
                                   role="tab" data-toggle="tab" aria-expanded="true">Skill</a>
                            </li>
                            <li role="presentation" class="@(Model.Tab == 3 ? "active" : "")">
                                <a href="#Tool" aria-
                                   controls="tab" role="tab" data-toggle="tab" aria-expanded="false">Tool</a>
                            </li>
                            <li role="presentation" class="@(Model.Tab == 4 ? "active" : "")">
                                <a href="#client_tech" aria-
                                   controls="tab" role="tab" data-toggle="tab" aria-expanded="false">Client</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane @(Model.Tab == 1||Model.Tab==0 ? "active" : "")" id="document">
                                <div class="panel">
                                    <div class="panel-heading" style="padding-left:20px;padding-bottom: 73px;padding-top: 24px">
                                        <h3 class="panel-title">
                                            <a class="btn btn-success btn-sm pull-right" style="font-weight:500;" href="#"
                                               onclick="adddoc()">
                                                <i class="fa fa-plus"></i> Add New Document
                                            </a>
                                        </h3>
                                    </div>
                                    <div class="panel-body p-none" id="DocPanel">
                                        ...Loading
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane p-20 @(Model.Tab == 2 ? "active" : "")" id="Skill">
                                ....Loading
                            </div>
                            <div role="tabpanel" class="tab-pane  p-20 @(Model.Tab == 3 ? "active" : "")" id="Tool">
                                ....Loading
                            </div>
                            <div role="tabpanel" class="tab-pane p-20 @(Model.Tab == 4 ? "active" : "")" id="client_tech">
                                ....Loading
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="@Url.Content("~/Content/users/user_edit.min.js?v=1.8")"></script>
<script>

    $(window).load(function () {
        get_state('@Model.StateId');
        get_Manager_selectbyid('@Model.ManagerId', '@Model.UserTableId', '@Model.UserType');
    });

      $("#membertype").on("change", function () {
        var _type = $("#membertype").val();
        var mgrid = '@Model.ManagerId';
        var userid = '@Model.UserTableId';
        get_Manager_selectbyid(mgrid, userid, _type);
      }); 
</script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&region=US&key=AIzaSyA1LyE18eEmk5UdDLezPmcOPF47Diugxls" type="text/javascript"></script>
<script type="text/javascript">

    $("#Formbutton").on("click", function () {
        $(".alertify-logs").html('');
        if ($("#UserEditForm").valid()) {
            validateAddress("");
        }
    });
    function validateAddress(address) {
        $(".alertify-logs").html('');
        address = $("#MapValidateAddress").val();
        var _url = "https://maps.googleapis.com/maps/api/geocode/json?address=" + address + "&sensor=false&key=AIzaSyA1LyE18eEmk5UdDLezPmcOPF47Diugxls";
        $.get(_url, function (data) {
            if (data.results.length > 0) {
                debugger;
                var _newAddress3 = data.results[0].formatted_address.replace(", USA", "");
                if (_newAddress3 == address) {
                    $(".alertify-logs").html('');
                    if ($("#UserEditForm").valid()) {
                        $("#UserEditForm").submit();
                    }
                }
                else {
                    $(".alertify-logs").html('');
                    alertify.log('Google map cannot validate your address', 'error', 30000);
                }
            } else {
                $(".alertify-logs").html('');
                alertify.log('Google map cannot validate your address', 'error', 30000);
            }
        });
    }

    function initialize() {
        $(".alertify-logs").html('');
        var defaultBounds = new google.maps.LatLngBounds(
            new google.maps.LatLng(-33.8902, 151.1759)
        );
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                (position) => {
                    const pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude,
                    };
                    defaultBounds = new google.maps.LatLngBounds
                        (new google.maps.LatLng(pos.lat, pos.lng));
                }
            );
        }

        var options1 = {
            types: ['geocode'], bounds: defaultBounds,
            componentRestrictions: { country: "us" }
        };


        var input1 = document.getElementById('MapValidateAddress');
        //var input3 = document.getElementById('Zipcode');


        var autocomplete1 = new google.maps.places.Autocomplete(input1, options1);
        //var autocomplete3 = new google.maps.places.Autocomplete(input3, option3);

        google.maps.event.addListener(autocomplete1, 'place_changed', function () {
            var place = autocomplete1.getPlace();
            var _newAddress = place.formatted_address.replace(", USA", "");
            input1.value = _newAddress;
        });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
    document.addEventListener('DOMNodeInserted', function (event) {
        var target = $(event.target);
        if (target.hasClass('pac-item')) {
            target.html(target.html().replace(/, USA<\/span>$/, "</span>"));
        }
        $('.pac-target-input').attr('autocomplete', 'random');
    });
</script>



