﻿
@{
    ViewBag.Title = "User list";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var permission = Model.PERMISSIONS;
    var amount_1 = new List<int>();
    amount_1.Add(0);
    Model.F_amount = Model.F_amount ?? amount_1.ToArray();
    var dict = (Dictionary<int, string>)ViewBag.roles;
    var dictc = (Dictionary<int, string>)ViewBag.COntractor;
}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.min.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
@model hrm.Models.Users
<link href="@Url.Content("~/Content/users.min.css?v=1.2")" rel="stylesheet" />
<div class="p-10">
</div>
<div class="p-30 p-t-none p-b-none">
    @if (!string.IsNullOrEmpty(Model.error_text))
    {
        <span id="alert" style="display:none;" data-class="@Model.alertclass" data-text="@Model.error_text"></span> 
    }
    <div id="mdlstatus" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Status</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" name="mid" id="mid" />
                        <label>User status</label>
                        <select class="selectpicker form-control fullwidth" title="Select Status" name="mstatusid" id="mstatusid">
                            <option value="1">Active</option>
                            <option value="2">Inactive</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="updatestatus()" class="btn btn-success"><i class="fa fa-save"></i> Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-times-circle"></i> Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="clearfix"></div>
        <div class="box mainbox" style="display: none;" id="box1">
            <div class="box-inner">
                <div class="col-md-12">
                    <h3 class="pull-left panel-title" style="padding-left: 0px !important;padding-top: 10px;">Submit Offer</h3>
                    <button type="button" class="close closebox" aria-label="Close" autocomplete="random"><span aria-hidden="true">×</span></button>
                </div>
                <div class="clearfix"></div>
                <hr class="mt9" />
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="form-group">
                        <select data-live-search="true" name="slide1_client" id="slide1_client" class="form-control fullwidth CustomHeight" data-height="79" title="Client">
                        </select>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="form-group">
                        <select data-live-search="true" class="selectpicker form-control fullwidth CustomHeight" data-height="73" name="slide_state" id="slide_state">
                            <option value="0">State</option>
                            @foreach (var item in Model.select)
                            {
                                <option value="@item.Key">@item.Value</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="form-group">
                        <select data-live-search="true" title="City" class="selectpicker form-control fullwidth" name="slide_city" id="slide_city">
                        </select>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="form-group" style="padding-bottom:35px;">
                        <label><span id="offercount">Total Offer: </span></label>
                        <select data-live-search="true" class="form-control fullwidth CustomHeight" title="Offers" data-height="58" id="offers">
                        </select>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="text" class="form-control" id="subject1" placeholder="Subject" />
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="form-group">
                        <select data-live-search="true" class="form-control fullwidth CustomHeight" data-dropup-auto="false" title="Template" data-height="42" id="templates">
                        </select>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="form-group">
                        <select class="selectpicker form-control fullwidth" id="prefrence" title="Assign preference">
                            <option value="1">Auto</option>
                            <option value="2">Manual</option>
                        </select>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12 sendoffer">
                    <div class="col-md-3 round ">
                        <input class="inputbox3" type="checkbox" id="email" /> Email
                        <label for="checkbox" class="cuschk email" data-id="email"></label>
                    </div>
                    <div class="col-md-6 round">
                        <input class="inputbox3" type="checkbox" id="sms" /> Text
                        <label for="checkbox" class="cuschk sms" data-id="sms"></label>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12" style="position:relative;margin-top:1%;">
                </div>
                <div class="clearfix"></div>
                <hr />
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <a class="btn btn-success btn-sm pull-right" href="#" onclick="sendoffer()">
                        <i class="fas fa-paper-plane"></i> Submit
                    </a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="box mainbox" style="display: none;" id="box2">
            <div class="box-inner">
                <div class="col-md-12">
                    <h3 class="pull-left panel-title" style="padding-left: 0px !important;    padding-top: 10px;">Submit email</h3>
                    <button type="button" class="close closebox" aria-label="Close" autocomplete="random"><span aria-hidden="true">×</span></button>
                </div>
                <div class="clearfix"></div>
                <hr class="mt9" />
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="text" class="form-control" id="subject2" placeholder="Subject" />
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="form-group">
                        <select data-live-search="true" class="form-control fullwidth" id="templates2" title="Select template">
                        </select>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12 sendoffer2">
                    <div class="col-md-3 round ">
                        <input class="" type="checkbox" id="email2" /> Email
                        <label for="checkbox" class="cuschk email2" data-id="email2"></label>
                    </div>
                    <div class="col-md-6 round">
                        <input class="" type="checkbox" id="sms2" /> Text
                        <label for="checkbox" class="cuschk sms2" data-id="sms2"></label>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12" style="position:relative;margin-top:20%;">
                </div>
                <div class="clearfix"></div>
                <hr />
                <div class="clearfix"></div>
                <div class="col-md-12" style="display:none;">
                    <div class="col-md-12 round">

                        <input class="inputbox2" style="width: 16px;" type="checkbox" id="termspopup1" />Activate terms popup to selected user
                        <label for="checkbox" class="cuschk termspopup1" data-id="termspopup1"></label>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <a class="btn btn-success btn-sm pull-right" href="#" onclick="sendoffer2()">
                        <i class="fas fa-paper-plane"></i> Submit
                    </a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="box mainbox" style="display: none;" id="box3">
            <div class="box-inner">
                <div class="col-md-12">
                    <h3 class="pull-left panel-title" style="padding-left: 0px !important;    padding-top: 10px;">Submit job</h3>
                    <button type="button" class="close closebox" aria-label="Close" autocomplete="random"><span aria-hidden="true">×</span></button>
                </div>
                <div class="clearfix"></div>
                <hr class="mt9" />
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="form-group">
                        <select data-live-search="true" class="selectpicker form-control fullwidth CustomHeight" data-height="79" name="slide3_client" id="slide3_client" title="Client">
                        </select>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="form-group">
                        <select data-live-search="true" class="selectpicker form-control fullwidth CustomHeight" data-height="73" name="slide3_state" id="slide3_state">
                            <option value="0">State</option>
                            @foreach (var item in Model.select)
                            {
                                <option value="@item.Key">@item.Value</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="form-group">
                        <select data-live-search="true" title="City" class="selectpicker form-control fullwidth" name="slide3_city" id="slide3_city">
                        </select>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12" style="display:none;">
                    <div class="form-group">
                        <input type="text" id="jobidpopup" class="form-control" placeholder="Job id" />
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="form-group" style="padding-bottom:35px;">
                        <label><span id="jobcount">Total Jobs:</span></label>
                        <select data-live-search="true" class="form-control fullwidth CustomHeight" data-height="58" id="popupjobs">
                            <option>Job ID</option>
                        </select>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="text" class="form-control" id="subject3" placeholder="Subject" />
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="form-group">
                        <select data-live-search="true" class="form-control fullwidth CustomHeight" data-dropup-auto="false" title="Template" data-height="42" id="templates3">
                        </select>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12 sendoffer3">
                    <div class="col-md-3 round ">
                        <input class="inputbox3" type="checkbox" id="email3" /> Email
                        <label for="checkbox" class="cuschk email3" data-id="email3"></label>
                    </div>
                    <div class="col-md-6 round">
                        <input class="inputbox3" type="checkbox" id="sms3" /> Text
                        <label for="checkbox" class="cuschk sms3" data-id="sms3"></label>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12" style="position:relative;margin-top:1%;">
                </div>
                <div class="clearfix"></div>
                <hr />
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <a class="btn btn-success btn-sm pull-right" href="#" onclick="sendoffer3()">
                        <i class="fas fa-paper-plane"></i> Submit
                    </a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="box mainbox" style="display: none;" id="box4">
            @using (Html.BeginForm("users", "import", FormMethod.Post, new { @id = "frmupload", @enctype = "multipart/form-data" }))
            {
                <div class="box-inner">
                    <div class="col-md-12">
                        <h3 class="pull-left panel-title" style="padding-left: 0px !important;    padding-top: 10px;">Upload users</h3>
                        <button type="button" class="close closebox" aria-label="Close" autocomplete="random"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="clearfix"></div>
                    <hr class="mt9" />
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label style="width:100%" class="notcapital">Upload a csv formatted file </label>
                            <div class="input-group input-group-file">
                                <span class="input-group-btn">
                                    <span class="btn btn-primary btn-file">
                                        Browse <input required type="file" id="files" accept=".csv" class="form-control" name="file">
                                    </span>
                                </span>
                                <input type="text" class="form-control" readonly="">
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="notcapital" style="width:100%">Download template </label>
                            <a href="@Url.Content("~/csvfiles/users.csv")" download="">  <img src="@Url.Content("~/Content/Images/csv.webp?v=1.2")" style="width:100px;" /></a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12" style="position:relative;margin-top:1%;">
                    </div>
                    <div class="clearfix"></div>
                    <hr />
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <button type="submit" id="submit-file" class="btn btn-success"><i class="fa fa-upload"></i> Import</button>
                    </div>
                </div>

            }
        </div>
        <div class="clearfix"></div>
        <div class="box mainbox customheight" style="display: none;" id="FilterSlide">
            @using (Html.BeginForm("offer", "import", FormMethod.Post, new { @id = "frmimport", @enctype = "multipart/form-data" }))
            {
                <div class="box-inner">
                    <div class="col-md-12">
                        <h3 class="pull-left panel-title" style="padding-left: 14px !important;    padding-top: 10px;">Open filters</h3>
                        <button type="button" class="close closebox" aria-label="Close" autocomplete="random"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="clearfix"></div>
                    <hr class="mt9" />
                    <div class="clearfix"></div>
                    <div class="col-md-12" id="Filter_amount_div" style="display:@(((Model.F_amount.Contains(0) && Model.F_amount.Count() > 1)||Model.F_amount.Count() > 1)?"block":"none")">
                        <div class="col-md-9">
                            <select multiple class="form-control filter FilterSelect" id="amount" name="amount" data-width="fit">
                                <option @(Model.F_amount.Contains(1) ? "selected=selected" : "") value="1">$0.00 to  $40.00</option>
                                <option @(Model.F_amount.Contains(2) ? "selected=selected" : "") value="2">$41.00 to  $60.00</option>
                                <option @(Model.F_amount.Contains(3) ? "selected=selected" : "") value="3">$61.00 to $80.00</option>
                                <option @(Model.F_amount.Contains(4) ? "selected=selected" : "") value="4">$81.00 to  $100.00</option>
                                <option @(Model.F_amount.Contains(5) ? "selected=selected" : "") value="5">$101.00 and up</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <button type="button" class="close" onclick="ClearMultiDropDown('amount','amount',true)" aria-label="Close" autocomplete="random"><span aria-hidden="true">×</span></button>
                            </div>
                        </div>
                    </div> <div class="clearfix"></div>
                    <div class="col-md-12" id="Filter_skills_div" style="display:@(((Model.F_skills.Contains(0) && Model.F_skills.Count() > 1)||Model.F_skills.Count() > 1)?"block":"none")">
                        <div class="col-md-9">
                            <select multiple class="form-control filter FilterSelect" id="skills" name="skills" data-width="fit">
                                @foreach (var item in Model.SkillList)
                                {
                                    <option @(Model.F_skills.Contains(item.SkillId) ? "selected" : "") value="@item.SkillId">@item.Name</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="close" onclick="ClearMultiDropDown('skills','skills',true)" aria-label="Close" autocomplete="random"><span aria-hidden="true">×</span></button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12" style="display:@(Model.F_screening>0?"block":"none")" id="Filter_screening_div">
                        <div class="col-md-9">
                            <select class="form-control filter selectpicker FilterSelect" id="background" name="background" data-width="fit">
                                <option value="0">Screening</option>
                                <option @(Model.F_screening == 1 ? "selected" : "") value="1">Background</option>
                                <option @(Model.F_screening == 2 ? "selected" : "") value="2">Drug</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="close" onclick="ClearSingleDropDown('screening','background',true)" aria-label="Close" autocomplete="random"><span aria-hidden="true">×</span></button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12" style="display:@(Model.F_role>0?"block":"none")" id="Filter_role_div">
                        <div class="col-md-9">
                            <select class="form-control filter selectpicker FilterSelect" id="Roles" name="Roles" data-width="fit">
                                <option value="0">Permission</option>
                                @foreach (var item in dict)
                                {
                                    <option @(Model.F_role == item.Key ? "selected" : "") value="@item.Key">@item.Value</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="close" aria-label="Close" onclick="ClearSingleDropDown('role','Roles',true)" autocomplete="random"><span aria-hidden="true">×</span></button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12" style="display:@(Model.F_contractor>0?"block":"none")" id="Filter_contractor_div">
                        <div class="col-md-9">
                            <select class="form-control filter selectpicker FilterSelect" id="contractor" name="contractor" data-width="fit">
                                <option value="0">Contractor</option>
                                @foreach (var item in dictc)
                                {
                                    <option @(Model.F_contractor == item.Key ? "selected" : "") value="@item.Key">@item.Value</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="close" aria-label="Close" onclick="ClearSingleDropDown('contractor','contractor',true)" autocomplete="random"><span aria-hidden="true">×</span></button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12 pdtb-1520">
                        <div class="col-md-6 pull-left">
                            <button class="btn btn-default" type="button" onclick="FilterTable()">Save view</button>
                        </div>
                        <div class="col-md-6 pull-right">
                            <a href="#" onclick="ClearFilter()" class="btn btn-default pull-right">Clear search</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <hr class="mt9" />
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <h3 class="pull-left panel-title" style="padding-left: 14px !important;padding-bottom: 25px;padding-top:15px;">Available filters</h3>
                    </div>
                    <div class="clearfix"></div>

                    <div class="col-md-12 sendoffer">
                        <div class="col-md-6 round ">
                            <input class="inputbox3" name="messagetype" @(((Model.F_amount.Contains(0) && Model.F_amount.Count() > 1) || Model.F_amount.Count() > 1) ? "checked" : "") value="1" type="checkbox" id="chk_amount" /> Rate
                            <label for="checkbox" class="FilterCheck @(((Model.F_amount.Contains(0) && Model.F_amount.Count() > 1)||Model.F_amount.Count() > 1)?"bck":"")" id="bck_chk_amount" data-element="amount" data-div="Filter_amount_div" data-type="3" data-id="chk_amount"></label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12 sendoffer">
                        <div class="col-md-6 round ">
                            <input class="inputbox3" name="messagetype" @(((Model.F_skills.Contains(0) && Model.F_skills.Count() > 1) || Model.F_skills.Count() > 1) ? "checked" : "") value="1" type="checkbox" id="chk_skills" /> Skiil
                            <label for="checkbox" class="FilterCheck @(((Model.F_skills.Contains(0) && Model.F_skills.Count() > 1)||Model.F_skills.Count() > 1)?"bck":"")" data-element="skills" data-div="Filter_skills_div" data-type="3" id="bck_chk_skills" data-id="chk_skills"></label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12 sendoffer">
                        <div class="col-md-6 round ">
                            <input class="inputbox3" name="messagetype" @(Model.F_screening > 0 ? "checked" : "") value="1" type="checkbox" id="chk_screening" /> Screening
                            <label for="checkbox" class="FilterCheck @(Model.F_screening>0?"bck":"")" data-element="background" data-div="Filter_screening_div" data-type="2" id="bck_chk_screening" data-id="chk_screening"></label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12 sendoffer">
                        <div class="col-md-6 round ">
                            <input class="inputbox3" name="messagetype" @(Model.F_role > 0 ? "checked" : "") value="1" type="checkbox" id="chk_role" /> Permission
                            <label for="checkbox" class="FilterCheck @(Model.F_role>0?"bck":"")" data-element="Roles" data-div="Filter_role_div" data-type="2" id="bck_chk_role" data-id="chk_role"></label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12 sendoffer">
                        <div class="col-md-6 round ">
                            <input class="inputbox3" name="messagetype" @(Model.F_contractor > 0 ? "checked" : "") value="1" type="checkbox" id="chk_contractor" /> Contractor
                            <label for="checkbox" class="FilterCheck @(Model.F_contractor>0?"bck":"")" data-element="contractor" data-div="Filter_contractor_div" data-type="2" id="bck_chk_contractor" data-id="chk_contractor"></label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            }
        </div>
        <div class="clearfix"></div>
        <div class="col-lg-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="col-md-6 col-sm-6">
                        <h3 class="panel-title flleft" style="padding-left:7px;">
                            Users
                        </h3> <span style="display: @(Model.F_isfilter == true?"block":"none");margin-left: 8px;" id="filterpopup" class="flleft badge badge-success alert-success"> <i class="fa fa-check" aria-hidden="true"></i> Filter </span>
                    </div>
                    <div class="col-md-6 col-sm-6 topbuttondiv">
                        @if (!Model.F_issubcontractor)
                        {
                            <a class="btn btn-success btn-sm pull-right" href="@Url.Action("add", "users")">
                                <i class="fa fa-plus"></i> New User
                            </a>

                            if (permission.Contains(33))
                            {
                                <a class="btn btn-success btn-sm pull-right" style="margin-right:8px;" onclick="Uploadfile()" href="#">
                                    <i class="fas fa-cloud-upload-alt"></i> Upload
                                </a>
                            }
                            <a class="btn btn-success btn-sm pull-right slide-toggle1 div_delete" style="margin-right:8px;" id="div_delete" href="#">
                                <i class="fas fa-hand-holding-usd ft-15"></i> Offers
                            </a>
                            <a class="btn btn-success btn-sm pull-right slide-toggle3 div_delete" style="margin-right:8px;" id="div_delete2" href="#">
                                <i class="fa fa-suitcase"></i> Jobs
                            </a>
                            <a class="btn btn-success btn-sm pull-right slide-toggle2 div_delete" style="margin-right:8px;" id="div_delete1" href="#">
                                <i class="fas fa-paper-plane"></i> Email
                            </a>
                        }
                    </div>

                </div>

                @if (permission.Contains(58))
                {
                    <div class="panel-body p-none">
                        <div class="custom-col-md-12" id="filter_div" style="display:none;">
                            @using (Html.BeginForm("index", "users", FormMethod.Post, new { @id = "frmsendsms" }))
                            {
                                <table class="table table-hover filter_table_user filter_table nowrap no-footer table-ultra-responsive-custome">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="text" class="form-control filter" value="@Model.F_Location" style="width:294px;margin-right:14px;" id="Filter_Location" name="Location" placeholder="Search by location...." />
                                            </td>
                                            <td>
                                                <select class="selectpicker form-control filter FilterSelect" id="membertype" name="membertype" data-width="fit">
                                                    <option value="M">Position</option>
                                                    <option @(Model.F_membertype == "E" ? "selected" : "") value="E">Employee</option>
                                                    <option @(Model.F_membertype == "D" ? "selected" : "") value="D">Dispatcher</option>
                                                    <option @(Model.F_membertype == "PM" ? "selected" : "") value="PM">Project manager
                                                    <option @(Model.F_membertype == "T" ? "selected" : "") value="T">Technician</option>
                                                    <option @(Model.F_membertype == "LT" ? "Selected" : "") value="LT">Lead technician</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select class="selectpicker form-control filter FilterSelect" id="status" name="status" data-width="fit">
                                                    <option value="0">Status</option>
                                                    <option @(Model.F_status == 1 ? "selected" : "") value="1">Active</option>
                                                    <option @(Model.F_status == 2 ? "selected" : "") value="2">Inactive</option>
                                                </select>
                                            </td>
                                            <td class="MoreFilter" style="padding-top:16px !important;">
                                                <a href="#" onclick="FilterOpen()">More filter</a>
                                            </td>
                                            <td>
                                                <button class="btn btn-default" type="button" onclick="FilterTable()">Save view</button>
                                            </td>
                                            <td>
                                                <a href="#" onclick="ClearFilter()" class="btn btn-default pull-right">Clear search</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            }
                        </div>
                    </div>
                }
                <div class="panel-body p-none ">
                    <div class="table-ultra-responsive">
                        <table class="table data-table nowrap table-hover table-condensed dataTable no-footer" id="table">
                            <thead>
                                <tr>
                                    <th style="width: 38px;">
                                        <div class="round pd0">
                                            <input type="checkbox" id="chk_header" />
                                            <label for="checkbox" class="chk_header" data-id="chk_header"></label>
                                        </div>
                                    </th>
                                    <th style="text-transform:uppercase;width:70px;">Id</th>
                                    <th style="width: 190px;">Name</th>
                                    <th style=" width: 120px;">City</th>
                                    <th style="width: 56px;">State</th>
                                    <th style=" width: 138px;">Phone</th>
                                    <th style="width: 367px;">Email</th>
                                    <th>Rate</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var pageSize = "@Model.F_length";
    var otable;
    var editpermission = '@permission.Contains(31).ToString().ToUpper()';
    var deletepermission = '@permission.Contains(32).ToString().ToUpper()';
    var subcntr = '@Model.F_issubcontractor.ToString().ToUpper()';
    var amountSelected = "";
    var skillsSelected = "";
    var searchtype = 0;

</script>
<script src="@Url.Content("~/Content/users/users.min.js?v=3.4")"></script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&region=US&key=AIzaSyA1LyE18eEmk5UdDLezPmcOPF47Diugxls" type="text/javascript"></script>
<script type="text/javascript">
    function initialize() {
        $(".alertify-logs").html('');
        var defaultBounds = new google.maps.LatLngBounds(
            new google.maps.LatLng(-33.8902, 151.1759)
        );
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                (position) => {
                    const pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude,
                    };
                    defaultBounds = new google.maps.LatLngBounds
                        (new google.maps.LatLng(pos.lat, pos.lng));
                }
            );
        }
        var options1 = {
            types: ['geocode'], bounds: defaultBounds,
            componentRestrictions: { country: "us" }
        };
        var input1 = document.getElementById('Filter_Location');
        //var input3 = document.getElementById('Zipcode');
        var autocomplete1 = new google.maps.places.Autocomplete(input1, options1);
        //var autocomplete3 = new google.maps.places.Autocomplete(input3, option3);
        google.maps.event.addListener(autocomplete1, 'place_changed', function () {
            var place = autocomplete1.getPlace();
            var type = place.address_components[0].types;

            var _newAddress = "";
            if (type.indexOf("administrative_area_level_1") != -1 || type.indexOf("locality") != -1) {

                if (type.indexOf("administrative_area_level_1") != -1) {
                    _newAddress = place.address_components[0].short_name;
                }
                else if (type.indexOf("locality") != -1) {
                    _newAddress = place.formatted_address.replace(", USA", "");
                    var _newAddress1 = _newAddress.split(",");
                    _newAddress = _newAddress1[0] + ", " + _newAddress1[1].trim().split(" ")[0];
                } else {
                    _newAddress = place.formatted_address.replace(", USA", "");
                }
            } else {
                _newAddress = place.formatted_address.replace(", USA", "");
            }
            input1.value = _newAddress;
            TriggerFilter();
        });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
    document.addEventListener('DOMNodeInserted', function (event) {
        var target = $(event.target);
        if (target.hasClass('pac-item')) {
            target.html(target.html().replace(/, USA<\/span>$/, "</span>"));
        }
        $('.pac-target-input').attr('autocomplete', 'random');
    });

</script>

@section scripts {
    <script type="text/javascript">

        $("#membertype").on("change", function () {
            TriggerFilter();
        });
        $("#status").on("change", function () {
            TriggerFilter();
        });
        $("#background").on("change", function () {
            TriggerFilter();
        });
        $("#Roles").on("change", function () {
            TriggerFilter();
        });
        $("#contractor").on("change", function () {
            TriggerFilter();
        });
        $("#amount").on("change", function () {
            TriggerFilter();
        });
        $("#skills").on("change", function () {
            TriggerFilter();
        });
    </script>

}

