﻿@{
    ViewBag.Title = "Contractors";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var permission =Model.PERMISSIONS;
}
@model hrm.Models.ContractorModal
<div class="p-10">
</div>
<div class="p-30 p-t-none p-b-none">
    @if (!string.IsNullOrEmpty(Model.error_text))
    {
        <span id="alert" style="display:none;" data-class="@Model.alertclass" data-text="@Model.error_text"></span>
    }
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="col-md-6 col-sm-6">
                        <h3 class="panel-title">
                            Contractors
                        </h3>
                    </div>
                    <div class="col-md-6 col-sm-6 topbuttondiv">
                        <a class="btn btn-success btn-sm pull-right" href="@Url.Action("add", "Contractor")">
                            <i class="fa fa-plus"></i> Add contractor
                        </a>
                    </div>
                </div>
                <div class="panel-body p-none">
                    <div class="table-ultra-responsive custompadding-table">
                        <table class="table table-condensed nowrap data-table table-hover dataTable no-footer" id="table">
                            <thead>
                                <tr role="row">
                                    <th>Name</th>
                                    <th>Primary contact</th>
                                    <th>Rate</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<script>
    var pageSize = 25;
    var otable;
    var viewpermission = '@permission.Contains(5080).ToString().ToUpper()';
    var editpermission = '@permission.Contains(5081).ToString().ToUpper()';
    var deletepermission ='@permission.Contains(5082).ToString().ToUpper()';
   
</script> 
<script src="@Url.Content("~/Content/contractor/index.min.js?v=1.3")"></script>