﻿
@{
    ViewBag.Title = @Model.Contractors.name;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var permission = Model.PERMISSIONS;
}
<link href="@Url.Content("~/Content/contractor/view.min.css?v=1.0")" rel="stylesheet" />
@model hrm.Models.ContractorViewModal
<div class="p-10">
</div>
<div class="p-30 p-t-none p-b-none">
    @if (!string.IsNullOrEmpty(Model.error_text))
    {
        <span id="alert" style="display:none;" data-class="@Model.alertclass" data-text="@Model.error_text"></span>
    }
    <div class="box mainbox" style="display: none;" id="uploadslide">
        @using (Html.BeginForm("cmember", "import", FormMethod.Post, new { @id = "frmcmember", @enctype = "multipart/form-data" }))
        {
            <div class="box-inner">
                <div class="col-md-12">
                    <h3 class="pull-left panel-title" style="padding-left: 0px !important;    padding-top: 10px;">Upload users</h3>
                    <button type="button" class="close closebox" aria-label="Close" autocomplete="random"><span aria-hidden="true">×</span></button>
                </div>
                <div class="clearfix"></div>
                <hr class="mt9" />
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label style="width:100%" class="notcapital">Upload a csv formatted file </label>
                        <div class="input-group input-group-file">
                            <span class="input-group-btn">
                                <span class="btn btn-primary btn-file">
                                    Browse <input required type="file" id="files" accept=".csv" class="form-control" name="file">
                                </span>
                            </span>
                            <input type="text" class="form-control" readonly="">
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label  class="notcapital" style="width:100%">Download template </label>
                        <a href="@Url.Content("~/csvfiles/pmanager.csv")" download="">  <img src="@Url.Content("~/Content/Images/csv.webp")" style="width:100px;" /></a>
                        <input type="hidden" value="@Model.Contractorid" name="clientid" />
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12" style="position:relative;margin-top:20%;">
                </div>
                <div class="clearfix"></div>
                <hr />
                <div class="clearfix"></div>
                <div class="col-md-12">
                    <button type="submit" id="submit-file" class="btn btn-success"><i class="fas fa-cloud-upload-alt"></i> Import</button>
                </div>
            </div>
        }
    </div>
    <div class="modal fade" id="add-new-manager" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add new user</h4>
                </div>
                @using (Html.BeginForm("add_member", "Contractor", FormMethod.Post, new { @class = "form-some-up", @id = "frmcmember2" }))
                {<div class="modal-body">
                        <div class="row">
                            <div class="form-group col-md-6  col-sm-12 col-lg-6">
                                <label>User ID</label>
                                <select class="form-control fullwidth" data-live-search="true" name="member_id" id="member_id">
                                </select>
                            </div>
                            <div class="form-group col-md-6  col-sm-12 col-lg-6">
                                <label>Address</label>
                                <input type="text" name="MapValidateAddress" required id="MapValidateAddress" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6  col-sm-12 col-lg-6">
                                <label>First name</label>
                                <input type="text" name="fname" id="fname" class="form-control capitalize" required />
                                <input type="hidden" name="clientid" id="clientid" value="@Model.Contractorid" />
                            </div>
                            <div class="form-group col-md-6  col-sm-12 col-lg-6">
                                <label>Suite / Apt. #</label>
                                <input type="text" name="suite" id="suite" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6  col-sm-12 col-lg-6">
                                <label>Last name</label>
                                <input type="text" name="lname" id="lname" class="form-control" />
                            </div>
                            <div class="form-group col-md-6  col-sm-12 col-lg-6">
                                <label>Position</label>
                                <select class="selectpicker form-control fullwidth" name="membertype" id="membertype">
                                    <option value="ST">Technician</option>
                                    <option value="LT">Lead technician</option>
                                    <option value="S">Subcontractor</option>
                                </select>
                                <input type="hidden" name="Position" id="Position" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6  col-sm-12 col-lg-6">
                                <label>Email</label>
                                <input type="email" name="email" id="email" class="form-control" />
                            </div>
                            <div class="form-group col-md-6  col-sm-12 col-lg-6">
                                <label>Manager</label>
                                <select class="fullwidth form-control CustomHeight" data-height="58" data-live-search="true" name="manager_id" id="manager_id">
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6  col-sm-12 col-lg-6">
                                <label>Phone</label>
                                <input type="text" maxlength="12" id="phone" name="phone" class="form-control phonenumber" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="frmcmember2button" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-times-circle"></i> Close</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <div id="compnaymodel" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Update contractor</h4>
                </div>
                @using (Html.BeginForm("updatecompany", "Contractor", FormMethod.Post, new { @id = "companyfrm" }))
                {<div class="modal-body">
                        <div class="form-group  col-lg-6 col-md-6  col-sm-6  col-xs-12">
                            <label>Contractor name</label>
                            <input type="text" readonly="readonly" id="cname" name="name" class="form-control capitalize" />
                            <input type="hidden" id="cuserid" name="clientid" />
                        </div>
                        <div class="form-group col-lg-6 col-md-6  col-sm-6  col-xs-12">
                            <label>Primary contact</label>
                            <input type="text" name="primarycontactname" id="cprimarycontactname" class="form-control capitalize" required />
                        </div>
                        <div class="clearfix"></div>

                        <div class="form-group col-lg-6 col-md-6  col-sm-6  col-xs-12">
                            <label>Website</label>
                            <input type="text" name="website" id="cwebsite" class="form-control" required />
                        </div>
                        <div class="form-group col-lg-6 col-md-6  col-sm-6  col-xs-12">
                            <label>Rate</label>
                            <span class="help">e.g. "10"</span>
                            <input type="text" name="rate" id="crate" class="form-control ratetext" />
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-lg-6 col-md-6  col-sm-6  col-xs-12">
                            <label>Email address</label>
                            <input type="email" name="email" id="cemail" class="form-control" required />
                        </div>
                        <div class="form-group col-lg-6 col-md-6  col-sm-6  col-xs-12">
                            <label>Phone</label>
                            <input type="text" name="phone" id="cphone" class="form-control phonenumber" required maxlength="12" />
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-lg-6 col-md-6  col-sm-6  col-xs-12">
                            <label for="el3">City</label>
                            <input type="text" name="city" id="companycity_id" class="form-control" />
                        </div>
                        <div class="form-group col-lg-6 col-md-6  col-sm-6  col-xs-12">
                            <label>State</label>
                            <select id="companystate_id" data-live-search="true" name="state_id" class="selectpicker form-control">
                            </select>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-lg-6 col-md-6  col-sm-6  col-xs-12">
                            <label>Address</label>
                            <input type="text" name="address" id="caddress" class="form-control" />
                        </div>
                        <div class="form-group col-lg-6 col-md-6  col-sm-6  col-xs-12">
                            <label>Zip code</label>
                            <input type="text" name="zipcode" id="czipcode" class="form-control" />
                            <input type="hidden" value="1" id="eValidatecity" />
                            <input type="hidden" value="1" id="eValidateadd" />
                            <input type="hidden" value="1" id="eValidatezip" />
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Update</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="modal fade" id="update-manager" data-keyboard="false" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit user</h4>
                </div>
                @using (Html.BeginForm("update_member", "Contractor", FormMethod.Post, new { @class = "form-some-up", @id = "cmember3" }))
                {<div class="modal-body">
                        <div class="row">
                            <div class="form-group col-md-6  col-sm-12 col-lg-6">
                                <label>User ID</label>
                                <input type="text" readonly="readonly" class="form-control capitalize" name="emember_id" id="emember_id" />
                                <input type="hidden" name="euserid" id="euserid" />
                                <input type="hidden" name="eclientid" id="eclientid" value="@Model.Contractorid" />
                            </div>
                            <div class="form-group col-md-6  col-sm-12 col-lg-6">
                                <label>Address</label>
                                <input type="text" name="eMapValidateAddress" id="eMapValidateAddress" required class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6  col-sm-12 col-lg-6">
                                <label>First name</label>
                                <input type="text" name="efname" id="efname" class="form-control capitalize" required />
                            </div>
                            <div class="form-group col-md-6  col-sm-12 col-lg-6">
                                <label>Suite / Apt. #</label>
                                <input type="text" name="esuite" id="esuite" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6  col-sm-12 col-lg-6">
                                <label>Last name</label>
                                <input type="text" name="elname" id="elname" class="form-control" />
                            </div>
                            <div class="form-group col-md-6  col-sm-12 col-lg-6">
                                <label>Position</label>
                                <select class="selectpicker form-control fullwidth" name="emembertype" id="emembertype">
                                    <option value="ST">Technician</option>
                                    <option value="LT">Lead technician</option>
                                    <option value="S">Subcontractor</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6  col-sm-12 col-lg-6">
                                <label>Email</label>
                                <input type="email" name="eemail" id="eemail" class="form-control" />
                            </div>
                            <div class="form-group col-md-6  col-sm-12 col-lg-6">
                                <label>Manager</label>
                                <select class="form-control fullwidth" data-live-search="true" name="emanager_id" id="emanager_id">
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6  col-sm-12 col-lg-6">
                                <label>Phone</label>
                                <input type="text" maxlength="12" id="ephone" name="ephone" class="form-control phonenumber" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="cmember3button" class="btn btn-success"><i class="fa fa-save"></i> Update</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-times-circle"></i> Close</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="panel">
                <div class="panel-heading formpanel-heading">
                    <div class="col-md-6 col-sm-6">
                        <h3 class="panel-title">
                            Contractor detail 
                        </h3>
                    </div>
                    <div class="col-md-6 col-sm-6 topbuttondiv">
                        @if (!Model.issubcontractor)
                        {
                            <a class="btn btn-success btn-sm pull-right" href="@Url.Action("index","Contractor",new { v=1215})">
                                <i class="fa fa-arrow-left"></i> Contractor list
                            </a>
                        }
                        else
                        {
                            if (permission.Contains(5081))
                            {
                                <a class="btn btn-success btn-sm pull-right" href="#" onclick="OpenCompany('@Model.Contractorid','@Model.Contractors.name','@Model.Contractors.primarycontactname','@Model.Contractors.website','@Model.Contractors.rate','@Model.Contractors.email','@Model.Contractors.phone','@Model.Contractors.address','@Model.Contractors.state_id','@Model.Contractors.city','@Model.Contractors.zipcode')">
                                    <i class="fa fa-pencil"></i> Edit
                                </a>
                            }  
                        }
                    </div>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="fnt14">Name:</label>
                        <span id="_cname">@Model.Contractors.name</span>
                    </div>
                    <div class="form-group">
                        <label class="fnt14">Primary contact:</label>
                        <span id="c_primarycontactname">@Model.Contractors.primarycontactname</span>
                    </div>
                    <div class="form-group">
                        <label class="fnt14">Website:</label>
                        <span id="c_website">@Model.Contractors.website</span>
                    </div>
                    <div class="form-group">
                        <label class="fnt14">Rate:</label>
                        <span id="c_rate">@Model.Contractors.rate</span>
                    </div>
                    <div class="form-group">
                        <label class="fnt14">Email:</label>
                        <span id="c_email">@Model.Contractors.email</span>
                    </div>
                    <div class="form-group">
                        <label class="fnt14">Phone:</label>
                        <span id="c_phone">@Model.Contractors.phone</span>
                    </div>
                    <div class="form-group">
                        <label class="fnt14">Address:</label>
                        <span id="c_address">@Model.Contractors.MapValidateAddress</span>
                    </div>
                    <div class="form-group">
                        <label class="fnt14">Suite / Apt. #:</label>
                        <span id="c_city">@Model.Contractors.suite</span>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="panel">
                <div class="panel-heading formpanel-heading">
                    <div class="col-md-6 col-sm-6">
                        <h3 class="panel-title">
                            Users
                        </h3>
                    </div>
                    <div class="col-md-6 col-sm-6 topbuttondiv">
                        @if (permission.Contains(5084))
                        {
                            <a class="btn btn-success btn-sm pull-right" href="#" data-backdrop="static" onclick="add_new('@Model.Contractorid')">
                                <i class="fa fa-plus"></i> Add new user
                            </a>
                        } 
                        @if (permission.Contains(5085))
                        {
                            <a href="#" class="btn btn-success btn-sm pull-right" style="margin-right:8px;" data-backdrop="static" onclick="Uploadfile()">
                                <i class="fas fa-cloud-upload-alt"></i> Upload
                            </a>
                        } 
                    </div>
                </div>
                <div class="panel-body p-none">
                    <div class="col-md-12">
                        <div class="table-ultra-responsive responsivecustom">
                            <table class="table table-condensed nowrap data-table table-hover dataTable no-footer" id="table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Position</th>
                                        <th>Email</th>
                                        <th>Telephone</th>
                                        <th>Manager</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
   var pageSize = 25;
   var otable;
   var editpermission = '@permission.Contains(5086).ToString().ToUpper()';
    var deletepermission = '@permission.Contains(5087).ToString().ToUpper()';
    var _ajaxUrl = "@Url.Action("Fetchmanagers", "Contractor", new {clientid = Model.Contractorid })";
    var _contractorId = '@Model.Contractorid';
</script>
<script src="@Url.Content("~/Content/contractor/script.min.js?v=1.5")"></script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&region=US&key=AIzaSyA1LyE18eEmk5UdDLezPmcOPF47Diugxls" type="text/javascript"></script>
<script type="text/javascript">
    $("#frmcmember2button").on("click", function () {
        $(".alertify-logs").html('');
        if ($("#frmcmember2").valid()) {
            validateAddress("");
        }
    });
    $("#cmember3button").on("click", function () {
        $(".alertify-logs").html('');
        if ($("#cmember3").valid()) {
            validateAddress2("");
        }
    });
    function validateAddress2(address) {
        $(".alertify-logs").html('');
        address = $("#eMapValidateAddress").val();
        var _url = "https://maps.googleapis.com/maps/api/geocode/json?address=" + address + "&sensor=false&key=AIzaSyA1LyE18eEmk5UdDLezPmcOPF47Diugxls";
        $.get(_url, function (data) {
            if (data.results.length > 0) {
                var _newAddress3 = data.results[0].formatted_address.replace(", USA", "");
                if (_newAddress3 == address) {
                    $(".alertify-logs").html('');
                    if ($("#cmember3").valid()) {
                        $("#cmember3").submit();
                    }
                }
                else {
                    $(".alertify-logs").html('');
                    alertify.log('Google map cannot validate your address', 'error', 30000);
                }
            } else {

                $(".alertify-logs").html('');
                alertify.log('Google map cannot validate your address', 'error', 30000);
            }
        });
    }
    function validateAddress(address) {
        $(".alertify-logs").html('');
        address = $("#MapValidateAddress").val();
        var _url = "https://maps.googleapis.com/maps/api/geocode/json?address=" + address + "&sensor=false&key=AIzaSyA1LyE18eEmk5UdDLezPmcOPF47Diugxls";
        $.get(_url, function (data) {
            if (data.results.length > 0) {
                var _newAddress3 = data.results[0].formatted_address.replace(", USA", "");
                if (_newAddress3 == address) {
                    $(".alertify-logs").html('');
                    if ($("#frmcmember2").valid()) {
                        $("#frmcmember2").submit();
                    }
                }
                else {
                    $(".alertify-logs").html('');
                    alertify.log('Google map cannot validate your address', 'error', 30000);
                }
            } else {

                $(".alertify-logs").html('');
                alertify.log('Google map cannot validate your address', 'error', 30000);
            }
        });
    }

    function initialize() {
        $(".alertify-logs").html('');
        var defaultBounds = new google.maps.LatLngBounds(
            new google.maps.LatLng(-33.8902, 151.1759)
        );
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                (position) => {
                    const pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude,
                    };
                    defaultBounds = new google.maps.LatLngBounds
                        (new google.maps.LatLng(pos.lat, pos.lng));
                }
            );
        }
        var options1 = {
            types: ['geocode'], bounds: defaultBounds,
            componentRestrictions: { country: "us" }
        };
        var input1 = document.getElementById('MapValidateAddress');
        var input2 = document.getElementById('eMapValidateAddress');
        var autocomplete1 = new google.maps.places.Autocomplete(input1, options1);
        var autocomplete3 = new google.maps.places.Autocomplete(input2, options1);
        google.maps.event.addListener(autocomplete1, 'place_changed', function () {
            var place = autocomplete1.getPlace();
            var _newAddress = place.formatted_address.replace(", USA", "");
            input1.value = _newAddress;
        });
        google.maps.event.addListener(autocomplete3, 'place_changed', function () {
            var place = autocomplete3.getPlace();
            var _newAddress1 = place.formatted_address.replace(", USA", "");
            input2.value = _newAddress1;
        });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
    document.addEventListener('DOMNodeInserted', function (event) {
        var target = $(event.target);
        if (target.hasClass('pac-item')) {
            target.html(target.html().replace(/, USA<\/span>$/, "</span>"));
        }
        $('.pac-target-input').attr('autocomplete', 'random');
    });
</script>