﻿
@{
    ViewBag.Title = "Legal";
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/assets/img/favicon.png")" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">
        @@charset "UTF-8";

        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
            display: none !important;
        }

        ng\:form {
            display: block;
        }

        .ng-animate-shim {
            visibility: hidden;
        }

        .ng-anchor {
            position: absolute;
        }
    </style>
    <style type="text/css">
        @@charset "UTF-8";

        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
            display: none !important;
        }

        ng\:form {
            display: block;
        }

        .ng-animate-shim {
            visibility: hidden;
        }

        .ng-anchor {
            position: absolute;
        }
    </style>
    <title>Legal Terms </title>
    <meta http-equiv="X-UA-Compatible" content="IE=9, IE=8" />
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=yes" />
    <link rel="stylesheet" href="@Url.Content("~/LegalTermsview_files/fn.min.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/LegalTermsview_files/style.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/LegalTermsview_files/lp.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/LegalTermsview_files/style(1).css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/LegalTermsview_files/techlist.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/LegalTermsview_files/fullcalendar.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/LegalTermsview_files/fullcalendar.print.css")" type="text/css" media="print" />
    <script type="text/javascript">jQuery.noConflict();</script>
    <script type="text/javascript">
        log_in_box_shown = false;
        function toggle_login_box() {

            if (log_in_box_shown) {
                // hide it
                log_in_box_shown = false;
                jQuery("#lp_login").stop();
                jQuery("#lp_login").animate({
                    width: "130px",
                    height: "1px",
                    padding: "0px"
                }, 150, "swing", function () {
                    jQuery("#lp_login").css("display", "none");
                    jQuery("#lp_topactions").css('width', '130px');
                });
            } else {
                // show it
                log_in_box_shown = true;
                jQuery("#lp_login").stop();
                jQuery("#lp_login").css("display", "block");
                jQuery("#lp_topactions").css('width', '230px');
                jQuery("#username").focus();

                var height = log_in_box_shown ? '170px' : '130px';
                jQuery("#lp_login").animate({
                    width: "200px",
                    height: height,
                    padding: "16px"
                }, 150, "swing");
            }
            return false;
        }

        jQuery(function () {
            jQuery('#lp_login_link,#log_in_cancel,.lp_login_link').click(function () {
                if (/MSIE (\d+\.\d+);/.test(navigator.userAgent)) {
                    var ieversion = new Number(RegExp.$1) // capture x.x portion and store as a number
                    if (ieversion < 8) {
                        window.location = "/login.php";
                        return false;
                    }
                }

                return toggle_login_box();
            });
        });

        jQuery(document).ready(function () {
            errorOccured = false;
            if (errorOccured) {
                jQuery("#password").focus();
            }
            jQuery(".request_demo_modal").click(function (e) {
                e.preventDefault();
                create_overlay("/seo/form.php?form_id=2", { width: 620 });

                return false;
            });
        });</script>
    <style>
        .login-new {
            background: #F7F8FA !important;
            padding: 0 !important;
            border: none !important;
        }

        .legal_doc_poplink {
            font-size: .6em;
            margin-left: 0px !important;
        }

        .ta-hidden-input {
            display: none;
        }
    </style>
    <style type="text/css">
        body.swal2-shown:not(.swal2-no-backdrop) {
            overflow-y: hidden;
        }

        body.swal2-toast-shown {
            overflow-y: auto;
        }

            body.swal2-toast-shown.swal2-has-input > .swal2-container > .swal2-toast {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
            }

                body.swal2-toast-shown.swal2-has-input > .swal2-container > .swal2-toast .swal2-icon {
                    margin: 0 0 15px;
                }

                body.swal2-toast-shown.swal2-has-input > .swal2-container > .swal2-toast .swal2-buttonswrapper {
                    -webkit-box-flex: 1;
                    -ms-flex: 1;
                    flex: 1;
                    -ms-flex-item-align: stretch;
                    align-self: stretch;
                    -webkit-box-pack: end;
                    -ms-flex-pack: end;
                    justify-content: flex-end;
                }

                body.swal2-toast-shown.swal2-has-input > .swal2-container > .swal2-toast .swal2-loading {
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                }

                body.swal2-toast-shown.swal2-has-input > .swal2-container > .swal2-toast .swal2-input {
                    height: 32px;
                    font-size: 14px;
                    margin: 5px auto;
                }

            body.swal2-toast-shown > .swal2-container {
                position: fixed;
                background-color: transparent;
            }

                body.swal2-toast-shown > .swal2-container.swal2-shown {
                    background-color: transparent;
                }

                body.swal2-toast-shown > .swal2-container.swal2-top {
                    top: 0;
                    left: 50%;
                    bottom: auto;
                    right: auto;
                    -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
                }

                body.swal2-toast-shown > .swal2-container.swal2-top-right {
                    top: 0;
                    left: auto;
                    bottom: auto;
                    right: 0;
                }

                body.swal2-toast-shown > .swal2-container.swal2-top-left {
                    top: 0;
                    left: 0;
                    bottom: auto;
                    right: auto;
                }

                body.swal2-toast-shown > .swal2-container.swal2-center-left {
                    top: 50%;
                    left: 0;
                    bottom: auto;
                    right: auto;
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                }

                body.swal2-toast-shown > .swal2-container.swal2-center {
                    top: 50%;
                    left: 50%;
                    bottom: auto;
                    right: auto;
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                }

                body.swal2-toast-shown > .swal2-container.swal2-center-right {
                    top: 50%;
                    left: auto;
                    bottom: auto;
                    right: 0;
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                }

                body.swal2-toast-shown > .swal2-container.swal2-bottom-left {
                    top: auto;
                    left: 0;
                    bottom: 0;
                    right: auto;
                }

                body.swal2-toast-shown > .swal2-container.swal2-bottom {
                    top: auto;
                    left: 50%;
                    bottom: 0;
                    right: auto;
                    -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
                }

                body.swal2-toast-shown > .swal2-container.swal2-bottom-right {
                    top: auto;
                    left: auto;
                    bottom: 0;
                    right: 0;
                }

        body.swal2-iosfix {
            position: fixed;
            left: 0;
            right: 0;
        }

        body.swal2-no-backdrop > .swal2-shown {
            top: auto;
            bottom: auto;
            left: auto;
            right: auto;
            background-color: transparent;
        }

            body.swal2-no-backdrop > .swal2-shown > .swal2-modal {
                -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
            }

            body.swal2-no-backdrop > .swal2-shown.swal2-top {
                top: 0;
                left: 50%;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
            }

            body.swal2-no-backdrop > .swal2-shown.swal2-top-left {
                top: 0;
                left: 0;
            }

            body.swal2-no-backdrop > .swal2-shown.swal2-top-right {
                top: 0;
                right: 0;
            }

            body.swal2-no-backdrop > .swal2-shown.swal2-center {
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }

            body.swal2-no-backdrop > .swal2-shown.swal2-center-left {
                top: 50%;
                left: 0;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
            }

            body.swal2-no-backdrop > .swal2-shown.swal2-center-right {
                top: 50%;
                right: 0;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
            }

            body.swal2-no-backdrop > .swal2-shown.swal2-bottom {
                bottom: 0;
                left: 50%;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
            }

            body.swal2-no-backdrop > .swal2-shown.swal2-bottom-left {
                bottom: 0;
                left: 0;
            }

            body.swal2-no-backdrop > .swal2-shown.swal2-bottom-right {
                bottom: 0;
                right: 0;
            }

        .swal2-container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            position: fixed;
            padding: 10px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: transparent;
            z-index: 1060;
        }

            .swal2-container.swal2-top {
                -webkit-box-align: start;
                -ms-flex-align: start;
                align-items: flex-start;
            }

            .swal2-container.swal2-top-left {
                -webkit-box-align: start;
                -ms-flex-align: start;
                align-items: flex-start;
                -webkit-box-pack: start;
                -ms-flex-pack: start;
                justify-content: flex-start;
            }

            .swal2-container.swal2-top-right {
                -webkit-box-align: start;
                -ms-flex-align: start;
                align-items: flex-start;
                -webkit-box-pack: end;
                -ms-flex-pack: end;
                justify-content: flex-end;
            }

            .swal2-container.swal2-center {
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
            }

            .swal2-container.swal2-center-left {
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: start;
                -ms-flex-pack: start;
                justify-content: flex-start;
            }

            .swal2-container.swal2-center-right {
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: end;
                -ms-flex-pack: end;
                justify-content: flex-end;
            }

            .swal2-container.swal2-bottom {
                -webkit-box-align: end;
                -ms-flex-align: end;
                align-items: flex-end;
            }

            .swal2-container.swal2-bottom-left {
                -webkit-box-align: end;
                -ms-flex-align: end;
                align-items: flex-end;
                -webkit-box-pack: start;
                -ms-flex-pack: start;
                justify-content: flex-start;
            }

            .swal2-container.swal2-bottom-right {
                -webkit-box-align: end;
                -ms-flex-align: end;
                align-items: flex-end;
                -webkit-box-pack: end;
                -ms-flex-pack: end;
                justify-content: flex-end;
            }

            .swal2-container.swal2-grow-fullscreen > .swal2-modal {
                display: -webkit-box !important;
                display: -ms-flexbox !important;
                display: flex !important;
                -webkit-box-flex: 1;
                -ms-flex: 1;
                flex: 1;
                -ms-flex-item-align: stretch;
                align-self: stretch;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
            }

            .swal2-container.swal2-grow-row > .swal2-modal {
                display: -webkit-box !important;
                display: -ms-flexbox !important;
                display: flex !important;
                -webkit-box-flex: 1;
                -ms-flex: 1;
                flex: 1;
                -ms-flex-line-pack: center;
                align-content: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
            }

            .swal2-container.swal2-grow-column {
                -webkit-box-flex: 1;
                -ms-flex: 1;
                flex: 1;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
            }

                .swal2-container.swal2-grow-column.swal2-top, .swal2-container.swal2-grow-column.swal2-center, .swal2-container.swal2-grow-column.swal2-bottom {
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                }

                .swal2-container.swal2-grow-column.swal2-top-left, .swal2-container.swal2-grow-column.swal2-center-left, .swal2-container.swal2-grow-column.swal2-bottom-left {
                    -webkit-box-align: start;
                    -ms-flex-align: start;
                    align-items: flex-start;
                }

                .swal2-container.swal2-grow-column.swal2-top-right, .swal2-container.swal2-grow-column.swal2-center-right, .swal2-container.swal2-grow-column.swal2-bottom-right {
                    -webkit-box-align: end;
                    -ms-flex-align: end;
                    align-items: flex-end;
                }

                .swal2-container.swal2-grow-column > .swal2-modal {
                    display: -webkit-box !important;
                    display: -ms-flexbox !important;
                    display: flex !important;
                    -webkit-box-flex: 1;
                    -ms-flex: 1;
                    flex: 1;
                    -ms-flex-line-pack: center;
                    align-content: center;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                }

            .swal2-container:not(.swal2-top):not(.swal2-top-left):not(.swal2-top-right):not(.swal2-center-left):not(.swal2-center-right):not(.swal2-bottom):not(.swal2-bottom-left):not(.swal2-bottom-right) > .swal2-modal {
                margin: auto;
            }

        @@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            .swal2-container .swal2-modal {
                margin: 0 !important;
            }
        }

        .swal2-container.swal2-fade {
            -webkit-transition: background-color .1s;
            transition: background-color .1s;
        }

        .swal2-container.swal2-shown {
            background-color: rgba(0, 0, 0, 0.4);
        }

        .swal2-popup {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            background-color: #fff;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            border-radius: 5px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            text-align: center;
            overflow-x: hidden;
            overflow-y: auto;
            display: none;
            position: relative;
            max-width: 100%;
        }

            .swal2-popup.swal2-toast {
                width: 300px;
                padding: 0 15px;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                overflow-y: hidden;
                -webkit-box-shadow: 0 0 10px #d9d9d9;
                box-shadow: 0 0 10px #d9d9d9;
            }

                .swal2-popup.swal2-toast .swal2-title {
                    max-width: 300px;
                    font-size: 16px;
                    text-align: left;
                }

                .swal2-popup.swal2-toast .swal2-content {
                    font-size: 14px;
                    text-align: left;
                }

                .swal2-popup.swal2-toast .swal2-icon {
                    width: 32px;
                    height: 32px;
                    margin: 0 15px 0 0;
                }

                    .swal2-popup.swal2-toast .swal2-icon.swal2-success .swal2-success-ring {
                        width: 32px;
                        height: 32px;
                    }

                    .swal2-popup.swal2-toast .swal2-icon.swal2-info, .swal2-popup.swal2-toast .swal2-icon.swal2-warning, .swal2-popup.swal2-toast .swal2-icon.swal2-question {
                        font-size: 26px;
                        line-height: 32px;
                    }

                    .swal2-popup.swal2-toast .swal2-icon.swal2-error [class^='swal2-x-mark-line'] {
                        top: 14px;
                        width: 22px;
                    }

                        .swal2-popup.swal2-toast .swal2-icon.swal2-error [class^='swal2-x-mark-line'][class$='left'] {
                            left: 5px;
                        }

                        .swal2-popup.swal2-toast .swal2-icon.swal2-error [class^='swal2-x-mark-line'][class$='right'] {
                            right: 5px;
                        }

                .swal2-popup.swal2-toast .swal2-buttonswrapper {
                    margin: 0 0 0 5px;
                }

                .swal2-popup.swal2-toast .swal2-styled {
                    margin: 0 0 0 5px;
                    padding: 5px 10px;
                }

                    .swal2-popup.swal2-toast .swal2-styled:focus {
                        -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 2px rgba(50, 100, 150, 0.4);
                        box-shadow: 0 0 0 1px #fff, 0 0 0 2px rgba(50, 100, 150, 0.4);
                    }

                .swal2-popup.swal2-toast .swal2-validationerror {
                    width: 100%;
                    margin: 5px -20px;
                }

                .swal2-popup.swal2-toast .swal2-success {
                    border-color: #a5dc86;
                }

                    .swal2-popup.swal2-toast .swal2-success [class^='swal2-success-circular-line'] {
                        border-radius: 50%;
                        position: absolute;
                        width: 32px;
                        height: 64px;
                        -webkit-transform: rotate(45deg);
                        transform: rotate(45deg);
                    }

                        .swal2-popup.swal2-toast .swal2-success [class^='swal2-success-circular-line'][class$='left'] {
                            border-radius: 64px 0 0 64px;
                            top: -4px;
                            left: -15px;
                            -webkit-transform: rotate(-45deg);
                            transform: rotate(-45deg);
                            -webkit-transform-origin: 32px 32px;
                            transform-origin: 32px 32px;
                        }

                        .swal2-popup.swal2-toast .swal2-success [class^='swal2-success-circular-line'][class$='right'] {
                            border-radius: 0 64px 64px 0;
                            top: -5px;
                            left: 14px;
                            -webkit-transform-origin: 0 32px;
                            transform-origin: 0 32px;
                        }

                    .swal2-popup.swal2-toast .swal2-success .swal2-success-ring {
                        width: 32px;
                        height: 32px;
                    }

                    .swal2-popup.swal2-toast .swal2-success .swal2-success-fix {
                        width: 7px;
                        height: 90px;
                        left: 28px;
                        top: 8px;
                    }

                    .swal2-popup.swal2-toast .swal2-success [class^='swal2-success-line'] {
                        height: 5px;
                    }

                        .swal2-popup.swal2-toast .swal2-success [class^='swal2-success-line'][class$='tip'] {
                            width: 12px;
                            left: 3px;
                            top: 18px;
                        }

                        .swal2-popup.swal2-toast .swal2-success [class^='swal2-success-line'][class$='long'] {
                            width: 22px;
                            right: 3px;
                            top: 15px;
                        }

                .swal2-popup.swal2-toast .swal2-animate-success-line-tip {
                    -webkit-animation: animate-toast-success-tip .75s;
                    animation: animate-toast-success-tip .75s;
                }

                .swal2-popup.swal2-toast .swal2-animate-success-line-long {
                    -webkit-animation: animate-toast-success-long .75s;
                    animation: animate-toast-success-long .75s;
                }

            .swal2-popup:focus {
                outline: none;
            }

            .swal2-popup.swal2-loading {
                overflow-y: hidden;
            }

            .swal2-popup .swal2-title {
                color: #595959;
                font-size: 30px;
                text-align: center;
                font-weight: 600;
                text-transform: none;
                position: relative;
                margin: 0 0 .4em;
                padding: 0;
                display: block;
                word-wrap: break-word;
            }

            .swal2-popup .swal2-buttonswrapper {
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                margin-top: 15px;
            }

                .swal2-popup .swal2-buttonswrapper:not(.swal2-loading) .swal2-styled[disabled] {
                    opacity: .4;
                    cursor: no-drop;
                }

                .swal2-popup .swal2-buttonswrapper.swal2-loading .swal2-styled.swal2-confirm {
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    border: 4px solid transparent;
                    border-color: transparent;
                    width: 40px;
                    height: 40px;
                    padding: 0;
                    margin: 7.5px;
                    vertical-align: top;
                    background-color: transparent !important;
                    color: transparent;
                    cursor: default;
                    border-radius: 100%;
                    -webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
                    animation: rotate-loading 1.5s linear 0s infinite normal;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }

                .swal2-popup .swal2-buttonswrapper.swal2-loading .swal2-styled.swal2-cancel {
                    margin-left: 30px;
                    margin-right: 30px;
                }

                .swal2-popup .swal2-buttonswrapper.swal2-loading :not(.swal2-styled).swal2-confirm::after {
                    display: inline-block;
                    content: '';
                    margin-left: 5px;
                    vertical-align: -1px;
                    height: 15px;
                    width: 15px;
                    border: 3px solid #999999;
                    -webkit-box-shadow: 1px 1px 1px #fff;
                    box-shadow: 1px 1px 1px #fff;
                    border-right-color: transparent;
                    border-radius: 50%;
                    -webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
                    animation: rotate-loading 1.5s linear 0s infinite normal;
                }

            .swal2-popup .swal2-styled {
                border: 0;
                border-radius: 3px;
                -webkit-box-shadow: none;
                box-shadow: none;
                color: #fff;
                cursor: pointer;
                font-size: 17px;
                font-weight: 500;
                margin: 15px 5px 0;
                padding: 10px 32px;
            }

                .swal2-popup .swal2-styled:focus {
                    outline: none;
                    -webkit-box-shadow: 0 0 0 2px #fff, 0 0 0 4px rgba(50, 100, 150, 0.4);
                    box-shadow: 0 0 0 2px #fff, 0 0 0 4px rgba(50, 100, 150, 0.4);
                }

            .swal2-popup .swal2-image {
                margin: 20px auto;
                max-width: 100%;
            }

            .swal2-popup .swal2-close {
                background: transparent;
                border: 0;
                margin: 0;
                padding: 0;
                width: 38px;
                height: 40px;
                font-size: 36px;
                line-height: 40px;
                font-family: serif;
                position: absolute;
                top: 5px;
                right: 8px;
                cursor: pointer;
                color: #cccccc;
                -webkit-transition: color .1s ease;
                transition: color .1s ease;
            }

                .swal2-popup .swal2-close:hover {
                    color: #d55;
                }

            .swal2-popup > .swal2-input,
            .swal2-popup > .swal2-file,
            .swal2-popup > .swal2-textarea,
            .swal2-popup > .swal2-select,
            .swal2-popup > .swal2-radio,
            .swal2-popup > .swal2-checkbox {
                display: none;
            }

            .swal2-popup .swal2-content {
                font-size: 18px;
                text-align: center;
                font-weight: 300;
                position: relative;
                float: none;
                margin: 0;
                padding: 0;
                line-height: normal;
                color: #545454;
                word-wrap: break-word;
            }

            .swal2-popup .swal2-input,
            .swal2-popup .swal2-file,
            .swal2-popup .swal2-textarea,
            .swal2-popup .swal2-select,
            .swal2-popup .swal2-radio,
            .swal2-popup .swal2-checkbox {
                margin: 20px auto;
            }

            .swal2-popup .swal2-input,
            .swal2-popup .swal2-file,
            .swal2-popup .swal2-textarea {
                width: 100%;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                font-size: 18px;
                border-radius: 3px;
                border: 1px solid #d9d9d9;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.06);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.06);
                -webkit-transition: border-color .3s, -webkit-box-shadow .3s;
                transition: border-color .3s, -webkit-box-shadow .3s;
                transition: border-color .3s, box-shadow .3s;
                transition: border-color .3s, box-shadow .3s, -webkit-box-shadow .3s;
            }

                .swal2-popup .swal2-input.swal2-inputerror,
                .swal2-popup .swal2-file.swal2-inputerror,
                .swal2-popup .swal2-textarea.swal2-inputerror {
                    border-color: #f27474 !important;
                    -webkit-box-shadow: 0 0 2px #f27474 !important;
                    box-shadow: 0 0 2px #f27474 !important;
                }

                .swal2-popup .swal2-input:focus,
                .swal2-popup .swal2-file:focus,
                .swal2-popup .swal2-textarea:focus {
                    outline: none;
                    border: 1px solid #b4dbed;
                    -webkit-box-shadow: 0 0 3px #c4e6f5;
                    box-shadow: 0 0 3px #c4e6f5;
                }

                .swal2-popup .swal2-input::-webkit-input-placeholder,
                .swal2-popup .swal2-file::-webkit-input-placeholder,
                .swal2-popup .swal2-textarea::-webkit-input-placeholder {
                    color: #cccccc;
                }

                .swal2-popup .swal2-input:-ms-input-placeholder,
                .swal2-popup .swal2-file:-ms-input-placeholder,
                .swal2-popup .swal2-textarea:-ms-input-placeholder {
                    color: #cccccc;
                }

                .swal2-popup .swal2-input::-ms-input-placeholder,
                .swal2-popup .swal2-file::-ms-input-placeholder,
                .swal2-popup .swal2-textarea::-ms-input-placeholder {
                    color: #cccccc;
                }

                .swal2-popup .swal2-input::placeholder,
                .swal2-popup .swal2-file::placeholder,
                .swal2-popup .swal2-textarea::placeholder {
                    color: #cccccc;
                }

            .swal2-popup .swal2-range input {
                float: left;
                width: 80%;
            }

            .swal2-popup .swal2-range output {
                float: right;
                width: 20%;
                font-size: 20px;
                font-weight: 600;
                text-align: center;
            }

            .swal2-popup .swal2-range input,
            .swal2-popup .swal2-range output {
                height: 43px;
                line-height: 43px;
                vertical-align: middle;
                margin: 20px auto;
                padding: 0;
            }

            .swal2-popup .swal2-input {
                height: 43px;
                padding: 0 12px;
            }

                .swal2-popup .swal2-input[type='number'] {
                    max-width: 150px;
                }

            .swal2-popup .swal2-file {
                font-size: 20px;
            }

            .swal2-popup .swal2-textarea {
                height: 108px;
                padding: 12px;
            }

            .swal2-popup .swal2-select {
                color: #545454;
                font-size: inherit;
                padding: 5px 10px;
                min-width: 40%;
                max-width: 100%;
            }

            .swal2-popup .swal2-radio {
                border: 0;
            }

                .swal2-popup .swal2-radio label:not(:first-child) {
                    margin-left: 20px;
                }

                .swal2-popup .swal2-radio input,
                .swal2-popup .swal2-radio span {
                    vertical-align: middle;
                }

                .swal2-popup .swal2-radio input {
                    margin: 0 3px 0 0;
                }

            .swal2-popup .swal2-checkbox {
                color: #545454;
            }

                .swal2-popup .swal2-checkbox input,
                .swal2-popup .swal2-checkbox span {
                    vertical-align: middle;
                }

            .swal2-popup .swal2-validationerror {
                background-color: #f0f0f0;
                margin: 0 -20px;
                overflow: hidden;
                padding: 10px;
                color: gray;
                font-size: 16px;
                font-weight: 300;
                display: none;
            }

                .swal2-popup .swal2-validationerror::before {
                    content: '!';
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    background-color: #ea7d7d;
                    color: #fff;
                    line-height: 24px;
                    text-align: center;
                    margin-right: 10px;
                }

        @@supports (-ms-accelerator: true) {
            .swal2-range input {
                width: 100% !important;
            }

            .swal2-range output {
                display: none;
            }
        }

        @@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            .swal2-range input {
                width: 100% !important;
            }

            .swal2-range output {
                display: none;
            }
        }

        .swal2-icon {
            width: 80px;
            height: 80px;
            border: 4px solid transparent;
            border-radius: 50%;
            margin: 20px auto 30px;
            padding: 0;
            position: relative;
            -webkit-box-sizing: content-box;
            box-sizing: content-box;
            cursor: default;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

            .swal2-icon.swal2-error {
                border-color: #f27474;
            }

                .swal2-icon.swal2-error .swal2-x-mark {
                    position: relative;
                    display: block;
                }

                .swal2-icon.swal2-error [class^='swal2-x-mark-line'] {
                    position: absolute;
                    height: 5px;
                    width: 47px;
                    background-color: #f27474;
                    display: block;
                    top: 37px;
                    border-radius: 2px;
                }

                    .swal2-icon.swal2-error [class^='swal2-x-mark-line'][class$='left'] {
                        -webkit-transform: rotate(45deg);
                        transform: rotate(45deg);
                        left: 17px;
                    }

                    .swal2-icon.swal2-error [class^='swal2-x-mark-line'][class$='right'] {
                        -webkit-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                        right: 16px;
                    }

            .swal2-icon.swal2-warning {
                font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                color: #f8bb86;
                border-color: #facea8;
                font-size: 60px;
                line-height: 80px;
                text-align: center;
            }

            .swal2-icon.swal2-info {
                font-family: 'Open Sans', sans-serif;
                color: #3fc3ee;
                border-color: #9de0f6;
                font-size: 60px;
                line-height: 80px;
                text-align: center;
            }

            .swal2-icon.swal2-question {
                font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                color: #87adbd;
                border-color: #c9dae1;
                font-size: 60px;
                line-height: 80px;
                text-align: center;
            }

            .swal2-icon.swal2-success {
                border-color: #a5dc86;
            }

                .swal2-icon.swal2-success [class^='swal2-success-circular-line'] {
                    border-radius: 50%;
                    position: absolute;
                    width: 60px;
                    height: 120px;
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                }

                    .swal2-icon.swal2-success [class^='swal2-success-circular-line'][class$='left'] {
                        border-radius: 120px 0 0 120px;
                        top: -7px;
                        left: -33px;
                        -webkit-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                        -webkit-transform-origin: 60px 60px;
                        transform-origin: 60px 60px;
                    }

                    .swal2-icon.swal2-success [class^='swal2-success-circular-line'][class$='right'] {
                        border-radius: 0 120px 120px 0;
                        top: -11px;
                        left: 30px;
                        -webkit-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                        -webkit-transform-origin: 0 60px;
                        transform-origin: 0 60px;
                    }

                .swal2-icon.swal2-success .swal2-success-ring {
                    width: 80px;
                    height: 80px;
                    border: 4px solid rgba(165, 220, 134, 0.2);
                    border-radius: 50%;
                    -webkit-box-sizing: content-box;
                    box-sizing: content-box;
                    position: absolute;
                    left: -4px;
                    top: -4px;
                    z-index: 2;
                }

                .swal2-icon.swal2-success .swal2-success-fix {
                    width: 7px;
                    height: 90px;
                    position: absolute;
                    left: 28px;
                    top: 8px;
                    z-index: 1;
                    -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                }

                .swal2-icon.swal2-success [class^='swal2-success-line'] {
                    height: 5px;
                    background-color: #a5dc86;
                    display: block;
                    border-radius: 2px;
                    position: absolute;
                    z-index: 2;
                }

                    .swal2-icon.swal2-success [class^='swal2-success-line'][class$='tip'] {
                        width: 25px;
                        left: 14px;
                        top: 46px;
                        -webkit-transform: rotate(45deg);
                        transform: rotate(45deg);
                    }

                    .swal2-icon.swal2-success [class^='swal2-success-line'][class$='long'] {
                        width: 47px;
                        right: 8px;
                        top: 38px;
                        -webkit-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                    }

        .swal2-progresssteps {
            font-weight: 600;
            margin: 0 0 20px;
            padding: 0;
        }

            .swal2-progresssteps li {
                display: inline-block;
                position: relative;
            }

            .swal2-progresssteps .swal2-progresscircle {
                background: #3085d6;
                border-radius: 2em;
                color: #fff;
                height: 2em;
                line-height: 2em;
                text-align: center;
                width: 2em;
                z-index: 20;
            }

                .swal2-progresssteps .swal2-progresscircle:first-child {
                    margin-left: 0;
                }

                .swal2-progresssteps .swal2-progresscircle:last-child {
                    margin-right: 0;
                }

                .swal2-progresssteps .swal2-progresscircle.swal2-activeprogressstep {
                    background: #3085d6;
                }

                    .swal2-progresssteps .swal2-progresscircle.swal2-activeprogressstep ~ .swal2-progresscircle {
                        background: #add8e6;
                    }

                    .swal2-progresssteps .swal2-progresscircle.swal2-activeprogressstep ~ .swal2-progressline {
                        background: #add8e6;
                    }

            .swal2-progresssteps .swal2-progressline {
                background: #3085d6;
                height: .4em;
                margin: 0 -1px;
                z-index: 10;
            }

        [class^='swal2'] {
            -webkit-tap-highlight-color: transparent;
        }

        @@-webkit-keyframes showSweetToast {
            0% {
                -webkit-transform: translateY(-10px) rotateZ(2deg);
                transform: translateY(-10px) rotateZ(2deg);
                opacity: 0;
            }

            33% {
                -webkit-transform: translateY(0) rotateZ(-2deg);
                transform: translateY(0) rotateZ(-2deg);
                opacity: .5;
            }

            66% {
                -webkit-transform: translateY(5px) rotateZ(2deg);
                transform: translateY(5px) rotateZ(2deg);
                opacity: .7;
            }

            100% {
                -webkit-transform: translateY(0) rotateZ(0);
                transform: translateY(0) rotateZ(0);
                opacity: 1;
            }
        }

        @@keyframes showSweetToast {
            0% {
                -webkit-transform: translateY(-10px) rotateZ(2deg);
                transform: translateY(-10px) rotateZ(2deg);
                opacity: 0;
            }

            33% {
                -webkit-transform: translateY(0) rotateZ(-2deg);
                transform: translateY(0) rotateZ(-2deg);
                opacity: .5;
            }

            66% {
                -webkit-transform: translateY(5px) rotateZ(2deg);
                transform: translateY(5px) rotateZ(2deg);
                opacity: .7;
            }

            100% {
                -webkit-transform: translateY(0) rotateZ(0);
                transform: translateY(0) rotateZ(0);
                opacity: 1;
            }
        }

        @@-webkit-keyframes hideSweetToast {
            0% {
                opacity: 1;
            }

            33% {
                opacity: .5;
            }

            100% {
                -webkit-transform: rotateZ(1deg);
                transform: rotateZ(1deg);
                opacity: 0;
            }
        }

        @@keyframes hideSweetToast {
            0% {
                opacity: 1;
            }

            33% {
                opacity: .5;
            }

            100% {
                -webkit-transform: rotateZ(1deg);
                transform: rotateZ(1deg);
                opacity: 0;
            }
        }

        @@-webkit-keyframes showSweetAlert {
            0% {
                -webkit-transform: scale(0.7);
                transform: scale(0.7);
            }

            45% {
                -webkit-transform: scale(1.05);
                transform: scale(1.05);
            }

            80% {
                -webkit-transform: scale(0.95);
                transform: scale(0.95);
            }

            100% {
                -webkit-transform: scale(1);
                transform: scale(1);
            }
        }

        @@keyframes showSweetAlert {
            0% {
                -webkit-transform: scale(0.7);
                transform: scale(0.7);
            }

            45% {
                -webkit-transform: scale(1.05);
                transform: scale(1.05);
            }

            80% {
                -webkit-transform: scale(0.95);
                transform: scale(0.95);
            }

            100% {
                -webkit-transform: scale(1);
                transform: scale(1);
            }
        }

        @@-webkit-keyframes hideSweetAlert {
            0% {
                -webkit-transform: scale(1);
                transform: scale(1);
                opacity: 1;
            }

            100% {
                -webkit-transform: scale(0.5);
                transform: scale(0.5);
                opacity: 0;
            }
        }

        @@keyframes hideSweetAlert {
            0% {
                -webkit-transform: scale(1);
                transform: scale(1);
                opacity: 1;
            }

            100% {
                -webkit-transform: scale(0.5);
                transform: scale(0.5);
                opacity: 0;
            }
        }

        .swal2-show {
            -webkit-animation: showSweetAlert .3s;
            animation: showSweetAlert .3s;
        }

            .swal2-show.swal2-toast {
                -webkit-animation: showSweetToast .5s;
                animation: showSweetToast .5s;
            }

            .swal2-show.swal2-noanimation {
                -webkit-animation: none;
                animation: none;
            }

        .swal2-hide {
            -webkit-animation: hideSweetAlert .15s forwards;
            animation: hideSweetAlert .15s forwards;
        }

            .swal2-hide.swal2-toast {
                -webkit-animation: hideSweetToast .2s forwards;
                animation: hideSweetToast .2s forwards;
            }

            .swal2-hide.swal2-noanimation {
                -webkit-animation: none;
                animation: none;
            }

        @@-webkit-keyframes animate-success-tip {
            0% {
                width: 0;
                left: 1px;
                top: 19px;
            }

            54% {
                width: 0;
                left: 1px;
                top: 19px;
            }

            70% {
                width: 50px;
                left: -8px;
                top: 37px;
            }

            84% {
                width: 17px;
                left: 21px;
                top: 48px;
            }

            100% {
                width: 25px;
                left: 14px;
                top: 45px;
            }
        }

        @@keyframes animate-success-tip {
            0% {
                width: 0;
                left: 1px;
                top: 19px;
            }

            54% {
                width: 0;
                left: 1px;
                top: 19px;
            }

            70% {
                width: 50px;
                left: -8px;
                top: 37px;
            }

            84% {
                width: 17px;
                left: 21px;
                top: 48px;
            }

            100% {
                width: 25px;
                left: 14px;
                top: 45px;
            }
        }

        @@-webkit-keyframes animate-success-long {
            0% {
                width: 0;
                right: 46px;
                top: 54px;
            }

            65% {
                width: 0;
                right: 46px;
                top: 54px;
            }

            84% {
                width: 55px;
                right: 0;
                top: 35px;
            }

            100% {
                width: 47px;
                right: 8px;
                top: 38px;
            }
        }

        @@keyframes animate-success-long {
            0% {
                width: 0;
                right: 46px;
                top: 54px;
            }

            65% {
                width: 0;
                right: 46px;
                top: 54px;
            }

            84% {
                width: 55px;
                right: 0;
                top: 35px;
            }

            100% {
                width: 47px;
                right: 8px;
                top: 38px;
            }
        }

        @@-webkit-keyframes animate-toast-success-tip {
            0% {
                width: 0;
                left: 1px;
                top: 9px;
            }

            54% {
                width: 0;
                left: 1px;
                top: 9px;
            }

            70% {
                width: 24px;
                left: -4px;
                top: 17px;
            }

            84% {
                width: 8px;
                left: 10px;
                top: 20px;
            }

            100% {
                width: 12px;
                left: 3px;
                top: 18px;
            }
        }

        @@keyframes animate-toast-success-tip {
            0% {
                width: 0;
                left: 1px;
                top: 9px;
            }

            54% {
                width: 0;
                left: 1px;
                top: 9px;
            }

            70% {
                width: 24px;
                left: -4px;
                top: 17px;
            }

            84% {
                width: 8px;
                left: 10px;
                top: 20px;
            }

            100% {
                width: 12px;
                left: 3px;
                top: 18px;
            }
        }

        @@-webkit-keyframes animate-toast-success-long {
            0% {
                width: 0;
                right: 22px;
                top: 26px;
            }

            65% {
                width: 0;
                right: 22px;
                top: 26px;
            }

            84% {
                width: 26px;
                right: 0;
                top: 15px;
            }

            100% {
                width: 22px;
                right: 3px;
                top: 15px;
            }
        }

        @@keyframes animate-toast-success-long {
            0% {
                width: 0;
                right: 22px;
                top: 26px;
            }

            65% {
                width: 0;
                right: 22px;
                top: 26px;
            }

            84% {
                width: 26px;
                right: 0;
                top: 15px;
            }

            100% {
                width: 22px;
                right: 3px;
                top: 15px;
            }
        }

        @@-webkit-keyframes rotatePlaceholder {
            0% {
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }

            5% {
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }

            12% {
                -webkit-transform: rotate(-405deg);
                transform: rotate(-405deg);
            }

            100% {
                -webkit-transform: rotate(-405deg);
                transform: rotate(-405deg);
            }
        }

        @@keyframes rotatePlaceholder {
            0% {
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }

            5% {
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }

            12% {
                -webkit-transform: rotate(-405deg);
                transform: rotate(-405deg);
            }

            100% {
                -webkit-transform: rotate(-405deg);
                transform: rotate(-405deg);
            }
        }

        .swal2-animate-success-line-tip {
            -webkit-animation: animate-success-tip .75s;
            animation: animate-success-tip .75s;
        }

        .swal2-animate-success-line-long {
            -webkit-animation: animate-success-long .75s;
            animation: animate-success-long .75s;
        }

        .swal2-success.swal2-animate-success-icon .swal2-success-circular-line-right {
            -webkit-animation: rotatePlaceholder 4.25s ease-in;
            animation: rotatePlaceholder 4.25s ease-in;
        }

        @@-webkit-keyframes animate-error-icon {
            0% {
                -webkit-transform: rotateX(100deg);
                transform: rotateX(100deg);
                opacity: 0;
            }

            100% {
                -webkit-transform: rotateX(0deg);
                transform: rotateX(0deg);
                opacity: 1;
            }
        }

        @@keyframes animate-error-icon {
            0% {
                -webkit-transform: rotateX(100deg);
                transform: rotateX(100deg);
                opacity: 0;
            }

            100% {
                -webkit-transform: rotateX(0deg);
                transform: rotateX(0deg);
                opacity: 1;
            }
        }

        .swal2-animate-error-icon {
            -webkit-animation: animate-error-icon .5s;
            animation: animate-error-icon .5s;
        }

        @@-webkit-keyframes animate-x-mark {
            0% {
                -webkit-transform: scale(0.4);
                transform: scale(0.4);
                margin-top: 26px;
                opacity: 0;
            }

            50% {
                -webkit-transform: scale(0.4);
                transform: scale(0.4);
                margin-top: 26px;
                opacity: 0;
            }

            80% {
                -webkit-transform: scale(1.15);
                transform: scale(1.15);
                margin-top: -6px;
            }

            100% {
                -webkit-transform: scale(1);
                transform: scale(1);
                margin-top: 0;
                opacity: 1;
            }
        }

        @@keyframes animate-x-mark {
            0% {
                -webkit-transform: scale(0.4);
                transform: scale(0.4);
                margin-top: 26px;
                opacity: 0;
            }

            50% {
                -webkit-transform: scale(0.4);
                transform: scale(0.4);
                margin-top: 26px;
                opacity: 0;
            }

            80% {
                -webkit-transform: scale(1.15);
                transform: scale(1.15);
                margin-top: -6px;
            }

            100% {
                -webkit-transform: scale(1);
                transform: scale(1);
                margin-top: 0;
                opacity: 1;
            }
        }

        .swal2-animate-x-mark {
            -webkit-animation: animate-x-mark .5s;
            animation: animate-x-mark .5s;
        }

        @@-webkit-keyframes rotate-loading {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        @@keyframes rotate-loading {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        .maincolor {
            color: var(--blue) !important;
        }

        .mainbgcolor {
            background-color: var(--blue) !important;
        }

        .fnt300 {
            font-weight: 400 !important;
            font-size: 24px !important;
        }

        .top-logo-holder {
            padding: 15px 30px 15px;
            border-top: 0.5em solid var(--blue) !important;
        }

        ol {
            list-style-type: none;
        }

        .itemnum {
            font-weight: 700;
            margin-right: .5em !important;
            padding-left: 33px !important;
        }

        .pd54 {
            padding-left: 54px;
        }
    </style>
</head>
<body id="lp_body" class="login-new" cz-shortcut-listen="true">
    <div class="top-logo-holder">
        <a href="https://taskayak.com/" class="maincolor fnt300">  <img style="width:200px;" src="@Url.Content("~/Content/Images/logo1.png")" /></a>
    </div>
    <div id="lp_main" class="login-new">
        <div class="content-legacy">
            <link rel="stylesheet" href="@Url.Content("~/LegalTermsview_files/legal.css")" /><div class="legal_page">
                <div class="legal_doc_title">
                    <a class="legal_doc_poplink fnbutton fnb-small" href="https://taskayak.com/legal/index/">Return</a>
                </div>
                <div class="legal_doc_wrap ">
                    <div class="legal_doc">
                        <div class="legal_title">
                            Clients  Term and Condition
                        </div>
                        <p>
                            YOU SHOULD REVIEW THIS AGREEMENT IN ITS ENTIRETY. YOU ACKNOWLEDGE YOUR ACCEPTANCE OF THIS AGREEMENT BY REGISTERING TO BECOME A USER OR BY USING THE Convo Technologies PLATFORM. YOU WILL BE LEGALLY BOUND BY THESE TERMS. IF YOU DO NOT ACCEPT THE TERMS AND CONDITIONS OF THIS AGREEMENT, DO NOT REGISTER TO USE OR USE THE PLATFORM.

                        </p>
                        <p>
                            These Buyer Terms and Conditions (the “Buyer Terms”) state the terms and conditions between Convo Technologies, LLC (“Convo Technologies,” “we,” “us,” or “our”) and users of the Convo Technologies website and software platform (the “Platform”) who register as buyers (“Buyer,” “you,” or “your”) to purchase services from registered providers (“Providers”). Buyer and all other Users are also subject to the terms of the Convo Technologies User Agreement (“User Agreement”), which is incorporated herein by reference. Capitalized terms used in these Buyer Terms which are not defined have the meaning stated in the User Agreement.

                        </p>
                        <p>
                            We reserve the right to change the Buyer Terms at any time in our sole business discretion. Please check these Buyer Terms regularly for changes. Your continued use of the Platform following the posting of any changes to the Buyer Terms will constitute your acceptance of and agreement to our changes.

                        </p>
                        <div class="legal_sect_title">
                            Relationship
                        </div>
                        <p>
                            1.1   These Buyer Terms state the terms under which Buyer has the right to use the Platform, and the obligation to pay Convo Technologies fees, if applicable.
                            <br />
                            1.2    Providers are independent contractors who use the Platform to offer their services and to perform work on specific projects for Buyers pursuant to accepted Work Orders. Convo Technologies is not a party to accepted Work Orders or other services agreement between Buyers and Providers. Convo Technologies has no responsibility for, control over, or involvement in the scope, nature, quality character, timing or location of any work or services performed by a Provider under a Work Order.
                            <br />
                            1.3     Unless modified by you directly through the Platform prior to proposal or by a Provider pursuant to an accepted counteroffer, all Work Orders are governed by Standard Work Order Terms and Conditions accessible by following this link: www.taskayak.com/legal.
                            <br />
                            1.4 Convo Technologies is not a party to any Work Order and is not bound by any terms of a Work Order. Work Orders are entered into exclusively by and between Buyers and Providers.
                            <br />
                            1.5   Convo Technologies is not an employer or joint employer of any Provider. Convo Technologies is not responsible for the performance or non-performance of any Buyer or any Provider. Each Provider is solely and entirely responsible for the Provider's acts and for the acts of the Provider's employees, agents and subcontractors. Each Buyer is solely and entirely responsible for the Buyer's acts and for the acts of the Buyer's employees, agents and subcontractors.
                            <br />
                            1.6   In the event Buyer uses a third party to manage Providers on the Platform on behalf of Buyer, the third party is deemed the Buyer’s agent for this and all related purposes. Buyer will remain responsible for all obligations set forth in these Buyer Terms, including without limitation those regarding payment, data ownership, confidential information, and indemnity. In the event the third party breaches these Buyer Terms or the User Terms while acting on Buyer’s behalf, Buyer is responsible for such breach, including any related indemnity. Buyer shall provide the third party with administrator privileges on Buyer’s account. Except as expressly provided herein, Buyer shall not otherwise grant a third party access to its administrator account, and shall not sublicense, assign, sell, grant, or otherwise transfer its privileges under these Buyer Terms.



                        </p>
                        <div class="legal_sect_title">Provider Data.</div>
                        <p>
                            Buyer acknowledges that the profile information for each Provider available via the Platform is compiled and maintained by the Providers themselves and not Convo Technologies. Buyer is responsible for conducting whatever investigation or verification of a Provider’s profile information that Buyer deems necessary for purposes of entering into a Work Order with that Provider. Convo Technologies does not and will not investigate Providers and does not certify or verify the skills, qualifications, background, experience or other Profile Information or other information provided by Providers in their profile or elsewhere through the Platform. Convo Technologies makes no representation as to the validity or accuracy of information provided by Providers. Buyer uses the Platform and contracts with Providers for completion of Work Orders at its own risk.

                        </p>
                        <div class="legal_sect_title">
                            Provider Registration.
                        </div>
                        <p>
                            Buyer will have access to profiles of all registered Providers offering their services through the Convo Technologies Marketplace.

                        </p>
                        <div class="legal_sect_title">
                            Registered Service Company.
                        </div>
                        <p>
                            Buyers who register as a Registered Service Company in their profile or otherwise will receive a Registered Service Company designation.  By registering as a Registered Service Company, Buyer represents and warrants it: (1) operates an independently established business or trade; (2) it operates under an Employer Identification Number (EIN); (3) it maintains Worker’s Compensation insurance; and (4) it has 3 or more employees. Buyer agrees to notify Convo Technologies if it no longer meets a Registered Service Company requirement.

                        </p>
                        <div class="legal_sect_title">
                            Buyer Data.
                        </div>
                        <p>
                            5.1  The Platform allows Buyers to create a profile to be viewed by prospective Providers who wish to offer their services. Convo Technologies does not own any information, text, data, or other content that Buyer submits, stores, or uses in the Platform, including all Work Order information (the “Buyer Data”). Buyer shall have sole responsibility for the accuracy, quality, integrity, legality, reliability, appropriateness, and intellectual property ownership or right to use of all Buyer Data.
                        </p>
                        <p>
                            5.2   Buyer grants Convo Technologies a royalty-free, worldwide, non-exclusive right and license to use, reproduce, modify, edit, adapt, publish, distribute, perform and display Buyer Data solely in connection with its operation of the Platform and related business purposes. Convo Technologies will only use personally identifiable information of Buyer included in the Buyer Data for purposes of providing, improving and customizing the Platform, and to de-identify such Buyer Data as well as for any purpose set forth in the Convo Technologies Privacy Policy. Once Convo Technologies has de-identified Buyer Data, Convo Technologies may analyze, use and disclose such de-identified information for any purpose, including for marketing and advertising via the Platform interface, and as otherwise set forth in its Privacy Policy.

                        </p>
                        <p>
                            5.3  Buyer must enter information and data in the Platform for purposes of accepting and updating the status of Work Orders. All such Work Order information is the property of the applicable Buyer.

                        </p>
                        <div class="legal_sect_title">
                            Payment to Providers and Fees.

                        </div>
                        <p>
                            6.1  A Provider who performs work for a Buyer under a Work Order through the Platform will be paid by Convo Technologies on behalf of the Buyer. As a condition of being allowed to post and accept Work Orders between Buyers and Providers via the Platform, Buyer must deposit funds with Convo Technologies or meet Convo Technologies’s credit requirements. Any Buyer funds held by Convo Technologies will be held in a custodial account and will be commingled with the funds of other Buyers. Buyer acknowledges that Convo Technologies will not pay interest on the funds it holds on deposit. If Buyer deposits fund with Convo Technologies and does not use the funds for 90 days, Convo Technologies will notify Buyer that it has unused funds. If Buyer does not use the funds or respond to Convo Technologies to request a refund within 30 days, Buyer forfeits the unused deposit amount.

                        </p>
                        <p>
                            6.2     Convo Technologies charges fees for the use of the Platform upon completion of a Work Order. When a Buyer sources a Provider through the Platform, the Provider will pay Convo Technologies a set percentage of the fees agreed to in the Work Order. Convo Technologies will deduct these fees directly from the fees payable to a Provider by a Buyer. This fee shall be up to ten percent (10%) of the amount payable to Provider by Buyer pursuant to a completed Work Order. Convo Technologies’s fees are subject to periodic changes in its sole business discretion. Use of the Platform constitutes acceptance of Convo Technologies’s most current pricing.

                        </p>
                        <p>
                            6.3  Convo Technologies charges fees to Buyers who want access to additional Platform features and services. Buyers who accept the International Fee on the Platform will be charged up to two percent (2%) of the amount payable to Provider by Buyer pursuant to a completed Work Order. Buyers who contract with Specialized Skills Providers on the Platform will be charged up to five percent (5%) of the amount payable to Provider by Buyer Pursuant to a completed Work Order. Convo Technologies’s fees are subject to periodic changes in its sole business discretion. Use of the Platform constitutes acceptance of Convo Technologies’s most current pricing.

                        </p>
                        <p>
                            6.4 Once the Buyer authorizes its acceptance of a completed Work Order through the Platform in accordance with the Work Order Terms and Convo Technologies facilitates Buyer’s payment for services under the Work Order to the Provider, Convo Technologies shall have no further financial obligation with respect to Buyer or Provider under that Work Order. Any refund of amounts paid or a warranty claim related to a Work Order shall be the responsibility of the Provider who was paid for the services.

                        </p>
                        <p>
                            6.5    In addition to any other remedies it may have under these Buyer Terms, Convo Technologies reserves the right to suspend or terminate Buyer’s access to the Platform in order to protect Convo Technologies’s rights and interests.

                        </p>
                        <p>
                            6.6   In the event that any jurisdiction imposes sales, use, value-added, excise, or other taxes payable on account of payments to Convo Technologies, other than taxes on Convo Technologies’s own income (“Taxes”), Convo Technologies’s fees will be increased to cover such Taxes so that it receives a net amount equal to the full amount of the fees or other payment obligations that would otherwise have been payable under these Buyer Terms as if no such deduction or withholding was required.

                        </p>
                        <div class="legal_sect_title">
                            Tax Reporting and Payment Obligations.

                        </div>
                        <p>
                            7.1   As a service to registered Buyers and on behalf of registered Buyers, Convo Technologies will provide Providers with annual 1099s and file such forms as required by the Internal Revenue Service. The filings will only be made for Providers who are U.S. Residents, for net fees paid to Providers on Work Orders sourced through the Platform, and for work done in the United States for each year that the fees paid to Provider for completed Work Orders exceeds $600.

                        </p>
                        <p>
                            7.2    Subject to Section 6.1, Buyer otherwise will be responsible for meeting any and all tax payment or reporting obligations that may be imposed by the laws of any legal jurisdiction as a result of the payment of fees or other compensation to Providers for services provided pursuant to Work Orders completed via the Platform.

                        </p>
                        <div class="legal_sect_title">
                            Service Levels.
                        </div>
                        <p>
                            Convo Technologies will use reasonable efforts to make the Platform available for access and use by Buyer. Buyer acknowledges and agrees that Convo Technologies will not be liable for (a) any unavailability caused by acts or omissions of Buyer, any Providers or other third parties, or caused by events outside Convo Technologies’s control; (b) problems with Buyer’s internet access or private computer network and equipment; and (c) Convo Technologies’s regularly scheduled maintenance work. Convo Technologies will use reasonable efforts to cause all maintenance to be completed between 10:00 p.m. and 6:00 a.m. U.S. Central Time, and to minimize any unavailability of the Platform, whether scheduled or not.

                        </p>
                        <div class="legal_sect_title">
                            Support and Maintenance.

                        </div>
                        <p>
                            Convo Technologies will provide email, text-based, or telephone support to Buyer. Currently, such support generally is available Monday through Friday, excluding U.S. Federal Holidays, from 8:00 a.m. to 6:00 p.m. U.S. Central Time. Support shall include assistance with general usage and functionality issues and correction of software bugs and errors. Convo Technologies will make reasonable efforts to correct or fix reported software bugs and errors promptly after being notified of the problem.

                        </p>
                        <div class="legal_sect_title">
                            Data Security.

                        </div>


                        <p>
                            Convo Technologies will use reasonable efforts to secure, protect, and maintain the integrity of all data stored by Buyer in accessing and using the Platform. Buyer is solely responsible for the security of all usernames and passwords that may be required to access and use the Platform. If the security of such information is compromised, Buyer agrees to promptly notify Convo Technologies.

                        </p>
                        <div class="legal_sect_title">
                            Equipment Costs.


                        </div>
                        <p>
                            Buyer will be responsible for all equipment, network, and other costs necessary for Buyer to access and use the Platform via the Internet.

                        </p>
                        <div class="legal_sect_title">
                            No Consulting Services.

                        </div>
                        <p>
                            Convo Technologies will not be obligated to provide Buyer with any consulting or other services related to the use of the Platform.

                        </p>
                        <div class="legal_sect_title">
                            Confidentiality.

                        </div>
                        <p>
                            13.1 Definition. <br />
                            In performing and accepting services under these Buyer Terms, Convo Technologies and Buyer may exchange technical, product, financial, and business information which is confidential or proprietary to them (“Confidential Information”). Confidential Information shall be limited to information clearly marked as confidential or proprietary, or information which is disclosed verbally and identified as confidential or proprietary when disclosed.

                        </p><p>
                            13.2  Obligations.<br />
                            Convo Technologies and Buyer will hold all Confidential Information they receive from the other party in strict confidence and will only use it to perform their respective obligations and exercise their rights under this Agreement. Confidential Information may only be disclosed to employees, agents, consultants, and professional advisors who have a good faith need to know such information for the purposes of this Agreement, provided the person receiving the information has a confidentiality obligation to the disclosing party which is at least as stringent as the confidentiality terms of this Agreement. The receiving party shall protect and safeguard the Confidential Information against unauthorized disclosure by procedures no less stringent than those it uses for protecting its own confidential or proprietary information, and in any event by use of no less than a reasonable degree of care.

                        </p><p>
                            13.3  Limitations.<br />
                            These Buyer Terms impose no obligation with respect to information which: (a) was in the possession of, or was known by, the receiving party prior to its receipt from the discloser, without an obligation to maintain its confidentiality; (b) is or becomes generally known to the public without violation of these Buyer Terms; (c) was obtained by the receiving party from a third party having the right to disclose it, without an obligation to keep such information confidential; or (d) is independently developed by the receiving party without the use of Confidential Information.

                        </p>
                        <p>
                            13.4      Ownership.<br />
                            Each party retains all intellectual property rights in and to its own Confidential Information.

                        </p><p>
                            13.5  Survival.
                            <br /> The confidentiality provisions of these Buyer Terms shall survive its termination for a period of five (5) years, except for the obligations of the parties regarding any trade secret information which shall survive indefinitely.

                        </p>
                        <div class="legal_sect_title">
                            No Circumvention; Non-Interference.

                        </div>
                        <p>
                            14.1    Buyer shall engage Providers to perform Work Orders directly through the Platform only. Buyer shall not communicate with any Providers outside of the Platform for the purpose of avoiding any obligations under these Buyer Terms or the User Agreement, including the obligation to pay any Convo Technologies fees. Buyer shall not take any actions which would circumvent the processing of payments through the Platform or prevent Convo Technologies from collecting transaction fees due from a Provider.

                        </p>
                        <p>
                            14.2    For the term of Buyer’s use of the Platform and one (1) year thereafter, Buyer shall not directly or indirectly: (a) solicit for employment or contract services or hire any Provider to perform services similar to those offered by Provider through the platform, except for services to be performed pursuant to Work Orders via the Platform without the prior written consent of Convo Technologies; nor (b) take any action which interferes with the contractual relationship between Convo Technologies and any of its Providers.
                        </p>
                        <div class="legal_sect_title">
                            Term and Termination.

                        </div>
                        <p>
                            These Buyer Terms commence when Buyer registers to use the Platform for the first time and continue in force until terminated by either party. Buyer may terminate these Buyer Terms immediately upon notice to Convo Technologies at any time and for any reason. Convo Technologies may terminate these Buyer Terms immediately without any notice at any time and for any reason. Upon termination by either party, Buyer’s rights to access and use the Platform will cease immediately. Upon any termination, Buyer will not be relieved of any obligation to pay any fees due to Convo Technologies which accrued before the termination date. If these Buyer Terms are terminated for any reason, Convo Technologies will make the Buyer Data available for transmittal to Buyer within a reasonable period after receiving a written request from Buyer, provided such request is received within sixty (60) days following termination.

                        </p>
                        <div class="legal_sect_title">
                            Warranties and Disclaimer.


                        </div>
                        <p>
                            16.1  General.<br />
                            Convo Technologies and Buyer each represent and warrant as to themselves that (a) each are duly organized, validly existing and in good standing under the laws of the respective jurisdictions in which they were formed (in the case of Buyers who are not individual persons); (b) each has full power and authority to execute, deliver, and perform these Buyer Terms; (c) these Buyer Terms have been duly authorized, executed, and delivered by and are a legal, valid, and binding obligation in accordance with these terms; and (d) each of their obligations under these Buyer Terms shall be performed in compliance with any obligations to third parties and all applicable law, rules, or regulations of any governmental entity or agency.
                        </p><p>
                            16.2
                            Buyer Data.<br />  Buyer represents and warrants that: (a) Buyer owns or has secured sufficient intellectual property rights to the Buyer Data to deliver it to Convo Technologies for use in the Platform as intended by these Buyer Terms; (b) the Buyer Data does not and will not contain any content that is unlawful, threatening, harassing, profane, tortious, defamatory, libelous, deceptive, fraudulent, or violates any person’s privacy or publicity rights; and (c) the Buyer Data does not and will not contain a software virus or other harmful component.

                        </p>
                        <div class="legal_sect_title">
                            Disclaimer.

                        </div>
                        <p>
                            USE OF THE PLATFORM IS AT BUYER’S SOLE RISK. EXCEPT AS SET FORTH EXPRESSLY IN THESE TERMS AND CONDITIONS, THE PLATFORM IS PROVIDED “AS IS” AND “AS-AVAILABLE” AND WITHOUT A WARRANTY OF ANY KIND. CONVO TECHNOLOGIES DISCLAIMS ALL IMPLIED WARRANTIES OR CONDITIONS CONCERNING THE PERFORMANCE, OPERATION OR QUALITY OF THE PLATFORM, INCLUDING ALL IMPLIED WARRANTIES OF NON-INFRINGEMENT MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. CONVO TECHNOLOGIES DOES NOT WARRANT THAT THE PLATFORM WILL MEET ANY USER’S REQUIREMENTS, OPERATE IN COMBINATION WITH OTHER SOFTWARE OR WEBSITES, BE UNINTERRUPTED OR ERROR-FREE, OR FUNCTION WITHIN A PARTICULAR SYSTEM. NO OTHER ORAL OR WRITTEN ADVICE GIVEN BY CONVO TECHNOLOGIES WILL CREATE A WARRANTY REGARDING THE PLATFORM. NO AGENT OR EMPLOYEE OF CONVO TECHNOLOGIES IS AUTHORIZED TO MAKE ANY WARRANTY OBLIGATIONS ON BEHALF OF CONVO TECHNOLOGIES OR MODIFY THE LIMITATIONS STATED IN THIS SECTION

                        </p>
                        <div class="legal_sect_title">
                            18.1 Convo Technologies Indemnification.
                        </div>
                        <p>
                            Convo Technologies shall indemnify and hold Buyer, its parent organizations, subsidiaries, affiliates, officers, directors, employees, attorneys, and agents harmless from and against any and all claims, costs, damages, losses, liabilities and expenses, including reasonable legal fees and costs, arising out of or in connection with: (a) any alleged conduct which would constitute a breach of the representations and warranties of Convo Technologies set forth herein; or (b) a claim that the use of the Platform (other than third party materials) infringes the copyright, trademark, or United States or Canadian patent rights of any third party. Upon notice of an alleged infringement or if in Convo Technologies’s opinion such a claim is likely, Convo Technologies shall have the right, at its option, to obtain for Buyer the continuing right to use the Platform, substitute other non-infringing functionality, or modify the Platform so that it is no longer infringing. THIS SECTION SETS FORTH CONVO TECHNOLOGIES’’S SOLE AND EXCLUSIVE LIABILITY, AND BUYER’S SOLE AND EXCLUSIVE REMEDY, FOR CONVO TECHNOLOGIES’S INFRINGEMENT OF THIRD PARTY RIGHTS OF ANY KIND.

                        </p>
                        <div class="legal_sect_title">
                            18.2   Buyer Indemnification.

                        </div>
                        <p>
                            Buyer shall indemnify and hold Convo Technologies, its licensors and their respective parent organizations, subsidiaries, affiliates, officers, directors, employees, attorneys, and agents harmless from and against any and all claims, costs, damages, losses, liabilities and expenses, including reasonable legal fees and costs, arising out of or in connection with: (a) a claim based on any alleged misuse of the Platform by Buyer, or its agent or a claim that any Buyer Data infringes the copyright, trademark, or patent rights of any third party; (b) any alleged conduct which would constitute a breach of the representations and warranties of Buyer set forth herein; and; and (c) any claims arising out of or related to any Work Order, including (i) any claims by any third party or government agency that a Provider was misclassified as an independent contractor or employee of Buyer; and (ii) any claim that Convo Technologies was an employer or joint employer of a Provider; and (iii) related legal claims under any employment laws.

                        </p>
                        <div class="legal_sect_title">
                            18.3  Conditions.

                        </div>
                        <p>
                            Each party shall indemnify the other party as set forth above provided that: (a) the indemnified party notifies the indemnifying party promptly in writing of the claim; (b) the indemnifying party has sole control of the defense and all related settlement negotiations with respect to the claim; provided, that the indemnified party has the right, but not the obligation, to participate in the defense of any such claim through counsel of its own choosing; and (c) the indemnified party cooperates fully to the extent necessary, and executes all documents necessary for the defense of such claim.

                        </p>
                        <div class="legal_sect_title">
                            Limitations of Liability.

                        </div>
                        <p>
                            19.1    CONVO TECHNOLOGIES’ AGGREGATE LIABILITY TO BUYER FOR CLAIMS RELATING TO THESE TERMS, WHETHER IN CONTRACT OR TORT, WILL BE LIMITED TO THE TOTAL FEES PAID OR OWING TO CONVO TECHNOLOGIES FOR WORK ORDERS COMPLETED FOR BUYER DURING THE MOST RECENT SIX (6) MONTHS OF THE TERM OF THESE BUYER TERMS OR $2,500, WHICHEVER IS LESS.

                        </p>

                        <p>
                            19.2     NEITHER PARTY WILL BE LIABLE TO THE OTHER FOR ANY INDIRECT, PUNITIVE, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGES IN CONNECTION WITH OR ARISING OUT OF THESE TERMS, INCLUDING LOSS OF BUSINESS, REVENUE, PROFITS, USE, DATA OR OTHER ECONOMIC ADVANTAGE, HOWEVER IT ARISES, WHETHER IN CONTRACT OR TORT, EVEN IF THE PARTY HAS BEEN PREVIOUSLY ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

                        </p>
                        <div class="legal_sect_title">
                            19.3     Allocation of Risk.
                        </div>
                        <p>
                            Convo Technologies and Buyer acknowledge that the foregoing limitations of liability represent a reasonable and negotiated allocation of risk, that these limitations constitute an integral part of these Buyer Terms, and that absent these limitations the parties would not have executed these Buyer Terms. The limitations will apply notwithstanding the failure of the essential purpose of any limited remedy.

                        </p>

                        <p>
                            Created: March, 2020.

                        </p>
                        <br /> <br />
                        <p>
                            Copyright © 2020 Convo Technologies, LLC. All rights reserved.

                        </p>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="lp_footer">

        © 2020, All rights reserved by TasKayaK
    </div>


</body>
</html>
