﻿
@{
    ViewBag.Title = "Legal";
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/assets/img/favicon.png")" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">
        @@charset "UTF-8";

        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
            display: none !important;
        }

        ng\:form {
            display: block;
        }

        .ng-animate-shim {
            visibility: hidden;
        }

        .ng-anchor {
            position: absolute;
        }
    </style>
    <style type="text/css">
        @@charset "UTF-8";

        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
            display: none !important;
        }

        ng\:form {
            display: block;
        }

        .ng-animate-shim {
            visibility: hidden;
        }

        .ng-anchor {
            position: absolute;
        }
    </style>
    <title>Legal Terms </title>
    <meta http-equiv="X-UA-Compatible" content="IE=9, IE=8" />
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=yes" />
    <link rel="stylesheet" href="@Url.Content("~/LegalTermsview_files/fn.min.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/LegalTermsview_files/style.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/LegalTermsview_files/lp.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/LegalTermsview_files/style(1).css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/LegalTermsview_files/techlist.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/LegalTermsview_files/fullcalendar.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/LegalTermsview_files/fullcalendar.print.css")" type="text/css" media="print" />
    <script type="text/javascript">jQuery.noConflict();</script>
    <script type="text/javascript">
        log_in_box_shown = false;
        function toggle_login_box() {

            if (log_in_box_shown) {
                // hide it
                log_in_box_shown = false;
                jQuery("#lp_login").stop();
                jQuery("#lp_login").animate({
                    width: "130px",
                    height: "1px",
                    padding: "0px"
                }, 150, "swing", function () {
                    jQuery("#lp_login").css("display", "none");
                    jQuery("#lp_topactions").css('width', '130px');
                });
            } else {
                // show it
                log_in_box_shown = true;
                jQuery("#lp_login").stop();
                jQuery("#lp_login").css("display", "block");
                jQuery("#lp_topactions").css('width', '230px');
                jQuery("#username").focus();

                var height = log_in_box_shown ? '170px' : '130px';
                jQuery("#lp_login").animate({
                    width: "200px",
                    height: height,
                    padding: "16px"
                }, 150, "swing");
            }
            return false;
        }

        jQuery(function () {
            jQuery('#lp_login_link,#log_in_cancel,.lp_login_link').click(function () {
                if (/MSIE (\d+\.\d+);/.test(navigator.userAgent)) {
                    var ieversion = new Number(RegExp.$1) // capture x.x portion and store as a number
                    if (ieversion < 8) {
                        window.location = "/login.php";
                        return false;
                    }
                }

                return toggle_login_box();
            });
        });

        jQuery(document).ready(function () {
            errorOccured = false;
            if (errorOccured) {
                jQuery("#password").focus();
            }
            jQuery(".request_demo_modal").click(function (e) {
                e.preventDefault();
                create_overlay("/seo/form.php?form_id=2", { width: 620 });

                return false;
            });
        });</script>
    <style>
        .login-new {
            background: #F7F8FA !important;
            padding: 0 !important;
            border: none !important;
        }

        .legal_doc_poplink {
            font-size: .6em;
            margin-left: 0px !important;
        }

        .ta-hidden-input {
            display: none;
        }
    </style>
    <style type="text/css">
        body.swal2-shown:not(.swal2-no-backdrop) {
            overflow-y: hidden;
        }

        body.swal2-toast-shown {
            overflow-y: auto;
        }

            body.swal2-toast-shown.swal2-has-input > .swal2-container > .swal2-toast {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
            }

                body.swal2-toast-shown.swal2-has-input > .swal2-container > .swal2-toast .swal2-icon {
                    margin: 0 0 15px;
                }

                body.swal2-toast-shown.swal2-has-input > .swal2-container > .swal2-toast .swal2-buttonswrapper {
                    -webkit-box-flex: 1;
                    -ms-flex: 1;
                    flex: 1;
                    -ms-flex-item-align: stretch;
                    align-self: stretch;
                    -webkit-box-pack: end;
                    -ms-flex-pack: end;
                    justify-content: flex-end;
                }

                body.swal2-toast-shown.swal2-has-input > .swal2-container > .swal2-toast .swal2-loading {
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                }

                body.swal2-toast-shown.swal2-has-input > .swal2-container > .swal2-toast .swal2-input {
                    height: 32px;
                    font-size: 14px;
                    margin: 5px auto;
                }

            body.swal2-toast-shown > .swal2-container {
                position: fixed;
                background-color: transparent;
            }

                body.swal2-toast-shown > .swal2-container.swal2-shown {
                    background-color: transparent;
                }

                body.swal2-toast-shown > .swal2-container.swal2-top {
                    top: 0;
                    left: 50%;
                    bottom: auto;
                    right: auto;
                    -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
                }

                body.swal2-toast-shown > .swal2-container.swal2-top-right {
                    top: 0;
                    left: auto;
                    bottom: auto;
                    right: 0;
                }

                body.swal2-toast-shown > .swal2-container.swal2-top-left {
                    top: 0;
                    left: 0;
                    bottom: auto;
                    right: auto;
                }

                body.swal2-toast-shown > .swal2-container.swal2-center-left {
                    top: 50%;
                    left: 0;
                    bottom: auto;
                    right: auto;
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                }

                body.swal2-toast-shown > .swal2-container.swal2-center {
                    top: 50%;
                    left: 50%;
                    bottom: auto;
                    right: auto;
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                }

                body.swal2-toast-shown > .swal2-container.swal2-center-right {
                    top: 50%;
                    left: auto;
                    bottom: auto;
                    right: 0;
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                }

                body.swal2-toast-shown > .swal2-container.swal2-bottom-left {
                    top: auto;
                    left: 0;
                    bottom: 0;
                    right: auto;
                }

                body.swal2-toast-shown > .swal2-container.swal2-bottom {
                    top: auto;
                    left: 50%;
                    bottom: 0;
                    right: auto;
                    -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
                }

                body.swal2-toast-shown > .swal2-container.swal2-bottom-right {
                    top: auto;
                    left: auto;
                    bottom: 0;
                    right: 0;
                }

        body.swal2-iosfix {
            position: fixed;
            left: 0;
            right: 0;
        }

        body.swal2-no-backdrop > .swal2-shown {
            top: auto;
            bottom: auto;
            left: auto;
            right: auto;
            background-color: transparent;
        }

            body.swal2-no-backdrop > .swal2-shown > .swal2-modal {
                -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
            }

            body.swal2-no-backdrop > .swal2-shown.swal2-top {
                top: 0;
                left: 50%;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
            }

            body.swal2-no-backdrop > .swal2-shown.swal2-top-left {
                top: 0;
                left: 0;
            }

            body.swal2-no-backdrop > .swal2-shown.swal2-top-right {
                top: 0;
                right: 0;
            }

            body.swal2-no-backdrop > .swal2-shown.swal2-center {
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }

            body.swal2-no-backdrop > .swal2-shown.swal2-center-left {
                top: 50%;
                left: 0;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
            }

            body.swal2-no-backdrop > .swal2-shown.swal2-center-right {
                top: 50%;
                right: 0;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
            }

            body.swal2-no-backdrop > .swal2-shown.swal2-bottom {
                bottom: 0;
                left: 50%;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
            }

            body.swal2-no-backdrop > .swal2-shown.swal2-bottom-left {
                bottom: 0;
                left: 0;
            }

            body.swal2-no-backdrop > .swal2-shown.swal2-bottom-right {
                bottom: 0;
                right: 0;
            }

        .swal2-container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            position: fixed;
            padding: 10px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: transparent;
            z-index: 1060;
        }

            .swal2-container.swal2-top {
                -webkit-box-align: start;
                -ms-flex-align: start;
                align-items: flex-start;
            }

            .swal2-container.swal2-top-left {
                -webkit-box-align: start;
                -ms-flex-align: start;
                align-items: flex-start;
                -webkit-box-pack: start;
                -ms-flex-pack: start;
                justify-content: flex-start;
            }

            .swal2-container.swal2-top-right {
                -webkit-box-align: start;
                -ms-flex-align: start;
                align-items: flex-start;
                -webkit-box-pack: end;
                -ms-flex-pack: end;
                justify-content: flex-end;
            }

            .swal2-container.swal2-center {
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
            }

            .swal2-container.swal2-center-left {
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: start;
                -ms-flex-pack: start;
                justify-content: flex-start;
            }

            .swal2-container.swal2-center-right {
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: end;
                -ms-flex-pack: end;
                justify-content: flex-end;
            }

            .swal2-container.swal2-bottom {
                -webkit-box-align: end;
                -ms-flex-align: end;
                align-items: flex-end;
            }

            .swal2-container.swal2-bottom-left {
                -webkit-box-align: end;
                -ms-flex-align: end;
                align-items: flex-end;
                -webkit-box-pack: start;
                -ms-flex-pack: start;
                justify-content: flex-start;
            }

            .swal2-container.swal2-bottom-right {
                -webkit-box-align: end;
                -ms-flex-align: end;
                align-items: flex-end;
                -webkit-box-pack: end;
                -ms-flex-pack: end;
                justify-content: flex-end;
            }

            .swal2-container.swal2-grow-fullscreen > .swal2-modal {
                display: -webkit-box !important;
                display: -ms-flexbox !important;
                display: flex !important;
                -webkit-box-flex: 1;
                -ms-flex: 1;
                flex: 1;
                -ms-flex-item-align: stretch;
                align-self: stretch;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
            }

            .swal2-container.swal2-grow-row > .swal2-modal {
                display: -webkit-box !important;
                display: -ms-flexbox !important;
                display: flex !important;
                -webkit-box-flex: 1;
                -ms-flex: 1;
                flex: 1;
                -ms-flex-line-pack: center;
                align-content: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
            }

            .swal2-container.swal2-grow-column {
                -webkit-box-flex: 1;
                -ms-flex: 1;
                flex: 1;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
            }

                .swal2-container.swal2-grow-column.swal2-top, .swal2-container.swal2-grow-column.swal2-center, .swal2-container.swal2-grow-column.swal2-bottom {
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                }

                .swal2-container.swal2-grow-column.swal2-top-left, .swal2-container.swal2-grow-column.swal2-center-left, .swal2-container.swal2-grow-column.swal2-bottom-left {
                    -webkit-box-align: start;
                    -ms-flex-align: start;
                    align-items: flex-start;
                }

                .swal2-container.swal2-grow-column.swal2-top-right, .swal2-container.swal2-grow-column.swal2-center-right, .swal2-container.swal2-grow-column.swal2-bottom-right {
                    -webkit-box-align: end;
                    -ms-flex-align: end;
                    align-items: flex-end;
                }

                .swal2-container.swal2-grow-column > .swal2-modal {
                    display: -webkit-box !important;
                    display: -ms-flexbox !important;
                    display: flex !important;
                    -webkit-box-flex: 1;
                    -ms-flex: 1;
                    flex: 1;
                    -ms-flex-line-pack: center;
                    align-content: center;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                }

            .swal2-container:not(.swal2-top):not(.swal2-top-left):not(.swal2-top-right):not(.swal2-center-left):not(.swal2-center-right):not(.swal2-bottom):not(.swal2-bottom-left):not(.swal2-bottom-right) > .swal2-modal {
                margin: auto;
            }

        @@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            .swal2-container .swal2-modal {
                margin: 0 !important;
            }
        }

        .swal2-container.swal2-fade {
            -webkit-transition: background-color .1s;
            transition: background-color .1s;
        }

        .swal2-container.swal2-shown {
            background-color: rgba(0, 0, 0, 0.4);
        }

        .swal2-popup {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            background-color: #fff;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            border-radius: 5px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            text-align: center;
            overflow-x: hidden;
            overflow-y: auto;
            display: none;
            position: relative;
            max-width: 100%;
        }

            .swal2-popup.swal2-toast {
                width: 300px;
                padding: 0 15px;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                overflow-y: hidden;
                -webkit-box-shadow: 0 0 10px #d9d9d9;
                box-shadow: 0 0 10px #d9d9d9;
            }

                .swal2-popup.swal2-toast .swal2-title {
                    max-width: 300px;
                    font-size: 16px;
                    text-align: left;
                }

                .swal2-popup.swal2-toast .swal2-content {
                    font-size: 14px;
                    text-align: left;
                }

                .swal2-popup.swal2-toast .swal2-icon {
                    width: 32px;
                    height: 32px;
                    margin: 0 15px 0 0;
                }

                    .swal2-popup.swal2-toast .swal2-icon.swal2-success .swal2-success-ring {
                        width: 32px;
                        height: 32px;
                    }

                    .swal2-popup.swal2-toast .swal2-icon.swal2-info, .swal2-popup.swal2-toast .swal2-icon.swal2-warning, .swal2-popup.swal2-toast .swal2-icon.swal2-question {
                        font-size: 26px;
                        line-height: 32px;
                    }

                    .swal2-popup.swal2-toast .swal2-icon.swal2-error [class^='swal2-x-mark-line'] {
                        top: 14px;
                        width: 22px;
                    }

                        .swal2-popup.swal2-toast .swal2-icon.swal2-error [class^='swal2-x-mark-line'][class$='left'] {
                            left: 5px;
                        }

                        .swal2-popup.swal2-toast .swal2-icon.swal2-error [class^='swal2-x-mark-line'][class$='right'] {
                            right: 5px;
                        }

                .swal2-popup.swal2-toast .swal2-buttonswrapper {
                    margin: 0 0 0 5px;
                }

                .swal2-popup.swal2-toast .swal2-styled {
                    margin: 0 0 0 5px;
                    padding: 5px 10px;
                }

                    .swal2-popup.swal2-toast .swal2-styled:focus {
                        -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 2px rgba(50, 100, 150, 0.4);
                        box-shadow: 0 0 0 1px #fff, 0 0 0 2px rgba(50, 100, 150, 0.4);
                    }

                .swal2-popup.swal2-toast .swal2-validationerror {
                    width: 100%;
                    margin: 5px -20px;
                }

                .swal2-popup.swal2-toast .swal2-success {
                    border-color: #a5dc86;
                }

                    .swal2-popup.swal2-toast .swal2-success [class^='swal2-success-circular-line'] {
                        border-radius: 50%;
                        position: absolute;
                        width: 32px;
                        height: 64px;
                        -webkit-transform: rotate(45deg);
                        transform: rotate(45deg);
                    }

                        .swal2-popup.swal2-toast .swal2-success [class^='swal2-success-circular-line'][class$='left'] {
                            border-radius: 64px 0 0 64px;
                            top: -4px;
                            left: -15px;
                            -webkit-transform: rotate(-45deg);
                            transform: rotate(-45deg);
                            -webkit-transform-origin: 32px 32px;
                            transform-origin: 32px 32px;
                        }

                        .swal2-popup.swal2-toast .swal2-success [class^='swal2-success-circular-line'][class$='right'] {
                            border-radius: 0 64px 64px 0;
                            top: -5px;
                            left: 14px;
                            -webkit-transform-origin: 0 32px;
                            transform-origin: 0 32px;
                        }

                    .swal2-popup.swal2-toast .swal2-success .swal2-success-ring {
                        width: 32px;
                        height: 32px;
                    }

                    .swal2-popup.swal2-toast .swal2-success .swal2-success-fix {
                        width: 7px;
                        height: 90px;
                        left: 28px;
                        top: 8px;
                    }

                    .swal2-popup.swal2-toast .swal2-success [class^='swal2-success-line'] {
                        height: 5px;
                    }

                        .swal2-popup.swal2-toast .swal2-success [class^='swal2-success-line'][class$='tip'] {
                            width: 12px;
                            left: 3px;
                            top: 18px;
                        }

                        .swal2-popup.swal2-toast .swal2-success [class^='swal2-success-line'][class$='long'] {
                            width: 22px;
                            right: 3px;
                            top: 15px;
                        }

                .swal2-popup.swal2-toast .swal2-animate-success-line-tip {
                    -webkit-animation: animate-toast-success-tip .75s;
                    animation: animate-toast-success-tip .75s;
                }

                .swal2-popup.swal2-toast .swal2-animate-success-line-long {
                    -webkit-animation: animate-toast-success-long .75s;
                    animation: animate-toast-success-long .75s;
                }

            .swal2-popup:focus {
                outline: none;
            }

            .swal2-popup.swal2-loading {
                overflow-y: hidden;
            }

            .swal2-popup .swal2-title {
                color: #595959;
                font-size: 30px;
                text-align: center;
                font-weight: 600;
                text-transform: none;
                position: relative;
                margin: 0 0 .4em;
                padding: 0;
                display: block;
                word-wrap: break-word;
            }

            .swal2-popup .swal2-buttonswrapper {
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                margin-top: 15px;
            }

                .swal2-popup .swal2-buttonswrapper:not(.swal2-loading) .swal2-styled[disabled] {
                    opacity: .4;
                    cursor: no-drop;
                }

                .swal2-popup .swal2-buttonswrapper.swal2-loading .swal2-styled.swal2-confirm {
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    border: 4px solid transparent;
                    border-color: transparent;
                    width: 40px;
                    height: 40px;
                    padding: 0;
                    margin: 7.5px;
                    vertical-align: top;
                    background-color: transparent !important;
                    color: transparent;
                    cursor: default;
                    border-radius: 100%;
                    -webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
                    animation: rotate-loading 1.5s linear 0s infinite normal;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }

                .swal2-popup .swal2-buttonswrapper.swal2-loading .swal2-styled.swal2-cancel {
                    margin-left: 30px;
                    margin-right: 30px;
                }

                .swal2-popup .swal2-buttonswrapper.swal2-loading :not(.swal2-styled).swal2-confirm::after {
                    display: inline-block;
                    content: '';
                    margin-left: 5px;
                    vertical-align: -1px;
                    height: 15px;
                    width: 15px;
                    border: 3px solid #999999;
                    -webkit-box-shadow: 1px 1px 1px #fff;
                    box-shadow: 1px 1px 1px #fff;
                    border-right-color: transparent;
                    border-radius: 50%;
                    -webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
                    animation: rotate-loading 1.5s linear 0s infinite normal;
                }

            .swal2-popup .swal2-styled {
                border: 0;
                border-radius: 3px;
                -webkit-box-shadow: none;
                box-shadow: none;
                color: #fff;
                cursor: pointer;
                font-size: 17px;
                font-weight: 500;
                margin: 15px 5px 0;
                padding: 10px 32px;
            }

                .swal2-popup .swal2-styled:focus {
                    outline: none;
                    -webkit-box-shadow: 0 0 0 2px #fff, 0 0 0 4px rgba(50, 100, 150, 0.4);
                    box-shadow: 0 0 0 2px #fff, 0 0 0 4px rgba(50, 100, 150, 0.4);
                }

            .swal2-popup .swal2-image {
                margin: 20px auto;
                max-width: 100%;
            }

            .swal2-popup .swal2-close {
                background: transparent;
                border: 0;
                margin: 0;
                padding: 0;
                width: 38px;
                height: 40px;
                font-size: 36px;
                line-height: 40px;
                font-family: serif;
                position: absolute;
                top: 5px;
                right: 8px;
                cursor: pointer;
                color: #cccccc;
                -webkit-transition: color .1s ease;
                transition: color .1s ease;
            }

                .swal2-popup .swal2-close:hover {
                    color: #d55;
                }

            .swal2-popup > .swal2-input,
            .swal2-popup > .swal2-file,
            .swal2-popup > .swal2-textarea,
            .swal2-popup > .swal2-select,
            .swal2-popup > .swal2-radio,
            .swal2-popup > .swal2-checkbox {
                display: none;
            }

            .swal2-popup .swal2-content {
                font-size: 18px;
                text-align: center;
                font-weight: 300;
                position: relative;
                float: none;
                margin: 0;
                padding: 0;
                line-height: normal;
                color: #545454;
                word-wrap: break-word;
            }

            .swal2-popup .swal2-input,
            .swal2-popup .swal2-file,
            .swal2-popup .swal2-textarea,
            .swal2-popup .swal2-select,
            .swal2-popup .swal2-radio,
            .swal2-popup .swal2-checkbox {
                margin: 20px auto;
            }

            .swal2-popup .swal2-input,
            .swal2-popup .swal2-file,
            .swal2-popup .swal2-textarea {
                width: 100%;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                font-size: 18px;
                border-radius: 3px;
                border: 1px solid #d9d9d9;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.06);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.06);
                -webkit-transition: border-color .3s, -webkit-box-shadow .3s;
                transition: border-color .3s, -webkit-box-shadow .3s;
                transition: border-color .3s, box-shadow .3s;
                transition: border-color .3s, box-shadow .3s, -webkit-box-shadow .3s;
            }

                .swal2-popup .swal2-input.swal2-inputerror,
                .swal2-popup .swal2-file.swal2-inputerror,
                .swal2-popup .swal2-textarea.swal2-inputerror {
                    border-color: #f27474 !important;
                    -webkit-box-shadow: 0 0 2px #f27474 !important;
                    box-shadow: 0 0 2px #f27474 !important;
                }

                .swal2-popup .swal2-input:focus,
                .swal2-popup .swal2-file:focus,
                .swal2-popup .swal2-textarea:focus {
                    outline: none;
                    border: 1px solid #b4dbed;
                    -webkit-box-shadow: 0 0 3px #c4e6f5;
                    box-shadow: 0 0 3px #c4e6f5;
                }

                .swal2-popup .swal2-input::-webkit-input-placeholder,
                .swal2-popup .swal2-file::-webkit-input-placeholder,
                .swal2-popup .swal2-textarea::-webkit-input-placeholder {
                    color: #cccccc;
                }

                .swal2-popup .swal2-input:-ms-input-placeholder,
                .swal2-popup .swal2-file:-ms-input-placeholder,
                .swal2-popup .swal2-textarea:-ms-input-placeholder {
                    color: #cccccc;
                }

                .swal2-popup .swal2-input::-ms-input-placeholder,
                .swal2-popup .swal2-file::-ms-input-placeholder,
                .swal2-popup .swal2-textarea::-ms-input-placeholder {
                    color: #cccccc;
                }

                .swal2-popup .swal2-input::placeholder,
                .swal2-popup .swal2-file::placeholder,
                .swal2-popup .swal2-textarea::placeholder {
                    color: #cccccc;
                }

            .swal2-popup .swal2-range input {
                float: left;
                width: 80%;
            }

            .swal2-popup .swal2-range output {
                float: right;
                width: 20%;
                font-size: 20px;
                font-weight: 600;
                text-align: center;
            }

            .swal2-popup .swal2-range input,
            .swal2-popup .swal2-range output {
                height: 43px;
                line-height: 43px;
                vertical-align: middle;
                margin: 20px auto;
                padding: 0;
            }

            .swal2-popup .swal2-input {
                height: 43px;
                padding: 0 12px;
            }

                .swal2-popup .swal2-input[type='number'] {
                    max-width: 150px;
                }

            .swal2-popup .swal2-file {
                font-size: 20px;
            }

            .swal2-popup .swal2-textarea {
                height: 108px;
                padding: 12px;
            }

            .swal2-popup .swal2-select {
                color: #545454;
                font-size: inherit;
                padding: 5px 10px;
                min-width: 40%;
                max-width: 100%;
            }

            .swal2-popup .swal2-radio {
                border: 0;
            }

                .swal2-popup .swal2-radio label:not(:first-child) {
                    margin-left: 20px;
                }

                .swal2-popup .swal2-radio input,
                .swal2-popup .swal2-radio span {
                    vertical-align: middle;
                }

                .swal2-popup .swal2-radio input {
                    margin: 0 3px 0 0;
                }

            .swal2-popup .swal2-checkbox {
                color: #545454;
            }

                .swal2-popup .swal2-checkbox input,
                .swal2-popup .swal2-checkbox span {
                    vertical-align: middle;
                }

            .swal2-popup .swal2-validationerror {
                background-color: #f0f0f0;
                margin: 0 -20px;
                overflow: hidden;
                padding: 10px;
                color: gray;
                font-size: 16px;
                font-weight: 300;
                display: none;
            }

                .swal2-popup .swal2-validationerror::before {
                    content: '!';
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    background-color: #ea7d7d;
                    color: #fff;
                    line-height: 24px;
                    text-align: center;
                    margin-right: 10px;
                }

        @@supports (-ms-accelerator: true) {
            .swal2-range input {
                width: 100% !important;
            }

            .swal2-range output {
                display: none;
            }
        }

        @@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            .swal2-range input {
                width: 100% !important;
            }

            .swal2-range output {
                display: none;
            }
        }

        .swal2-icon {
            width: 80px;
            height: 80px;
            border: 4px solid transparent;
            border-radius: 50%;
            margin: 20px auto 30px;
            padding: 0;
            position: relative;
            -webkit-box-sizing: content-box;
            box-sizing: content-box;
            cursor: default;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

            .swal2-icon.swal2-error {
                border-color: #f27474;
            }

                .swal2-icon.swal2-error .swal2-x-mark {
                    position: relative;
                    display: block;
                }

                .swal2-icon.swal2-error [class^='swal2-x-mark-line'] {
                    position: absolute;
                    height: 5px;
                    width: 47px;
                    background-color: #f27474;
                    display: block;
                    top: 37px;
                    border-radius: 2px;
                }

                    .swal2-icon.swal2-error [class^='swal2-x-mark-line'][class$='left'] {
                        -webkit-transform: rotate(45deg);
                        transform: rotate(45deg);
                        left: 17px;
                    }

                    .swal2-icon.swal2-error [class^='swal2-x-mark-line'][class$='right'] {
                        -webkit-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                        right: 16px;
                    }

            .swal2-icon.swal2-warning {
                font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                color: #f8bb86;
                border-color: #facea8;
                font-size: 60px;
                line-height: 80px;
                text-align: center;
            }

            .swal2-icon.swal2-info {
                font-family: 'Open Sans', sans-serif;
                color: #3fc3ee;
                border-color: #9de0f6;
                font-size: 60px;
                line-height: 80px;
                text-align: center;
            }

            .swal2-icon.swal2-question {
                font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                color: #87adbd;
                border-color: #c9dae1;
                font-size: 60px;
                line-height: 80px;
                text-align: center;
            }

            .swal2-icon.swal2-success {
                border-color: #a5dc86;
            }

                .swal2-icon.swal2-success [class^='swal2-success-circular-line'] {
                    border-radius: 50%;
                    position: absolute;
                    width: 60px;
                    height: 120px;
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                }

                    .swal2-icon.swal2-success [class^='swal2-success-circular-line'][class$='left'] {
                        border-radius: 120px 0 0 120px;
                        top: -7px;
                        left: -33px;
                        -webkit-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                        -webkit-transform-origin: 60px 60px;
                        transform-origin: 60px 60px;
                    }

                    .swal2-icon.swal2-success [class^='swal2-success-circular-line'][class$='right'] {
                        border-radius: 0 120px 120px 0;
                        top: -11px;
                        left: 30px;
                        -webkit-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                        -webkit-transform-origin: 0 60px;
                        transform-origin: 0 60px;
                    }

                .swal2-icon.swal2-success .swal2-success-ring {
                    width: 80px;
                    height: 80px;
                    border: 4px solid rgba(165, 220, 134, 0.2);
                    border-radius: 50%;
                    -webkit-box-sizing: content-box;
                    box-sizing: content-box;
                    position: absolute;
                    left: -4px;
                    top: -4px;
                    z-index: 2;
                }

                .swal2-icon.swal2-success .swal2-success-fix {
                    width: 7px;
                    height: 90px;
                    position: absolute;
                    left: 28px;
                    top: 8px;
                    z-index: 1;
                    -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                }

                .swal2-icon.swal2-success [class^='swal2-success-line'] {
                    height: 5px;
                    background-color: #a5dc86;
                    display: block;
                    border-radius: 2px;
                    position: absolute;
                    z-index: 2;
                }

                    .swal2-icon.swal2-success [class^='swal2-success-line'][class$='tip'] {
                        width: 25px;
                        left: 14px;
                        top: 46px;
                        -webkit-transform: rotate(45deg);
                        transform: rotate(45deg);
                    }

                    .swal2-icon.swal2-success [class^='swal2-success-line'][class$='long'] {
                        width: 47px;
                        right: 8px;
                        top: 38px;
                        -webkit-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                    }

        .swal2-progresssteps {
            font-weight: 600;
            margin: 0 0 20px;
            padding: 0;
        }

            .swal2-progresssteps li {
                display: inline-block;
                position: relative;
            }

            .swal2-progresssteps .swal2-progresscircle {
                background: #3085d6;
                border-radius: 2em;
                color: #fff;
                height: 2em;
                line-height: 2em;
                text-align: center;
                width: 2em;
                z-index: 20;
            }

                .swal2-progresssteps .swal2-progresscircle:first-child {
                    margin-left: 0;
                }

                .swal2-progresssteps .swal2-progresscircle:last-child {
                    margin-right: 0;
                }

                .swal2-progresssteps .swal2-progresscircle.swal2-activeprogressstep {
                    background: #3085d6;
                }

                    .swal2-progresssteps .swal2-progresscircle.swal2-activeprogressstep ~ .swal2-progresscircle {
                        background: #add8e6;
                    }

                    .swal2-progresssteps .swal2-progresscircle.swal2-activeprogressstep ~ .swal2-progressline {
                        background: #add8e6;
                    }

            .swal2-progresssteps .swal2-progressline {
                background: #3085d6;
                height: .4em;
                margin: 0 -1px;
                z-index: 10;
            }

        [class^='swal2'] {
            -webkit-tap-highlight-color: transparent;
        }

        @@-webkit-keyframes showSweetToast {
            0% {
                -webkit-transform: translateY(-10px) rotateZ(2deg);
                transform: translateY(-10px) rotateZ(2deg);
                opacity: 0;
            }

            33% {
                -webkit-transform: translateY(0) rotateZ(-2deg);
                transform: translateY(0) rotateZ(-2deg);
                opacity: .5;
            }

            66% {
                -webkit-transform: translateY(5px) rotateZ(2deg);
                transform: translateY(5px) rotateZ(2deg);
                opacity: .7;
            }

            100% {
                -webkit-transform: translateY(0) rotateZ(0);
                transform: translateY(0) rotateZ(0);
                opacity: 1;
            }
        }

        @@keyframes showSweetToast {
            0% {
                -webkit-transform: translateY(-10px) rotateZ(2deg);
                transform: translateY(-10px) rotateZ(2deg);
                opacity: 0;
            }

            33% {
                -webkit-transform: translateY(0) rotateZ(-2deg);
                transform: translateY(0) rotateZ(-2deg);
                opacity: .5;
            }

            66% {
                -webkit-transform: translateY(5px) rotateZ(2deg);
                transform: translateY(5px) rotateZ(2deg);
                opacity: .7;
            }

            100% {
                -webkit-transform: translateY(0) rotateZ(0);
                transform: translateY(0) rotateZ(0);
                opacity: 1;
            }
        }

        @@-webkit-keyframes hideSweetToast {
            0% {
                opacity: 1;
            }

            33% {
                opacity: .5;
            }

            100% {
                -webkit-transform: rotateZ(1deg);
                transform: rotateZ(1deg);
                opacity: 0;
            }
        }

        @@keyframes hideSweetToast {
            0% {
                opacity: 1;
            }

            33% {
                opacity: .5;
            }

            100% {
                -webkit-transform: rotateZ(1deg);
                transform: rotateZ(1deg);
                opacity: 0;
            }
        }

        @@-webkit-keyframes showSweetAlert {
            0% {
                -webkit-transform: scale(0.7);
                transform: scale(0.7);
            }

            45% {
                -webkit-transform: scale(1.05);
                transform: scale(1.05);
            }

            80% {
                -webkit-transform: scale(0.95);
                transform: scale(0.95);
            }

            100% {
                -webkit-transform: scale(1);
                transform: scale(1);
            }
        }

        @@keyframes showSweetAlert {
            0% {
                -webkit-transform: scale(0.7);
                transform: scale(0.7);
            }

            45% {
                -webkit-transform: scale(1.05);
                transform: scale(1.05);
            }

            80% {
                -webkit-transform: scale(0.95);
                transform: scale(0.95);
            }

            100% {
                -webkit-transform: scale(1);
                transform: scale(1);
            }
        }

        @@-webkit-keyframes hideSweetAlert {
            0% {
                -webkit-transform: scale(1);
                transform: scale(1);
                opacity: 1;
            }

            100% {
                -webkit-transform: scale(0.5);
                transform: scale(0.5);
                opacity: 0;
            }
        }

        @@keyframes hideSweetAlert {
            0% {
                -webkit-transform: scale(1);
                transform: scale(1);
                opacity: 1;
            }

            100% {
                -webkit-transform: scale(0.5);
                transform: scale(0.5);
                opacity: 0;
            }
        }

        .swal2-show {
            -webkit-animation: showSweetAlert .3s;
            animation: showSweetAlert .3s;
        }

            .swal2-show.swal2-toast {
                -webkit-animation: showSweetToast .5s;
                animation: showSweetToast .5s;
            }

            .swal2-show.swal2-noanimation {
                -webkit-animation: none;
                animation: none;
            }

        .swal2-hide {
            -webkit-animation: hideSweetAlert .15s forwards;
            animation: hideSweetAlert .15s forwards;
        }

            .swal2-hide.swal2-toast {
                -webkit-animation: hideSweetToast .2s forwards;
                animation: hideSweetToast .2s forwards;
            }

            .swal2-hide.swal2-noanimation {
                -webkit-animation: none;
                animation: none;
            }

        @@-webkit-keyframes animate-success-tip {
            0% {
                width: 0;
                left: 1px;
                top: 19px;
            }

            54% {
                width: 0;
                left: 1px;
                top: 19px;
            }

            70% {
                width: 50px;
                left: -8px;
                top: 37px;
            }

            84% {
                width: 17px;
                left: 21px;
                top: 48px;
            }

            100% {
                width: 25px;
                left: 14px;
                top: 45px;
            }
        }

        @@keyframes animate-success-tip {
            0% {
                width: 0;
                left: 1px;
                top: 19px;
            }

            54% {
                width: 0;
                left: 1px;
                top: 19px;
            }

            70% {
                width: 50px;
                left: -8px;
                top: 37px;
            }

            84% {
                width: 17px;
                left: 21px;
                top: 48px;
            }

            100% {
                width: 25px;
                left: 14px;
                top: 45px;
            }
        }

        @@-webkit-keyframes animate-success-long {
            0% {
                width: 0;
                right: 46px;
                top: 54px;
            }

            65% {
                width: 0;
                right: 46px;
                top: 54px;
            }

            84% {
                width: 55px;
                right: 0;
                top: 35px;
            }

            100% {
                width: 47px;
                right: 8px;
                top: 38px;
            }
        }

        @@keyframes animate-success-long {
            0% {
                width: 0;
                right: 46px;
                top: 54px;
            }

            65% {
                width: 0;
                right: 46px;
                top: 54px;
            }

            84% {
                width: 55px;
                right: 0;
                top: 35px;
            }

            100% {
                width: 47px;
                right: 8px;
                top: 38px;
            }
        }

        @@-webkit-keyframes animate-toast-success-tip {
            0% {
                width: 0;
                left: 1px;
                top: 9px;
            }

            54% {
                width: 0;
                left: 1px;
                top: 9px;
            }

            70% {
                width: 24px;
                left: -4px;
                top: 17px;
            }

            84% {
                width: 8px;
                left: 10px;
                top: 20px;
            }

            100% {
                width: 12px;
                left: 3px;
                top: 18px;
            }
        }

        @@keyframes animate-toast-success-tip {
            0% {
                width: 0;
                left: 1px;
                top: 9px;
            }

            54% {
                width: 0;
                left: 1px;
                top: 9px;
            }

            70% {
                width: 24px;
                left: -4px;
                top: 17px;
            }

            84% {
                width: 8px;
                left: 10px;
                top: 20px;
            }

            100% {
                width: 12px;
                left: 3px;
                top: 18px;
            }
        }

        @@-webkit-keyframes animate-toast-success-long {
            0% {
                width: 0;
                right: 22px;
                top: 26px;
            }

            65% {
                width: 0;
                right: 22px;
                top: 26px;
            }

            84% {
                width: 26px;
                right: 0;
                top: 15px;
            }

            100% {
                width: 22px;
                right: 3px;
                top: 15px;
            }
        }

        @@keyframes animate-toast-success-long {
            0% {
                width: 0;
                right: 22px;
                top: 26px;
            }

            65% {
                width: 0;
                right: 22px;
                top: 26px;
            }

            84% {
                width: 26px;
                right: 0;
                top: 15px;
            }

            100% {
                width: 22px;
                right: 3px;
                top: 15px;
            }
        }

        @@-webkit-keyframes rotatePlaceholder {
            0% {
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }

            5% {
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }

            12% {
                -webkit-transform: rotate(-405deg);
                transform: rotate(-405deg);
            }

            100% {
                -webkit-transform: rotate(-405deg);
                transform: rotate(-405deg);
            }
        }

        @@keyframes rotatePlaceholder {
            0% {
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }

            5% {
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }

            12% {
                -webkit-transform: rotate(-405deg);
                transform: rotate(-405deg);
            }

            100% {
                -webkit-transform: rotate(-405deg);
                transform: rotate(-405deg);
            }
        }

        .swal2-animate-success-line-tip {
            -webkit-animation: animate-success-tip .75s;
            animation: animate-success-tip .75s;
        }

        .swal2-animate-success-line-long {
            -webkit-animation: animate-success-long .75s;
            animation: animate-success-long .75s;
        }

        .swal2-success.swal2-animate-success-icon .swal2-success-circular-line-right {
            -webkit-animation: rotatePlaceholder 4.25s ease-in;
            animation: rotatePlaceholder 4.25s ease-in;
        }

        @@-webkit-keyframes animate-error-icon {
            0% {
                -webkit-transform: rotateX(100deg);
                transform: rotateX(100deg);
                opacity: 0;
            }

            100% {
                -webkit-transform: rotateX(0deg);
                transform: rotateX(0deg);
                opacity: 1;
            }
        }

        @@keyframes animate-error-icon {
            0% {
                -webkit-transform: rotateX(100deg);
                transform: rotateX(100deg);
                opacity: 0;
            }

            100% {
                -webkit-transform: rotateX(0deg);
                transform: rotateX(0deg);
                opacity: 1;
            }
        }

        .swal2-animate-error-icon {
            -webkit-animation: animate-error-icon .5s;
            animation: animate-error-icon .5s;
        }

        @@-webkit-keyframes animate-x-mark {
            0% {
                -webkit-transform: scale(0.4);
                transform: scale(0.4);
                margin-top: 26px;
                opacity: 0;
            }

            50% {
                -webkit-transform: scale(0.4);
                transform: scale(0.4);
                margin-top: 26px;
                opacity: 0;
            }

            80% {
                -webkit-transform: scale(1.15);
                transform: scale(1.15);
                margin-top: -6px;
            }

            100% {
                -webkit-transform: scale(1);
                transform: scale(1);
                margin-top: 0;
                opacity: 1;
            }
        }

        @@keyframes animate-x-mark {
            0% {
                -webkit-transform: scale(0.4);
                transform: scale(0.4);
                margin-top: 26px;
                opacity: 0;
            }

            50% {
                -webkit-transform: scale(0.4);
                transform: scale(0.4);
                margin-top: 26px;
                opacity: 0;
            }

            80% {
                -webkit-transform: scale(1.15);
                transform: scale(1.15);
                margin-top: -6px;
            }

            100% {
                -webkit-transform: scale(1);
                transform: scale(1);
                margin-top: 0;
                opacity: 1;
            }
        }

        .swal2-animate-x-mark {
            -webkit-animation: animate-x-mark .5s;
            animation: animate-x-mark .5s;
        }

        @@-webkit-keyframes rotate-loading {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        @@keyframes rotate-loading {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        .maincolor {
            color: var(--blue) !important;
        }

        .mainbgcolor {
            background-color: var(--blue) !important;
        }

        .fnt300 {
            font-weight: 400 !important;
            font-size: 24px !important;
        }

        .top-logo-holder {
            padding: 15px 30px 15px;
            border-top: 0.5em solid var(--blue) !important;
        }
    </style>
</head>
<body id="lp_body" class="login-new" cz-shortcut-listen="true">
    <div class="top-logo-holder">
        <a href="https://taskayak.com/" class="maincolor fnt300">  <img style="width:200px;" src="@Url.Content("~/Content/Images/logo1.png")" /></a>
    </div>
    <div id="lp_main" class="login-new">
        <div class="content-legacy">
            <link rel="stylesheet" href="@Url.Content("~/LegalTermsview_files/legal.css")" /><div class="legal_page">
                <div class="legal_doc_title">
                    <a class="legal_doc_poplink fnbutton fnb-small" href="https://taskayak.com/legal/index/">Return</a>
                </div>
                <div class="legal_doc_wrap ">
                    <div class="legal_doc">
                        <div class="legal_title">
                            User Agreement

                        </div>
                        <p>
                            YOU SHOULD REVIEW THIS AGREEMENT IN ITS ENTIRETY. WHEN YOU ACKNOWLEDGE YOUR ACCEPTANCE OF THE AGREEMENT BY REGISTERING TO BECOME A USER OR USING THE PLATFORM, YOU WILL BE LEGALLY BOUND BY IT. IF YOU DO NOT ACCEPT THE TERMS AND CONDITIONS OF THIS AGREEMENT, DO NOT REGISTER TO USE OR USE THE PLATFORM.

                        </p>
                        <p>
                            This Convo Technologies User Agreement (the “Agreement”) states the terms and conditions governing users of the Convo Technologies website, taskayak.com and its platform (the “Platform”). The Platform is owned and operated by Convo Technologies, LLC (referred to as “Convo Technologies,” “we,” “us” or “our”), a limited liability company organized under the laws of the state of Texas, United States. All users (the “User,” “you,” or “your”) of the Platform are subject to this User Agreement.
                        </p>
                        <p>
                            We reserve the right to change this User Agreement at any time in our sole business discretion. Please check these terms regularly for changes. Convo Technologies does not assume any obligation to personally or individually notify Users of any modifications to this Agreement, or the creation of additional terms or the elimination of any terms. Your continued use of the Platform following the posting of any changes to the User Agreement will mean you accept and agree to those changes.

                        </p>
                        <div class="legal_sect_title">
                            Background; Other Agreements.
                        </div>
                        <p>
                            Registered service providers (“Providers”) are independent contractors who use the Platform to offer their services and to perform work on specific projects for registered buyers of their services (“Buyers”). Providers and Buyers can use the Platform to directly and independently coordinate with each other regarding all aspects of their projects through the Platform’s work order (“Work Order”) and payment functionality.

                        </p>
                        <div class="legal_sect_title">
                            1.2 How to become a registered Provider.
                        </div>
                        <p>
                            Users who want to use the Platform to offer their services to Buyers must register as Providers and accept the Provider Terms and Conditions (the “Provider Terms”) accessible by following this link: www.taskayak.com.

                        </p>
                        <div class="legal_sect_title">
                            1.3 How to become a registered Buyer.

                        </div>
                        <p>
                            Users who want to use the Platform to obtain services from Providers must register as Buyers and accept the Buyer Terms and Conditions (the “Buyer Terms”) accessible by following this link: www.taskayak.com.

                        </p>
                        <div class="legal_sect_title">
                            1.4 How Buyers create Work Orders.
                        </div>
                        <p>
                            Convo Technologies provides Buyers with Work Order templates that the Buyer must independently complete with the parameters of the services that are sought. A Buyer exclusively controls the content of a proposed Work Order, including but not limited to the timing of the work, location, skills required and tools required, subject only to compliance with our standard Work Order terms and conditions (the “Work Order Terms”) accessible by following this link: www.taskayak.com. A Buyer may vary these standard terms and conditions by adding language directly to a proposed Work Order through the Platform interface.

                        </p>
                        <div class="legal_sect_title">
                            1.5 How a contract is formed between a Buyer and a Provider.

                        </div>
                        <p>
                            A Buyer posts a proposed Work Order on the Platform. Through the Platform, a Provider may accept that Work Order and agree with the Buyer to provide services on the terms stated therein or a Provider can make a counterproposal to the Work Order. A Buyer can then agree to accept and agree to the counterproposal in the Work Order with the added or changed terms. Once accepted, an Engagement for completion of the services set forth in the Work Order has been established by Buyer and Provider.

                        </p>
                        <div class="legal_sect_title">
                            1.6 Convo Technologies’s Role.

                        </div>
                        <p>
                            Convo Technologies is not a party to any Work Order or any agreement that might separately be entered into between Buyer and Seller. Neither a Provider nor a Buyer can modify a Work Order to make Convo Technologies a party to a Work Order. Any terms a Buyer adds to a Work Order shall not modify, amend, or otherwise change the rights and obligations of Convo Technologies under this User Agreement. Convo Technologies is not an employer or joint employer of any Provider. Convo Technologies is not responsible for the performance or non-performance of any Buyer or any Provider. Each Provider is solely and entirely responsible for the Provider’s acts and for the acts of the Provider’s employees and agents. Each Buyer is solely and entirely responsible for the Buyer’s acts and for the acts of the Buyer’s employees, agents and subcontractors. Convo Technologies is not a party to any Work Order and is not bound by any terms of a Work Order. Taskayak.com is a qualified marketplace platform under laws recognizing such platforms for businesses that operate a digital website or application that facilitates the provision of services by qualified marketplace contractors to individuals or entities seeking such services.

                        </p>
                        <div class="legal_sect_title">
                            User Account Information; Eligibility to Use the Platform.

                        </div>
                        <p>
                            2.1 Users must have an individual User account with a username and password to use the Platform. If Buyer or Provider has multiple employees, agents or representatives who will use the Platform on their behalf, the Buyer or Provider may register multiple User’s subject to the terms of this User Agreement. User is responsible for ensuring and agrees to ensure that its employees, agents and representatives comply with the terms set for herein. All information that Users submit to the Platform must be real, accurate, and verifiable. Convo Technologies reserves the right to validate all identity information at any time. Further, by submitting information, you authorize Convo Technologies to make such inquiries as it determines are necessary to validate identity and confirm your ownership of your email address and financial information, either directly or via a third party validation service. Subject to any restrictions or limitations under applicable law, you agree to provide information requested by Convo Technologies to verify the accuracy of your User account information. Failure to provide required information to operate the Platform when requested is a violation of this User Agreement. You are solely responsible for maintaining the security of your username and password. If you disclose this information to any third party, you shall be solely responsible for all actions taken through your Convo Technologies account. You must notify Convo Technologies immediately if you suspect that your username or password has been stolen or are being misused by someone else. You acknowledge and agree that Convo Technologies’s security procedures are commercially reasonable.

                        </p>
                        <p>
                            2.2 Only adults and legal entities that are capable of entering and performing legally binding contracts may use this Platform. The Platform is not intended for use by minors. Persons under the age of majority in the state in which they perform work.

                        </p>
                        <p>
                            2.3 For purposes of this User Agreement, you warrant and represent that:

                        </p>
                        <p>
                            Your use of the Platform is not prohibited by the laws, rules, or regulations of the country or other legal jurisdiction in which you reside;

                        </p>
                        <p>
                            You are not located in a country or region, nor are you a citizen of a country or region, that is (i) subject to U.S. federal government sanctions or embargoes, including without limitation Cuba, Iran, North Korea, Sudan, and Syria, or (ii) that is on Canada’s Area Control List under Canada’s Export and Imports Permits Act; and

                        </p>
                        <p>
                            You are not employed by or associated with an entity identified on the U.S. Department of Commerce’s Denied Persons or Entity List, the U.S. Department of Treasury’s Specially Designated Nationals or Blocked Persons Lists, or the Department of State’s Debarred Parties List, and are not otherwise ineligible to receive items subject to U.S. export control laws, rules, and regulations.

                        </p>
                        <p>
                            You have authority to enter into this User Agreement on behalf of yourself, or on behalf of the registered business organization with which you are associated or for whom you are working when using this Platform.

                        </p>
                        <p>
                            You will at all times comply with any and all laws, ordinances, statutes, executive orders and regulations, federal, state, county and municipal, insofar as they are applicable to your use of the Platform.

                        </p>
                        <div class="legal_sect_title">
                            Relationship.

                        </div>
                        <p>
                            This User Agreement does not in itself create an agency, employment, joint employment, franchise, joint venture, or partnership between Convo Technologies and any User.

                        </p>
                        <div class="legal_sect_title">
                            Registered Service Company.

                        </div>
                        <p>
                            Users who register as a Registered Service Company or an employee of a Registered Service Company in their profile or otherwise will receive a Registered Service Company designation.  By registering as a Registered Service Company or an employee of a Registered Service Company, User represents and warrants it: (1) operates an independently established business or trade; (2) it operates under an Employer Identification Number (EIN); (3) it maintains Worker’s Compensation insurance; and (4) it has 3 or more employees. User agrees to notify Convo Technologies if it no longer meets a Registered Service Company requirement.

                        </p>
                        <div class="legal_sect_title">
                            License; Limitations; Reservation of Proprietary Rights.

                        </div>
                        <p>
                            5.1 Convo Technologies grants to you a non-exclusive right and license to access and use the Platform solely for your own business purposes for the term of this User Agreement subject to the payment of all applicable fees.

                        </p>
                        <p>
                            5.2 You shall not:

                        </p>
                        <p>
                            Attempt to rent, license, sublicense, sell, resell, transfer, assign, distribute or otherwise commercially exploit or make the Platform available to any third party;

                        </p>
                        <p>
                            Produce a source listing, decompile, disassemble, or otherwise reverse engineer the Platform;

                        </p>
                        <p>
                            Interfere with or disrupt the performance of the Platform for any reason, or attempt to gain unauthorized access to any data stored in such product; or

                        </p>
                        <p>
                            Remove or obscure any notices or markings, including without limitation, copyright, trademark, or confidentiality notices, or ownership notices on the Platform, including any screens displayed by such product.

                        </p>
                        <p>
                            5.3 Convo Technologies retains all ownership and intellectual property rights to the Platform that are not specifically granted to Users hereunder.

                        </p>
                        <div class="legal_sect_title">
                            Social Media Features.

                        </div>
                        <p>
                            6.1 The Platform includes features which allow Users to post messages, comments, statements, and personal information for viewing by other Users of the Platform. Users are responsible for exercising such care as is necessary to protect their private, confidential, or personal information when using such Platform functionality. You are responsible for maintaining the privacy of your personally identifiable information when using this functionality. If you do post comments to message forums or via similar features, or send any comments or questions about the Platform via email, telephone, or other means, such information is public, and Convo Technologies may store, maintain, and use such information indefinitely, and may also disclose such information to third parties in our sole business discretion. Usage of the Platform constitutes consent of User for Convo Technologies to contact the User by way of electronic and/or cellular communication with information, updates, opportunities and selected announcements from Convo Technologies or third parties with whom Convo Technologies has a contractual relationship. Users may opt out of these communications via the Platform.

                        </p>
                        <p>
                            6.2 Convo Technologies is not legally responsible for any information or content posted or made available on the Platform by any User which is defamatory, violates privacy rights, or otherwise violates the rights of another user or third party. Convo Technologies does not actively monitor or censor any information posted for viewing via the Platform although it expressly reserves the right to monitor the postings or other activities of Users at any time without notice. Convo Technologies reserves the right to remove or restrict access to any information or content posted or made available on the Platform if it determines that such information violates this User Agreement or any law, rule, or regulation of any legal jurisdiction.

                        </p>
                        <div class="legal_sect_title">
                            Acceptable Use of the Platform.
                            <br />By accessing the Platform, you agree that:
                        </div>
                        <p>
                            1. You will not knowingly provide or enter any false, misleading, or fraudulent information;
                            <br /> 2. You will not use the Platform for any illegal purpose, nor will you provide or enter any material or information in violation of any applicable law or regulation;
                            <br />  3. All information and User content provided or entered by you (i) must be original to you, and not violate the copyright or other proprietary rights of any third party, and (ii) must not violate the rights of any third party, including trade secret or privacy rights;
                            <br />   4. Information provided or entered by you must not be defamatory, harassing, offensive, threatening, obscene, or otherwise inappropriate or disruptive;
                            <br />   5. You will not hold yourself out as someone you are not or otherwise impersonate any other person;
                            <br />   6. You will not interfere or tamper with the functioning of the Platform, nor will you attempt to gain access to information or control of the Platform not specifically granted to you;
                            <br />   7. You will not use the Platform to transmit any spyware, virus or similar destructive program or code;
                            <br />   8. You will not compile any database or list of other Platform Users, nor will you use the Platform to facilitate the sending of any spam (unsolicited emails), bulk email, or email offering to sell goods or provide services, except as specifically authorized in conjunction with Convo Technologies services and in no event will you send emails that would violate the CAN-SPAM Act in any way;
                            <br />   9. You will abide by any other rules for participation in any Social Media features on the Platform including but not limited to not entering advertisements in newsgroups, chat rooms, or forums in violation of the terms of participation for such newsgroups or forums, or on topics not intended for such newsgroups, chat rooms or forums; and
                            <br /> 10. You will not use the Platform to discuss or disclose the terms of any Work Order, except to facilitate the performance of the Work Order between the Buyer and the Provider.

                        </p>
                        <div class="legal_sect_title">
                            Links to Other Websites.

                        </div>
                        <p>

                            The Platform may provide links to websites owned and operated by third parties. Convo Technologies exercises no control whatsoever over such websites and is not responsible or liable for the availability, content, advertising, products, services, or other materials available or viewable on such websites. Access and use of such linked websites is solely at your own risk.

                        </p>
                        <div class="legal_sect_title">
                            Term and Termination of the Agreement.
                        </div>
                        <p>
                            This User Agreement commences when you register or use the Platform for the first time and continues in force until terminated by you or Convo Technologies. You may terminate this User Agreement immediately upon notice to Convo Technologies at any time for any reason. Convo Technologies may also terminate this User Agreement immediately without any notice at any time and for any reason. Upon termination by you or by Convo Technologies, your right to access and use the Platform will cease immediately. Termination does not relieve you from the obligation to pay any fees due to Convo Technologies which accrued before the termination date or which are otherwise owed in connection with activities or commitments made through use of the platform prior to notifying Convo Technologies of your intent to terminate the Agreement.

                        </p>
                        <div class="legal_sect_title">
                            Insurance.

                        </div>
                        <p>
                            Providers is required to and agrees to maintain all worker's compensation and other employee or worker's insurance coverage required in each jurisdiction in which Providers perform any services. Providers also are required to and agree to maintain commercial general liability insurance coverage with combined policy limits of at least $1,000,000, and business automobile liability insurance coverage with combined limits of at least $1,000,000, or such higher amounts or additional coverage as may be set forth in a Work Order. Under the Work Order Terms, Providers acknowledge that Buyers may require additional insurance coverage as a condition of accepting and performing a Work Order.

                        </p>
                        <div class="legal_sect_title">
                            No Warranty; Limitations of Liability; Indemnification.


                        </div>
                        <p>
                            11.1 USE OF THE PLATFORM IS AT YOUR SOLE RISK. THE SERVICE IS PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS AND WITHOUT A WARRANTY OF ANY KIND. CONVO TECHNOLOGIES SHALL NOT BE LIABLE TO YOU FOR ANY DIRECT, INDIRECT, INCIDENTAL, OR CONSEQUENTIAL DAMAGES OF ANY KIND RESULTING FROM ANY USE AND ACCESS, OR INABILITY TO USE AND ACCESS THE PLATFORM.
                            <br />     CONVO TECHNOLOGIES IS RELYING ON THE FOREGOING WARRANTY AND LIABILITY LIMITATIONS IN PROVIDING THE PLATFORM. BY USING THE PLATFORM, YOU AGREE THAT THESE EXCLUSIONS ARE ACCEPTABLE.

                        </p><p>
                            11.2 You will indemnify, defend, and hold Convo Technologies, its affiliates, and licensors, and each of its respective officers, managers, directors, agents, independent contractors, employees, consultants, service providers, and applicable third parties (collectively, the “Indemnified Parties”) harmless from and against any actual or threatened suit, demand or claims, damages, costs, liabilities and expenses arising out of or relating to: (a) your use or misuse of the Platform; (b) your failure to perform your obligations under this User Agreement; (c) any allegation that any content or material supplied by you via the Platform infringes or violates any third party rights; or (d) the use of the Platform by any third party who has access to the User’s computer or any other electronic device.
                        </p>
                        <div class="legal_sect_title">
                            Trademarks.
                        </div>
                        <p>
                            “Convo Technologies” and “taskayak.com” are trademarks of Convo Technologies, LLC. All other marks, names, and logos displayed by the Platform are the property of Convo Technologies or their respective owners. User agrees to not use Convo Technologies’ trademarks and other marks, names and logos displayed by the Platform without its prior written consent. Such use is strictly prohibited.

                        </p>
                        <div class="legal_sect_title">
                            Copyright Issues.
                        </div>
                        <p>
                            13.1 Infringement Notification. Upon receipt of proper notification of claimed infringement, Convo Technologies will follow the procedures outlined herein and in the DMCA.
                            <br />To file a notice of infringement with Convo Technologies, you must provide a written communication (by email or regular mail) that sets forth the information specified in the list below. Please note that you will be liable for damages (including costs and attorney’s fees) if you materially misrepresent that material is infringing your copyright(s). Accordingly, if you are not sure if you are the proper copyright holder or if copyright laws protect the material of yours, you may want to consult a lawyer.
                            <br />To expedite our ability to process your request, please use the following format (including section numbers): (a) identify with sufficient detail the copyrighted work that you believe has to been infringed. (For example, “The copyrighted work at issue is the “Name of the work” by “name of the author” and abstract number (http://___.com/abstract=638801);(b) identify the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit us and the owner or administrator of the User content to locate the material; (c) provide information reasonably sufficient to permit us to contact you, such as an address, telephone number, and, if available, an email address at which you may be contacted; (d) include the following statement: “I have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law”; (e) include the following statement: “I swear, under penalty of perjury, that the information in the notification is accurate, and that I am the copyright owner or am authorized to act on behalf of the owner of an exclusive right that is allegedly infringed”; and (f) sign the document.

                        </p>
                        <div class="legal_sect_title">
                            Send the written communication to our designated agent at:
                        </div>
                        <p>
                            Convo Technologies, LLC<br />
                            Attention: Designated Agent<br />
                            PO Box 1167<br />
                            Cedar Park, TX 78630<br />
                            Email: info@convotechnologies.com<br />
                            Phone: 512-200-4402

                        </p>
                        <p>
                            13.2 Counter Notification. The owner or administrator of the allegedly infringing content may make a counter notification pursuant to sections 512(g)(2) and (3) of the DMCA.
                            <br />
                            To file a counter notification with us, you must provide a written communication (by fax or regular mail) that sets forth the information specified in the list below. Please note that you will be liable for damages (including costs and attorneys’ fees) if you materially misrepresent that a product or activity is not infringing the copyrights of others. Accordingly, if you are not sure whether certain material infringes the copyrights of others, we suggest that you first contact an attorney.
                            <br />To expedite our ability to process your request, please use the following format (including section numbers): (a) identify the material that has been removed or to which access has been disabled and the location at which the material appeared before it was removed or access to it was disabled; (b) provide your name, address, and telephone number; (c) include the following statement: “I consent to the jurisdiction of Federal District Court for the State of Minnesota”; (d) include the following statement: “I will accept service of process from [insert the name of the person who submitted the infringement notification] or his/her agent”; (e) include the following statement: “I swear, under penalty of perjury, that I have a good faith belief that the affected material was removed or disabled as a result of a mistake or misidentification of the material to be removed or disabled”; and (f) sign the document.

                        </p>
                        <div class="legal_sect_title">
                            Send the written communication to our designated agent at:

                        </div>
                        <p>
                            Convo Technologies, LLC<br />
                            Attention: Copyright Officer<br />
                            PO Box 1167<br />
                            Cedar Park, TX 1167<br />
                            Email: info@convotechnologies.com<br />
                            Phone: 512--200-4402

                        </p><p>
                            Upon receipt of such counter notification, we will promptly provide the person who provided the original infringement notification with a copy of the counter notification, and inform that person that we may replace the removed material and cease disabling access to it not less than 10, nor more than fourteen (14), business days following receipt of the counter notice, unless our designated agent first receives notice from the person who submitted the original infringement notification that such person has filed an action seeking a court order to restrain the subscriber from engaging in infringing activity relating to the material on our system network or Platform.
                            <br />13.3 Repeat Infringers. In accordance with Section 512(i)(1)(a) of the DMCA, we will, in appropriate circumstances, disable and/or terminate the accounts of Users who engage in infringement.
                        </p>
                        <div class="legal_sect_title">
                            Privacy.

                        </div>
                        <p>
                            Convo Technologies gathers and uses information provided by Users in accordance with the terms of its current privacy policy, which is incorporated herein by reference (the “Privacy Policy”). Convo Technologies may update or otherwise modify the Privacy Policy in its sole discretion upon notice to Buyers and other Users which will be provided by posting the updated Privacy Policy on the Convo Technologies website at https://app.fieldnation.com/tech_reg/PrivacyPolicy.php. Individualized notice is not provided to Users. User agrees that continued use of the Platform after notification will constitute User’s consent to any modifications to the Privacy Policy.
                        </p>
                        <p>
                            General.<br />
                            15.1 All notices required by this User Agreement must be delivered in person or by means evidenced by a delivery receipt to the principal business address of the party receiving the notice and addressed to the attention of its President, Chief Executive Officer, or other representative authorized to receive legal notices. Notices by email shall be valid provided that the recipient is authorized to receive notices for the party, and the recipient acknowledges receipt of the email via a return email which includes the full text of the original message.
                        </p>
                        <p>
                            15.2 All actions related to this User Agreement will be governed by Minnesota law and/or controlling U.S. Federal Law without regard to the choice of law provisions of any jurisdiction. The United Nations Convention on Contracts for the International Sale of Goods shall not apply to this User Agreement.
                        </p>
                        <p>
                            15.3 A User may not assign or otherwise transfer its rights or obligations under this User Agreement for any reason without the prior written consent of Convo Technologies. Convo Technologies may assign this User Agreement in its business discretion without your consent, provided that the assignee assumes and agrees to perform all of Convo Technologies’s obligations under this User Agreement.

                        </p>
                        <p>
                            15.4 This User Agreement shall be binding upon, and inure to the benefit of, the parties and their permitted respective successors and assigns.

                        </p>
                        <p>
                            15.5 Any express waiver or failure to exercise promptly any right under this User Agreement will not create a continuing waiver or any expectation of non-enforcement.

                        </p>
                        <p>
                            15.6 If any provision of this User Agreement is held invalid, illegal or unenforceable, the validity, legality and enforceability of the remaining provisions will not in any way be affected or impaired thereby, and will be interpreted, to the extent possible, to achieve the purposes as originally expressed in the invalid, illegal or unenforceable provision.

                        </p>
                        <p>
                            15.7 The terms and conditions of this User Agreement which are intended by their nature to survive its termination shall survive such termination.

                        </p>
                        <p>
                            Created: March, 2020.
                        </p>
                        <p>
                            Copyright © 2020 Convo Technologies, LLC. All rights reserved.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="lp_footer">

        © 2020, All rights reserved by TasKayaK
    </div>


</body>
</html>
