﻿
@{
    ViewBag.Title = "Permission";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 1;
    var permission = (List<int>)ViewBag.permissions;
}
<style>
.pos-static > .dropdown-menu {
    min-width: 122px!important;
}
.col-lg-4 {
    padding-right: 8px !important;
}.col-lg-8 {
    padding-left: 0px !important;
}
</style>
@model hrm.Models.PermissionRoleModal
<div class="p-10">
    @*<h2 class="page-title">Employee Roles</h2>*@
</div>
<div class="p-30 p-t-none p-b-none">
     @if (!string.IsNullOrEmpty(Model.error_text))
    {
        <span id="alert" style="display:none;" data-class="@Model.alertclass" data-text="@Model.error_text"></span>
    }
    <div id="updaterole" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Update Permission</h4>
                </div>
                @using (Html.BeginForm("edit", "Permission", FormMethod.Post, new { @id = "frmsendsms", @enctype = "multipart/form-data" }))
                {
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Permission Name</label>
                            @Html.TextBoxFor(a => a.PermissionRole_name , new { @class = "form-control", @id = "poprole_name" })
                            @Html.ValidationMessageFor(a => a.PermissionRole_name)
                            @Html.HiddenFor(a => a.PermissionRole_id)
                        </div>

                        <div class="form-group">
                            <label>Status</label>
                            <select class="selectpicker form-control " id="popstatusid" name="statusid">
                                <option value="1">Active</option>
                                <option value="2">Inactive</option>
                            </select>
                        </div> 

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Update </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-times-circle"></i> Close</button> 
                    </div>
                }
            </div>

        </div>

    </div>
    <div class="row">

        <div class="col-lg-4 pdr4">
            <div class="panel">
                <div class="panel-body">
                    @using (Html.BeginForm("add", "Permission", FormMethod.Post, new { @id = "frmsendsms", @enctype = "multipart/form-data" }))
                    {
                        <div class="panel-heading">
                            <h3 class="panel-title pd-0"> Create New Permission</h3>
                        </div>

                        <div class="form-group">
                            <label>Name</label>
                            @Html.TextBoxFor(a => a.PermissionRole_name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.PermissionRole_name)
                        </div> 
                        <div class="form-group">
                            <label>Status</label>
                            <select class="selectpicker form-control " name="statusid">
                                <option value="1">Active</option>
                                <option value="2">Inactive</option>
                            </select>
                        </div>
                        if (permission.Contains(35))
                        {
                            <button type="submit" class="btn btn-success btn-sm pull-right"><i class="fa fa-save"></i> Save </button> 
                        }
                        else
                        {
                            <a href="#" class="btn btn-success btn-sm pull-right disabledbtn" data-msg="you are not authorized to add new role"><i class="fa fa-save"></i> Save </a> 
                        }
                    }
                </div>
            </div>
        </div>


        <div class="col-lg-8 pdl4">
            <div class="panel">
                <div class="panel-heading pd27head" style="">
                    <h3 class="panel-title">Permissions</h3>
                </div>
                <div class="panel-body p-none">
                    <div class="col-sm-12">
                        <table class="table data-table table-hover table-ultra-responsive dataTable no-footer" id="table">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Permission Name</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model._PermissionRoles)
                                {
                                    <tr role="row" class="even">
                                        <td>@count</td>
                                        <td>
                                            @if (permission.Contains(37))
                                            {
                                                <a href="@Url.Action("set_Permissions", "Permission", new { id = item.PermissionRoleId })">@item.Name</a>
                                            }
                                            else
                                            { <a href="#" class="disabledbtn" data-msg="You are not authorized to edit selected skill">@item.Name</a>

                                        }
                                        </td>
                                        <td>

                                            @if (permission.Contains(37))
                                            {
                                                <a class="" href="#" onclick="Uploadfile('@item.StatusId','@item.Name','@item.PermissionRoleId')"><span class="@(item.Status=="Active"?"text-success":"text-danger")">@item.Status</span></a>
                                            }
                                            else
                                            {
                                                <a href="#" class="disabledbtn" data-msg="You are not authorized to edit selected role"><span class="@(item.Status=="Active"?"text-success":"text-danger")">@item.Status</span></a>
                                            }

                                        </td>
                                        <td>
                                            <div class="btn-group pos-static">
                                                <a class="customedropdown" data-toggle="customedropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa fa-ellipsis-v fn21"></i>
                                                </a>
                                                <div class="dropdown-menu customdropdown-menu" x-placement="bottom-start" style="top: 0px; transform: translate3d(-38px, 10px, 0px); will-change: transform; position: absolute; left: 0px; display: block;">
  @if (permission.Contains(60))
                                                    {
                                                    <a class="btn btn-complete btn-xs" href="@Url.Action("set_Permissions", "Permission", new { id = item.PermissionRoleId })"><i class="fa fa-list"></i> Set Permission</a>
                                                    }
                                                    else
                                                    {
                                                <a href="#" class="btn btn-complete btn-xs disabledbtn" data-msg="You are not authorized to set Permission"><i class="fa fa-list"></i> Set Permission</a>
                                                    }
                                                    @if (permission.Contains(37))
                                                    {
                                                        <a class="btn btn-success btn-xs" href="#" onclick="Uploadfile('@item.StatusId','@item.Name','@item.PermissionRoleId')"><i class="fa fa-edit"></i> Edit</a>
                                                    }
                                                    else
                                                    {
                                                        <a href="#" class="btn btn-success btn-xs disabledbtn" data-msg="You are not authorized to edit selected role"><i class="fa fa-edit"></i> Edit</a>
                                                    }
                                                    @if (permission.Contains(36))
                                                    {
                                                        <a href="#" class="btn btn-danger btn-xs cdelete" id="@item.PermissionRoleId "><i class="fa fa-trash"></i> Delete</a>
                                                    }
                                                    else
                                                    {
                                                        <a href="#" class="btn btn-danger btn-xs disabledbtn" data-msg="You are not authorized to delete selected role"><i class="fa fa-trash"></i> Delete</a>
                                                    }
                                                    <a class="btn btn-info btn-xs"><i class="fa fa-window-close"></i> Close</a>
                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                    count = count + 1;
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<script>
    $(document).ready(function () {
        $('.data-table').DataTable({ 'bSort': false, "pageLength": 25, "oLanguage": { "sSearch": "", 'sLengthMenu': "Show _MENU_" }, });
        $(".cdelete").click(function (e) {
            e.preventDefault();
            var id = this.id;
            bootbox.confirm("Are you sure?", function (result) {
                if (result) {
                    var _url = "@Url.Action("index", "Permission")";
                    window.location.href = _url + "?id=" + id;
                }
            });
        });
    });
    function Uploadfile(statusid, Permissionrolename, PermissionRole_id) {
    $('#updaterole').modal('show');
         $("#popstatusid").val(statusid);
         $('.selectpicker').selectpicker('refresh');
        $("#poprole_name").val(Permissionrolename);
        $("#PermissionRole_id").val(PermissionRole_id);
    }
</script>