﻿
@{
    ViewBag.Title =Model.name;
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0;
    int tab = 1;
    int tab1 = 1;
    string SubType = "";
    string OldSubType = "";
}
@model hrm.Models.Permissions
@{
    var dct = Model._Permissions.GroupBy(a => a.type).ToDictionary(a => a.Key, a => a.ToList());
    Model.tabId = !string.IsNullOrEmpty(Model.tabId) ? Model.tabId : dct.Keys.FirstOrDefault() ;
}
<style>
    .headingtool {
        margin-bottom: 6px !important;
        margin-top: 10px;
    }

    .hdr {
        background: #F7F8FA;
        color: black;
        margin-bottom: 10px;
        border: 1px solid rgba(230, 230, 230, 0.7);
    }

    .inputbox3, .inputbox2 {
        width: 24px;
        height: 13px;
        padding: 0;
        margin: 0;
        vertical-align: bottom;
        position: relative;
        top: -1px;
        *overflow: hidden;
    }

    .bcklabel {
        font-size: 14px !important;
        padding-top: 0px;
    }

    .round input[type="checkbox"] {
        visibility: hidden;
    }

        .round input[type="checkbox"]:checked + label {
            background-color: var(--blue);
            border-color: var(--blue);
        }

    .bck {
        background-color: var(--blue) !important;
        border-color: var(--blue) !important;
    }

        .bck:after {
            border: 2px solid #fff !important;
            border-top: none !important;
            border-right: none !important;
            content: "" !important;
            height: 6px !important;
            left: 4px !important;
            opacity: 1 !important;
            position: absolute !important;
            top: 4px !important;
            transform: rotate(-45deg) !important;
            width: 10px !important;
        }

    .round input[type="checkbox"]:checked + label:after {
        opacity: 1;
    }

    .pd0 {
        padding-bottom: 0px !important;
    }

    .cuschk {
        cursor: pointer;
    }

    .round label {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 50%;
        cursor: pointer;
        height: 20px;
        left: 0px;
        position: absolute;
        top: 18px;
        width: 20px;
    }

    .round {
        position: relative;
        padding-bottom: 17px;
        padding-top: 17px;
    }

        .round label:after {
            border: 2px solid #fff;
            border-top: none;
            border-right: none;
            content: "";
            height: 6px;
            left: 3px;
            opacity: 0;
            position: absolute;
            top: 3px;
            transform: rotate(-45deg);
            width: 12px;
        }

    .closebox:hover {
        color: #626262 !important;
        background-color: #FFFFFF !important;
        border: 1px solid #EEE !important;
    }
</style>
<div class="p-10">
    @*<h2 class="page-title">
            Add Lead

        </h2>*@

</div>

<div class="p-30 p-t-none p-b-none">
    @if (!string.IsNullOrEmpty(Model.error_text))
    {
        <span id="alert" style="display:none;" data-class="@Model.alertclass" data-text="@Model.error_text"></span>
    }
    <div class="row">

        <div class="col-lg-12 col-md-12">
            <div class="panel">
                <div class="panel-body">
                    @using (Html.BeginForm("set_Permissions", "Permission", FormMethod.Post, new { @id = "frmPermission", @enctype = "multipart/form-data" }))
                    {<div class="col-md-12">
                            <div class="panel-heading">
                                <h3 class="panel-title pd-0">
                                    Set Permission <b>(@Model.name)</b>
                                    <a class="btn btn-success btn-sm pull-right" href="@Url.Action("index","Permission")">
                                        <i class="fa fa-arrow-left"></i> Permission List 
                                        @Html.HiddenFor(a => a.Ruleid)
                                        <input type="hidden" value="1" id="tabid" name="tabid" />
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <ul class="nav nav-tabs" role="tablist">
                                @foreach (var items in dct)
                                {
                                    <li role="presentation" data-id="@items.Key"  class="subtype @(Model.tabId==items.Key ? "active" : "")">
                                        <a href="#@items.Key.Replace(" ","-")" aria-controls="messages"
                                           role="tab" data-toggle="tab" aria-expanded="false">@items.Key</a>
                                    </li>
                                    tab = tab + 1;
                                } 
                            </ul> 
                            <div class="tab-content"> 
                                @foreach (var item in dct)
                                {
                                    <div role="tabpanel" class="tab-pane @(Model.tabId==item.Key ? "active" : "")" id="@item.Key.Replace(" ", "-")">
                                        <div class="panel">
                                            <div class="panel-heading" style="padding-left:20px;">
                                                <h3 class="panel-title">
                                                    @*@item.Key*@
                                                </h3>
                                            </div>
                                            <div class="panel-body" style="padding-left: 20px;">
                                                @{
                                                    count = 0;
                                                    SubType = "";
                                                    OldSubType = "";
                                                }
                                                @foreach (var item1 in dct[item.Key].OrderBy(a => a.name).OrderBy(a => a.Subtype))
                                                {
                                                    SubType = item1.Subtype;

                                                    if (!string.IsNullOrEmpty(SubType) && OldSubType != SubType)
                                                    {
                                                        OldSubType = SubType;
                                                        count = 0;
                                                        <div class="col-md-12 hdr">
                                                            <div class="form-group headingtool">
                                                                <label>@SubType</label>

                                                            </div>
                                                        </div>

                                                    }
                                                    <div class="col-md-2">
                                                        <div class="form-group">
                                                            <div class="round">
                                                                @if (!Model._Userpermissions.Contains(item1.id))
                                                                {<input class="inputbox3" name="perms" value="@item1.id" type="checkbox" id="@item1.id" /><span data-toggle="tooltip" title="@item1.name"> @(item1.name.Count() > 20 ? item1.name.Substring(0, 19) + ".." : item1.name)</span>
                                                                    <label for="checkbox" name="perms" class="cuschk @item1.id" data-id="@item1.id"></label>
                                                                }
                                                                else
                                                                {
                                                                    <input class="inputbox3" checked name="perms" value="@item1.id" type="checkbox" id="@item1.id" /><span data-toggle="tooltip" title="@item1.name"> @(item1.name.Count() > 20 ? item1.name.Substring(0, 19) + ".." : item1.name)</span>
                                                                    <label for="checkbox" name="perms" class="cuschk bck @item1.id" data-id="@item1.id"></label>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                    count = count + 1;
                                                    if (count == 6)
                                                    {
                                                        count = 0;
                                                        <div class="clearfix"></div>
                                                    }
                                                }

                                            </div>
                                        </div>
                                    </div>
                                    tab1 = tab1 + 1;
                                }

                            </div>
                        </div>
                        <button type="submit" class="btn btn-success btn-sm pull-right"><i class="fa fa-save"></i> Update </button>

                    }
                </div>
            </div>
        </div>

    </div>

</div>
<script>
    $(document).ready(function () {
        $(".cuschk").on("click", function () {
            var id = $(this).data("id");
            if ($(this).hasClass("bck")) {
                $("#" + id).attr("checked", false);
                $(this).removeClass("bck");
            } else {
                $("#" + id).attr("checked", true);  
                $(this).addClass("bck");
            }
            $(".subtype").each(function () {
                if ($(this).hasClass("active")) {
                    $("#tabid").val($(this).data("id"));
                    }
            });
        });
    });
</script>
