﻿
@{
    ViewBag.Title = "Add New Template";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/ckeditor/ckeditor.js")"></script>
@model hrm.Models.templateitem
<style>
    .table.table-condensed tbody tr td {
        padding-top: 6px !important;
    }

    .table tbody tr td {
        background-color: #fff !important;
        background-image: none !important;
        border: 1px solid rgba(0,0,0,.07) !important;
        -webkit-appearance: none !important;
        color: #443 !important;
        outline: none !important;
        height: 42px !important;
        line-height: normal !important;
        font-size: 13px !important;
        font-weight: 400 !important;
        vertical-align: middle !important;
        min-height: 42px !important;
        padding: 6px !important;
    }

    .panel {
        padding-bottom: 160px !important;
    }
</style>
<div class="p-10">
    @*<h2 class="page-title">Job List</h2>*@
</div>
<div class="p-30 p-t-none p-b-none">
    @if (!string.IsNullOrEmpty(Model.error_text))
    {
        <span id="alert" style="display:none;" data-class="@Model.alertclass" data-text="@Model.error_text"></span>
    }

    <div class="row">

        <div class="col-lg-12">
            <div class="panel">
                <div class="panel-heading panel-heading-0 template-edit-pd">
                    <div class="col-md-6 col-sm-6 pd-8 ">
                        <h3 class="panel-title template-add-pd">
                            Add Template
                        </h3>
                    </div>
                    <div class="col-md-6 col-sm-6 topbuttondiv">
                        <a class="btn btn-success btn-sm pull-right" href="@Url.Action("index","template")">
                            <i class="fa fa-arrow-left"></i> Template List
                        </a>
                    </div>
                </div>


                <div class="panel-body p-b-15">
                    @using (Html.BeginForm("add", "template", FormMethod.Post, new { @id = "frmsendsms" }))
                    {
                        <div class="col-md-3">
                            <div class="form-group">
                                <label> Template Name</label>
                                @Html.TextBoxFor(a => a.title, new { @class = "form-control" })
                                @Html.ValidationMessageFor(a => a.title)
                            </div>
                            <div class="form-group">
                                <label>Set Default</label>
                                <select class="selectpicker form-control " data-live-search="true" name="isdefault" id="isdefault">
                                    <option value="True">Yes</option>
                                    <option value="False">No</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label> SMS Message</label>
                                @Html.TextAreaFor(a => a.sms, new { @class = "form-control", @rows = "10", @style = "height:150px !important", })

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Email</label>
                                @Html.TextAreaFor(a => a.email, new { @class = "ckeditor form-control", @rows = "15", @style = "height:600px !important", @id = "addeditir" })

                            </div>
                        </div>
                        <div class="col-md-3">
                            <label>
                                Tokens
                            </label>
                            <table class="table table-bordered table-condensed">
                                <tbody>
                                    <tr>
                                        <td onclick="copy('{{datetime}}')">{{datetime}} <span class="pull-right"><i class="fa fa-copy" style="color: var(--blue);"></i></span></td>
                                        <td onclick="copy('{{date}}')">{{date}}<span class="pull-right"><i class="fa fa-copy" style="color: var(--blue);"></i></span></td>

                                    </tr>
                                    <tr>
                                        <td onclick="copy('{{StartTime}}')">{{StartTime}}<span class="pull-right"><i class="fa fa-copy" style="color: var(--blue);"></i></span></td>
                                        <td onclick="copy('{{EndTime}}')">{{EndTime}}<span class="pull-right"><i class="fa fa-copy" style="color: var(--blue);"></i></span></td>

                                    </tr>
                                    <tr>
                                        <td onclick="copy('{{JobId}}')">{{JobId}}<span class="pull-right"><i class="fa fa-copy" style="color: var(--blue);"></i></span></td>
                                        <td onclick="copy('{{JobTitle}}')">{{JobTitle}}<span class="pull-right"><i class="fa fa-copy" style="color: var(--blue);"></i></span></td>

                                    </tr>
                                    <tr>
                                        <td onclick="copy('{{Price}}')">{{Price}}<span class="pull-right"><i class="fa fa-copy" style="color: var(--blue);"></i></span></td>
                                        <td onclick="copy('{{Description}}')">{{Description}}<span class="pull-right"><i class="fa fa-copy" style="color: var(--blue);"></i></span></td>

                                    </tr>
                                    <tr>
                                        <td onclick="copy('{{TechfirstName}}')">{{TechfirstName}}<span class="pull-right"><i class="fa fa-copy" style="color: var(--blue);"></i></span></td>
                                        <td onclick="copy('{{TechllastName}}')">{{TechllastName}}<span class="pull-right"><i class="fa fa-copy" style="color: var(--blue);"></i></span></td>

                                    </tr>
                                    <tr>
                                        <td onclick="copy('{{TechfullName}}')">{{TechfullName}}<span class="pull-right"><i class="fa fa-copy" style="color: var(--blue);"></i></span></td>
                                        <td onclick="copy('{{TechCity}}')">{{TechCity}}<span class="pull-right"><i class="fa fa-copy" style="color: var(--blue);"></i></span></td>

                                    </tr>
                                    <tr>
                                        <td onclick="copy('{{jobCity}}')">{{jobCity}}<span class="pull-right"><i class="fa fa-copy" style="color: var(--blue);"></i></span></td>
                                        <td onclick="copy('{{jobState}}')">{{jobState}}<span class="pull-right"><i class="fa fa-copy" style="color: var(--blue);"></i></span></td>

                                    </tr>
                                    <tr>
                                        <td onclick="copy('{{TechState}}')">{{TechState}}<span class="pull-right"><i class="fa fa-copy" style="color: var(--blue);"></i></span></td>
                                        <td onclick="copy('{{JobAddress}}')">{{JobAddress}}<span class="pull-right"><i class="fa fa-copy" style="color: var(--blue);"></i></span></td>

                                    </tr>
                                    <tr>

                                        <td onclick="copy('{{AcceptLink}}')">{{AcceptLink}}<span class="pull-right"><i class="fa fa-copy" style="color: var(--blue);"></i></span></td>
                                        <td onclick="copy('{{DeclineLink}}')">{{DeclineLink}} <span class="pull-right"><i class="fa fa-copy" style="color: var(--blue);"></i></span></td>

                                    </tr>
                                    <tr>
                                        <td onclick="copy('{{techrate}}')">{{techrate}}<span class="pull-right"><i class="fa fa-copy" style="color: var(--blue);"></i></span></td>
                                        <td onclick="copy('{{techPW}}')">{{techPW}}<span class="pull-right"><i class="fa fa-copy" style="color: var(--blue);"></i></span></td>
                                    </tr>
                                    <tr>
                                        <td onclick="copy('{{techuser}}')">{{techuser}} <span class="pull-right"><i class="fa fa-copy" style="color: var(--blue);"></i></span></td>
                                        <td onclick="copy('{{techemail}}')">{{techemail}}<span class="pull-right"><i class="fa fa-copy" style="color: var(--blue);"></i></span></td>
                                    </tr>
                                    <tr>
                                        <td onclick="copy('{{techID}}')">{{techID}}<span class="pull-right"><i class="fa fa-copy" style="color: var(--blue);"></i></span></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-success pull-left"> <i class="fa fa-save"></i> Save</button>
                        </div>
                        <div class="clearfix"></div>
                    }
                </div>
            </div>

        </div>

    </div>

</div>

<script>
    function copy(copyText) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val(copyText).select();
        document.execCommand("copy");
        $temp.remove();
        alertify.log(copyText+' Copied', 'success', 1000);
    }
</script>

@*Ajax data table code*@
@*<script>
        var pageSize = 25;
        var otable;

    </script>

    <script>


        $("#table").on("click",".nstatus",function (e) {

            var statusid = $(this).data('sid');
            var noticeid = $(this).data('nid');
            $("#nid").val(noticeid);
              $("#pstatusid").val(statusid);
            $('#pstatusid').selectpicker('refresh');
            $('#mdlstatus').modal('show');

        });

         function updatestatus() {
            var nid = $("#nid").val();
            var nsid = $("#pstatusid").val();
            var _url = "@Url.Action("update_notice_status","notice_board")";
            $.get(_url, { 'noticeid': nid, 'noticestatusid': nsid }, function () {
                var _txt = $("#pstatusid").find("option:selected").text();
                var _cls = nsid == 1 ? "text-success" : "text-danger";
                  $("#lbl_" + nid).html('');
                var _span = '<span  data-sid="'+nsid+'" data-nid="'+nid+'" class="nstatus '+_cls+'">'+_txt+'</span>';
                   $("#lbl_" + nid).append(_span);
                   $('#mdlstatus').modal('hide');
                 alertify.log('Publish status updated succesfully', 'success', 5000);
            });
        }

        $(document).ready(function () {
            $('.data-table').DataTable({
                "bSort": false, "pageLength": 25
            });
    $("#table").on("click",".cdelete",function (e) {
                e.preventDefault();
                var id = this.id;
                bootbox.confirm("Are you sure?", function (result) {
                    if (result) {
                        var _url = "@Url.Action("index","notice_board")";
                        window.location.href = _url + "?id=" + id;
                    }
                });
            });
        });

          function editnotice(noticeid,title,description,statusid) {
              $('#edit-task').modal('show');
              $("#titleupdate").val(title);
              $("#noticeid").val(noticeid);
              var _url = "@Url.Action("get_des_byid","notice_board")";
              $.get(_url, { 'id': noticeid }, function (data) {
                     CKEDITOR.instances['descriptionupdate'].setData(data);
                  // $('iframe').contents().find('.wysihtml5-editor').html(data);
              });

              $("#statusidupdate").val(statusid);
              $('.selectpicker').selectpicker('refresh');
        }


         function addnotice() {
              $('#add-new-task').modal('show');
              $("#titile").val('');
              //$('iframe').contents().find('.wysihtml5-editor').html('');
             CKEDITOR.instances['addeditir'].setData('');
             $("#eventsmessage1").html('');
              $("#statusid").val(1);
              $('.selectpicker').selectpicker('refresh');
        }


    </script>*@
