﻿
@{
    ViewBag.Title = "Template List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int _count = 0;
    var permission = (List<int>)ViewBag.permissions;
}
@model hrm.Models.templateModal

<div class="p-10">
    @*<h2 class="page-title">Skill</h2>*@
</div>
<div class="p-30 p-t-none p-b-none">
    @if (!string.IsNullOrEmpty(Model.error_text))
    {
        <span id="alert" style="display:none;" data-class="@Model.alertclass" data-text="@Model.error_text"></span>
    }

    <div id="mdlupdate" class="modal fade" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Set Default</h4>
                </div>
                @using (Html.BeginForm("setdefault", "template", FormMethod.Post, new { @id = "frmsendsms" }))
                {<div class="modal-body">
                        <div class="form-group">
                            <label>Set Default :</label>

                            <select class="selectpicker form-control" data-live-search="true" id="templateddl" name="templateddl">
                                <option selected value="True">Yes</option>
                                <option value="False">No</option>
                            </select>
                            <input type="hidden" name="tempid" id="tempid" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Update</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-times-circle"></i> Close</button>

                    </div>
                }
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel">
                <div class="panel-heading panel-heading-job">
                    <div class="col-md-6 col-sm-12 pd-11 pd-3head">
                        <h3 class="panel-title">
                            Template List
                        </h3>
                    </div>
                    <div class="col-md-6 col-sm-12 topbuttondiv pd-3head">
                        @if (permission.Contains(5122))
                        {
                            <a class="btn btn-success btn-sm pull-right" href="@Url.Action("add", "template")">
                                <i class="fa fa-plus"></i> Add New Template
                            </a>
                        }
                        else
                        {
                            <a class="btn btn-success btn-sm pull-right disabledbtn" href="#" data-msg="You are not authorized to add new template">
                                <i class="fa fa-plus"></i> Add New Template
                            </a>
                        }


                    </div>
                </div>
                <div class="panel-body p-none">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table data-table table-hover table-ultra-responsive dataTable no-footer data-table" id="table">
                                <thead>
                                    <tr>

                                        <th>Template Name</th>
                                        <th>Default Template</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<script>
    var deletepermission = '@permission.Contains(5121).ToString().ToUpper()';
    var editpermission = '@permission.Contains(5120).ToString().ToUpper()';
    var defaultpermission ='@permission.Contains(5123).ToString().ToUpper()';
  var pageSize = 25;
    var otable;
    $(document).ready(function () {

        otable = $('.data-table').DataTable({
            "processing": true,
            "serverSide": true,
            "iDisplayLength": 25,
            "order": [],
            "bSort": false,
            "bFilter": true,
             'language': {
            'loadingRecords': '&nbsp;',
            'processing': "<img src='@Url.Content("~/Content/Images/loader.gif")'> Loading..."
        }, "oLanguage": { "sSearch": "", 'sLengthMenu': "Show _MENU_" },
            "ajax": {
                "url": "@Url.Action("Fetchtemplates", "template")"
            },
            "aoColumns": [
                {
                    bSortable: false,
                    mRender: function (data, type, full) {
                        if (editpermission=="TRUE") {
                            return '<a href="/template/edit?id=' + full.id + '">' + full.title + '</a>';
                        }
                        else {
                            return '<a href="#" class="disabledbtn" data-msg="You are not authorized to edit template">' + full.title + '</a>';

                        }

                    }
                },
                {
                    bSortable: false,
                    mRender: function (data, type, full) {
                        if (defaultpermission == "TRUE") {
                            return '<a href="#"  class="cedit" data-isdefault="' + full.isdefault + '" data-id="' + full.id + '">' + (full.isdefault == false ? "No" : "Yes") + '</a>';

                        }
                        else {
                            return '<a href="#" class="disabledbtn" data-msg="you are not authorized to set default">' + (full.isdefault == false ? "No" : "Yes") + '</a>';

                        }
                                           }
                },
                {
                    bSortable: false,
                    mRender: function (data, type, full) {
                        var tbl = '<div class="btn-group pos-static"><a class="customedropdown" data-toggle="customedropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-v fn21"></i> </a><div class="dropdown-menu customdropdown-menu" x-placement="bottom-start" style="top: 0px; transform: translate3d(-38px, 10px, 0px);will-change: transform;position: absolute;left: 0px; display: none;">';
                        if (editpermission == "TRUE") {
                            tbl = tbl + '<a   class="btn btn-success btn-xs" href="/template/edit?id=' + full.id + '"><i class="fa fa-edit"></i> Edit</a>';
                        }
                        else {
                            tbl = tbl + '<a href="#" class="btn btn-success btn-xs disabledbtn" data-msg="You are not authorized to edi template" id=""><i class="fa fa-edit"></i> Edit</a>';
                        } 
                        if (deletepermission == "TRUE") {
                            tbl = tbl + '<a class="btn btn-danger btn-xs cdelete" id="' + full.id + '"><i class="fa fa-trash"></i> Delete</a>'; 
                        }
                        else {
                            tbl = tbl + '<a href="#" class="btn btn-danger btn-xs disabledbtn" data-msg="You are not authorized to delete template" id=""><i class="fa fa-trash"></i> Delete</a>';
                        }
                        tbl = tbl + '<a class="btn btn-info btn-xs"><i class="fa fa-window-close"></i> Close</a>';
                        tbl = tbl + '</div></div>';
                        return tbl;
                    }
                }


            ]
        });
    });
</script>
<script>
    $(document).ready(function () {
       // $('.data-table').DataTable({"bSort" : false, "pageLength": 25});
        /*For Delete Department*/
        $("#table").on("click",".cdelete",function (e) {
            e.preventDefault();
            var id = this.id;
            bootbox.confirm("Are you sure?", function (result) {
                if (result) {
                    var _url = "@Url.Action("delete","template")";
                    window.location.href = _url + "?id=" + id;
                }
            });
        });

        $("#table").on("click",".cedit",function (e) {
            e.preventDefault();
           // var id = this.id;
            var def = $(this).data('isdefault');
            var id = $(this).data('id');
            $('#mdlupdate').modal('show');

            $("#tempid").val(id);
            $('select[name=templateddl]').val(def);
            $('.selectpicker').selectpicker('refresh');
        });
    });
     function update(templateid, value) {
            $('#mdlupdate').modal('show');

         $("#tempid").val(templateid);
         $('select[name=templateddl]').val(value);
        $('.selectpicker').selectpicker('refresh');
    }
     function Uploadfile() {
              $('#upload').modal('show');
    }
</script>