﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout4.cshtml";
}
 
<style>
    #map_canvas {
        height: 100%;
        width: 98.50%;
        left: 12px;
        position: absolute;
    }

    #menuitem {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .form-group {
        margin-bottom: 0px !important;
    }

    .gm-svpc {
        top: -180px !important;
    }

    .gm-bundled-control > .gmnoprint {
        top: -120px !important;
    }

    .fix-header .page-wrapper {
        padding-top: 58px;
    }
</style>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1LyE18eEmk5UdDLezPmcOPF47Diugxls">
</script>
<div class="content-block">
    <div class="row">
        <div class="card-header noheader" style="width: 100%;">
            <div class="form-group">
                <label for="exampleInputEmail1">
                    Current View :
                </label>
                <select onchange="getmap()" class="custom-select col-md-5" id="ddl">
                    <option value="lu">Live tracker</option>
                    <option value="jv">Today's job view</option>
                </select>
            </div>
        </div>

    </div>
    <div class="clearfix"></div>
    <div class="row">

        <div id="map_canvas" class="card-header noheader">

        </div>
    </div>
</div>

<script>
    $(window).load(function () {
        getmap();

        var myVar = setInterval(myTimer, 5000);

    });


    function myTimer() {
        var id = $("#ddl").val();
        if (id == "lu") {
            refreshgetmap();
        }
    }
    function refreshgetmap() {
        var id = $("#ddl").val();
        var url = '@Url.Action("getemployee", "map")';

        $.ajax({
            type: 'GET',
            url: url,
            success: function (result) {
                locations = result._list;
                debugger;
                for (var i = 0; i < mc.length; i++) {

                    mc[i].setMap(null);
                }
                for (i = 0; i < locations.length; i++) {
                    geocodeAddressrefresh(locations, i);
                }
            },
        });
    }
function sleep(miliseconds) {
var miliseconds1=11000;
                var currentTime = new Date().getTime();
var k=parseInt(currentTime,10);

          while (parseInt(currentTime,10) + parseInt( miliseconds1,10) >= k ) {
k=k+1;
 }
debugger;
            }
    function getmap() {
        $("#overlay").css("display", "block");
        mc = [];
        var id = $("#ddl").val();
        var url = '@Url.Action("getemployee", "map")';
         
        $.ajax({
            type: 'GET',
            url: url,
            success: function (result) {
                locations = result._list;
                initialize();
               $("#overlay").css("display", "none");
            },
        });
    }
    var mc = [];
    var mcOptions = { gridSize: 20, maxZoom: 12 };
    var locations = [];
    var geocoder;
    var markersList = [];
    var map;
    var k = 0;
    var p = 0;
    var bounds;
    function initialize() {
        navigator.geolocation.getCurrentPosition(function (p) {
            var LatLng = new google.maps.LatLng(p.coords.latitude, p.coords.longitude);
            map = new google.maps.Map(
              document.getElementById("map_canvas"), {
                  center: new google.maps.LatLng(37.4419, -122.1419),
                  mapTypeId: google.maps.MapTypeId.ROADMAP,
                  gestureHandling: 'greedy',
                  zoom: 12,
                  panControl: true,
                  zoomControl: true,
                  scaleControl: true,
                  streetViewControl: true,
              });
            geocoder = new google.maps.Geocoder();
            bounds = new google.maps.LatLngBounds();
            $("#overlay").css("display", "block");
            for (i = 0; i < locations.length; i++) {
                geocodeAddress(locations, i);
                k = i;
                p = k;
                if (p ==9)
                {
                    i = locations.length + 1;
                    setTimeout(function () { getwaitaddress(); }, 4000);
                }

            }
           if(k==locations.length){
        $("#overlay").css("display", "none");
}

        });
    }

    function getwaitaddress()
    {
        $("#overlay").css("display", "block");
      var  p = 0;
        var a = 0;
        k = k + 1;
        for (var i = k; i < locations.length; i++) {
            geocodeAddress(locations, i);
            k = i;
            p = p + 1;
            for (var m = 0; m < 100000; m++)
            {
                a = m;
            }
            if (p == 9) {
                i = locations.length + 1;
                setTimeout(function () { getwaitaddress(); }, 3000);
            }
        }
if(k==locations.length-1){
        $("#overlay").css("display", "none");
}
alert(k);alert(locations.length);

    }

    //  new google.maps.event.addDomListener(window, "load", initialize);
    function makecluster(mc) {
        var markerCluster = new MarkerClusterer(map, mc,
          { imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m' });

    }
    function geocodeAddress(locations, i) {
        var title = locations[i][0];
        var address = locations[i][1];
        var url = locations[i][2];
        var icon = locations[i][3];
        geocoder.geocode({
            'address': locations[i][1]
        },
          function (results, status) {
              if (status == google.maps.GeocoderStatus.OK) {
                  var marker = new google.maps.Marker({
                      icon: icon,
                      map: map,
                      position: results[0].geometry.location,
                      title: title,
                      animation: google.maps.Animation.DROP,
                      address: address,
                      url: url
                  })
                  mc.push(marker);
                  infoWindow(marker, map, title, address, url);
                  bounds.extend(marker.getPosition());
                  map.fitBounds(bounds);
                  //map.setZoom(15);
                  if (mc.length == locations.length) {
                      makecluster(mc);
                  }
              } else {
                  //alert("geocode of " + address + " failed:" + status);
              }
          });
    }


    function geocodeAddressrefresh(locations, i) {
        var title = locations[i][0];
        var address = locations[i][1];
        var url = locations[i][2];
        var icon = locations[i][3];
        geocoder.geocode({
            'address': locations[i][1]
        },
          function (results, status) {
              if (status == google.maps.GeocoderStatus.OK) {
                  var marker = new google.maps.Marker({
                      icon: icon,
                      map: map,
                      position: results[0].geometry.location,
                      title: title,
                   //   animation: google.maps.Animation.DROP,
                      address: address,
                      url: url
                  })
                  mc.push(marker);
                  infoWindow(marker, map, title, address, url);
                  //bounds.extend(marker.getPosition());
                  //map.fitBounds(bounds);
                  //map.setZoom(15);
                  if (mc.length == locations.length) {
                      makecluster(mc);
                  }
              } else {
                  //alert("geocode of " + address + " failed:" + status);
              }
          });
    }

    function infoWindow(marker, map, title, address, url) {
        google.maps.event.addListener(marker, 'click', function () {
            var html = "<div><h3>" + title + "</h3><br/><p>" + address + "</p></div>";
            var html = "<h4>" + title.toString() + "</h4><br/><h5>" + address + "</h5>";

            iw = new google.maps.InfoWindow({
                content: html,
                maxWidth: 350
            });
            iw.open(map, marker);
        });
    }

    function createMarker(results) {
        var marker = new google.maps.Marker({
            icon: 'http://maps.google.com/mapfiles/ms/icons/blue.png',
            map: map,
            position: results[0].geometry.location,
            title: title,
            animation: google.maps.Animation.DROP,
            address: address,
            url: url
        })
        bounds.extend(marker.getPosition());
        map.fitBounds(bounds);
        infoWindow(marker, map, title, address, url);
        return marker;

    }
</script>
