﻿
@{
    ViewBag.Title = "Document Type";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int _count = 0; 
}
@model hrm.Models.doctype
<div class="p-10">
</div>
<div class="p-30 p-t-none p-b-none">
     @if (!string.IsNullOrEmpty(Model.error_text))
    {
        <span id="alert" style="display:none;" data-class="@Model.alertclass" data-text="@Model.error_text"></span>
    }
    <div id="mdlupdate" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Document Type</h4>
                </div>
                @using (Html.BeginForm("update", "document", FormMethod.Post, new { @id = "frmsendsms" }))
                {<div class="modal-body">
                        <div class="form-group">
                            <label>Type  </label>
                            <input type="text" class="form-control" required="" id="deptname" name="name">
                            <input type="hidden" name="id" id="deptid" />
                        </div>
                        <div class="form-group">
                            <label>View Order</label>
                            <input type="text" class="form-control" required="" id="idmainorder" name="mainorder">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Update</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-times-circle"></i> Close</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="panel">
                <div class="panel-body">
                    @using (Html.BeginForm("index", "document", FormMethod.Post, new { @id = "DocumentType" }))
                    {
                        <div class="panel-heading">
                            <h3 class="panel-title pd-0"> Add Document Type</h3>
                        </div>
                        <div class="form-group">
                            <label>Type</label>
                            <span class="help">e.g. "Licenses","Drug screening "</span>
                            @Html.TextBoxFor(a => a.name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.name)
                        </div>
                        <div class="form-group">
                            <label>View Order</label>
                            @Html.TextBoxFor(a => a.mainorder, new { @class = "form-control" })
                        </div> 
                        <button type="button" onclick="AddDocumentType('@Model.PERMISSIONS.Contains(5118).ToString()','you are not authorized to add new document type')" class="btn btn-success btn-sm pull-right"><i class="fa fa-save"></i> Save </button>
                    }
                </div>
            </div>
        </div> 
        <div class="col-lg-8">
            <div class="panel">
                <div class="panel-heading pd-12">
                    <h3 class="panel-title">
                        Document Type 
                    </h3>
                </div>
                <div class="panel-body p-none">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table data-table nowrap table-hover table-ultra-responsive dataTable no-footer" id="table">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Type</th>
                                        <th>View order</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.doc_type)
                                    {
                                        _count += 1;
                                        <tr role="row" class="odd">
                                            <td>@_count</td>

                                            <td>

                                                @if (Model.PERMISSIONS.Contains(5115))
                                                    {
                                                <a href="#" onclick="update('@item.DocumentTypeId','@item.DocumentName','@item.ViewOrder')">@item.DocumentName</a>
                                                }
                                                    else
                                                    {
                                                        <a href="#" class="disabledbtn" data-msg="You are not authorized to edit selected document type">@item.DocumentName</a>

                                                    }
                                            </td>
                                            <td>@item.ViewOrder</td>
                                            <td>
                                                <div class="btn-group pos-static">
                                                    <a class="customedropdown" data-toggle="customedropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="fa fa-ellipsis-v fn21"></i>
                                                    </a>
                                                    <div class="dropdown-menu customdropdown-menu" x-placement="bottom-start" style="top: 0px; transform: translate3d(-38px, 10px, 0px); will-change: transform; position: absolute; left: 0px; display: none;">
                                                         @if (Model.PERMISSIONS.Contains(5115))
                                                        {
                                                            <a class="btn btn-success btn-xs" onclick="update('@item.DocumentTypeId','@item.DocumentName','@item.ViewOrder')"><i class="fa fa-edit"></i> Edit</a>
                                                        }
                                                        else
                                                        {
                                                            <a href="#" class="btn btn-success btn-xs disabledbtn" data-msg="You are not authorized to edit selected document type"><i class="fa fa-edit"></i> Edit</a>
                                                        }
                                                        @if (Model.PERMISSIONS.Contains(5116))
                                                        {
                                                            <a href="#" class="btn btn-danger btn-xs cdelete" id="@item.DocumentTypeId"><i class="fa fa-trash"></i> Delete</a>
                                                        }
                                                        else
                                                        {
                                                            <a href="#" class="btn btn-danger btn-xs disabledbtn" data-msg="You are not authorized to delete selected document type"><i class="fa fa-trash"></i> Delete</a>
                                                        }

                                                        <a class="btn btn-info btn-xs"><i class="fa fa-window-close"></i> Close</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<script>
    $(document).ready(function () {
        $('.data-table').DataTable({"bSort" : false, "pageLength": 25,"oLanguage": { "sSearch": "", 'sLengthMenu': "Show _MENU_" }});
        
        $(".cdelete").on("click",function (e) {
            e.preventDefault();
            var id = this.id;
            bootbox.confirm("Are you sure?", function (result) {
                if (result) {
                    var _url = "/document/delete";
                    window.location.href = _url + "?id=" + id;
                }
            });
        });
    });
     function update(deptid, deptname,idmainorder) {
            $('#mdlupdate').modal('show');
            $("#deptname").val(deptname);
         $("#deptid").val(deptid);
         $("#idmainorder").val(idmainorder);
    }
      function Uploadfile() {
              $('#upload').modal('show');
        }
    function AddDocumentType(Permissions, Message) {
        if (Permissions == 'True') {
            $("#DocumentType").submit();
        } else {
            alertify.log(Message, 'error', 5000);
            setTimeout(function () {
                $("#alert").hide();
            }, 5000);
        }

    }
</script>
