﻿.col-lg-8 {
    padding-left: 0px !important;
}

.col-lg-4 {
    padding-right: 8px !important;
}

.mt16 {
    margin-top: 16px !important;
}

.form-control .dropdown-toggle, .btn-group .dropdown-toggle {
    width: 160px !important;
}

.col-md-1 {
    margin-right: 29px !important;
}

.left-bar-open .col-md-1 {
    margin-right: 43px !important;
}

.btn-group .multiselect {
    padding-left: 10px !important;
    text-align: left;
    padding-bottom: 8px;
    padding-top: 10px;
}

.multiselect-container > li > a > label {
    padding: 10px 15px 18px 40px !important;
}

.multiselect .caret {
    right: 11px !important;
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
    right: 12px !important;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    color: #495057 !important;
}

.multiselect-container > li > a > label > input[type=checkbox] {
    margin-top: 3px !important;
    margin-right: 10px !important;
    margin-left: -27px !important;
    height: 11px !important;
}

.attchment .dropdown-menu {
    min-width: 159px !important;
}

.information .dropdown-menu {
    min-width: 159px !important;
}

.dinformation .multiselect-container {
    max-height: calc(92vh - 61vh) !important;
    overflow-y: auto !important;
    min-width: 159px !important;
}

.multiselect-container {
    max-height: calc(90vh - 33vh) !important;
    overflow-y: auto !important;
}

.type .dropdown-menu {
    min-width: 159px !important;
}

.box-inner .form-control .dropdown-menu, .box-inner .information .dropdown-menu, .box-inner .dinformation .multiselect-container, .box-inner .type .dropdown-menu, .box-inner .attchment .dropdown-menu {
    min-width: 100% !important;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    font-weight: 500 !important;
}

.form-control .dropdown-menu li {
    margin-top: 12px !important;
    margin-bottom: 12px !important;
}

.form-control .dropdown-menu {
    min-width: 158px !important;
}

.box-inner .form-control .dropdown-toggle, .box-inner .btn-group .dropdown-toggle, .box-inner .btn-group {
    width: 100% !important;
}


.ml16 {
    margin-left: 16px !important;
}

.p-20 {
    padding-left: 0px !important;
}

.pnl1 {
    background: #f5f5f5 !important;
    padding-bottom: 11px;
    padding-top: 10px;
    margin-bottom: 17px;
    font-weight: 100 !important;
    font-size: 14px !important;
}

.addbutton, .addbutton:hover {
    background: transparent !important;
    border: 0px !important;
    font-size: 13px !important;
    padding-top: 1px !important;
}

.panel-title {
    font-weight: 500;
    font-size: 18px;
    text-transform: capitalize;
    padding-left: 8px;
}

.formpanel-heading {
    padding: 7px;
    padding-left: 19px;
    padding-bottom: 36px;
}

.pac-container {
    z-index: 10000 !important;
}

.mt9 {
    margin-top: 9px !important;
}

.labelbox {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}

.closebox {
    float: right;
    font-size: 26px;
    font-weight: 500;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.6;
    border-radius: 29px;
    width: 44px;
    padding: 5px !important;
    border: 1px solid #fff !important;
}

.box-inner > div > .form-group > label > span {
    text-transform: none !important;
}

.box-inner {
    width: 350px;
    padding: 10px;
}

.box {
    float: right;
    overflow: hidden;
    background: #fff;
}

.mainbox {
    position: absolute;
    top: 62px;
    z-index: 99999999;
    right: 1px;
    box-shadow: 1px 11px 13px #708090;
    height: 93vh;
}

.closebox:hover {
    color: #626262 !important;
    background-color: #fff !important;
    border: 1px solid #eee !important;
}



.p-20 {
    padding-bottom: 0px !important;
}

.round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 17px;
    left: 1px;
    position: absolute;
    top: 5px;
    width: 17px;
}

.round {
    position: relative;
    padding-bottom: 17px;
    padding-top: 2px;
}



    .round label:after {
        border: 2px solid #fff;
        border-top: none;
        border-right: none;
        content: "";
        height: 6px;
        left: 4px;
        opacity: 0;
        position: absolute;
        top: 5px;
        transform: rotate(-45deg);
        width: 12px;
    }

.bcklabel {
    font-size: 14px !important;
    padding-top: 0px;
}

.hdr {
    background: #F7F8FA;
    color: black;
    margin-bottom: 10px;
    border: 1px solid rgba(230, 230, 230, 0.7);
}



.round input[type="checkbox"] {
    visibility: hidden;
}

    .round input[type="checkbox"]:checked + label {
        background-color: var(--blue);
        border-color: var(--blue);
    }

.bck {
    background-color: var(--blue) !important;
    border-color: var(--blue) !important;
}

    .bck:after {
        border: 2px solid #fff !important;
        border-top: none !important;
        border-right: none !important;
        content: "" !important;
        height: 6px !important;
        left: 3px !important;
        opacity: 1 !important;
        position: absolute !important;
        top: 3px !important;
        transform: rotate(-45deg) !important;
        width: 10px !important;
    }

.round input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

.box-inner .round input[type=checkbox], input[type=radio], .Confirmationbox input[type=checkbox], input[type=radio] {
    margin: 4px 4px 0 !important;
}
